.embed iframe {
  width: 100%;
  height: calc(100vh - 80px);
  border: none;
}

.loader iframe {
  background: url('../app/img/elems/ajax-loader.gif') center center no-repeat;
}

.source pre {
  max-height: 300px;
  overflow: auto;
}

.salaxy-demo-description {
  border-bottom: solid 1px #009fd8;
  margin-bottom: 8px;
}

salaxy-demo .panel-body {
  max-height: 800px;
  overflow: auto;
}
