<p class="lead">
    List of pre-built accounting reports. 
    <ul>
      <li>For ad-hoc reports, use <a href="#/accounting/query">query</a>.</li>
      <li> For configuring reports, use <a href="#/accounting/editor">editor</a>.</li>
    </ul>
</p>
<p>&nbsp;</p>
<salaxy-accounting-report-list></salaxy-accounting-report-list>