<div ng-controller="ReportsController as reports">
    <p>
        Raportin tyyppi:
        <select ng-model="selectedReportType">
            <option value="">Valitse...</option>
            <option ng-repeat="reportType in reports.types" ng-value="reportType.id">{{ reportType.title }}</option>
        </select>
    </p>
    <salaxy-report-list report-type="selectedReportType || 'undefined'"></salaxy-report-list>
</div>