<table class="table">
    <tr>
      <th colspan="4">System roles</th>
    </tr>
    <tr>
        <th>Role</th>
        <th>Description</th>
        <th colspan="2">Is in role</th>
    </tr>
    <tr>
        <td>unknown</td>
        <td>Session check is in progress: The role of the user is unknown.</td>
        <td><span class="bg-success" salaxy-if-role="unknown">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!unknown">FALSE</span> </td>
    </tr>
    <tr>
        <td>anon</td>
        <td>User is anonymous: The session has been checked and there is no token, token has expired or the token is invalid.</td>
        <td><span class="bg-success" salaxy-if-role="anon">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!anon">FALSE</span> </td>
    </tr>
    <tr>
        <td>auth</td>
        <td>User is authenticated either as Company or Person</td>
        <td><span class="bg-success" salaxy-if-role="auth">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!auth">FALSE</span> </td>
    </tr>
    <tr>
        <td>init</td>
        <td>Initialization is in progress: Init includes Session check (SystemRole Unknown) as well as loading the most important data: Currently list of Workers.</td>
        <td><span class="bg-success" salaxy-if-role="init">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!init">FALSE</span> </td>
    </tr>
    <tr>
        <td>worker</td>
        <td>User is in Worker role. </td>
        <td><span class="bg-success" salaxy-if-role="worker">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!worker">FALSE</span> </td>
    </tr>
    <tr>
        <td>employer</td>
        <td>User is in Employer role: Either Household or Company.</td>
        <td><span class="bg-success" salaxy-if-role="employer">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!employer">FALSE</span> </td>
    </tr>
    <tr>
        <td>household</td>
        <td>User is Household (Employer)</td>
        <td><span class="bg-success" salaxy-if-role="household">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!household">FALSE</span> </td>
    </tr>
    <tr>
        <td>company</td>
        <td>User is Company (Employer)</td>
        <td><span class="bg-success" salaxy-if-role="company">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!company">FALSE</span> </td>
    </tr>
    <tr>
        <td>person</td>
        <td>User is a Person: Employer and/or Worker (not Company)</td>
        <td><span class="bg-success" salaxy-if-role="person">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!person">FALSE</span> </td>
    </tr>
    <tr>
        <td>hidden</td>
        <td>Hidden always returns false. Used to hide items in navigation.</td>
        <td><span class="bg-success" salaxy-if-role="hidden">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!hidden">FALSE</span> </td>
    </tr>
    <tr>
        <td>Test</td>
        <td>System is running with test data</td>
        <td><span class="bg-success" salaxy-if-role="test">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!test">FALSE</span> </td>
    </tr>
    <tr>
        <td>Prod</td>
        <td>System is runnin with production data</td>
        <td><span class="bg-success" salaxy-if-role="prod">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!prod">FALSE</span> </td>
    </tr>
    <tr>
        <td>fiTm</td>
        <td>Finnish personal company ("Yksityinen elinkeinonharjoittaja").</td>
        <td><span class="bg-success" salaxy-if-role="fiTm">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!fiTm">FALSE</span> </td>
    </tr>
    <tr>
        <td>fiOy</td>
        <td>Finnish Limited liability company ("Osakeyhtiö").</td>
        <td><span class="bg-success" salaxy-if-role="fiOy">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!fiOy">FALSE</span> </td>
    </tr>
    <tr>
        <td>fiRy</td>
        <td>Finnish Association ("yhdistys")</td>
        <td><span class="bg-success" salaxy-if-role="fiRy">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!fiRy">FALSE</span> </td>
    </tr>
    <tr>
        <td>any</td>
        <td>Any user always returns true. Note that in most scenarios also no roles ([], "" or null) are equivalent to Any.</td>
        <td><span class="bg-success" salaxy-if-role="any">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!any">FALSE</span> </td>
    </tr>
    <tr>
      <th colspan="4">Server-side account roles.</th>
    </tr>
    <tr>
        <td>undefined</td>
        <td>Not in use.</td>
        <td><span class="bg-success" salaxy-if-role="undefined">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!undefined">FALSE</span> </td>
    </tr>
    <tr>
        <td>accountant</td>
        <td>Verified accountant: Allowed to create customer companies.</td>
        <td><span class="bg-success" salaxy-if-role="accountant">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!accountant">FALSE</span> </td>
    </tr>
    <tr>
        <td>trustedPartner</td>
        <td>Trusted partner is given access to special functions. E.g. AssureCompanyAccount().</td>
        <td><span class="bg-success" salaxy-if-role="trustedPartner">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!trustedPartner">FALSE</span> </td>
    </tr>
    <tr>
      <th colspan="4">Technical / misc.</th>
    </tr>
    <tr>
        <td>foobar</td>
        <td>Random non-existant role string.</td>
        <td><span class="bg-success" salaxy-if-role="foobar">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!foobar">FALSE</span> </td>
    </tr>
    <tr>
        <td>""</td>
        <td>Empty string</td>
        <td><span class="bg-success" salaxy-if-role="">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!">FALSE</span> </td>
    </tr>
    <tr>
        <td>*</td>
        <td>Asterix (*) should function to any.</td>
        <td><span class="bg-success" salaxy-if-role="*">TRUE</span> </td>
        <td><span class="bg-danger" salaxy-if-role="!*">FALSE</span> </td>
    </tr>
</table>