<div class="row">
  <div class="col-sm-4">
    <div ng-controller="SalaxyDemoController as $ctrl">
      <button ng-click="$ctrl.doDelay()" class="btn btn-primary">Test</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div salaxy-loader class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>