<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.value | date }} </div>
</salaxy-form-group>
<ng-form name="{{$ctrl.name}}Form" class="salaxy-component salaxy-datepicker" ng-if="!$ctrl.getReadOnly()">
  <salaxy-form-group ng-if="!$ctrl.getReadOnly()" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div uib-datepicker ng-model="$ctrl.dtValue" id="{{$ctrl.name}}" name="{{$ctrl.name}}" ng-change="$ctrl.onChange()" datepicker-options="$ctrl.datepickerOptions" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()">
    </div>
    <div ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))" class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}" params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br/>
    </div>
  </salaxy-form-group>
</ng-form>