<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.value | date }} </div>
</salaxy-form-group>

<ng-form name="{{$ctrl.name}}Form" ng-if="!$ctrl.getReadOnly()" class="salaxy-component salaxy-datepicker-popup">
  <salaxy-form-group name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div class="input-group">
      <input class="form-control" type="text" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() || 'p.k.vvvv'  }}" ng-model="$ctrl.dtValue" ng-change="$ctrl.onChange()" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly"
        ng-disabled="$ctrl.disabled" uib-datepicker-popup="{{ $ctrl.format || 'd.M.yyyy' }}" is-open="$ctrl.popup.opened" datepicker-append-to-body="!$ctrl.appendInline || $ctrl.appendInline == 'false'" datepicker-options="$ctrl.datepickerOptions" popup-placement="{{$ctrl.popupPlacement}}"
        datepicker-popup-template-url="salaxy-components/form-controls/DatePickerPopupPopup.html" clear-text="{{ 'SALAXY.UI_TERMS.clear' | sxyTranslate}}" close-text="{{ 'SALAXY.UI_TERMS.close' | sxyTranslate}}" current-text="{{ 'SALAXY.UI_TERMS.today' | sxyTranslate}}"
        salaxy-datepicker-input-validation />


      <span class="input-group-btn">
        <button type="button" ng-disabled="$ctrl.readonly || $ctrl.disabled" class="btn btn-default" ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>

    <div ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))" class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}" params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br/>
    </div>
  </salaxy-form-group>
</ng-form>