<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}"
  label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.value.formattedRange || "-" }}</div>
</salaxy-form-group>
<ng-form ng-if="!$ctrl.getReadOnly()" name="{{$ctrl.name}}Form" class="salaxy-component salaxy-date-range mode-{{ $ctrl.mode || 'range' }}">
  <salaxy-input-enum ng-model="$ctrl.periodShortcut" name="periodShortcut" 
    ng-if="$ctrl.mode == 'calc' && !$ctrl.periodShortcut" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-cols="{{$ctrl.labelCols}}" type="radio" options="$ctrl.periodShortcuts"></salaxy-input-enum>
  <salaxy-input-enum ng-model="$ctrl.periodShortcut" name="periodShortcut" 
    ng-if="$ctrl.mode == 'calc' && $ctrl.periodShortcut" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-cols="{{$ctrl.labelCols}}"
    type="select" options="$ctrl.periodShortcuts"></salaxy-input-enum>
  <salaxy-form-group name="{{ $ctrl.name + '_datepicker' }}" label="{{$ctrl.label}}" require="$ctrl.require" label-type="{{$ctrl.labelType}}"
    ng-if="$ctrl.mode != 'calc' || $ctrl.periodShortcut == 'other'"
    ng-init="$ctrl.selectedDates = []" label-cols="{{$ctrl.labelCols}}">
    <div uib-datepicker ng-model="$ctrl.latestDateSelection" datepicker-options="$ctrl.getOptions()" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly"
      xon-change="$ctrl.dateRangeChange()"
      ng-disabled="$ctrl.getDisabled()" ng-model-options="{allowInvalid: true}">
    </div>
    <p ng-if="$ctrl.mode != 'multiple'">{{ $ctrl.value.formattedRange || "-" }}</p>
  </salaxy-form-group>
  <div ng-if="$ctrl.mode == 'calc' && $ctrl.periodShortcut && $ctrl.periodShortcut != 'other'">
    <salaxy-form-group name="{{$ctrl.name}}_periodStartDate" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelStartDate" label-cols="{{$ctrl.labelCols}}">
      <input type="text" class="form-control" autocomplete="off" id="{{$ctrl.name}}_periodStartDate" name="{{$ctrl.name}}_periodStartDate" placeholder="SALAXY.UI_TERMS.dateFormats.dm"
        ng-model="$ctrl.periodStartDate" ng-model-options="{allowInvalid: true, debounce: 250, updateOn: 'default' }"/>
      <div ng-if="$ctrl.periodStartDateError" class="salaxy-read-only-value text-danger">{{ $ctrl.periodStartDateError }}</div>
    </salaxy-form-group>
    <salaxy-form-group name="formattedRange" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelStartAndEndDate" label-cols="{{$ctrl.labelCols}}" class="salaxy-read-only">
      <div class="salaxy-read-only-value">{{ $ctrl.dateRange | sxyDateRange }}</div>
    </salaxy-form-group>
  </div>
  <salaxy-form-group name="{{$ctrl.name}}" require="$ctrl.require" label="{{ $ctrl.labelDaysCount || 'SALAXY.NG1.DateRange.labelDaysCount' }}"
    ng-if="$ctrl.mode != 'multiple'" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <input type="text" class="form-control" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-model="$ctrl.value.daysCount"
      ng-model-options="{allowInvalid: true, debounce: 250}" ng-change="$ctrl.setModelValue()" ng-pattern="$ctrl.pattern" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly"
      ng-disabled="$ctrl.getDisabled()" ng-minlength="$ctrl.minlength" ng-maxlength="$ctrl.maxlength" maxlength="{{$ctrl.maxlength}}" />
  </salaxy-form-group>
</ng-form>
<salaxy-form-group ng-if="$ctrl.getReadOnly() || $ctrl.mode == 'multiple'" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only"
  label="{{ $ctrl.labelDaysCount || 'SALAXY.NG1.DateRange.labelDaysCount' }}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.value.daysCount }}</div>
</salaxy-form-group>
