<div ng-if="$ctrl.getLabelType() == 'basic'" class="form-group">
  <label for="{{$ctrl.name}}" class="col-xs-12 control-label"><span class="label-text">{{$ctrl.label | sxyTranslate}}</span><span class="salaxy-form-group-required-indicator"
      ng-show="!!$ctrl.require">*</span>
    </label>
  <div class="col-xs-12">
    <ng-transclude></ng-transclude>
  </div>
</div>
<div ng-if="$ctrl.getLabelType() == 'empty-label'" class="form-group">
  <div class="{{ $ctrl.getLabelCols('label') }} control-label"></div>
  <div class="{{ $ctrl.getLabelCols('value') }}">
    <ng-transclude></ng-transclude>
  </div>
</div>
<div ng-if="$ctrl.getLabelType() == 'no-label'" class="form-group">
  <div class="{{ $ctrl.getLabelCols('no-label') }}">
    <ng-transclude></ng-transclude>
  </div>
</div>
<span ng-if="$ctrl.getLabelType() == 'plain'" class="salaxy-form-group-plain">
  <ng-transclude></ng-transclude>
</span>
<div ng-if="$ctrl.getLabelType() == 'horizontal'" class="form-group">
  <label for="{{$ctrl.name}}" class="{{ $ctrl.getLabelCols('label') }} control-label">
    <span class="label-text">{{$ctrl.label | sxyTranslate}}</span><span class="salaxy-form-group-required-indicator"
      ng-show="!!$ctrl.require">*</span>
  </label>
  <div class="{{ $ctrl.getLabelCols('value') }}">
    <ng-transclude></ng-transclude>
  </div>
</div>
<div ng-if="$ctrl.getLabelType() == 'inline'" class="form-group">
  <label for="{{$ctrl.name}}"><span class="label-text">{{$ctrl.label | sxyTranslate}}</span><span
      class="salaxy-form-group-required-indicator" ng-show="!!$ctrl.require">*</span></label>
  <ng-transclude></ng-transclude>
</div>