<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}"
  label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">
    <span ng-if="$ctrl.value==true">{{$ctrl.labelTrue || 'SALAXY.UI_TERMS.yes' | sxyTranslate}} </span>
    <span ng-if="$ctrl.value==false">{{$ctrl.labelFalse || 'SALAXY.UI_TERMS.no' | sxyTranslate}} </span>
  </div>
</salaxy-form-group>
<ng-form name="{{$ctrl.name}}Form" ng-if="!$ctrl.getReadOnly()">
  <salaxy-form-group ng-if="$ctrl.type == 'checkbox'" name="{{$ctrl.name}}" label="{{$ctrl.label}}" require="$ctrl.require" label-type="{{$ctrl.labelType}}"
    label-cols="{{$ctrl.labelCols}}" class="salaxy-component salaxy-input-boolean boolean-checkbox">
    <div class="checkbox">
      <div class="{{$ctrl.offsetCols}}" ng-class="{'col-offset' : $ctrl.offsetCols}">
        <label for="{{$ctrl.name}}" class="checkbox-label">
          <input type="checkbox" ng-disabled="$ctrl.getDisabled()" ng-require="$ctrl.require" ng-model="$ctrl.value" ng-change="$ctrl.onChange()" name="{{$ctrl.name}}"
            id="{{$ctrl.name}}" title="true">
          {{$ctrl.labelTrue || 'SALAXY.UI_TERMS.yes' | sxyTranslate}}
        </label>
      </div>
    </div>
    <div
      ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))"
      class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}"
        params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br />
    </div>
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type == 'radio' || !$ctrl.type" name="{{$ctrl.name}}" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}"
    require="$ctrl.require" class="salaxy-component salaxy-input-boolean boolean-radio">
    <div class="radio" ng-class="$ctrl.horizontal ? 'pull-left' : null">
      <label for="{{$ctrl.name}}True">
        <input type="radio" name="{{$ctrl.name}}Radio" id="{{$ctrl.name}}True" ng-change="$ctrl.onChange()" ng-model="$ctrl.value" value="true" sxy-enum-as-boolean>
        {{$ctrl.labelTrue || 'SALAXY.UI_TERMS.yes' | sxyTranslate}}
      </label>
    </div>
    <div class="radio">
      <label for="{{$ctrl.name}}False">
        <input type="radio" name="{{$ctrl.name}}Radio" id="{{$ctrl.name}}False" ng-change="$ctrl.onChange()" ng-model="$ctrl.value" value="false" sxy-enum-as-boolean>
        {{$ctrl.labelFalse || 'SALAXY.UI_TERMS.no' | sxyTranslate}}
      </label>
    </div>
    <div
      ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))"
      class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}"
        params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br />
    </div>
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type == 'switch'" name="{{$ctrl.name}}" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}"
    require="$ctrl.require" class="salaxy-component salaxy-input-boolean boolean-switch">
    <span class="salaxy-switch" ng-class="{checked: $ctrl.model.$viewValue, disabled: $ctrl.disabled == true}" ng-click="$ctrl.toggle()">
      <small></small>
      <input type="checkbox" id="{{$ctrl.id}}" name="{{$ctrl.name}}" ng-model="$ctrl.value" style="display:none;" />
      <span class="switch-text">
        <span class="on" ng-if="$ctrl.labelTrue"> {{$ctrl.labelTrue || 'SALAXY.UI_TERMS.yes' | sxyTranslate}}</span>
        <span class="off" ng-if="$ctrl.labelFalse"> {{$ctrl.labelFalse || 'SALAXY.UI_TERMS.no' | sxyTranslate}}</span>
      </span>
    </span>
    <div
      ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))"
      class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}"
        params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br />
    </div>
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type=='select'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}"
    label-cols="{{$ctrl.labelCols}}" class="salaxy-component salaxy-input-boolean boolean-select">
    <select ng-disabled="$ctrl.getDisabled()" id="{{$ctrl.name}}" name="{{$ctrl.name}}" ng-change="$ctrl.onChange()" ng-model="$ctrl.value" class="form-control"
      sxy-enum-as-boolean>
      <option ng-if="$ctrl.value == null" value="{{$ctrl.value}}" selected disabled>{{ $ctrl.placeholder || 'SALAXY.UI_TERMS.select' | sxyTranslate }}</option>
      <option value="true" title="{{$ctrl.labelTrue}}">{{$ctrl.labelTrue || 'SALAXY.UI_TERMS.yes' | sxyTranslate}}</option>
      <option value="false" title="{{$ctrl.labelFalse}}">{{$ctrl.labelFalse || 'SALAXY.UI_TERMS.no' | sxyTranslate}}</option>
    </select>
    <div
      ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))"
      class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}"
        params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br />
    </div>
  </salaxy-form-group>
</ng-form>