<a class="clickable">
    <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" 
    avatar="{ color: '#2b507c', initials: match.model.code, entityType: 'company' }"></salaxy-avatar>
    <b class="salaxy-highlight" ng-bind-html="(match.label + ' (' + match.model.code + ')') | uibTypeaheadHighlight:query"></b><br />
    <small class="salaxy-highlight"><div ng-bind-html="match.model.description | uibTypeaheadHighlight:query"></div></small>
</a>