<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div class="salaxy-read-only-value">{{ $ctrl.getOccupationLabel($ctrl.value) }}</div>
</salaxy-form-group>
<ng-form ng-if="!$ctrl.getReadOnly()" name="{{$ctrl.name}}Form" class="salaxy-component salaxy-input-occupation-type">
    <salaxy-form-group name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
        <input type="text" class="form-control" ng-model="$ctrl.value" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-pattern="$ctrl.pattern" ng-require="$ctrl.require" autocomplete="off" ng-model-options="{allowInvalid: true, debounce: 250}"
            ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" typeahead-on-select="$ctrl.onChange()" ng-minlength="$ctrl.minlength" ng-maxlength="$ctrl.maxlength" maxlength="{{$ctrl.maxlength}}" uib-typeahead="occupation.id as occupation.label for occupation in $ctrl.getOccupations($viewValue) | limitTo:50"
            typeahead-show-hint="true" typeahead-append-to-body="true" typeahead-min-length="0" typeahead-editable="false" typeahead-input-formatter="$ctrl.getOccupationLabel($model)">
        <div ng-show="{{$ctrl.name}}Form.{{$ctrl.name}}.$invalid && $ctrl.validationError && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted)">
            {{$ctrl.validationError}}
        </div>
    </salaxy-form-group>
</ng-form>