<a class="clickable salaxy-component salaxy-worker-item">
    <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" 
    avatar="match.model"></salaxy-avatar>
    <b class="salaxy-highlight" ng-bind-html="match.label + ' (' + match.model.displayId + ')' | uibTypeaheadHighlight:query"></b><br />
    <small class="salaxy-highlight"><div ng-bind-html="match.model.description | uibTypeaheadHighlight:query"></div></small>
</a>