<salaxy-form-group ng-if="$ctrl.getReadOnly() && $ctrl.type != 'multi-select'" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.getEnumerationLabel($ctrl.value) }}</div>
</salaxy-form-group>
<salaxy-form-group ng-if="$ctrl.getReadOnly() && $ctrl.type == 'multi-select'" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div ng-repeat="x in $ctrl.value" class="salaxy-read-only-value">{{ $ctrl.getEnumerationLabel(x)}}</div>
</salaxy-form-group>
<ng-form name="{{$ctrl.name}}Form" ng-if="!$ctrl.getReadOnly()">
  <salaxy-form-group ng-if="($ctrl.type || 'select')=='select'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <select ng-disabled="$ctrl.getDisabled()" id="{{$ctrl.name}}" name="{{$ctrl.name}}" ng-change="$ctrl.onChange()" ng-model="$ctrl.value" class="form-control" ng-require="$ctrl.require" sxy-exclude-unknowns="$ctrl.require ? $ctrl.invalidEnums : ''">
      <option ng-if="$ctrl.showPlaceholder" value="{{$ctrl.value}}" disabled selected>{{ $ctrl.placeholder || 'SALAXY.UI_TERMS.select' | sxyTranslate }}</option>
    
      <option ng-repeat="x in $ctrl.getEnumerations()" value="{{x.value}}" title="{{x.title}}">{{x.text}}</option>
    </select>

  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type=='radio'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div class="radio" ng-repeat="x in $ctrl.getEnumerations()">
      <label class="control-label radio-label" for="{{x.value}}">
        <input ng-disabled="$ctrl.getDisabled()" type="radio" ng-model="$ctrl.value" ng-change="$ctrl.onChange()" class="" name="{{$ctrl.label}}" id="{{x.value}}" value="{{x.value}}"
          title="{{x.title}}">
          {{x.text}}
      </label>
    </div>
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type=='multi-select'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <select ng-disabled="$ctrl.getDisabled()" id="{{$ctrl.name}}" name="{{$ctrl.name}}" multiple ng-change="$ctrl.onChange()" ng-model="$ctrl.value" class="form-control">
      <option ng-repeat="x in $ctrl.getEnumerations()" value="{{x.value}}" title="{{x.title}}">{{x.text}}</option>
    </select>
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type=='typeahead'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <input type="text" id="{{$ctrl.name}}" name="{{$ctrl.name}}" class="form-control" ng-model="$ctrl.value" ng-model-options="{allowInvalid: true, debounce: 250}" placeholder="{{$ctrl.placeholder}}" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly"
      ng-disabled="$ctrl.getDisabled()" autocomplete="off" uib-typeahead="x.value as x.text for x in $ctrl.getEnumerations() | filter:($viewValue || '') | limitTo:50" typeahead-on-select="$ctrl.onChange()" typeahead-show-hint="true" typeahead-template-url="salaxy-components/form-controls/InputEnumTypeaheadMatch.html"
      typeahead-append-to-body="true" typeahead-min-length="0" typeahead-editable="false" typeahead-input-formatter="$ctrl.getEnumerationLabel($model)">
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type=='list'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div ng-repeat="x in $ctrl.getEnumerations()" class="clickable clearfix salaxy-input-enum-list-item" ng-click="$ctrl.value=x.value;$ctrl.onChange()">
      <salaxy-avatar class="salaxy-calc-row-type-avatar salaxy-input-enum-avatar pull-left" ng-if="$ctrl.getAvatar(x)" avatar="$ctrl.getAvatar(x)"></salaxy-avatar>
      <div class="salaxy-input-enum-text"><strong>{{x.text}}</strong></div>
      <div class="salaxy-input-enum-title">{{ "PaymentChannel." + x.value | sxyEnumDescr }}</div>
    </div>
  </salaxy-form-group>
  <salaxy-form-group ng-if="$ctrl.type=='uib-dropdown'" name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div class="btn-group" uib-dropdown role="group">
      <button id="{{$ctrl.name}}" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false" ng-disabled="$ctrl.getDisabled()">
        {{ $ctrl.getEnumerationLabel($ctrl.value) || $ctrl.placeholder || 'SALAXY.UI_TERMS.select' | sxyTranslate }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{$ctrl.name}}">
        <li><a href="" ng-click="$ctrl.value=x.value;$ctrl.onChange()" ng-repeat="x in $ctrl.getEnumerations()">{{x.text}}</a></li>
      </ul>
    </div>
  </salaxy-form-group>
</ng-form>