<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div class="salaxy-read-only-value">{{ $ctrl.getRowLabel($ctrl.value) }}</div>
</salaxy-form-group>
<ng-form name="{{$ctrl.name}}Form" ng-if="!$ctrl.getReadOnly()">
    <salaxy-form-group name="{{$ctrl.name}}" ng-if="!$ctrl.type || $ctrl.type == 'typehead'" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
        <input type="text" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-require="$ctrl.require" autocomplete="off" ng-model="$ctrl.value" ng-model-options="{allowInvalid: true, debounce: 250}" class="form-control"
            ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" typeahead-on-select="$ctrl.onChange()" uib-typeahead="type.code as type.label for type in $ctrl.getIncomeTypes($viewValue) | limitTo:50" typeahead-template-url="salaxy-components/form-controls/InputIncomeTypeItem.html"
            typeahead-show-hint="true" typeahead-append-to-body="true" typeahead-min-length="0" typeahead-editable="false" typeahead-input-formatter="$ctrl.getRowLabel($model)">
        <div ng-show="{{$ctrl.name}}Form.{{$ctrl.name}}.$invalid && $ctrl.validationError && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted)">
            {{$ctrl.validationError}}
        </div>
    </salaxy-form-group>
    <salaxy-form-group name="{{$ctrl.name}}" ng-if="$ctrl.type == 'list'" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
        <input type="hidden" ng-model="$ctrl.value" id="{{$ctrl.name}}" name="{{$ctrl.name}}" ng-require="$ctrl.require">
        <div class="list-group">
            <a ng-repeat="type in $ctrl.getIncomeTypes()" ng-click="$ctrl.selectionClicked(type.code)" class="list-group-item clickable" ng-class="{ 'active': $ctrl.value == type.code, 'clickable': !$ctrl.readonly && !$ctrl.disabled }">
                <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: type.code, entityType: 'company' }"></salaxy-avatar>
                <b class="salaxy-highlight" ng-bind-html="$ctrl.getRowLabel(type.code) | uibTypeaheadHighlight:$ctrl.searchText"></b><br />
                <small class="salaxy-highlight">
            <div ng-bind-html="type.description | uibTypeaheadHighlight:$ctrl.searchText"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></div>
          </small>
            </a>
        </div>
        <div ng-show="{{$ctrl.name}}Form.{{$ctrl.name}}.$invalid && $ctrl.validationError && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted)">
            {{$ctrl.validationError}}
        </div>
    </salaxy-form-group>
</ng-form>