<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.viewValue + ($ctrl.getUnitIndicator() ? " " + $ctrl.getUnitIndicator() : "") }}</div>
</salaxy-form-group>
<ng-form ng-if="!$ctrl.getReadOnly()" name="{{$ctrl.name}}Form" class="salaxy-component salaxy-input-number salaxy-input">


  <salaxy-form-group name="{{$ctrl.name}}" require="$ctrl.require" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div ng-if="$ctrl.getUnitIndicator()" class="input-group">
      <div class="input-group-addon">{{ $ctrl.getUnitIndicator() }}</div>
      <input type="text" class="form-control text-right" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-model="$ctrl.viewValue" ng-model-options="{allowInvalid: true, updateOn: 'blur' }" ng-require="$ctrl.require"
        ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" sxy-min="$ctrl.minimum" sxy-max="$ctrl.maximum" />
      <div ng-if="$ctrl.getToolTipHtml()" class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Info" uib-popover-html="$ctrl.getToolTipHtml()" popover-placement="{{$ctrl.tooltipPlacement}}">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>
      </div>
    </div>
    <input ng-if="!$ctrl.getUnitIndicator() && !$ctrl.getToolTipHtml()" type="text" class="form-control text-right" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-model="$ctrl.viewValue" ng-model-options="{allowInvalid: true, updateOn: 'blur'}"
      ng-require="$ctrl.require" ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" sxy-min="$ctrl.minimum" sxy-max="$ctrl.maximum" />
    <div ng-if="!$ctrl.getUnitIndicator() && $ctrl.getToolTipHtml()" class="input-group">

      <input type="text" class="form-control text-right" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-model="$ctrl.viewValue" ng-model-options="{allowInvalid: true, updateOn: 'blur'}" ng-require="$ctrl.require"
        ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" sxy-min="$ctrl.minimum" sxy-max="$ctrl.maximum" sxy-multiple-of="$ctrl.multipleOf" />

      <div class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Info" uib-popover-html="$ctrl.getToolTipHtml()" popover-placement="{{$ctrl.tooltipPlacement}}">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </button>
      </div>
    </div>
    <div ng-show="$ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted)" class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}" params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br/>
    </div>
  </salaxy-form-group>
</ng-form>