﻿<span class="salaxy-switch pull-right" ng-class="{checked: $ctrl.model.$viewValue, disabled: $ctrl.disabled == true}" ng-click="$ctrl.onChange()">
    <small></small>
    <input type="checkbox" id="{$ctrl.id}" name="{$ctrl.name}" ng-model="$ctrl.model" style="display:none;" />
    <span class="switch-text">
        <span class="on" ng-if="$ctrl.onText">{{$ctrl.onText}}</span>
<span class="off" ng-if="$ctrl.offText">{{$ctrl.offText}}</span>
</span>
</span>