<salaxy-form-group ng-if="$ctrl.getReadOnly()" name="{{$ctrl.name}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.label}}" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
  <div class="salaxy-read-only-value">{{ $ctrl.value }}</div>
</salaxy-form-group>
<ng-form ng-if="!$ctrl.getReadOnly()" name="{{$ctrl.name}}Form" class="salaxy-component salaxy-textarea">
  <salaxy-form-group name="{{$ctrl.name}}" label="{{$ctrl.label}}" require="$ctrl.require" label-type="{{$ctrl.labelType}}" label-cols="{{$ctrl.labelCols}}">
    <div ng-if="$ctrl.getToolTipHtml()" class="input-group">
      <textarea class="form-control" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-model="$ctrl.value" ng-model-options="{allowInvalid: true, debounce: 250, updateOn: 'default' }" ng-change="$ctrl.onChange()"
        ng-pattern="$ctrl.pattern" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" ng-minlength="$ctrl.minlength" ng-maxlength="$ctrl.maxlength" maxlength="{{$ctrl.maxlength}}" rows="{{ $ctrl.rows || 3 }}"></textarea>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Info" uib-popover-html="$ctrl.getToolTipHtml()" popover-placement="{{$ctrl.tooltipPlacement}}">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>
      </div>
    </div>
    <textarea ng-if="!$ctrl.getToolTipHtml()" class="form-control" autocomplete="off" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.getPlaceholder() }}" ng-model="$ctrl.value" ng-model-options="{allowInvalid: true, debounce: 250, updateOn: 'default' }"
      ng-change="$ctrl.onChange()" ng-pattern="$ctrl.pattern" ng-require="$ctrl.require" ng-readonly="$ctrl.readonly" ng-disabled="$ctrl.getDisabled()" ng-minlength="$ctrl.minlength" ng-maxlength="$ctrl.maxlength" maxlength="{{$ctrl.maxlength}}" rows="{{ $ctrl.rows || 3 }}"></textarea>
    <div ng-show="!$ctrl.disableValidationErrors && ($ctrl.validationErrors.length > 0 && ({{$ctrl.name}}Form.{{$ctrl.name}}.$touched || {{$ctrl.name}}Form.$$parentForm.$submitted))" class="input-errors">
      <span class="salaxy-validation-error text-danger small" ng-repeat="validationError in $ctrl.validationErrors" sxy-text="{{ validationError}}" params="{ minlength: $ctrl.minlength, maxlength: $ctrl.maxlength }"></span><br/>
    </div>
  </salaxy-form-group>
</ng-form>