<div ng-if="!$ctrl.hasValidation" ng-bind-html="$ctrl.loadingHtml"></div>
<div ng-if="$ctrl.hasValidation">
  <ng-transclude ng-if="$ctrl.isValid"></ng-transclude>
  <div ng-if="!$ctrl.isValid" class="alert alert-danger">
    <div ng-if="$ctrl.hasValidationOrGeneralErrors">
      <h4>Tarkista syötetyt tiedot:</h4>
      <ul>
        <li ng-repeat="error in $ctrl.getErrors('!required') | limitTo:3">{{ $ctrl.getLabel(error) }}</li>
      </ul>
    </div>
    <div ng-if="!$ctrl.hasAllRequiredFields">
      <h4>Pakollisia tietoja puuttuu:</h4>
      <ul>
        <li ng-repeat="error in $ctrl.getErrors('required') | limitTo:3">{{ $ctrl.getLabel(error) }}</li>
      </ul>
    </div>
    <button class="btn btn-xs btn-danger pull-right" ng-click="$ctrl.showDetails()">Lue lisää...</button>
  </div>
</div>