<style type="text/css">
  .panel-validation {
    border-color: var(--salaxy-brand-danger);
  }
  
  .panel-heading-validation {
    border-color: var(--salaxy-brand-danger);
    background-color: var(--salaxy-brand-danger);
  }
</style>
<div class="salaxy-component salaxy-calc-details-dialog">
  <div class="panel panel-detail panel-validation">
    <div class="panel-heading panel-heading-validation">
      <button type="button" class="close pull-right" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>Lisätietoja</h1>
    </div>
    <div class="panel-body">
      <div ng-repeat="error in $ctrl.data.controller().getErrors()" class="alert" ng-class="error.type=='warning' ? 'alert-warning' : 'alert-danger'" role="alert">
        <b>{{$ctrl.data.controller().getLabel(error)}}</b>
        <br/>{{$ctrl.data.controller().getDescription(error)}}
      </div>
      <button class="btn btn-primary pull-right" ng-click="$close()">OK</button>
    </div>
  </div>
</div>