<div class="content settings">
  <div class="panel panel-default accountant" ng-if="$ctrl.accountant">
    <div class="panel-heading icon-panel">
      <h2><span sxy-text="Kirjanpitäjä / tilitoimisto"></span> <i class="fa fa-check-circle text-success status-icon"></i>
      </h2>
      <p ng-if="$ctrl.accountantMainType == 'none'">
        <small>
          Lisää tähän kirjanpitäjäsi tiedot, niin hän saa pääsyn suoraan Palkkaus.fi palveluun kirjanpidon ja palkkatietojen hakemiseksi.
        </small>
      </p>
      <p ng-if="$ctrl.accountantMainType != 'none'">
        <small ng-if="$ctrl.accountant.type != 'primaryPartner'">
          Näet nykyisen kirjanpitäjäsi/tilitoimistosi tiedot alla. Voit muuttaa tai poistaa tietoja valitsemalla &quot;Muokkaa&quot;.
        </small>
        <small ng-if="$ctrl.accountant.type == 'primaryPartner'">
          Näet nykyisen kirjanpitäjäsi/tilitoimistosi tiedot alla. Voit poistaa kirjanpitäjäsi/tilitoimistosi valitsemalla &quot;Poista tilitoimistokumppani&quot;.
        </small>
      </p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 form-horizontal">
          <fieldset>
            <div ng-if="$ctrl.accountantMainType != 'none'" class="container-fixed salaxy-component salaxy-accountant-info">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th sxy-text="Nimi" ps=":"></th>
                    <td><salaxy-avatar style="font-size: 20px; margin-right: 12px;" avatar="$ctrl.accountant.info.avatar"></salaxy-avatar><strong>{{ $ctrl.accountant.info.avatar.displayName}}<strong></td>
                  </tr>
                  <tr ng-if="$ctrl.accountant.info.officialId">
                    <th sxy-text="Y-tunnus" ps=":"></th>
                    <td>{{ $ctrl.accountant.info.officialId}}</td>
                  </tr>
                  <tr ng-if="$ctrl.accountant.info.email">
                    <th sxy-text="SALAXY.NG1.GeneralInfo.email" ps=":"></th>
                    <td>{{ $ctrl.accountant.info.email }}</td>
                  </tr>
                  <tr ng-if="$ctrl.accountant.info.telephone">
                    <th sxy-text="SALAXY.NG1.GeneralInfo.tel" ps=":"></th>
                    <td>{{ $ctrl.accountant.info.telephone }}</td>
                  </tr>
                  <tr ng-if="$ctrl.accountant.type == 'primaryPartner' || $ctrl.accountant.type == 'pendingPrimaryPartner' || $ctrl.accountant.type == 'unlinkedPrimaryPartner' || $ctrl.accountant.type == 'unlinkedAccountingOnly'">
                    <th sxy-text="Tilitoimiston oikeudet" ps=":"></th>
                    <td>
                      <span ng-if="$ctrl.accountant.type == 'primaryPartner'">Tilitoimistokumppanin oikeudet</span>
                      <span ng-if="$ctrl.accountant.type == 'pendingPrimaryPartner'">Odottaa tilitoimistokumppanin vahvistusta</span>
                      <span ng-if="$ctrl.accountant.type == 'unlinkedPrimaryPartner'">Uutta tilitoimistokumppania pyydetty</span>
                      <span ng-if="$ctrl.accountant.type == 'unlinkedAccountingOnly'">Vain kirjanpitoaineiston lähetys (PDF sähköposti)</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button ng-if="$ctrl.accountant.type == 'primaryPartner'" class="btn btn-primary pull-right" ng-click="$ctrl.showConfirmPartnerRemoval()" sxy-text="Poista tilitoimistokumppani"></button>
          <button ng-if="$ctrl.accountantMainType == 'none'" class="btn btn-primary pull-right" ng-click="$ctrl.showEdit()" sxy-text="SALAXY.NG1.UiTerms.add"></button>
          <button ng-if="$ctrl.accountant.type != 'primaryPartner' && $ctrl.accountantMainType != 'none'" class="btn btn-primary pull-right" ng-click="$ctrl.showEdit()" sxy-text="SALAXY.NG1.UiTerms.edit"></button>
        </div>
      </div>
    </div>
  </div>
</div>
