<div class="salaxy-component salaxy-owner-settings">
  <style>
    @media print {
      .uib-tab {
        display: none !important;
      }
    }
  </style>
  <uib-tabset active="$ctrl.currentTab">
    <uib-tab index="'default'" heading="{{ 'Muokkaus' | sxyTranslate }}">
      <form class="form-horizontal"  ng-if="$ctrl.current">
        <div class="row">
          <div class="col-xs-12">
            <fieldset>
              <legend>Osakkeiden lukumäärä</legend>
              <div class="row">
                <div class="col-md-6">
                  <salaxy-input-enum type="radio" options="{ byPercent: 'Prosentteina', byAmount: 'Kappalemäärinä'}" ng-model="$ctrl.mode" name="editMode" label="Ilmoitan osakkuudet" label-cols="col-md-6"></salaxy-input-enum>
                </div>
                <div class="col-md-6">
                  <salaxy-input-number ng-model="$ctrl.current.ownedCompanyDetails.totalNumberOfShares" name="numberOfShares" label="Osakkeiden lukumäärä" label-cols="col-md-6" ng-change="$ctrl.recalculateShares()"></salaxy-input-number>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <fieldset>
          <legend>Omistajien tiedot</legend>
          <div ng-if="!$ctrl.current.owners.length" class="salaxy-placeholder-empty placeholder-md placeholder-default text-center">
            <h4>Omistajat</h4>
            <p></p>
            <button class="btn btn-primary" ng-click="$ctrl.current.owners.push({numberOfShares:0,percentOfShares:0, avatar:{}});" ng-disabled="!$ctrl.mode" sxy-text="Lisää omistaja"></button>
          </div>
          <div class="row" ng-repeat="owner in $ctrl.current.owners">
            <div class="col-md-6">
              <salaxy-input ng-model="owner.avatar.displayName" name="ownerName{{$index}}" label="Omistajan nimi" label-type="basic"></salaxy-input>
            </div>
            <div class="col-md-3">
              <salaxy-input ng-model="owner.officialId" name="officialId{{$index}}" label="Y-tunnus / Hetu" label-type="basic"></salaxy-input>
            </div>
            <div class="col-md-3">
              <salaxy-input ng-model="owner.email" name="email{{$index}}" label="Sähköpostiosoite" label-type="basic" sxy-email></salaxy-input>
            </div>
            <div class="col-md-6">
              <salaxy-input ng-model="owner.address" name="address{{$index}}" label="Osoite (myös maa)" label-type="basic"></salaxy-input>
            </div>
            <div class="col-md-3 col-xs-5 ">
              <salaxy-input-number ng-model="owner.numberOfShares" name="ownerShare{{$index}}" label="Osakkeita (kpl)" label-type="basic" read-only="$ctrl.mode == 'byPercent'"  ng-change="$ctrl.recalculateShares()"></salaxy-input-number>
            </div>
            <div class="col-md-2 col-xs-5 ">
              <salaxy-input-number ng-model="owner.percentOfShares" name="ownerpercentOfShares{{$index}}" label="Osakkeita (%)" label-type="basic" read-only="$ctrl.mode == 'byAmount'"  ng-change="$ctrl.recalculateShares()"></salaxy-input-number>
            </div>
            <div class="col-md-1 col-xs-2 text-right" style="padding-top:28px">
              <button class="btn btn-danger btn-sm" ng-click="$ctrl.current.owners.splice($index,1)"><i class="fa fa-trash"></i></button>
            </div>
            <div class="col-xs-12">
              <hr>
            </div>
          </div>
          <div class="row total-row" ng-if="$ctrl.current.owners.length">
            <div class="col-xs-6">
              <strong>Yhteensä</strong>
            </div>
            <div class="col-xs-6 text-right" ng-if="$ctrl.mode == 'byAmount'" ng-class="{'text-danger' : $ctrl.getTotalAmount() > $ctrl.current.ownedCompanyDetails.totalNumberOfShares, 'text-warning' : $ctrl.getTotalAmount() < $ctrl.current.ownedCompanyDetails.totalNumberOfShares && $ctrl.getTotalAmount() > 0, 'text-success' : $ctrl.getTotalAmount() == $ctrl.current.ownedCompanyDetails.totalNumberOfShares}">
              <strong>{{$ctrl.getTotalAmount()}} / {{$ctrl.current.ownedCompanyDetails.totalNumberOfShares}} kpl</strong>
            </div>
            <div class=" col-xs-6 text-right" ng-if="$ctrl.mode != 'byAmount'" ng-class="{'text-danger' : $ctrl.getTotalPercent() > 100, 'text-warning' : $ctrl.getTotalPercent() < 100 && $ctrl.getTotalPercent() > 0, 'text-success' : $ctrl.getTotalPercent() == 100}">
              <strong>{{$ctrl.getTotalPercent()}} / 100 %</strong>
            </div>
            <div class="col-xs-12">
              <hr>
            </div>
          </div>
          <div class="row" ng-if="$ctrl.current.owners.length">
            <div class="col-xs-6 ">
              <button class="btn btn-secondary btn-sm" ng-click="$ctrl.current.owners.push({numberOfShares:0,percentOfShares:0, avatar: {}})"><i class="fa fa-plus" style="margin-right:5px"></i> Lisää omistaja</button>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn btn-primary btn-sm" ng-click="$ctrl.save('owners')" ng-disabled="$ctrl.isSaving('owners') || ($ctrl.mode == 'byPercent' && $ctrl.getTotalPercent() != 100) || ($ctrl.mode == 'byAmount' && $ctrl.getTotalAmount() != $ctrl.current.ownedCompanyDetails.totalNumberOfShares)"><span ng-if="$ctrl.isSaving('owners')"><i
                class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button><br>
                <span ng-if="$ctrl.current.updatedAt">Päivitetty: {{ $ctrl.current.updatedAt | date: 'medium'}}</span>
            </div>
          </div>
        </fieldset>
      </form>
    </uib-tab>
    <uib-tab index="'ownerList'" heading="{{ 'Edunsaajat' | sxyTranslate }}">
      <form class="form-horizontal" ng-if="$ctrl.current">
        <fieldset>
          <legend>Edunsaajat</legend>
          <div ng-if="!$ctrl.current.beneficiaries.length" class="salaxy-placeholder-empty placeholder-md placeholder-default text-center">
            <h4>Edunsaajat</h4>
            <p></p>
            <button class="btn btn-primary" ng-click="$ctrl.current.beneficiaries.push({ avatar:{}});" sxy-text="Lisää edunsaaja"></button>
          </div>
          <div class="row" ng-repeat="beneficiary in $ctrl.current.beneficiaries">
            <div class="col-md-5">
              <salaxy-input ng-model="beneficiary.avatar.displayName" name="beneficiaryName" label="Nimi" label-type="basic"></salaxy-input>
            </div>
            <div class="col-md-3">
              <salaxy-input ng-model="beneficiary.officialId" name="beneficiaryOfficialId" label="Hetu" label-type="basic"></salaxy-input>
            </div>
            <div class="col-md-3 col-xs-10">
              <salaxy-input ng-model="beneficiary.nationality" name="beneficiaryNationality" label="Kansalaisuus" label-type="basic"></salaxy-input>
            </div>
            <div class="col-md-1 col-xs-2 text-right" style="padding-top:28px">
              <button class="btn btn-danger btn-sm" ng-click="$ctrl.current.beneficiaries.splice($index,1)"><i class="fa fa-trash"></i></button>
            </div>
            <div class="col-xs-12">
              <hr>
            </div>
          </div>
          <div class="row" ng-if="$ctrl.current.beneficiaries.length">
            <div class="col-xs-6">
              <button class="btn btn-secondary btn-sm" ng-click="$ctrl.current.beneficiaries.push({avatar:{}})"><i class="fa fa-plus" style="margin-right:5px"></i> Lisää edunsaaja</button>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn btn-primary btn-sm" ng-click="$ctrl.save('beneficiaries')" ng-disabled="!$ctrl.current || $ctrl.isSaving('beneficiaries')"><span ng-if="$ctrl.isSaving('beneficiaries')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button><br>
              <span ng-if="$ctrl.current.updatedAt">Päivitetty: {{ $ctrl.current.updatedAt | date: 'medium'}}</span>
            </div>
          </div>
        </fieldset>
      </form>
    </uib-tab>
    <uib-tab index="'beneficiaries'" heading="{{ 'Tuloste' | sxyTranslate }}">
      <div class="report-table-html" ng-if="$ctrl.current">
        <div class="table-responsive">

          <h1>Osakasluettelo</h1>
          <table class="report-table columns-tree">
            <thead>
              <tr style="border-bottom:1px solid black;">
                <th>Osakas</th>
                <th class="right">Osakkeet</th>
                <th class="right">Omistusosuus</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="owner in $ctrl.current.owners">
                <td>
                  {{owner.avatar.displayName}}
                </td>
                <td class="right">
                  {{owner.numberOfShares}}
                </td>
                <td class="right">
                  {{owner.percentOfShares}}
                </td>
              </tr>
              <tfoot class="">
                <tr class="total">
                  <td><strong>Yhteensä</strong></td>
                  <td class="right">{{$ctrl.getTotalAmount()}}</td>
                  <td class="right">{{$ctrl.getTotalPercent()}}</td>
                </tr>
              </tfoot>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>


</div>