<div class="salaxy-component salaxy-payment-channel-settings">
      <div class="row">
        <div class="col-sm-6" style="max-height: 600px; overflow-y: auto;">
          <h4>Käytössä olevat maksutavat</h4>
          <table class="table">
            <tbody>
              <tr ng-repeat="channel in $ctrl.getPaymentChannels('enabled')">
                <td>
                  <salaxy-avatar avatar="$ctrl.getAvatar(channel.channel)" class="" style="font-size: 64px; border-bottom: 32px;"></salaxy-avatar>
                </td>
                <td>
                  <div>
                    <button class="btn btn-default pull-right" ng-click="$ctrl.openChannelSetupDialog(channel.channel)">Asetukset...</button>
                    <strong>{{$ctrl.getAvatar(channel.channel).displayName}}</strong>
                    <strong ng-if="channel.channel == $ctrl.defaultChannel" class="text-primary">(oletus)</strong>
                  </div>
                  <div>{{$ctrl.getAvatar(channel.channel).description}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6" style="max-height: 600px; overflow-y: auto;">
          <h4>Lisää uusi maksutapa:</h4>
          <table class="table">
            <tbody>
              <tr ng-repeat="channel in $ctrl.getPaymentChannels('available')">
                <td>
                  <salaxy-avatar avatar="$ctrl.getAvatar(channel.channel)" class="" style="font-size: 64px; border-bottom: 32px;"></salaxy-avatar>
                </td>
                <td>
                  <button class="btn btn-default pull-right" ng-click="$ctrl.openChannelSetupDialog(channel.channel)">Lisää...</button>
                  <div><strong>{{$ctrl.getAvatar(channel.channel).displayName}}</strong></div>
                  <div>{{$ctrl.getAvatar(channel.channel).description}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-if="'test' | sxyIsInRole">
        <div class="col-sm-12">
          <h4>Ei valittavissa <span class="badge bg-primary"><span class="small" style="color:white">Testi</span></span></h4>
          <p>
            Nämä maksutavat eivät ole käytössä nykyisessä ympäristössäsi tai kumppanitilitoimistollasi. Esim. Holvi, Finago Solo, Talenom Online ovat käytössä vain kyseisissä palveluissa.
          </p>
          <div style="max-height: 200px; overflow-y: auto;">
            <table class="table table-condensed">
              <tbody>
                <tr ng-repeat="channel in $ctrl.getPaymentChannels('unavailable') | filter: { id: '!undefined' }">
                  <td>
                    <salaxy-avatar avatar="$ctrl.getAvatar(channel.channel)" class="" style="font-size: 32px; border-bottom: 32px;"></salaxy-avatar>
                  </td>
                  <td>
                    <div>
                      <strong>{{$ctrl.getAvatar(channel.channel).displayName}}</strong>: 
                      <small>{{$ctrl.getAvatar(channel.channel).description}}</small>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
