<div class="content settings" ng-if="$ctrl.current">
  <div class="panel pension panel-default" ng-repeat="item in $ctrl.pensionContracts" ng-if="$ctrl.sections.indexOf('pensionContracts') >= 0 && $ctrl.isVisibleContract(item, $ctrl.pensionContracts)">
    <div ng-if="item.status == 'pending'">
      <div class="panel-heading icon-panel">
        <h2><span sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.title"></span><i class="fa fa-check-circle text-success status-icon"></i>
        </h2>
        <p><small sxy-text="Tilauksesi on parhaillaan asiakaspalvelumme käsittelyssä."></small></p>
      </div>
    </div>
    <form ng-if="item.status != 'pending'" name="pensionForm" class="pension-form">
      <div class="panel-heading icon-panel">
        <h2><span sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.title"></span> <i class="fa fa-check-circle text-success status-icon"></i>
        </h2>
        <p><small sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.description"></small></p>
      </div>
      <div class="panel-body">
        <div class="row" ng-if="item.company && item.company != 'none'">
          <fieldset ng-if="item.company == 'elo' || item.company == 'ilmarinen' || item.company == 'varma'">
            <div class="col-sm-6 col-xs-12">
              <salaxy-input-boolean name="pension-reports" type="checkbox" ng-model="$ctrl.current.payments.customerFunds.isPensionSelfHandling" label-type="plain" label-true="SALAXY.NG1.PaymentSettingsComponent.pension.selfhandle"></salaxy-input-boolean>
              <p ng-if="$ctrl.current.payments.customerFunds.isPensionSelfHandling" sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.selfhandleDescription">
              </p>
            </div>
          </fieldset>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-horizontal">
              <fieldset>
                <legend sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.currentContractLegend"></legend>
                <salaxy-input-enum ng-model="item.company" type="select" label="SALAXY.MODEL.PensionContract.company.editLabel" name="pensionCompany" enum="PensionCompany" filter="none,varma,elo,ilmarinen,veritas,apteekkien,verso" ng-change="$ctrl.checkPensionCompanySelection()"
                  required></salaxy-input-enum>
                <main salaxy-if-role="test" class="test-number">
                  <div class="form-group" ng-if="item.company && item.company != 'none'">
                    <div class="col-sm-8 col-sm-offset-4 text-right-sm">
                      <span>Test only: <button class="btn btn-secondary btn-xs" ng-click="$ctrl.setPensionNumberForTest(item)"> Generoi numero </button></span>
                    </div>
                  </div>
                </main>
                <salaxy-input ng-if="item.company && item.company != 'none'" require="true" name="pensionContractNumber" label="SALAXY.MODEL.PensionContract.contractNumber.title" ng-model="item.contractNumber" tooltip-html="{{'SALAXY.NG1.PaymentSettingsComponent.pension.errors.sxyPensionContractNumber.html' | sxyTranslate}}"
                  tooltip-placement="top-right" sxy-pension-contract-number></salaxy-input>
              </fieldset>
            </div>
            <div class="row" ng-show="pensionForm.pensionContractNumber.$error.sxyTemporaryPensionContractNumber">
              <div class="col-xs-12 input-info text-danger">
                <div class="input-info-icon"><i class="fa fa-exclamation-triangle "></i></div>
                <p class="small input-info-text with-icon" sxy-html="SALAXY.NG1.PaymentSettingsComponent.pension.errors.sxyTemporaryPensionContractNumber.html">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12" ng-show="item.company && item.company != 'none' && item.company != 'varma'">
            <fieldset>
              <legend sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.moveContractLegend"></legend>
              <p sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.moveContractDescription"></p>
              <div ng-controller="VarmaPensionWizardController as varmaCtrl">
                <a href="" class="btn btn-primary" ng-click="varmaCtrl.openModal();" sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.moveContractCta"></a>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12" ng-show="!item.company || item.company == 'none'">
            <fieldset>
              <legend sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.varmaLegend"></legend>
              <p sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.varmaDescription"></p>
              <div ng-controller="VarmaPensionWizardController as varmaCtrl">
                <a href="" class="btn btn-primary" ng-click="varmaCtrl.openModal();" sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.varmaCta"></a>
              </div>
            </fieldset>
          </div>
          <div class="col-sm-6 col-xs-12" ng-show="!item.company || item.company == 'none'">
            <fieldset>
              <legend sxy-text="SALAXY.NG1.PaymentSettingsComponent.pension.temporaryLegend"></legend>
              <p sxy-html="SALAXY.NG1.PaymentSettingsComponent.pension.temporaryDescription.html"></p>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button ng-disabled="!item.company || pensionForm.$invalid || $ctrl.isSaving('pensionContracts')" class="btn btn-primary pull-right" ng-click="$ctrl.save('pensionContracts')"><span ng-if="$ctrl.isSaving('pensionContracts')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="panel insurance panel-default" ng-repeat="item in $ctrl.insuranceContracts" ng-if="$ctrl.sections.indexOf('insuranceContracts') >= 0 && $ctrl.isVisibleContract(item, $ctrl.insuranceContracts)">
    <div ng-if="item.status == 'pending'">
      <div class="panel-heading icon-panel">
        <h2><span sxy-text="SALAXY.NG1.PaymentSettingsComponent.insurance.title"></span><i class="fa fa-check-circle text-success status-icon"></i>
        </h2>
        <p><small sxy-text="Tilauksesi on parhaillaan asiakaspalvelumme käsittelyssä."></small></p>
      </div>
    </div>
    <form ng-if="item.status != 'pending'" name="insuranceForm" class="insurance-form">
      <div class="panel-heading icon-panel ">
        <h2><span sxy-text="SALAXY.NG1.PaymentSettingsComponent.insurance.title"></span><i class="fa text-success fa-check-circle status-icon"></i>
        </h2>
        <p><small sxy-text="SALAXY.NG1.PaymentSettingsComponent.insurance.description"></small></p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <fieldset>
              <legend sxy-text="SALAXY.NG1.PaymentSettingsComponent.insurance.currentContractLegend"></legend>
              <div class=" form-horizontal">
                <salaxy-input-enum ng-model="item.company" type="select" enum="InsuranceCompany" filter="none,fennia,if,lähiTapiola,pohjantähti,pohjola,turva,aVakuutus,folksam,alandia,ålands" label="SALAXY.MODEL.InsuranceContract.company.editLabel" name="insurance-company"
                  require="true"></salaxy-input-enum>
              </div>
              <div class="form-horizontal" ng-if="item.company && item.company != 'none'">
                <salaxy-input ng-model="item.contractNumber" require="true" name="insuranceContractNumber" label="SALAXY.MODEL.InsuranceContract.contractNumber.title"></salaxy-input>
              </div>
            </fieldset>
          </div>
          <div class="col-sm-6 col-xs-12">
            <fieldset ng-show="item.company && item.company != 'lähiTapiola' && item.company != 'none' ">
              <legend>
                Tai siirrä vakuutus LähiTapiolaan
              </legend>
              <div ng-controller="InsuranceWizardController as insuranceCtrl">
                <button class="btn btn-primary" ng-click="insuranceCtrl.openModal();">Siirrä tapaturmavakuutus</button>
              </div>
            </fieldset>
            <fieldset ng-if="item.company == 'none' || !item.company">
              <legend>Ota vakuutus LähiTapiolasta</legend>

              <div ng-controller="InsuranceWizardController as insuranceCtrl">
                <button class="btn btn-primary" ng-click="insuranceCtrl.openModal();">Ota tapaturmavakuutus</button>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-xs-12">
            <div ng-if="item.company && item.company != 'none'">
              <div class="pull-left"><i class="fa fa-info-circle alert-icon text-info icon-info"></i></div>
              <div class="alert-text">
                <p class="text-info " sxy-text="SALAXY.NG1.PaymentSettingsComponent.insurance.insuranceComment"></p>
              </div>
            </div>
            <div ng-if="item.company == 'none'">
              <div class="pull-left"><i class="fa fa-exclamation alert-icon text-danger icon-danger"></i></div>
              <div class="alert-text">
                <p class="text-danger " sxy-text="SALAXY.NG1.PaymentSettingsComponent.insurance.warning"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button ng-disabled="!item.company || $ctrl.isSaving('insuranceContracts')" class="btn btn-primary pull-right" ng-click="$ctrl.save('insuranceContracts')"><span ng-if="$ctrl.isSaving('insuranceContracts')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel tax panel-default" ng-if="$ctrl.sections.indexOf('incomesRegister') >= 0">
    <div class="panel-heading icon-panel">
      <h2><span sxy-text="SALAXY.NG1.PaymentSettingsComponent.tax.title"></span><i class="fa fa-check-circle text-success status-icon"></i>
      </h2>
      <p><small sxy-text="SALAXY.NG1.PaymentSettingsComponent.tax.intro"></small></p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 form-horizontal">
          <fieldset>
            <salaxy-input-enum type="radio" ng-model="$ctrl.current.calc.incomesRegister.irReporting" name="irReporting" label="SALAXY.MODEL.IncomesRegisterSettings.irReporting.editLabel" options="{ 
                                default: ('SALAXY.ENUM.TaxReportHandling.default.label' | sxyTranslate),
                                noMonthlyReport: ('SALAXY.ENUM.TaxReportHandling.noMonthlyReport.label' | sxyTranslate),
                                always: ('SALAXY.ENUM.TaxReportHandling.always.label' | sxyTranslate)
                              }">
            </salaxy-input-enum>

          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button ng-disabled="$ctrl.isSaving('incomesRegister')" class="btn btn-primary pull-right" ng-click="$ctrl.save('incomesRegister')"><span ng-if="$ctrl.isSaving('incomesRegister')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel einvoice panel-default" ng-if="$ctrl.sections.indexOf('eInvoice') >= 0">
    <div class="panel-heading icon-panel">
      <h2>
        <span sxy-text="SALAXY.NG1.PaymentSettingsComponent.einvoice.title"></span>
        <i class="fa fa-check-circle text-success status-icon"></i>
      </h2>
      <p><small sxy-text="SALAXY.NG1.PaymentSettingsComponent.einvoice.description"></small></p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 form-horizontal">
          <fieldset>
            <salaxy-form-group name="eInvoiceReceiver" label="SALAXY.NG1.PaymentSettingsComponent.einvoice.invoiceAddress">
              <div class="input-group">
                <input class="form-control" type="text" autocomplete="off" id="eInvoiceReceiver" name="eInvoiceReceiver" ng-disabled="true" ng-model="$ctrl.current.payments.invoice.eInvoiceReceiver">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.selectEInvoiceAddress()" sxy-text="Valitse..."></button>
                  </span>
              </div>
            </salaxy-form-group>
            <salaxy-input disabled="true" name="intermediator" ng-model="$ctrl.current.payments.invoice.eInvoiceIntermediator" label="SALAXY.NG1.NewPaymentComponent.einvoice.intermediatorLabel"></salaxy-input>

          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button ng-disabled="$ctrl.isSaving('eInvoice')" class="btn btn-primary pull-right" ng-click="$ctrl.save('eInvoice')"><span ng-if="$ctrl.isSaving('eInvoice')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel sepa panel-default" ng-if="$ctrl.sections.indexOf('sepa') >= 0">
    <form name="sepaForm">
      <div class="panel-heading icon-panel">
        <h2>
          <span sxy-text="SEPA-maksatustunnus ja tilinumero, miltä erät maksetaan"></span>
          <i class="fa fa-check-circle text-success status-icon"></i>
        </h2>
        <p><small sxy-text="Jos käytät laskujen luontitoimintoa ja hoidat erien maksun itse, syötä tilinumero, miltä erät maksetaan. Tilinumeroa käyteään SEPA- ja viitesiirtoaineiston luonnissa."></small></p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 form-horizontal">
            <fieldset>
              <salaxy-input name="ibanNumber" label="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" sxy-iban ng-model="$ctrl.current.payments.invoice.ibanNumber"></salaxy-input>
              <salaxy-input name="sepaBankPartyId" label="SEPA-maksatustunnus" ng-model="$ctrl.current.payments.invoice.sepaBankPartyId"></salaxy-input>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button ng-disabled="sepaForm.$invalid || $ctrl.isSaving('sepa')" class="btn btn-primary pull-right" ng-click="$ctrl.save('sepa')"><span ng-if="$ctrl.isSaving('sepa')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="panel taxAndSocialSecuritySelfHandling panel-default" ng-if="$ctrl.sections.indexOf('taxAndSocialSecuritySelfHandling') >= 0">
    <div class="panel-heading icon-panel">
      <h2><span sxy-text="Ennakonpidätyksen maksaminen"></span><i class="fa fa-check-circle text-success status-icon"></i>
      </h2>
      <p><small>
          Palkkaus.fi toimii oletusarvoisesti niin, että jokainen palkka maksetaan kaikkine sivukuluineen Palkkaus.fi-palvelun asiakasvaratilille.
          </small></p>
      <p><small>
          Täältä hoidamme maksun eräpäivänä verottajalle. Vaihtoehtoisesti voit maksaa maksun itse suoraan verottajalle eräpäivänä.
        </small></p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 form-horizontal">
          <fieldset>
            <salaxy-input-boolean type="checkbox" name="isTaxAndSocialSecuritySelfHandling" label-type="plain" label-true="Hoidan ennakonpidätyksen maksun itse" ng-model="$ctrl.current.payments.customerFunds.isTaxAndSocialSecuritySelfHandling"></salaxy-input-boolean>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button ng-disabled="$ctrl.isSaving('taxAndSocialSecuritySelfHandling')" class="btn btn-primary pull-right" ng-click="$ctrl.save('taxAndSocialSecuritySelfHandling')"><span ng-if="$ctrl.isSaving('taxAndSocialSecuritySelfHandling')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel workerSelfHandling panel-default" ng-if="$ctrl.sections.indexOf('workerSelfHandling') >= 0">
    <div class="panel-heading icon-panel">
      <h2><span sxy-text="Nettopalkan maksaminen"></span> <i class="fa fa-check-circle text-success status-icon"></i>
      </h2>
      <p><small>Palkkaus.fi toimii oletusarvoisesti niin, että jokainen palkka maksetaan kaikkine sivukuluineen Palkkaus.fi-palvelun asiakasvaratilille.
          </small>
      </p>
      <p><small>
          Heti kun raha on saapunut asiakasvaratilillemme, maksamme nettopalkan työntekijälle. Vaihtoehtoisesti voit maksaa nettopalkan itse työntekijälle.
        </small></p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 form-horizontal">
          <fieldset>
            <salaxy-input-boolean type="checkbox" name="isWorkerSelfHandling" label-type="plain" label-true="Hoidan nettopalkan maksun itse" ng-model="$ctrl.current.payments.customerFunds.isWorkerSelfHandling"></salaxy-input-boolean>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <button ng-disabled="$ctrl.isSaving('workerSelfHandling')" class="btn btn-primary pull-right" ng-click="$ctrl.save('workerSelfHandling')"><span ng-if="$ctrl.isSaving('workerSelfHandling')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel unemployment panel-default" ng-if="$ctrl.sections.indexOf('unemploymentSelfHandling') >= 0">
    <div class="panel-heading icon-panel">
      <h2><span sxy-text="SALAXY.NG1.PaymentSettingsComponent.unemployment.title"></span><i class="fa fa-check-circle text-success status-icon"></i>
      </h2>
      <p><small sxy-text="SALAXY.NG1.PaymentSettingsComponent.unemployment.description"></small></p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <fieldset>
            <p sxy-text="SALAXY.NG1.PaymentSettingsComponent.unemployment.intro"></p>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>