<div class="salaxy-component salaxy-pro-settings">
  <div ng-if="$ctrl.current">
    <sxy-form open-api="salaxy-secure/schemas/v02.json" type="CompanyAccountSettings" auto-gen="false" debugger="false" model="$ctrl.current">
      <div class="col-xs-12">
        <!--fieldset>
          <legend>Palvelumalli</legend>
          <sxy-input model="form.partner.serviceModelId"></sxy-input>
        </fieldset-->
        <fieldset>
          <legend>Aktivoidut palvelut <span class="badge bg-danger pull-right">Palvelumalli</span></legend>
          <sxy-input model="form.partner.serviceModel.features.messaging" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.features.forms" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.features.accounting" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.features.reporting" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.features.payments" read-only="true"></sxy-input>
        </fieldset>
        <fieldset>
          <legend>Asiakassivusto <span class="badge bg-danger pull-right">Palvelumalli</span></legend>
          <sxy-input model="form.partner.serviceModel.site.webApp" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.site.webAppUrl" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.site.webAppName" read-only="true"></sxy-input>
          <!--sxy-input model="form.partner.serviceModel.site.texts" read-only="true"></sxy-input-->
          <!--sxy-input model="form.partner.serviceModel.site.sitemap" read-only="true"></sxy-input-->
        </fieldset>
        <fieldset>
          <legend>Brändi <span class="badge bg-danger pull-right">Palvelumalli</span></legend>
          <sxy-input model="form.partner.serviceModel.branding.logo" read-only="true"></sxy-input>
          <sxy-input model="form.partner.serviceModel.branding.skin" read-only="true"></sxy-input>
        </fieldset>
        <legend>Hinnoittelu <span ng-if="$ctrl.current.partner.accountId" class="badge bg-danger pull-right">Palvelumalli</span></legend>
        <sxy-input model="form.partner.serviceModel.pricing.pricingModel" read-only="true"></sxy-input>
        <sxy-input model="form.partner.serviceModel.pricing.fixedFee" read-only="true"></sxy-input>
        </fieldset>
        <fieldset>
          <legend>Maksukanavat <span ng-if="!$ctrl.current.payments.denyServiceModel && $ctrl.current.partner.serviceModel.features.payments" class="badge bg-danger pull-right">Palvelumalli</span></legend>
          <sxy-input model="form.payments.denyServiceModel"></sxy-input>
          <sxy-input model="form.payments.defaultChannel" read-only="{{!$ctrl.current.payments.denyServiceModel && $ctrl.current.partner.serviceModel.features.payments}}"></sxy-input>
          <sxy-input model="form.payments.channels" read-only="{{!$ctrl.current.payments.denyServiceModel && $ctrl.current.partner.serviceModel.features.payments}}"></sxy-input>
        </fieldset>
        <fieldset ng-if="'admin' | sxyIsInRole">
          <legend>Kirjanpito <span ng-if="!$ctrl.current.accounting.denyServiceModel && $ctrl.current.partner.serviceModel.features.accounting" class="badge bg-danger pull-right">Palvelumalli</span></legend>
          <sxy-input model="form.accounting.denyServiceModel"></sxy-input>
          <sxy-input model="form.accounting.defaultTargetId" read-only="{{!$ctrl.current.accounting.denyServiceModel  && $ctrl.current.partner.serviceModel.features.accounting}}"></sxy-input>
          <sxy-input model="form.accounting.targets" read-only="{{!$ctrl.current.accounting.denyServiceModel  && $ctrl.current.partner.serviceModel.features.accounting}}"></sxy-input>
        </fieldset>
        <legend>Tulosteiden ulkoasu <span ng-if="!$ctrl.current.reporting.denyServiceModel && $ctrl.current.partner.serviceModel.features.reporting" class="badge bg-danger pull-right">Palvelumalli</span></legend>
        <sxy-input model="form.reporting.denyServiceModel"></sxy-input>
        <salaxy-input-enum read-only="!$ctrl.current.reporting.denyServiceModel && $ctrl.current.partner.serviceModel.features.reporting" ng-model="$ctrl.current.reporting.layoutTemplateId" name="layputTemplateId" label="Ulkoasun tunniste" options="{'palkkaus-report-options@FI53POYS0025543933': 'Palkkaus.fi',
            'no-logo-report-options@FI53POYS0025543933': 'Ilman logoa',
            'logo-report-options@FI53POYS0025543933': 'Yrityksen oma logo'
           }"></salaxy-input-enum>
        <salaxy-textarea maxlength="" read-only="!$ctrl.current.reporting.denyServiceModel && $ctrl.current.partner.serviceModel.features.reporting" label="Logo (SVG tai data URI)" name="logo" ng-model="$ctrl.current.reporting.logo" rows="3" ng-if="$ctrl.current.reporting.layoutTemplateId == 'logo-report-options@FI53POYS0025543933'">
        </salaxy-textarea>
        </fieldset>
        <fieldset>
          <legend>Asvara</legend>
          <sxy-input model="form.payments.customerFunds.isWorkerSelfHandling"></sxy-input>
          <sxy-input model="form.payments.customerFunds.isPensionSelfHandling"></sxy-input>
          <sxy-input model="form.payments.customerFunds.isTaxAndSocialSecuritySelfHandling"></sxy-input>
        </fieldset>
        <fieldset>
          <legend>Laskut</legend>
          <sxy-input model="form.payments.invoice.eInvoiceReceiver"></sxy-input>
          <sxy-input model="form.payments.invoice.eInvoiceIntermediator"></sxy-input>
          <sxy-input model="form.payments.invoice.sepaBankPartyId"></sxy-input>
          <sxy-input model="form.payments.invoice.ibanNumber"></sxy-input>
        </fieldset>
        <fieldset>
          <legend>Tulorekisteri</legend>
          <sxy-input model="form.calc.incomesRegister.irReporting"></sxy-input>
          <sxy-input model="form.calc.incomesRegister.taxReferenceNumber"></sxy-input>
        </fieldset>

        <fieldset>
          <legend>Vakuutukset</legend>
          <sxy-input model="form.calc.pensionContracts" template-url="salaxy-components/sxy-form/custom-templates/array-pension.html">
            <form>
              <fieldset>
                <sxy-input model="form.company"></sxy-input>
                <sxy-input model="form.contractNumber" format="pension-contract-number"></sxy-input>
                <sxy-input model="form.startDate" format="date"></sxy-input>
                <sxy-input model="form.endDate" format="date"></sxy-input>

                <sxy-input ng-show="'admin' | sxyIsInRole" model="form.status" read-only="false"></sxy-input>
                <sxy-input ng-show="'!admin' | sxyIsInRole" model="form.status" read-only="true"></sxy-input>
                <sxy-input model="form.id" read-only="true"></sxy-input>
              </fieldset>
            </form>
          </sxy-input>
          <sxy-input model="form.calc.insuranceContracts" template-url="salaxy-components/sxy-form/custom-templates/array-insurance.html">
            <form>
              <fieldset>
                <legend>Tapaturmavakuutus</legend>
                <sxy-input model="form.company"></sxy-input>
                <sxy-input model="form.contractNumber"></sxy-input>
                <sxy-input model="form.startDate" format="date"></sxy-input>
                <sxy-input model="form.endDate" format="date"></sxy-input>
                <sxy-input model="form.isPartnerInsurance"></sxy-input>
                <sxy-input ng-show="'admin' | sxyIsInRole" model="form.status" read-only="false"></sxy-input>
                <sxy-input ng-show="'!admin' | sxyIsInRole" model="form.status" read-only="true"></sxy-input>
                <sxy-input model="form.id" read-only="true"></sxy-input>
              </fieldset>
            </form>
          </sxy-input>
        </fieldset>
      </div>
    </sxy-form>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button class="btn btn-primary" ng-click="$ctrl.save('all')" ng-disabled="$ctrl.isSaving('all')"><span ng-if="$ctrl.isSaving('all')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
      </div>
    </div>
  </div>
</div>