<div class="modal-header">
  <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyEInvoiceLabel" sxy-text="SALAXY.NG1.NewPaymentComponent.einvoice.title"></h2>
</div>
<div class="modal-body">
  <p sxy-text="SALAXY.NG1.NewPaymentComponent.einvoice.description"></p>
  <form name="address" class="form-horizontal">
    <salaxy-form-group name="eInvoiceReceiver" label="SALAXY.NG1.PaymentSettingsComponent.einvoice.invoiceAddress">
      <div class="input-group">
        <input required class="form-control" type="text" autocomplete="off" id="eInvoiceReceiver" name="eInvoiceReceiver" ng-disabled="true" ng-model="$ctrl.current.eInvoiceReceiver" >
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.logic.selectEInvoiceAddress($ctrl.current)" sxy-text="Valitse..."></button>
        </span>
      </div>
    </salaxy-form-group>
    <salaxy-input require="true" disabled="true" name="intermediator" ng-model="$ctrl.current.eInvoiceIntermediator" label="SALAXY.NG1.NewPaymentComponent.einvoice.intermediatorLabel"></salaxy-input>
  </form>
</div>
<div class="modal-footer text-left">
  <button type="submit" class="btn btn-primary pull-right" ng-disabled="!address.$valid" ng-click="$close('ok')">
    Lähetä
  </button>
  <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
</div>