<div class="modal-header">
  <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyTransferLabel" sxy-text="SALAXY.NG1.NewPaymentComponent.selection.creditTransferTitle"></h2>
</div>
<div class="modal-body" id="modal-body">
  <div class="credit-transfer-container">
    <div class="text-right">
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.logic.print('sxyFullPrint')" sxy-text="SALAXY.NG1.UiTerms.print"></button>
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.logic.print('sxySecurePrint')" sxy-text="Tulosta ilman henkilötietoja"></button>
    </div>
    <salaxy-credit-transfer invoice="$ctrl.current">
      <message>
        <p sxy-text="SALAXY.NG1.NewPaymentComponent.creditTransfer.mainContent"></p>
      </message>
    </salaxy-credit-transfer>
    <div class="payment-per-worker-container table-responsive" ng-class="$ctrl.logic.printClass">
      <h4>Erittely laskelmittain</h4>
      <table>
        <thead>
          <tr>
            <th class="align-bottom">Työntekijä</th>
            <th class="right"><strong>Bruttopalkka</strong></th>
            <th class="right"> <strong>Maksetaan nyt</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr class="payment-per-worker" ng-repeat="calc in $ctrl.logic.calculations">
            <td class="align-middle"> {{calc.worker.avatar.sortableName}}</td>
            <td class="right">{{calc.result.totals.totalGrossSalary | currency}}</td>
            <td class="right">
              {{calc.result.employerCalc.totalPayment| currency}}
            </td>
          </tr>
          <tr class="total">
            <td><strong sxy-text="SALAXY.NG1.NewPaymentComponent.creditTransfer.paymentPerWorkerTable.total"></strong><br><span
                sxy-text="SALAXY.NG1.NewPaymentComponent.creditTransfer.paymentPerWorkerTable.palkkausFee"></span></td>
            <td class="right">{{$ctrl.logic.totalResultCalculation.result.totals.totalGrossSalary | currency}}</td>
            <td class="right">
              {{$ctrl.logic.totalResultCalculation.result.employerCalc.totalPayment | currency}}<br>{{$ctrl.logic.totalResultCalculation.result.employerCalc.palkkaus | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div sxy-if-role="!household" class="table-responsive">
      <h4>Maksutaulukko</h4>
      <salaxy-calc-report apply-site-styles="true" calc="$ctrl.logic.totalResultCalculation" report-type="'paymentReport'" template-name="'paymentTablesV2'"></salaxy-calc-report>
    </div>
  </div>
</div>
<div class="modal-footer text-left">
  <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>