<div class="salaxy-component salaxy-calc-rows-editor salaxy-calc-rows-2019-editor">


  <div ng-if="$ctrl.isInEdit">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th width="42px" class="hidden-xxs th-avatar"></th>
          <th width="40%" class="uppercase th-calc-row-type">{{ $ctrl.title }}</th>
          <th class="right" ng-if="$ctrl.hasRows" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.amount"></th>
          <th class="right" ng-if="$ctrl.hasRows" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.price"></th>
          <th class="right th-row-total" ng-if="$ctrl.hasRows" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.total"></th>
          <th colspan="3" ng-if="!$ctrl.hasRows">&nbsp;</th>
          <th class="salaxy-calc-rows-editor-btns">
            <span ng-if="$ctrl.showEditButtons">
              <button class="btn btn-sm btn-transparent" ng-click="$ctrl.commit()" title="{{'SALAXY.NG1.CalcRowsComponent.editor.buttons.okIcon' | sxyTranslate}}"><i
                  class="fa fa-check text-success"></i></button>
              <button class="btn btn-sm btn-transparent" ng-click="$ctrl.reset()" title="{{'SALAXY.NG1.CalcRowsComponent.editor.buttons.cancelIcon' | sxyTranslate}}"><i
                  class="fa fa-times text-danger"></i></button>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="row in $ctrl.filteredList track by $index" ng-class="$ctrl.getValidation(row).type ? 'row-before-validation' : ''">
          <td width="42px" class="hidden-xxs td-avatar" ng-class="{'td-no-avatar' : !row.rowType}">
            <salaxy-avatar ng-if="row.rowType" class="salaxy-calc-row-type-avatar"
              avatar="{ color: $ctrl.getConfig(row).color, initials: $ctrl.getConfig(row).iconText, entityType: 'company' }"></salaxy-avatar>
          </td>
          <td width="40%" class="td-calc-row-type" ng-class="{'td-add-new': !row.rowType}">
            <salaxy-calc-row-type ng-if="!row.rowType" name="rowType" model="row" row-types="$ctrl.rowTypes" categories="$ctrl.categories"
              placeholder="{{'SALAXY.NG1.CalcRowsComponent.editor.calcRowTypePlaceholder' | sxyTranslate}}" on-row-changed="$ctrl.rowTypeChanged(row)"></salaxy-calc-row-type>
            <input class="form-control" ng-if="row.rowType" name="message" type="text" ng-model="row.message" ng-disabled="$ctrl.isDisabled(row, 'message')"
              placeholder="{{row.message || ( 'CalculationRowType.' + row.rowType | sxyEnum)}}" />
          </td>
          <td ng-if="row.rowType" class="right">
            <salaxy-input-number name="{{ 'iptCount' + (row.rowIndex < 0 ? 'Salary' : row.rowIndex) }}" ng-model="row.count" label-type="plain"
              placeholder="{{ $ctrl.getPlaceholderText(row, 'amount') }}" disabled="$ctrl.isDisabled(row, 'amount')" unit="{{$ctrl.getConfig(row).amount.unit}}">
            </salaxy-input-number>

          </td>
          <td ng-if="row.rowType" class="right">
            <salaxy-input-number name="{{ 'iptPrice' + (row.rowIndex < 0 ? 'Salary' : row.rowIndex) }}" ng-model="row.price" label-type="plain"
              placeholder="{{ $ctrl.getPlaceholderText(row, 'price') }}" disabled="$ctrl.isDisabled(row, 'price')" require="true"></salaxy-input-number>
          </td>
          <td ng-if="row.rowType" class="right td-row-total">
            <div>{{ $ctrl.getRowTotal(row) | currency }}</div>
          </td>
          <td ng-if="row.rowType" class="salaxy-calc-rows-editor-btns">
            <button type="button" class="edit btn btn-info btn-sm" ng-disabled="!row.rowType" ng-click="$ctrl.showEditDialog(row)"
              title="{{'SALAXY.NG1.CalcRowsComponent.editor.buttons.editIcon' | sxyTranslate}}"><i class="fa fa-pencil"></i></button>
            <button type="button" class="delete btn btn-danger btn-sm" ng-if="row.rowIndex >= 0" ng-click="$ctrl.delete(row)"
              title="{{'SALAXY.NG1.CalcRowsComponent.editor.buttons.deleteIcon' | sxyTranslate}}"><i class="fa fa-trash"></i></button>
          </td>
          <td ng-if="!row.rowType" colspan="2" class="td-add-new-btn">
            <div>
              <button type="button" class="btn btn-default" ng-click="$ctrl.createNew()"><i class="fa fa-info fa-lg fa-fw text-primary"></i><span
                  sxy-text="SALAXY.NG1.CalcRowsComponent.editor.buttons.readMore" ps="..."></span></button>
            </div>
          </td>
          <td ng-if="!row.rowType" colspan="2" class="td-no-btns">&nbsp;</td>
        </tr>
        <tr ng-repeat-end class="row-validation no-border" ng-if="$ctrl.getValidation(row).type">
          <td></td>
          <td colspan="5">
            <small class="" ng-if="$ctrl.getValidation(row).type == 'default'">
              {{ $ctrl.getValidation(row).msg }}
              <a href="" ng-click="$ctrl.showEditDialog(row)" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.validation.edit" ps="..."></a>
            </small>
            <span ng-if="$ctrl.getValidation(row).type == 'error'">
              <span class="label label-danger" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.validation.note"></span>
              <small class="alert-danger">{{ $ctrl.getValidation(row).msg }}
                <a href="" ng-click="$ctrl.showEditDialog(row)" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.validation.edit" ps="..."></a>
              </small>
            </span>
          </td>
        </tr>
        <tr class="new-row">
          <td width="42px" class="hidden-xxs td-avatar" ng-class="{'td-no-avatar' : !row.rowType}">
          </td>
          <td width="40%">
            <salaxy-calc-row-type name="newRowType" model="$ctrl.newRow" placeholder="{{'SALAXY.NG1.CalcRowsComponent.editor.calcRowTypePlaceholder' | sxyTranslate}}"
              on-row-changed="$ctrl.commitNewRow()" row-types="$ctrl.rowTypes" categories="$ctrl.categories"></salaxy-calc-row-type>
          </td>
          <td colspan="2" class="td-add-new-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.showRowTypeSelectionDialog()"><i class="fa fa-info fa-lg fa-fw text-primary"></i> <span
                sxy-text="SALAXY.NG1.CalcRowsComponent.editor.buttons.readMore" ps="..."></span></button>
          </td>
          <td colspan="2" class="td-no-btns">&nbsp;</td>
        </tr>
      </tbody>
      <tfoot ng-if="$ctrl.hasRows">
        <tr class="total">
          <th width="42px" class="hidden-xxs"></th>
          <td>
            <strong sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.finalCost"></strong>
          </td>
          <td colspan="3" class="right">
            <strong>{{ $ctrl.getFinalCost() | currency }}
              <!--{{ $ctrl.getTotal() | currency }}--></strong>
          </td>
          <td colspan="2"></td>
        </tr>
      </tfoot>
    </table>

  </div>
  <div ng-if="!$ctrl.isInEdit">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th width="42px" class="hidden-xxs"></th>
          <th width="40%" class="uppercase">{{ $ctrl.title || ('SALAXY.NG1.CalcRowsComponent.editor.calcRow' | sxyTranslate) }}</th>
          <th></th>
          <th class="right" ng-if="$ctrl.hasRows" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.total"></th>
          <th class="salaxy-calc-rows-editor-btns">
            <span ng-if="$ctrl.showEditButtons && $ctrl.mode != 'read-only'">
              <button type="button" class="edit btn btn-info btn-sm" ng-click="$ctrl.startEdit()" ng-hide="$ctrl.parent.isReadOnly" ng-disabled="!$ctrl.isEditable"
                title="{{'SALAXY.NG1.CalcRowsComponent.editor.buttons.editIcon' | sxyTranslate}}"><i class="fa fa-pencil"></i></button>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.filteredList track by $index">
          <td width="42px" class="hidden-xxs">
            <salaxy-avatar ng-if="row.rowType" class="salaxy-calc-row-type-avatar"
              avatar="{ color: $ctrl.getConfig(row).color, initials: $ctrl.getConfig(row).iconText, entityType: 'company' }"></salaxy-avatar>
          </td>
          <td width="50%">{{row.message || ( "CalculationRowType." + row.rowType | sxyEnum) }}</td>
          <td ng-if="row.rowType" class="right">
            <small class="text-muted" ng-if="row.count && row.count != 1">{{row.count | sxyCount : row.unit }} * {{ row.price | currency }}</small>
          </td>
          <td ng-if="row.rowType" class="right">
            <div>{{ $ctrl.getRowTotal(row) | currency }}</div>
          </td>
          <td ng-if="row.rowType" class=" salaxy-calc-rows-editor-btns">
            <button type="button" class="edit btn btn-info btn-sm" ng-disabled="!row.rowType" ng-click="$ctrl.showEditDialog(row)"
              title="{{'SALAXY.NG1.CalcRowsComponent.editor.buttons.infoIcon' | sxyTranslate}}"><i class="fa fa-info-circle"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot ng-if="$ctrl.hasRows">
        <tr class="total">
          <td width="42px" class="hidden-xxs"></td>
          <td>
            <strong sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.total"></strong>
          </td>
          <td></td>
          <td class="right">
            <strong>
              <!--{{ $ctrl.getTotal() | currency }}--></strong>
          </td>
          <td></td>
        </tr>
        <tr ng-if="$ctrl.showGrossTotals">
          <th width="42px" class="hidden-xxs"></th>
          <td>
            <span sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.grossTotal"></span><br>
            <small class="text-muted" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.netSalary"></small>
          </td>
          <td>

          </td>
          <td class="right">
            {{ $ctrl.getGrossTotal() | currency }}<br>
            <small class="text-muted">{{ $ctrl.getNetSalary() | currency }}</small>
          </td>
          <td></td>
        </tr>
        <tr ng-if="$ctrl.showGrossTotals" class="total">
          <th width="42px" class="hidden-xxs"></th>
          <td>
            <strong sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.finalCost"></strong>
            <br>
            <small class="text-muted" sxy-text="SALAXY.NG1.CalcRowsComponent.editor.totals.totalPayment"></small>
          </td>
          <td>
          </td>
          <td class="right">
            <strong>{{ $ctrl.getFinalCost() | currency }}</strong><br>
            <small class="text-muted">{{ $ctrl.getTotalPayment() | currency }}</small>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>