<div class="salaxy-calc-ir-rows salaxy-component">
  <table class="table">
    <thead>
      <tr>
        <th>Tulorekisteri-koodi</th>
        <th>Rivin kuvaus</th>
        <th class="right">Laskelma</th>
        <th class="right">Summa</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.irRows">
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: row.irData.code, entityType: 'company' }"></salaxy-avatar>
          <b>{{ $ctrl.getIncomeType(row).label }}</b><br />
          <small>
            <div class="truncate" style="max-width: 250px;">
              {{$ctrl.getIncomeType(row).description}}
            </div>
          </small>
        </td>
        <td>{{ row.message }}</td>
        <td class="right">
          <span ng-if="row.unit != 'one'">
            {{ row.count | sxyCount : row.unit }} *
          </span> {{ row.price | currency }} =
        </td>
        <td class="right">{{ row.total | currency }}
        </td>
        <td class="salaxy-calc-rows-editor-btns" ng-if="row.type=='manual'">
          <button type="button" class="edit btn btn-info" ng-click="$ctrl.setCurrentIrRow(row)"><i class="fa fa-edit"></i></button>
          <button type="button" class="delete btn btn-danger" ng-click="$ctrl.deleteIrRow(row)"><i class="fa fa-trash"></i></button>
        </td>
        <td class="salaxy-calc-rows-editor-btns" ng-if="row.type!='manual'">
          <button type="button" class="edit btn btn-info" ng-click="$ctrl.setCurrentIrRow(row)"><i class="fa fa-info"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot ng-if="!$ctrl.isReadOnly">
      <tr>
        <th colspan="6" class="text-right">
          <button type="button" class="btn btn-default" ng-click="$ctrl.recalculate()">Päivitä laskelma</button>
          <button type="button" class="btn btn-info" ng-click="$ctrl.addIrRow()">Lisää uusi rivi</button>
        </th>
      </tr>
    </tfoot>
  </table>
  <h4>Valitun rivin tiedot</h4>
  <div ng-if="!$ctrl.currentRow">Valitse rivi talukosta yllä tai lisää uusi nähdäksesi yksityiskohdat tässä.</div>
  <uib-tabset active="$ctrl.currentTab" ng-if="$ctrl.currentRow">
    <uib-tab index="'basic'" heading="Perustiedot">
      <div class="form-horizontal">
        <div class="row">
          <div class="col col-md-12 col-lg-6">
            <h2>Teksti ja tyyppi</h2>
            <salaxy-input-income-type name="code" ng-model="$ctrl.currentRow.irData.code" hidden-codes="[1]" label="Tyyppi" disabled="$ctrl.isIrRowReadOnly" ng-change="$ctrl.updateCurrentRowType()">
            </salaxy-input-income-type>
            <salaxy-input name="message" ng-model="$ctrl.currentRow.message" label="Viesti" disabled="$ctrl.isIrRowReadOnly"></salaxy-input>
            <salaxy-input-enum label="Ryhmittely" disabled="$ctrl.isIrRowReadOnly"
              options="{ baseSalary: 'Peruspalkka', benefits: 'Luontoisedut', deductions: 'Vähennykset', disabled: 'Ei käytössä', expenses: 'Kulukorvaukset', otherNoPayment: 'Muu - ei maksua', salaryAdditions: 'Palkan lisät', totals: 'Summat ja ryhmittelyt' }"
              name="calcGrouping" ng-model="$ctrl.currentRow.calcData.grouping" type="select"></salaxy-input-enum>
            <salaxy-form-group label="Maksu asiakasvaratilille" name="paymentDefault">
              <div ng-if="$ctrl.currentRowType.paymentDefault == 1">Maksetaan</div>
              <div ng-if="$ctrl.currentRowType.paymentDefault == -1">Vähennetään</div>
              <div ng-if="$ctrl.currentRowType.paymentDefault == 0">Ei maksua</div>
            </salaxy-form-group>
          </div>
          <div class="col col-md-12 col-lg-6">
            <h2>Laskelma</h2>
            <salaxy-input-number name="count" ng-model="$ctrl.currentRow.count" disabled="$ctrl.isIrRowReadOnly" label="Määrä"></salaxy-input-number>
            <salaxy-input-enum label="Yksikkö" enum="Unit" name="Unit" disabled="$ctrl.isIrRowReadOnly" ng-model="$ctrl.currentRow.unit" type="select"></salaxy-input-enum>
            <salaxy-input-number name="price" ng-model="$ctrl.currentRow.price" disabled="$ctrl.isIrRowReadOnly" label="Hinta"></salaxy-input-number>
            <salaxy-form-group name="total" label="Yhteensä">
              <p>{{ $ctrl.currentRow.count * $ctrl.currentRow.price | currency }}</p>
            </salaxy-form-group>
          </div>
          <div class="col col-md-12 col-lg-6" ng-if="$ctrl.currentRow.irData.code == 304">
            <h2>Autoedun lisävalinnat</h2>
            <p>
              <strong>HUOM:</strong> Muistathan lisätä myös rivin<br />"Autoedusta peritty korvaus (401)".
            </p>
            <salaxy-input-enum label="Autoedun tyyppi" disabled="$ctrl.isIrRowReadOnly" enum="CarBenefitCode" name="carBenefitCode"
              ng-model="$ctrl.currentRow.irData.carBenefit.carBenefitCode" disabled="$ctrl.isIrRowReadOnly" type="select"></salaxy-input-enum>
            <salaxy-input-enum label="Ikäryhmä" enum="AgeGroupCode" name="ageGroupCode" disabled="$ctrl.isIrRowReadOnly" ng-model="$ctrl.currentRow.irData.carBenefit.ageGroupCode" type="select">
            </salaxy-input-enum>
            <salaxy-input-number label="Kilometrit" name="kilometers" disabled="$ctrl.isIrRowReadOnly" ng-model="$ctrl.currentRow.irData.carBenefit.kilometers">
            </salaxy-input-number>
          </div>
          <div class="col col-md-12 col-lg-6" ng-if="$ctrl.currentRow.irData.code == 331">
            <h2>Päivärahan lisävalinnat</h2>
            <salaxy-input-enum label="Päivärahan tyyppi" disabled="$ctrl.isIrRowReadOnly" enum="AllowanceCode" name="dailyAllowance" type="multi-select"
              ng-model="$ctrl.currentRow.irData.dailyAllowance"></salaxy-input-enum>
          </div>
          <div class="col col-md-12 col-lg-6" ng-if="$ctrl.currentRow.irData.code == 334">

            <h2>Ravintoedun lisävalinnat</h2>
            <p>Valitse, jos työntekijältä peritty korvaus vastaa verotusarvoa.</p>

            <salaxy-input-boolean type="checkbox" name="mealBenefitIsTaxValue" ng-model="$ctrl.currentRow.irData.mealBenefitIsTaxValue" label-type="plain"
              label-true="Vastaa verotusarvoa" disabled="$ctrl.isIrRowReadOnly"></salaxy-input-boolean>

          </div>
        </div>
        <div class="text-right" ng-if="!$ctrl.isIrRowReadOnly">
          <button type="button" class="btn btn-default" ng-click="$ctrl.recalculate()">Päivitä laskelma</button>
          <button type="button" class="btn btn-info" ng-click="$ctrl.addIrRow()">Lisää uusi rivi</button>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="'incomeType'" heading="Lisävalinnat ja ansaintakausi">
      <div class="form-horizontal">
        <h2>{{ $ctrl.currentRowType.label }} ({{ $ctrl.currentRowType.code }})</h2>
        <salaxy-input-enum label="Lisävalinnat" enum="IrFlags" name="flags" type="multi-select" disabled="$ctrl.isIrRowReadOnly" ng-model="$ctrl.currentRow.irData.flags">
        </salaxy-input-enum>
        <salaxy-form-group label="Miinusmerkkinen arvo" name="isNegativeSupported">
          <div ng-if="$ctrl.currentRowType.isNegativeSupported">Sallittu</div>
          <div ng-if="!$ctrl.currentRowType.isNegativeSupported">Ei sallittu</div>
        </salaxy-form-group>
        <div style="white-space: pre-wrap">{{ $ctrl.currentRowType.description }}</div>

        <h2>Ansaintakausi</h2>
        <p>Ansaintakausi (tulon ansainta-/kertymä aika) voi olla eri kuin palkanmaksukausi. Ansaintakausi on ajanjakso, jolta tulo on kertynyt. Ansaintakausi voi olla pidempi tai
          lyhyempi kuin palkanmaksukausi, esimerkiksi vuoden pituinen tai pidempi.</p>
        <salaxy-datepicker-popup name="startDate" disabled="$ctrl.isIrRowReadOnly" label="Ansaintakauden alkamispäivä" ng-model="$ctrl.currentRow.earningPeriod.start"></salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="endDate" disabled="$ctrl.isIrRowReadOnly" label="Ansaintakauden päättymispäivä" ng-model="$ctrl.currentRow.earningPeriod.end"></salaxy-datepicker-popup>
      </div>
    </uib-tab>
    <uib-tab index="'sideCosts'" heading="Ennakonpidätys ja vakuutukset">
      <div class="form-horizontal">
        <h2>{{ $ctrl.currentRowType.label }}</h2>
        <div style="white-space: pre-wrap">{{ $ctrl.currentRowType.taxAndSidecostsDescr }}</div>
        <table class="table">
          <tbody>
            <tr>
              <th>Ennakonpidätys</th>
              <td>
                <div ng-if="$ctrl.currentRowType.taxDefault == 1" class="text-success">Pidätetään</div>
                <div ng-if="$ctrl.currentRowType.taxDefault == -1" class="text-warning">Vähennys</div>
                <div ng-if="$ctrl.currentRowType.taxDefault == 0" class="text-danger">Ei pidätystä</div>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>Maksettava sosiaalivakuutusmaksu</th>
              <th>Maksetaan (oletus)</th>
              <th>
                <!-- TODO: Lisää tähän srakkeeseen tieto poikkeuksen jälkeen-->
              </th>
            </tr>
            <tr>
              <th>Työeläkemaksu</th>
              <td>
                <span ng-class="$ctrl.currentRowType.pensionInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.currentRowType.pensionInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <th>Tapaturmavak. maksu</th>
              <td>
                <span ng-class="$ctrl.currentRowType.accidentInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.currentRowType.accidentInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>Työttömyysvakuutusmaksu</th>
              <td>
                <span ng-class="$ctrl.currentRowType.unemploymentInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.currentRowType.unemploymentInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>SAVA-maksu</th>
              <td>
                <span ng-class="$ctrl.currentRowType.healthInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.currentRowType.healthInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div ng-if="!$ctrl.currentRowType.insuranceInformationAllowed">
          <p>Vakuutustiedolle ei voi asettaa poikkeusta tälle tietotyypille</p>
        </div>
        <salaxy-input-enum label="Vakuutuksen poikkeukset" enum="IrInsuranceExceptions" name="dailyAllowance" disabled="$ctrl.isIrRowReadOnly"
          ng-if="$ctrl.currentRowType.insuranceInformationAllowed" ng-model="$ctrl.currentRow.irData.insuranceExceptions" type="multi-select"></salaxy-input-enum>
      </div>
    </uib-tab>
    <uib-tab index="'json'" heading="JSON">
      <salaxy-json-formatter json="$ctrl.currentRow" open="2"></salaxy-json-formatter>
    </uib-tab>
  </uib-tabset>
</div>