<div class="salaxy-calc-details-dialog">
  <div class="panel panel-detail" ng-style="{'border-color':$ctrl.logic.getConfig($ctrl.current).color}">

    <form class="form-horizontal" ng-readonly="$ctrl.logic.isReadOnly">
      <div class="panel-heading " ng-style="{'background-color':$ctrl.logic.getConfig($ctrl.current).color, 'border-color':$ctrl.logic.getConfig($ctrl.current).color}">
        <button type="button" class="close pull-right" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="pull-left avatar-container">
          <salaxy-avatar class="" avatar="{ color: $ctrl.logic.getConfig($ctrl.current).color, initials: $ctrl.logic.getConfig($ctrl.current).iconText, entityType: 'company' }">
          </salaxy-avatar>
        </span>
        <h1>{{ $ctrl.logic.getConfig($ctrl.current).label }}<span class="smaller" ng-if="$ctrl.current.message"> -
            {{$ctrl.current.message}}</span></h1>
        <p class="calc-text">{{$ctrl.current.count}} <span ng-if="$ctrl.current.count">&times;</span> {{$ctrl.current.price}}
          <span class="result-text">{{ $ctrl.logic.getRowTotal($ctrl.current) | currency }}</span>
        </p>
        <a ng-show="$ctrl.logic.getConfig($ctrl.current).moreInfo" class="btn-link btn-showmore" ng-click="showInfo = !showInfo">{{!showInfo ?
          ('SALAXY.NG1.CalcRowsComponent.editDialog.showInfo' | sxyTranslate) : ('SALAXY.NG1.CalcRowsComponent.editDialog.hideInfo' | sxyTranslate)}}<i
            class="fa fa-info-circle"></i></a>
      </div>
      <div class="panel-body">
        <p>{{ $ctrl.logic.getConfig($ctrl.current).descr }}
          <!-- TODO: We should have full HTML formatting here instead of just white-space: pre-wrap -->
          <span class="collapse" ng-class="{show: showInfo}" style="white-space: pre-wrap;"><br>{{ $ctrl.logic.getConfig($ctrl.current).moreInfo }}</span>
        </p>
        <div>
          <!-- TODO: The row specific UI's need to be refactored to a better structure soon. -->
          <div ng-switch="$ctrl.current.rowType">
            <div ng-switch-when="salary|monthlySalary|compensation" ng-switch-when-separator="|">
              <!-- Row types that have count hidden, but should be shown in edit -->
              <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1"></salaxy-input-number>
              <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
            </div>
            <div ng-switch-when="irIncomeType">
              <ng-include src="'salaxy-components/calc/rows/dialog-irIncomeType.html'"></ng-include>
            </div>
            <div ng-switch-when="unionPayment">
              <salaxy-input-enum label="Jäsenmaksu" label-type="horizontal" enum="UnionPaymentKind" hidden-options="other,undefined" require="true"
                ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="UnionPaymentKind" ng-model="$ctrl.current.data.kind" type="select">
              </salaxy-input-enum>
              <div class="alert alert-warning" ng-if=" $ctrl.current.data.kind == 'raksaNormal' ||  $ctrl.current.data.kind == 'raksaUnemploymentOnly'""><p>Käytössä toistaiseksi vain näissä palveluissa: Rakennusliitto</p></div>
                <salaxy-input-number ng-if=" $ctrl.current.data.kind=='percentage' || $ctrl.current.data.kind=='raksaNormal' ||
                $ctrl.current.data.kind=='raksaUnemploymentOnly'" required=" true" ng-model="$ctrl.current.count" name="count" label-type="horizontal" unit="percent"
                label="Prosenttia palkasta" disabled="$ctrl.current.data.kind == 'raksaNormal' ||  $ctrl.current.data.kind == 'raksaUnemploymentOnly'"
                ng-change="$ctrl.logic.updateUsecase($ctrl.current)">
                </salaxy-input-number>

                <salaxy-input-number ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true" disabled="$ctrl.current.data.kind != 'fixed'"
                  label="{{$ctrl.current.data.kind == 'fixed'? 'Jäsenmaksun määrä' : 'Ennakonpidätyksen alainen palkka'}}" ng-change="$ctrl.logic.updateUsecase($ctrl.current)">
                </salaxy-input-number>

                <div class="row">
                  <div class="input-info col-xs-offset-4 col-xs-8">
                    <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
                    <p class="small input-info-text with-icon">Täytä ammattiyhdistyksen nimi, pankkitili ja viitetiedot, jos sinulla on käytössä maksuaineiston luonti.</p>
                  </div>
                </div>
                <salaxy-input ng-model="$ctrl.current.data.recipientFullName" name="unionFullName" label-type="horizontal" require="false" label="Ammattiyhdistys"></salaxy-input>
                <salaxy-input ng-model="$ctrl.current.data.iban" name="unionIban" label-type="horizontal" require="false" label="Pankkitili (iban) maksun luontia varten" sxy-iban>
                </salaxy-input>
                <salaxy-input ng-model="$ctrl.current.data.referenceNumber" name="unionReferenceNumber" label-type="horizontal" require="false"
                  label="Pankkiviite maksun luontia varten"></salaxy-input>
              </div>
              <div ng-switch-when="foreclosure">
                <salaxy-input-enum label="Summan määräytyminen" label-type="horizontal" enum="ForeclosureKind" require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"
                  name="ForeclosureKind" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <salaxy-input-number ng-model="$ctrl.current.count" name="count" label-type="horizontal" unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')" ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"
                  label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.current.data.kind == 'periodic' || $ctrl.current.data.kind == 'nonPeriodic'" label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-if="$ctrl.current.data.kind == 'periodic'" ng-model="$ctrl.current.data.periodLength" name="periodLength" label-type="horizontal"
                  disabled="true" label="Palkanmaksukauden pituus" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-if="$ctrl.current.data.kind == 'periodic'" ng-model="$ctrl.current.data.protectedPortionBase" name="protectedPortionBase"
                  label-type="horizontal" require="true" label="Velallisen suojaosuus" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-if="$ctrl.current.data.kind == 'periodic'" ng-model="$ctrl.current.data.protectedPortionDependant" name="protectedPortionDependant"
                  label-type="horizontal" label="Suojaosuuden lisä/huollettava" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-if="$ctrl.current.data.kind == 'periodic'" sxy-integer ng-model="$ctrl.current.data.dependantsCount" name="dependantsCount"
                  label-type="horizontal" label="Huollettavien määrä" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-if="$ctrl.current.data.kind == 'periodic'" ng-model="$ctrl.current.data.incomeFromOtherSources" name="incomeFromOtherSources"
                  label-type="horizontal" label="Muualta saatu tulo/kk" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number ng-if="$ctrl.current.data.kind == 'periodic'" ng-model="$ctrl.current.data.additionalAmountLeftToDebtor" name="additionalAmountLeftToDebtor"
                  label-type="horizontal" label="Velalliselle jätettävä määrä/kk" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <div class="row">
                  <div class="input-info col-xs-offset-4 col-xs-8">
                    <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
                    <p class="small input-info-text with-icon">Täytä pankkiviitetiedot, jos sinulla on käytössä maksuaineiston luonti.</p>
                  </div>
                </div>
                <salaxy-input ng-model="$ctrl.current.data.referenceNumber" name="referenceNumber" label-type="horizontal" require="false"
                  label="RF-pankkiviite maksun luontia varten"></salaxy-input>
              </div>
              <div ng-switch-when="totalWorkerPayment">
                <salaxy-input-enum label="Summan sisältämät erät" label-type="horizontal" enum="TotalWorkerPaymentKind" require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"
                  name="TotalWorkerPaymentKind" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <salaxy-input-number ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                   label="Summa" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                <salaxy-input-enum label="Palkkalaji" label-type="horizontal" enum="CalculationRowType" require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"
                   name="CalculationRowType" ng-model="$ctrl.current.data.rowType" filter="salary,monthlySalary" type="select"></salaxy-input-enum>
                <salaxy-input ng-model="$ctrl.current.data.message" name="message" label-type="horizontal" require="false"
                  label="Palkkarivin kuvaus"></salaxy-input>
              </div>
              <div ng-switch-when="carBenefit">
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.carBenefit.carBenefitCode" label-type="horizontal" enum="CarBenefitCode" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="CarBenefitCode" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.carBenefit.ageGroupCode" label-type="horizontal" enum="AgeGroupCode" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" hidden-options="undefined,u" name="AgeGroupCode" ng-model="$ctrl.current.data.ageGroup" type="select">
                </salaxy-input-enum>
                <salaxy-input-boolean type="checkbox" name="isKilometersBased" label="SALAXY.NG1.CalcRowsComponent.editDialog.carBenefit.kilometersBased"
                  label-true="Kyllä: autoetu lasketaan kilometrien perusteella (ajopäiväkirjasta)." label-type="horizontal" ng-model="$ctrl.current.data.isKilometersBased">
                </salaxy-input-boolean>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.carBenefit.kilometers" ng-model="$ctrl.current.data.kilometers" name="kilometers"
                  label-type="horizontal" require="true" ng-if="$ctrl.current.data.isKilometersBased"></salaxy-input-number>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.carBenefit.deduction" ng-model="$ctrl.current.data.deduction" name="deduction"
                  label-type="horizontal"></salaxy-input-number>
              </div>
              <div ng-switch-when="subsidisedCommute">
                <p sxy-html="SALAXY.NG1.CalcRowsComponent.editDialog.subsidisedCommute.info.html">
                </p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.subsidisedCommute.subsidisedCommuteKind" label-type="horizontal" enum="SubsidisedCommuteKind"
                  require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="SubsidisedCommuteKind" ng-model="$ctrl.current.data.kind" type="select">
                </salaxy-input-enum>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.subsidisedCommute.deduction" ng-model="$ctrl.current.data.deduction" name="deduction"
                  label-type="horizontal" ng-if="$ctrl.current.data.kind == 'singleDeduction' || $ctrl.current.data.kind == 'periodicalDeduction'"></salaxy-input-number>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.subsidisedCommute.periodDivider" ng-model="$ctrl.current.data.periodDivider"
                  name="periodDivider" label-type="horizontal" ng-if="$ctrl.current.data.kind == 'periodicalDeduction'"></salaxy-input-number>
              </div>
              <div ng-switch-when="nonProfitOrg">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.nonProfitOrg.profitOrgKind" label-type="horizontal" enum="NonProfitOrgKind" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="NonProfitOrgKind" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="dailyAllowance">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.dailyAllowance.allowanceKind" label-type="horizontal" enum="DailyAllowanceKind" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="DailyAllowanceKind" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="mealBenefit">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.mealBenefitKind" label-type="horizontal" enum="MealBenefitKind" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="MealBenefitKind" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <p>{{ "MealBenefitKind." + $ctrl.current.data.kind | sxyEnumDescr }}</p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.mealPrice" ng-model="$ctrl.current.price" name="price" label-type="horizontal"
                  require="true" ng-if="$ctrl.current.data.kind == 'mealAllowance'" disabled="$ctrl.logic.isDisabled($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.mealTaxablePrice" ng-model="$ctrl.current.price" name="price"
                  label-type="horizontal" require="true" ng-if="!$ctrl.current.data.kind || $ctrl.current.data.kind == 'undefined' || $ctrl.current.data.kind == 'taxableAmount'"
                  disabled="$ctrl.logic.isDisabled($ctrl.current)"></salaxy-input-number>
                <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.mealTicketPrice" ng-model="$ctrl.current.price" name="price" label-type="horizontal"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" require="true" ng-if="$ctrl.current.data.kind == 'mealTicket'"
                  disabled="$ctrl.logic.isDisabled($ctrl.current)"></salaxy-input-number>
                <div ng-if="$ctrl.current.data.kind && $ctrl.current.data.kind != 'mealAllowance'">
                  <salaxy-form-group label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.mealPriceAmount" name="taxablePrice" label-type="horizontal"
                    ng-if="$ctrl.current.data.kind && $ctrl.current.data.kind != 'undefined' && $ctrl.current.data.kind != 'taxableAmount'">
                    <label class="control-label">{{ $ctrl.current.data.taxablePrice * ($ctrl.current.count || 1) | currency }}</label>
                  </salaxy-form-group>
                  <salaxy-input-boolean label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.taxValue"
                    label-true="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.taxValueTrue" name="isTaxValue" type="checkbox" ng-model="$ctrl.current.data.isTaxValue"
                    label-type="horizontal" ng-click="$ctrl.current.data.deduction = $ctrl.current.data.taxablePrice * $ctrl.current.count"></salaxy-input-boolean>
                  </salaxy-form-group>
                  <salaxy-input-number label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.deduction" ng-model="$ctrl.current.data.deduction" name="deduction"
                    label-type="horizontal" disabled="$ctrl.logic.isDisabled($ctrl.current)"></salaxy-input-number>
                  <salaxy-form-group name="taxablePrice" label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.taxablePrice" label-type="horizontal"
                    ng-if="$ctrl.current.data.isTaxValue">
                    <label class="control-label">{{ $ctrl.current.data.taxablePrice * $ctrl.current.count - $ctrl.current.data.deduction | currency }}</label>
                  </salaxy-form-group>
                  <salaxy-form-group name="taxablePrice" label="SALAXY.NG1.CalcRowsComponent.editDialog.mealBenefit.taxablePrice2" label-type="horizontal"
                    ng-if="!$ctrl.current.data.isTaxValue">
                    <label class="control-label">{{ $ctrl.current.data.taxablePrice * $ctrl.current.count - $ctrl.current.data.deduction | currency }}</label>
                  </salaxy-form-group>
                </div>
              </div>
              <div ng-switch-when="board">
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="remuneration">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.remuneration.remunerationKind" label-type="horizontal" enum="RemunerationKind" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="RemunerationKind" ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <p>{{ "RemunerationKind." + $ctrl.current.data.kind | sxyEnumDescr }}</p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="otherCompensation">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.otherCompensation.compensationKind" label-type="horizontal" enum="OtherCompensationKind"
                  require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="OtherCompensationKind" ng-model="$ctrl.current.data.kind" type="select">
                </salaxy-input-enum>
                <p>{{ "OtherCompensationKind." + $ctrl.current.data.kind | sxyEnumDescr }}</p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="workingTimeCompensation">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.workingTimeCompensation.compensationKind" label-type="horizontal"
                  enum="WorkingTimeCompensationKind" require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="WorkingTimeCompensation"
                  ng-model="$ctrl.current.data.kind" type="select">
                </salaxy-input-enum>
                <p>{{ "WorkingTimeCompensationKind." + $ctrl.current.data.kind | sxyEnumDescr }}</p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="employmentTermination">
                <salaxy-input-enum label="SALAXY.NG1.CalcRowsComponent.editDialog.employmentTermination.employmentTerminationKind" label-type="horizontal"
                  enum="EmploymentTerminationKind" require="true" ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="EmploymentTermination"
                  ng-model="$ctrl.current.data.kind" type="select"></salaxy-input-enum>
                <p>{{ "EmploymentTerminationKind." + $ctrl.current.data.kind | sxyEnumDescr }}</p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
              <div ng-switch-when="hourlySalaryWithWorkingTimeCompensation">
                <salaxy-input-enum label="Tuntipohjainen korvaus" label-type="horizontal" enum="WorkingTimeCompensationKind" require="true"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" name="HourlySalaryWithWorkingTimeCompensation" ng-model="$ctrl.current.data.kind" type="select">
                </salaxy-input-enum>
                <p>{{ "WorkingTimeCompensationKind." + $ctrl.current.data.kind | sxyEnumDescr }}</p>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-change="$ctrl.logic.updateUsecase($ctrl.current)" ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-change="$ctrl.logic.updateUsecase($ctrl.current)"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>

                <salaxy-form-group name="compensationRow" label-type="form-horizontal" label="Lisä" required="true" ng-repeat="cr in $ctrl.current.data.compensationRows">
                  <style>
                    div.input-group-addon {
                      display: none;
                    }
                    div.input-group {
                      width: 100%
                    }
                  </style>
                  <div class="input-group">
                    <salaxy-input-number ng-if="cr.unit == 'percent'" ng-model="cr.count" name="count" label-type="plain" require="true" unit="percent"
                      ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>
                    <salaxy-input-number ng-if="cr.unit != 'percent'" ng-model="cr.price" name="price" label-type="plain" require="true"
                      ng-change="$ctrl.logic.updateUsecase($ctrl.current)"></salaxy-input-number>

                    <div class="input-group-btn" uib-dropdown>
                      <button id="compUnit" type="button" class="btn btn-primary"  uib-dropdown-toggle >
                        {{ cr.unit == 'percent'? "%": "€" }}  <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="compUnit">
                        <li role="menuitem"><a href="" ng-click="cr.unit = 'percent';$ctrl.logic.updateUsecase($ctrl.current)">%</a></li>
                        <li role="menuitem"><a href="" ng-click="cr.unit = 'hours';$ctrl.logic.updateUsecase($ctrl.current)">€</a></li>
                      </ul>
                    </div>
                  </div>
                </salaxy-form-group>
              </div>
              <div ng-switch-default>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).amount.label}}" ng-model="$ctrl.current.count" name="count" label-type="horizontal"
                  unit="{{$ctrl.logic.getConfig($ctrl.current).amount.unit}}" placeholder="1" disabled="$ctrl.logic.isDisabled($ctrl.current, 'amount')"
                  ng-if="$ctrl.logic.getConfig($ctrl.current).amount.input != 'hidden'"></salaxy-input-number>
                <salaxy-input-number label="{{$ctrl.logic.getConfig($ctrl.current).price.label}}" ng-model="$ctrl.current.price" name="price" label-type="horizontal" require="true"
                  disabled="$ctrl.logic.isDisabled($ctrl.current, 'price')" ng-if="$ctrl.logic.getConfig($ctrl.current).price.input != 'hidden'"></salaxy-input-number>
              </div>
            </div>
            <div ng-if="$ctrl.current.rowType == 'prepaidExpenses' || $ctrl.current.rowType == 'expenses'">
              <salaxy-form-group name="vatPercentGroup" label="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercent.label" label-type="horizontal">
                <select id="vatPercent" name="vatPercent" ng-model="$ctrl.current.data.accounting.vatPercent" class="form-control">
                  <option ng-value='' sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.pempty.label"></option>
                  <option ng-value='0.24' sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p24.label"></option>
                  <option ng-value='0.14' sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p14.label"></option>
                  <option ng-value='0.1' sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p10.label"></option>
                  <option ng-value='0' sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p0.label"></option>
                </select>
                <div ng-switch="$ctrl.current.data.accounting.vatPercent">
                  <span ng-switch-when="0.24" class="text-success small" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p24.description"></span>
                  <span ng-switch-when="0.14" class="text-success small" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p14.description"></span>
                  <span ng-switch-when="0.1" class="text-success small" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p10.description"></span>
                  <span ng-switch-when="0" class="text-success small" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.p0.description"></span>
                  <span ng-switch-default class="text-success small" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.accounting.vatPercents.pempty.description"></span>
                </div>
              </salaxy-form-group>
            </div>
            <div ng-if="$ctrl.current.rowType != 'irIncomeType'">
              <salaxy-input label="SALAXY.NG1.CalcRowsComponent.editDialog.additionalRows.description" label-type="horizontal" disabled="$ctrl.logic.isDisabled($ctrl.current)"
                ng-model="$ctrl.current.message" name="message"></salaxy-input>
              <salaxy-input label="SALAXY.NG1.CalcRowsComponent.editDialog.additionalRows.additionalRow" label-type="horizontal" disabled="$ctrl.logic.isDisabled($ctrl.current)"
                ng-model="$ctrl.current.data.sxySalarySlipRowComment" name="message"></salaxy-input>
            </div>
          </div>
          <div class="text-right" ng-if="!$ctrl.logic.isReadOnly">
            <button type="button " class="btn btn-danger pull-left" ng-click="$close('delete-no-save')" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.buttons.delete"></button>
            <button type="button" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.buttons.cancel"></button>
            <button type="submit" class="btn btn-primary" ng-click="$close('ok-no-save')" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.buttons.save"></button>
          </div>
          <div ng-if="$ctrl.logic.isReadOnly" class="text-right">
            <button type="button" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.CalcRowsComponent.editDialog.buttons.close"></button>
          </div>
        </div>
    </form>
  </div>
</div>