<uib-tabset active="$ctrl.currentTab">
  <uib-tab index="'basic'" heading="Perustiedot">
    <div class="col">
      <fieldset>
        <legend>Teksti ja tulolaji</legend>
        <salaxy-input-income-type name="code" ng-model="$ctrl.current.data.irData.code"  hidden-codes="[1]" label="Tulolaji" ng-change="$ctrl.logic.updateUsecase($ctrl.current)">
        </salaxy-input-income-type>
        <salaxy-input name="message" ng-model="$ctrl.current.message" label="Viesti"></salaxy-input>

        <salaxy-form-group label="Maksu asiakasvaratilille" name="paymentDefault">
          <!--TODO -->
          <div ng-if="$ctrl.logic.irCodeData($ctrl.current).paymentDefault == 1">Maksetaan</div>
          <div ng-if="$ctrl.logic.irCodeData($ctrl.current).paymentDefault == -1">Vähennetään</div>
          <div ng-if="$ctrl.logic.irCodeData($ctrl.current).paymentDefault == 0">Ei maksua</div>
        </salaxy-form-group>
      </fieldset>
    </div>
    <div class="col">
      <fieldset>
        <legend>Laskelma</legend>
        <salaxy-input-number name="count" ng-model="$ctrl.current.count" label="Määrä"></salaxy-input-number>
        <salaxy-input-enum name="Unit" label="Yksikkö" enum="Unit" ng-model="$ctrl.current.unit" type="select"></salaxy-input-enum>
        <salaxy-input-number name="price" ng-model="$ctrl.current.price" label="Hinta"></salaxy-input-number>
        <salaxy-form-group name="total" label="Yhteensä">
          <p>{{ $ctrl.current.count * $ctrl.current.price | currency }}</p>
        </salaxy-form-group>
      </fieldset>
    </div>
    <div class="col" ng-if="$ctrl.current.data.irData.code == 304">
      <fieldset>
        <legend>Autoedun lisävalinnat</legend>
        <p>
          <strong>HUOM:</strong> Muistathan lisätä myös rivin "Autoedusta peritty korvaus (401)".
        </p>
        <salaxy-input-enum label="Autoedun tyyppi" enum="CarBenefitCode" name="carBenefitCode" ng-model="$ctrl.current.data.irData.carBenefit.carBenefitCode"
          type="select"></salaxy-input-enum>
        <salaxy-input-enum label="Ikäryhmä" enum="AgeGroupCode" name="ageGroupCode" ng-model="$ctrl.current.data.irData.carBenefit.ageGroupCode" type="select">
        </salaxy-input-enum>
        <salaxy-input-number label="Kilometrit" name="kilometers" ng-model="$ctrl.current.data.irData.carBenefit.kilometers"></salaxy-input-number>
      </fieldset>
    </div>
    <div class="col" ng-if="$ctrl.current.data.irData.code == 331">
      <fieldset>
        <legend>Päivärahan lisävalinnat</legend>
        <salaxy-input-enum label="Päivärahan tyyppi" enum="AllowanceCode" name="dailyAllowance" type="multi-select"
          ng-model="$ctrl.current.data.irData.dailyAllowance"></salaxy-input-enum>
      </fieldset>
    </div>

    <div class="col" ng-if="$ctrl.current.data.irData.code == 334">
      <fieldset>
        <legend>Ravintoedun lisävalinnat</legend>
        <p>Valitse, jos työntekijältä peritty korvaus vastaa verotusarvoa.</p>

        <salaxy-input-boolean type="checkbox" name="mealBenefitIsTaxValue" ng-model="$ctrl.current.data.irData.mealBenefitIsTaxValue" label-type="plain"
          label-true="Vastaa verotusarvoa"></salaxy-input-boolean>
      </fieldset>
    </div>
  </uib-tab>
  <uib-tab index="'incomeType'" heading="Lisävalinnat ja ansaintakausi">
    <div class="col">
      <fieldset>
        <legend>{{ $ctrl.current.message }} ({{ $ctrl.current.data.irData.code }})</legend>
        <salaxy-input-enum label="Lisävalinnat" enum="IrFlags" name="flags" type="multi-select" ng-model="$ctrl.current.data.irData.flags"></salaxy-input-enum>
        <salaxy-form-group label="Miinusmerkkinen arvo" name="isNegativeSupported">
          <div ng-if="$ctrl.logic.irCodeData($ctrl.current).isNegativeSupported">Sallittu</div>
          <div ng-if="!$ctrl.logic.irCodeData($ctrl.current).isNegativeSupported">Ei sallittu</div>
        </salaxy-form-group>
        <div style="white-space: pre-wrap">{{ $ctrl.logic.irCodeData($ctrl.current).description }}</div>
      </fieldset>
    </div>
    <div class="col">
      <fieldset>
        <legend>Ansaintakausi</legend>
        <p>Ansaintakausi (tulon ansainta-/kertymä aika) voi olla eri kuin palkanmaksukausi. Ansaintakausi on ajanjakso, jolta tulo on kertynyt. Ansaintakausi voi olla pidempi tai lyhyempi kuin palkanmaksukausi, esimerkiksi vuoden pituinen tai pidempi.</p>
        <salaxy-datepicker-popup name="startDate" label="Ansaintakauden alkamispäivä" ng-model="$ctrl.current.data.earningPeriod.start"></salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="endDate" label="Ansaintakauden päättymispäivä" ng-model="$ctrl.current.data.earningPeriod.end"></salaxy-datepicker-popup>
      </fieldset>
    </div>
  </uib-tab>
  <uib-tab index="'sideCosts'" heading="Ennakonpidätys ja vakuutukset">
    <div class="col">
      <fieldset>
        <legend>{{ $ctrl.current.message }}</legend>
        <div style="white-space: pre-wrap">{{ $ctrl.logic.irCodeData($ctrl.current).taxAndSidecostsDescr }}</div>
        <table class="table">
          <tbody>
            <tr>
              <th>Ennakonpidätys</th>
              <td>
                <div ng-if="$ctrl.logic.irCodeData($ctrl.current).taxDefault == 1" class="text-success">Pidätetään</div>
                <div ng-if="$ctrl.logic.irCodeData($ctrl.current).taxDefault == -1" class="text-warning">Vähennys</div>
                <div ng-if="$ctrl.logic.irCodeData($ctrl.current).taxDefault == 0" class="text-danger">Ei pidätystä</div>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>Maksettava sosiaalivakuutusmaksu</th>
              <th>Maksetaan (oletus)</th>
              <th>
                <!-- TODO: Lisää tähän srakkeeseen tieto poikkeuksen jälkeen-->
              </th>
            </tr>
            <tr>
              <th>Työeläkemaksu</th>
              <td>
                <span ng-class="$ctrl.logic.irCodeData($ctrl.current).pensionInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.logic.irCodeData($ctrl.current).pensionInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <th>Tapaturmavak. maksu</th>
              <td>
                <span ng-class="$ctrl.logic.irCodeData($ctrl.current).accidentInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.logic.irCodeData($ctrl.current).accidentInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>Työttömyysvakuutusmaksu</th>
              <td>
                <span ng-class="$ctrl.logic.irCodeData($ctrl.current).unemploymentInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.logic.irCodeData($ctrl.current).unemploymentInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>SAVA-maksu</th>
              <td>
                <span ng-class="$ctrl.logic.irCodeData($ctrl.current).healthInsurance ? 'text-success' : 'text-danger'">
                  {{ $ctrl.logic.irCodeData($ctrl.current).healthInsurance ? "Kyllä" : "Ei" }}
                </span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div ng-if="!$ctrl.logic.irCodeData($ctrl.current).insuranceInformationAllowed">
          <p>Vakuutustiedolle ei voi asettaa poikkeusta tälle tietotyypille</p>
        </div>
        <salaxy-input-enum label="Vakuutuksen poikkeukset" enum="IrInsuranceExceptions" name="dailyAllowance" disabled="$ctrl.isIrRowReadOnly"
          ng-if="$ctrl.logic.irCodeData($ctrl.current).insuranceInformationAllowed" ng-model="$ctrl.current.data.irData.insuranceExceptions" type="multi-select">
        </salaxy-input-enum>
      </fieldset>
    </div>
  </uib-tab>
</uib-tabset>