<div ng-controller="CalendarOccurencesCrudController as $ctrl" ng-init="$ctrl.model = 'url'">
  <salaxy-spinner full-screen="true" ng-if="$ctrl.isLoading"></salaxy-spinner>
  <h2>{{ $ctrl.current.summary }}</h2>
  <uib-tabset active="$ctrl.currentDetailsTab" ng-if="$ctrl.current">
    <uib-tab index="'basic'" heading="Perustiedot">
      <div class="row form-horizontal">
        <div class="col-sm-6">
          <fieldset>
            <legend>Kalenteritapahtuma</legend>
            <salaxy-form-group name="start" class="salaxy-component salaxy-read-only" label="Alku">
              <div class="salaxy-read-only-value">{{ $ctrl.helper.format($ctrl.current, "start") }}</div>
            </salaxy-form-group>
            <salaxy-form-group name="duration" class="salaxy-component salaxy-read-only" label="Kesto">
              <div class="salaxy-read-only-value">{{ $ctrl.helper.format($ctrl.current, "duration") }}</div>
            </salaxy-form-group>
            <salaxy-form-group name="end" class="salaxy-component salaxy-read-only" label="Loppu">
              <div class="salaxy-read-only-value">{{ $ctrl.helper.format($ctrl.current, "end") }}</div>
            </salaxy-form-group>
            <salaxy-input-boolean name="isAllDay" ng-model="$ctrl.current.isAllDay" type="checkbox" label="Koko päivän" read-only="true"></salaxy-input-boolean>
          </fieldset>
        </div>
        <div class="col-sm-6">
          <fieldset>
            <legend>Lisätietoja</legend>
            <salaxy-input-enum name="priority" enum="CalendarEventStatus" ng-model="$ctrl.current.event.status" label="Status" read-only="true"></salaxy-input-enum>
            <salaxy-form-group name="start" class="salaxy-component salaxy-read-only" label="Kategoriat">
              <div class="salaxy-read-only-value">
                <div ng-repeat="cat in $ctrl.current.event.categories" ><span>{{ cat + ($last ? "" : ", ") }}</span></div>
                <div ng-if="!$ctrl.current.event.categories.length">-</div>
              </div>
            </salaxy-form-group>
            <salaxy-input-number name="priority" ng-model="$ctrl.current.event.priority" label="Prioriteetti" read-only="true"></salaxy-input-number>
          </fieldset>
        </div>
      </div>
      <div style="border: gray 1px solid; padding: 5px; white-space: pre-wrap;"
        ng-bind-html="$ctrl.helper.formatDescription($ctrl.current.event.description)"></div>
    </uib-tab>
    <uib-tab index="'recurrence'" heading="Toistuvuus" disable="!$ctrl.current.event.recurrenceRules.length">
      <salaxy-calendar periods="$ctrl.currentEventPeriods" on-list-select="TODO"
        today="$crud.currentDay" start="$ctrl.currentEventPeriods[0].range.start" end="$ctrl.currentEventPeriods[$ctrl.currentEventPeriods.length-1].range.end"></salaxy-calendar>
      <div>&nbsp;</div>
      <div ng-if="!$ctrl.current.event.recurrenceRules.length">Tapahtuma ei toistu</div>
      <fieldset ng-repeat="rule in $ctrl.current.event.recurrenceRules">
        <legend>Sääntö {{ $index + 1 }}</legend>
        <salaxy-form-group name="start" class="salaxy-component salaxy-read-only" label="Tekninen sääntö">
          <div class="salaxy-read-only-value"><code>{{ rule }}</code></div>
          <p>TODO: Säännön purku ymmärrettäväksi</p>
        </salaxy-form-group>
      </fieldset>
    </uib-tab>
    <uib-tab index="'actions'" heading="Tehtävät / ilmoitukset ({{ $ctrl.current.event.actions.length }})"
      disable="!$ctrl.current.event.actions.length">
      <div>
        <fieldset ng-repeat="action in $ctrl.current.event.actions" class="form-horizontal">
          <legend>
            {{ "CalendarActionType." + action.type | sxyEnum }}
            <span ng-if="action.summary">: {{ action.summary }}</span>
          </legend>
          <p class="lead">{{ action.description }}</p>
          <salaxy-form-group name="triggerDuration" class="salaxy-component salaxy-read-only" label="Periodi (ennen/jälkeen)">
            <div class="salaxy-read-only-value">{{ action.triggerDuration }} (TODO: Fromat)</div>
          </salaxy-form-group>
          <salaxy-datepicker-popup name="triggerDateTime" ng-model="action.triggerDateTime" label="Aika" read-only="true"></salaxy-datepicker-popup>
          <salaxy-input-number name="repeat" ng-model="action.repeat" label="Toistuu (kpl)" read-only="true"></salaxy-input-number>
          <salaxy-form-group name="attendees" class="salaxy-component salaxy-read-only" label="Vastaanottajat">
            <div class="salaxy-read-only-value" ng-if="!action.attendees.length">-</div>
            <ul class="list-group">
              <li ng-repeat="avatar in action.attendees" class="list-group-item">
                <salaxy-avatar style="font-size: 3em" class="pull-left" avatar="avatar"></salaxy-avatar>
                <div>{{ avatar.displayName }}</div>  
                <div><a ng-if="avatar.email" ng-href="{{'mailto:' + avatar.email}}" target="_blank">{{ avatar.email }}</a></div>
              </li>
            </ul>
          </salaxy-form-group>
        </fieldset>
      </div>
    </uib-tab>
    <uib-tab index="'attendees'" heading="Henkilöt ({{ $ctrl.current.event.attendees.length }})"
      disable="!$ctrl.current.event.attendees.length">
      <ul class="list-group">
        <li ng-repeat="avatar in $ctrl.current.event.attendees" class="list-group-item">
          <salaxy-avatar style="font-size: 3em" class="pull-left" avatar="avatar"></salaxy-avatar>
          <div>{{ avatar.displayName }}</div>  
          <div><a ng-if="avatar.email" ng-href="{{'mailto:' + avatar.email}}" target="_blank">{{ avatar.email }}</a></div>
        </li>
      </ul>
      <div ng-if="!$ctrl.current.event.attendees.length">Ei henkilöitä</div>
    </uib-tab>
    <uib-tab index="'attachments'" heading="Liitteet ({{ $ctrl.current.event.attachments.length }})"
      disable="!$ctrl.current.event.attachments.length">
      <ul>
        <li ng-repeat="attach in $ctrl.current.event.attachments" >TODO: {{ attach.uri || attach.formatType || attach.valueEncoding }}</li>
      </ul>
    </uib-tab>
    <uib-tab index="'debug'" heading="Debug">
      <salaxy-json-formatter key="'Event'" json="$ctrl.current" open="1"></salaxy-json-formatter>
    </uib-tab>
  </uib-tabset>
</div>