
<div class="salaxy-component salaxy-calendar-event-list">
  <h1>Palkanlaskijan kalenteri</h1>
  <salaxy-odata-table crud-controller="CalendarOccurencesCrudController as $crud"></salaxy-odata-table>
</div>