<div class="row">
  <div class="col-sm-6 form-horizontal">
    <fieldset>
      <legend>Aikaperiodi ja filtteri</legend>
      <salaxy-datepicker-popup ng-model="$crud.range.start" name="start" label="Alku"></salaxy-datepicker-popup>
      <salaxy-datepicker-popup ng-model="$crud.range.end" name="end" label="Loppu"></salaxy-datepicker-popup>
      <button type="button" class="btn btn-primary" ng-click="$crud.reloadCalendar()">Hae kalenteri</button>
    </fieldset>
  </div>
  <div class="col-sm-6 form-horizontal">
    <fieldset>
      <legend>Tulokset</legend>
      <salaxy-form-group name="occurences_length" class="salaxy-component salaxy-read-only" label="Tapahtumia">
        <div class="salaxy-read-only-value">{{ $ctrl.items.length }}</div>
      </salaxy-form-group>
    </fieldset>
  </div>
</div>