<salaxy-calendar periods="$crud.helper.calendarPeriods" on-list-select="$crud.currentDay = date"
  today="$crud.currentDay" start="$crud.range.start" end="$crud.range.end"></salaxy-calendar>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Otsikko</th>
        <th>Kategoriat</th>
        <th>Alku</th>
        <th>Kesto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $crud.todayOccurences">
        <td>
          <i ng-if="row.data.actionId" class="fa fa-bell" aria-hidden="true"></i>
          <i ng-if="row.data.isRecurring" class="fa fa-refresh" aria-hidden="true"></i>
          {{ row.shortText }}
        </td>
        <td><small ng-repeat="cat in row.flags">{{ cat + ($last ? "" : ", ") }}</small></td>
        <td>{{ $crud.helper.format(row.data, "start") }}</td>
        <td>{{ $crud.helper.format(row.data, "duration") }}</td>
        <td><button type="button" ng-click="$crud.showOccurence(row)" class="btn btn-default btn-xs">Näytä...</button></td>
      </tr>
    </tbody>
  </table>
</div>