<style>
  .salaxy-calendar-weekly {
    padding-right: 28px;
  }
  .salaxy-calendar-week-header,
  .salaxy-calendar-weekday,
  .salaxy-calendar-weekend-day {
    padding: 6px;
    margin-right: -28px;
  }

  .salaxy-calendar-weekly .list-group {
    margin-right: -28px;
    min-height: 332px;
    border: lightgrey solid 1px;
  }

  .salaxy-calendar-weekly .list-group.weekend {
    min-height: 165px;
    margin-bottom: 2px;
  }

  .salaxy-calendar-weekly .list-group-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
  }

  .salaxy-calendar-weekly .list-group-item.active {
    font-weight: bold;
  }

  .salaxy-calendar-week-header {
    height: 32px;
    background-color: #009fd8;
    color: white;
    font-weight: bold;
  }

  .salaxy-calendar-weekday {
    min-height: 332px;
    border: lightgrey solid 1px;
  }

  .salaxy-calendar-weekend-day {
    min-height: 150px;
    border: lightgrey solid 1px;
  }
</style>
<salaxy-calendar periods="$crud.helper.calendarPeriods" on-list-select="$crud.currentDay = date"
  today="$crud.currentDay" start="$crud.range.start" end="$crud.range.end"></salaxy-calendar>
<div class="salaxy-component salaxy-calendar-weekly" style="margin-top: 2px">
  <div class="row">
    <div class="col-sm-2 col-xs-4" ng-repeat="day in $crud.currentWeek">
      <div class="list-group" ng-class="{ 'weekend': $index &gt; 4 }">
        <button type="button" class="list-group-item active"
          ng-click="$crud.currentDay = day.date;$ctrl.currentTab = 'daily'">{{ "SALAXY.ENUM.Weekday.day" + ($index + 1) + ".label" | sxyTranslate }} {{ day.date | date : "d.M." }}</button>
        <button type="button" class="list-group-item" ng-click="$crud.showOccurence(occ)"
          ng-repeat="occ in day.occurences | limitTo: 10 " title="{{ occ.shortText }}">
          <i ng-if="occ.data.actionId" class="fa fa-bell" aria-hidden="true"></i>
          <i ng-if="occ.data.isRecurring" class="fa fa-refresh" aria-hidden="true"></i>
          {{ occ.shortText }}</button>
        <button type="button" class="list-group-item" ng-click="$crud.currentDay = day.date;$ctrl.currentTab = 'daily'"
          ng-if="day.occurences.length > 10" title="{{ occ.shorttext }}">+ {{ day.occurences.length - 10 }} tapahtumaa...</button>
      </div>
    </div>
  </div>
</div>