<div class="btn-toolbar" role="toolbar" aria-label="Calendar buttons" style="margin-top: -10px; margin-bottom: 15px;">
  <div class="btn-group" role="group" aria-label="Kategoriat 2">
    <div class="form-inline">
      <salaxy-input-enum ng-model="$crud.categories" options="$crud.categorySelections" name="categories" label-type="no-label" label-cols="none"></salaxy-input-enum>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Periodi">
    <div class="form-inline">
      <salaxy-datepicker-popup ng-model="$crud.range.start" name="start" label="Periodi" label-type="basic"></salaxy-datepicker-popup>
      <salaxy-datepicker-popup ng-model="$crud.range.end" name="end" label="" label-type="no-label" label-cols="none"></salaxy-datepicker-popup>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Actions">
    <div class="form-inline">
      <button type="button" class="btn btn-primary" ng-click="$crud.reloadOdata()">Lataa</button>
    </div>
  </div>
</div>
<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th>Otsikko</th>
        <th>Kategoriat</th>
        <th sxy-orderby="logicalDate">Alku</th>
        <th>Kesto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td>{{ row.shortText }}</td>
        <td><small ng-repeat="cat in row.flags">{{ cat + ($last ? "" : ", ") }}</small></td>
        <td>{{ $crud.helper.format(row.data, "start") }}</td>
        <td>{{ $crud.helper.format(row.data, "duration") }}</td>
        <td><button type="button" ng-click="$crud.showDetails(row)" class="btn btn-default btn-xs">Muokkaa</button></td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>