<form>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" id="sample2-amount" class="form-control" placeholder="Number of hours - default is 1" /><br
            />
            <input type="text" id="sample2-price" class="form-control" placeholder="Price for one hour" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" onclick="sample2Calculate()">Calculate</button>
        </div>
        <div class="col-sm-5">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>Hours 2</td>
                        <td class="right" id="sample2-result-amount">0</td>
                    </tr>
                    <tr>
                        <td>Salary / hour</td>
                        <td class="right" id="sample2-result-price">0</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td class="right" id="sample2-result-totalsalary">0</td>
                    </tr>
                    <tr>
                        <td>Side costs</td>
                        <td class="right" id="sample2-result-sidecosts">0</td>
                    </tr>
                    <tr class="total">
                        <th>Total payment</th>
                        <th class="right" id="sample2-result-totalpayment">0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>