﻿<form name="contractForm">
  <span class="hidden">{{ wizard.formDataValidity = contractForm.$valid && !wizard.model.signature.personalId && !wizard.model.signature.method}}</span>
  <div ng-controller="SignatureController as sign">

    <h3>Käyttäjätilisi on melkein valmis, hienoa!</h3>
    <h4>
      Tunnistaudu vielä henkilötunnuksellasi
      <small>
                        <i class="fa fa-info-circle"
                           popover-title="Sähköinen tunnistautuminen"
                           uib-popover="Jotta voimme maksaa sinulle palkkaa, meidän pitää olla varmoja henkilöllisyydestäsi. Todistat henkilöllisyytesi tekemällä sähköisen tunnistautumisen. Tunnistautuminen tarvitsee tehdä vain kerran."
                           popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
                </small>
    </h4>
    <div class="form-group">
      <input type="text" class="form-control" style="width: 150px" sxy-personal-id-fi ng-required="true" placeholder="PPKKVV-NNNX" ng-model="wizard.model.signature.personalId">
    </div>
    <h4>
      Ja valitse verkkopankkisi
      <small>
                        <i class="fa fa-info-circle"
                           uib-popover="Kun olet valinnut pankkisi ja painat 'Tunnistaudu'- nappia, siirryt tekemään sähköisen allekirjoituksen verkkopankkitunnuksillasi. Tunnistautumisen jälkeen palaat Palkkaus.fi-palveluun."
                           popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
                </small>
    </h4>
    <div id="bankButtonRow" class="row">
      <label class="col-sm-2 col-xs-4 btn-bank" ng-model="wizard.model.signature.method" uib-btn-radio="signMethod.value" ng-repeat="signMethod in sign.methods" class="btn btn-default" aria-label="{{signMethod.name}}">
                  <div class="btn-bank-inner"> <img ng-src="{{signMethod.img}}"/>
                        <span class="bank-title"> {{signMethod.title}}</span> 
                    </div>
                </label>
    </div>

    <br/>
    <p>Tunnistautumalla hyväksyt <a href="https://www.palkkaus.fi/kayttoehdot/" target="_blank">palvelun käyttöehdot</a>.
    </p>
    <p>Tallennamme tiedon sähköisestä tunnistautumisestasi <a ng-href="{{ wizard.getPdfPreviewAddress() }}" target="_blank">PDF-tiedostona</a> palveluun.
    </p>

  </div>
</form>