﻿<button ng-click="wizard.goPrevious()" ng-disabled="!wizard.canGoPrevious" class="btn btn-default">Edellinen</button>
<div salaxy-loader class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<button ng-if="wizard.model.signature.personalId == null || wizard.model.signature.method == null" ng-disabled="true" class="btn btn-primary">Tunnistaudu</button>
<a ng-if="!(wizard.model.signature.personalId == null || wizard.model.signature.method == null)" ng-href="{{wizard.vismaSignUrl}}" target="_top" class="btn btn-primary">Tunnistaudu</a>