﻿<button class="btn btn-default" ng-click="$close()">Takaisin etusivulle</button>
<div salaxy-loader class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<button salaxy-if-role="!test" ng-click="wizard.goNextIf(wizard.sendSmsVerificationPin)" ng-disabled="!wizard.canGoNext" class="btn btn-primary">Seuraava</button>
<button salaxy-if-role="test" ng-click="wizard.goNext()" class="btn btn-primary" ng-disabled="!wizard.canGoNext">Seuraava (TESTI)</button>