﻿<button ng-click="wizard.goPrevious()" ng-disabled="!wizard.canGoPrevious" class="btn btn-default">Edellinen</button>
<div salaxy-loader class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<button salaxy-if-role="!test" ng-click="wizard.goNextIf(wizard.checkSmsVerificationPin)" ng-disabled="!wizard.canGoNext" class="btn btn-primary">Seuraava</button>
<button salaxy-if-role="test" ng-click="wizard.goNext()" class="btn btn-primary" ng-disabled="!wizard.canGoNext">Seuraava (TESTI)</button>