﻿<form name="phoneNumberVerifyForm">
    <!-- Hidden ariable formDataValidity to use in controller -->
    <span class="hidden">{{ wizard.formDataValidity = phoneNumberVerifyForm.$valid}}</span>

    <br/>
    <p>{{wizard.currentStep.intro}}</p>
    <br/>

    <div ng-if="!wizard.skipSmsVerification">
        <div class="form-horizontal">
            <salaxy-input label="Vahvistuskoodi" name="vahvistuskoodi" ng-model="wizard.model.person.contactVerification.telephone.pin" ng-required="true"></salaxy-input>
        </div>
        <div ng-if="wizard.getValidationError('Person.ContactVerification.Telephone.Pin')">
            <p style="color:red">{{ wizard.getValidationError('Person.ContactVerification.Telephone.Pin').msg}}</p>
        </div>
    </div>
    <div ng-if="wizard.skipSmsVerification">
        <div class="alert alert-danger">
            <b>Testiympäristö</b><br/> Vahvistuskoodia ei tarkisteta, jatka painamalla seuraava.
        </div>
    </div>
</form>