﻿<form name="currentForm">
    <!-- Hidden ariable formDataValidity to use in controller -->
    <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>

    <br/>
    <p>
      Olet rekisteröitymässä Palkkaus.fi-palveluun työntekijänä.
      Työntekijälle palvelu on aina ilmainen. Tarvitset kuitenkin matkapuhelimen ja pankkitunnukset tunnistautumista varten. Aloita täyttämällä omat henkilötietosi.</p>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <salaxy-input label="Etunimi" name="Etunimi" ng-model="wizard.model.person.firstName" ng-required="true"></salaxy-input>
                <salaxy-input label="Sukunimi" name="Sukunimi" ng-model="wizard.model.person.lastName" ng-required="true"></salaxy-input>
                <salaxy-input label="Sähköposti" name="Sahkoposti" ng-model="wizard.model.person.contact.email" ng-required="true" sxy-email></salaxy-input>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <salaxy-input label="Puhelinnumero" name="Puhelinnumero" ng-model="wizard.model.person.contact.telephone" ng-required="true" sxy-mobile-phone></salaxy-input>
                <div class="col-sm-8 col-sm-offset-4">
                    <strong>Vahvistamme antamasi numeron</strong>
                </div>
            </div>
        </div>
    </div>
</form>