<h1 class="page-header">Layout editor</h1>
<p class="lead">
 The user interface customizer allows partners to customize the user interface for
 their customers. This features provides a branded customer experience 
 for free without a custom web site.
</p>
<salaxy-ui-customizer></salaxy-ui-customizer>
