<h1 class="page-header">Creating a custom UI made easy</h1>
<p class="lead">
  You can customize Salaxy platform / Palkkaus.fi web site so that it integrates seamlesly to your own UI.
  <strong>
    We have made this so easy that it might be difficult to believe!
  </strong>
</p>
<p>
  You can choose from the following approaches:
</p>
<ul>
  <li>
    Create a simple link to
    <a href="https://www.palkkaus.fi" target="_blank">Palkkaus.fi</a> web site.
  </li>
  <li>
    Add single sign-on (SSO) so that the user can authenticate using authentication method that you provide.
    <ul>
      <li>See <a href="#/security/assertion">Single Sign-on</a> (requires authentication)</li>
      <li>...or <a href="https://gitlab.com/salaxy/salaxy-demo-sso" target="_blank">a demo site for implementation example</a>.</li>
    </ul>
  </li>
  <li>
    Customize the UI with LESS/CSS and images
    <ul>
      <li>See template site <a href="https://gitlab.com/salaxy/salaxy-web-template#README">in our GitLab repository</a>.</li>
      <li>Linked Palkkaus.fi web sites as well custom sites can be run in IFrame or in stand-alone window.</li>
    </ul>
  </li>
  <li>
    Ask us to provide you a customized web site like
    <a href="#">https://your-name.palkkaus.fi</a>
    <ul>
      <li>This allows customizing code: Your own business logic and e.g. payment methods.</li>
      <li>Also, it allows deeper customization of UI's with your own views, controllers and services.</li>
    </ul>
  </li>
  <li>
    Add a section of salary payment to your own site using our 
    <a href="#/ng1/index">Web UI components</a>.
  </li>
  <li>
    Use our 
    <a href="#/api/index">API directly</a>
    with your own user interface components.      
  </li>
</ul>
<p class="lead">
  Best way to get an overview of the options is to
  <strong>contact us: We are happy to tell you more!</strong>
</p>
