﻿<form>
    <div class="row">
        <div class="col-sm-8">
            <select id="sample8-example-id" class="form-control">
                <option value="">Select an example person...</option>
                <option value="example-default">Default example (18 years old)</option>
                <option value="example-17">17-years old</option>
                <option value="example-pensioner">A pensioner</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" type="button" onclick="sample8CalculateExample()">Calculate</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div id="sample8-result-avatar"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>Hours</td>
                        <td class="right" id="sample8-result-amount">0</td>
                    </tr>
                    <tr>
                        <td>Salary / hour</td>
                        <td class="right" id="sample8-result-price">0</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td class="right" id="sample8-result-totalsalary">0</td>
                    </tr>
                    <tr>
                        <td>Side costs</td>
                        <td class="right" id="sample8-result-sidecosts">0</td>
                    </tr>
                    <tr class="total">
                        <th>Total payment</th>
                        <th class="right" id="sample8-result-totalpayment">0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>