<div class="salaxy-component salaxy-alert">
  <!-- TODO: Switch styling to "sxy-component sxy-alert" -->
  <div ng-class="$ctrl.getAlertClasses()">
    <div>
      <table style="width: 100%; border-collapse:separate;">
        <!-- TODO: Switch this to position:absolute & margins or flex-grid -->
        <tr>
          <td class="icon-container hidden-xxs" ng-if="$ctrl.getAlertIcon()">
            <span class="icon"><i class="fa {{ $ctrl.getAlertIcon() }}"></i></span>
          </td>
          <td>
            <div class="main">
              <ng-transclude><div sxy-html="{{$ctrl.msg}}"></div></ng-transclude>
            </div>
          </td>
          <td ng-if="$ctrl.aside" class="text-right">
            <button class="btn btn-info btn-main" ng-click="$ctrl.showMoreInfo = !$ctrl.showMoreInfo"
              sxy-text="SALAXY.UI_TERMS.learnMore"></button>
          </td>
        </tr>
      </table>
      <div class="collapse" ng-if="$ctrl.aside" ng-class="{ show: $ctrl.showMoreInfo }">
        <div sxy-html="$ctrl.aside"></div>
      </div>
    </div>
  </div>
</div>