<div class="salaxy-component sxy-form form-horizontal">
  <h2 ng-if="$ctrl.legend">{{ $ctrl.legend }}</h2>
  <ng-form name="$ctrl.ngForm">
    <div ng-if="!$ctrl.isReady">
      <p>Ladataan...</p>
    </div>
    <div ng-if="$ctrl.isReady">
      <div ng-if="!$ctrl.autoGen" ng-transclude="div">
        <div class="alert alert-info">
          Either set <code>auto-gen</code> attribute to true or add a
          <code>DIV</code> element with your form sxy-input definitions.
        </div>
      </div>
      <div ng-if="$ctrl.autoGen">
        <sxy-fieldset model="form" label="{{ $ctrl.label }}"></sxy-fieldset>
      </div>
      <div ng-if="$ctrl.debugger">
        <uib-tabset active="$ctrl.currentTab">
          <uib-tab index="'data'" heading="Data">
            <salaxy-json-formatter key="'data'" json="$ctrl.model" open="2"></salaxy-json-formatter>
          </uib-tab>
          <uib-tab index="'schema'" heading="Auto-gen">
            <salaxy-json-formatter key="$ctrl.type" json="$ctrl.schemaModel" open="2"></salaxy-json-formatter>
          </uib-tab>
          <uib-tab index="'codeGen'" heading="Code-gen">
            <sxy-fieldset model="form" format="source" label="{{ $ctrl.label }}"></sxy-fieldset>
          </uib-tab>
          <uib-tab index="'registrations'" heading="Components">
            <p>
              This is a list of component registrations. Note that debugger "Code-gen" tab currently makes one registration for the form (with name "[Parent][n1]_form[n2]"). This might be removed later.
            </p>
            <ul>
              <li ng-repeat="(key, value) in $ctrl.registeredInputs">{{ key }}</li>
            </ul>
          </uib-tab>
          <uib-tab index="'validation'" heading="Validation">
            <salaxy-validation-summary api-validation="$ctrl.getValidation()"></salaxy-validation-summary>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </ng-form>
</div>