<div ng-switch="$ctrl.format">
  <fieldset ng-switch-when="source">
    <legend>Form inputs source code (auto-gen)</legend>
    <pre>&lt;fieldset&gt;
  &lt;legend&gt;{{ $ctrl.label }}&lt;/legend&gt;
<span ng-repeat="input in $ctrl.getChildInputs()">  &lt;sxy-input model="{{ input.path }}"&gt;&lt;/sxy-input&gt;<br /></span>&lt;/fieldset&gt;
</pre>
  </fieldset>
  <fieldset ng-switch-default>
    <legend>{{ $ctrl.getLabel() }}</legend>
    <p>{{ $ctrl.getDescr() }}</p>
    <sxy-input model="{{ input.path }}" ng-repeat="input in $ctrl.getChildInputs()"></sxy-input>
  </fieldset>
</div>