<div class="modal-header">
  <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ $ctrl.logic.title }}</h4>
</div>
<div class="modal-body">
  <sxy-form open-api="{{ $ctrl.logic.openApi }}" type="{{ $ctrl.logic.type }}" auto-gen="true" debugger="$ctrl.logic.debugger"
    model="$ctrl.current" read-only="{{$ctrl.logic.isReadOnly ? 'true' : ''}}"></sxy-form>
</div>
<div class="modal-footer">
  <button type="button" ng-if="$ctrl.logic.showDelete" class="btn btn-danger pull-left" ng-click="$close('delete-no-save')" sxy-text="SALAXY.UI_TERMS.delete"></button>
  <button type="reset" ng-if="!$ctrl.logic.isReadOnly" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.UI_TERMS.cancel"></button>
  <button type="button" ng-if="!$ctrl.logic.isReadOnly" class="btn btn-primary" ng-click="$close('ok')" sxy-text="SALAXY.UI_TERMS.ok"></button>
  <button type="button" ng-if="$ctrl.logic.isReadOnly" class="btn btn-primary" ng-click="$close('cancel')" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>`