.salaxy-component .salaxy-accordion{
  .panel-group .panel + .panel {
    margin-top: 1px;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body{
    border-top: 1px solid @brand-warning;
  }
  .panel-heading {
    padding: 9px 5px 9px 5px;
  }
  .panel-body {
    padding: 0;
  }
  .usecase-selection {
    line-height: 1.1em;
    width: 100%;
    margin-bottom: 0;
    min-height: 40px;
    padding: 5px;
    &:hover{
      background-color:fade(@brand-warning, 10%);
    }
    .usecase-title {
      margin-top: 5px;
      display: block;
    }

    .icon-wrapper{
      position:relative;
      margin-right:0;
      font-size:30px;
      float:left;
    }
    .main-icon-wrapper{
      background-color:@brand-warning;
      border-radius:50%; 
      margin-top:4px; 
      margin-bottom:4px; 
      width:1em; 
      height:1em; 
      margin-right:10px;
      padding:2px 0 0;
      
      img{
        width:1em; 
        height:1em
      }
    }
    .badge-image-wrapper{
      position:absolute;
      top:0;
      img{
        width: 0.5em;
        margin-left: 20px;
        margin-top: 0.6em;
      }
    }
  }
  .panel-title {
    text-align: left;
    width: 100%;
    display: block;
    margin-top: 0px;
    padding: 0px;
    i{
      padding-top: 0.4em;
    }
    span {
      font-weight: bold;
    }
    a, a:hover {
      text-decoration: none;
      display:block;
    }
    small {
      display: block;
    }
  }
 


}