.salaxy-alert {
  .lead{
    @media screen and (min-width:768px){
      font-size:18px;
    }
    &.lead-with-text{
      margin-bottom:5px;
    }
  }
  .alert {
    font-size: 15px;
    border-radius: @border-radius-base;
    margin-top:10px;
    margin-bottom:10px;
  
  }
  td{
    .main{
      @media screen and (max-width:480px){
        padding-left:4px;
      }
    }
  }
  .main {
    font-size: 1.1em;
    padding-top: 3px;
    padding-left: 15px;
    
    p{
      font-size:14px;
      &.lead{
        @media screen and (min-width:768px){
          font-size:18px;
        }
        &.lead-with-text{
          margin-bottom:5px;
        }
      }
    }
  }
  .btn.btn-main {
    margin-top: 7px;
  }
  .icon-container {
    width: 43px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    border-right: 1px dashed;
  }
  .icon {
    height: 3em;
    width: 3em;
    display: table;
    border: 3px solid;
    border-radius: 1.5em;
    .fa {
      font-size: 2.5em;
      line-height: 1em;
      margin-top: 2px;
      &.fa-exclamation-triangle{
        font-size:2em;
      }
    }
    
  }
  .collapse {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    border-top: 1px dashed;
  }
  .alert-primary {
    background-color: @brand-primary;
    color: #fff;
    .lead {
      color: #fff;
    }
    .icon-container {
      border-right-color: #fff;
    }
    .icon {
      border-color: #fff;
      color: #fff;
    }
  }
  .alert-warning {
    .icon-container {
      border-right-color:  @brand-warning;
    }
    .icon {
      border-color: @brand-warning;
      color:@brand-warning;
    }
    strong, b {
      color:@brand-warning;
    }
  }
}
.salaxy-contact-info {
  .alert {
    display: table;
    width: 100%;
    border-radius: @border-radius-base;
    &.alert-primary {
      background-color: @brand-primary;
      color: #fff;
      .icon-container {
        
          border-right-color: #fff;
        
        .icon {
          border-color: #fff;
          color: #fff;
        }
      }
    }
    .icon-container {
      display: table-cell;
      height: unset;
      
      vertical-align: middle;
      padding: 3px 15px 3px 0;
      text-align: center;
      border-right: 1px dashed;
      width:58px;
    }
    .icon {
      height: 3em;
      width: 3em;
      display: table;
      border: 3px solid;
      border-radius: 1.5em;
      .fa {
        margin-top: 0;
        font-size: 2.5em;
        line-height: 1em;
      }
    }
    .contact-info-text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 15px;
      p:last-child {
        margin-bottom: 0;
      }
    }     
  }
}
//show bootstrap alers in top
#salaxy-alert-container {
  z-index: 1061;
}

// Quick hack for Less.js error
.less-error-message {
  margin-left: @salaxy-navi-sidebar-width;
}
