﻿@charset "UTF-8";
/**
 * Salaxy basic customization to Auth0 Lock (login / register dialog).
 * Checked with Auth0 Lock version 11.30 styles.
 */
body {
  
  .auth0-lock.auth0-lock {
    .auth0-lock-header {
      background-color: @salaxy-navi-logo-bg;
      .auth0-lock-blur-support {
        // Removes Auth0 default blur background
        display: none;
      }
      .auth0-lock-header-logo {
        max-width:60%;
        height:auto;
      }
    }
    .auth0-lock-cred-pane {
      // Fixing a height bug: https://github.com/auth0/lock/issues/1709. This can be removed if the bug is fixed in Auth0
      height: auto;
      min-height: auto;
    }
  } 

}