﻿@charset "UTF-8";

/**
 * Salaxy avatar styling logic.
 * Avatar functionality is dependent on Font-Awesome: fa-user and fa-file.
 */

salaxy-avatar {
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-block;
    vertical-align: top;
}

.salaxy-avatar {
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-block;
    position: relative;
    vertical-align: baseline;
    text-align: center;
    i {
        // Is this used? 
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 1em;
        vertical-align: middle;
        text-align: center;
    }
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1.0em;
        height: 1.0em;
        padding: 0.0em;
        border-radius: 0.2em;
    }
    img.noradius {
        border-radius: 0;
    }
    strong {
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 0.5em;
        font-family: @font-family-sans-serif;
    }
    /* 
         * Icon specific text positioning (text inside an icon).
         * Only supported for some icons 
         */
    &.fa-user strong, .fa-user strong {
        font-size: 0.35em;
        margin-top: 0.7em;
    }
    &.fa-file strong, .fa-file strong {
        font-size: 0.35em;
        margin-top: 0.45em;
    }
}


/* 
 * Avatar within a Bootstrap button.
 * Double the size and pull top right to take the entire height of the button without increasing the button height.
 */
.salaxy-login-button{
    .btn-group{
        .btn{
            padding: 0.5em 0.8em;
            salaxy-avatar{
                position: static;
                margin-left: -0.3em;
                margin-top: -0.15em;
                margin-bottom: -0.15em;
                
                margin-right: 0.2em;
                left: 0em;
                font-size: 2em;
                vertical-align: middle;
            }
        }
    }
}
