.salaxy-component{
  .salaxy-login-button{
    .btn{
      text-align:left;
    }

  }
  .alert{
    .btn-add-worker{
      @media screen and (max-width:767px){
        margin-top:10px;
        display: inline-block;
        width:auto;
      }
    }
    .btn-try-payroll{
      margin-top:10px;
      @media screen and (max-width:767px){
        display: inline-block;
        width:auto;
      }
    }
  }
  .btn-group.open{
    .btn-transparent{
      box-shadow:none;
    }
  }
  .btn-group{
    .credentials-wrapper{
      display:table;
    }
  }
  .btn{
    
    @media screen and (max-width: 480px){
      font-size:12px;
    }
    &.btn-transparent{
      background-color: transparent;
      border-color: transparent;
    }
    
    
    &.btn-secondary{
      color: @gray-dark;
      background-color: @gray-lighter;
      border-color:@gray-lighter;
      &:hover,&:focus{
        background-color: darken(@gray-lighter, 12%);
      }
    }
   
    &.btn-share-calc{
      font-size: 130%;
      padding:0px 10px;
    }
    &.btn-labeled-right{
      padding-top: 0;
      padding-bottom: 0;
      padding-right:0;
      padding-left:@padding-base-horizontal;
      .fa{
        background: rgba(0, 0, 0, 0.15);
        line-height: @line-height-base;
        padding: @padding-base-vertical @padding-base-horizontal;
        margin-left: @padding-base-horizontal;
        border-radius: 0px @btn-border-radius-base @btn-border-radius-base 0px;
      }
      &.btn-sm{
        .fa{
          border-radius: 0px @btn-border-radius-small @btn-border-radius-small 0px;
        }
       
      }
      &.btn-xs{
        .fa{
          padding: 2px 6px;
          margin-left: 6px;
        }
      }
      &.btn-block{
        line-height: 2.3em;
        .fa{
          margin-right: 0;
          float: right;
          margin-left: -1em;
          display:block;
        }
      }
  }
  &.btn-labeled-left{
    padding-top: 0;
    padding-bottom: 0;
    padding-left:0;
    padding-right:@padding-base-horizontal;
  
    .caret{
        margin-left: 5px;
    }
    .fa{
        background: rgba(0, 0, 0, 0.15);
        line-height: @line-height-base;
        padding: @padding-base-vertical @padding-base-horizontal;
        margin-right: @padding-base-horizontal;
        border-radius: @btn-border-radius-base 0px 0px @btn-border-radius-base;
    }

    /*TODO: add xs and lg sizes for btn-labelled*/
    &.btn-sm{
      .fa{
        padding: @padding-small-vertical @padding-small-horizontal;
        margin-right: @padding-small-horizontal;
        border-radius: @btn-border-radius-small 0px 0px @btn-border-radius-small;
      }
    }
    
  }
  &.btn-xs{
    &.toggle-details, &.options{
      margin-top: 8px;
      margin-left:4px;
      padding: 1px;
      background-color: transparent;
      color: #c4c4c4;
      font-size: 15px;
      line-height:0.6em;
      border-radius: 0;
    
    }
    &.toggle-details{
      margin-left:0px;
    }
  }
}
.btn-group-chart{
  .btn-chart{
    margin-right:5px;
    color:@text-muted;
    &.active{
      color:@brand-success;
    }
    &:last-child{
      margin-right:0;
    }
  }
}

  .btn-group-sm{
    .dropdown-menu {
      > li:not(.disabled) {
        &.dropdown-header{
          cursor:auto;
          &:hover{
            background-color:@dropdown-bg;
          }
        } 
        > a, span {
          cursor:pointer; 
        }
        &:hover{
          background-color: @dropdown-link-hover-bg;
        }
      }
      > li {
        &.dropdown-header{
          padding: 3px 10px;
        } 
        > a, span {
          font-size: 13px;
          padding: 3px 10px;
          display: block;
        }
      }
    }
  }
  .salaxy-calc-rows-editor-btns, .salaxy-icon-btn {
    &.text-center{
      text-align:center;
    }
    .btn.btn-sm, .btn-group-sm .btn{
      padding: 3px 7px;
      font-size: 14px;
      line-height: 1.5;
       
    }
  }
  &.salaxy-calc-group-edit{
 
    .salaxy-calc-rows-editor-btns{
      .btn-info{
        background-color:transparent;
        border-color:transparent;
        color:#333;
        &:hover{
          background-color:transparent;
          border-color:transparent;
          color:#333;
        }
      }
      .edit, .delete{
        background-color:transparent;
        border-color:transparent;
          .fa{
            color:@gray-dark;
            
          }
         
        
      }
    }
  }
  .salaxy-action-btns{
    
    @media screen and (max-width:767px){
      margin-bottom:15px;
      .btn{
        margin-bottom:5px;
      }
    }
  }
}