﻿/** 
 * Document / report preview functionality for the Salaxy services.
 * Desgned to render a HTML like a PDF directly in browser.
 * May later be replaced by _salaxy-rpt
 */

.salaxy-component {
	/* Basic layout */
	.document-preview {
		background-color: Gray;
		padding: 10mm;
	}
	div.document-preview {
		width: 100%;
		min-height: 303mm;
	}
	.document-preview-no-height {
		background-color: Gray;
		padding: 2mm;
	}
	div.document-preview-no-height {
		width: 100%;
	}
	.document {
		background-color: White;
		margin: 0px auto;
		position: relative;
	}
	.a4portrait {
		padding: 10mm;
		height: 277mm;
		/* 297 - 2 * 10 = 277 */
		width: 190mm;
		/* 210 - 2 * 10 = 190 */
	}
	.a4portrait-no-height {
		padding: 10mm;
		width: 190mm;
		/* 210 - 2 * 10 = 190 */
	}
	.a4landscape {
		padding: 10mm;
		height: 190mm;
		/* 210 - 2 * 10 = 190 */
		width: 277mm;
		/* 297 - 2 * 10 = 277 */
	}
	/* Text formatting */
	.document, .document p, .document td {
		font-size: 13px;
	}
	.document h1, .document h2, .document h3 {
		margin: 0;
		font-size: 18px;
		font-weight: bold;
	}
	.document h1 {
		font-size: 1.3em
	}
	.document h2 {
		font-size: 1.2em
	}
	.document h3 {
		font-size: 1.1em
	}
	.document .report-txt-note {
		font-size: 10px !important;
	}
	.watermark {
		position: absolute;
		left: 0;
		top: 40%;
		font-weight: bold;
		font-size: 20mm;
		opacity: 0.3;
		color: @brand-danger;
		text-align: center;
		width: 100%;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		/* IE 9 */
		-webkit-transform: rotate(-45deg);
		/* Opera, Chrome, and Safari */
	}
	/* Tables */
	.report-table {
		border-spacing: 0;
		margin-bottom: 0px;
		margin-top: 10px;
	}
	.report-table-compact {
		border-spacing: 0;
		margin-bottom: 10px;
	}
	.report-table td, table td, table th, .report-table-compact td, .document-preview p, .document-preview time {
		padding: 0 5px;
		padding-left: 1px;
	}
	.report-table thead th, report-table-compact th {
		font-size: 13px;
		font-weight: bold;
		padding: 0 5px 5px 0;
	}
	/* TODO: Get rid of this => H1, H2 etc. */
	.report-table th, report-table-compact th {
		font-size: 18px;
		font-weight: normal;
		padding: 0 5px 5px 0;
	}
	.report-table-separator tr td:nth-child(2) {
		border-right: 1px solid black;
		padding-right: 5px;
	}
	.report-signature-line {
		height: 25px;
		border-bottom: 1px solid black;
		margin-bottom: 8px;
	}
	.report-header-txt {
		line-height: 1.3;
		margin: 0;
	}
	.report-section {
		min-height: 200px;
	}
	/* Header and footer */
	.document header {
		border-bottom: 0.5mm solid @brand-primary;
		padding-bottom: 3mm;
		margin-bottom: 10mm;
	}
	.document footer {
		width: 170mm;
		position: absolute;
		bottom: 10mm;
		left: 10mm;
		border-top: 0.5mm solid @brand-primary;
	}
	.document footer p, .document footer p, .document footer table tr td {
		font-size: 12px;
		line-height: 1.3;
	}
}