.salaxy-worker-holidays table.salaxy-holidays-overview-table td {
  padding: 0;
}

.salaxy-holidays-overview-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid 1px #009fd8;
  width: 100%;
  
  .month {
    width: 4% !important;
    border: solid 1px #009fd8;
  }
  
  td {
    border-left: solid 1px #009fd8;
    border-right: solid 1px #009fd8;
  }
  
  .month-empty {
    width: 4% !important;
  }
  
  .year {
    border: solid 1px #009fd8;
    text-align: center;
  }
}
