/* Invoices and new payment in general */

.salaxy-payment-channel-select {
  max-width: 600px;
  salaxy-input-enum {
    .salaxy-input-enum-avatar { font-size: 6em; }
    .salaxy-input-enum-text { font-size: 1.5em; }
  }
}