.salaxy-component{
  .list-group{
    
    .icon-wrapper {
      width:30px;
      font-size: 25px;
      height: 100%;
      vertical-align: middle;
      margin-right: 15px;
      display: inline-block;
      text-align:center;
      @media screen and (max-width:@screen-xs-max){
        font-size:15px;
       margin-right:3%;
       width:7%;
      }
    }
    
    .list-group-wrapper {
      display: inline-block;
      max-width: 90%;
      vertical-align: middle;
      @media screen and (max-width:@screen-xs-max){
       
        .list-group-item-heading{
        font-size:15px;
        }
        p{
          font-size:11px;
          line-height:1.2em;
        }
      }
    }
  }

}