.content.settings { 
    .radio-label {
        margin-right: 30px;
    }
    h2 {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 4px;
    }
    p, label {
        font-size: 14px;
        font-weight: normal;
    }
    p.small{
        font-size: 85%; 
        .emphasis{
            margin-top:5px;
            margin-bottom:5px;
            display:block;
        }  
    }  
    small{
        font-size: 95%;   
    }
    .smaller {
        font-size: 0.9em;
    }
    .alert-text {
        margin-left: 67px;
    }
    .panel {
        border: 1px solid #E6E9ED;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.13);
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.13);
    }
    .panel-heading{
        padding: 15px 30px 15px;
        color:#414141;
        background-color: @table-bg-accent;
        white-space: unset;
        p{
            margin-bottom:0;
        }
        &.icon-panel{
            h1, h2, h3, h4, p{
                width:100%;
                i{
                    float:right;
                    font-size:35px;
                    opacity: 0; 
                    &.status-icon {
                      opacity: 1;
                      transition: opacity 1s;  
                    }
                }
            }
        }
    }
    .panel-default{
        .panel-heading {
            border-bottom: 2px solid @brand-primary;
            transition: border-bottom 1s;
            /*#ff911e*/
        }
    } 
    .panel-info{
        .panel-heading {
            border-bottom: 2px solid @brand-info;
            transition: border-bottom 1s;
        }
    }
    
    .panel-success{
        .panel-heading{
            border-bottom: 2px solid @brand-success;
            transition: border-bottom 1s;
        }
    }
    .panel-danger{
        .panel-heading {
            border-bottom: 2px solid @brand-danger;
            transition: border-bottom 1s;
        }
    }
    .panel-body {
        padding: 20px 30px 15px;
        display: block;
    }
    .panel-footer {
        padding: 15px 30px 15px;
        background-color:@table-bg-accent;
    }
    .alert-icon {
        font-size: 40px;
        font-weight: 100;
        line-height: 34px;
        height: 50px;
        padding: 5px;
        width: 50px;
        display: block;
        border-radius: 50%;
        text-align: center;
        &.text-danger{
            border: 5px solid @brand-danger;
        }
        &.text-warning{
            border: 5px solid @brand-warning;
        }
    }


@media screen and (max-width:767px){
    fieldset{
        margin-top:25px;
    }
    .panel-body, .panel-footer, .panel-heading {
            padding: 20px 20px 15px;
    }
}
} 