// New styles implemented as part of Payroll components
// TODO: Some of these should be moved to other less files.
.salaxy-component{
    &.salaxy-payroll{
      margin-top:30px;
      position: relative;

      .payroll-info-row {
        margin-top: 30px;
        .payroll-info-col{
          padding-top: 8px;
          padding-bottom: 15px;
        }
        .payroll-title {
          margin-top: 5px;
        }
        /* TODO remove to avatar.less when avatar template for payroll is done */
        .payroll-avatar {
          font-size: 98px;
          width: 1em;
          height: 1em;
          line-height: 1em;
          display: inline-block;
          vertical-align: top;
          margin-top: 5px;
          .salaxy-avatar{
            &.fa-square{
              span {
                position: absolute;
                left: 0px;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                color: #fff;
                font-size: 0.85em;
                font-family: Roboto, Helvetica, Arial, sans-serif;
                strong {
                  display: block;
                  line-height: 1em;
                  height: 1em;
                  position: relative;
                }
                small {
                  font-size: 0.3em;
                  line-height: 1em;
                  color: #fff;
                  height: 1em;
                  position: relative;
                  display: block;
                }
              }
            }
          }
        }
      }
      
      salaxy-spinner {
        position: absolute;
        width: 100%;
        top: 150px;
        z-index: 1000
      }

      
     
      .payroll-edit-properties-container{
          margin-top:15px;
      }

      .payroll-worker-info{
          padding-bottom: 15px;
          border-bottom: 1px solid #ddd;
          margin-bottom: 15px;
          @media screen and (max-width:767px){
              margin-bottom:0;
              border-bottom:0px;
          }
          .payroll-status-icon {
              padding: 1px 2px;
            }
      }
      
      .payroll-add-calculation-row{
          padding-top:5px;
          padding-bottom:5px;
          .btn-group {
              margin-top:6px;
              margin-bottom:6px;
              margin-left:5px;
          }
      }
      .payroll-edit-properties-header {
          padding-top:5px;
          padding-bottom:5px;
      }

      tr.total th,
      tr.total td {
            border-bottom: 0;
            border-top: 1px solid #ddd;
        }
        h3.worker-name {
          font-size: 16px;
      }
      .payroll-report-partial-container {
        padding: 12px;
        border-radius: @border-radius-small;
        margin-top: 8px;
        margin-bottom:8px;
        border:1px solid #dadada;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
        .salaxy-calc-report {
          margin-right: 12px;
          margin-left: 12px;
          margin-bottom: 0px;
        }
      }
      .salaxy-calc-report {
        margin-bottom: 6px;
      }
      .toolbar-top {
        margin-bottom:10px;
      }
      .toolbar-bottom{
        margin-top:10px;
      }
      .payroll-single-calculation{
          border-radius: @border-radius-small;
          margin-top: 5px;
          margin-bottom:5px;
          border:1px solid #dadada;
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
          background-color:#fff;
          &.error-container{
            border: 1px solid  @brand-danger;
            box-shadow: 0px 0px 3px 0px @brand-danger;
          }
          .payroll-worker-details{
            .avatar-container {
              font-size: 65px;
              padding-top: 20px;
              line-height: 1em;
            }
          }
          .payroll-worker-summary{ 
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 35px;
            line-height: 1em;
            width:calc(~"100% - 40px"); // leave space for toggle buttons on the right;
            @media screen and (max-width: @screen-xs){
              padding-bottom: 5px;
              padding-top: 5px;
            }
            .avatar-container {
              font-size: 1em;
              display: block;
              padding-top: 0;
              text-align:left;
              @media screen and (max-width: @screen-xs){
                font-size: 0.9em;
                
              }
            }
            .worker-name, .calculation-summary {
              font-size: 0.4em;
              line-height: 2em;
              vertical-align: middle;
              display: inline-block;
             
            }
           .calculation-summary{
             
              text-align: right;
              width: 90px;
              
              border-left: 1px solid #ddd;
              @media screen and (max-width: @screen-xs){
                width:60px;
                padding-left:5px;
              }
           }
            .worker-name{
              margin-left:10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width:150px;
              
              @media screen and (max-width:@screen-xs){
                
                width:100px;
              }
            }
            .error-summary {
              font-size: 0.30em;
              text-align: right;
              display: block;
              float: right;
              line-height: 1em;
              margin-top: 12px;
              margin-left: 10px;
              margin-right:10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 50%;
              max-width: 230px;
            }
        }    
        
      }  
      .payroll-totals{
        font-size: 35px;
        padding-top:10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
  
        .totals-container{
          width:calc(~"100% - 40px"); 
          @media screen and (max-width: @screen-xs){
            font-size: 0.9em;
          } 
        }
        .total-label, .amount{
          font-size: 0.4em;
          vertical-align: middle;
        }
        .total-label{
          font-weight:bold;
          margin-left:0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width:195px;
          
          min-width:130px;
          display:inline-block;
          margin-right:8px;
          @media screen and (max-width: @screen-xs){
            width:142px;
          }
        }
        .amount{
          text-align: right;
          width: 90px;
          
          display:inline-block;
          border-left: 1px solid #ddd;
          @media screen and (max-width: @screen-xs){
            width:60px;
            padding-left:5px;
          }
        }
      }
      .payroll-calculation-footer{
          margin-bottom:15px;
      }
    
      @media screen and (min-width:481px) {
          .avatar-container {
              text-align: center;
          }
      }

      .payroll-add-calculation{
          margin-top: 15px;
          margin-bottom: 15px;
      }
      .table-condensed{
        > thead > tr > th, td{
            padding: 1px;
            vertical-align: middle;
            &.cell-padding{
                padding-left: 4px;
                padding-right: 4px;
            }
        }
      } 
    }

}

.salaxy-payroll-edit {
    .tab-content {
        padding: 16px;
        border-left: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);
        border-right: 1px solid rgb(221, 221, 221);
    }
}

.salaxy-dropdown-menu-right {
  // Behaves like dropdown-menu-right, but can be added to the parent instead of the actual menu
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}