/**
 * Styles related to Salaxy product user interfaces.
 */


/* Salaxy Product card */

.salaxy-component {
    a.salaxy-product-card {
        display: block;
        width: 100%;
        height: 170px;
        padding: 16px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        .salaxy-switch {
            margin-top: 14px;
        }

        .salaxy-switch.disabled {
            opacity: 1;
            cursor: initial;
        }

        .salaxy-product-title {
            font-size: 18px;
            font-weight: bold;
            height: 25px;
            overflow: hidden;
            margin-top: 12px;
            color: black;
        }

        .salaxy-product-descr {
            font-size: 10px;
            color: black;
        }
        .salaxy-avatar{
          img{
            border-radius:0;
          }
        }
    }
    .salaxy-product-info-headers{
      .salaxy-avatar{
        img{
          border-radius:0;
        }
      }
    }
    .bignumber {
        clear: both;
        line-height: 1em;
        display: block;
        font-weight: 900;
        color: @brand-success;
    }

    .bignumber {
        font-size: 3.8em;
    }

    .bignumber.smaller {
        font-size: 3.0em;
    }

    .info-number-container {
        border-left: 3px solid @brand-success;
        height: 164px;
    }

    .info-number {
        font-weight: 900;
        text-align: center;
        padding-left: 5px;
        line-height: 1.1em;
        width: 100%;
        padding-top: 20px;

        .uppersmall {
            font-size: 0.95em;
            color: #000;
        }

        .small {
            font-size: 0.85em;
        }
    }

    .salaxy-product-description {
        height: 160px;
        vertical-align: middle;
        display: table-cell;
        p{
          font-size: 19px;
          font-weight: 300;
          line-height: 1.4;
        }
        .btn{
          margin-bottom:15px;
        }
    }

  

    @media screen and (max-width: 767px) {
        .info-number {
            text-align: left;
            padding-left: 0px;
            border-left: 0px;
        }
    }

    @media screen and (max-width: 480px) {
        .info-number {
            text-align: left;
            font-size: 0.90em;
        }

        a.salaxy-product-card .salaxy-product-title {
            font-size: 12px;
        }
    }
}


/* salaxy-price-box */

.salaxy-component {
    .salaxy-price-box {
        text-align: center;

        .salaxy-price-lg {
            font-size: 4em;
            line-height: 0.9em;
            padding-top: 0.2em;
            color: @brand-success;
            font-weight: bold;
        }

        h1, h2, h3, h4 {
            margin-bottom: 0px;
        }

        .salaxy-price-unit {
            font-weight: bold;
        }

        .salaxy-price-description {
            font-size: 0.8em;
        }
    }
}

/* Salaxy worker tax card component styles*/

.salaxy-drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 10px;

    &.error {
        border: 5px dashed @brand-danger;
    }

    &.salaxy-drag-over {
        border-color: #0e0;
        background-color: #b2fab2;
    }
}
