.report-table-html{
    position: relative; // If absolute positioning is used, it is in relation to document.
    background-color:@body-bg;
    margin: 0px auto;
    font-size:@font-size-base;
    line-height: @line-height-base;
    
    .report-table{
      border-spacing:0;
      margin-bottom: 20px;
      margin-top: 20px;
      
    }
    .salaxy-accounting-report-table {
      margin-top: 20px;
      th, td {
          text-align: right;
          &:first-child {
              text-align: left;
          }
      }
      &.columns-three {
          th, td {
              width: 25%;
              &:first-child {
                  width: 50%;
              }
          }
      }
      &.columns-three.columns-first-narrow {
          th, td {
              width: 40%;
              &:first-child {
                  width: 20%;
              }
          }
      }
      &.columns-four {
          th, td {
              width: 20%;
              &:first-child {
                  width: 40%;
              }
          }
      }

      &.columns-five {
          th, td {
              width: 17.5%;
              &:first-child {
                  width: 30%;
              }
              &:nth-child(2) {
                  // Assuming 2th column with text content
                  text-align: left;
              }
          }
      }

      &.columns-six {
          th, td {
              width: 15%;
              &:first-child {
                  width: 25%;
              }
              &:nth-child(2) {
                  // Assuming 2th column with text content
                  text-align: left;
              }
          }
      }

      &.columns-first-two-text {
          th:nth-child(1), th:nth-child(2), td:nth-child(1), td:nth-child(2) {
              text-align: left !important;
          }
      }

    // thead th:first-child, tbody td:first-child {
    //     padding-left: 20px;
    // }
    // thead th:last-child, tbody td:last-child {
    //     padding-right: 20px;
    //     text-align: right;
    // }
      .salaxy-accounting-report-group-header td {
          padding-top: 6px;
          padding-bottom: 5px;
          text-transform: uppercase;
          letter-spacing: 1px;
      }

      .salaxy-accounting-report-row {
          font-weight: bold;
          &.salaxy-accounting-report-child-row {
              font-weight: normal;
          }
      }
    
      tfoot tr.total {
          th {
              padding-top: 10px;
              font-weight: bold;
              &:first-child {
                  text-transform: uppercase;
              }
          }
      }
    }

    h1, h2, h3{
        margin:	0;
        font-weight: bold;
    }
    
    h1 { font-size: 1.3em }
    h2 {font-size: 1.2em;}
    h3 { font-size: 1.1em }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: @line-height-computed;

        // Cells
        thead, tbody, tfoot {
            tr {
                th, td {
                    padding: @table-cell-padding;
                    line-height: @line-height-base;
                    vertical-align: top;
                    border-top: 1px solid @table-border-color;
                }
            }
        }
        // Bottom align for column headings
        thead tr th {
            vertical-align: bottom;
            border-bottom: 2px solid @table-border-color;
            border-top: 0px none;
        }

        // Nesting
        .table {
            background-color: @body-bg;
        }
    }

    .table-condensed {
        thead, tbody, tfoot {
            tr {
                th, td {
                    padding: 1px;
                    font-size: @font-size-base;
                    line-height: normal;
                }
            }
        }
    }

    .small {
        thead, tbody, tfoot {
            tr {
                th, td {
                    font-size: 11px;
                }
            }
        }
    }

    .table-bordered {
        border: 1px solid @table-border-color;
        thead, tbody, tfoot {
            tr {
                th, td {
                    border: 1px solid @table-border-color;
                }
            }
        }
        thead tr {
            th, td {
                border-bottom-width: 2px;
            }
        }
    }

    .table-striped {
        tbody tr:nth-of-type(odd) {
            background-color: @table-bg-accent;
        }
    }

  
}
.salaxy-earnings-payment-report {
  salaxy-tabs .tab-content {
    height: 600px;
    overflow: auto;
  }
  fieldset {
    position: relative;
    margin-top: 10px;
  }
  .salaxy-fieldset-src {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}