.salaxy-component{
  &.salaxy-account-info{
    salaxy-avatar{
      font-size: 102px; 
      margin-right: 20px;
      margin-bottom: 20px;
      margin-top: -8px;
      @media screen and (max-width:480px){
        font-size: 56px;
        margin-right: 10px;
        margin-bottom:10px;
        margin-top:0;
      }
    }
  }
}
