.salaxy-component{
  .tab-content{
    padding-top:floor((@grid-gutter-width / 2));
  }
  .nav-tabs{
    > li{
      margin-bottom: -2px;
      margin-top:2px;
      border-bottom:2px solid transparent;
    }
    li{
      a{
        border:none;
      }
      &.active{
        border-top:none;
        border-left:none;
        border-right:none;
        color:@brand-primary;
        border-bottom: 2px solid @brand-primary;
        border-bottom-color: @brand-primary;
        a{
          border:none;
          &:hover, &:focus{
              border:none;
          }
        }
      }
    }
  }
 
  @media screen and (max-width:@screen-xs-max){
    .nav > li > a {
      position: relative;
      display: block;
      padding: 7px 7px;
      font-size: 0.9em;
    }
  }
}