.salaxy-taxcard-details,
.salaxy-employment-taxcards,
.salaxy-my-taxcards,
.worker-wizard-taxcard {
    .form-group {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    legend {
      margin-bottom: 15px;
      margin-top: 20px;
    }
  .flex {
    display: flex;
    .step-container {
      margin: auto;
      text-align: left;
      padding-right: 0;
      .step-number {
        display: block;
        height: 19px;
        width: 19px;
        text-align: center;
        line-height: 18px;
        font-weight: normal;
        font-size: 13px;
        border-radius: 50%;
        color: #d55552;
        border: 1px solid #d55552;
      }
    }
  }
    .example-img-parent {
        width: 100%;
        height: 300px;
        overflow: scroll;
        max-height: 300px;
        border: 1px solid #ccc;
        margin-top: 7px;
    }
    .example-img-container {
        display: table;
        width: 110%;
        height: auto;
        background-color: #ccc;
        position: relative;
        margin-left: -2%;
        margin-top: -10%;
        img {
          width: 100%;
        }
        &.zoom1 {
          width: 100%;
          margin-left: 0%;
          margin-top: 0%;
        }
        &.zoom2 {
          width: 150%;
          margin-left: -5%;
          margin-top: -5%;
        }
        &.zoom3 {
          width: 200%;
          margin-left: -5%;
          margin-top: -5%;
        }
    }
  .zoom-buttons {
    margin-top: 5px;
    .btn {
      margin-right: 5px;
    }
  }
  .current-taxcard-row.table-row {
    
    min-height: 30px;
    line-height: 1.2em;
    padding-top: 10px;
    &:after{
      border-bottom: 1px solid #ddd;
      width: calc(~'100% - @{grid-gutter-width}');
      height: 10px;
      margin: auto;
    }
    &.mt30{
      margin-top:30px;
    }
   
  }

  .footer-buttons{
    margin-top:40px;
  }



}