.salaxy-component{
  .btn-toolbar{
    > .btn, > .btn-group{
      @media (max-width:@screen-xs){
        margin-bottom:5px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    > .btn-group{
      .btn-icon{
        padding:0 2px;
      }
    }
  }
}