.salaxy-component{

  p, li {
    a{
    &:visited{
      color:@link-hover-color;
    }
  }
}
li.disabled a:visited {
  color: @dropdown-link-disabled-color;
}
p{
  &.feedback-success{
    padding:30px 10px;
    color:@brand-success;
  }
}
.pre-wrap{
  white-space: pre-wrap;
}
.pre-line{
  white-space: pre-line;
}
@media screen and (max-width:@screen-xs-max){
  h2, .h2 {
    font-size: 26px;
  }
  .salaxy-navi-page-container{
    .page-header {
      font-size:42px;
    }
  }
  
  .avatar-container h2 {
    font-size: 24px;
    width: 100%;
    text-align: left;
    clear: both;
  }
}
@media screen and (max-width:480px){
    h2, .h2{
        font-size:24px;
    }
    .salaxy-navi-page-container{
      .page-header {
        font-size:30px;
      }
    }
  }
}