// stylelint-disable value-keyword-case

//
// Defaults for Salaxy variables
// --------------------------------------------------

//== Branding
//
//## Site branding elements: Logo fonts etc.

//** Color of the Salary in Calculator 
@salaxy-navi-logo:                  "/img/navi-logo.png";
//** Include file for external fonts loading. Font-awesome, Gluphicons and Roboto are loaded by default.
@salaxy-fonts-include:              "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";

@dialog-logo-path:                   "/img/navi-logo.png";

//== Colors
//
//## Brand colors for Salary payment concepts.

//** Color of the Salary in Calculator 
@salaxy-salary:                  @brand-success;
//** Color of the Person (Worker selection) in Calculator 
@salaxy-person:                  @brand-info;
//** Work is currently the "worktime" tab that shows holidays, absences and later also hours / timesheets.
@salaxy-work:                    @brand-warning;
//** Expenses is the last tab in the UI.
@salaxy-expenses:                @brand-danger;

//== Modal
//
//## Colors for modals.

//** Modal header background this is also the default for other headers
@salaxy-header-bg:               @brand-primary;

//** Modal header bottom border
@salaxy-header-border:           @salaxy-expenses;
//** Modal title text color
@salaxy-header-text:             white;

//== Grid extensions
//
//## Extensions to Bootstrap 3 grid system

//** XXL screen minimum width. XXL screen is very wide screeen: Accounting professionals, Admin etc.
@salaxy-screen-xxl-min:          1900px;

//== Navi
//
//## Navi heights, widths and colors

//** Header height
@salaxy-navi-header-height:      75px;
//** Width of the sidebar (left navi)
@salaxy-navi-sidebar-width:      250px;
//** Header background color
@salaxy-navi-header-bg:         @salaxy-header-bg;
//** Logo area background color
@salaxy-navi-logo-bg:           @salaxy-header-bg;
//** Left navi (sidebar) background color
@salaxy-navi-sidebar-bg:        white;

@poweredby-visibility: hidden;
@poweredby-logo-path: "https://cdn.salaxy.com/ng1/img/poweredby/palkkaus-logo-dark.png";