.salaxy-tutorial-intro {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-image: url(https://cdn.salaxy.com/ng1/img/tutorial/background-tutorial.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 60px;
  padding-left: 8%;

  main {
    display: block;
    height: 166px;
    overflow-y: auto;
  }
  ul{
    padding-left: 24%;
    margin-top: 15px;
    font-size: 0.95em;
    margin-bottom:0;
  }
  h4{
    width: 91%;
  }



  @media screen and (max-width:1100px){
    width: 360px;
    height: 360px;
  }
  @media screen and (max-width:1015px){
    width: 333px;
    height: 333px;
    padding-top:50px;
  }
  @media screen and (max-width:991px){
    width: 360px;
    height: 360px;
    padding-left:5%;
    h4{
      width: 84%;
    }
  }
  @media screen and (max-width:690px){
    width: 360px;
    height: 360px;
    padding-left:5%;
    h4{
      width: 90%;
    }
  }
  @media screen and (max-width:400px){
    width: 300px;
    height: 300px;
    padding-top:40px;
  }
}