/**
 * Salaxy Wizard component based on bootstrap
 */

@import "modals/modal-dialog.less";

.modal-open{
    .dropdown-menu{
        z-index:1071;
    }
}

.worker-onboarding-wizard{ 
    .link{
        text-decoration:underline;
        color:@brand-primary;
        cursor:pointer;
    }
    #bankButtonRow{
        .btn-bank{
            text-align:center; 
            display:inline-block;
            padding-left: 4px;
            padding-right: 4px;
            margin-bottom:8px;
            @media screen and (max-width:420px){
                &.col-xs-4{
                    width:50%;
                }
            }
            cursor:pointer;
            &:hover{
                .btn-bank-inner{
                    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                }
            }
            &.active{
                .btn-bank-inner{
                    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1); 
                    border: 1px solid @brand-primary;
                }
            }
            .btn-bank-inner{
                width:100%;
                padding-top:20px;
                padding-bottom:20px;
                border: 1px solid #ddd;
            }
            img{
                clear:both;
                display:block;
                width:auto;
                max-height:40px;
                margin:auto auto 15px;
            }
            .bank-title{
                width:100%;
                clear:both;
                font-weight:normal;
                font-size:13px;
                display:block;
            }
        }
    }
}

.salaxy-wizard {

    // Mimics Bootstrap columns for 20% width
    .col-sm-fifth {
        width: 20%;
    }

    .col-sm-fifth {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .wizard-page-header {
        height: 175px;
        overflow: auto;
        h2 {
            margin-top: 0px;
        }
    }

    .wizard-icon-row, .wizard-text-row {
        text-align: center;
        margin: 0px;
        padding: 0px 100px 0px 100px;
    }

    .wizard-text-row {
        color: @text-muted;
        line-height: 1.1;
        margin-bottom: 10px;
        a {
            color: @link-color;
            :hover {
                color:  @link-color;
                text-decoration: underline;
            }
        }
    }

    .wizard-icon-row {
        font-size: 52px;
        border-bottom: solid 8px @brand-primary;

        div {
            height: 30px;
        }

        .salaxy-avatar {
            position: relative;
            top: -7px;
            vertical-align: middle;
        }

        .salaxy-avatar i strong {
            color: @brand-primary;
        }

        .salaxy-avatar i.fa-circle strong {
            color: white;
        }

        .salaxy-avatar i {
            color: @brand-primary;
            background-color: #ffffff;
        }

        .salaxy-avatar i.text-danger {
            color: @brand-danger;
        }

        .salaxy-avatar.disabled i, .salaxy-avatar.disabled i strong {
            color: @text-muted;
        }
    }

    .wizard-text-row {
        margin-top: 30px;  
    }

    .margin-top-sm.margin-xs{
        @media screen and (max-width:767px){
            margin-top:20px;
        }  
    }
    
    .worker-wizard-content{
        fieldset{
            @media screen and (min-width:768px){
                margin-bottom:20px;
        }
    }
        @media screen and (min-width:992px){
            margin-top:30px;
        }
    }

    /*salaxy-input ng-form .form-group {
        margin-bottom: 15px;
    }
    */
    button:active {
        border: 1px solid @brand-primary;
    }
    
    label.btn.active {
        background-color: @brand-primary;
        box-shadow: none;
    }
    
    
}


// Style for form fields that are invalid and required

input.ng-invalid.ng-invalid-required.ng-dirty { /**.ng-touched*/
    border-color: @brand-danger;
}

select.ng-invalid.ng-invalid-required.ng-dirty { /** .ng-touched*/
    border-color: @brand-danger;
}


#bankButtonRow {
    
    #mostUsedBanks {
        display: inline-block;

        label {
            height: 35px;
            margin-bottom: 10px;
            margin-right: 5px;
        }

        label.btn.active:hover {
            background-color: @brand-primary;
        }

        label.btn:hover {
            background-color: @brand-primary;
        }
    }

    a.btn.btn-default#other-banks-button {
        display: inline-block;
        //margin-left: 4px;
        height: 31px;
        border-radius: 2px;
        border-color: @brand-primary;

        &.bank-chosen {
            background-color: @brand-primary;
            border-color: #00729b; // TODO change to variable
        }
    }
}

.radio {
    padding-top: 0px;

    .radio-inline {
        padding-top: 0px;
    }
}