
.salaxy-calc-worker-info {
  margin-bottom:15px;

  salaxy-avatar {
    font-size: 82px;
    @media screen and (max-width:480px){
      font-size:66px;
    }
  }
  .worker-info-col{
    @media screen and (max-width:480px){
      font-size:0.9em;
    }
  }
  h2 {
    margin-top:5px; 
    margin-bottom: 5px;
  }
}



.salaxy-account-info-person{
  

  .worker-info-col, .worker-avatar-col{
    text-align:left;
    float:left;
    display:block;
  }
  .worker-info-col{
    margin:0 15px;
  }
 
 .account-info-contact-details{
  margin-top:10px;
  font-size: 0.9em;
 }
  salaxy-avatar{
    font-size:100px;
    img{
      max-width:150px;
    }
  }
  h2 {
    font-weight:bold;
    font-size:23px;
    margin-top:5px; 
    margin-bottom: 5px;
  }

  @media screen and (min-width:992px){
    float:none;
    width:100%;
    padding: 10px 5px;
    text-align: center;
    
    border-radius:10px;
   
    .worker-info-col{
      text-align:center;
      margin:10px auto 0;
      float:none;
    }
    h2 {
      font-size:15px;
    }

  }
  @media screen and (max-width:767px){
  
  }
  @media screen and (max-width:480px){
    h2 {
      font-size:15px;
    }
    salaxy-avatar{
      font-size:70px;
      img{
        max-width:70px;
      }
    }
  }
  @media screen and (max-width:400px){
    .worker-info-col{
      margin:0 7px;
    }
    .account-info-contact-details{
      margin-top:5px;
    }
    salaxy-avatar{
      font-size:60px;
     
    }
  }

}

