<h1>Salaxy training material</h1>
<ul>
    <li><a href="/docs/salaxy-training-ng/Salaxy Angular 2 Authenticated Exercise.pdf">Salaxy Angular 2 Authenticated Exercise.pdf</a></li>
    <li><a href="/docs/salaxy-training-ng/Salaxy Angular 2 basic Exercise.pdf">Salaxy Angular 2 basic Exercise.pdf</a></li>
    <li><a href="/docs/salaxy-training-ng/Salaxy Angular 2 Overview.pdf">Salaxy Angular 2 Overview.pdf</a></li>
    <li><a href="/docs/salaxy-training-ng/Salaxy Angular2 Building Blocks.pdf">Salaxy Angular2 Building Blocks.pdf</a></li>
    <li><a href="/docs/salaxy-training-ng/Salaxy Material 2 - Exercises.pdf">Salaxy Material 2 - Exercises.pdf</a></li>
    <li><a href="/docs/salaxy-training-ng/Salaxy Package.pdf">Salaxy Package.pdf</a></li>
</ul>