<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyPaymentCancelDialogLabel" sxy-text="SALAXY.NG1.PaymentCancelDialogComponent.paymentCancelled"></h2>
</div>
<div class="modal-body">
  <p sxy-text="SALAXY.NG1.PaymentCancelDialogComponent.paymentCancelledBank"></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>