<div>
  <div sxy-if-role="anon" class="alert alert-danger">
    <p>
      <strong>Please authenticate:</strong> this example page requires that you are authenticated.
    </p>
    <p>Please see <a href="/#security/index">Getting started section</a> for more information.</p>
  </div>
  <div sxy-if-role="auth" ng-switch="$ctrl.mode">
    <div ng-switch-when="employment" class="container">
      <div ng-if="!$ctrl.currentEmployment">
        <h1>Select an employment relation / worker</h1>
        <p>
          Please, first select an employment relation to show in the examples:
        </p>
        <div style="max-height: 300px; overflow-y: auto;">
          <salaxy-worker-list limit-to="3" ng-ref="$workersList" mode="select"
            on-list-select="$ctrl.currentEmployment = (value ? item : null); $workersList.selectedItems = (value ? [item] : [])"></salaxy-worker-list>
        </div>
      </div>
      <div ng-if="$ctrl.currentEmployment">
        <div style="line-height: 36px;">
          <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.currentEmployment = null">Clear selection</button>
          Selected employment id: {{ $ctrl.currentEmployment.id || 'new' }}
        </div>
        <ng-transclude ng-transclude-slot="main">No content</ng-transclude>
      </div>
    </div>
    <div ng-switch-default>
      <div ng-if="!$ctrl.currentCalc">
        <h1>Select a calculation</h1>
        <p>
          Please, first select a calculation to show in Calculator components:
        </p>
        <div class="btn-toolbar">
          <button type="button" class="btn btn-default" ng-click="$ctrl.selectCalculation('draft')">Select draft</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.selectCalculation('paid')">Select paid</button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.selectCalculation('new')">Create a new calculation</button>
        </div>
      </div>
      <div ng-if="$ctrl.currentCalc">
        <div style="line-height: 36px;">
          <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.currentCalc = null">Clear selection</button>
          Selected calculation: {{ $ctrl.currentCalc.id || 'new' }}
        </div>
        <ng-transclude ng-transclude-slot="main">No content</ng-transclude>
      </div>
    </div>
  </div>
</div>