<div ng-cloak class="salaxy-component salaxy-navi-page-container" ng-class="{ 'salaxy-navi-sm-opened': $ctrl.isNaviOpen }">
  <nav class="salaxy-navi-sidebar hidden-print">
    <div class="salaxy-logo-container"><a href="/#/"></a></div>
    <div class="visible-sm visible-xs mobile-login-container text-center">
      <salaxy-login-button></salaxy-login-button>
    </div>
    <salaxy-navi-sitemap mode="3-level"></salaxy-navi-sitemap>
  </nav>
  <header class="salaxy-navi-header-mobile">
    <button type="button" class="salaxy-navi-hamburger btn btn-default pull-right" ng-click="$ctrl.toggleNavi()">
			<span class="sr-only" sxy-text="SALAXY.UI_TERMS.navigation"></span>
			<i class="fa  fa-bars" aria-hidden="true"></i>
		</button>
    <h1>{{ $ctrl.title | sxyTranslate }}</h1>
  </header>
  <div class="salaxy-navi-main-container">
    <content>
      <header class="salaxy-navi-header-default" ng-controller="NaviController as navi">
        <div ng-class="navi.current.isFullWidth ? 'container-fluid' : 'container'">
          <div class="pull-right  hidden-print">
            <salaxy-login-button class="pull-right" style="margin-left:5px;"></salaxy-login-button>
            <a href="/" class="btn btn-info">&laquo; Salaxy overview</a>
          </div>
          <h1 class="page-title">
            @SALAXY/NG1-library
          </h1>
        </div>
      </header>
      <div id="salaxy-alert-container"></div>
      <main>
        <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' : 'container'" style="position: relative">
          <div style="position: absolute; top: -32px; left: 15px; font-size: 1em; line-height: 1em;">
            <a ng-href="/">Salaxy DEV</a> &raquo;
            <a ng-href="/ng1">Angular JS</a> &raquo;
            <span ng-repeat="node in $ctrl.currentPath" ng-if="!node.hidden">
              <a ng-href="{{ node.url }}">{{ (node.title | sxyTranslate)  || "???" }}</a>
              <span ng-if="!$last"> &raquo; </span>
            </span>
          </div>
          <div ng-view autoscroll="true"></div>
        </div>
      </main>
    </content>
  </div>
</div>