<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.data.heading | sxyTranslate}}</h3>
</div>
<div ng-if="$ctrl.data.text" class="modal-body salaxy-component" id="modal-body">
  <p class="pre-wrap">{{$ctrl.data.text | sxyTranslate}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$close()">{{$ctrl.data.okText | sxyTranslate}}</button>
</div>