<div id="salaxyDialog" class="salaxy-component salaxy-dialog modal-dialog {{size ? 'modal-' + size : ''}}" aria-labelledby="salaxyDialogLabel" role="dialog">
        <div class="modal-content" role="document" uib-modal-transclude></div>
</div>