<div class="salaxy-component container-document-print salaxy-rpt" role="dialog">
    <div class="document-preview" id="document-preview">
        <div style="height:auto;min-height:277mm" class="modal-content document a4portrait" role="document" uib-modal-transclude></div>
    </div>
</div>
