<div class="modal-body" id="modal-body">
  <div class="sxy-spinner" ng-if="!$ctrl.data.isReady">
      <svg class="sxy-spinner-bg" viewBox="0 0 64 64"><circle cx="32" cy="32" r="26"></circle></svg>
      <svg class="sxy-spinner-spin" viewBox="0 0 64 64">
          <circle transform="translate(32,32)" r="26"></circle>
      </svg>
  </div>
  
  <div style="text-align: center;">
      <h3 ng-if="!$ctrl.data.isReady" >{{$ctrl.data.waitHeading | sxyTranslate}}</h3>
      <h3 ng-if="$ctrl.data.isReady" >{{$ctrl.data.readyHeading | sxyTranslate}}</h3>
      <p  ng-if="!$ctrl.data.isReady" style="white-space: pre;">{{$ctrl.data.waitText | sxyTranslate}}</p>
      <p ng-if="$ctrl.data.isReady">
        {{$ctrl.data.readyText | sxyTranslate}} 
        <a ng-if="$ctrl.data.target" ng-click="$close()" ng-href="{{$ctrl.data.url}}" target="{{$ctrl.data.target}}" >{{$ctrl.data.openText | sxyTranslate}}</a>
        <a ng-if="!$ctrl.data.target" ng-click="$close()" ng-href="{{$ctrl.data.url}}" >{{$ctrl.data.openText | sxyTranslate}}</a>
      </div>
  </div>
</div>