<div class="modal-body" id="modal-body" style="text-align:center;">
  <div class="sxy-spinner">
    <svg class="sxy-spinner-bg" viewBox="0 0 64 64"><circle cx="32" cy="32" r="26"></circle></svg>
    <svg class="sxy-spinner-spin" viewBox="0 0 64 64">
            <circle transform="translate(32,32)" r="26"></circle>
        </svg>
  </div>
  <div style="text-align: center;">
    <h3 ng-if="$ctrl.data.heading">{{$ctrl.data.heading | sxyTranslate}}</h3>
    <p class="pre-wrap" ng-if="$ctrl.data.text">{{$ctrl.data.text | sxyTranslate}}</p>
  </div>
</div>