<div class="modal-header">
  <div class="row">
    <div class="col-xs-12">
      <img src="https://cdn.salaxy.com/ng1/heltti-modal/heltti.png" class="img-responsive logo-img" alt="Heltti" />
      <h2 class="modal-title">Työterveyshuolto</h2>

      <button class="close pull-right" ng-click="$close()" aria-label="Close">
                <span>&times;</span>
            </button>
    </div>
  </div>

</div>

<div class="modal-body ">

  <div class="row ">
    <div class="col-xs-12">
      <p>Tarvitset lakisääteisen työtapaturmavakuutuksen, kun palkkaat työntekijöitä. Palkkaus.fi:n kautta kaikki maksut ja ilmoitukset hoituvat automaattisesti osana palkanmaksuja.</p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="packagewrapper package1">
        <div class="packageheader">
          <h3>Startti</h3>
          <span class="sampleprice">Esimerkkihinta*</span>
          <h5 class="price">25 €</h5>
          <span class="priceinfo">hlö/kk</span></div>
        <div class="packagecontent">
          <div class="packagecontentwrap sameheight" style="height: 225px;">
            <p class="p1">Täytä lakisääteiset työnantajavelvoitteet.</p>

            <ul>
              <li>Lakisääteinen työterveys</li>
              <li>Terveyskartoitus</li>
              <li>Hyvinvointikampanjat ja -tapahtumat</li>
              <li>Hyvinvointisovellus</li>
            </ul>
          </div>
          <div class="packagefooter text-center">
            <label class="btn btn-heltti">
                                    <input type="radio" ng-model="$ctrl.products.healthCareHeltti.package" autocomplete="off" value="small" name="package">
                                    <span sxy-text="SALAXY.UI_TERMS.select"></span>
                            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="packagewrapper package2">
        <img class="mostpopular hidden-xs" alt="Suosituin" src="https://heltti.fi/wp-content/themes/sirdar-branch/assets/img/popular.png">
        <div class="packageheader">
          <h3>Kasvu</h3>
          <span class="sampleprice">Esimerkkihinta*</span>
          <h5 class="price">45 €</h5>
          <span class="priceinfo">hlö/kk</span>
        </div>
        <div class="packagecontent">
          <div class="packagecontentwrap sameheight" style="height: 225px;">
            <p>
              <span>Tee hyvinvoinnnista kilpailuetu.</span>
            </p>
            <h4>Startti-paketti +</h4>
            <ul>
              <li>Yleislääkäritasoinen sairaanhoito</li>
              <li>Kattavat laboratorio- ja kuvantamistutkimukset</li>
              <li class="p1"><span style="font-weight: 400;">Yksilölliset hyvinvointivalmennukset</span></li>
            </ul>
          </div>
          <div class="packagefooter text-center">
            <label class="btn btn-heltti"> 
                                <input type="radio" ng-model="$ctrl.products.healthCareHeltti.package" autocomplete="off" value="medium" name="package">
                                <span sxy-text="SALAXY.UI_TERMS.select"></span>
                            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 ">
      <div class="packagecontent industry">
        <div class="form-group ">
          <label for="Yhtiö" class="col-sm-4 control-label" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.label" ps=":"></label>
          <div class="col-sm-8">
            <select class="form-control" ng-model="$ctrl.products.healthCareHeltti.industry">
                            <option value="notDefined" sxy-text="SALAXY.UI_TERMS.selectAlt"></option>
                            <option value="i" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.travel"></option>
                            <option value="j" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.it"></option>
                            <option value="k" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.finance"></option>
                            <option value="m" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.tech"></option>
                            <option value="n" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.accounting"></option>
                            <option value="o" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.government"></option>
                            <option value="p" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.education"></option>
                            <option value="q" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.healthcare"></option>
                            <option value="r" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.arts"></option>
                            <option value="s" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.otherService"></option>
                            <option value="other" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.otherIndustry"></option>
                    </select>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="alert alert-warning" style="margin-top: 5px" ng-show="$ctrl.products.healthCareHeltti.industry == 'other'" sxy-text="SALAXY.NG1.ProductDialogsComponent.chooseIndustry.alert"></div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <div class="footer-content">
    <button type="button" class="btn btn-heltti" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.cancel"></button>
    <button type="button" class="btn btn-heltti" ng-click="$ctrl.saveCurrentProductAndClose($close)" sxy-text="SALAXY.UI_TERMS.makeOrder"></button>
  </div>
</div>