.salaxy-component.heltti-modal{
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  background-color: #f7f7f7;
  .form-control{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style: solid;
  }
  .form-group {
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
}
  .modal-header{
    padding:20px 20px;
    background-color: #f7f7f7;
    border-bottom:none;
    .modal-title{
      color:#2c2b2a;
      height: 65px;
      vertical-align: middle;
      font-weight:bold;
      line-height: 65px;
    }
    .logo-img{
      max-width:70px;
      display: inline;
    }
  }

  .mostpopular {
    position: absolute;
    top: 15px;
    width:48%;
    right: 9px;
  }

  .modal-body{
    background-color: #f7f7f7;
  }

  
    .package1 .packageheader {
      background: #f04e22;
    }
    .package2 .packageheader {
      background: #2c2b2a;
    }
    .packageheader {
      margin-top:20px;
      padding: 15px;
      text-align: center;
      color: #fff;
      h3{
        font-size: 18px;
        letter-spacing: 0;
        font-weight:bold;
        line-height: 26px;
        color: #fff;
        margin-bottom: 0;
        margin-top:0;
      }
      h5 {
        font-size: 60px;
        margin-top: 10px;
        color: #fff;
        letter-spacing: .75px;
        line-height: 45px;
        font-weight:bold;
      }
    }

    .packagecontent {
      padding: 15px;
      background: #fff;
      border: 1px solid #e8e8e8;
      &.industry{
        padding: 20px 15px;
        min-height: 74px;
        margin-top: 20px;
        width: 100%;
        .control-label{
          margin-top:7px;
        }
      }
      h4 {
        min-height: 22px;
        font-size: 20px;
        color: #f04e22;
        letter-spacing: 0;
        line-height: 22px;
        text-transform: initial;
        margin-bottom: 15px;
      }
      p{
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .btn{
      border-radius: 6px;
      letter-spacing: .42px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 15px;
      font-weight: bold;
      font-size:17px;
      line-height: 1.3em;
      min-height:unset;
      &.btn-heltti {
        color: #f04e22;
        background-color:#fff;
        border: 2px solid #f04e22;
      }
    }
  

}