@media screen and (min-width:992px){
    &.modal-dialog.modal-lg{
        width:930px;
    }
}
.salaxy-component{
    .varma-modal {
        font-family:'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif; 
        max-width:930px;
        font-size:16px;
        font-weight:400;
        .container-fluid{
          padding-left:15px;
          padding-right:15px;
        }
        .form-control{
            border-top-style:solid;
            border-right-style:solid;
            border-bottom-style:solid;
            border-left-style: solid;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            .input-group{
                .btn{
                    color: #333;
                    background-color: #fff;
                    
                    font-size:14px;
                    line-height:20px;
                    padding:6px 12px;
                    border: 1px solid #009fd8;
                    &:hover {
                        color: #333;
                        background-color: #e6e6e6;
                        border-color: #00729b;
                    }
                }
            }
          }
    
        .modal-header {
            background-color: #094fa3;
            max-height: unset;
            padding: 25px 25px 50px;
            border-bottom: none;
            .close{
                font-size:15px;
                text-shadow: none;
                opacity:1;
                font-weight: 500;
                color:#eef0f0;
                margin-top:0;
                span{
                    font-weight: lighter;
                    height: 25px;
                    font-size: 23px;
                    display: inline-block;
                    line-height: 0.85em;
                    margin-top:-10px;
                    width: 25px;
                    border-radius: 50%;
                    border: 2px solid #eef0f0;
                    vertical-align: -webkit-baseline-middle;
                    color:#eef0f0;
                    margin-left: 5px;

                    &:hover{
                        opacity:0.8;
                    }
                }
                &:hover{
                    color: #eef0f0;
                    opacity:0.8;
                }
                
            }
            .modal-logo {
                max-width: 140px;
                height: auto;
                display:inline-block;
            }
        }

        .icon-wrapper{
            padding:12px 0 12px;
            display:block;
            cursor: pointer;
            background-color:transparent;
            transition: all 0.3s ease;
            border-radius:0;
            
        }
        .icon-wrapper:hover{
            border-radius:10px;
            background-color:#ebebeb;
            transition: all 0.3s ease;
            text-decoration:none;
            .varma-icon, .pink{
                margin-top:-2px;
                transition: all 0.3s ease;
            }
        }
        .varma-icon{
            max-width: 65%;
            margin-bottom: 10px;
            margin:0 auto 5px;
            display:block;
            clear:both;
        }
        .modal-body {
            display:block;
            padding: 0px 0 0px;
            background-color:#eef0f0;
            &.start-body{
                padding:0;
            }
            .row-white{
                background-color:#fff;
                padding-bottom:25px;
            }
            .row-video{
                padding:20px 25px;
            }
            .control-label{
                
               
                margin-bottom: 0;
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: rgba(0, 0, 0, 0.87);
                
                i.fa-info-circle{
                    margin-top: 4px;
                    color:#333;
                }
            }
            i.fa-info-circle{
                position: relative;
                margin-left: -19px;
                margin-top: 10px;
                cursor:pointer;
                color:#333;
            
            }
        
        }
        .form-group{
            font-size:15px;
            font-weight:400;
            margin:10px 0;
            .label-wrapper{
                label{
                    margin-left: 10px;
                }
            }
            .radio{
                padding-left:20px;
            }
        }
        h1{
            
            font-weight:700;
            font-family:'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif; 
            color: #094fa3;
            letter-spacing: -1px;
            margin-top:8px;
            font-size: 60px;
            line-height: 62px;
        }
        h2 {
            font-size: 25px;
            font-weight: 700;
            font-family:'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #094fa3;
            letter-spacing: -1px;
        }
        .start{
            h2{
                font-weight: 300;
                margin-bottom:20px;
            }
        }
        .subtitle {
            font-weight: 300;
            font-size:18px;
            font-family:'Source Sans Pro', "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #094fa3;
            margin-top:0;
            letter-spacing: 0px;
        }
        .banner{ 
            img {
            min-width: 100%;
            }
        }
        
        .btn-pink {
            background-color: #f5578a;
            color: #fff;
            text-align: center;
            margin: auto;
            font-size:17px;
            font-weight:700;
            text-transform:none;
            min-height:unset;
            min-width:160px;
            border-radius: 0;
            &:hover{
                background-color: #f5578a;
                color:#fff;
            }
        }
        .end{
            .btn-pink{
                word-wrap: normal;
                white-space: pre-line;
            }
            .txt-end{
                margin-bottom:30px;
            }
        }
        h4{
            font-size:16px;
        
        }
        .pink, .pink a {
            color:#f5578a;
        
        }
    
        .content{
            margin-top:30px;
            &.start{
                margin-top:10px
            }
        }
        .video-wrapper{
            text-align: center;
            max-width: 87%;
            margin: 10px auto 10px;
            .videoWrapper {
                position: relative;
                padding-bottom: 49%;
                /* 16:9 */
                padding-top: 25px;
                height: 0;
                object,
                embed,
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    .modal-footer{
            background-color:#eef0f0;
            border-top:none;
            a{
                margin-top: 6px;
                display: block;
                &.readmore{
                  display:inline;
                }
            }
            span{
                margin-top: 6px;
                display: block;
            }
            .btn{
                span{
                    margin-top:0;
                }
            }
        }
        .fa-info-circle{
            cursor:pointer;
        }
        .fa-angle-left{
            font-weight:bold;
            margin-right:7px;
        }
        a{
        color: #094fa3;
        &:hover{
            text-decoration:none;
        }
        }
        .form-control{
            &:focus {
            border-color: #094fa3;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(9,79,163, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(9,79,163, 0.6);
            }
            &.ng-invalid{
                border-color: #d55552;
                &:focus{
                
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(213,85,82, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(213,85,82, 0.6);
                }
            }
            &.ng-valid{
                border-color: #289548;
                &:focus{
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(40,149,72, 0.6);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(40,149,72, 0.6);
                }
            }
            
        }

        salaxy-input.ng-invalid{
            input{
                
                &.form-control.ng-dirty.ng-valid{
                    border-color: @brand-danger;
                    
                    &:focus{
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(213,85,82, 0.6);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(213,85,82, 0.6);
                    }
                }
            }
        }

        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #fff;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 1px solid #c2c2c2 ;
        }

        input[type='radio']:checked:after {
            padding: 5px;
            width: 13px;
            height: 13px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #f5578a;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 3px solid #fff;
            -webkit-box-shadow: 0px 0px 0px 1px rgba(194,194,194,1);
            -moz-box-shadow: 0px 0px 0px 1px rgba(194,194,194,1);
            box-shadow: 0px 0px 0px 1px rgba(194,194,194,1);
        }

        input[type='checkbox']:after {
            width: 15px;
            height: 15px;
            
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #fff;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 1px solid #c2c2c2;
            border-radius:2px;
        }

        input[type='checkbox']:checked:after {
            padding: 5px;
            width: 13px;
            height: 13px;
            border-radius:2px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #f5578a;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid #fff;
            -webkit-box-shadow: 0px 0px 0px 1px rgba(194,194,194,1);
            -moz-box-shadow: 0px 0px 0px 1px rgba(194,194,194,1);
            box-shadow: 0px 0px 0px 1px rgba(194,194,194,1);
        }
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none; /* Edge */
            appearance: none;
            background: url(https://cdn.salaxy.com/ng1/varma-modal/varma-select-arrow.png) 99% no-repeat #fff;
            option{
                background-color: #fff;
            }    
        }
        /* IE11 */
        select::-ms-expand {
            display: none;
        }
        .nested-input{
            margin-top:10px;
        }

    
        @media screen and (min-width:768px) {
            .content {
                max-width: 83%;
                margin: auto;
                margin-top: 30px;
                &.start{
                    margin-top:5px;
                }
                .second-button{ 
                    min-height: 3.6em;
                    padding-top: 1em;
                }
            }
            .modal-footer .footer-content {
                max-width:83%;
                margin: auto;
            }
        }

        @media screen and (max-width:1111px) {
            h1{
                font-size:50px;
                line-height:54px;
            }
        }
        @media screen and (max-width:997px) {
            
        
        
        }
        @media screen and (max-width:944px) {
            
            h1{
                font-size:47px;
                line-height:51px;
            }
            .end{
                .btn{
                    font-size:15px;
                }
                
            }
        }
        @media screen and (max-width:895px) {
            
            h1{
                font-size:44px;
                line-height:47px;
            }
            .video-wrapper {
                text-align: center;
                max-width: 92%;
                margin: 13px auto 10px;
            }
        }
        @media screen and (max-width:847px) {
            
            h1{
                font-size:42px;
                line-height:46px;
            }
            
        }
        @media screen and (max-width:767px) {
        .icon-wrapper .pink{
            font-size:0.9em;
                line-height: 1.1em;
                display: block;
            
            }
            .varma-icon{
                max-width:100%;
            }
            h1{
                font-size: 48px;
                line-height: 52px;
                margin-top: 3px;
                margin-bottom: 27px;
            }
        .video-wrapper {
                text-align: center;
                max-width: 69%;
                margin: 13px auto 10px;
            }
            .form-group.radio-buttons{
                margin-left:33px;
            }
            .xs-margin-top{
                margin-top:8px;
            }
            .txt-index{
                text-align:center;
                font-weight:normal;
                font-size:17px;
                margin-top:15px;
            }
            .modal-body{
                i.fa-info-circle{
                    margin-left: 14px;
                    
                }
            }
            .start{
                .btn-pink{
                    min-width:190px;
                }
            }
        .end{
            .btn{
                font-size:17px;
                min-width:273px;
            }
            
        }
        .form-group.checkbox-group{
            margin-left:34px;
        }
        
        
            .btn-next{
                margin-right:0px;
                float:right;
                
            }
            
    
    }
    @media screen and (max-width:540px) {
        h1{
            font-size:36px;
            line-height:37px;
        }
        .video-wrapper {
            text-align: center;
            max-width: 100%;
            margin: 13px auto 10px;
        }
            .btn-next{
                float:right;
                margin-right:0px;
                min-width:100px;
                font-size:15px
            }
            .end{
                .btn{
                    font-size:15px;
                    min-width:254px;
                }
                
            }
        }
        

    }
}
.uib-datepicker-popup.dropdown-menu {
    z-index:1051;
}