  /* TODO: can this be removed? */
 .salaxy-component {
  
  .ifmodal{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffff;
    border-radius: 4px;

    .form-control{
      
      border-top-style:solid;
      border-right-style:solid;
      border-bottom-style:solid;
      border-left-style: solid;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
    }
    .form-group {
      margin-bottom: 15px;
      padding: 0;
      font-size: 16px;
    }
    .modal-header {
      border-bottom: none;
      background-color: #fff;
      border-radius: 6px 6px 0 0;
      padding: 10px 20px 0 40px;
      margin:auto;
      
    }
    .modal-body{
    margin: auto;
    background-color:transparent;
    padding:10px 40px 20px;
  }

    .modal-header h2 {
      font-weight: 100;
      color: #000;
      height: 50px;
      vertical-align: middle;
      line-height: 50px;
    }

    .logo-img {
      max-width: 50px;
      display: inline;
    }


    input[type="text"],
    select {
      height: 45px;
      padding: 4px 15px;
      border-radius: 3px;
      box-shadow: none;
      line-height: 1.4em;
    }

    label {
      font-size: 12px;
      font-weight: 700;
    }

    legend {
      font-weight: 100;
      font-size: 24px;
    }

    .bignumber {
      font-weight: 400;
      color: #6fa9a0;
    }

    .info-number-container {
      border-left: none;
    }

    .alert-container {
      margin-top: 15px;
    }

    .alert-text {
      margin-left: 67px;
    }

    .alert-icon {
      font-size: 40px;
      font-weight: 100;
      color: #ff911e;
      line-height: 34px;
      height: 50px;
      padding: 5px;
      width: 50px;
      display: block;
      border-radius: 50%;
      text-align: center;
      border: 5px solid #ff911e;
    }

    .btn {
      font-size: 16px;
      font-weight: 400;
    }

    .btn-success,
    .btn-primary {
      background-color: #76bbb2;
      border: none;
      color:#fff;
      border-radius: 30px;
      padding: 5px 30px;
      color:rgb(51, 51, 51);
    }

    .btn-success:hover,
    .btn-primary:hover {
      background-color: #6fa9a0;
      border: none;
      color:rgb(51, 51, 51);
    }

    .btn-default {
      border-radius: 30px;
      padding: 5px 30px;
      border-color: #6fa9a0;
      color: #6fa9a0;
    }
  }
}