.modal-calc-list, .modal-worker-list{
 

  .striped{
    background-color: @table-bg-accent;
  }



  .list-content{ 
    font-size: 30px;
    display: table;
    width: 100%;

    .avatar-container{
      display: inline;
      vertical-align: baseline;
    }
    salaxy-avatar{
      vertical-align: baseline;
    }

    .salaxy-avatar {
      font-size: 28px;
    }
    span {
      font-size: 0.43em;
      display: table-cell;
      vertical-align: middle;
      padding-left: 5px;
      @media screen and (max-width:480px){
        font-size: 0.38em;
      }
      &.name {
        line-height: 1.2em;
        width: 48%;
      }
      &.date {
        width: 15%;
        text-align: right;
      }
      &.sum {
        width: 15%;
        text-align: right;
      }
      &.button {
        vertical-align: middle;
        display: table-cell;
        width: 15%;
      }
    }
  }
  ul {
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
  }

  li {
    padding: 0px 10px 0 10px;
    list-style: none;
  }
}