<div salaxy-if-role="company" class="alert alert-danger">
  This component is designed to function for Personal account only: Worker or Household.<br />
  It may not function properly with Company account.
</div>
<salaxy-account-info-person view-type="details"></salaxy-account-info-person>