<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <sxydoc-example>  
        <div class="row">
          <div class="col-sm-4">
            <salaxy-calc-chart role="worker" calc="$demo.currentCalc"></salaxy-calc-chart>
          </div>
          <div class="col-sm-4">
            <salaxy-calc-chart role="employer" calc="$demo.currentCalc"></salaxy-calc-chart>
          </div>
          <div class="col-sm-4">
            <salaxy-calc-chart role="worker" chart-type="'pie'" calc="$demo.currentCalc"></salaxy-calc-chart>
          </div>
          <div class="col-sm-4">
            <salaxy-calc-chart role="employer" chart-type="'pie'" calc="$demo.currentCalc"></salaxy-calc-chart>
          </div>
        </div>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>