<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <p>
        Shows a button for approving / rejecting a shared calculation.
        <strong>NOTE:</strong> The calculation needs to be in a shared state or there will be an error.
      </p>
      <sxydoc-example>  
        <div>
          <salaxy-calc-sharing-receipt-action model="$demo.currentCalc" type="'approve'"></salaxy-calc-sharing-receipt-action>
          <salaxy-calc-sharing-receipt-action model="$demo.currentCalc" type="'reject'"></salaxy-calc-sharing-receipt-action>
        </div>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>