<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <sxydoc-example>  
        <salaxy-calc-results model="$demo.currentCalc"></salaxy-calc-results>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>