<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <sxydoc-example>  
          <salaxy-calc-worktime calc="$demo.currentCalc"></salaxy-calc-worktime>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>