<h1 class="page-header">Rows editor variations</h1>
<p class="lead">
  Rows editor (<code>salaxy-calc-rows-2019-editor</code>) is one of the key components in creating salary calculations.
  The following demonstrates the different options for the controller.
</p>
<div ng-controller="CalculationCrudController as $calcCtrl" 
  ng-init="$calcCtrl.model = 'new'; $calcCtrl.ctrlOptions = { showEditButtons: true, mode: 'edit' }">
  <div class="btn-toolbar" role="toolbar" aria-label="Demo buttons">
    <div class="btn-group" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Mode ({{ $calcCtrl.ctrlOptions.mode || "default: read-edit" }}) <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.mode = 'edit'">edit: Editable, if the calculation is editable</a></li>
        <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.mode = 'read-edit'">read-edit: First read-only, click to edit (set edit buttons visible separately)</a></li>
        <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.mode = 'read-only'">read-only: Always read-only</a></li>
      </ul>
    </div>
    <div class="btn-group" role="group" aria-label="Editing">
      <button class="btn btn-default" ng-click="$calcCtrl.ctrlOptions.inEdit = true" ng-disabled="$calcCtrl.ctrlOptions.inEdit">Start edit</button>
      <button class="btn btn-default" ng-click="$calcCtrl.ctrlOptions.inEdit = false" ng-disabled="!$calcCtrl.ctrlOptions.inEdit">Stop edit</button>
    </div>
    <div class="btn-group" role="group" aria-label="UI">
      <button class="btn btn-default" ng-click="$calcCtrl.ctrlOptions.showEditButtons = !$calcCtrl.ctrlOptions.showEditButtons">
        {{ $calcCtrl.ctrlOptions.showEditButtons ? "Hide edit butttons" : "Show edit buttons" }}
      </button>
      <button class="btn btn-default" ng-click="$calcCtrl.ctrlOptions.ShowGrossTotals = !$calcCtrl.ctrlOptions.ShowGrossTotals">
          {{ $calcCtrl.ctrlOptions.ShowGrossTotals ? "Hide calc totals" : "Show calc totals" }}
      </button>
    </div>
    <div class="btn-group" role="group" aria-label="Calculation">
      <button class="btn btn-default" ng-click="$calcCtrl.recalculate()">Recalculate</button>
    </div>
    <div class="btn-group" role="group" aria-label="Categories">
      <div class="btn-group" uib-dropdown>
        <button id="categories" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
          Categories <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.categories = null">All categories (no filter)</a></li>
          <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.categories = ['salary', 'salaryCalc', 'holidays', 'salaryAdditions']">Salaries and additions</a></li>
          <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.categories = ['benefits']">Benefits</a></li>
          <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.categories = ['expenses']">Expenses</a></li>
          <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.categories = ['deductions']">Deductions</a></li>
          <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.categories = ['other']">Other</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Types">
        <div class="btn-group" uib-dropdown>
          <button id="types" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
              Types <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.rowTypes = null">All types (no filter)</a></li>
            <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.rowTypes = ['salary', 'compensation', 'hourlySalary']">Salary and compensation</a></li>
            <li role="menuitem"><a href="" ng-click="$calcCtrl.ctrlOptions.rowTypes = ['phoneBenefit', 'overtime', 'milageOwnCar', 'dailyAllowance', 'dailyAllowanceHalf', 'mealCompensation']">Hourly salary additions</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div>
    <p ng-if="$calcCtrl.ctrlOptions.rowTypes">Types filter: {{ $calcCtrl.ctrlOptions.rowTypes }}</p>
    <p ng-if="$calcCtrl.ctrlOptions.categories">Categories filter: {{ $calcCtrl.ctrlOptions.categories }}</p>
  </div>
  <salaxy-calc-rows-2019-editor parent="$calcCtrl.current" 
    title="Laskelman rivit"
    rows="[{ rowIndex: 0, rowType: 'hourlySalary', count: 25, price: 15 }]"
    categories="$calcCtrl.ctrlOptions.categories"
    row-types="$calcCtrl.ctrlOptions.rowTypes"
    mode="{{ $calcCtrl.ctrlOptions.mode }}" 
    on-commit="$calcCtrl.ctrlOptions.inEdit = false;$calcCtrl.recalculate()" on-reset="$calcCtrl.ctrlOptions.inEdit = false"
    on-start-edit="$calcCtrl.ctrlOptions.inEdit = true" is-in-edit="$calcCtrl.ctrlOptions.inEdit"
    show-edit-buttons="$calcCtrl.ctrlOptions.showEditButtons" show-gross-totals="$calcCtrl.ctrlOptions.ShowGrossTotals">
  </salaxy-calc-rows-2019-editor>
  <h3>Rows JSON</h3>
  <p>
    Has changes: {{ $calcCtrl.hasChanges }}
  </p>
  <salaxy-json-formatter open="3" json="$calcCtrl.current.rows"></salaxy-json-formatter>
</div>
