<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <sxydoc-example>  
        <div>
          <salaxy-calc-worker-info model="$demo.currentCalc"></salaxy-calc-worker-info>
        </div>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>