<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <sxydoc-example>  
        <salaxy-calc-reports calcs="[$demo.currentCalc]" report-type="'salarySlip'"></salaxy-calc-reports>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>