<div class="container salaxy-calc">
  <sxydoc-assure-bo ng-ref="$demo">
    <main>
      <p>This is Salary slip report:</p>
      <sxydoc-example>  
        <salaxy-calc-report calc="$demo.currentCalc" report-type="'salarySlip'" template-name="'salarySlipV2'"></salaxy-calc-report>
      </sxydoc-example>
    </main>
  </sxydoc-assure-bo>
</div>