<fieldset class="form-horizontal">
  <legend>Component options: </legend>
  <salaxy-input-enum options="[ 'default', 'panel', 'select']" name="mode" label="Mode" ng-model="$ctrl.mode" ng-init="$ctrl.mode = 'default'">
  </salaxy-input-enum>
  <salaxy-input-enum options="[ 'draft', 'paid', 'all']" name="category" label="Category" ng-model="$ctrl.category" ng-init="$ctrl.category = 'draft'">
  </salaxy-input-enum>
  <salaxy-input-number name="limitto" label="Limit to" ng-model="$ctrl.limitTo" ng-init="$ctrl.limitTo = 10"></salaxy-input-number>
</fieldset>

<salaxy-calc-list category="{{ $ctrl.category }}" mode="{{ $ctrl.mode }}" limit-to="$ctrl.limitTo"></salaxy-calc-list>