<div class="row" ng-init="$ctrl.demoRow = {}">
  <div class="col-sm-6">
    <fieldset>
      <legend>Type list<small> with categories (benefits)</small></legend>
      <div class="form-horizontal">
        <salaxy-calc-row-type name="demo1" model="$ctrl.demoRow" label="Calc Row type" label-type="no-label" 
          ng-ref="$ctrl.demo1"
          type="list" show-children="true" categories="['benefits']"></salaxy-calc-row-type>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-6">
    <fieldset>
      <legend>Type typeahead (all categories)</legend>
      <div class="form-horizontal">
        <salaxy-calc-row-type name="demo2" model="$ctrl.demoRow"
          ng-ref="$ctrl.demo2"
          label="Calc row type" label-cols="col-sm-6"></salaxy-calc-row-type>
      </div>
    </fieldset>
    <fieldset>
      <legend>Typeahead 2:<small> with row-types (hourlySalary, monthlySalary) and on-change</small></legend>
      <div class="form-horizontal">
        <salaxy-calc-row-type name="demo3" model="$ctrl.demoRow" label="Calc row type" label-cols="col-sm-6" row-types="['hourlySalary', 'monthlySalary']"
          on-row-changed="$ctrl.demoRow.note = 'Changed in Typeahead 2'"></salaxy-calc-row-type>
      </div>
    </fieldset>
    <fieldset>
      <legend>Typeahead 3:<small> with categories (benefits, expenses)</small></legend>
      <div class="form-horizontal">
        <salaxy-calc-row-type name="demo4" model="$ctrl.demoRow" label="Calc row type" label-cols="col-sm-6" categories="['benefits', 'expenses']"></salaxy-calc-row-type>
      </div>
    </fieldset>
    <fieldset>
      <legend>Read-only</legend>
      <div class="form-horizontal">
        <salaxy-calc-row-type type="read-only" name="demo5" model="$ctrl.demoRow" label="Calc Row Type (read-only)" label-cols="col-sm-6"></salaxy-calc-row-type>
      </div>
      <div>
        Text value: {{ $ctrl.demo2.internalValue.text }}
      </div>
      <div>
        Row model:
        <salaxy-json-formatter json="$ctrl.demoRow" open="2"></salaxy-json-formatter>
      </div>
    </fieldset>
  </div>
</div>