<div class="">
  <div class="" ng-controller="Calculator2019Controller as $ctrl" ng-init="$ctrl.model = 'new'">

    <div class="row">
      <div class="col-xs-12 form-horizontal">
        <salaxy-input name="buttonText" label="paymentButtonText" ng-model="temp.paymentButtonText" tooltip-html="Alternative text for button. Supports also translation keys. Try:<br>SALAXY.NG1.PayrollComponent.payrollPayButton" tooltip-placement="top-right"></salaxy-input>
        <salaxy-input-enum type="select" name="mode" label="mode" ng-model="temp.mode" options="[ '', 'pay-button', 'button-and-channel', 'channel-select']" ng-init="temp.method='all'"></salaxy-input-enum>
        <salaxy-input name="buttonClass" label="buttonClass" ng-model="temp.buttonClass" tooltip-html="Additional class for button.<br>Try: <br>&bull; btn-block<br>&bull; btn-success<br>&bull; btn-sm<br>&bull; uppercase<br>&bull; pull-right" tooltip-placement="top-right"></salaxy-input>
      </div>

      <div class="col-sm-8 col-xs-12 col-sm-offset-4">
        <div style="max-width: 400px; border:1px solid #ccc; margin-bottom:15px; padding:15px; width: 100%; display: table;">
          <salaxy-pay-button  model="$ctrl.current" mode="{{temp.mode}}" label="{{temp.paymentButtonText}}" button-class="{{temp.buttonClass}}"></salaxy-pay-button>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12 col-sm-offset-4">
        <div style="border:1px solid #ccc; margin-bottom:15px; padding:15px; width: 100%; display: table;">
          <code class="small">&lt;salaxy-pay-button model="$ctrl.current" mode="{{temp.mode}}" label="{{temp.paymentButtonText}}" button-class="{{temp.buttonClass}}" </code>
        </div>
      </div>
    </div>
  </div>
</div>