<div class="row" ng-controller="SessionController as $ctrl">
  <div class="col col-md-4  hidden-sm hidden-xs">
    <img align="left" src="https://cdn.salaxy.com/img/elems/salaxy/error.png">
  </div>
  <div class="col col-md-8 col-xs-12" style="font-size: 1.4em">
    <h2 class="page-header">HUPS!</h2>
    <p>
      Kirjautuminen keskeytyi tai epäonnistui.
    </p>
    <p>
      Virhe: {{$ctrl.signInError + ": " + $ctrl.signInErrorDescription}}
    </p>
    <p>
      <a href="mailto:aspa@palkkaus.fi">aspa@palkkaus.fi</a> tai 09 425 50603.
    </p>
    <p>Palkkaus.fi:n tiimi</p>
    <p><a href="/#/" class="btn btn-primary">« Etusivulle</a></p>
  </div>
</div>