<div class="row">
  <div class="col col-md-4  hidden-sm hidden-xs">
    <img align="left" src="https://cdn.salaxy.com/img/elems/salaxy/error.png">
  </div>
  <div class="col col-md-8 col-xs-12" style="font-size: 1.4em">
    <h2 class="page-header">HUPS!</h2>
    <p>
      Jotain meni nyt pieleen tai tätä ei ole vielä palvelussa toteutettu! Voit jättää palautetta ja kommenttisi asiakaspalveluumme:
      <a href="mailto:aspa@palkkaus.fi">aspa@palkkaus.fi</a> tai 09 425 50603.
    </p>
    <p>Palkkaus.fi:n tiimi</p>
    <p><a href="#" class="btn btn-primary" onclick="window.history.back();return false;">« Takaisin</a></p>
  </div>
</div>