<div class="row">
  <div class="col col-md-4  hidden-sm hidden-xs">
    <img src="https://cdn.salaxy.com/img/elems/salaxy/error.png">
  </div>
  <div class="col col-md-8 col-xs-12" style="font-size: 1.4em">
    <h2 class="page-header">Sivua ei löydy</h2>
    <p>
      Tätä sivua ei löydy.
    </p>
    <p>
      Jos tämä tapahtuu uudestaan, kerrothan siitä meille:
      <a href="mailto:aspa@palkkaus.fi">aspa@palkkaus.fi</a> tai 09 425 50603.
    </p>
    <p>Palkkaus.fi:n tiimi</p>
    <p><a href="/NgApp" class="btn btn-primary">« Etusivulle</a></p>
  </div>
</div>