﻿<h2 class="page-header">
    The Best API for Salary Payment
</h2>
<p class="lead">
    <strong>Welcome to Salaxy!</strong> Salaxy Open API provides an easy way to add the whole process of Finnish Salary Payment and Employment in general to your Web site, Mobile application or Server-side process. The API provides methods for Salary
    calculation, Salary payment, Taxation (Ennakonpidätys), Pension payments (TyEL, YEL), Unemployment insurance (TVR), Accident insurance, Health care service, Accounting reports and more.
</p>
<h3>10 sites and counting...</h3>
<p>
    We eat our own dog food: This means that our own
    <a href="https://www.palkkaus.fi" target="_blank">Palkkaus.fi</a> web site uses our Salaxy Open API. We believe this is really important to the quality of our API: When we are using the API ourselves, it really contains all the necessary features
    to do everything.
</p>
<p>
    As of writing, our Salaxy Open API has been integrated to 10 web sites and mobile applications and we expect the number to come close to 20 by the end of 2018. Below, you see the list of web apps, that use our Salaxy API for Salary payment. You can test
    these yourself. In addition, Salaxy is used in Mobile applications such as
    <a href="http://salaxy.com/blog-posts/sumpli-palkkaus" target="_blank">Sumpli</a> and
    <a href="http://salaxy.com/cases/nordea-siirto" target="_blank">Nordea Siirto</a> and internal Salary Payment processes.
</p>
<div ng-controller="AccountAuthorizationController as authCtrl">
    <div class="row">
        <div class="col-xs-6 col-sm-4" ng-repeat="partner in authCtrl.partnerIntegrationSites">
            <salaxy-auth-card auth-id="partner.id" hide-switch="true"></salaxy-auth-card>
        </div>
    </div>
</div>
<h2>Architecture</h2>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture.png" class="img-responsive img-thumbnail" />
</div>
<h2>Getting started</h2>
<p>
    Choose the development platform that you would like to explore:
</p>
<ul>
    <li>
        <strong><a href="#/ng1/index">Angular 1.5 components</a></strong> Our most tried and tested stack that we are using in production ourselves.
    </li>
    <li>
        <strong><a href="#/js/index">Plain JavaScript / TypeScript</a></strong>, also used underneath our Angular 1.5. stack are the core JavaScript libararies. They have been developed using TypeScript, so alternatively you can have the same code with
        typings.
    </li>
    <li>
        <strong><a href="#/api/index">Core JSON API</a></strong> that you can use from any platform
    </li>
    <li>
        <strong>For <a href="#/other/ionic">Ionic / Angular.io</a>, <a href="#/other/dotnet">.Net</a> and <a href="#/other/index">other technologies</a></strong>
        <a href="mailto://contact@salaxy.com">please contact us</a>: We can provide you material that has not been released to public yet.
    </li>
</ul>
<h2>Release history and Roadmap</h2>
<ul>
    <li>Q4 / 2015: Alpha version</li>
    <li>Q2 / 2016: Public preview</li>
    <li>Q4 / 2016: Salaxy 1.0 version</li>
    <li>Q2 / 2017: Salaxy 2.0 version</li>
    <li>Q1 / 2018: Mobile First UX and Nordea Siirto</li>
    <li>Q3 / 2018: Payroll, Finvoice and other Company features</li>
    <li>Q4 / 2018: Incomes Register (Tulorekisteri) rewrite</li>
    <li>Q2 / 2019: Holidays and absences, new reporting</li>
    <li>Q3 / Payroll rewrite, Accounting rewrite and pricing</li>
    <li>Q3-Q4 / 2019: Salaxy 3.0 version rollout.</li>
    <li>Q4 / 2019: Household / Employee UI </li>
</ul>
<p>&nbsp;</p>