﻿<h2 class="page-header">We would love to talk to you</h2>
<p class="lead">
    Our offices are located in the Kruunuhaka, in central Helsinki.
    You are welcome to drop by or we can have discussion by e-mail, phone, chat etc.
</p>
<div class="row">
    <div class="col-sm-5">
        <h4><i class="fa fa-map-marker"></i>&nbsp; Address</h4>
        <p>
            Kirkkokatu 1a<br />
            00170 Helsinki<br />
            Finland
        </p>
        <br />
        <h4><i class="fa fa-mobile-phone"></i>&nbsp; Phone</h4>
        <p>Jukka Kiiskinen, CEO / +358 50 571 7551</p>
        <br />
        <h4><i class="fa fa-envelope-o"></i>&nbsp; Email</h4>
        <p><a href="mailto:contact@salaxy.com">contact@salaxy.com</a></p>
    </div>
    <div class="col-sm-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7938.3243645687635!2d24.950463668428164!3d60.171113550285675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920bd008a258d7%3A0x5e1518a6a8254e2b!2sKirkkokatu+1%2C+00170+Helsinki!5e0!3m2!1sen!2sfi!4v1477408671455" width="100%" height="300" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
    </div>
</div>
