﻿<h2 class="page-header">The Best API for Salary Payment</h2>
<p class="lead">
  <a href="http://www.salaxy.com/">Salaxy</a> is the first salary payment operator in the world enabling easy integration of direct salary payment to any Internet service.
  We offer cloud based service with truly open APIs, hiding all complexity of bringing salary payments part of your service.
  Salaxy is the future of payroll on digital era!
</p>
<div class="row">
  <div class="col-xs-12">
    <h3>Our story</h3>
    <p>
      Salaxy platform was born when we were building a local Finnish service for consumers to pay salary for household work. Paying legal salary as household was just too
      complicated and the bureaucracy was overwhelming. Palkkaus.fi service was opened 2014 and APIs for the platform started to evolve. By end of 2015 we had the open API ready
      for 3rd parties and first services were out half a year later.
    </p>
    <p>Now Salaxy is a full suite of APIs and support services for any 3rd party service to integrate payroll features and salary payments in their own user experience.</p>
    <h3>More about us</h3>
    <p>
      You can see what we are up to on our <a href="http://www.salaxy.com/">business site</a> and <a href="http://www.salaxy.com/blog/">on our blog</a>
    </p>
    <a href="http://www.salaxy.com/" class="btn btn-primary">Salaxy.com &raquo;</a>
    <a href="http://www.salaxy.com/blog/" class="btn btn-primary">Blog &raquo;</a>
  </div>
</div>