﻿<h2 class="page-header">Never walk alone with Salaxy API</h2>
<div class="lead">
    <p>
        We had our first training session for Salaxy API using Angular 2 framework.
        We think it was a success. This is what the people attending said...
    </p>
    <blockquote>
        <i>
            I have not seen this before [in the Finnish software industry] that you provide such a great API,
            then you distribute the user interfaces and their source codes ... and then even arrange training.
        </i>
    </blockquote>
    <blockquote>
        <i>
            Successfull day, I got a really nice overview of Angular 2 framework and how to get forward with it.
        </i>
    </blockquote>
    <blockquote>
        <i>
            It was nice, that there was a lot of hands-on programming. Also "homework" to work with later.
        </i>
    </blockquote>
</div>
<p>
    We are investing even more in our training sessions.
    We have planned now <strong>all together 4 sessions</strong> before summer vacations.
    <strong>If you are interested is sessions in English, please <a href="#/home/people">contact us</a></strong>,
    we may still be able to switch some of the training sessions to English.
    All our documentation, samples and material are in English.
</p>
<div class="row">
    <div class="col-xs-12">
        <h2>Upcoming trainings</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Training</th>
                        <th>Time</th>
                        <th>Language</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#/home/training#angular1">Salaxy API, Salary calculator with Angular 1.5 components</a><br />
                            Build a full site with salary payment capabilities in one day.
                        </td>
                        <td>1.6.2017</td>
                        <td>FIN</td>
                        <td>Hotel Presidentti, Helsinki</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#/home/training#angular2">Salaxy API: Salary calculator with Angular 2</a><br />
                            Overview of Angular 2 and Salaxy API in one single day.
                        </td>
                        <td>22.8.2017</td>
                        <td>FIN</td>
                        <td>Hotel Presidentti, Helsinki</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#/home/training#mvc">Salaxy API server side, using ASP.NET MVC</a>
                        </td>
                        <td>TBC: Q3/2017</td>
                        <td></td>
                        <td>Helsinki / Espoo</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="mailto:contact@salaxy.com">Give us feedback:</a><br />
                            Which technology stack would you like to us to use in a Salaxy training?
                        </td>
                        <td>Q3-Q4/2017</td>
                        <td></td>
                        <td>TBD</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Trainers</h2>
        <p>
            All our trainers are partners in out company and they have all together
            dozens of years of experience in software development.
            Every one of them is also a seasoned speaker and trainer.
        </p>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive img-thumbnail" src="/app/img/people/Olli_Perttila.jpg" style="max-height:178px;" />
                <h4>Olli Perttilä</h4>
                <p><b>CTO and Co-founder</b></p>
                <p>
                    Olli is one of the founders of Payroll Finland Ltd. and he is the main architect behind
                    <a href="https://www.palkkaus.fi">Palkkaus.fi</a> and
                    <a href="https://www.salaxy.com">Salaxy Open API</a>.
                    He has a long experience as a founder and CTO of Quartal group and
                    designing systems to banks and asset management companies.
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-thumbnail" src="/app/img/people/Matti_Jarventausta.jpg" style="max-height:178px;" />
                <h4>Matti Järventausta</h4>
                <p><b>Head of SW Development (partner)</b></p>
                <p>
                    Matti is responsible for the software development of Salaxy.
                    He has a long experience in designing and implementing
                    ERP-, HRM- CRM- and other enterprise systems as a CTO of Bilot Technologies.
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-thumbnail" src="/app/img/people/Ahti_Haukilehto.png" style="max-height:178px;" />
                <h4>Ahti Haukilehto</h4>
                <p><b>Developer training & evangelist (partner)</b></p>
                <p>
                    Ahti is one of the main contributors in the design of Salaxy architecture.
                    He is now responsible for the training material for the API and framework.
                    Ahti is one of the best known Microsoft speakers and trainers in Finland
                    and he is a co-founder of training company Sovelto.
                </p>
            </div>
        </div>
        <hr />
        <div>
            <h2 id="angular1">Salaxy API, Salary calculator with Angular 1.5 components</h2>
            <p class="lead">
                <strong>Build a full site with salary payment capabilities in one day.</strong>
                Learn how to create a full web site for Salary payment (households, companies or associations)
                using Salaxy API and Components.
                We will give an idea how to use Angular 1.5 Components and Twitter Bootstrap for UI.
                At the end of the day, you will have a full custom site running on your laptop!
            </p>
            <p>
                <b>Length:</b> 1 day<br />
                <b>Price:</b> 150 euro<br />
                <b>Registration:</b> <a href="mailto:contact@salaxy.com">Send us an e-mail</a>
            </p>
            <p>
                <b>Prerequisites:</b>
                You should know at least the basics of JavaScript programming.
                Knowing Angular is useful, but not required.
            </p>
            <p>
                This is a hands-on course, so you need a laptop that can access WLAN.
                We will provide you instructions to some pre-installations (Visual Studio Code, NodeJS, NPM, Grunt).
                All required installations are free of charge and they are available for Windows, Mac and Linux.
                We will help you with them if you have problems.
            </p>

            <p>
                <b>Contents:</b>
                <ul>
                    <li>Legistlation and basic concepts of Salary payment in Finland</li>
                    <li>Salaxy Open API basic structure</li>
                    <li>Bootstrap layout customization</li>
                    <li>Salaxy components</li>
                    <li>Authentication and security</li>
                    <li>Test enviroment</li>
                    <li>Best Practices</li>
                </ul>
            </p>
        </div>
        <div>
            <h2 id="angular2">Salaxy API: Salary calculator with Angular 2</h2>
            <p class="lead">
                <strong>Overview of Angular 2 and Salaxy API in one single day.</strong>
                This session will firstly take you through Angular 2 framework and TypeScript.
                It then shows you the basics of creating a Salary calculator using that framework.
                At the end of the session, you have a custom user interface for salary payment (households, companies or associations)
                from which you can start developing further.
            </p>
            <p>
                <b>Length:</b> 1 day<br />
                <b>Price:</b> 150 euro<br />
                <b>Registration:</b> <a href="mailto:contact@salaxy.com">Send us an e-mail</a>
            </p>
            <p>
                <b>Prerequisites:</b>
                You should know at least the basics of JavaScript programming.
                Knowing Angular.js 1 is useful, but it is not required.
            </p>
            <p>
                This is a hands-on course, so you need a laptop that can access WLAN.
                We will provide you instructions to some pre-installations (Visual Studio Code, NodeJS, NPM, Grunt).
                All required installations are free of charge and they are available for Windows, Mac and Linux.
                We will help you with them if you have problems.
            </p>
            <p>
                <b>Contents:</b>
                <ul>
                    <li>Legistlation and basic concepts of Salary payment in Finland</li>
                    <li>Salaxy Open API basic structure</li>
                    <li>Understanding Angular 2 and Angular CLI</li>
                    <li>Salaxy services and components</li>
                    <li>Authentication and security</li>
                    <li>Test enviroment and debugging</li>
                    <li>Best Practices</li>
                </ul>
            </p>
            <p>The agenda is currently in Finnish. We are working with an English version.</p>
            <br />
            <p>Koulutuksen agenda on seuraava:</p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Klo</th>
                            <th>Ohjelma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:30-9:00</td>
                            <td>Aamupala</td>
                        </tr>
                        <tr>
                            <td>9:00-10:00</td>
                            <td>
                                Mikä on Palkkaus.fi ja Salaxy-rajapinta? <br />
                                Palkanmaksun periaatteet ja lakisääteiset asiat.<br />
                                Tutustuminen Salaxy web-sovellukseen ja -palveluihin
                            </td>
                        </tr>
                        <tr>
                            <td>10:00-11:30</td>
                            <td>
                                Angular 2 ohjelman rakenne, komponentit, Angular 2 ohjelmointi ja debuggaus.
                                <ul>
                                    <li>Malliratkaisuun tutustuminen</li>
                                    <li>Harjoitus: Tehdään pohjasovellus (Angular CLI), jossa tarvittavat valikot (routing) ja welcome-page valmiina.</li>

                                    <li>Salaxy API client-komponentit mukana</li>
                                    <li>Layout: Bootstrap tai Material</li>

                                </ul>

                            </td>
                        </tr>
                        <tr>
                            <td>11:30-12:45</td>
                            <td>Lounas</td>
                        </tr>
                        <tr>
                            <td>12:45-14:00</td>
                            <td>
                                Salaxy API arkkitehtuuri, API:n rakenne.<br />
                                Tutustuminen APIn rakenteeseen Swagger UI:llä.<br />
                                Salaxy testiympäristö
                                <ul>
                                    <li>Harjoitus: Anonyymi API:n kutsuminen Angular 2:sovelluksesta http sekä Client APIn avulla.</li>
                                    <li>Laskuri: tunnit * hinta sekä TES:n mukaanotto (kilometrikorvaus)</li>
                                    <li>1. harjoitus suoraan swagger ja sitten core, data container-luokat.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>14:00-14:30</td>
                            <td>Kahvi</td>
                        </tr>
                        <tr>
                            <td>14:30-16:00</td>
                            <td>
                            Autentikointi ja autentikointia vaativa API.<br />
                                Harjoitus: saatetaan loppuun palkanmaksu-harjoitus
                                <ul>
                                    <li>käyttäjän autentikointi</li>
                                    <li>työntekijän haku, pro-api:n kautta, palauttaa näyttävää dataa.</li>
                                    <li>uuden työntekijän lisääminen</li>
                                    <li>palkanmaksujen hallinta ml. todellinen palkanmaksu Nordean testimaksuna.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h2 id="mvc">Salaxy API server side, using ASP.NET MVC</h2>
            <p class="lead">
                Learn how to use Salaxy Open API from a server side application
                or .Net framework in general.
                Learnings should generally be available to other frameworks as well (Java, PHP, Rails etc.).
            </p>
            <p>
                <strong>PLEASE NOTE:</strong>
                We are still planning this training session.
                Please contact us if you are interested, it may be up to people's interest whether we actually have the training or not.
            </p>
            <p>
                <b>Length:</b> 1 day<br />
                <b>Price:</b> 150 euro<br />
                <b>Registration:</b> <a href="mailto:contact@salaxy.com">Send us an e-mail</a>
            </p>
            <p>
                <b>Prerequisites:</b>
                You should know C# and Asp.Net MVC -programming.
            </p>
            <p>
                This is a hands-on course, so you need a laptop that can access WLAN.
                You need Visual Studio 2015 or later installed on that laptop.
            </p>

            <p>
                <b>Contents:</b>
                <ul>
                    <li>Legistlation and basic concepts of Salary payment in Finland</li>
                    <li>Salaxy Open API basic structure</li>
                    <li>Bootstrap layout customization</li>
                    <li>Anonymous API</li>
                    <li>Authentication and security from server and using OAuth2</li>
                    <li>Test enviroment</li>
                    <li>Best Practices</li>
                </ul>
            </p>
        </div>
    </div>
</div>
<p style="height: 400px;">&nbsp;</p>
