<div sxy-if-role="!auth">Loading...</div>
<div sxy-if-role="auth">
  <fieldset>
    <legend>Open in a new Window</legend>
    <p>Typically, the Insurance component is shown in a popup dialog window:</p>
    <sxydoc-example>
      <div ng-controller="InsuranceWizardController as insuranceCtrl">
        <button class="btn btn-primary " ng-click="insuranceCtrl.openModal();">Open in a dialog</button>
        <hr />
        <button ng-click="insuranceCtrl.getStartingPointDates()" class="btn-default">Show next quarters</button>
        <pre>{{insuranceCtrl.insuranceStartingPointDateOptions | json}}</pre>
      </div>
    </sxydoc-example>
  </fieldset>
  <fieldset>
    <legend>Embedded view</legend>
    <p>Technically, it is possible to show the component inline / embedded: Usefull for development / quick refresh</p>
    <div class="container"> 
      <salaxy-insurance></salaxy-insurance>
    </div>
  </fieldset>
</div>