<div sxy-if-role="!auth">Loading...</div>
<div sxy-if-role="auth">
  <fieldset>
    <legend>Open in a new Window</legend>
    <p>Typically, the Pension component is shown in a popup dialog window:</p>
    <sxydoc-example>
      <div ng-controller="VarmaPensionWizardController as $ctrl">
        <button class="btn btn-primary" ng-click="$ctrl.openModal()">Open in a dialog</button>
      </div>
    </sxydoc-example>
  </fieldset>
  <fieldset>
    <legend>Embedded view</legend>
    <p>Technically, it is possible to show the component inline / embedded: Usefull for development / quick refresh</p>
    <div class="container">
      <salaxy-pension></salaxy-pension>
    </div>
  </fieldset>
</div>
