<div class="" ng-controller="AccountController as $ctrl">
  <div class="content settings">
    <div class="panel pricing panel-success" ng-class="panel-success">
      <div class="panel-heading icon-panel">
        <h2>{{'Palvelu- ja hinnoittelumalli' | sxyTranslate}}
        </h2>
        <p><small>{{'' | sxyTranslate}}</small></p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <fieldset>
              <div class="form-horizontal">
                <salaxy-pricing></salaxy-pricing>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary pull-right" ng-click="$ctrl.saveProduct('pricing')">{{'SALAXY.NG1.UiTerms.save' | sxyTranslate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>