<div class="col-xs-4 col-sm-3 text-left">
    <a ng-click="$ctrl.goPrevious()"><i class="fa fa-angle-left"></i> Edellinen</a>
</div>
<div class="col-xs-8 col-sm-6 text-center">


    <button ng-if="$ctrl.model.tyel.isMove && $ctrl.model.yel.isMove && $ctrl.currentStep.number == 3 " type="button" class="btn btn-pink btn-next" ng-disabled="!$ctrl.canGoNext" ng-click="$ctrl.goNext()">Seuraava</button>


    <button ng-if="!($ctrl.model.tyel.isMove && $ctrl.model.yel.isMove && $ctrl.currentStep.number == 3)" type="button" class="btn btn-pink btn-next" ng-disabled="!$ctrl.canGoNext" ng-click="$ctrl.send()">
      
       
        <span ng-if="$ctrl.isSent">Seuraava</span>
        
        <span ng-if="!$ctrl.isSent">Lähetä</span>
   
    </button>

</div>
<div class="col-sm-3 col-xs-12 text-right txt-index">
    <span>2/3</span>
</div>