<div class="col-xs-4 col-sm-3 text-left">
    <a ng-click="$ctrl.goPrevious()"><i class="fa fa-angle-left"></i> Edellinen</a>
</div>
<div class="col-xs-8 col-sm-6 text-center">
    <button type="button" class="btn btn-pink btn-next " ng-disabled="!$ctrl.canGoNext" ng-click="$ctrl.goNext()">
    Jatka 
    </button>
</div>
<div class="col-sm-3 col-xs-12 text-right txt-index">
    <span>{{$ctrl.currentStep.number-1}}/{{$ctrl.steps.length-1}}</span>
</div>