<div class="col-xs-4 col-sm-3 text-left">
    <a ng-click="$ctrl.goPrevious()"><i class="fa fa-angle-left"></i> Edellinen</a>
</div>
<div class="col-xs-8 col-sm-6 text-center">
    <button type="button" class="btn btn-pink btn-next" ng-disabled="!$ctrl.model.yel.isMove && !$ctrl.model.tyel.isMove || !$ctrl.canGoNext " ng-click="$ctrl.setMvmtSteps();$ctrl.goNext()">
        Jatka
    </button>
</div>
<div class="col-sm-3 col-xs-12 text-right txt-index">
    <span>1/3</span>

</div>