<p class="text-center pink">
  <i class="fa fa-info-circle" uib-popover-html="'<strong>YEL-vakuutus:</strong><br>
        YELin mukaan vakuutetaan yrittäjä, jonka työpanoksen rahallinen arvo on vähintään <strong>8 063,57 euroa/vuosi (2021)</strong>.
        Uutena yrittäjänä saat 22% alennuksen YEL-maksuun neljän ensimmäisen vuoden ajan.
        <br><br>
                
<strong>TyEL-vakuutus:</strong><br>
Työntekijäsi on vakuutettava TyELin mukaan, kun työ tehdään työsuhteessa, työntekijä on 17-67-vuotias ja työstä maksettu palkka on vähintään 61,37 €/kk.
     <br><br>
<strong>Vakuutuksen siirto:</strong><br>
Voit siirtää YEL- ja TyEL-vakuutuksesi Varmaan samalla hakemuksella. 
Jos vakuutuksesi on ollut voimassa edellisessä yhtiössä alle vuoden, se astuu voimaan ensimmäisen mahdollisena ajankohtana.'" popover-append-to-body="true" popover-placement="top" popover-trigger="'outsideClick'">
            </i> <a href="https://www.varma.fi/#yrittaja" target="_blank" class="readmore">Lue lisää Varman sivuilta</a></p>