<form name="currentForm" class="form-horizontal">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>{{ $ctrl.currentStep.title }}<br>{{ $ctrl.currentStep.heading }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="content end text-center">
            <div class="col-xs-12 txt-end">
                <p>
                    Saat lähipäivinä vahvistuksen vakuutuksesi voimaan saattamisesta.
                </p>
                <p>
                    Tutustu Varman palveluihin tarkemmin.
                </p>
            </div>
            <div class="col-xs-4 text-center">
                <a class="icon-wrapper" target="_blank" href="https://www.varma.fi/tyonantaja/tyokykyjohtaminen">

                    <img src="https://cdn.salaxy.com/ng1/varma-modal/tyokyky.png" class="varma-icon" alt="">
                    <span class="pink">
                    Tutustu työkykyjohtamisen palveluihin
                    </span>
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a class="icon-wrapper" target="_blank" href="https://forms.apsisforms.com/5df75c5bbcc72fc281fbac97679c1413">
                    <img src="https://cdn.salaxy.com/ng1/varma-modal/uutiskirje.png" class="varma-icon" alt="">
                    <span class="pink ">
                    Tilaa uutiskirje
                    </span>
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <a class="icon-wrapper" target="_blank" href="https://www.varma.fi/tyonantaja/tapahtumat/">
                    <img src="https://cdn.salaxy.com/ng1/varma-modal/webinaari.png" class="varma-icon" alt="">
                    <span class="pink">
                    Webinaarit ja tapahtumat
                    </span>
                </a>
            </div>
        </div>
    </div>
</form>