<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>{{ $ctrl.currentStep.title }}</h2>
      <h3 class="subtitle">{{ $ctrl.currentStep.intro }}
      </h3>
    </div>
    <div class="col-xs-12">
      <div class="content">
        <i class="fa fa-info-circle pull-left" uib-popover="Voit asettaa uuden sopimuksen alkamaan vasta, kun nykyinen sopimuksesi on ollut voimassa vähintään vuoden ajan. Vakuutuksen ottamista tulee seurata aina täysi kvartaali ennen kuin siirto astuu voimaan."
          popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>

        <salaxy-input-enum label="Uuden sopimuksen alkamisajankohta" type="select" options="$ctrl.pensionStartingPointDateOptions" placeholder="Valitse" ng-model="$ctrl.model.yel.moveMoment" name="newContractStartDate" required class="no-colon"></salaxy-input-enum>

        <i class="fa fa-info-circle pull-left" uib-popover-html="'Edellinen työeläkevakuutusyhtiösi ilmoittaa YEL-vakuutuksessasi käytetyn työtulon, kun vakuutus siirtyy Varmaan. 
                Työtulon tulee vastata sitä palkkaa, joka olisi maksettava, jos yrittäjän työtä tekemään palkattaisiin yhtä ammattitaitoinen työntekijä. Mikäli työtulosi on vuodessa yli <strong>8 063,57 euroa (2021)</strong>, sinun on otettava YEL-vakuutus. <a target=\'_blank\' href=\'https://www.varma.fi/yrittaja/yel/#7979-yrittajan-yel--ja-tyel-laskuri-2019 \'>Yrittäjän YEL- ja TyEL-laskuri.</a>'"
          popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <div class="form-group">
          <label class="col-sm-4 control-label text-left" for="payer-radio">Työtulo (€/vuosi) *</label>
          <div class="col-sm-8 text-left radio-container">
            <label class="radio-inline">
              <input ng-required="true" type="radio" name="yearlyIncome-radio"  id="yearlyIncome" ng-value="false" ng-model="$ctrl.model.yel.isYearlyIncomeChange" />Säilytän nykyisen YEL-työtuloni           
            </label>
            <label class="radio-inline">
                <input ng-required="true" type="radio" name="yearlyIncome-radio" id="yearlyIncomeChange" value="true" ng-model="$ctrl.model.yel.isYearlyIncomeChange"  />Muutan YEL-työtuloni
           </label>
            <div class="nested-input row">
              <salaxy-input sxy-number required ng-if="$ctrl.model.yel.isYearlyIncomeChange" placeholder="min. 8 063,57 €" ng-model="$ctrl.model.yel.yearlyIncome" label="Uusi työtulo" name="yearlyIncomeYelChangeAmount"></salaxy-input>
            </div>
          </div>
        </div>
        <i class="fa fa-info-circle pull-left" uib-popover="Voit vähentää YEL-vakuutusmaksut henkilökohtaisessa tai yrityksesi verotuksessa sen mukaan, kumpi ne on maksanut." popover-append-to-body="true" popover-placement="auto" popover-trigger="' outsideClick'"></i>
        <div class="form-group">
          <label class="col-sm-4 control-label text-left" for="payer-radio">Maksaja *</label>
          <div class="col-sm-8  text-left">
            <label class="radio-inline">
              <input required ng-required="true" type="radio" name="payer-radio"  id="role1" value="entrepreneur" ng-model="$ctrl.model.yel.payer"/>Yrittäjä 
            </label>
            <label class="radio-inline">
              <input required ng-required="true" type="radio" name="payer-radio" id="role2" value="company" ng-model="$ctrl.model.yel.payer"  />Yritys
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>