<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>{{ $ctrl.currentStep.title }}</h2>
      <h3 class="subtitle">{{ $ctrl.currentStep.intro }}</h3>
    </div>
    <div class="col-xs-12">
      <div class="content">
        <i class="fa fa-info-circle pull-left" uib-popover="Voit asettaa uuden sopimuksen alkamaan vasta, kun nykyinen sopimuksesi on ollut voimassa vähintään vuoden ajan. Vakuutuksen ottamista tulee seurata aina täysi kvartaali ennen kuin siirto astuu voimaan."
          popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>

        <salaxy-input-enum label="Uuden sopimuksen alkamisajankohta" type="select" options="$ctrl.pensionStartingPointDateOptions" placeholder="Valitse" ng-model="$ctrl.model.tyel.moveMoment" name="newContractStartDate" required class="no-colon"></salaxy-input-enum>

        <i class="fa fa-info-circle pull-left" uib-popover="Arvio seuraavan 12 kuukauden palkasta sopimuksen alkamispäivästä." popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <salaxy-input title="" required sxy-number ng-model="$ctrl.model.tyel.yearlyIncome" name="yearlyIncomeTyel" label="Palkat vuodessa (12kk), arvio"></salaxy-input>
      </div>
    </div>
  </div>
</form>