<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>{{ $ctrl.currentStep.title }}</h1>
      <h2 class="subtitle">{{ $ctrl.currentStep.intro }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <div class="col-sm-4 col-xs-12">
        <div class="form-group checkbox-group">
          <div class="control-label text-left">
            <label for="pension-checkbox">
                        Haluan siirtää *
                    </label>
          </div>
          <div class=" text-left">
            <label class="checkbox">
                            <input type="checkbox" name="tyel" id="pension2"  ng-model="$ctrl.model.tyel.isMove"  />TyEL-vakuutuksen 
                        </label>
            <label class="checkbox">
                            <input type="checkbox" name="yel" id="pension1"   ng-model="$ctrl.model.yel.isMove" />YEL-vakuutuksen 
                        </label>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <salaxy-input ng-model="$ctrl.model.orderer.companyName" name="companyName" label="Yrityksen nimi" required readonly="true"></salaxy-input>
        <salaxy-input sxy-company-id-fi ng-model="$ctrl.model.orderer.companyId" name="vatNumber" label="Y-tunnus" required readonly="true"></salaxy-input>
        <salaxy-input ng-model="$ctrl.model.orderer.contactPersonName" name="contactPerson" label="Yhteyshenkilö" required></salaxy-input>
        <i class="fa fa-info-circle pull-left" uib-popover-html="'YEL-vakuutus siirretään henkilötunnuksesi perusteella. <br>TyEL-vakuutukseen tarvitsemme henkilötunnuksesi Varman asiointipalvelun avaamista varten.'" popover-append-to-body="true" popover-placement="auto"
          popover-trigger="'outsideClick'"></i>
        <salaxy-input sxy-personal-id-fi ng-model="$ctrl.model.tyel.personalId" name="ssNumber" label="Henkilötunnus" required></salaxy-input>
        <salaxy-input sxy-mobile-phone ng-model="$ctrl.model.orderer.contact.telephone" name="telephone" label="Puhelinnumero" required></salaxy-input>
        <salaxy-input sxy-email ng-model="$ctrl.model.orderer.contact.email" name="email" label="Sähköpostiosoite" required></salaxy-input>
      </div>

    </div>
  </div>
</form>