<form name="currentForm" class="form-horizontal">
    <div class="row row-video" style="background-color:#f5f7f9;">
        <div class="col-sm-6">
            <h1 class="text-center">
                {{ $ctrl.currentStep.title || 'Varmassa asiakkuus kannattaa aina' }}
            </h1>
        </div>
        <div class="col-sm-6" class="text-center">
            <div class="video-wrapper">
                <div class="videoWrapper">
                    <iframe src="https://www.youtube.com/embed/FIV4rdXFz-I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-white">
        <div class="content start">
            <div class="col-xs-12">
                <h2 class="text-center">Valitse tarvitsemasi vakuutus</h2>
            </div>


            <div class="col-sm-4 col-xs-12  text-center">
                <button type="button " class="btn btn-pink xs-margin-top" ng-click="$ctrl.setPensionAction('newTyel'); $ctrl.goNext()">TyEL-vakuutus</button>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <button type="button" class="btn btn-pink xs-margin-top" ng-click="$ctrl.setPensionAction('newYel'); $ctrl.goNext()">YEL-vakuutus</button>
            </div>
            <div class="col-sm-4 col-xs-12  text-center">
                <button type="button " class="btn btn-pink xs-margin-top" ng-click="$ctrl.setPensionAction('move'); $ctrl.goNext()">Vakuutuksen siirto</button>
            </div>
        </div>
    </div>
</form>