<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>{{ $ctrl.currentStep.title }}</h2>
      <h3 class="subtitle">{{ $ctrl.currentStep.intro }}
      </h3>
    </div>
    <div class="col-xs-12">
      <div class="content">
        <i class="fa fa-info-circle pull-left" uib-popover="Aseta vakuutus alkamaan, kun maksat ensimmäisen palkkasi vakuuttamisvelvollisena työnantajana." popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <div class="form-group">
          <label class="col-sm-4 col-xs-10 control-label text-left" for="pension-start-date" name="contractStartDateMonth">Vakuutuksen alkamisajankohta *</label>
          <div class="col-sm-4 col-xs-6">
            <select class="form-control" name="contractStartDateMonth" id="pension-start-date" ng-model="$ctrl.model.tyel.startMonth" required>
                        <option value="" disabled>Kuukausi</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
          </div>
          <div class="col-sm-4 col-xs-6">
            <select class="form-control" name="contractStartDateYear" ng-model="$ctrl.model.tyel.startYear" required>
                           
                        <option value="" disabled>Vuosi</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
          </div>
        </div>


        <i class="fa fa-info-circle pull-left" uib-popover="Arvio seuraavan 12 kuukauden palkasta sopimuksen alkamispäivästä." popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <salaxy-input required sxy-number ng-model="$ctrl.model.tyel.yearlyIncome" name="yearlyIncomeTyel" label="Palkat vuodessa (12kk), arvio"></salaxy-input>


      </div>
    </div>
  </div>
</form>