<form name="currentForm" class="form-horizontal">
    <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>{{ $ctrl.currentStep.title }}</h2>
            <h3 class="subtitle">{{ $ctrl.currentStep.intro }}
            </h3>
        </div>
        <div class="col-xs-12 ">
            <div class="content">
                <salaxy-input ng-model="$ctrl.model.orderer.companyName" name="companyName" label="Yrityksen nimi" required readonly="true"></salaxy-input>
                <salaxy-input sxy-company-id-fi ng-model="$ctrl.model.orderer.companyId" name="vatNumber" label="Y-tunnus" required readonly="true"></salaxy-input>
                <salaxy-input ng-model="$ctrl.model.orderer.contactPersonName" name="contactPerson" label="Yhteyshenkilö" required></salaxy-input>
                <i class="fa fa-info-circle pull-left" uib-popover="Tarvitsemme henkilötunnuksesi Varman asiointipalvelun avaamista varten." popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
                <salaxy-input sxy-personal-id-fi ng-model="$ctrl.model.tyel.personalId" name="ssNumber" label="Henkilötunnus" required></salaxy-input>
                <salaxy-input sxy-mobile-phone ng-model="$ctrl.model.orderer.contact.telephone" name="telephone" label="Puhelinnumero" required></salaxy-input>
                <salaxy-input sxy-email ng-model="$ctrl.model.orderer.contact.email" name="email" label="Sähköpostiosoite" required></salaxy-input>
            </div>
        </div>
    </div>
</form>