<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>{{ $ctrl.currentStep.title }}</h2>
      <h3 class="subtitle">{{ $ctrl.currentStep.intro }}
      </h3>
    </div>
    <div class="col-xs-12">
      <div class="content">

        <i class="fa fa-info-circle pull-left" uib-popover-html="'Työtulon tulee vastata sitä palkkaa, joka olisi maksettava, jos yrittäjän työtä tekemään palkattaisiin yhtä ammattitaitoinen työntekijä. Mikäli työtulosi on vuodessa yli <br><strong>8 063,57 euroa (2021)</strong>, sinun on otettava YEL-vakuutus. <a target=\'_blank\' href=\'https://www.varma.fi/yrittaja/yel/#7979-yrittajan-yel--ja-tyel-laskuri-2019 \'>Yrittäjän YEL- ja TyEL-laskuri.</a>'"
          popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <salaxy-input sxy-number name="yearlyIncomeYel" placeholder="min. 8 063,57 €" ng-model="$ctrl.model.yel.yearlyIncome" label="Työtulo (€/vuosi)" required></salaxy-input>


        <i class="fa fa-info-circle pull-left" uib-popover="Merkitse vakuutuksen alkamispäiväksi se päivä, josta alkaen arvioit yritystoimintasi ylittävän työtulon rajan." popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <salaxy-datepicker-popup class="varma-date" name="entrepreneur-start-date" format="d!.M!.yyyy" placeholder="pp.kk.vvvv" ng-model="$ctrl.model.yel.startDate" label="Vakuutuksen alkamispäivä" required></salaxy-datepicker-popup>

        <i class="fa fa-info-circle pull-left" uib-popover="Voit vähentää YEL-vakuutusmaksut henkilökohtaisessa tai yrityksesi verotuksessa sen mukaan, kumpi ne on maksanut." popover-append-to-body="true" popover-placement="auto" popover-trigger="'outsideClick'"></i>
        <div class="form-group">

          <label class="col-sm-4 control-label text-left" for="payer-radio">Maksaja *</label>
          <div class="col-sm-8 text-left">
            <label class="radio-inline">
                                <input type="radio" ng-required="true" name="payer-radio"  id="role1"  ng-model="$ctrl.model.yel.payer"  value="entrepreneur" />Yrittäjä 
                            </label>
            <label class="radio-inline">
                                <input type="radio" ng-required="true"  name="payer-radio" id="role2"  ng-model="$ctrl.model.yel.payer" value="company" />Yritys
                            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>