<form name="currentForm" class="form-horizontal">
    <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>{{ $ctrl.currentStep.title }}</h2>
            <h3 class="subtitle">{{ $ctrl.currentStep.intro }}
            </h3>
        </div>
        <div class="col-xs-12">
            <div class="content">
                <salaxy-input ng-model="$ctrl.model.orderer.companyName" name="companyName" label="Yrityksen nimi" required readonly="true"></salaxy-input>
                <salaxy-input sxy-company-id-fi ng-model="$ctrl.model.orderer.companyId" name="vatNumber" label="Y-tunnus" required readonly="true"></salaxy-input>
                <salaxy-input ng-model="$ctrl.model.orderer.contactPersonName" name="contactPerson" label="Yhteyshenkilö" required></salaxy-input>
                <salaxy-input sxy-personal-id-fi ng-model="$ctrl.model.yel.personalId" name="ssNumber" label="Henkilötunnus" required ></salaxy-input>
                <salaxy-input sxy-mobile-phone ng-model="$ctrl.model.orderer.contact.telephone" name="telephone" label="Puhelinnumero" required></salaxy-input>
                <salaxy-input sxy-email ng-model="$ctrl.model.orderer.contact.email" name="email" label="Sähköpostiosoite" required ></salaxy-input>
 
             <div class="col-sm-4"></div>
                <div class="col-sm-8 form-error-text text-left text-danger" ng-if="currentForm.$error.required">Tarkista pakolliset kentät</div>

            </div>
        </div>
    </div>
</form>