<main class="salaxy-content sxytpl-calendar-details">
  <section>
    <form name="frmEvent">
      <h2>Luo uusi kalenteritapahtuma</h2>
      <salaxy-calendar-event-details model="'url'"></salaxy-calendar-event-details>
      <hr />
      <div>
        <a href="#/calendar-events" class="btn btn-default" sxy-text="SALAXY.UI_TERMS.back"></a>
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.save()" ng-disabled="!frmEvent.$valid" sxy-text="SALAXY.UI_TERMS.save"></button>
      </div>
    </form>
  </section>
</main>