<main class="salaxy-content sxytpl-calendar-index">
  <section>
    <h1>TODO: Calendar front page</h1>
    <p>
      Todennäköisesti ei events-listaa, vaan occurences-kalenteri. Events-lista erillisenä sivuna.
    </p>
    <salaxy-odata-table crud-controller="CalendarEventsCrudController as $crud"></salaxy-odata-table>
  </section>
</main>