<div sxy-if-role="household">
  <salaxy-tax-cards-list></salaxy-tax-cards-list>
</div>
<div sxy-if-role="worker" class="salaxy-my-taxcards">
  <div ng-controller="MyTaxcardsController as $ctrl">
    <salaxy-spinner ng-if="!$ctrl.current"></salaxy-spinner>
    <div ng-if="$ctrl.current" class="light-bg spacer-bottom">
      <div ng-if="!$ctrl.current.active">
          <p class="lead">
            Palkkaus.fi-palvelussa on nyt käytössä verottajan automaattinen Ennakonpidätys-rajapinta.
            <strong>
              Veroprosentit tarkistetaan automattisesti suoraan verottajalta jokaisen palkanmaksun yhteydessä,
              eikä sinun tarvitse enää syöttää verokortin tietoja.
            </strong>
            Klikkaa nappulaa ottaaksesi automaattinen haku käyttöön.
            <a href="" ng-click="$ctrl.showMoreText = true" ng-if="!$ctrl.showMoreText" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.readMoreBtn"></a>
          </p>
          <div class="salaxy-placeholder-empty placeholder-md text-center">
            <h4 sxy-text="SALAXY.NG1.PagesPersonal.taxcards.addSharedCardTitle"></h4>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.setSharedAutoForSelf()">Hae veroprosentit verottajalta</button>
          </div>
          <div ng-if="$ctrl.showMoreText" sxy-html="SALAXY.NG1.PagesPersonal.taxcards.intro.html"></div>
      </div>
      <div ng-if="$ctrl.current.active">
        <div ng-if="$ctrl.current.active.card.kind != 'auto'">
          <p class="lead">
            <strong>HUOM: </strong> Palkkaus.fi-palvelussa on nyt käytössä verottajan automaattinen Ennakonpidätys-rajapinta.
            <strong>
              Veroprosentit tarkistetaan automattisesti suoraan verottajalta jokaisen palkanmaksun yhteydessä,
              eikä sinun tarvitse enää syöttää verokortin tietoja.
            </strong>
            Klikkaa nappulaa ottaaksesi automaattinen haku käyttöön.
            <a href="" ng-click="$ctrl.showMoreText = true" ng-if="!$ctrl.showMoreText" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.readMoreBtn"></a>
          </p>
        </div>
        <div ng-if="$ctrl.current.active.card.kind == 'auto'">
          <div ng-if="!$ctrl.showMoreText">
            <p class="lead">
              <span sxy-html="SALAXY.NG1.PagesPersonal.taxcards.introShort.html"></span>
              <a href="" ng-click="$ctrl.showMoreText = true" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.readMoreBtn"></a>
            </p>
          </div>
        </div>
        <div ng-if="$ctrl.showMoreText" sxy-html="SALAXY.NG1.PagesPersonal.taxcards.intro.html"></div>
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.setSharedAutoForSelf()" ng-if="$ctrl.current.active.card.kind != 'auto'">Hae veroprosentit verottajalta</button>
        <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.setSharedAutoForSelf()" ng-if="$ctrl.current.active.card.kind == 'auto'">Tarkista prosentit verottajalta</button>
        <h3 sxy-text="SALAXY.NG1.WorkerDetailsComponent.currentTaxCard"></h3>
        <salaxy-taxcard-details model="$ctrl.current.active" personal-id="$ctrl.current.personalId" ng-ref="$ctrl.$active"
          hide-buttons="true" on-save="$ctrl.reload()"></salaxy-taxcard-details>
      </div>
    </div>
    <div ng-if="$ctrl.current" class="light-bg">
      <uib-tabset active="$ctrl.currentTab">
        <uib-tab heading="{{'SALAXY.NG1.PagesPersonal.taxcards.calcsPaidForCardTabHeading' |sxyTranslate}}" index="'calcs'" ng-if="$ctrl.current.active">
          <div class="alert alert-info" ng-if="$ctrl.$incomeLog.hasDiff">
            <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.$active.commitDiff()" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.updateCalcsBtn"></button>
            <span sxy-html="SALAXY.NG1.PagesPersonal.taxcards.updateCalcsNote.html"></span>
          </div>
          <salaxy-taxcard-income-log parent="$ctrl.current.active" ng-ref="$ctrl.$incomeLog"></salaxy-taxcard-income-log>
        </uib-tab>
        <uib-tab heading="{{'SALAXY.NG1.PagesPersonal.taxcards.employersTabHeading' | sxyTranslate}}" index="'employers'" ng-if="$ctrl.current.active">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="th-xxs" colspan="2">
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.employerTableHeading"></span><br />
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.typeTableHeading"></span>
                </th>
                <th class="th-xxs hidden-xs hidden-sm" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.cardStatusTableHeading">
                  Jaetun kortin tila
                </th>
                <th class="hidden-xs hidden-sm" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.yearTableHeading"></th>
                <th class="hidden-xs hidden-sm tax-percentage right">
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.taxPercentTableHeading"></span>
                  <br />
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.taxPercent2TableHeading"></span>
                </th>
                <th class="hidden-xs hidden-sm income-limit right">
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.salariesPaidTableHeading"></span><br />
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.incomeLimitTableHeading"> </span>
                </th>
                <th class="th-xxs right">
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.validDateTableHeading">
  
                  </span>
                  <br />
                  <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.startDateTableHeading">
  
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="taxCard in $ctrl.current.employers">
                <td class="align-middle td-avatar">
                  <salaxy-avatar avatar="taxCard.ownerInfo.avatar"></salaxy-avatar>
                </td>
                <td class="td-name hidden-sm hidden-xs">


                  <strong>{{taxCard.ownerInfo.avatar.displayName}}</strong><br /> {{ "TaxcardKind." + taxCard.data.kind | sxyEnum }}

                </td>
                <td>
                  <span class="visible-xs visible-sm">
                    <strong>{{taxCard.ownerInfo.avatar.displayName}}</strong>
                      <br>{{ "TaxcardKind." + taxCard.data.kind | sxyEnum }} {{ taxCard.data.forYear }}
                    <br>
                    {{taxCard.data.taxPercent}} %
                    <span ng-if="taxCard.data.taxPercent2 != null">({{ taxCard.data.taxPercent2 }} %)</span><br />
                  <span ng-class="$ctrl.getInfo(taxCard).classes">{{$ctrl.getInfo(taxCard).label}}</span>
                  <br /> {{ $ctrl.getInfo(taxCard).description }}
                  </span>
                  <span class="hidden-xs hidden-sm">
                    <span ng-class="$ctrl.getInfo(taxCard).classes">{{ $ctrl.getInfo(taxCard).label }}</span><br> {{ $ctrl.getInfo(taxCard).description }}
                  </span>
                </td>
                <td class="hidden-xs hidden-sm">{{ taxCard.data.forYear }}</td>
                <td class="hidden-xs hidden-sm tax-percentage right">
                  {{taxCard.data.taxPercent}} %<br />
                  <span>{{taxCard.data.taxPercent2 != null ? (taxCard.data.taxPercent2 + ' %') : '-'}}</span>
                </td>
                <td class="hidden-xs hidden-sm income-limit right">
                  {{ taxCard.data.totalIncome | currency: '€' : 0 }}<br /> {{(taxCard.data.incomeLimit | currency: '€' : 0) || '-'}}
                </td>
                <td class="right">
                  {{ taxCard.data | sxyDateRange }}<br /> {{ taxCard.createdAt | sxyDate }}
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
        <uib-tab heading="{{'SALAXY.NG1.PagesPersonal.taxcards.earlierTaxCardsTabHeading' | sxyTranslate}}" index="'history'" ng-if="$ctrl.list.length > 0">
          <div ng-if="$ctrl.currentTab == 'history'">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="th-xxs">
                    <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.typeTableHeading"></span><br />
                    <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.cardStatus2TableHeading"></span>
                  </th>
                  <th class="hidden-xs hidden-sm" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.yearTableHeading"></th>
                  <th class="hidden-xs hidden-sm tax-percentage right" sxy-text="SALAXY.NG1.WorkerDetailsComponent.taxPercent"></th>
                  <th class="th-xxs salaries-paid right">
                    <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.salariesPaid"></span>
                    <span class="visible-xs visible-sm" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.incomeLimit"></span>
                  </th>
                  <th class="hidden-xs hidden-sm income-limit right">
                    <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.incomeLimitTableHeading"> </span>
                    <br />
                    <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.incomeLimitSpanTableHeading"> </span>

                  </th>
                  <th class="th-xxs right">
                    <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.validDateTableHeading">
  
                    </span>
                    <br />
                    <span sxy-text="SALAXY.NG1.PagesPersonal.taxcards.startDateTableHeading">
    
                    </span>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="taxCard in $ctrl.list">
                  <td>
                    <span class="visible-xs visible-sm">
                      <strong>{{taxCard.ownerInfo.avatar.displayName}}
                        {{ "TaxcardKind." + taxCard.data.kind | sxyEnum }} {{ taxCard.data.forYear }}
                      </strong>
                      {{taxCard.data.taxPercent}} %
                      <span ng-if="taxCard.data.taxPercent2 != null">({{ taxCard.data.taxPercent2 }} %)</span><br />
                    <span ng-class="$ctrl.getInfo(taxCard).classes">{{$ctrl.getInfo(taxCard).text}}</span>
                    </span>
                    <span class="hidden-xs hidden-sm">
                      <strong>{{ "TaxcardKind." + taxCard.data.kind | sxyEnum }}</strong><br />
                      <span ng-class="$ctrl.getInfo(taxCard).classes">{{$ctrl.getInfo(taxCard).text}}</span>
                    </span>
                    <div><small>{{ taxCard.id }}</small></div>
                  </td>
                  <td class="hidden-xs hidden-sm">{{ taxCard.data.forYear }}</td>
                  <td class="hidden-xs hidden-sm tax-percentage right">{{taxCard.data.taxPercent}} %</td>
                  <td class="salaries-paid right">
                    {{ taxCard.data.totalIncome | currency: ' €' : 0 }}
                    <span class="visible-xs visible-sm">{{(taxCard.data.incomeLimit | currency: ' €' : 0) || '-'}}</span>
                  </td>
                  <td class="hidden-xs hidden-sm income-limit right">
                    {{(taxCard.data.incomeLimit | currency: '€' : 0) || '-'}}<br />
                    <span>{{taxCard.data.taxPercent2 != null ? (taxCard.data.taxPercent2 + ' %') : '-'}}</span>
                  </td>
                  <td class="right">
                    {{ taxCard.data | sxyDateRange }}<br /> {{ taxCard.createdAt | sxyTime }}
                  </td>
                  <td class="middle-align">
                    <button class="btn btn-danger btn-sm" ng-click="$ctrl.deleteTaxCard(taxCard.id)"
                      ng-if="!taxCard.isReadOnly && $ctrl.getInfo(taxCard).code != 'latestRejected'">
                      <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.delete"></span>
                      <span class="visible-xs">&times;</span>
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="$ctrl.showApproveRejected(taxCard)" ng-if="$ctrl.getInfo(taxCard).code == 'latestRejected'" sxy-text="SALAXY.NG1.PagesPersonal.taxcards.approveBtn">Hyväksy</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
        <uib-tab heading="TEST" index="'debug'" ng-if="$ctrl.isTest">
          <p class="clearfix">
            <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.showAddNewCardForSelf()">Lisää manuaalinen verokortti</button>
            Tästä voit lisätä vanhanmallisen manuaalisen jaetun verokortin backward-compatibility-testausta verten:
          </p>
          <p class="clearfix" ng-if="$ctrl.current.active">
            <button type="button" class="btn btn-danger pull-right" ng-click="$ctrl.deleteTaxCard($ctrl.current.active.id)">Poista (test)</button>
            Verokortin poistaminen testissä: Tästä voit poistaa verokortin testissä vaikka se ei olisikaan mahdollista
            tuotantoympäristössä. Normaalisti verokortin voi poistaa tuotantoympäristössä vain jos verokortille ei ole maksettuja palkkoja.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <fieldset ng-init="$ctrl.getTestCard()" class="form-horizontal">
                <legend>Verokorttirajapinnan testidata</legend>
                <p>Tästä voit lisätä verokorttirajapintaan testidataa.</p>
                <salaxy-input-enum name="kind" label="SALAXY.NG1.CurrentTaxCardComponent.taxCardKind" enum="TaxcardKind" type="select" ng-model="$ctrl.apiTestData.kind"></salaxy-input-enum>
                <salaxy-input name="taxPercent" label="SALAXY.NG1.CurrentTaxCardComponent.mainTaxPercent3" ng-model="$ctrl.apiTestData.taxPercent" disabled="$ctrl.addNewUi.readonly" sxy-tax-percent></salaxy-input>
                <salaxy-input name="incomeLimit" label="SALAXY.NG1.CurrentTaxCardComponent.incomeLimit2" ng-model="$ctrl.apiTestData.incomeLimit" sxy-currency></salaxy-input>
                <salaxy-input name="taxPercent2" label="SALAXY.NG1.CurrentTaxCardComponent.taxPercent2.name" ng-model="$ctrl.apiTestData.taxPercent2" sxy-tax-percent></salaxy-input>
                <salaxy-datepicker-popup name="start" ng-model="$ctrl.apiTestData.validity.start" popup-placement="bottom" label="SALAXY.NG1.CurrentTaxCardComponent.validFromDate2"></salaxy-datepicker-popup>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.setTestCard()">Tallenna</button>
              </fieldset>
            </div>
            <div class="col-sm-6">
              <salaxy-json-formatter open="1" json="$ctrl.current.active"></salaxy-json-formatter>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>