<div ng-class="$ctrl.getCssClass()" class="table-responsive">
  <div ng-if="$ctrl.items && !$ctrl.items.length">
    <strong>Ei tarkistettavaa</strong>
  </div>
  <table class="table" ng-if="$ctrl.items.length">
    <thead>
      <tr>
        <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
          <span sxy-text="SALAXY.NG1.Roles.worker"></span>
        </th>
        <th class="hidden-xxs">
          <span sxy-orderby="status"><span sxy-text="SALAXY.NG1.CalcListComponent.status"></span></span><br />
          <span sxy-orderby="endAt"><span sxy-text="SALAXY.NG1.CalcListComponent.payment" ></span></span>
        </th>
        <th class="right ">
          <span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.CalcListComponent.salary" ></span></span><br />
          <span sxy-orderby="payment"><span sxy-text="SALAXY.NG1.CalcListComponent.payment" ></span></span>
        </th>
        <th class="right hidden-xxs">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td class="td-avatar visible-xxs middle">
          <a href="">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </a>
        </td>
        <td class="td-name visible-xxs middle">
          <a href="" ng-click="$crud.showDetails(row)">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>
            <br /> {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
            <br /> {{row.endAt | date}}
          </a>
        </td>
        <td class="right visible-xxs bottom">
          <a href="" ng-click="$crud.showDetails(row)">
            {{ row.grossSalary | currency }}
            <br />
            {{ row.payment | currency }}
          </a>
        </td>
        <td class="td-avatar hidden-xxs middle">
          <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
        </td>
        <td class="td-name hidden-xxs middle">
          <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
          <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
        </td>
        <td class="hidden-xxs middle">
          {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
          <br /> {{row.endAt | date}}
        </td>
        <td class="right hidden-xxs middle">
          {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
        </td>
        <td class="hidden-xxs middle">
          <button ng-click="$crud.showDetails(row)" class="btn btn-primary btn-block">
            Tarkista ja lähetä
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>