<h2>Hyväksy ja lähetä palkkalista</h2>
<main class="salaxy-content sxytpl-calculations-payroll-edit">
  <section>
      <salaxy-payroll-edit mode="'service'" model="'url'"></salaxy-payroll-edit>
  </section>
</main>