<div ng-class="$ctrl.getCssClass()" class="table-responsive">
  <div ng-if="$ctrl.items && !$ctrl.items.length">
    <strong>Ei tarkistettavaa</strong>
  </div>
  <table class="table" ng-if="$ctrl.items.length">
    <thead>
      <tr>
        <th><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.description"></span></th>
        <th class="right"><span sxy-orderby="endAt"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.period"></span></span>
        </th>
        <th class="right"><span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.payment"></span></span>
        </th>
        <th class="right hidden-xxs"><span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.calculations"></span></span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td ng-click="$crud.showDetails(row)" class="visible-xs clickable" title="Siirry palkkalistaan">
          <span class="payroll-title"><strong>{{ row.data.title }}</strong></span>
          <span class="payroll-info"> {{ row.salaryDate | date }}<small ng-if="row.data.wageBasis != 'undefined'">, {{ 'WageBasis.' + row.data.wageBasis | sxyEnum }}</small></span>
        </td>
        <td class="hidden-xs">
          <span class="payroll-title"><strong>{{ row.data.title }}</strong></span>
          <span class="payroll-info"> {{ row.salaryDate | date }}<small ng-if="row.data.wageBasis != 'undefined'">, {{ 'WageBasis.' + row.data.wageBasis | sxyEnum }}</small></span>
        </td>
        <td class="right">
          {{ row.startAt | date }}<br /> {{ row.endAt | date }}
        </td>
        <td class="right">
          {{ row.data.paymentDate || row.data.dueDate | date }}<br /> {{ row.payment | currency }}
        </td>
        <td class="right hidden-xxs">
          {{ row.data.calcCount ? (row.data.calcCount + " kpl") : "-" }}<br /> {{ row.grossSalary | currency }}
        </td>
        <td class="middle">
          <a ng-href="#/service/approve-payroll/{{ row.id }}" class="btn btn-primary btn-block">Tarkista ja lähetä</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>