<main class="salaxy-content" id="contentTop">
  <section>
    <salaxy-assure-partner>
      <main>
        <div class="container" ng-controller="SendCalculationController as $ctrl" ng-init="$ctrl.startNew()">
          <div class="row">
            <div class="col-xs-12">
              <h2>Hallituspalkkion maksaminen</h2>
              <p class="lead">
                Tällä lomakkeella voit laittaa hallituspalkkion suoraan maksuun ilman palkanlaskijan tarkistusta.
              </p>
              <div>
                <form name="usecaseForm" class="form-horizontal" ng-readonly="$ctrl.currentCalc.isReadOnly">
                  <div ng-if="!$ctrl.worker">
                    <salaxy-form-group class="select-worker" name="worker" label="Hallituksen jäsen">
                      <input type="text" class="form-control" ng-model="localWorkerId" id="worker" name="worker" placeholder="{{ $ctrl.workerListStatus == 'loaded' ? 'Valitse työntekijä' : 'Ladataan työntekijöitä...'}}" autocomplete="off" ng-model-options="{allowInvalid: true, debounce: 250}"
                        typeahead-on-select="$ctrl.workerAccountIdChanged($model)" uib-typeahead="worker.id as worker.displayName for worker in $ctrl.filterWorkers($viewValue)" ng-disabled="$ctrl.workerListStatus != 'loaded'" typeahead-focus-first="false"
                        typeahead-template-url="salaxy-components/form-controls/InputWorkerItem.html" typeahead-show-hint="true" typeahead-append-to-body="true" typeahead-min-length="0" typeahead-editable="false" typeahead-input-formatter="$ctrl.getWorkerName($model)">
                    </salaxy-form-group>
                    <salaxy-form-group name="newWorker" label="Uusi jäsen">
                      <button type="button" class="btn btn-primary" ng-click="$ctrl.launchWorkerWizard()">Luo työntekijä</button>
                    </salaxy-form-group>
                  </div>
                  <div ng-if="$ctrl.worker">
                    <salaxy-form-group class="select-worker" name="worker" label="Työntekijä">
                      <button class="btn btn-default pull-right" ng-click="$ctrl.reloadWorkers();$ctrl.startNew()">Vaihda...</button>
                      <div class="salaxy-worker-item">
                        <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="$ctrl.worker.avatar"></salaxy-avatar>
                        <b>{{ $ctrl.worker.avatar.displayName }} ({{$ctrl.worker.officialPersonId}}) </b> <br />
                        <small>
                          <div>{{ $ctrl.getWorkerDescription($ctrl.worker) }}</div>
                        </small>
                      </div>
                    </salaxy-form-group>
                  </div>
                  <salaxy-datepicker-popup name="period" ng-model="$ctrl.currentCalc.workflow.requestedSalaryDate" required="true" date-disabled="salary" payment-channel="$ctrl.currentCalc.info.paymentChannel" label="Palkkapäivä">
                  </salaxy-datepicker-popup>
                  <div class="alert alert-warning" ng-if="($ctrl.getWorkdaysToSalaryDate() || 99) &lt; 6">
                    <span>Palkkapäivä on liian aikaisin</span> ({{ $ctrl.getWorkdaysToSalaryDate() }} / 6 arkipäivää ). <span>Teemme parhaamme, mutta emme takaa
                      palkkapäivää.</span>
                  </div>
                  <salaxy-date-range ng-model="$ctrl.dateRange" class="condensed" name="dateRange" require="true" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-days-count="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelDaysCount">
                  </salaxy-date-range>
                  <div ng-if="!$ctrl.worker.employment.type">
                    <p>Työsuhteen tyyppiä ei ole määritetty</p>
                  </div>
                  <div ng-if="$ctrl.worker.employment.type == 'monthlySalary'">
                    <salaxy-input-number name="monthlySalary" ng-model="$ctrl.getFirstRow().price" label="Kuukausipalkka" require="true"></salaxy-input-number>
                  </div>
                  <div ng-if="$ctrl.worker.employment.type == 'hourlySalary'">
                    <salaxy-input-number name="hours" ng-model="$ctrl.getFirstRow().count" label="Tuntien määrä" require="true"></salaxy-input-number>
                    <salaxy-input-number name="hourlyPrice" ng-model="$ctrl.getFirstRow().price" label="Tuntipalkka" require="true"></salaxy-input-number>
                  </div>
                  <div ng-if="$ctrl.worker.employment.type == 'entrepreneur'">
                    <salaxy-input-number name="hours" ng-model="$ctrl.getFirstRow().price" label="Yrittäjän palkka" require="true"></salaxy-input-number>
                    <salaxy-input-enum ng-model="$ctrl.getFirstRow().rowType" name="employmentType" require="true" options="{ monthlySalary: 'Bruttopalkka (kuukausi)', totalWorkerPayment: 'Nettopalkka', salary: 'Bruttopalkka laskettu nettopalkasta' }" label="Palkan tyyppi"
                      type="select" enum="CalculationRowType"></salaxy-input-enum>
                  </div>
                  <div ng-if="$ctrl.worker.employment.type == 'salary'">
                    <salaxy-input-number name="hours" ng-model="$ctrl.getFirstRow().price" label="Palkka / palkkio" require="true"></salaxy-input-number>
                  </div>
                  <div ng-if="$ctrl.worker.employment.type">
                    <div sxy-text="Muut rivit" ps=":"></div>
                    <salaxy-calc-rows-2019-editor parent="$ctrl.currentCalc" title="Muut rivit" on-commit="$ctrl.recalculate()" row-types="$ctrl.getRowTypes()" show-edit-buttons="false" show-gross-totals="false" is-in-edit="!$ctrl.currentCalc.isReadOnly"></salaxy-calc-rows-2019-editor>
                    <salaxy-textarea name="otherRows" ng-model="$ctrl.usecaseData.otherRowsMessage" label="Palkan lisät"></salaxy-textarea>
                    <salaxy-textarea name="message" ng-model="$ctrl.usecaseData.message" label="Muita lisätietoja"></salaxy-textarea>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block" ng-click="$ctrl.sendCalculation()" ng-disabled="!usecaseForm.$valid" sxy-text="SALAXY.NG1.Pages.Service.calculation.sendBtn"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </salaxy-assure-partner>
  </section>
</main>