<main class="salaxy-content" id="contentTop">
  <section>
    <salaxy-assure-partner>
      <main>
        <h2>Aineiston lähetys tilitoimistolle / palkanlaskijalle</h2> 
        <p class="lead">
          Aineiston lähetys -osiossa voit tarkistaa palkanlaskijasi sinulle luomia laskelmia
          ja palkkalistoja tai tehdä niihin muutoksia.
        </p>
        <h3>Tarkistettavat palkkalistat</h3>
        <salaxy-odata-table crud-controller="PayrollCrudController as $crud" options="{ $filter: 'status eq \'waitingApproval\'' }"
          template-url="salaxy-components/pages/service/approve-payroll-list.html"></salaxy-odata-table>
        <h3>Tarkistettavat laskelmat</h3>
        <salaxy-odata-table crud-controller="CalculationCrudController as $crud" options="{ $filter: 'status eq \'waitingApproval\'' }"
          template-url="salaxy-components/pages/service/approve-calculation-list.html"></salaxy-odata-table>
        <div sxy-if-role="test">
          <h3>Lähetä aineistoja</h3>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div style="width: 100%; overflow: hidden;">
                <img src="https://cdn.salaxy.com/img/pro/cover/web-suunnittelija.jpg" alt="Tilapäinen työntekijä" style="height: 150px; margin-left: -100px">
              </div>
              <div class="caption">
                <h3>Tilapäinen työntekijä</h3>
                <p style="min-height: 80px;">
                  Lähetä tästä palkanmaksupyynnöt tilapäisistä työntekijöistä. Palkanlaskija tarkistaa palkan.
                </p>
                <p>
                  <a href="#/service/calculation" class="btn btn-primary" role="button" style="color: white">Lähetä laskelma...</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="text-center" style="width: 100%; overflow: hidden;">
                <img src="https://www.palkkaus.fi/wp-content/uploads/2020/06/tilitoimisto-tehokas-palkanlaskenta-palkkaus-fi-02.png" alt="Yrittäjän palkka" style="height: 150px">
              </div>
              <div class="caption">
                <h3>Yrittäjän palkka</h3>
                <p style="min-height: 80px;">
                  Maksa yrittäjän oma palkka silloin kun se sinulle parhaiten sopii.
                </p>
                <p>
                  <a href="#/service/entrepreneur" class="btn btn-primary" role="button" style="color: white">Maksa palkka...</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div style="width: 100%; height: 150px; overflow: hidden;">
                <img src="https://live.staticflickr.com/8706/16868392965_6b53ae551d_b.jpg" alt="Hallituspalkkiot" style="height: 210px">
              </div>
              <div class="caption">
                <h3>Hallituspalkkiot</h3>
                <p style="min-height: 80px;">
                  Maksa hallituspalkkiot helposti heti kokousten jälkeen tai sovittuina aikoina.
                </p>
                <p>
                  <a href="#/service/board" class="btn btn-primary" role="button" style="color: white">Maksa hallituspalkkio...</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </main>
    </salaxy-assure-partner>
  </section>
</main>