﻿<h1 class="page-header">
    .Net is what we run under the hood</h1>
<p class="lead">
    Our server-side functionality has completely been built in .Net and we run it in Azure cloud, so we have a lot of experience in those technologies even though we have not yet published a specific .Net libraries.
</p>
<p class="lead">
    If you are developing with .Net and/or Azure, please contact us, we will be able to give you our internal libraries, documentation and help.
</p>
<p>
    Also, please note that our 
    <a href="https://gitlab.com/salaxy/salaxy-demo-sso/tree/master/src/net" target="_blank">Single Sign-on demo</a>
    has examples in .Net on how to integrate Salaxy to Asp.Net based web sites.
</p>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-net.png" class="img-responsive img-thumbnail" />
</div>