﻿<h1 class="page-header">Your App, You choose the stack</h1>
<p class="lead">
  All our stacks are completely based on public JSON / REST API.
  This API can be used from any technology stack. 
  In addition we have custom libraries and support for these platforms:
</p>
<ul class="lead">
  <li><a href="/#/other/ionic">Mobile First UX</a>: Ionic and Angular 5</li>
  <li><a href="/#/other/dotnet">Microsoft .Net</a> client side libraries</li>
  <li><a href="/#/other/php">PHP integration</a></li>
</ul>
<p class="lead">
  No matter which technology you are using, if you are being serious, 
  <a href="mailto:contact@salaxy.com">please contact us</a>, 
  we may be able to provide you training, additional client libraries and other support.
  Even if you are developing on technology stack not mentioned here (e.g. Java, Rails etc.),
</p>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-net.png" class="img-responsive img-thumbnail" />
</div>