﻿<h1 class="page-header">
    Are you going Mobile First?</h1>
<div class="lead">
    <p>
        Our most tried and tested production stack is based on Angular 1.5 Components and Bootstrap. These user interface components are responsive and behave well in Mobile phones.
        <a href="#/ng1/index">See documentation here</a>.
    </p>
    <p>
        However, our next generation UX components have been designed Mobile First and they take the mobile user experience to a completely new level. We use latest advanced frameworks including
        <strong>Angular 5, Ionic 2 and Material Design.</strong> The components adapt to client (iOS, Android, Browser, Windows phone), the interaction is optimized for mobile and we have mobile payment methods.
    </p>
</div>
<p>
    The first production site for this new UI is
    <a href="https://www.nordea.fi/henkiloasiakkaat/palvelumme/verkko-mobiilipalvelut/palkanmaksu-siirto-maksuna.html" target="_blank">Nordea Siirto</a>, in production since January 2018:<br />
</p>
<div style="max-width: 750px">
    <img src="/img/screen-shot/ionic.jpg" class="img-responsive img-thumbnail" />
</div>
<p>&nbsp;</p>
<p>
    Currently, we are in the process of converting our Household and Employer sites to this new UI paradigm. Please contact us for more information if you are interested in trying the Mobile First library in your Mobile App / site!
</p>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-ng.png" class="img-responsive img-thumbnail" />
</div>
<p>&nbsp;</p>