<div ng-init="$ctrl.isInSalaxyMainSite = true">
  <ng-include src="'/ng1/about/index.html'"></ng-include>
</div>
<p class="lead">
  <strong>
    <a href="/ng1">Please read more in our @salaxy/ng1 site &raquo;</a>
  </strong>
</p>