﻿<h1 class="page-header">Easy to integrate in PHP sites</h1>
<p class="lead">
    Salaxy API and UI components have been integrated to several PHP based web sites either using IFrame or directly embedded.
    This is very easy to do by following our
    <a href="https://gitlab.com/salaxy/salaxy-demo-sso" target="_blank">Single Sign-on demo</a> (SSO),
    but we recommend you have a workshop with our experts before going to production.
</p>
<p class="lead">
    After authentication and SSO, it easy to access our Open API using e.g. Curl.
    Please contact us for more information and code examples.
    We are happy to help.
</p>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-net.png" class="img-responsive img-thumbnail" />
</div>