<div ng-class="$ctrl.getCssClass()">
  <!-- TODO: This list is currenlty not in use - may be taken to use (or remove Q1/2020) -->
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
          <span sxy-text="SALAXY.NG1.Roles.worker"></span>
        </th>
        <th sxy-orderby="causeCode">{{ "SALAXY.NG1.AbsencePeriodsComponent.headerAbsence" | sxyTranslate }}</th>
        <th sxy-orderby="period/start" class="right">Koko poissaolo</th>
        <th sxy-orderby="period/daysCount" class="right">
          Palkattomat palkkakaudelle<br /> Lomakertymää vähentää
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td class="align-middle td-avatar">
          <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
        </td>
        <td class="td-name middle">
          <strong>{{ row.otherPartyInfo.avatar.displayName }}</strong><br /> {{ row.worker.description }}
        </td>
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: (row.period.daysCount + 'pv'), entityType: 'company' }"></salaxy-avatar>
          <strong>{{ "AbsenceCauseCode." + row.causeCode | sxyEnum }}</strong><br />
          <div class="pull-left" style="padding: 0px;">
            {{ row.isPaid ? ('SALAXY.NG1.AbsencePeriodsComponent.isPaid' | sxyTranslate) : SALAXY.NG1.AbsencePeriodsComponent.notPaid }}
            <span ng-if="row.isPaid != row.isHolidayAccrual"> {{ row.isHolidayAccrual ? ('SALAXY.NG1.AbsencePeriodsComponent.isAccrual' | sxyTranslate) : ('SALAXY.NG1.AbsencePeriodsComponent.notAccrual' | sxyTranslate) }}</span>
          </div>
          <div class="truncate" style="max-width: 250px; padding: 0px;">
            &nbsp;{{ row.notes }}
          </div>
        </td>
        <td class="right">
          <strong>{{ row.period.daysCount | sxyCount : "day" }}</strong><br /> {{ row.period.start | date : 'dd.MM.' }}-{{ row.period.end | date : 'dd.MM.' }}
        </td>
        <td class="right">
          <strong>{{ (row.isPaid ? 0 : row.period.daysCount) | sxyCount : "day" }}</strong><br />
          <strong>{{ (row.isHolidayAccrual ? 0 : row.period.daysCount) | sxyCount : "day" }}</strong><br />
        </td>
        <td class="hidden-xxs middle">
          <button ng-click="$ctrl.data.$payrollCtrl.showEditWorkerDialog(row.worker.id, 'absences')" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block"><i class="fa fa-pencil visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>