<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
          <span sxy-text="SALAXY.NG1.Roles.worker"></span>
        </th>
        <th class="right">
          <span sxy-orderby="startAt">Ensimmäinen</span><br />
          <span sxy-orderby="endAt">Viimeisin</span>
        </th>
        <th class="right">Palkalliset</th>
        <th class="right">Palkattomat</th>
        <th>
          <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain"></salaxy-input>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td class="align-middle td-avatar">
          <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
        </td>
        <td class="td-name middle">
          <strong>{{ row.otherPartyInfo.avatar.displayName }}</strong><br /> {{ row.data.count }} poissaoloa, {{ row.data.days }} päivää<br />
          <span ng-if="!row.data.employmentId" class="label label-danger">ERR: No employment!</span>
        </td>
        <td class="right">
          {{ row.startAt | sxyDate }}<br /> {{ row.endAt | sxyDate }}
        </td>
        <td class="right">
          {{ row.data.paidCount }} kpl<br /> {{ row.data.paidDays }} pv
        </td>
        <td class="right">
          {{ row.data.unpaidCount }} kpl<br /> {{ row.data.unpaidDays }} pv
        </td>
        <td class="hidden-xxs middle">
          <button ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block"><i class="fa fa-pencil visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>