<div ng-class="$ctrl.getCssClass()">

  <salaxy-accounting-report-tools ng-ref="$reportTools" reader="$crud.selectionDataReader"></salaxy-accounting-report-tools>

  <div class="visible-xxs">
    <div class="table-filter-container-mobile">
      <salaxy-datepicker-popup name="year" placeholder="vuosi" format="yyyy" ng-change="$crud.logicalDateChanged()" datepicker-options="{ datepickerMode : 'year', minMode: 'year' }" ng-model="$crud.logicalDate" label-type="plain" required></salaxy-datepicker-popup>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-orderby="ownerInfo/avatar/displayName">
            <span>{{ 'SALAXY.NG1.Roles.employer' | sxyTranslate }}</span>
          </th>
          <th>
            <span sxy-orderby="logicalDate">{{ 'Kausi' | sxyTranslate }}</span>
          </th>
          <th class="right ">
            <span sxy-orderby="grossSalary">{{ 'Palkat' | sxyTranslate }}</span><br />
            <span sxy-orderby="payment">{{ 'Maksut' | sxyTranslate }}</span>
          </th>
          <th class="right ">
            <span>{{ 'Palkkoja' | sxyTranslate }}</span><br />
            <span>{{ 'Työntekijöitä' | sxyTranslate }}</span>
          </th>
          <th>Aineisto</th>
          <th>Vastuuhenkilö</th>
          <th class="middle hidden-xxs">
            <salaxy-datepicker-popup name="year" placeholder="vuosi" format="yyyy" ng-change="$crud.logicalDateChanged()" datepicker-options="{ datepickerMode : 'year', minMode: 'year' }" ng-model="$crud.logicalDate" label-type="plain" required></salaxy-datepicker-popup>
          </th>
          <th class="middle hidden-xxs">
            <button title="Valitse kaikki" class="btn btn-block btn-transparent" type="button" ng-if="$ctrl.selectedItems.length == 0" ng-disabled="$ctrl.selectedItems.length == $ctrl.items.length" ng-click="$crud.selectAll()">
              <i class="fa fa-square-o"></i>
            </button>
            <button title="Poista valinnat" class="btn btn-block btn-transparent" type="button" ng-if="$ctrl.selectedItems.length > 0" ng-disabled="$ctrl.selectedItems.length == 0" ng-click="$crud.unselectAll()">
              <i class="fa fa-check-square-o"></i>
            </button>
          </th>
          <th class="middle hidden-xxs"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle">
            <salaxy-avatar avatar="row.ownerInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name middle">
            <span ng-if="row.ownerInfo.avatar.displayName == ''">{{ 'SALAXY.NG1.CalcListComponent.notSelected' | sxyTranslate }}</span>
            <strong>{{row.ownerInfo.avatar.displayName}}</strong><br /> {{row.data.officialId}}
          </td>
          <td class="middle">
            {{ row.logicalDate | date:'yyyy-MM' }}
          </td>
          <td class="right middle">
            {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
          </td>
          <td class="right middle">
            {{ row.data.calculationCount }} kpl<br /> {{ row.data.workerCount }} kpl
          </td>
          <td class="middle">
            <div ng-repeat="message in row.messages" ng-bind-html="message | sxyWorkflowMessage: 'PartnerMessageIssue,PartnerMessageClosed'"></div>
          </td>
          <td class="middle">
            <span ng-if="row.data.partnerMessageAssignedTo" ng-controller="WorkflowController as $workflowCtrl" title="{{ $workflowCtrl.getCredential(row.data.partnerMessageAssignedTo).email || $workflowCtrl.getCredential(row.data.partnerMessageAssignedTo).avatar.displayName }}">
              <salaxy-avatar style="font-size:45px" avatar="$workflowCtrl.getCredential(row.data.partnerMessageAssignedTo).avatar"></salaxy-avatar>
            </span>
          </td>
          <td class="middle hidden-xxs">
            <button class="btn btn-sm btn-block btn-default" ng-disabled="row.isReading" type="button" ng-click="$reportTools.export($crud.getItemDataReader(row),true)">
              <span ng-show="row.isReading"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
              <span ng-show="!row.isReading">{{ 'Luo aineisto' | sxyTranslate }}</span>
            </button>
          </td>
          <td class="middle hidden-xxs">
            <button title="Valitse" class="btn btn-block btn-transparent" type="button" ng-if="!$ctrl.isSelected(row)" ng-click="$ctrl.setSelected(row, 'toggle')">
              <i class="fa fa-square-o"></i>
            </button>
            <button title="Poista valinta" class="btn btn-block btn-transparent" type="button" ng-if="$ctrl.isSelected(row)" ng-click="$ctrl.setSelected(row, 'toggle')">
              <i class="fa fa-check-square-o"></i>
            </button>
          </td>
          <td class="middle hidden-xxs">
            <a href="" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-default btn-block">
              <i class="fa fa-info visible-xs"></i>
              <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>