<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">
          <div sxy-orderby="shortText">Viennin määrittely</div>
          <div>Kohde / kanava</div>
        </th>
        <th sxy-orderby="owner" colspan="2">
          <div>Omistaja</div>
          <div>Status</div>
        </th>
        <th class="right">
          <div sxy-orderby="createdAt">Luotu</div>
          <div sxy-orderby="updatedAt">Päivitetty</div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td class="td-avatar middle">
          <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
        </td>
        <td class="middle">
          <div title="{{ row.shortText }} ({{ row.id }})">
            <strong>{{ row.otherPartyInfo.avatar.displayName }}</strong>
          </div>
          <div>{{ "AccountingChannel." + row.data.channel | sxyEnum }}</div>
        </td>
        <td class="td-avatar middle">
          <salaxy-avatar avatar="row.ownerInfo.avatar"></salaxy-avatar>
        </td>
        <td class="middle">
          <div>{{ row.ownerInfo.avatar.displayName }}</div>
          <div>{{ "AccountingTargetStatus." + row.status | sxyEnum }}</div>
        </td>
        <td class="right">
          <div title="{{ row.createdAt }}">{{ row.createdAt | sxyDate }}</div>
          <div title="{{ row.updatedAt }}">{{ row.updatedAt | sxyDate }}</div>
          <div></div>
        </td>
        <td>
          <button ng-if="row.isReadOnly" ng-click="$crud.showDetails(row)" class="btn btn-sm btn-primary btn-block" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}">
            <i class="fa fa-pencil visible-xs"></i>
            <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span>
          </button>
          <button ng-if="!row.isReadOnly" ng-click="$crud.showDetails(row)" class="btn btn-sm btn-primary btn-block" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}">
            <i class="fa fa-pencil visible-xs"></i>
            <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>