<div class="salaxy-odata-panel list-panel report-list-panel panel panel-sm panel-secondary">
  <div class="panel-heading">
    {{('Kirjanpidon raportit' | sxyTranslate) }}
    <div class="pull-right " ng-show="$ctrl.items.length > 0">
      <button class="btn btn-secondary btn-xs" ng-click="hideFilter = !hideFilter" title="Näytä suodattimet">
        <i class="fa fa-filter"></i>
      </button>
    </div>
  </div>
  <div class="panel-body filters text-right" ng-class="{'showfilters' : hideFilter}">
    <div class="filter-buttons">
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="logicalDate">{{'kk' | sxyTranslate}}</button>
    </div>
    <salaxy-input name="search1cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search hidden-xxs" label-type="plain">
    </salaxy-input>
  </div>
  <div ng-class="$ctrl.getCssClass()">
    <div class="visible-xxs" ng-if="$ctrl.items.length > 0">
      <div class="table-filter-container-mobile">
        <salaxy-input name="search2cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
        </salaxy-input>
      </div>
    </div>
    <div class="panel-body text-center panel-content lg-height align-middle" ng-show="$ctrl.items.length == 0 && !$ctrl.isLoading">
      <div>
        <h3>Ei kirjanpitoraportteja</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" ng-if="$ctrl.items.length > 0">
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td class="middle">
              {{ row.logicalDate | date:'yyyy-MM' }}
            </td>
            <td class="middle right">
              {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
            </td>
            <td class="middle right">
              {{row.data.calculationCount}} <i class="fa fa-list" title="Laskelmat"></i>
              <br/>
              {{row.data.workerCount}} <i class="fa fa-user" title="Työntekijät"></i>              
            </td>
            <td class="middle right">
              <a href="" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-secondary"><i
              class="fa fa-info "></i></a>
            </td>

          </tr>
        </tbody>
      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>

  </div>
  <div class="panel-footer text-center">
    <a ng-href="#{{$crud.getDefaults().listUrl}}" class="btn btn-primary btn-sm">Näytä kaikki</a>
  </div>
</div>