<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th sxy-orderby="id">Id</th>
        <th sxy-orderby="createdAt">Created</th>
        <th sxy-orderby="updatedAt">Updated</th>
        <th sxy-orderby="owner">Owner</th>
        <th sxy-orderby="isReadOnly">Read-only</th>
        <th sxy-orderby="partner">Partner</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td>{{ row.id }}</td>
        <td>{{ row.createdAt }}</td>
        <td>{{ row.updatedAt }}</td>
        <td>{{ row.owner }}</td>
        <td>{{ row.isReadOnly }}</td>
        <td>{{ row.partner }}</td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>