<div ng-class="$ctrl.getCssClass()">
  <div class="visible-xxs">
    <div class="table-filter-container-mobile">
      <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' |sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
      </salaxy-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-orderby="ownerInfo/avatar/displayName">
            <span sxy-text="Kumppani"></span>          
          </th>
          <th class="right" colspan="2">
            <div class="table-filter-container">
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' |sxyTranslate}}" label-type="plain"></salaxy-input>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle">
            <i class="salaxy-avatar" style="font-size: 74px;"><img ng-src="{{ row.data.logo }}" /></i>
          </td>
          <td class="td-name middle">
            <strong>{{row.data.webAppName || row.ownerInfo.avatar.displayName}}</strong>
          </td>
          <td class="right middle">
            <button class="btn"  ng-class="$ctrl.isSelected(row) ? 'btn-danger' : 'btn-info'" type="button" ng-click="$ctrl.setSelected(row, 'toggle')">
              {{ $ctrl.isSelected(row) ? ('SALAXY.NG1.CalcListComponent.unselect' | sxyTranslate) : ('SALAXY.NG1.CalcListComponent.select' | sxyTranslate) }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>