<div ng-class="$ctrl.getCssClass()">
  <div class="visible-xxs">
    <div class="table-filter-container-mobile">
      <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' |sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
      </salaxy-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
            <span sxy-text="SALAXY.NG1.Roles.worker"></span>
            <span class="label label-primary" ng-if="$ctrl.selectedItems.length"> <span sxy-text="SALAXY.NG1.CalcListComponent.selectedAmount" ps=":"></span>Valittu: {{ $ctrl.selectedItems.length }}</span>
          </th>
          <th class="hidden-xxs">
            <span sxy-text="SALAXY.NG1.CalcListComponent.status"></span><br />
            <span sxy-orderby="salaryDate"><span sxy-text="Palkkapäivä"></span></span>
          </th>
          <th class="hidden-xxs">
            <span sxy-text="Aloitus"></span><br />
            <span sxy-text="Lopetus"></span>
          </th>
          <th class="right hidden-xxs" colspan="2">
            <div class="table-filter-container">
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' |sxyTranslate}}" label-type="plain"></salaxy-input>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar visible-xxs middle">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name visible-xxs middle">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br /> {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
            <br /> {{ row.salaryDate | date }}
          </td>
          <td class="right visible-xxs bottom">
            <a href="" ng-click="$crud.showDetails(row)">
              {{ row.grossSalary | currency }}<br />
              {{ row.payment | currency }}
            </a>
          </td>
          <td class="td-avatar hidden-xxs middle">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name hidden-xxs middle">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
          </td>
          <td class="hidden-xxs middle">
            {{ row.status ? ("SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate) : "#ERR" }}<br /> {{ row.salaryDate | date }}
          </td>
          <td class="hidden-xxs middle">
            {{ row.data.workStartDate | date}}<br /> {{ row.data.workEndDate | date }}
          </td>
          <td class="right hidden-xxs middle">
            {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
          </td>
          <td class="right middle">
            <button class="btn btn-sm" type="button" ng-class="$ctrl.isSelected(row) ? 'btn-danger' : 'btn-info'" ng-click="$ctrl.setSelected(row, 'toggle')">
              {{ $ctrl.isSelected(row) ? ('SALAXY.NG1.CalcListComponent.unselect' | sxyTranslate) : ('SALAXY.NG1.CalcListComponent.select' | sxyTranslate) }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>