<div class="salaxy-odata-panel list-panel calc-list-panel panel panel-sm panel-secondary" ng-init="hideFilter = false">
  <!-- TODO: add binding panel-title 
 <div ng-if="$ctrl.data.panelTitle" class="panel-heading" sxy-text="$ctrl.panelTitle"></div>
 -->

  <div class="panel-heading">
    {{'SALAXY.NG1.CalcListComponent.panel.' + $ctrl.data.category + '.heading' | sxyTranslate}}
    <div class="pull-right" ng-show="$ctrl.data.category != 'sentAndDraft'">
      <button class="btn btn-secondary btn-xs" ng-click="hideFilter = !hideFilter" title="Näytä suodattimet">
        <i class="fa fa-filter"></i>
      </button>

    </div>

    <div class="pull-right" ng-if="$ctrl.data.category == 'sentAndDraft'">
      <salaxy-action-button action="'newCalc'" button-class="btn-primary btn-xs" label="Uusi laskelma"></salaxy-action-button>
    </div>
  </div>

  <div class="panel-body filters text-right" ng-class="{showfilters: hideFilter}" ng-if="$ctrl.data.category != 'sentAndDraft'">
    <div class="">
      <div class="filter-buttons">
        <button class="btn btn-xs btn-secondary text-right" sxy-orderby="otherPartyInfo/avatar/displayName">
          Abc
        </button>
        <button class="btn btn-xs btn-secondary text-right" sxy-orderby="endAt">
          <i class="fa fa-calendar"></i>
        </button>
        <button ng-if="$ctrl.data.category == 'paid' || $ctrl.data.category == 'sent'" class="btn btn-xs btn-secondary text-right" sxy-orderby="status">
          Tila
        </button>
        <button class="btn btn-xs btn-secondary text-right" sxy-orderby="grossSalary">
          €
        </button>
      </div>
      <salaxy-input name="search1cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search hidden-xxs" label-type="plain">
      </salaxy-input>
    </div>

  </div>

  <div ng-class="$ctrl.getCssClass()" ng-if="$ctrl.data.category != 'shared' && $ctrl.data.category != 'sentAndDraft' ">
    <div class="visible-xxs">
      <div class="table-filter-container-mobile">
        <salaxy-input name="search2cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
        </salaxy-input>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td class="td-avatar middle hidden-xxs">
              <salaxy-avatar ng-if="$ctrl.data.category != 'sent'" avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
              <salaxy-avatar ng-if="$ctrl.data.category == 'sent'" avatar="row.ownerInfo.avatar"></salaxy-avatar>
            </td>
            <td class="middle">
              <strong ng-if="$ctrl.data.category != 'sent'">{{row.otherPartyInfo.avatar.displayName}}</strong>
              <strong ng-if="$ctrl.data.category == 'sent'">{{row.ownerInfo.avatar.displayName}}</strong>
              <br /> {{ row.endAt | date }}
            </td>
            <td class="middle right">
              {{ row.grossSalary | currency }}
              <br />
              <span ng-if="row.status != 'workerRequestAccepted' && row.status != 'workerRequestDeclined' && row.status != 'workerRequested' && row.status != 'paymentWorkerCopy'" class="row-status" ng-class="{'text-warning' : row.status == 'paymentStarted', 'text-success' : row.status == 'paymentSucceeded'}">{{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}</span>
              <span ng-if="row.status == 'workerRequestAccepted' " class="row-status text-success">Hyväksytty</span>
              <span ng-if="row.status == 'workerRequestDeclined' " class="row-status text-danger">Hylätty</span>
            </td>
            <td class="right middle">
              <button ng-if="$ctrl.data.category == 'draft'" ng-click="$crud.showDetails(row)" title="{{'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm" ng-class="$ctrl.readOnly ? 'btn-secondary' : 'btn-primary'">
                <i class="fa " ng-class="$ctrl.readOnly ? 'fa-info' : 'fa-pencil'"></i>
              </button>
              <button ng-if="$ctrl.data.category == 'paid' || $ctrl.data.category == 'sent' || $ctrl.data.category == 'received'" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-secondary">
                <i class="fa fa-info"></i>
              </button>
              <button ng-if="$ctrl.data.category == 'paid' && !$ctrl.readOnly" ng-click="$crud.showCopyAsNew(row)" title="{{ 'SALAXY.UI_TERMS.copyAsNew' | sxyTranslate}}" class="btn btn-sm btn-secondary">
                <i class="fa fa-copy"></i>
              </button>
              <a ng-if="$ctrl.data.category == 'paid' || $ctrl.data.category == 'sent' || $ctrl.data.category == 'received'" ng-href="{{$crud.getPdfUrl(row)}}" target="_blank" title="{{ 'SALAXY.UI_TERMS.printable' | sxyTranslate}}" class="btn btn-sm btn-secondary">
                <i class="fa fa-file-pdf-o"></i>
              </a>
            </td>

          </tr>
        </tbody>

      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>
  </div>
  <!-- IF category is Shared -->
  <div ng-class="$ctrl.getCssClass()" ng-if="$ctrl.data.category == 'shared' ">
    <div class="visible-xxs">
      <div class="table-filter-container-mobile">
        <salaxy-input name="search2cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
        </salaxy-input>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td class="td-avatar middle hidden-xxs">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </td>
            <td class="middle">
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>
              <br /> {{ row.endAt | date }}
            </td>
            <td class="middle">
              <span class="text-success" ng-if="row.status == 'sharedApproved'">Hyväksytty</span>
              <span class="text-warning" ng-if="row.status == 'sharedWaiting'">Odottaa...</span>


            </td>
            <td class="middle right">
              {{ row.grossSalary | currency }}
              <br /> {{ row.payment | currency }}

            </td>
            <td class="right middle">
              <button ng-if="!$ctrl.readOnly" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>
  </div>
  <!-- IF category is Sent or Draft-->
  <div ng-class="$ctrl.getCssClass()" ng-if="$ctrl.data.category == 'sentAndDraft'">


    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td class="td-avatar middle hidden-xxs">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </td>
            <td class="middle">
              <strong>{{row.otherPartyInfo.avatar ? row.otherPartyInfo.avatar.displayName : 'Ei valittu'}}</strong>
              <br /> {{ row.endAt | date }}
            </td>
            <td class="middle">
              <span class="text-warning" ng-if="row.status == 'workerRequested'">Lähetetty</span>

              <span ng-if="row.status == 'draft'">Luonnos</span>

            </td>
            <td class="middle right">
              {{ row.grossSalary | currency }}
              <br /> {{ row.payment | currency }}

            </td>
            <td class="right middle">
              <button ng-if="!$ctrl.readOnly" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>
  </div>



  <!--TODO add binding showAllUrl -->

  <div class="panel-footer text-center">
    <a ng-if="$ctrl.data.category != 'received' && $ctrl.data.category != 'sent' && $ctrl.data.category != 'sentAndDraft'" class="btn btn-primary btn-sm" href="#/calc/{{$ctrl.data.category}}">Näytä koko lista</a>
    <a ng-if="$ctrl.data.category == 'sent'" class="btn btn-primary btn-sm" href="#/calc/sent">Lähetetyt</a>
    <a ng-if="$ctrl.data.category == 'sent'" class="btn btn-primary btn-sm" href="#/calc/draft">Luonnokset</a>
    <a ng-if="$ctrl.data.category == 'received'" class="btn btn-secondary btn-sm" href="#/calc/paid">Kaikki maksetut</a>
    <span class="" ng-if="$ctrl.data.category == 'sentAndDraft'">
      <a  class="btn btn-secondary btn-sm" href="#/calc/sent">Kaikki lähetetyt</a>
    <a  class="btn btn-secondary btn-sm" href="#/calc/draft">Kaikki luonnokset</a>

    </span>
  </div>

</div>