<div ng-class="$ctrl.getCssClass()">
  <div class="visible-xxs">
    <div class="table-header-container-mobile">
      <a class="btn btn-sm btn-block btn-primary" href="#/calc/details/new" sxy-text="SALAXY.NG1.UiTerms.createNew"></a>
    </div>
    <div class="table-filter-container-mobile">
      <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
      </salaxy-input>
    </div>
  </div>
  <div class="table-responsive light-bg">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
            <span sxy-text="SALAXY.NG1.Roles.employer"></span>
          </th>
          <th class="hidden-xxs">
            <span sxy-orderby="status"><span sxy-text="SALAXY.NG1.CalcListComponent.status"></span></span><br />
            <span sxy-orderby="endAt"><span sxy-text="SALAXY.NG1.CalcListComponent.payment" ></span></span>
          </th>
          <th class="right ">
            <span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.CalcListComponent.salary" ></span></span><br />
            <span sxy-orderby="payment"><span sxy-text="SALAXY.NG1.CalcListComponent.payment" ></span></span>
          </th>
          <th class="right hidden-xxs" colspan="2">
            <div class="table-filter-container">
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" label-type="plain"></salaxy-input>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar visible-xxs middle">

            <a ng-click="$crud.showDetails(row)">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </a>
          </td>
          <td class="td-name visible-xxs middle">
            <a ng-click="$crud.showDetails(row)">
              <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="(Ei työnantajaa)"></span>
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>
              <br /> {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
              <br /> {{row.endAt | date}}
            </a>
          </td>
          <td class="right visible-xxs bottom">
            <a href="" ng-click="$crud.showDetails(row)">
              {{ row.grossSalary | currency }}
              <br />
              {{ row.payment | currency }}
            </a>
          </td>
          <td class="td-avatar hidden-xxs middle">

            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name hidden-xxs middle">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="(Ei työnantajaa)"></span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
          </td>
          <td class="hidden-xxs middle">
            <span ng-if="row.status == 'workerRequested'" class="text-warning">Odottaa hyväksyntää...</span>
            <span ng-if="row.status == 'workerRequestDeclined'" class="text-danger">Hylätty</span>
            <span ng-if="row.status == 'workerRequestAccepted'" class="text-success">Hyväksytty</span>
            <br /> {{row.endAt | date}}
          </td>
          <td class="right hidden-xxs middle">
            {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
          </td>
          <td class="hidden-xxs middle">
            <button ng-click="$crud.showDetails(row)" ng-if="row.status == 'draft'" class="btn btn-sm btn-primary btn-block" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}">
              <i class="fa fa-pencil visible-xs"></i>
              <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit"></span>
            </button>
            <button ng-click="$crud.showDetails(row)" ng-if="row.status != 'draft'" class="btn btn-sm btn-default btn-block" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}">
              <i class="fa fa-info visible-xs"></i></a>
              <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show" ng-if="!row.data.payrollId"></span>
              <span class="hidden-xs" sxy-text="SALAXY.NG1.CalcListComponent.calculation" ng-if="row.data.payrollId"></span>
            </button>
          </td>
          <td class="hidden-xxs middle">
            <button ng-if="row.status == 'draft'" ng-click="$crud.delete(row)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-sm btn-danger btn-block"><i class="fa fa-trash visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.delete"></span></button>
            <button ng-if="!row.data.payrollId && (row.status == 'paymentSucceeded' || row.status == 'paymentStarted')" ng-click="$crud.showCopyAsNew(row)" class="btn btn-sm btn-default btn-block" title="{{ 'SALAXY.UI_TERMS.copyAsNew' | sxyTranslate}}">
              <i class="fa fa-copy visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.NG1.UiTerms.copyAsNew"></span>
            </button>
            <a ng-if="row.data.payrollId" class="btn btn-sm btn-primary btn-block" ng-href="#/payroll/details/{{ row.data.payrollId }}">
              <i class="fa fa-list visible-xs"></i>
              <span class="hidden-xs" sxy-text="SALAXY.NG1.CalcListComponent.payroll"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>