<div ng-class="$ctrl.getCssClass()">

  <div class="visible-xxs">
    <div class="table-header-container-mobile" ng-show="!$ctrl.readOnly">
      <a class="btn btn-sm btn-block btn-primary" href="#/calc/details/new" sxy-text="SALAXY.NG1.UiTerms.createNew"></a>
    </div>
    <div class="table-filter-container-mobile">
      <salaxy-input name="searchMobile{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
      </salaxy-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <span sxy-orderby="status">
              <span sxy-text="SALAXY.NG1.CalcListComponent.status"></span>
            </span>
            <br />
            <span sxy-orderby="endAt">
              <span sxy-text="SALAXY.NG1.CalcListComponent.date"></span>
            </span>
          </th>
          <th class="right">
            <span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.CalcListComponent.salary" ></span></span><br />
            <span sxy-orderby="payment"><span sxy-text="SALAXY.NG1.CalcListComponent.payment" ></span></span>
          </th>
          <th class="right" colspan="{{$ctrl.readOnly ? 2 : 3}}">
            <!--div class="table-filter-container hidden-xxs">
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" label-type="plain"></salaxy-input>
            </div-->
            <salaxy-odata-actions show-export="true"></salaxy-odata-actions>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td>
            {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
            <br /> {{row.endAt | date}}
          </td>
          <td class="right">
            {{ row.grossSalary | currency }}
            <br /> {{ row.payment | currency }}
          </td>
          <td class="middle">
            <button ng-click="$crud.showDetails(row)" ng-if="row.status == 'draft'" class="btn btn-sm btn-block" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" ng-class="$ctrl.readOnly ? 'btn-default' : 'btn-primary'">
              <i class="fa  visible-xs" ng-class="$ctrl.readOnly ? 'fa-info' : 'fa-pencil'"></i>
              <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit" ng-if="!$ctrl.readOnly"></span>
              <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show" ng-if="$ctrl.readOnly"></span>
            </button>
            <button ng-click="$crud.showDetails(row)" ng-if="row.status != 'draft'" class="btn btn-sm btn-default btn-block" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}">
              <i class="fa fa-info visible-xs"></i></a>
              <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show" ng-if="!row.data.payrollId"></span>
              <span class="hidden-xs" sxy-text="SALAXY.NG1.CalcListComponent.calculation" ng-if="row.data.payrollId"></span>
            </button>
          </td>
          <td class="middle" ng-if="!$ctrl.readOnly">
            <button ng-if="row.status == 'draft'" ng-click="$crud.delete(row)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-sm btn-danger btn-block"><i class="fa fa-trash visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.delete"></span></button>
            <button ng-if="!row.data.payrollId && (row.status == 'paymentSucceeded' || row.status == 'paymentStarted')" ng-click="$crud.showCopyAsNew(row)" class="btn btn-sm btn-default btn-block" title="{{ 'SALAXY.UI_TERMS.copyAsNew' | sxyTranslate}}">
              <i class="fa fa-copy visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.NG1.UiTerms.copyAsNew"></span>
            </button>
            <a ng-if="row.data.payrollId " class="btn btn-sm btn-primary btn-block" ng-href="#/payroll/details/{{ row.data.payrollId }}">
              <i class="fa fa-list visible-xs"></i>
              <span class="hidden-xs" sxy-text="SALAXY.NG1.CalcListComponent.payroll"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>