<div ng-class="$ctrl.getCssClass()">
  <div class="visible-xxs">
    <div class="table-header-container-mobile" ng-show="!$ctrl.readOnly">
      <a class="btn btn-sm btn-block btn-primary" href="#/calc/details/new" sxy-text="SALAXY.NG1.UiTerms.createNew"></a>
    </div>
    <div class="table-filter-container-mobile">
      <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
      </salaxy-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
            <span sxy-text="SALAXY.NG1.Roles.worker"></span>
          </th>
          <th class="hidden-xxs">
            <span sxy-orderby="status"><span sxy-text="SALAXY.NG1.CalcListComponent.status"></span></span><br />
            <span sxy-orderby="endAt"><span sxy-text="SALAXY.NG1.CalcListComponent.payment"></span></span>
          </th>
          <th class="right ">
            <span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.CalcListComponent.salary"></span></span><br />
            <span sxy-orderby="payment"><span sxy-text="SALAXY.NG1.CalcListComponent.payment"></span></span>
          </th>
          <th class="right hidden-xxs" colspan="3">
            <!--div class="table-filter-container">
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" label-type="plain"></salaxy-input>
            </div-->
            <salaxy-odata-actions show-export="true"></salaxy-odata-actions>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar visible-xxs middle">
            <a href="" ng-click="$crud.showDetails(row)">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </a>
          </td>
          <td class="td-name visible-xxs middle">
            <a href="" ng-click="$crud.showDetails(row)">
              <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br /> {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
              <br /> {{ row.endAt | date }}
            </a>
          </td>
          <td class="right visible-xxs bottom">
            <a href="" ng-click="$crud.showDetails(row)">
              {{ row.grossSalary | currency }}<br />
              {{ row.payment | currency }}
            </a>
          </td>
          <td class="td-avatar hidden-xxs middle">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name hidden-xxs middle">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
          </td>
          <td class="hidden-xxs middle">
            {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}<br /> {{ row.endAt | date }}
          </td>
          <td class="right hidden-xxs middle">
            {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
          </td>
          <td class="hidden-xxs middle" colspan="{{$ctrl.readOnly ? 2 : 1 }}">
            <a href="" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-default btn-block"><i
                class="fa fa-info visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span>
              </a>
          </td>
          <td class="hidden-xxs middle" ng-if="!$ctrl.readOnly">
            <button ng-click="$crud.showCopyAsNew(row)" title="{{ 'SALAXY.UI_TERMS.copyAsNew' | sxyTranslate}}" class="btn btn-sm btn-default btn-block"><i
                class="fa fa-copy visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.NG1.UiTerms.copyAsNew"></span></button>
          </td>
          <td class="hidden-xxs middle">
            <a ng-href="{{$crud.getPdfUrl(row)}}" target="_blank" title="{{ 'SALAXY.UI_TERMS.printable' | sxyTranslate}}" class="btn btn-sm btn-default btn-block"><i
                class="fa fa-file-pdf-o visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.printable"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>