<div class="salaxy-odata-panel list-panel report-list-panel panel panel-sm panel-secondary">
  <div class="panel-heading">
    {{('Tulorekisteri-ilmoitukset' | sxyTranslate) }}
    <div class="pull-right" ng-show="$ctrl.items.length > 0">
      <button class="btn btn-secondary btn-xs" ng-click="hideFilter = !hideFilter" title="Näytä suodattimet">
        <i class="fa fa-filter"></i>
      </button>
    </div>
  </div>
  <div class="panel-body filters text-right" ng-class="{'showfilters' : hideFilter}">
    <div class="filter-buttons">
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="otherPartyInfo/avatar/displayName">Abc</button>
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="status"> Tila</button>
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="endAt">
        <i class="fa fa-calendar"></i>
      </button>
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="payment">€</button>
    </div>
    <salaxy-input name="search1cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search hidden-xxs" label-type="plain">
    </salaxy-input>
  </div>
  <div ng-class="$ctrl.getCssClass()">
    <div class="visible-xxs" ng-if="$ctrl.items.length > 0">
      <div class="table-filter-container-mobile">
        <salaxy-input name="search2cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
        </salaxy-input>
      </div>
    </div>
    <div class="panel-body text-center panel-content lg-height align-middle" ng-show="$ctrl.items.length == 0 && !$ctrl.isLoading">
      <div>
        <h3>Ei Tulorekisteri-ilmoituksia</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" ng-if="$ctrl.items.length > 0">
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td class="hidden"><pre class="small">{{row | json}}</pre></td>
            <td class="td-avatar middle hidden-xxs">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </td>
            <td class="td-name middle">
              <span ng-if="row.otherPartyInfo.avatar.displayName == ''">{{ 'SALAXY.NG1.CalcListComponent.notSelected' | sxyTranslate }}</span>
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>
            </td>
            <td class="middle td-status">
              <span ng-if="row.status == 'new'" class="text-warning small status">
                Käsitelyssä
              </span>
              <span ng-if="row.status == 'succeeded'" class="text-success small status">
                Hyväksytty
              </span>
              <span ng-if="row.status == 'cancelled'" class="text-danger small status">
                Hylätty
              </span>
            </td>
            <td class="middle right">
              {{row.payment | currency}}<br>
              <span class="small">{{ row.endAt | date }}</span>
            </td>

            <td class="middle right">
              <a ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-secondary"><i
              class="fa fa-info"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <a ng-href="#{{$crud.getDefaults().listUrl}}" class="btn btn-primary btn-sm">Näytä kaikki</a> {{$crud.listUrl}}
  </div>
</div>