<div ng-class="$ctrl.getCssClass()">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" class="hidden-xxs">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
          </th>
          <th class="visible-xxs">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
          </th>
          <th>
            <span sxy-orderby="status" class="clickable"><span sxy-text="Tila">Tila</span></span>
          </th>
          <th class="right">
            <span sxy-orderby="payment" class="clickable"><span sxy-text="Maksu">Maksu</span></span>

          </th>
          <th class="right">
            <span sxy-orderby="startAt" class="clickable"><span sxy-text="Kausi"></span></span>
          </th>
          <th class="right">
            <div class="table-filter-container">
              <salaxy-input name="searchx{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="Tekstihaku" class="sort-by-text" label-type="plain">
              </salaxy-input>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle hidden-xxs">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name middle">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''">{{ 'SALAXY.NG1.CalcListComponent.notSelected' | sxyTranslate }}</span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>
          </td>
          <td class="middle td-status">
            <span ng-if="row.status == 'new'" class="text-warning small status">
                Käsitelyssä
            </span>
            <span ng-if="row.status == 'succeeded'" class="text-success small status">
                Hyväksytty
            </span>
            <span ng-if="row.status == 'cancelled'" class="text-danger small status">
                Hylätty
            </span>
          </td>
          <td class="middle right">
            {{row.payment | currency}}<br>
            <span class="small">{{ row.endAt | date }}</span>
          </td>
          <td class="right">{{row.startAt | date}} - <br>{{row.endAt | date}}</td>
          <td class="middle right">
            <a ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-secondary"><i
              class="fa fa-info visible-xxs"></i><span class="hidden-xxs">Näytä</span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>