<div ng-class="$ctrl.getCssClass()">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th>
            <span sxy-text="SALAXY.NG1.Roles.employer"></span>
          </th>
          <th>
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
          </th>
          <th class="hidden-xxs right">
            <span sxy-orderby="startAt" class="clickable"><span sxy-text="Työsuhteen alku"></span></span><br />
            <span sxy-orderby="endAt" class="clickable"><span sxy-text="...loppu"></span></span>
          </th>
          <th class="hidden-xxs right">
            <span sxy-orderby="createdAt" class="clickable"><span sxy-text="Luotu"></span></span><br />
            <span sxy-orderby="updatedAt" class="clickable"><span sxy-text="Päivitetty"></span></span>
          </th>
          <th colspan="2">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-name middle">
            <strong>{{row.data.employer}}</strong>
            <div ng-if="row.data.employerTelephone">Puh: {{row.data.employerTelephone}}</div>
          </td>
          <td class="td-name middle">
            <strong>{{row.otherPartyInfo.avatar.sortableName}}</strong>
            <div ng-if="row.otherPartyInfo.telephone">Puh: {{row.otherPartyInfo.telephone}}</div>
          </td>
          <td class="td-name visible-xs middle">
            <a href="#/workers/details/{{row.otherId}}" class="cell-link" title="Muokkaa työntekijää">
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
              <span class="sm-description" ng-if="row.otherPartyInfo.ibanNumber">{{$crud.getEmploymentDescription(row)}}</span>
              <span class="text-danger missing-info" ng-if="!row.otherPartyInfo.ibanNumber">Lisää tilinumero</span>
            </a>
          </td>
          <td class="right hidden-xxs middle">
            <div>{{ row.startAt | sxyDate }}</div>
            <div>{{ row.startAt &lt;= row.endAt ? (row.endAt | sxyDate) : "-" }}</div>
          </td>
          <td class="hidden-xxs middle  right" colspan="{{$ctrl.readOnly ? 2 : ''}}">
            {{ row.createdAt | sxyDate }}<br /> {{ row.updatedAt | sxyDate}}
          </td>
          <td class="right middle">
            <a ng-href="{{$crud.getPreviewLink(row)}}" target="_blank" class="btn btn-default">Katsele</a>
          </td>
          <td class="right middle">
            <button type="button" ng-click="$crud.delete(row)" class="btn btn-danger">Poista</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>