<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
          <span sxy-text="SALAXY.NG1.Roles.worker"></span>
        </th>
        <th>
          Lomatyyppi<br /> Lomaraha
        </th>
        <th sxy-orderby="endAt" class="right">Vuosi</th>
        <th class="right">
          Lomat<br /> Kertymä
        </th>
        <th>
          <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()"
            placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search"
            label-type="plain"></salaxy-input>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td class="align-middle td-avatar">
          <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
        </td>
        <td class="td-workerSnapshot-name">
          <strong>{{ row.otherPartyInfo.avatar.displayName }}</strong><br />
          {{ "WageBasis." + row.data.wageBasis | sxyEnum }}<br />
          <span ng-if="!row.data.employmentId" class="label label-danger">ERR: No employment!</span>
        </td>
        <td>
          {{ "HolidayCode." + row.data.code | sxyEnum }}
          <span ng-if="row.data.code == 'holidayCompensation'">({{ row.data.compensation | sxyCount : 'percent' }})</span>
          <div ng-if="row.data.bonusMethod != 'none'">
            {{ "HolidayBonusPaymentMethod." + row.data.bonusMethod | sxyEnum }}
            <span>({{ row.data.bonus | sxyCount : 'percent' }})</span>
          </div>
        </td>
        <td class="right">{{ row.data.year }}</td>
        <td class="right">
          {{ row.data.plannedDays | sxyCount : 'days' }}<br />
          {{ row.data.accrualDays | sxyCount : 'days' }}
        </td>
        <td class="hidden-xxs middle">
          <button ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block"><i class="fa fa-pencil visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>