<div class="salaxy-odata-panel list-panel report-list-panel panel panel-sm panel-secondary">
  <div class="panel-heading">
    {{('Laskut' | sxyTranslate) }}
  </div>
  <div ng-class="$ctrl.getCssClass()">
    <div class="panel-body text-center panel-content lg-height align-middle" ng-show="$ctrl.items.length == 0 && !$ctrl.isLoading">
      <div>
        <h3>Ei laskuja</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr ng-repeat="row in $ctrl.items" ng-show="$ctrl.items.length > 0">
            <td class="td-avatar middle hidden-xxs">
              <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </td>
            <td class="middle">
              {{ row.otherPartyInfo.avatar.displayName }}<br>
              <small class="hidden-xxs">{{row.shortText}}</small>
            </td>
            <td class="middle right">
              {{ row.endAt | date }}
              <span ng-if="row.status=='paid'" class="text-success status small"><br>Maksettu</span>
            </td>
            <td class="middle right">
              {{ row.payment | currency }}
            </td>
            <td class="middle right">
              <a ng-href="{{$crud.getContentUrl(row.id, true)}}" target="_blank" title="{{ 'SALAXY.UI_TERMS.printable' | sxyTranslate}}" class="btn btn-sm btn-secondary"><i
              class="fa fa-file-pdf-o"></i></a>
              <button href="" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-secondary"><i class="fa fa-info"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center footer-empty">
    <a ng-href="#{{$crud.getDefaults().listUrl}}" title="Näytä kaikki" class="btn btn-primary btn-sm">Näytä kaikki</a>
  </div>
</div>