<div ng-class="$ctrl.getCssClass()">
  <salaxy-invoice-tools ng-show="'test' | sxyIsInRole" ng-ref="$invoiceTools" reader="$crud.selectionDataReader"></salaxy-invoice-tools>

  <table class="table">
    <thead>
      <tr>
        <th colspan="2" ><span sxy-orderby="otherPartyInfo/avatar/displayName">Saaja ja laskun tyyppi</span></th>
        <th>
          <span sxy-orderby="status">Status</span><br />
          <small>Kanava</small>
        </th>
        <th class="right">
          <span sxy-orderby="startAt">Laskun päivä</span><br/>
          <span sxy-orderby="endAt">Eräpäivä</span>
        </th>
        <th class="right">
          <span sxy-orderby="createdAt">Luotu</span><br />
          <span sxy-orderby="updatedAt">Päivitetty</span>
        </th>
        <th class="right"><span sxy-orderby="payment">Summa</span></th>
        <th class="middle"  ng-if="'test' | sxyIsInRole" >
          <button title="Valitse kaikki" class="btn btn-block btn-transparent" type="button" ng-if="$ctrl.selectedItems.length == 0" ng-disabled="$ctrl.selectedItems.length == $ctrl.items.length" ng-click="$crud.selectAll()">
            <i class="fa fa-square-o"></i>
          </button>
          <button title="Poista valinnat" class="btn btn-block btn-transparent" type="button" ng-if="$ctrl.selectedItems.length > 0" ng-disabled="$ctrl.selectedItems.length == 0" ng-click="$crud.unselectAll()">
            <i class="fa fa-check-square-o"></i>
          </button>
        </th>      
        <th class="right" colspan="2">
          <div class="table-filter-container hidden-xxs">
            <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" label-type="plain"></salaxy-input>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items" ng-show="$ctrl.items.length > 0">
        <td class="td-avatar middle">
          <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
        </td>
        <td class="middle">
          <div>{{ row.otherPartyInfo.avatar.displayName }}</div>
          <small class="hidden-xxs" ng-switch="row.entityType">
            <span ng-switch-when="net|gross|foreclosure" ng-switch-when-separator="|">{{row.shortText}} {{ row.logicalDate | sxyDate }}</span>
            <span ng-switch-when="unemployment">{{row.shortText}}<br/>{{ { start: row.data.periodStart, end: row.data.periodEnd } | sxyDateRange }}</span>
            <span ng-switch-default>{{row.shortText}} {{ { start: row.data.periodStart, end: row.data.periodEnd } | sxyDateRange }}</span>
          </small>
        </td class="middle">
        <td class="middle">
          <span ng-class="{ 'bg-danger': row.status == 'canceled', 'bg-success': row.status == 'paid' }"
            title="{{ 'InvoiceStatus.' + row.status | sxyEnumDescr }}">
            {{ "InvoiceStatus." + row.status | sxyEnum }}
          </span><br />
          <small>{{ "PaymentChannel." + row.data.channel | sxyEnum }}</small>
        </td>
        <td class="middle right">
          <div>{{ row.startAt | sxyDate }}</div>
          <div ng-switch="$crud.getDueDateType(row)">
            <span ng-switch-when="estimation">{{ row.endAt | date: 'MMMM' }}</span>
            <del ng-switch-when="canceled" class="">{{ row.endAt | sxyDate }}</del>
            <span ng-switch-when="overdue" class="bg-danger">{{ row.endAt | sxyDate }}</span>
            <em ng-switch-when="future" class="disabled">{{ row.endAt | sxyDate }}</em>
            <span ng-switch-when="default">{{ row.endAt | sxyDate }}</span>
          </div>
        </td>
        <td class="middle right">
          {{ row.createdAt | sxyDate }}<br />
          {{ row.updatedAt | sxyDate }}
        </td>
        <td class="middle right">
          {{ row.payment | currency }}
        </td>
        <td class="middle"  ng-if="'test' | sxyIsInRole" >
          <button title="Valitse" class="btn btn-block btn-transparent" type="button" ng-if="!$ctrl.isSelected(row)" ng-click="$ctrl.setSelected(row, 'toggle')">
            <i class="fa fa-square-o"></i>
          </button>
          <button title="Poista valinta" class="btn btn-block btn-transparent" type="button" ng-if="$ctrl.isSelected(row)" ng-click="$ctrl.setSelected(row, 'toggle')">
            <i class="fa fa-check-square-o"></i>
          </button>
        </td>
        <td class="middle"  ng-if="'test' | sxyIsInRole">
          <button class="btn btn-sm btn-block btn-default" ng-disabled="row.isReading" type="button" ng-click="$invoiceTools.export($crud.getItemDataReader(row),true)">
            <span ng-show="row.isReading"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
            <span ng-show="!row.isReading">{{ 'Luo aineisto' | sxyTranslate }}</span>
          </button>
        </td>
        <td class="middle right">
          <a href="" ng-click="$crud.showDetails(row)" class="btn btn-primary">
            {{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="salaxy-odata-footer">
    <salaxy-spinner></salaxy-spinner>
  </div>
</div>