<div ng-class="$ctrl.getCssClass()">
  <div class="text-right">
    <div style="width: 50%; max-width: 400px; display: inline-block">
      <salaxy-input name="searchx{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()"
        placeholder="Hae työntekijää" label-type="plain" class="sort-by-text"></salaxy-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-orderby="otherPartyInfo/avatar/displayName">
            <span>{{ 'SALAXY.NG1.Roles.worker' | sxyTranslate }}</span>
          </th>
          <th>Tila</th>
          <th class="right"><span sxy-orderby="salaryDate">Palkkapäivä</span></th>
          <th class="right"><span sxy-orderby="endAt">Lähetysaika</span></th>
          <th class="right ">
            <span sxy-orderby="payment">Maksettava</span><br />
            <span sxy-orderby="grossSalary">Brutto</span>
          </th>
          <th class="right" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name middle">
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
            <span>{{row.otherPartyInfo.email}}</span>
          </td>
          <td class="middle">
            {{ "EarningsPaymentReportStatus." + row.status | sxyEnum }}
            <div ng-if="$crud.isIrModified(row)"><span class="badge bg-danger" title="Ilmoitusta on muokattu käsin">Muokattu!</span></div>
            <div ng-if="$crud.isDelayed(row)"><span  class="badge bg-danger" title="Myöhässä">Myöhässä!</span></div>
          </td>
          <td class="middle right">
            {{ row.salaryDate | date }}
          </td>
          <td class="middle right">
            <div title="Ensimmäinen lähetys"  ng-if="row.data.firstDeliveredAt != row.data.lastDeliveredAt"><span ng-class="{'badge': row.data.scheduledFor && row.data.scheduledFor == row.data.firstDeliveredAt ,'bg-warning': row.data.scheduledFor && row.data.scheduledFor == row.data.firstDeliveredAt}">{{ row.data.firstDeliveredAt | date}}</span></div>
            <div title="Viimeisin / tuleva lähetys"><span ng-class="{'badge': row.data.scheduledFor && row.data.scheduledFor == row.data.lastDeliveredAt ,'bg-warning': row.data.scheduledFor && row.data.scheduledFor == row.data.lastDeliveredAt}">{{ row.data.lastDeliveredAt | date}}</span></div>
          </td>
          <td class="right middle">
            {{ row.payment | currency }}<br />
            {{ row.grossSalary | currency }}
          </td>
          <td class="middle">
            <a ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-default"><i
              class="fa fa-info visible-xxs"></i><span class="hidden-xxs" sxy-text="SALAXY.UI_TERMS.show"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>