<div ng-class="$ctrl.getCssClass()">
  <div class="text-right">
    <div style="width: 50%; max-width: 400px; display: inline-block">
      <salaxy-input name="searchx{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()"
        placeholder="Hae työntekijää" label-type="plain" class="sort-by-text"></salaxy-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ilmoituksen tyyppi</th>
          <th>Tila</th>
          <th class="right"><span sxy-orderby="logicalDate">Kuukausi</span></th>
          <th class="right"><span sxy-orderby="endAt">Lähetysaika</span></th>
          <th class="right"><span sxy-orderby="payment">SAVA-maksu</span></th>
          <th class="right">Vähennys</th>
          <th class="right" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="middle">{{ "SummaryTransactionCode." + row.entityType | sxyEnum }}</td>
          <td class="middle">
            {{ "PayerSummaryReportStatus." + row.status | sxyEnum }}
            <div ng-if="$crud.isIrModified(row)"><span class="badge bg-danger" title="Ilmoitusta on muokattu käsin">Muokattu!</span></div>
            <div ng-if="$crud.isDelayed(row)"><span  class="badge bg-danger" title="Myöhässä">Myöhässä!</span></div>
         </td>
          <td class="middle right">
            {{ row.logicalDate | date : 'MM/yyyy' }}
          </td>
          <td class="middle right">
            <div title="Ensimmäinen lähetys"  ng-if="row.data.firstDeliveredAt != row.data.lastDeliveredAt"><span ng-class="{'badge': row.data.scheduledFor && row.data.scheduledFor == row.data.firstDeliveredAt ,'bg-warning': row.data.scheduledFor && row.data.scheduledFor == row.data.firstDeliveredAt}">{{ row.data.firstDeliveredAt | date}}</span></div>
            <div title="Viimeisin / tuleva lähetys"><span ng-class="{'badge': row.data.scheduledFor && row.data.scheduledFor == row.data.lastDeliveredAt ,'bg-warning': row.data.scheduledFor && row.data.scheduledFor == row.data.lastDeliveredAt}">{{ row.data.lastDeliveredAt | date}}</span></div>
          </td>
          <td class="right middle">
            {{ row.payment | currency }}
          </td>
          <td class="right middle">{{ row.data.socialSecurityDeduction | currency }}</td>
          <td class="middle">
            <a ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-default"><i class="fa fa-info visible-xxs"></i><span
              class="hidden-xxs" sxy-text="SALAXY.UI_TERMS.show"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>