<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th sxy-orderby="data/title">Otsikko</th>
        <th class="right">
          <span sxy-orderby="createdAt">Luotu</span><br />
          <span sxy-orderby="updatedAt">Päivitetty</span>
        </th>
        <th class="right">
          <span sxy-orderby="salaryDate">Palkkapäivä</span><br />
          <span sxy-orderby="data/otherPartyUpdatedAt">Vastattu</span>
        </th>
        <th class="hidden-xxs"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td class="middle clickable" ng-click="$crud.showDetails(row)">
          <b>{{ row.data.title }}</b>
          <span class="label label-primary" ng-if="row.data.otherPartyUnreadCount">
            {{ row.data.otherPartyUnreadCount }} 
            <i class="fa fa-comment" aria-hidden="true"></i>
          </span>
          <div class="truncate" style="max-width: 300px; font-size: 0.9em;">{{ row.data.otherPartyLastMessage }}</div>
        </td>
        <td class="middle right clickable" ng-click="$crud.showDetails(row)">
          {{ row.createdAt | sxyTime }}<br /> {{ row.updatedAt | sxyTime }}
        </td>
        <td class="middle right clickable" ng-click="$crud.showDetails(row)">
          {{ row.salaryDate | sxyDate }}<br /> {{ row.data.otherPartyUpdatedAt | sxyTime }}
        </td>
        <td class="hidden-xxs middle">
          <button ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block">
              <i class="fa fa-comment visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>