<div ng-class="$ctrl.getCssClass()" class="table-responsive">
  <div class="visible-xxs">
    <div class="table-filter-container-mobile">
      <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
      </salaxy-input>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.description"></span></th>
        <th sxy-orderby="status"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.status"></span></th>
        <th class="right"><span sxy-orderby="endAt"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.period"></span></span>
        </th>
        <th class="right"><span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.payment"></span></span>
        </th>
        <th class="right hidden-xxs"><span sxy-orderby="grossSalary"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.calculations"></span></span>
        </th>
        <th class="right hidden-xxs" colspan="2">
          <div class="table-filter-container">
            <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" class="salaxy-odata-table-search" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" label-type="plain"></salaxy-input>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td ng-click="$crud.showDetails(row)" class="visible-xs clickable" title="Siirry palkkalistaan">
          <span class="payroll-title"><strong>{{ row.data.title }}</strong></span>
          <span class="payroll-info"> {{ row.salaryDate | date }}<small ng-if="row.data.wageBasis != 'undefined'">, {{ 'WageBasis.' + row.data.wageBasis | sxyEnum }}</small></span>
        </td>
        <td class="hidden-xs">
          <span class="payroll-title"><strong>{{ row.data.title }}</strong></span>
          <span class="payroll-info"> {{ row.salaryDate | date }}<small ng-if="row.data.wageBasis != 'undefined'">, {{ 'WageBasis.' + row.data.wageBasis | sxyEnum }}</small></span>
        </td>
        <td class="">
          <div>
            {{ 'PayrollStatus.' + row.status | sxyEnum }}
            <span ng-if="row.data.calendarEvent" class="badge bg-primary">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span sxy-text="SALAXY.NG1.PayrollComponent.payrollList.calendarEvent"></span>
            </span>
            <i ng-if="row.data.calendarOccurence" class="fa fa-calendar text-primary" aria-hidden="true"
              title="{{ 'SALAXY.NG1.PayrollComponent.payrollList.calendarOccurence' | sxyTranslate }}"></i>
            <i ng-if="!row.data.calendarOccurence && row.data.template" class="fa fa-clone text-primary" aria-hidden="true"
              title="{{ 'SALAXY.NG1.PayrollComponent.payrollList.template' | sxyTranslate }}"></i>
          </div>
          <span ng-if="row.status == 'draft'" class="small" ng-class="{'text-danger' : !row.data.isReady }">
            {{ row.data.isReady ? ('SALAXY.NG1.PayrollComponent.payrollList.readyForPayment' | sxyTranslate) : ('SALAXY.NG1.PayrollComponent.payrollList.notReadyForPayment' | sxyTranslate)  }}
          </span>
        </td>
        <td class="right">
          {{ row.startAt | date }}<br /> {{ row.endAt | date }}
        </td>
        <td class="right">
          {{ row.data.paymentDate || row.data.dueDate | date }}<br /> {{ row.payment | currency }}
        </td>
        <td class="right hidden-xxs">
          {{ row.data.calcCount ? (row.data.calcCount + " kpl") : "-" }}<br /> {{ row.grossSalary | currency }}
        </td>
        <td class="middle hidden-xxs">
          <button ng-if="!(row.isReadOnly || row.status == 'paymentStarted')" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block"><i class="fa fa-pencil visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.edit"></span></button>
          <button ng-if="(row.isReadOnly || row.status == 'paymentStarted')" ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-default btn-block"><i class="fa fa-info visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span></button>
        </td>
        <td class="middle hidden-xxs">
          <button ng-if="!(row.isReadOnly || row.status == 'paymentStarted')" ng-click="$crud.delete(row)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-sm btn-danger btn-block"><i class="fa fa-trash visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.delete"></span></button>
          <button ng-if="(row.isReadOnly || row.status == 'paymentStarted')" ng-click="$crud.showCopyAsNew(row)" title="{{ 'SALAXY.UI_TERMS.copyAsNew' | sxyTranslate}}" class="btn btn-sm btn-default btn-block"><i class="fa fa-copy visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.NG1.UiTerms.copyAsNew"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>