<div ng-class="$ctrl.getCssClass()">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" class="hidden-xxs">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
          </th>
          <th class="visible-xxs">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
          </th>
          <th class="right">
            <span sxy-orderby="endAt" class="clickable"><span sxy-text="Pvm"></span></span>
          </th>
          <th class="right">
            <span sxy-orderby="payment">Maksu</span><br>
            <span sxy-orderby="grossSalary">Brutto</span>
          </th>
          <th class="right " colspan="2">
            <div class="table-filter-container">
              <salaxy-input name="searchx{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="Tekstihaku" class="sort-by-text" label-type="plain">
              </salaxy-input>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle hidden-xxs">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name middle">
            <span ng-if="row.otherPartyInfo.avatar.displayName == ''">{{ 'SALAXY.NG1.CalcListComponent.notSelected' | sxyTranslate }}</span>
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>
          </td>
          <td class="right middle">{{ row.endAt | date }}</td>
          <td class="right">
            {{ row.payment | currency }}<br> {{ row.grossSalary | currency }}
          </td>
          <td class="middle ">
            <a ng-href="{{$crud.getPdfUrl(row)}}" target="_blank" title="{{ 'SALAXY.UI_TERMS.printable' | sxyTranslate}}" class="btn btn-sm btn-block btn-secondary"><i class="fa fa-file-pdf-o"></i> <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.printable"></span></a>
          </td>
          <td class="middle ">
            <button ng-click="$crud.showDetails(row)" title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" class="btn btn-sm btn-block btn-secondary"><i class="fa fa-info"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>