<div ng-class="$ctrl.getCssClass()">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="">
        <tr>
          <th colspan="2"><span sxy-orderby="otherPartyInfo/avatar/displayName">Työntekijä</span></th>
          <th class="right">
            <span sxy-orderby="endAt">Vuosi</span><br />
            </td>
            <th class="right">
              <span sxy-orderby="startAt">Voimassa</span><br />
              <span sxy-orderby="endAt">..loppu</span><br />
              </td>
              <th class="right">
                <span>Maksettu</span><br>
                <span>Tuloraja</span>
              </th>
              <th>
                <!--div class="table-filter-container text-right">
                  <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" label-type="plain" placeholder="Tekstihaku"></salaxy-input>
                </div-->
                <salaxy-odata-actions ng-if="'test' | sxyIsInRole" show-import="true" show-export="true"></salaxy-odata-actions>
                <salaxy-odata-actions ng-if="'!test' | sxyIsInRole" show-export="true"></salaxy-odata-actions>
              </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="align-middle td-avatar">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name">
            <strong>{{row.otherPartyInfo.avatar.displayName || ("Henkilötunnus " + (row.otherPartyInfo.officialId || "tuntematon"))  }}</strong>
            <br /> {{ "SALAXY.ENUM.TaxcardKind." + row.data.kind + ".label" | sxyTranslate}}
            <span ng-if="row.data.kind !== 'noTaxCard' && row.data.kind !== 'noWithholdingHousehold' && row.data.kind !== 'undefined'">{{row.data.taxPercent}} %</span>
            <span ng-if="row.data.taxPercent2">
              <br />Lisäprosentti: {{row.data.taxPercent2}} %
            </span>
          </td>
          <td class="right">
            <span>{{row.data.forYear}}</span><br />
          </td>
          <td class="right">
            <span>{{row.data.start | sxyDate}}</span><br />
            <span>{{row.data.end | sxyDate}}</span><br />
          </td>
          <td class="right">
            <span class="small paidsalaries">{{ row.data.totalIncome | currency: ' €' : 0 }}</span>
            <span class="small incomelimit">{{(row.data.incomeLimit | currency: ' €' : 0) || '-'}}</span>
            <span class="visible-xs visible-sm"></span>
          </td>
          <td class="right">
            <div class="btn-group-sm">
              <button class="btn btn-primary" ng-click="$crud.showTaxCardAddDialogForTaxCardsList(row);" ng-if="row.otherId && ('!household' | sxyIsInRole)" sxy-text="SALAXY.UI_TERMS.addNew"></button>
              <button title="{{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}" ng-click="$crud.showDetails(row)" class="btn btn-default" ng-if="'!household' | sxyIsInRole"><i
                class="fa fa-pencil visible-xs"></i><span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.show"></span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>