<div ng-class="$ctrl.getCssClass()">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th class="visible-xs">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
            <span class="label label-primary" ng-if="$ctrl.selectedItems.length"> Valittu: {{ $ctrl.selectedItems.length }}</span>
          </th>
          <th colspan="2" class="hidden-xs">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
            <span class="label label-primary" ng-if="$ctrl.selectedItems.length"> Valittu: {{ $ctrl.selectedItems.length }}</span>
          </th>
          <th class="right hidden-xxs">
            <span sxy-orderby="createdAt" class="clickable">Luotu</span><br/>
            <span sxy-orderby="updatedAt" class="clickable">Päivitetty</span>
          </th>
          <th class="right">
            <div class="table-filter-container">
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="Tekstihaku" class="sort-by-text" label-type="plain">
              </salaxy-input>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle hidden-xs">
            <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
          </td>
          <td class="td-name middle">
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
            <span class="sm-description">
               {{$crud.getEmploymentDescription(row)}}
            </span>
          </td>
          <td class="middle right hidden-xxs">
            {{ row.createdAt | date }}<br /> {{ row.updatedAt | date}}
          </td>
          <td class="middle right">
            <button class="btn btn-sm" type="button" ng-class="$ctrl.isSelected(row) ? 'btn-danger' : 'btn-secondary'" ng-click="$ctrl.setSelected(row, 'toggle')">
              {{ $ctrl.isSelected(row) ? "Poista valinta" : "Valitse" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>