<div ng-class="$ctrl.getCssClass()">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th colspan="2">
            <span sxy-orderby="otherPartyInfo/avatar/displayName" class="clickable"><span sxy-text="SALAXY.NG1.Roles.worker"></span><i ng-if="$odata.getColumnOrder('avatar/displayName')" class="fa fa-sort-{{ $odata.getColumnOrder('avatar/displayName') }}"
              aria-hidden="true"></i></span>
          </th>
          <th class="hidden-xxs right">
            <span sxy-orderby="createdAt" class="clickable"><span sxy-text="Luotu"></span></span><br />
            <span sxy-orderby="updatedAt" class="clickable"><span sxy-text="Päivitetty"></span></span>
          </th>
          <th class="right hidden-xxs" colspan="3">
            <salaxy-odata-actions ng-if="'test' | sxyIsInRole" show-import="true" show-export="true"></salaxy-odata-actions>
            <salaxy-odata-actions ng-if="'!test' | sxyIsInRole" show-export="true"></salaxy-odata-actions>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.items">
          <td class="td-avatar middle">
            <a href="#/workers/details/{{row.otherId}}" class="cell-link" title="Muokkaa työntekijää">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </a>
          </td>
          <td class="td-name hidden-xs middle">
            <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
            <span class="sm-description">
              {{$crud.getEmploymentDescription(row)}}
            </span>
          </td>
          <td class="td-name visible-xs middle">
            <a href="#/workers/details/{{row.otherId}}" class="cell-link" title="Muokkaa työntekijää">
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
              <span class="sm-description" ng-if="row.otherPartyInfo.ibanNumber">{{$crud.getEmploymentDescription(row)}}</span>
              <span class="text-danger missing-info" ng-if="!row.otherPartyInfo.ibanNumber">Lisää tilinumero</span>
            </a>
          </td>
          <td class="hidden-xxs middle  right" colspan="{{$ctrl.readOnly ? 2 : ''}}">
            {{ row.createdAt | date }}<br /> {{ row.updatedAt | date}}
          </td>
          <td class="right middle hidden-xxs" ng-if="!$ctrl.readOnly">

            <a href="#/calc/details/{{row.otherId}}/new-for-worker" class="btn btn-primary btn-sm" sxy-text="SALAXY.UI_TERMS.newCalculation"></a>
          </td>
          <td class="right middle hidden-xs">
            <a href="#/workers/details/{{row.otherId}}#calculations" class="btn btn-sm btn-default" sxy-text="SALAXY.UI_TERMS.calculations"></a>
          </td>
          <td class="right middle hidden-xxs">
            <a href="#/workers/details/{{row.otherId}}" class="btn btn-link" sxy-text="SALAXY.UI_TERMS.edit"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>