<div class="salaxy-component salaxy-odata-table salaxy-odata-table-status-loaded">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th colspan="2">
            <span sxy-text="SALAXY.NG1.Roles.worker"></span>
          </th>
          <th class="right">
            <span>Luotu</span><br/>
            <span>Päivitetty</span>
          </th>
          <th class="right"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.getExampleWorkers()">
          <td class="td-avatar middle">
            <salaxy-avatar avatar="row.avatar"></salaxy-avatar>
          </td>
          <td class="td-name middle">
            <strong>{{row.avatar.displayName}}</strong><br />
            <span class="sm-description">{{row.avatar.description}}</span>
          </td>
          <td class="middle right">{{ "today" | date }}<br /> {{ "today" | date}}</td>
          <td class="middle right">
            <!-- NOTE: This implementation now does not support multi-selection. Add if necessary. -->
            <button class="btn btn-sm" type="button" class="btn-info" ng-click="$ctrl.setExampleWorker(row.id)">Valitse</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>