<div class="salaxy-odata-panel list-panel worker-list-panel panel panel-sm panel-secondary" ng-init="hideFilter = false">
  <!-- TODO: add binding panel-title 
 <div ng-if="$ctrl.data.panelTitle" class="panel-heading" sxy-text="$ctrl.panelTitle"></div>
 -->
  <div class="panel-heading">
    {{'Työntekijät' | sxyTranslate}}
    <div class="pull-right">
      <button class="btn btn-secondary btn-xs" ng-click="hideFilter = !hideFilter" title="Näytä suodattimet">
        <i class="fa fa-filter"></i>
      </button>
    </div>
  </div>
  <div class="panel-body filters text-right" ng-class="{'showfilters' : hideFilter}">

    <div class="filter-buttons">
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="otherPartyInfo/avatar/displayName">
          Abc
        </button>
      <button class="btn btn-xs btn-secondary text-right" sxy-orderby="createdAt">
          <i class="fa fa-calendar"></i>
        </button>

    </div>
    <salaxy-input name="search1cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search hidden-xxs" label-type="plain">
    </salaxy-input>


  </div>
  <div ng-class="$ctrl.getCssClass()">
    <div class="visible-xxs">
      <div class="table-filter-container-mobile">
        <salaxy-input name="search2cp{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" placeholder="{{'SALAXY.NG1.CalcListComponent.search' | sxyTranslate}}" class="salaxy-odata-table-search" label-type="plain">
        </salaxy-input>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td class="td-avatar middle hidden-xxs">
              <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
            </td>
            <td class="middle">
              <strong>{{row.otherPartyInfo.avatar.displayName}}</strong>

              <br /> {{ row.createdAt | date }}
            </td>
            <td class="middle" sxy-if-role="company">
              <span class="sm-description" ng-if="row.otherPartyInfo.ibanNumber">{{$crud.getEmploymentDescription(row)}}</span>
              <span class="text-danger missing-info" ng-if="!row.otherPartyInfo.ibanNumber">Lisää tilinumero</span>
            </td>
            <td class="right middle">
              <a href="#/calc/details/{{row.otherId}}/new-for-worker" class="btn btn-primary btn-sm" ng-if="!$ctrl.readOnly" sxy-text="SALAXY.UI_TERMS.newCalculation"></a>
              <a href="#/workers/details/{{row.otherId}}" class="btn btn-sm btn-secondary" title="{{'SALAXY.UI_TERMS.show' | sxyTranslate}}"><i class="fa fa-info"></i></a>
            </td>

          </tr>
        </tbody>

      </table>
      <div class="salaxy-odata-footer">
        <salaxy-spinner></salaxy-spinner>
      </div>
    </div>
  </div>
  <!--TODO add binding showAllUrl -->

  <div class="panel-footer text-center">

    <a class="btn btn-primary btn-sm" href="#/workers">Näytä kaikki</a>
  </div>
</div>