<div salaxy-if-role="anon">
  <h3>Authentication required</h3>
  <div class="alert alert-danger">
    This page requires authentication. Please see 
    <a href="#security/index">Getting started section</a> for more information.
  </div>
</div>
<div salaxy-if-role="auth">
  <h1 class="page-header">AssureCompanyAccount test page</h1>
  <p class="lead">
      The AssureCompanyAccount method gets the public company account information if account has already been created
      for the company official Id (Y-tunnus in Finnish).
      If the account does not exist, an account stub is created based on the official Id.
      The company data is fetched from Finnish Business Registry (YTJ.fi).
  </p>
  <p class="lead">
    Please note that in production, you need to have a <strong>trusted partner</strong> role to use this method.
    You may use it in test though without trusted partner role.
  </p>
  <p>
      The method is designed for trusted partners to assure that the company account exists
      before they start the onboarding process.
      By default, unless the signing user changes this in the onboarding process,
      the creating partner will have full access to the created account.
  </p>
  <p>
      The method is:
      <code><strong>POST</strong><a href="https://developers.salaxy.com/docs/swagger/dist/#!/Partner/Partner_AssureCompanyAccount" target="_blank">/v02/api/partner/company</a></code>
      and the form below shows the result as raw JSON text in a new window.
      <b>See question marks in the fields below for more detailed info.</b>
  </p>
  <div ng-controller="SecurityDemoController as $ctrl">
    <form class="form-horizontal">
        <fieldset>
            <legend>Required data</legend>
            <salaxy-input ng-model="$ctrl.model.officialId" require="true" name="officialId" label="Company ID (Y-tunnus)"
              tooltip-html="<b>officialId</b>: Required company ID that is used to fetch the company data from the trade register."></salaxy-input>
            <salaxy-input ng-model="$ctrl.model.partnerAccountId" name="partnerAccountId" label="Account ID at partner site"
              tooltip-html="<b>partnerAccountId</b>: If you set this to a non-null value, this ID is stored as part of authorization and all subsequent calls will need to have this partnerAccountId.
              This is an additional security feature for non-verified Company ID scenarios."></salaxy-input>
            <salaxy-input ng-model="$ctrl.model.proxyPartner" name="proxyPartner" label="Optional proxy partner ID"
              tooltip-html="<b>proxyPartner</b> is used in parent-child partner scenarios.
              A typical example is an accounting software (parent partner) that has many 
              registered accountant companies (proxy/child partner) which in turn will own the created companies.
              The parent partner must have access to child partner, but not necessarily to the created companies directly.""></salaxy-input>
        </fieldset>
        <fieldset>
            <legend>Contact info</legend>
            <salaxy-input ng-model="$ctrl.model.contactFirstName" name="contactFirstName" label="Contact first name"
              tooltip-html="<b>contactFirstName</b> Contact in issues with digital signature etc."></salaxy-input>
            <salaxy-input ng-model="$ctrl.model.contactLastName" name="contactLastName" label="Contact last name"
              tooltip-html="<b>contactLastName</b> Contact in issues with digital signature etc."></salaxy-input>
            <salaxy-input ng-model="$ctrl.model.telephone" name="telephone" label="Phone"
              tooltip-html="<b>telephone</b> for the contact person. Either e-mail or telephone is required."></salaxy-input>
            <salaxy-input require="true" ng-model="$ctrl.model.email" name="email" label="E-mail"
              tooltip-html="<b>email</b> is marked required in this form, but strictly speaking either e-mail or telephone is required."></salaxy-input>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.postAssureCompanyAccount()">Lähetä</button>
            </div>
        </div>
    </form>
    <h3>Result</h3>
    <pre ng-if="$ctrl.postResult">{{$ctrl.postResult | json }}</pre>
  </div>
</div>