<div salaxy-if-role="anon">
  <h3>Authentication required</h3>
  <div class="alert alert-danger">
    This page requires authentication. Please see 
    <a href="#security/index">Getting started section</a> for more information.
  </div>
</div>
<div salaxy-if-role="auth">
    <h1 class="page-header">Logged-in account</h1>
    <p class="lead">
        This account may be accessed using several
        <strong>Credentials</strong>
        (e.g. E-mail/PWD, Facebook, Certificate)
        and the account owner may grant <strong>Authorization</strong>
        to another account (e.g. to an accountant or lawyer).
        You can manage them here.
    </p>

    <salaxy-credentials></salaxy-credentials>

    <salaxy-authorized-accounts></salaxy-authorized-accounts>

    <salaxy-certificates></salaxy-certificates>

    <h2>Authorizing accounts</h2>
    <p>
        <small>Accounts that have given this account access to their data.</small>
    </p>
    <salaxy-authorizing-accounts></salaxy-authorizing-accounts>
</div>