<h1 class="page-header">Getting started with Security</h1>
<h2>Creating a test account</h2>
<p class="lead">
  It is very easy to create a test account to Salaxy API (test environment).<br />
  <strong>It takes only couple of minutes and it is completly free!</strong>.
</p>
<div class="row">
  <div class="col-xs-4"><img src="/app/img/elems/security/0-ytj.png" class="img-responsive img-thumbnail"></div>
  <div class="col-xs-8">
    Choose a test company in <a href="https://ytj.fi" target="_blank">Finnish Trade registry (<strong>ytj.fi</strong>)</a>.
    <ul>
        <li>Take a real company or association (oy, ky, avoin yhtiö, ry)</li>
        <li>Preferably, select a company that you are affiliated with, but this is test data so you do not need signature rights.</li>
        <li>Take note of the Company ID (Y-tunnus)</li>
    </ul>
  </div>
</div>
<div class="row">
    <div class="col-xs-4"><img src="/app/img/elems/security/0-create.png" class="img-responsive img-thumbnail"></div>
    <div class="col-xs-8">
        <p>
            Create a new Company or Accounting company (PRO/tilitoimisto) in our test environment
            <strong><a href="https://test.palkkaus.fi" target="_blank">https://test.palkkaus.fi</a></strong>. 
        </p>
        <p>
            Use E-mail / Password authentication (not Google, Microsoft etc.)
        </p>
        <p>
            After initial verification, e-mails are not sent in test environment, so you will not get spammed.
            But e-mail verification is not mandatory, so you can also use fake e-mail e.g. yourname@palkkaus.fi.
        </p>
        <p>
            Please also read the instructions below before proceeding.
        </p>
    </div>
</div>
<h4>
    You are shown Palkkaus.fi Onboarding wizard.
</h4>
<div class="row">
    <div class="col-sm-4">
        <img src="/app/img/elems/security/1-user.png" class="img-responsive img-thumbnail">
        <p>
            Avoid real personal data.
        </p>
    </div>
    <div class="col-sm-4">
        <img src="/app/img/elems/security/2-company.png" class="img-responsive img-thumbnail">
        <p>
            Take a real company or association (oy, ky, avoin yhtiö, ry),
            preferably, one that you are affiliated with.
        </p>
    </div>
    <div class="col-sm-4">
        <img src="/app/img/elems/security/3-kyc.png" class="img-responsive img-thumbnail">
        <p>
            Check the box for signature rights: 
            You need this to proceed, but in test environment you do not need to sign.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div style="max-height: 200px; overflow: auto">
            <img src="/app/img/elems/security/4-sign.png" class="img-responsive img-thumbnail">
        </div>
        <p>
            In digital signature page, fake a personal id (HETU): <code>ddmmyy-nnn*</code> where the first part ddmmyy should be a real date, 
            then number nnn should be any random number. You can input asterix (*) for checksum character. 
        </p>
    </div>
    <div class="col-sm-4">
        <img src="/app/img/elems/security/5-sign-skip.png" class="img-responsive img-thumbnail">
        <p>
            In the page after selecting the bank (and submit) you can bypass the bank authentication.
        </p>
    </div>
    <div class="col-sm-4">
        <img src="/app/img/elems/security/6-site.png" class="img-responsive img-thumbnail">
        <p>
            You can start testing our Company web site (please see other options below).
        </p>
    </div>
</div>
<h2>Log in to our test and development sites</h2>
<p class="lead">
  Once the account has been created, you can login to this site (top right corner). 
  With the same account, you can also access all our other test sites:
</p>
<ul>
  <li><a href="https://test.palkkaus.fi">https://test.palkkaus.fi</a> takes you to our Company or Accounting company (PRO) web site.</li>
  <li>
    This site: <a href="https://developers.salaxy.com">https://developers.salaxy.com</a>
    <ul>
      <li><a href="#/security/current">Account overview</a>: List and modify certificates, authorizations etc.</li>
      <li><a href="/ng1">User interfaces created with our AngularJS components</a></li>
      <li><a href="#/api/swagger">API reference</a></li>
      <li>Security demos (see below)</li>
    </ul>
  </li>
</ul>
<h2>Connecting to API (OAuth 2)</h2>
<p class="lead">
  Besides logging in to the test web sites listed above, 
  you can use our API directly in <a href="https://test-api.salaxy.com">https://test-api.salaxy.com</a>.
  For this you need a Bearer token, which you can obtain using OAuth 2 or related methods.
</p>
<ul>
    <li><a href="#/security/password">Password Authorization Flow</a></li>
    <li><a href="#/security/assertion">Impersonation (SSO)</a> with Authorization grant.</li>
    <li>
        Trusted partners can create new company accounts as part of SSO-process:
        <a href="#/security/assure-company-account">Assure Company Account</a>.</li>
    <li><a href="#/security/federation">For banks</a>, we also have Federation methods</li>
</ul>
<p>
  <strong>Please note</strong> that for impersonation / Single Sign-on (SSO)
  there is an extensive example site in 
  <a href="https://gitlab.com/salaxy/salaxy-demo-sso" target="_blank">https://gitlab.com/salaxy/salaxy-demo-sso</a>.
  It shows how to use your own authentication methods in connecting to Salaxy salary payment.
  The examples are in .Net, TypeScript / JavaScript and PHP.
</p>