<div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">Password Authorization Flow</h2>
      <p class="lead">
        The document <a href="https://tools.ietf.org/html/rfc6749#section-4.3" target="_blank">RFC6749 4.3. "Resource Owner Password Credentials Grant"</a>
        (<strong>grant_type: password</strong>)
        defines an OAuth2.0 -access token request which can be used for generating an access token using existing username and password. The resource owner password credentials
        grant type is suitable in cases where the resource owner has a trust relationship with the client, such as the device operating system or a highly privileged application.
      </p>
    </div>
    <div class="col-xs-12 form-horizontal">
      <h2 id="point3">Create and post access token request</h2>
      <h3>Request</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Type</th>
            <th>Description (from the spec)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">
              <strong>Access token request parameters</strong>
            </td>
          </tr>
          <tr>
            <td>grant_type</td>
            <td>string</td>
            <td>Value MUST be set to "password".</td>
          </tr>
          <tr>
            <td>username</td>
            <td>string</td>
            <td>Email.</td>
          </tr>
          <tr>
            <td>password</td>
            <td>string</td>
            <td>Password of the user.</td>
          </tr>

          <tr>
            <td colspan="3">
              <strong>Response</strong>
            </td>
          </tr>
          <tr>
            <td>access_token</td>
            <td>string</td>
            <td>Contains access token.</td>
          </tr>
          <tr>
            <td>token_type</td>
            <td>string</td>
            <td>"Bearer".</td>
          </tr>
        </tbody>
      </table>
      <h3>Posting access token request</h3>
      <p>
        The end point for the access token request is <a href="https://test-api.salaxy.com/oauth2/token" target="_blank">https://test-api.salaxy.com/oauth2/token</a>
        (<a href="https://secure.salaxy.com/oauth2/token" target="_blank">https://secure.salaxy.com/oauth2/token</a> in production).
      </p>
      <form method="post" action="https://test-api.salaxy.com/oauth2/token" target="_blank" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-4" for="grant_type">grant_type</label>
          <div class="col-sm-8">
            <input type="text" name="grant_type" id="grant_type" readonly class="form-control" value="password">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="username">username</label>
          <div class="col-sm-8">
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="password">password</label>
          <div class="col-sm-8">
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary" type="submit">Send to test page (new window)</button>
          </div>
        </div>
      </form>
      <br />
      <p>
        You can check the payload of the the token e.g. in
        <a href="https://jwt.io/" target="_blank">https://jwt.io/</a>.
      </p>
    </div>
  </div>
</div>