﻿<button ng-click="wizard.goPrevious()" ng-disabled="!wizard.canGoPrevious" class="btn btn-danger" sxy-text="SALAXY.UI_TERMS.previous"></button>
<div salaxy-loader class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<button ng-click="wizard.commit()" ng-disabled="!wizard.canGoNext" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>