﻿<form name="currentForm">
  <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>
  <div>
    <div class="alert alert-danger" ng-if="wizard.existingCompanyAlert">
      <p>HUOM! Yrityksellä on jo Palkkaus.fi-tili. Varmista, että tilin omistaja on antanut sinulle valtuutuksen.</p>
    </div>
  </div>
  <div class="col-md-6">
    <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step2.companyInfo"></legend>
    <div class="form-horizontal">
      <salaxy-input salaxy-if-role="!test" readonly="true" label="SALAXY.NG1.GeneralInfo.vat" name="Ytunnus" ng-required="true" ng-model="wizard.model.company.businessId"></salaxy-input>
      <salaxy-input salaxy-if-role="test" label="SALAXY.NG1.GeneralInfo.vat" name="Ytunnus" ng-required="true" ng-model="wizard.model.company.businessId"></salaxy-input>
      <salaxy-input salaxy-if-role="!test" readonly="true" label="SALAXY.NG1.GeneralInfo.companyName" name="Nimi" ng-required="true" ng-model="wizard.model.company.name"></salaxy-input>
      <salaxy-input salaxy-if-role="test"  label="SALAXY.NG1.GeneralInfo.companyName" name="Nimi" ng-required="true" ng-model="wizard.model.company.name"></salaxy-input>
      <div class="form-group" salaxy-if-role="!test">
        <label for="Yritysmuoto" class="col-sm-4 control-label" style="text-align:left">
          <span sxy-text="SALAXY.NG1.GeneralInfo.companyType" ps="*"></span>
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="Yritysmuoto" name="Yritysmuoto" placeholder="{{'SALAXY.NG1.GeneralInfo.companyType' | sxyTranslate | lowercase}}" readonly="true" autocomplete="off" value="{{ !wizard.model.company.companyType ? '' : ('SALAXY.ENUM.CompanyType.' + wizard.model.company.companyType +'.label' | sxyTranslate) }}"
          />
        </div>
      </div>
      <salaxy-input-enum salaxy-if-role="test" label="Yritysmuoto" name="companyType" ng-model="wizard.model.company.companyType" enum="CompanyType" type="select" placeholder="{{'SALAXY.NG1.UiTerms.select' | sxyTranslate}}" required></salaxy-input-enum>
    </div>
  </div>
  <div class="col-md-6">
    <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step2.companyContact"></legend>
    <div class="form-horizontal">
      <salaxy-input label="SALAXY.NG1.GeneralInfo.addressStreet" name="Katuosoite" ng-model="wizard.model.company.contact.street" ng-required="true"></salaxy-input>
      <salaxy-input label="SALAXY.NG1.GeneralInfo.postalNum" name="Postinumero" sxy-postal-code-fi ng-model="wizard.model.company.contact.postalCode" ng-required="true"></salaxy-input>
      <salaxy-input label="SALAXY.NG1.GeneralInfo.postalArea" name="Postitoimipaikka" ng-model="wizard.model.company.contact.city" ng-required="true"></salaxy-input>
      <salaxy-input label="SALAXY.NG1.GeneralInfo.email" name="Sahkoposti" ng-model="wizard.model.company.contact.email" ng-required="true" sxy-email></salaxy-input>
      <salaxy-input label="SALAXY.NG1.GeneralInfo.tel" name="Puhelinnumero" ng-model="wizard.model.company.contact.telephone" ng-required="true" sxy-mobile-phone></salaxy-input>
    </div>
  </div>
</form>