﻿<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>
  <div class="col-md-6">
    <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.legalTitle"></legend>
    <h5><span sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.pep"></span>
      <i class="fa fa-info-circle" popover-title="{{ 'SALAXY.NG1.CompanyOnboardingComponent.step3.pepTitle' | sxyTranslate}}" uib-popover="{{ 'SALAXY.NG1.CompanyOnboardingComponent.step3.pepTip' | sxyTranslate}}" popover-append-to-body="true" popover-placement="auto"
        popover-trigger="'mouseenter click'"></i>
    </h5>
    <!-- TODO: test-->
    <salaxy-input-boolean type="radio" name="identityPep" label="" label-type="plain" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" ng-model="wizard.model.signature.isPep" require="true"></salaxy-input-boolean>
    <div ng-hide="!(wizard.model.company.companyType == 'fiOy' || wizard.model.company.companyType == 'fiYy')">
      <h5>
        <span sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.owner"></span>
        <i class="fa fa-info-circle" popover-title="{{ 'SALAXY.NG1.CompanyOnboardingComponent.step3.ownerTitle' | sxyTranslate}}" uib-popover="{{ 'SALAXY.NG1.CompanyOnboardingComponent.step3.ownerTip' | sxyTranslate}}" popover-append-to-body="true" popover-placement="auto"
          popover-trigger="'mouseenter click'"></i>
      </h5>
      <div class="radio">
        <label class="radio-inline" for="IsRequiredTracking-true">
          <input type="radio" id="IsRequiredTracking-true" name="Ownership.IsRequiredTracking" ng-value="true" ng-model="wizard.model.company.ownership.isRequiredTracking" required> <span sxy-text="SALAXY.NG1.UiTerms.yes"></span>
        </label>
        <label class="radio-inline" for="IsRequiredTracking-false">
          <input type="radio" id="IsRequiredTracking-false" name="Ownership.IsRequiredTracking" ng-value="false" ng-model="wizard.model.company.ownership.isRequiredTracking" required><span sxy-text="SALAXY.NG1.UiTerms.no"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div ng-hide="wizard.model.company.ownership.isRequiredTracking">
      <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.reason"></legend>
      <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.reasonDesc"></p>
    </div>
    <div ng-hide="!wizard.model.company.ownership.isRequiredTracking">
      <fieldset class="form-horizontal">
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.isOwnerTitle"></legend>
        <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.isOwnerDesc"></p>
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-4 control-label" for="shareholder1" sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.isOwner" ps=" 1*"></label>
          <div class="col-sm-8 col-md-9 col-lg-8">
            <input class="form-control" id="shareholder1" name="shareholder1" type="text" ng-model="wizard.model.company.ownership.shareHolders[0].name" value="" ng-required="wizard.model.company.ownership.isRequiredTracking == true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-4 control-label" for="shareholder2" sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.isOwner" ps=" 2 "></label>
          <div class="col-sm-8 col-md-9 col-lg-8">
            <input class="form-control" id="shareholder2" name="shareholder2" type="text" ng-model="wizard.model.company.ownership.shareHolders[1].name" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-4  control-label" for="shareholder3" sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.isOwner" ps=" 3 "></label>
          <div class="col-sm-8 col-md-9 col-lg-8">
            <input class="form-control" id="shareholder3" name="shareholder3" type="text" ng-model="wizard.model.company.ownership.shareHolders[2].name" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-4 control-label" for="shareholder4" sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step3.isOwner" ps=" 4 "></label>
          <div class="col-sm-8 col-md-9 col-lg-8">
            <input class="form-control" id="shareholder4" name="shareholder4" type="text" ng-model="wizard.model.company.ownership.shareHolders[3].name" value="">
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>