﻿<div class="btn-group" role="group">
</div>
<div salaxy-loader class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div class="btn-group">
  <button class="btn btn-default" ng-click="$close()" sxy-text="SALAXY.NG1.UiTerms.close"></button>
  <button class="btn btn-success" ng-click="$close();wizard.launch()" sxy-text="SALAXY.NG1.CompanyOnboardingComponent.finishButtons.newAccount"></button>
</div>