﻿<form name="currentForm">
    <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>
    <div class="col-md-12" sxy-html="SALAXY.NG1.CompanyOnboardingComponent.step5.html" params="{companyName : wizard.model.company.name, sharingLink :wizard.sharingLink, mailToLink : wizard.mailtoLink}"></div>
</form>