﻿<form name="currentForm">

  <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>

  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogPensionTitle"></legend>

        <salaxy-input-boolean label="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogPension" type="radio" name="isPensionContractDone" ng-model="wizard.model.products.pension.isPensionContractDone" label-type="basic" label-true="SALAXY.UI_TERMS.yes" label-false="SALAXY.UI_TERMS.no"
          ng-change="wizard.checkPensionCompanySelection()"></salaxy-input-boolean>

        <div ng-if="!wizard.model.products.pension.isPensionContractDone">
          <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.hasPension"></p>
        </div>
        <div ng-if="wizard.model.products.pension.isPensionContractDone" class="form-horizontal">
          <salaxy-input-enum label="SALAXY.NG1.ProductDialogsComponent.company" name="pensionCompany" label-cols="col-sm-6" enum="PensionCompany" filter="varma,elo,ilmarinen,veritas,apteekkien,verso" ng-model="wizard.model.products.pension.pensionCompany" ng-change="wizard.checkPensionCompanySelection()"
            require="true"></salaxy-input-enum>

          <main salaxy-if-role="test" class="test-number ">
            <div class="form-group" ng-if="wizard.model.products.pension.pensionCompany != 'null' && wizard.model.products.pension.pensionCompany != 'none'">
              <div class="col-sm-8 col-sm-offset-4 text-right-sm">
                <span>Test only: <button class="btn btn-secondary  btn-xs" ng-click="wizard.setPensionNumberForTest()">Generoi numero</button></span>
              </div>
            </div>
          </main>
          <div ng-if="wizard.model.products.pension.pensionCompany != 'other'">
            <salaxy-input label="SALAXY.NG1.ProductDialogsComponent.contractNumber" label-cols="col-sm-6" require="true" type="text" name="pensionContractNumber" id="pensionContractNumber" ng-model="wizard.model.products.pension.pensionContractNumber" tooltip-html="{{'SALAXY.NG1.PaymentSettingsComponent.pension.errors.sxyPensionContractNumber.html' | sxyTranslate}}"
              tooltip-placement="top-right" sxy-pension-contract-number></salaxy-input>

            <div class="row" ng-show="currentForm.pensionContractNumber.$error.sxyTemporaryPensionContractNumber">
              <div class="col-xs-12 input-info text-danger">
                <div class="input-info-icon"><i class="fa fa-exclamation-triangle "></i></div>
                <p class="small input-info-text with-icon" sxy-html="SALAXY.NG1.CompanyOnboardingComponent.step4.errors.sxyTemporaryPensionContractNumber.html">
                </p>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-sm-6 col-xs-12" ng-if="wizard.model.products.pension.isPensionContractDone">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.pensionHandling"></legend>

        <div class="input-wrapper">
          <div class="form-group">
            <salaxy-input-boolean name="pension-reports" type="checkbox" label-type="plain" label-true="SALAXY.NG1.CompanyOnboardingComponent.step4.selfHandling" ng-model="wizard.model.products.pension.isPensionSelfHandling" disabled="wizard.model.products.pension.pensionCompany == 'veritas' || wizard.model.products.pension.pensionCompany == 'apteekkien' || wizard.model.products.pension.pensionCompany == 'verso' || wizard.model.products.pension.pensionCompany == 'other'"></salaxy-input-boolean>
            <div ng-if="wizard.model.products.pension.pensionCompany == 'veritas' || wizard.model.products.pension.pensionCompany == 'apteekkien' || wizard.model.products.pension.pensionCompany == 'verso' || wizard.model.products.pension.pensionCompany == 'other'">
              <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.notAutomated"></p>
            </div>

            <div ng-if="wizard.model.products.pension.isPensionSelfHandling && wizard.model.products.pension.pensionCompany != 'veritas' && wizard.model.products.pension.pensionCompany != 'apteekkien' && wizard.model.products.pension.pensionCompany != 'verso' && wizard.model.products.pension.pensionCompany != 'other'">
              <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.selfHandleDescription"></p>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogInsuranceTitle"></legend>

        <salaxy-input-boolean type="radio" label="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogInsurance" label-type="basic" label-true="SALAXY.UI_TERMS.yes" label-false="SALAXY.UI_TERMS.no" ng-model="wizard.model.products.insurance.isInsuranceContractDone"
          name="isInsuranceContractDone" ng-change="wizard.checkInsuranceCompanySelection()"></salaxy-input-boolean>

        <div ng-if="wizard.model.products.insurance.isInsuranceContractDone" class="form-horizontal">
          <salaxy-input-enum enum="InsuranceCompany" filter="if,fennia,lähiTapiola,pohjantähti,pohjola,turva,aVakuutus,folksam,alandia,ålands" name="InsuranceCompany" label="SALAXY.NG1.ProductDialogsComponent.company" ng-model="wizard.model.products.insurance.insuranceCompany"
            require="true" label-cols="col-sm-6"></salaxy-input-enum>
          <salaxy-input label="SALAXY.NG1.ProductDialogsComponent.insuranceNumber" require="true" label-cols="col-sm-6" name="insuranceContractNumber" ng-model="wizard.model.products.insurance.insuranceContractNumber"></salaxy-input>
        </div>
        <div ng-if="!wizard.model.products.insurance.isInsuranceContractDone && !wizard.model.products.insurance.isPartnerInsurance">
          <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.ifDialog.alert"></p>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogTaxTitle"></legend>
        <!--
              TODO: Final texts
              <p sxy-html="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogTax.html"></p>
            -->
        <p>
          Oletusarvoisesti Palkkaus.fi tekee ilmoituksen jokaisesta palkanmaksusta verottajalle sekä kuukausittaisen Työnantajan erillisilmoituksen.
          Teemme myös nollailmoituksen, jos kuussa ei ole palkanmaksua, mutta työnantaja on Työnantajarekisterissä ja on maksanut palkkoja viimeisen puolen vuoden aikana.
          Jos valitset 'Palkkaus.fi lähettää Erillisilmoituksen aina', niin teemme nollailmoituksen siinäkin tapauksessä, jossa työnantaja ei ole maksanut palkkoja viimeisen puolen vuoden aikana.
        </p>
        <div class="form-horizontal">
          <salaxy-input-enum ng-model="wizard.model.products.tax.irReporting" name="irReporting" label="Kuukausittainen ilmoittaminen" options="{ default: 'Palkkaus.fi hoitaa kaiken', noMonthlyReport: 'Palkkaus.fi ei lähetä Erillisilmoitusta', always: 'Palkkaus.fi lähettää Erillisilmoituksen aina'}"></salaxy-input-enum>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogEmploymentTitle"></legend>
        <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogEmploymentDescription"></p>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogReportTitle"></legend>
        <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step4.dialogReportDescription"></p>
        <div class="form-horizontal">
          <salaxy-input label="Sähköpostiosoite" name="Sahkopostiosoite" ng-model="wizard.model.products.accounting.accountantEmail" sxy-email></salaxy-input>
        </div>
      </fieldset>
    </div>
  </div>
</form>