﻿<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>
  <div class="col-md-6">
    <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step1.userInfo"></legend>
    <salaxy-input label="SALAXY.NG1.GeneralInfo.firstName" name="Etunimi" ng-model="wizard.model.person.firstName" ng-required="true"></salaxy-input>
    <salaxy-input label="SALAXY.NG1.GeneralInfo.lastName" name="Sukunimi" ng-model="wizard.model.person.lastName" ng-required="true"></salaxy-input>
    <salaxy-input label="SALAXY.NG1.GeneralInfo.email" name="Sahkoposti" ng-model="wizard.model.person.contact.email" ng-required="true" sxy-email></salaxy-input>
    <salaxy-input label="SALAXY.NG1.GeneralInfo.tel" name="Puhelinnumero" ng-model="wizard.model.person.contact.telephone" ng-required="true" sxy-mobile-phone></salaxy-input>
  </div>
  <!--suomi.fi div class="col-md-6">
    <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step1.signerature.title"></legend>
    <p>Yrityksen edustajan tulee olla henkilö, jolla on yrityksen nimenkirjoitusoikeus. Yrityksen edustaja allekirjoittaa Palkanmaksun valtakirjan omilla pankkitunnuksillaan.</p>
    <salaxy-input label="SALAXY.NG1.GeneralInfo.ssNumberAlt" name="Henkilotunnus" sxy-personal-id-fi placeholder="PPKKVV-NNNX" ng-model="wizard.model.signature.personalId" ng-required="true"></salaxy-input>
    <p>Valitse seuraavaksi Suomi.fi-palvelussa se henkilön edustama yritys, jolle haluat luoda tilin Palkkaus.fi-palveluun.</p>
  </div suomi.fi-->
  <div class="col-md-6">
    <legend sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step1.signerature.title"></legend>
    <p sxy-text="SALAXY.NG1.CompanyOnboardingComponent.step1.signerature.desc"></p>
    <div class="form-horizontal">
      <salaxy-input label="SALAXY.NG1.GeneralInfo.ssNumberAlt" name="Henkilotunnus" sxy-personal-id-fi placeholder="PPKKVV-NNNX" ng-model="wizard.model.signature.personalId"
        ng-required="true"></salaxy-input>
    </div>
    <div class="alert alert-danger">
      Tarkista yrityksen edustajan nimenkirjoitusoikeus ennen palkanmaksun aloittamista.
    </div>
    <div class="form-horizontal">
      <salaxy-input label="SALAXY.NG1.GeneralInfo.vat" name="Ytunnus" ng-model="wizard.model.company.businessId" sxy-company-id-fi ng-required="true"></salaxy-input>
    </div>
  </div>
</form>