﻿<button ng-click="$close()" class="btn btn-default" sxy-text="SALAXY.NG1.UiTerms.backToFront"></button>
<div salaxy-loader class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<!--suomi.fi button ng-disabled="!wizard.canGoNext" ng-click="wizard.goToCompanySelection()" class="btn btn-primary" sxy-text="Siirry Suomi.fi-palveluun"></button  suomi.fi-->
<button ng-disabled="!wizard.canGoNext" ng-click="wizard.goToCompanySelection()" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>