<div ng-class="$ctrl.getCssClass()">
  <table class="table">
    <thead>
      <tr>
        <th>Kuvaus</th>
        <th>Kategoriat</th>
        <th sxy-orderby="logicalDate">Alku</th>
        <th>Kesto</th>
        <th>
          <button type="button" ng-click="$crud.showDetailsDialog('new')" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.addNew"></button>
          <button type="button" ng-click="$ctrl.reload()" class="btn btn-default">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.items">
        <td>{{ row.shortText }}</td>
        <td><small ng-repeat="cat in row.flags">{{ cat + ($last ? "" : ", ") }}</small></td>
        <td>{{ $crud.helper.format(row.data, "start") }}</td>
        <td>{{ $crud.helper.format(row.data, "duration") }}</td>
        <td>
          <button type="button" ng-click="$crud.showDetailsDialog(row.id)" class="btn btn-default" sxy-text="SALAXY.UI_TERMS.edit"></button>
          <button ng-click="$crud.delete(row)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <salaxy-odata-footer></salaxy-odata-footer>
</div>