<div ng-init="$ctrl.currentTab = 'list'">
  <uib-tabset active="$ctrl.currentTab">
    <uib-tab index="'options'" heading="Haku">
      <ng-include ng-if="$ctrl.currentTab == 'options'" src="'/ng1/calendar-occurences/Occurences-options.html'"></ng-include>
    </uib-tab>
    <uib-tab index="'list'" heading="Lista">
      <ng-include ng-if="$ctrl.currentTab == 'list'" src="'/ng1/calendar-occurences/Occurences-list.html'"></ng-include>
    </uib-tab>
    <uib-tab index="'daily'" heading="Päivänäkymä">
      <ng-include ng-if="$ctrl.currentTab == 'daily'" src="'/ng1/calendar-occurences/Occurences-daily.html'"></ng-include>
    </uib-tab>
    <uib-tab index="'week'" heading="Viikkonäkymä">
      <ng-include ng-if="$ctrl.currentTab == 'week'" src="'/ng1/calendar-occurences/Occurences-week.html'"></ng-include>
    </uib-tab>
  </uib-tabset>  
</div>