<div class="modal-header">
  <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" sxy-text="SALAXY.NG1.WorkerWizardComponent.wizard.title"></h2>
</div>
<div class="modal-body salaxy-wizard">
  <div class="visible-xs visible-sm">
    <h4><span sxy-text="SALAXY.NG1.WorkerWizardComponent.wizard.step"></span> {{$ctrl.currentStep.number}}/{{$ctrl.steps.length}}</h4>
  </div>
  <div class="row wizard-icon-row hidden-sm hidden-xs">
    <div ng-class="$ctrl.style.colWidthClass" ng-repeat="step in $ctrl.steps">
      <span ng-show="step.disabled && !step.active" class="salaxy-avatar disabled">
        <i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i>
      </span>
      <a ng-hide="step.disabled && !step.active" href="" ng-click="">
        <span class="salaxy-avatar"><i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i></span>
      </a>
    </div>
  </div>
  <div class="row wizard-text-row hidden-sm hidden-xs">
    <div ng-class="$ctrl.style.colWidthClass" ng-repeat="step in $ctrl.steps">
      <span>{{ step.title | sxyTranslate}}</span>
    </div>
  </div>
  <div class="worker-wizard-content">
    <ng-include src="$ctrl.currentStep.view"></ng-include>
  </div>
</div>
<div class="modal-footer">
  <button ng-if="$ctrl.step &lt; 2" ng-click="$close('cancel')" class="btn pull-left btn-default" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button ng-if="$ctrl.step >= 2" ng-click="$ctrl.goPrevious()" ng-disabled="!$ctrl.canGoPrevious" class="btn pull-left btn-default" sxy-text="SALAXY.UI_TERMS.previous"></button>
  <button ng-if="$ctrl.step &lt; $ctrl.steps.length" ng-click="$ctrl.goNext()" ng-disabled="!$ctrl.canGoNext" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>
  <button ng-if="$ctrl.step == $ctrl.steps.length" ng-click="$ctrl.saveAndClose($close)" class="btn btn-primary" ng-disabled="!$ctrl.formDataValidity" sxy-text="SALAXY.NG1.WorkerWizardComponent.finishButtons.ready"></button>
</div>
