<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid  }}</span>

  <div class="row" ng-if="$crud.current.isReadOnly">
    <div class="col-xs-12 col-sm-6 margin-top-sm margin-xs">
      <fieldset>
        <div class="col-xs-3 col-sm-2 col-xxs-3">
          <salaxy-avatar style="font-size: 45px" avatar="$crud.current.avatar"></salaxy-avatar>
        </div>
        <div class="col-xs-9 col-sm-10 col-xxs-9">
          <h2 style="margin-top: 0;">{{ $crud.current.avatar.displayName }}</h2>
        </div>
      </fieldset>
    </div>
    <div class="col-xs-12">
      <div sxy-html="SALAXY.NG1.WorkerDetailsComponent.readOnlyUser.html"></div>
      <div class="table-responsive">
        <table>
          <tr>
            <td sxy-text="SALAXY.NG1.WorkerDetailsComponent.email" ps=":"></td>
            <td><a ng-href="mailto:{{ $crud.current.contact.email }}">{{ $crud.current.contact.email }}</a></td>
          </tr>
          <tr>
            <td sxy-text="SALAXY.NG1.WorkerDetailsComponent.tel" ps=":"></td>
            <td>{{ $crud.current.contact.telephone }}</td>
          </tr>
          <tr>
            <td sxy-text="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" ps=":"></td>
            <td>{{ $crud.current.ibanNumber }}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <div class="row" ng-if="!$crud.current.isReadOnly">
    <div class="col-xs-12 col-sm-6 margin-top-sm margin-xs">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.WorkerDetailsComponent.details"></legend>
        <salaxy-input name="firstName" label="SALAXY.NG1.WorkerDetailsComponent.firstName" ng-required="true" ng-model="$crud.current.avatar.firstName"></salaxy-input>
        <salaxy-input name="lastName" label="SALAXY.NG1.WorkerDetailsComponent.lastName" ng-required="true" ng-model="$crud.current.avatar.lastName"></salaxy-input>
        <salaxy-input name="email" label="SALAXY.NG1.WorkerDetailsComponent.email" sxy-email ng-model="$crud.current.contact.email"></salaxy-input>
        <salaxy-input name="telephone" label="SALAXY.NG1.WorkerDetailsComponent.tel" sxy-mobile-phone ng-model="$crud.current.contact.telephone"></salaxy-input>
      </fieldset>
    </div>
    <div class="col-xs-12 col-sm-6 margin-top-sm margin-xs">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.WorkerDetailsComponent.paymentDetails">
        </legend>
        <salaxy-input name="officialPersonId" label="SALAXY.NG1.WorkerDetailsComponent.ssNumber" sxy-personal-id-fi ng-required="true" ng-model="$crud.current.officialPersonId">
        </salaxy-input>
        <salaxy-input name="ibanNumber" label="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" sxy-iban ng-required="true" ng-model="$crud.current.ibanNumber"></salaxy-input>
      </fieldset>
      <fieldset ng-if="$ctrl.isOtherIdentifier($crud.current.officialPersonId)">

        <legend>Osoite</legend>
        <p class="small">Työntekijällä on keinohenkilötunnus, jonka ilmoittaminen tulorekisteriin edellyttää työntekijän osoitetietoja.</p>
        <salaxy-input name="street" label="Katuosoite" ng-required="true" ng-model="$crud.current.contact.street">
        </salaxy-input>
        <salaxy-input name="postalCode" label="Postinumero" ng-required="true" ng-model="$crud.current.contact.postalCode">
        </salaxy-input>
        <salaxy-input name="city" label="Paikkakunta" ng-required="true" ng-model="$crud.current.contact.city">
        </salaxy-input>
      </fieldset>
      <fieldset salaxy-if-role="test">
        <legend>Vain TESTI</legend>
        <p>
          <strong>Vain testiympäristö:</strong> Täytä kentät nimen perusteella (syötä ensin etu- ja sukunimi).
        </p>
        <div class="text-right">
          <button ng-disabled="!$crud.current.avatar.firstName || !$crud.current.avatar.lastName" ng-click="$ctrl.populateWithTestData()" class="btn btn-danger">Täytä tyhjät
            kentät</button>
        </div>
      </fieldset>
    </div>
  </div>
</form>