<div class="col worker-wizard-taxcard">
  <span class="hidden">{{ $ctrl.formDataValidity = $ctrl.taxcardController.isFormValid  }}</span>
  <div ng-if="$ctrl.taxCardExists.sharedExists" class="alert alert-warning">
    <h4>Työntekijä on jakanut verokortin</h4>
    <div class="pull-right">
      <button class="btn btn-danger" type="button" ng-click="$ctrl.approveShared('reject')">Hylkää</button>
      <button class="btn btn-primary" type="button" ng-click="$ctrl.approveShared('approve')">Hyväksy</button>
    </div>
    <p>
      Työntekijä henkilötunnuksella {{ $ctrl.taxCardExists.personalId }} on jo rekisteröitynyt
      Palkkaus.fi-palveluun ja hän on myös jakanut verokortin:
      {{ "TaxcardKind." + $ctrl.taxCardExists.kind | sxyEnum }},
      voimassa: {{ $ctrl.taxCardExists.validity | sxyDateRange }}.
      Verokortti sisältää henkilötietoja, joita saat katsoa vain, jos aiot todella maksaa palkkaa ko. henkilölle.
      Tieto verokortin avaamisesta välittyy työntekijälle.
      <br />
      <strong>Haluatko ottaa verokortin käyttöön?</strong>
    </p>
  </div>
  <div ng-if="$ctrl.taxCardExists.ownedExists" class="alert alert-primary">
    <h4>Verokortti on jo syötetty</h4>
    <p>
      Työntekijälle henkilötunnuksella {{ $ctrl.taxCardExists.personalId }} on jo syötetty verokortti.
      Voit muokata sitä myöhemmin työntekijän tiedoissa.
    </p>
  </div>
  <salaxy-taxcard-details model="$ctrl.taxcard" ng-ref="$ctrl.taxcardController"
    personal-id="$crud.current.officialPersonId" hide-buttons="true"></salaxy-taxcard-details>
</div>