<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>
  <div class="row" sxy-if-role="person">
    <div class="col-xs-12 col-sm-6 margin-top-sm margin-xs">
      <legend sxy-text="SALAXY.NG1.WorkerWizardComponent.employment.group.legend"></legend>
      <salaxy-form-group label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.group.title' | sxyTranslate }}" name="contract">
        <salaxy-datepicker-popup name="startDate" label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.group.startDate' | sxyTranslate }}" ng-model="$crud.current.employment.startDate"></salaxy-datepicker-popup>
        <salaxy-datepicker-popup disabled="!$crud.current.employment.isFixedTerm" name="endDate" label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.group.endDate' | sxyTranslate }}" ng-model="$crud.current.employment.endDate"></salaxy-datepicker-popup>
        <salaxy-form-group label-type="plain" label="" name="isFixedTerm">
          <input type="checkbox" ng-model="$crud.current.employment.isFixedTerm" name="isFixedTerm" id="isFixedTerm" ng-value="true"> &nbsp;
          <label for="isFixedTerm">{{'SALAXY.NG1.WorkerWizardComponent.employment.isFixedTerm' | sxyTranslate}}</label>
        </salaxy-form-group>
      </salaxy-form-group>
    </div>
  </div>
  <div class="row" sxy-if-role="company">
    <div class="col-xs-12 col-sm-6 margin-top-sm margin-xs">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.WorkerWizardComponent.workerType.title"></legend>
        <salaxy-input-enum ng-change="$ctrl.setProposedValues()" ng-required="true" hidden-options="undefined" name="type" ng-model="$crud.current.employment.type" enum="EmploymentRelationType" type="radio" label-type="plain" options="{
                  entrepreneur:('SALAXY.ENUM.EmploymentRelationType.entrepreneurNew.label' | sxyTranslate),
                  farmer:('SALAXY.ENUM.EmploymentRelationType.farmer.label' | sxyTranslate), 
                  monthlySalary:('SALAXY.ENUM.EmploymentRelationType.monthlySalary.label' | sxyTranslate),
                  hourlySalary:('SALAXY.ENUM.EmploymentRelationType.hourlySalary.label' | sxyTranslate),
                  salary:('SALAXY.ENUM.EmploymentRelationType.salary.label' | sxyTranslate),
                  employedByStateEmploymentFund:('SALAXY.ENUM.EmploymentRelationType.employedByStateEmploymentFund.label' | sxyTranslate),
                  compensation:('SALAXY.ENUM.EmploymentRelationType.compensation.label' | sxyTranslate),
                  boardMember:('SALAXY.ENUM.EmploymentRelationType.boardMember.label' | sxyTranslate),
                  athlete:('SALAXY.ENUM.EmploymentRelationType.athlete.label' | sxyTranslate),
                  performingArtist:('SALAXY.ENUM.EmploymentRelationType.performingArtist.label' | sxyTranslate),
                  keyEmployee:('SALAXY.ENUM.EmploymentRelationType.keyEmployee.label' | sxyTranslate),
                }">
        </salaxy-input-enum>
        <p></p>
        <div ng-if="( $crud.current.employment.type == 'entrepreneur' ||  $crud.current.employment.type == 'farmer')" ng-controller="SessionController as sessionCtrl">
          <div class="alert alert-danger" ng-if="sessionCtrl.session.currentAccount.companyType =='fiTm'" sxy-text="SALAXY.NG1.WorkerWizardComponent.workerType.entrepreneurTmiWarning"></div>
          <div class="alert alert-danger" ng-if="sessionCtrl.session.currentAccount.companyType =='fiRy'" sxy-text="SALAXY.NG1.WorkerWizardComponent.workerType.entrepreneurRyWarning"></div>
          <div class="alert alert-danger" ng-if="sessionCtrl.session.currentAccount.entityType !='company'" sxy-text="SALAXY.NG1.WorkerWizardComponent.workerType.entrepreneurPrivateWarning"></div>
        </div>
      </fieldset>
      <fieldset ng-if="$crud.current.employment.type == 'compensation'">
        <legend sxy-text="SALAXY.ENUM.EmploymentRelationType.compensation.label"></legend>
        <p>
          <span sxy-text="SALAXY.NG1.WorkerWizardComponent.workerType.compensationDescription"></span><br>
          <a href="{{'SALAXY.NG1.WorkerWizardComponent.workerType.compensationLink' | sxyTranslate}}" target="_blank" sxy-text="SALAXY.NG1.WorkerWizardComponent.workerType.compensationCta"></a>
        </p>
      </fieldset>
    </div>
    <div class="col-xs-12 col-sm-6 margin-top-sm margin-xs" ng-if="$crud.current.employment.type">
      <fieldset>
        <legend sxy-text="SALAXY.NG1.WorkerWizardComponent.employment.title"></legend>
        <salaxy-input-enum type="select" name="pensionCalculation" disable-cache="true" options="$crud.getPensionCalculationOptions($crud.current.employment.type)" label="SALAXY.NG1.WorkerWizardComponent.employment.pension.title" ng-model="$crud.current.employment.pensionCalculation"></salaxy-input-enum>
        <salaxy-input ng-model="$crud.current.employment.work.description" label="SALAXY.NG1.WorkerWizardComponent.employment.work.description" name="description"></salaxy-input>
        <salaxy-input-occupation-type name="occupationType" ng-model="$crud.current.employment.work.occupationCode" label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.work.occupationCode' | sxyTranslate }}"></salaxy-input-occupation-type>
        <salaxy-form-group label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.group.title' | sxyTranslate }}" name="contract">
          <salaxy-datepicker-popup name="startDate" label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.group.startDate' | sxyTranslate }}" ng-model="$crud.current.employment.startDate"></salaxy-datepicker-popup>
          <salaxy-datepicker-popup disabled="!$crud.current.employment.isFixedTerm" name="endDate" label="{{ 'SALAXY.NG1.WorkerWizardComponent.employment.group.endDate' | sxyTranslate }}" ng-model="$crud.current.employment.endDate"></salaxy-datepicker-popup>
          <salaxy-form-group label-type="plain" label="" name="isFixedTerm">
            <input type="checkbox" ng-model="$crud.current.employment.isFixedTerm" name="isFixedTerm" id="isFixedTerm" ng-value="true"> &nbsp;
            <label for="isFixedTerm">{{'SALAXY.NG1.WorkerWizardComponent.employment.isFixedTerm' | sxyTranslate}}</label>
          </salaxy-form-group>
        </salaxy-form-group>
      </fieldset>
    </div>
  </div>
</form>