<form name="currentForm" class="form-horizontal">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid  }}</span>
  <div class="row">
    <div class="col-xs-12 margin-top-sm margin-xs">
      <!-- NOTE: this page is currently disabled from Raksa. Only available for PRO. -->
      <salaxy-calc-household-usecase sxy-if-role="person" ng-ref="$ctrl.usecaseController" worker="$crud.current"></salaxy-calc-household-usecase>
      <fieldset sxy-if-role="company">
        <legend sxy-text="SALAXY.NG1.WorkerWizardComponent.employment.work.salaryDefaults.title"></legend>
        <div sxy-html="SALAXY.NG1.WorkerWizardComponent.employment.work.salaryDefaults.info.md"></div>
        <div class="table-responsive">
          <salaxy-calc-rows-2019-editor rows="$crud.current.employment.work.salaryDefaults" title="{{ 'SALAXY.NG1.WorkerDetailsComponent.defaultCalcRows' | sxyTranslate }}" condensed="true" mode="edit"></salaxy-calc-rows-2019-editor>
        </div>
      </fieldset>
    </div>
  </div>
</form>