﻿<form name="contractForm">
  <span class="hidden">{{ wizard.formDataValidity = contractForm.$valid}}</span>

  <h3>Palvelusopimus ja valtuutus</h3>
  <p>
    Rakennusliitto huolehtii Palkkamyllyn asiakaspalvelusta ja yhteyksistä viranomaisiin. Jotta voimme hoitaa puolestasi palkanmaksuun liittyviä maksuja ja velvotteita, sinun täytyy allekirjoittaa <a ng-href="{{ wizard.getPdfPreviewAddress() }}" target="_blank">oheinen valtakirja</a>.
    Valtakirja pitää allekirjoittaa vain kerran.

  </p>
  <p>
    <strong>HUOM:</strong> Palvelun teknisenä toteuttajana ja tietojen säilyttäjänä toimii Suomen Palkanlaskenta Oy /
    <a href="https://www.palkkaus.fi" target="_blank">Palkkaus.fi</a>. Jos sinulla on jo tili Palkkaus.fi-palvelussa ja otat käyttöön Palkkamylly-palvelun käyttöön, aikaisemmat palkanmaksusi näkyvät myös Palkkamyllyn kautta, jolloin Rakennusliiton asiakaspalvelulla
    saattaa olla pääsy niihin asiakaspalvelutilanteessa.
  </p>
  <p>
    Kun olet kirjoittanut henkilötunnuksesi, valinnut pankkisi ja painat Allekirjoita-nappia, siirryt pankkisi verkkopalveluun, jossa varsinainen tunnistautuminen tapahtuu. Sen jälkeen palaat Palkkamylly-palveluun ja olet valmis maksamaan palkkaa.
  </p>
  <div class="row" ng-controller="SignatureController as sign">
    <div class="col-md-6">
      <fieldset>
        <legend>Allekirjoita henkilötunnuksellasi</legend>
        <div style="margin-bottom:15px;">
          <salaxy-input name="personalId" label-type="plain" type="text" style="width:150px" placeholder="PPKKVV-NNNX" ng-model="wizard.model.signature.personalId" require="true" sxy-personal-id-fi></salaxy-input>
        </div>
      </fieldset>
      <fieldset>
        <legend>Valitse verkkopankkisi</legend>
        <div ng-if="wizard.model.accountType == 'company'">
          <p>
            Et voi käyttää yrityksen tai yhdistyksen verkkopankkitunnuksia valtakirjan allekirjoittamiseen. Sinun täytyy käyttää henkilökohtaisia verkkopankkitunnuksiasi
          </p>
        </div>
        <div id="bankButtonRow">
          <div class="btn-group" id="mostUsedBanks">
            <label ng-model="wizard.model.signature.method" uib-btn-radio="signMethod.value" ng-repeat="signMethod in sign.methods | filter: {isPopular:true}" class="btn btn-default" aria-label="{{signMethod.name}}">
                        <img ng-src="{{signMethod.img}}" style="max-height: 20px; max-width: 85px" />
                            {{signMethod.title}}
                    </label>
          </div>
          <div class="btn-group group-dropdown" uib-dropdown>
            <a class="btn btn-default dropdown-toggle" id="other-banks-button" uib-dropdown-toggle ng-class="(wizard.model.signature.method != null && sign.getMethod(wizard.model.signature.method).isPopular == false) ? 'bank-chosen': ''">

              <span ng-if="wizard.model.signature.method == null || sign.getMethod(wizard.model.signature.method).isPopular == true">Muut verkkopankit</span>
              <span ng-if="wizard.model.signature.method != null && sign.getMethod(wizard.model.signature.method).isPopular == false">
                                <img ng-src="{{ sign.getMethod(wizard.model.signature.method).img }}"
                                     style="max-height: 20px; max-width: 85px"/> {{sign.getMethod(wizard.model.signature.method).title}}
                            </span> &nbsp; <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="other-banks-button">
              <li ng-repeat="signMethod in sign.methods | filter: {isPopular:false}" role="menuitem" ng-class="wizard.model.signature.method == signMethod.value ? 'active' : ''">
                <a ng-click="wizard.model.signature.method = signMethod.value">
                  <img ng-src="{{signMethod.img}}" style="max-height: 20px; max-width: 85px" /> {{signMethod.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </fieldset>
      <p>
        Allekirjoittamalla valtakirjan hyväksyt samalla
        <a href="https://www.palkkaus.fi/kayttoehdot/" target="_blank">Palkkaus.fi-palvelun käyttöehdot</a>.
      </p>
    </div>

    <div class="col-md-6 hidden-xs">
      <fieldset>
        <legend>Valtakirjan esikatselu</legend>
        <small><a ng-href="{{ wizard.getPdfPreviewAddress() }}" target="_blank">Lataa tästä, jos et näe esikatselua</a></small>

        <iframe ng-src="{{ wizard.getPdfPreviewAddress() }}" style="width: 100%; height: 300px"></iframe>
      </fieldset>
    </div>
    <div class="col-md-6 visible-xs">
      <a ng-href="{{ wizard.getPdfPreviewAddress() }}" target="_blank">Valtakirjan esikatselu</a>
    </div>

  </div>
</form>