﻿<form name="householdForm" class="form-horizontal">
  <!-- Hidden variable formDataValidity to use in controller -->
  <span class="hidden">{{ wizard.formDataValidity = householdForm.$valid}}</span>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend> Yhteystiedot <i class="fa fa-info-circle" popover-title="Miksi kysymme osoitetietojasi?" uib-popover="Lähetämme puolestasi tietoja ja erilaisia lomakkeita eri viranomaisille. Jotkut näistä viranomaisista vaativat joissain lomakkeissa osoitetiedot pakollisina tietoina."
            popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i> </legend>
        <div class="form-horizontal">
          <salaxy-input label="Katuosoite" name="Katuosoite" ng-model="wizard.model.person.contact.street" require="true"></salaxy-input>
          <salaxy-input label="Postinumero" name="Postinumero" ng-model="wizard.model.person.contact.postalCode" require="true" sxy-postal-code-fi></salaxy-input>
          <salaxy-input label="Postitoimipaikka" name="Postitoimipaikka" ng-model="wizard.model.person.contact.city" require="true"></salaxy-input>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Palkanmaksuun tarvittavat tiedot</legend>
        <p>
          Osoitetietojasi työnantajana tarvitaan tulorekisteri-ilmoitukseen, näin esim. työttömyysvakuutuslaskujen lähettäminen sinulle onnistuu.
        </p>
      </fieldset>
    </div>
  </div>
</form>