<div ng-controller="SessionController as sessionCtrl">
  <div ng-controller="HouseholdOnboardingController as wizard">
    <div class="modal-header">
      <h2 class="modal-title">Palkkamylly / Käyttöönotto</h2>
      <!--
        TODO: Consider adding back with skinning. But perhaps not needed?
        <img src="https://cdn.salaxy.com/img/palkkaus/logo/palkkaus-www-logo-white-border.png" class="img-responsive hidden-xs modal-logo" />
      -->
    </div>
    <div class="modal-body salaxy-wizard">

      <div class="visible-xs visible-sm">

        <h4>Vaihe {{wizard.currentStep.number}}/{{wizard.steps.length}}</h4>

      </div>
      <div class="row wizard-icon-row hidden-sm hidden-xs">
        <div ng-class="wizard.style.colWidthClass" ng-repeat="step in wizard.steps">
          <span ng-show="step.disabled && !step.active" class="salaxy-avatar disabled">
                                        <i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i>
                                    </span>
          <a ng-hide="step.disabled && !step.active" href="" ng-click="">
            <span class="salaxy-avatar">
                                            <i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i>
                                        </span>
          </a>
        </div>
      </div>
      <div class="row wizard-text-row hidden-sm hidden-xs">
        <div ng-class="wizard.style.colWidthClass" ng-repeat="step in wizard.steps">
          <span>{{ step.title }}</span>
        </div>
      </div>

      <ng-include src="wizard.currentStep.view"></ng-include>


    </div>
    <div class="modal-footer">
      <ng-include style="display: flex; flex-direction: row;justify-content: space-between; align-items: center;" src="wizard.currentStep.buttonsView"></ng-include>
    </div>
  </div>
</div>