﻿<form name="phoneNumberForm">
    <!-- Hidden ariable formDataValidity to use in controller -->
    <span class="hidden">{{ wizard.formDataValidity = phoneNumberForm.$valid}}</span>

    <br/>
    <p>{{wizard.currentStep.intro}}</p>
    <br/>

    <div salaxy-if-role="test">
        <div class="alert alert-danger">
            <b>Testiympäristö</b><br/> Annetut puhelinnumerot vahvistetaan tekstiviestillä myös testiympäristössä. Käytä testaamisessa aina oikeita hallussasi olevia numeroita. Jos haluat ohittaa vahvistuksen, valitse ohita puhelinnumeron tarkistus.
            <div class="form-horizontal">

                <div class="checkbox">
                    <label><input type="checkbox" ng-model="wizard.skipSmsVerification"><b>Ohita puhelinnumeron tarkistus</b></label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <salaxy-input label="Puhelinnumero" name="Puhelinnumero" ng-model="wizard.model.person.contact.telephone" ng-required="true" sxy-mobile-phone></salaxy-input>
    </div>
</form>