<div class="modal-header">
  <button type="button" class="close" ng-click="$close(null)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title">Valitse tili</h2>
</div>
<div class="modal-body" id="modal-body">
  <div class="table-responsive" style="max-height: 40vh;">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>
            Tilinumero
          </th>
          <th>
            Selite
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in $ctrl.data.accounts">
          <td>
            {{account.account}}
          </td>
          <td>
            {{account.text}}
          </td>
          <td class="right">
            <button ng-disabled="account.isSelected" title="Valitse" class="btn btn-success" type="button" ng-click="$close(account)">
              Valitse
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-right" ng-click="$close(null)" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>