<form name="templateForm" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Raporttipohja</h2>
  </div>
  <div class="modal-body">
    <salaxy-input-boolean ng-if="$ctrl.current.isEditable" name="isNew" label="Uusi/muokkaa" ng-model="$ctrl.current.isNew" type="radio" 
    label-true="Luo uusi raporttipohja nykyisestä raportista" label-false="Muokkaa nykyistä raporttipohjaa" required>
    </salaxy-input-boolean>
    <salaxy-input name="label" label="Raporttipohjan nimi" ng-model="$ctrl.current.label" required></salaxy-input>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel" ></button>
    <button type="button" ng-if="!$ctrl.current.isNew" class="btn btn-danger" ng-click="$close('delete')" sxy-text="SALAXY.NG1.UiTerms.delete" ></button>
    <button type="submit" class="btn btn-primary" ng-disabled="!templateForm.$valid" ng-click="$close('ok')" sxy-text="SALAXY.NG1.UiTerms.save"></button>
  </div>
</form>