<form name="periodForm" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Valitse kausi</h2>
  </div>
  <div class="modal-body">
    <salaxy-input-enum name="period" label="Kausi" options="{year: 'Vuosi', month: 'Kuukausi', custom: 'Muu aikaväli' }" ng-model="$ctrl.current.periodType" type="radio" required>
    </salaxy-input-enum>
    <salaxy-datepicker-popup name="refDateMonth" placeholder="kuukautta" ng-if="$ctrl.current.periodType == 'month'" format="MMMM"
      datepicker-options="{ datepickerMode : 'month', minMode: 'month' }" ng-model="$ctrl.current.refDate" label="Valitse kuukausi" required></salaxy-datepicker-popup>
    <salaxy-datepicker-popup name="refDateQuarter" placeholder="kuukautta" ng-if="$ctrl.current.periodType == 'quarter'" format="MMMM"
      datepicker-options="{ datepickerMode : 'month', minMode: 'month' }" ng-model="$ctrl.current.refDate" label="Valitse neljänneksellä oleva kuukausi" required>
    </salaxy-datepicker-popup>
    <salaxy-datepicker-popup name="refDateYear" placeholder="vuosi" ng-if="$ctrl.current.periodType == 'year'" format="yyyy"
      datepicker-options="{ datepickerMode : 'year', minMode: 'year' }" ng-model="$ctrl.current.refDate" label="Valitse vuosi" required></salaxy-datepicker-popup>
    <salaxy-datepicker-popup name="refDateCustom" ng-if="$ctrl.current.periodType == 'custom'" ng-model="$ctrl.current.refDate" label="Valitse kauden aloituspäivä" required>
    </salaxy-datepicker-popup>
    <salaxy-datepicker-popup name="endDateCustom" ng-if="$ctrl.current.periodType == 'custom'" ng-model="$ctrl.current.endDate" label="Valitse kauden päättymispäivä">
    </salaxy-datepicker-popup>

  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel" ></button>
    <button type="submit" class="btn btn-primary" ng-disabled="!periodForm.$valid" ng-click="$close('ok')" sxy-text="SALAXY.NG1.UiTerms.save"></button>
  </div>
</form>