<div class="modal-header">
  <button type="button" class="close" ng-click="$close(null)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title">Valitse rivityyppi ja -koodi</h2>
</div>
<div class="modal-body" id="modal-body">
  <form name="entryCodesForm" class="form-horizontal">
    <div class="row">
      <div class="col-xs-12">
        <salaxy-input-enum label="Rivityyppi"  name="EntryCodeGroup" ng-model="$ctrl.data.row.entryCodeGroup" options="$ctrl.data.entryCodeGroups" type="typeahead"></salaxy-input-enum>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <salaxy-input-enum label="Tulolaji" ng-if="$ctrl.data.row.entryCodeGroup == 'incomeType'" name="IncomeType"  ng-model="$ctrl.data.row.entryCode"  options="$ctrl.data.incomeTypes" type="typeahead" ></salaxy-input-enum>
        <salaxy-input-enum label="Laskettu erä" ng-if="$ctrl.data.row.entryCodeGroup == 'totalType'" name="TotalType"  ng-model="$ctrl.data.row.entryCode"  options="$ctrl.data.totalTypes" type="typeahead" ></salaxy-input-enum>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-right" ng-click="$close(null)" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button type="button" class="btn btn-primary pull-right" ng-click="$close($ctrl.data.row)" sxy-text="SALAXY.UI_TERMS.save"></button>
</div>