<div class="modal-header">
  <button type="button" class="close" ng-click="$close(null)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title">Valitse valintaliput</h2>
</div>
<div class="modal-body" id="modal-body">
  <div class="table-responsive" style="max-height: 40vh;">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>
            Lippu
          </th>
          <th>
            Selite
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="flag in $ctrl.data.flags">
          <td>
            {{flag.text}}
          </td>
          <td>
            {{flag.description}}
          </td>
          <td class="right">
            <button  title="Valitse" class="btn" ng-class="flag.isSelected ? 'btn-danger' : 'btn-success'" type="button" ng-click="flag.isSelected = !flag.isSelected">
              <span ng-if="!flag.isSelected">Valitse</span>
              <span ng-if="flag.isSelected">Poista valinta</span>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-right" ng-click="$close(null)" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button type="button" class="btn btn-primary pull-right" ng-click="$close($ctrl.data.flags)" sxy-text="SALAXY.UI_TERMS.save"></button>
</div>