<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title">Tulolajieditori</h2>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-xs-6 form-horizontal">
      <salaxy-input-number name="Tulolaji" ng-model="$ctrl.data.row.transactionBasic.transactionCode"></salaxy-input-number>
      <!--
      <salaxy-input-enum name="Tulolajilista" ng-model="$ctrl.data.row.transactionBasic.transactionCode"
        options="$ctrl.data.options" type="typeahead"></salaxy-input-enum>
      -->
      <salaxy-input-number name="Summa" ng-model="$ctrl.data.row.transactionBasic.amount"></salaxy-input-number>
      
      <salaxy-form-group name="carBenefit" label="Autoedun tyyppi" label-type="horizontal">
        <select class="form-control" ng-model="$ctrl.data.carBenefit" ng-model-options="{ getterSetter: true }">
          <option value="">Ei valintaa</option>
          <option value="limitedCarBenefit">Käyttöetu</option>
          <option value="fullCarBenefit">Vapaa autoetu</option>
        </select>
      </salaxy-form-group>
      
      <salaxy-input-enum ng-if="$ctrl.data.row.carBenefit" label="Autoedun ikävalinta" name="ageGroupCode" ng-model="$ctrl.data.row.carBenefit.ageGroupCode" options="{ '': 'Ei valintaa', 'a': 'A', 'b': 'B', 'c': 'C', 'u': 'U' }" type="select"></salaxy-input-enum>
            
      <salaxy-form-group name="kilometers" label="Kilometrit" label-type="horizontal">
        <label>
          {{ $ctrl.data.row.carBenefit.kilometers == null ? "-" : $ctrl.data.row.carBenefit.kilometers }}
        </label>
      </salaxy-form-group>
      
      <salaxy-form-group name="mealBenefit" label="Ravintoetu vastaa verotusarvoa" label-type="horizontal">
        <select class="form-control" ng-model="$ctrl.data.mealBenefit" ng-model-options="{ getterSetter: true }">
          <option value="">Ei valintaa</option>
          <option ng-value="true">Kyllä</option>
          <option ng-value="false">Ei</option>
        </select>
      </salaxy-form-group>

      <div class="form-group" ng-if="!$ctrl.data.row.dailyAllowance || $ctrl.data.row.dailyAllowance.length != 1">
        <label for="addDailyAllowance" class="col-sm-4 control-label">
              <span>Päivärahan tyyppi</span>
          </label>
        <div class="col-sm-8">
          <button type="button" class="btn btn-block btn-success" ng-click="$ctrl.data.row.dailyAllowance = ['fullDailyAllowance']"><i class="fa fa-plus"></i> Lisää</button>
        </div>
      </div>

      <div ng-if="$ctrl.data.row.dailyAllowance && $ctrl.data.row.dailyAllowance.length == 1">
        <salaxy-input-enum label="Päivärahan tyyppi" name="dailyAllowance" ng-model="$ctrl.data.row.dailyAllowance[0]" options="{ '': 'Ei valintaa', 'partialDailyAllowance': 'Osapäiväraha', 'fullDailyAllowance': 'Kokopäiväraha', 'internationalDailyAllowance': 'Ulkomaan päiväraha' }"
          type="select"></salaxy-input-enum>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <button type="button" class="btn btn-block btn-danger" ng-click="$ctrl.data.row.dailyAllowance = null"><i class="fa fa-trash"></i> Poista</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-6">
      <div style="width: 100%; overflow: auto">
        <pre>{{ $ctrl.data.row | json }}</pre>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>