<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 sxy-text="Valitse poissaolot"></h1>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>{{ "SALAXY.NG1.AbsencePeriodsComponent.headerAbsence" | sxyTranslate }}</th>
            <th class="right">Koko poissaolo</th>
            <th class="right">
              Palkattomat palkkakaudelle<br /> Lomakertymää vähentää
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in $ctrl.current.periods">
            <td>
              <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: (row.period.daysCount + 'pv'), entityType: 'company' }">
              </salaxy-avatar>
              <strong>{{ "AbsenceCauseCode." + row.causeCode | sxyEnum }}</strong><br />
              <div class="pull-left" style="padding: 0px;">
                {{ row.isPaid ? ('SALAXY.NG1.AbsencePeriodsComponent.isPaid' | sxyTranslate) : SALAXY.NG1.AbsencePeriodsComponent.notPaid }}
                <span ng-if="row.isPaid != row.isHolidayAccrual"> {{ row.isHolidayAccrual ? ('SALAXY.NG1.AbsencePeriodsComponent.isAccrual' | sxyTranslate) :
                  ('SALAXY.NG1.AbsencePeriodsComponent.notAccrual' | sxyTranslate) }}</span>
              </div>
              <div class="truncate" style="max-width: 250px; padding: 0px;">
                &nbsp;{{ row.notes }}
              </div>
            </td>
            <td class="right">
              <strong>{{ row.period.daysCount | sxyCount : "day" }}</strong><br /> {{ row.period.start | date : 'dd.MM.' }}-{{ row.period.end | date : 'dd.MM.' }}
            </td>
            <td class="right">
              <strong>{{ (row.isPaid ? 0 : row.period.daysCount) | sxyCount : "day" }}</strong><br />
              <strong>{{ (row.isHolidayAccrual ? 0 : row.period.daysCount) | sxyCount : "day" }}</strong><br />
            </td>
            <td class="middle right">
              <button class="btn btn-xs" type="button" ng-class="row.selected ? 'btn-danger' : 'btn-info'" ng-click="row.selected = !row.selected">
                {{ row.selected ? "Poista valinta" : "Valitse" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="Ok"></button>
      <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    </div>
  </div>
</div>