<div class="modal-calc-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{$ctrl.logic.title}}</h2>
  </div>
  <div class="panel-body">
    <salaxy-calc-ir-rows model="$ctrl.current"></salaxy-calc-ir-rows>
    <div>
      <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.saveButtonText"></button>
      <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    </div>
  </div>
</div>