<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 sxy-text="Lähetyksen ajastus"></h1>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" name="schedulingDialog">
      <div class="col-xs-12">
        <div class="salaxy-component salaxy-datepicker">
          <salaxy-form-group label="Päivämäärä" name="date">
            <div uib-datepicker ng-model="$ctrl.current.startAt"></div>
          </salaxy-form-group>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="salaxy-component salaxy-datepicker">
          <salaxy-form-group label="Kellonaika" name="time">
            <style>
              .uib-timepicker table {
                width: auto
              }
            </style>
            <div uib-timepicker class="uib-timepicker" ng-model="$ctrl.current.startAt" show-meridian="false"></div>
          </salaxy-form-group>
        </div>
      </div>
      <div class="col-xs-12">
        <salaxy-form-group label="Lähetyshetki" name="dateTime">
          <pre class="alert alert-danger">{{$ctrl.current.startAt | sxyTime }}</pre>
        </salaxy-form-group>
      </div>
      <div>
        <button type="submit" class="btn btn-primary pull-right" ng-disabled="schedulingDialog.$invalid" ng-click="$close('ok')" sxy-text="Lähetä"></button>
        <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
      </div>
    </form>
  </div>
</div>