<div class="salaxy-component salaxy-calc-reports">
  <div class="btn-toolbar" role="toolbar" aria-label="Report options">
    <div class="btn-group btn-group-sm" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            Raportin tyyppi: {{ "ReportType." + $ctrl.reportType | sxyEnum }} <span class="caret"></span>
          </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="$ctrl.reportType = 'salarySlip'">{{ "ReportType.salarySlip" | sxyEnum }}</a></li>
        <li role="menuitem"><a href="" ng-click="$ctrl.reportType = 'employerReport'">{{ "ReportType.employerReport" | sxyEnum }}</a></li>
        <li role="menuitem"><a href="" ng-click="$ctrl.reportType = 'paymentReport'">{{ "ReportType.paymentReport" | sxyEnum }}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-secondary" ng-model="$ctrl.reports.view" uib-btn-radio="'partial'">Vain taulukko</button>
      <button class="btn btn-secondary" ng-model="$ctrl.reports.view" uib-btn-radio="'page1'">Ensimmäinen sivu</button>
      <button class="btn btn-secondary" ng-model="$ctrl.reports.view" uib-btn-radio="'full'">Koko raportti</button>
    </div>
    <div sxy-if-role="!anon" class="btn-group btn-group-sm pull-right-xs" role="group" aria-label="Pdf">
      <button type="button" class="btn btn-secondary" ng-click="$ctrl.showDownloadDialog(true)">
            <span class="hidden-sm hidden-xs">Tulosta </span>
            <i class="fa fa-print" aria-hidden="true"></i>
          </button>
      <button sxy-if-role="!anon" type="button" class="btn btn-secondary" ng-click="$ctrl.showDownloadDialog(false)">
              <span class="hidden-sm hidden-xs">Lataa PDF </span>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            
          </button>
    </div>
  </div>
  <p>&nbsp;</p>
  <div ng-repeat="calc in $ctrl.calcs" ng-if="$ctrl.reportType" class="payroll-report" ng-class="{'payroll-report-partial-container': $ctrl.reports.view == 'partial'}">
    <salaxy-calc-worker-info model="calc" ng-if="$ctrl.reports.view == 'partial'"></salaxy-calc-worker-info>
    <salaxy-calc-report calc="calc" apply-site-styles="$ctrl.reports.view == 'partial'" report-type="$ctrl.reportType" template-name="$ctrl.reports[$ctrl.reportType][$ctrl.reports.view]"></salaxy-calc-report>
  </div>
</div>