<div class="calc-start-instructions" ng-if="!$ctrl.calcSections.get('result').isSelectionDone">
  <h1 style="margin-top: 10px; margin-bottom: 40px; font-size: 2em" class="text-center" sxy-text="SALAXY.NG1.CalcNewIntroComponent.title"></h1>
  <div class="row">
    <div class="col-xs-6 col-sm-3 text-center" style="min-height: 200px; cursor: pointer;" ng-click="$ctrl.calcSections.toggle('worker');">
      <div style="margin-bottom: 20px;">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-info"></i><span class="fa-stack-1x fa-inverse">1</span></span>
      </div>
      <p style="margin-bottom: 0px;"><strong class="uppercase" sxy-text="SALAXY.NG1.CalcNewIntroComponent.stepOne.title"></strong></p>
      <p sxy-text="SALAXY.NG1.CalcNewIntroComponent.stepOne.description"></p>
    </div>
    <div class="col-xs-6 col-sm-3 text-center" style="min-height: 200px; cursor: pointer;" ng-click="$ctrl.calcSections.toggle('worktime');">
      <div style="margin-bottom: 20px;">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-warning"></i><span class="fa-stack-1x fa-inverse">2</span></span>
      </div>
      <p style="margin-bottom: 0px;"><strong class="uppercase">Miltä ajalta?</strong></p>
      <p>Palkkajakso, työpäivät, lomat ja poissaolot.</p>
    </div>
    <div class="col-xs-6 col-sm-3 text-center" style="min-height: 200px;  cursor: pointer;" ng-click="$ctrl.calcSections.toggle('salary');">
      <div style="margin-bottom: 20px;">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-success"></i><span class="fa-stack-1x fa-inverse">3</span></span>
      </div>
      <p style="margin-bottom: 0px;"><strong class="uppercase" sxy-text="SALAXY.NG1.CalcNewIntroComponent.stepThree.title"></strong></p>
      <p sxy-text="SALAXY.NG1.CalcNewIntroComponent.stepThree.description"></p>
    </div>
    <div class="col-xs-6 col-sm-3 text-center" style="min-height: 200px;  cursor: pointer;" ng-click="$ctrl.calcSections.toggle('expenses');">
      <div style="margin-bottom: 20px;">
        <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-danger"></i><span class="fa-stack-1x fa-inverse">4</span></span>
      </div>
      <p style="margin-bottom: 0px;"><strong class="uppercase" sxy-text="SALAXY.NG1.CalcNewIntroComponent.stepFour.title"></strong></p>
      <p sxy-text="SALAXY.NG1.CalcNewIntroComponent.stepFour.description"></p>
    </div>
  </div>
  <p>&nbsp;</p>
</div>