﻿<div class="salaxy-component salaxy-calc-chart chart-container"
  ng-class="'salaxy-calc-chart-' + $ctrl.role + 'salaxy-calc-chart-' + $ctrl.chartType">
  <canvas class="chart chart-bar" width="100" height="100"
    ng-if="$ctrl.chartType == 'bar'"
    chart-data="$ctrl.getData()"
    chart-labels="['']"
    chart-series="$ctrl.seriesLabels"
    chart-colors="$ctrl.chartColors"
    chart-options="$ctrl.chartOptions"></canvas>
  <canvas class="chart chart-pie" width="100" height="100"
    ng-if="$ctrl.chartType == 'pie'"
    chart-data="$ctrl.getData()"
    chart-labels="$ctrl.seriesLabels"
    chart-colors="$ctrl.chartColors"
    chart-options="$ctrl.pieChartOptions"></canvas>
</div>
