<div class="salaxy-component salaxy-calc-worker-info">
  <div class="row">
    <div class="col-xs-3 col-sm-2 col-xxs-3 ">
      <salaxy-avatar avatar="$ctrl.current.worker.avatar"></salaxy-avatar>
    </div>
    <div class="col-xs-9 col-sm-10 col-xxs-9 worker-info-col">
      <h2>{{ $ctrl.current.worker.avatar.displayName || ("SALAXY.NG1.WorkerInfo.noSelection" | sxyTranslate) }}</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 ">
          <span ng-class="{'text-danger': $ctrl.taxUi.status != 'ok'}">{{ $ctrl.taxUi.text }}<br /></span>
          <span ng-if="!$ctrl.current.worker.paymentData.ibanNumber" class="text-danger" sxy-text="SALAXY.NG1.WorkerInfo.noIbanNumber"></span>
          <span ng-if="$ctrl.current.worker.paymentData.ibanNumber">{{ $ctrl.current.worker.paymentData.ibanNumber | sxyIban }}</span>
          <br />
          <span>{{ $ctrl.getPensionText() }}</span>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <div ng-if="!$ctrl.current.worker.paymentData.socialSecurityNumberValid" class="text-danger">
            <span sxy-text="SALAXY.NG1.PaymentDialogComponent.noSSNumber"></span>
            <br />
          </div>
          <div ng-if="$ctrl.current.worker.paymentData.socialSecurityNumberValid">{{ $ctrl.current.worker.paymentData.socialSecurityNumberValid }}<br /></div>
          <span ng-if="$ctrl.current.worker.paymentData.telephone">
            {{ $ctrl.current.worker.paymentData.telephone ||  ('SALAXY.NG1.PaymentDialogComponent.noTel' | sxyTranslate) }}
          </span>
          <br />
          <a href="{{ 'mailto:' + $ctrl.current.worker.paymentData.email }}" ng-if="$ctrl.current.worker.paymentData.email">{{ $ctrl.current.worker.paymentData.email }}</a>
          <div ng-if="!$ctrl.current.worker.paymentData.email">
            <span sxy-text="SALAXY.NG1.PaymentDialogComponent.noEmail"></span> &nbsp;
            <span class="text-warning" sxy-text="SALAXY.NG1.PaymentDialogComponent.noEmailInfo"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>