<span ng-switch="$ctrl.type">
  <button ng-switch-when="approve" class="btn {{$ctrl.buttonClass || 'btn-success btn-block btn-sm' }}" type="button" id="approve" ng-disabled="$ctrl.disabled"
    ng-click="$ctrl.approve()" title="{{'Hyväksy laskelma. Voit hyväksymisen jälkeen maksaa laskelman.' | sxyTranslate}}">
    <span ng-if="!$ctrl.iconOnly">{{'Hyväksy' | sxyTranslate}}&nbsp;</span>
    <span ng-show="!$ctrl.isLoading"><i class="fa fa-thumbs-o-up"></i></span>
    <span ng-show="$ctrl.isLoading"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
  </button>
  <button ng-switch-when="reject" class="btn {{$ctrl.buttonClass || 'btn-danger btn-block btn-sm' }}" type="button" id="reject" ng-disabled="$ctrl.disabled"
    ng-click="$ctrl.reject()"
    title="{{'Hylkää laskelma. Hylättyä laskelmaa ei poisteta automaattisesti, ja voit vielä myöhemmin hyväksyä sen tai poistaa kokonaan.' | sxyTranslate}}">
    <span ng-if="!$ctrl.iconOnly"> {{'Hylkää' | sxyTranslate}}&nbsp;</span>
    <span ng-show="!$ctrl.isLoading"><i class="fa fa-thumbs-o-down"></i></span>
    <span ng-show="$ctrl.isLoading"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
  </button>
  <span ng-switch-default class="alert alert-danger">Error: Unknown action for sharing</span>
</span>