<div class="salaxy-component salaxy-calc-row-type">
  <div ng-if="$ctrl.type == 'read-only'" class="salaxy-calc-row-type-read-only">
    {{ $ctrl.getRowLabel() }}
  </div>
  <div ng-if="$ctrl.type == 'typehead'" class="salaxy-calc-row-type-typehead" style="position: relative">
    <input type="text" id="{{$ctrl.name}}" name="{{$ctrl.name}}" placeholder="{{ $ctrl.placeholder || 'SALAXY.UI_TERMS.select' | sxyTranslate }}" ng-require="$ctrl.require" autocomplete="off"
      ng-model="$ctrl.internalValue" ng-model-options="{allowInvalid: true, debounce: 250}"
      class="form-control" 
      uib-typeahead="type as type.text for type in $ctrl.search($viewValue)"
      typeahead-template-url="salaxy-components/calc/CalcRowTypeItem.html" typeahead-show-hint="true"
      typeahead-append-to-body="true" typeahead-min-length="0"
      typeahead-editable="false">
    <button type="button" class="close" aria-label="Close" ng-if="$ctrl.internalValue"
      ng-click="$ctrl.internalValue = null"
      style="font-size: 2em; position: absolute; right: 10px; top: 3px">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div ng-if="$ctrl.type == 'list'" class="salaxy-calc-row-type-list">
    <div class="list-group">
      <div ng-repeat="item in $ctrl.getList()">
        <a ng-if="item.ui.iconText" class="list-group-item clickable"
          ng-click="$ctrl.internalValue = item"
          ng-class="{ 'active': $ctrl.internalValue == item }">
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: item.ui.color, initials: item.ui.iconText, entityType: 'company' }"></salaxy-avatar>
          <b class="salaxy-highlight" ng-bind-html="item.text | uibTypeaheadHighlight:$ctrl.searchText"></b><br />
          <small class="salaxy-highlight">
            <div ng-bind-html="item.title | uibTypeaheadHighlight:$ctrl.searchText"></div>
          </small>
        </a>
        <a ng-if="!item.ui.iconText" class="list-group-item clickable salaxy-highlight"
          ng-click="$ctrl.internalValue = item"
          ng-class="{ 'active': $ctrl.internalValue == item }"
          title="{{ enum.title }}"
          style="display: list-item; list-style-type: disc; list-style-position: inside; padding: 2px 2px 2px 60px">
          <span ng-bind-html="item.text | uibTypeaheadHighlight:query"></span>
        </a>
      </div>
    </div>
  </div>
</div>
