<style type="text/css">
  .form-condensed .form-group {
    margin-bottom: 1px
  }
  
  .form-condensed .form-horizontal .control-label {
    padding-top: 0px;
  }
</style>
<div class="salaxy-component salaxy-calc-worktime">
  <form ng-submit="$ctrl.submitWorktime()" name="detailsWork" class="form-horizontal" ng-if="$ctrl.currentCalc">
    <div class="salaxy-calc-dialog-body">
      <div class="salaxy-calc-dialog-container">
        <div class="row">
          <div class="col-md-6">
            <h1>Palkkapäivä</h1>
            <p>
              Päivä, jolloin palkka on työntekijän tilillä.
              Tyhjä päivä tarkoittaa <strong>heti</strong>: 
              Käytännössä 0-3 päivää maksutavasta riippuen.
            </p>
            <div class="form-horizontal">
              <salaxy-datepicker-popup name="requestedSalaryDate" ng-model="$ctrl.requestedSalaryDate"
                label="Palkkapäivä"label-cols="col-sm-6"
                date-disabled="salary" placeholder="Heti: 1-3 päivää maksusta" payment-channel="$ctrl.calc.info.paymentChannel"></salaxy-datepicker-popup>
            </div>
            <h1 sxy-text="SALAXY.NG1.CalcWorktimeComponent.worktime.title"></h1>
            <p ng-if="!$ctrl.dateRange.start || !$ctrl.dateRange.start" sxy-text="SALAXY.NG1.CalcWorktimeComponent.worktime.description"></p>
            <div class="form-horizontal">
              <salaxy-input-enum ng-model="$ctrl.periodShortcut" name="periodShortcut" ng-if="!$ctrl.periodShortcut" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-cols="col-sm-6" type="radio" options="$ctrl.periodShortcuts"></salaxy-input-enum>
              <salaxy-input-enum ng-model="$ctrl.periodShortcut" name="periodShortcut" ng-if="$ctrl.periodShortcut" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-cols="col-sm-6" type="select" options="$ctrl.periodShortcuts"></salaxy-input-enum>
              <salaxy-date-range ng-model="$ctrl.dateRange" class="condensed" name="dateRange" ng-if="$ctrl.periodShortcut == 'other'" on-change="$ctrl.dateRangeChange()" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-days-count="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelDaysCount"
                label-cols="col-sm-6" read-only="$ctrl.isReadOnly"></salaxy-date-range>
              <div ng-if="$ctrl.periodShortcut && $ctrl.periodShortcut != 'other'">
                <salaxy-form-group name="periodStartDate" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelStartDate" label-cols="col-sm-6">
                  <input type="text" class="form-control" autocomplete="off" id="periodStartDate" name="periodStartDate" placeholder="{{'SALAXY.UI_TERMS.dateFormats.dm' | sxyTranslate}}" ng-model="$ctrl.periodStartDate" ng-model-options="{allowInvalid: true, debounce: 250, updateOn: 'default' }"
                  />
                  <div ng-if="$ctrl.periodStartDateError" class="salaxy-read-only-value text-danger">{{ $ctrl.periodStartDateError }}</div>
                </salaxy-form-group>
                <salaxy-form-group name="formattedRange" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelStartAndEndDate" label-cols="col-sm-6" class="salaxy-read-only">
                  <div class="salaxy-read-only-value">{{ $ctrl.dateRange | sxyDateRange }}</div>
                </salaxy-form-group>
                <salaxy-input-number name="labelDaysCount" ng-model="$ctrl.dateRange.daysCount" ng-change="$ctrl.dateRangeChange()" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelWorkDaysCount" label-cols="col-sm-6">
                </salaxy-input-number>
              </div>
            </div>
          </div>
          <div class="col-md-6" sxy-if-role="!worker">
            <h1 sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.title"></h1>
            <div ng-switch="$ctrl.getHolidaysStatus()">
              <div ng-switch-when="noWorker" sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.descriptionNoWorker"></div>
              <div ng-switch-when="noPeriod" sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.descriptionNoPeriod"></div>
              <div ng-switch-when="loading">
                <salaxy-spinner full-screen="false" heading="SALAXY.UI_TERMS.loading" text="SALAXY.NG1.CalcWorktimeComponent.absences.loadingText"></salaxy-spinner>
              </div>
              <div ng-switch-when="ok">
                <button class="btn pull-right salaxy-button-pro" ng-click="$ctrl.showPeriodDetails()" type="button" title="{{'SALAXY.NG1.CalcWorktimeComponent.absences.proTabTitle' | sxyTranslate}}">Pro</button>
                <uib-tabset active="$ctrl.currentTab">
                  <uib-tab index="'default'" heading="{{'SALAXY.NG1.CalcWorktimeComponent.absences.calculationTabHeading' | sxyTranslate}}">
                    <fieldset>
                      <legend sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationLegend"></legend>
                      <div style="margin-bottom: 8px; margin-right: 10px;">
                        <div class="pull-right">
                          <a href="" ng-click="$ctrl.currentTab = 'absences'">
                            {{ $ctrl.worktime.absencesDays | sxyCount : 'day' }}
                          </a>
                        </div>
                        <strong sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescription"></strong>
                      </div>
                      <div ng-if="$ctrl.worktime.holidaySpec.code == 'undefined'" sxy-html="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescriptionUndefined.html"></div>
                      <div ng-if="$ctrl.worktime.holidaySpec.code == 'noHolidays'">
                        <strong sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescriptionNoHolidays"></strong>
                      </div>
                      <div ng-if="$ctrl.worktime.holidaySpec.code == 'holidayCompensation'">

                        <div style="margin-bottom: 8px; margin-right: 10px;">
                          <div class="pull-right">{{ $ctrl.worktime.holidaySpec.compensation | sxyCount : 'percent' }}</div>
                          <strong sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescriptionHolidayCompensation"></strong>
                        </div>
                        <div style="margin-bottom: 8px; margin-right: 10px;" ng-if="$ctrl.worktime.holidaySpec.bonus > 0">

                          <div class="pull-right">{{ $ctrl.worktime.holidaySpec.bonus | sxyCount : 'percent' }}</div>
                          <strong sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescriptionHolidayBonus" pre="+ "></strong>
                        </div>
                        <div ng-if="!$ctrl.worktime.holidaySpec.bonus" sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescriptionNoHolidayBonus"></div>
                      </div>
                      <div style="margin-bottom: 8px; margin-right: 10px;" ng-if="$ctrl.isHolidayAccrual">
                        <div class="pull-right">
                          <a href="" ng-click="$ctrl.currentTab = 'leaves'">{{ $ctrl.worktime.leavesDays | sxyCount : 'day' }}</a>
                        </div>
                        <strong sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.calculationDescriptionLeavesDays"></strong>
                      </div>
                    </fieldset>
                    <fieldset ng-if="$ctrl.isHolidayAccrual">
                      <table class="table table-striped table-condensed">
                        <thead>
                          <tr>
                            <th sxy-text="SALAXY.NG1.CalcWorktimeComponent.holidays.headerHolidays"></th>
                            <th class="right" sxy-text="SALAXY.NG1.CalcWorktimeComponent.holidays.headerDays"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="month in $ctrl.worktime.accruals">
                            <td>
                              <strong>{{ $ctrl.getAccrualMonthText('header', month) }}</strong><br>
                              <small>
                                <div>
                                  <a href="" ng-click="$ctrl.currentTab = 'absences'">
                                    <span sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.link"></span> {{ month.absencesDays | sxyCount : 'day' }}
                                  </a>
                                </div>
                              </small>
                            </td>
                            <td class="right">
                              <strong>{{ month.daysAccrued | sxyCount : 'day' }}</strong><br>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <small>
                        <p>{{ $ctrl.getAccrualMonthText("description") }}</p>
                      </small>
                    </fieldset>
                  </uib-tab>
                  <uib-tab index="'absences'" heading="{{'SALAXY.NG1.CalcWorktimeComponent.absences.absencesTabHeading' |sxyTranslate}}">
                    <div sxy-if-role="auth" ng-controller="WorkerAbsencesCrudController as $absencesCtrl" ng-init="$absencesCtrl.employmentId=$ctrl.currentCalc.worker.employmentId">
                      <salaxy-absence-periods parent="$absencesCtrl.current" condensed="true" on-commit="$ctrl.absencesChanged($absencesCtrl)" ng-if="$absencesCtrl.current" filter-start="$ctrl.currentCalc.info.workStartDate" filter-end="$ctrl.currentCalc.info.workEndDate"></salaxy-absence-periods>
                    </div>
                    <div sxy-if-role="!auth">
                      <p><strong>HUOM:</strong> Anonyymi demoversio, data tyhjentyy, kun vaihdat periodia.</p>
                      <salaxy-absence-periods parent="$ctrl.demoData.absences" condensed="true" on-commit="$ctrl.reloadHolidays()" filter-start="$ctrl.currentCalc.info.workStartDate" filter-end="$ctrl.currentCalc.info.workEndDate"></salaxy-absence-periods>
                    </div>
                    <p>&nbsp;</p>
                    <small>
                      <p sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.absencesAttention"></p>
                    </small>
                  </uib-tab>
                  <uib-tab index="'leaves'" heading="{{'SALAXY.NG1.CalcWorktimeComponent.absences.leavesTabHeading' | sxyTranslate}}" ng-if="$ctrl.isHolidayAccrual">
                    <div ng-controller="HolidayYearCrudController as $holidaysCtrl" ng-init="$holidaysCtrl.employmentId=$ctrl.currentCalc.worker.employmentId">
                      <salaxy-holiday-year-holidays parent="$holidaysCtrl.current" condensed="true" on-commit="$ctrl.holidaysChanged($holidaysCtrl)" ng-if="$holidaysCtrl.current" for-date="$ctrl.currentCalc.info.workStartDate" filter-start="$ctrl.currentCalc.info.workStartDate"
                        filter-end="$ctrl.currentCalc.info.workEndDate"></salaxy-holiday-year-holidays>
                    </div>
                    <p>&nbsp;</p>
                    <small>
                      <p sxy-text="SALAXY.NG1.CalcWorktimeComponent.absences.absencesAttention"></p>
                    </small>
                  </uib-tab>
                </uib-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button ng-show="!$ctrl.currentCalc.isReadOnly" class="btn btn-warning btn-lg salaxy-calc-btn-recalculate" type="submit">{{ $ctrl.hasHolidaysOrAbsences() ? ('SALAXY.NG1.CalcWorktimeComponent.absences.calculateButtonText' | sxyTranslate) : ('SALAXY.NG1.UiTerms.updateCalculation' |sxyTranslate) }}</button>
  </form>
</div>