<div class="salaxy-component salaxy-calc">
  <div class="salaxy-calc-overview" ng-if="!$ctrl.current">
    <salaxy-spinner ng-if="$ctrl.isLoading"></salaxy-spinner>
  </div>


  <div class="row" sxy-if-role="worker">
    <div class="col-xs-12 spacer-bottom" ng-if="$ctrl.current.workflow.status == 'draft' || $ctrl.current.id == null">
      <p class="lead text-center">Voit lähettää valmiin palkkalaskelman työnantajallesi maksettavaksi. Täytä tarvittavat tiedot laskelmalle alla olevalla laskurilla ja jaa laskelma työnantajallesi.</p>
    </div>
  </div>
  <div class="salaxy-calc-overview" ng-if="$ctrl.current">
    <div sxy-if-role="worker" class="visible-xxs">
      <div class="spacer-bottom" ng-if="$ctrl.current.workflow.status == 'draft' || $ctrl.current.workflow.status == 'workerRequested' || $ctrl.current.workflow.status == 'workerRequestAccepted' || $ctrl.current.workflow.status == 'workerRequestDeclined' || $ctrl.current.workflow.status == 'paymentWorkerCopy'">
        <salaxy-calc-sharing-info model="$ctrl"></salaxy-calc-sharing-info>
      </div>
    </div>
    <div class="calc-container" style="display:block;">
      <div class="salaxy-calc-step-container step1" ng-class="{ 'active': $ctrl.calcSections.get('worker').isActive }">
        <div class="panel panel-info salaxy-calc-overview-panel">
          <div class="panel-heading" ng-click="$ctrl.calcSections.toggleActive('worker')">
            <i class="fa fa-times fa-fw pull-right close"></i> <span class="overview-title"> 1. Työntekijä</span>
          </div>
          <div class="panel-body">
            <div class="content-overview" ng-click="$ctrl.calcSections.toggleActive('worker')">
              <div ng-if="!$ctrl.calcSections.get('worker').isSelectionDone">
                <a href="">
                  <h3 class="text-center">Valitse<br />työntekijä!</h3>
                </a>
              </div>
              <div class="salaxy-calc-overview-worker" ng-if="$ctrl.calcSections.get('worker').isSelectionDone">
                <salaxy-avatar ng-if="$ctrl.current.worker.avatar.displayName" avatar="$ctrl.current.worker.avatar"></salaxy-avatar>
                <strong>{{$ctrl.current.worker.avatar.displayName || ("SALAXY.NG1.WorkerInfo.noSelection" | sxyTranslate) }}</strong><br />
                <div class="salaxy-calc-worker-info-texts" ng-if="$ctrl.current.worker.avatar.displayName">
                  <div class="text-danger" ng-if="$ctrl.taxUi.status == 'missing'">
                    {{ $ctrl.taxUi.shortText }}
                    <button type="button" ng-click="$ctrl.showNewTaxcardDialog()" class="btn btn-danger btn-xs">Lisää uusi...</button>
                  </div>
                  <div class="text-danger" ng-if="$ctrl.taxUi.status == 'waiting'">
                    {{ $ctrl.taxUi.shortText }}
                    <button type="button" ng-click="$ctrl.showApproveTaxcardDialog()" class="btn btn-danger btn-xs">Tarkista...</button>
                  </div>
                  <div ng-if="$ctrl.taxUi.status == 'ok'">{{ $ctrl.taxUi.shortText }}</div>
                  <div>{{ $ctrl.current.worker.paymentData.ibanNumber ? ('SALAXY.NG1.WorkerInfo.ibanOk'|sxyTranslate) : ('SALAXY.NG1.WorkerInfo.noIbanNumber' | sxyTranslate) }}</div>
                  <div class="truncate">{{ $ctrl.current.info.occupationCode | sxyOccupation : "code-label" }}</div>
                  <div class="truncate">{{ $ctrl.getPensionText(true) }}</div>
                </div>
              </div>
            </div>
            <div class="content-details">
              <ng-include src="'salaxy-components/calc/details/worker.html'"></ng-include>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.isHousehold" class="salaxy-calc-step-container step2" ng-class="{ 'active': $ctrl.calcSections.get('household-usecase').isActive }">
        <div class="panel panel-warning salaxy-calc-overview-panel">
          <div class="panel-heading" ng-click="$ctrl.calcSections.toggleActive('household-usecase')">
            <i class="fa fa-times fa-fw pull-right close"></i><span class="overview-title">2. Tehtävä työ</span>
          </div>
          <div class="panel-body">
            <div class="content-overview" ng-click="$ctrl.calcSections.toggleActive('household-usecase')">
              <div ng-show="!$ctrl.calcSections.get('household-usecase').isSelectionDone">
                <a href="">
                  <h3 class="text-center">Valitse<br />tehtävä työ</h3>
                </a>
              </div>
              <div ng-show="$ctrl.calcSections.get('household-usecase').isSelectionDone">
                <div>{{ $ctrl.getUsecaseText() }}</div>
              </div>
            </div>
            <div class="content-details">
              <salaxy-calc-household-usecase ng-if="$ctrl.currentCalc" calc="$ctrl.currentCalc"></salaxy-calc-household-usecase>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!$ctrl.isHousehold" class="salaxy-calc-step-container step2" ng-class="{ 'active': $ctrl.calcSections.get('worktime').isActive }">
        <div class="panel panel-warning salaxy-calc-overview-panel">
          <div class="panel-heading" ng-click="$ctrl.calcSections.toggleActive('worktime')">
            <i class="fa fa-times fa-fw pull-right close"></i><span class="overview-title"> 2. Palkka- ja työpäivät jne.</span>
          </div>
          <div class="panel-body">
            <div class="content-overview" ng-click="$ctrl.calcSections.toggleActive('worktime')">
              <div ng-show="!$ctrl.calcSections.get('worktime').isSelectionDone">
                <a href="">
                  <h3 class="text-center">Valitse<br />työpäivät!</h3>
                </a>
              </div>
              <div ng-show="$ctrl.calcSections.get('worktime').isSelectionDone">
                <div><strong>{{ $ctrl.getDatesRangeText() }}</strong></div>
                <table>
                  <tbody>
                    <tr>
                      <td>Palkkapäivä</td>
                      <td class="right" ng-if="!$ctrl.currentCalc.workflow.requestedSalaryDate">heti</small></td>
                      <td class="right" ng-if="$ctrl.currentCalc.workflow.requestedSalaryDate">{{ $ctrl.currentCalc.workflow.salaryDate | sxyDate }}</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tbody>
                    <tr>
                      <td>Lomapäivät</td>
                      <td class="right">{{ $ctrl.currentCalc.worktime.leavesDays | sxyCount : 'day' }}</td>
                    </tr>
                    <tr>
                      <td>Palkattomat poissaolot</td>
                      <td class="right">{{ $ctrl.currentCalc.worktime.absencesDays | sxyCount : 'day' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="content-details">
              <salaxy-calc-worktime ng-if="$ctrl.currentCalc" calc="$ctrl.currentCalc"></salaxy-calc-worktime>
            </div>
          </div>
        </div>
      </div>
      <div class="salaxy-calc-step-container step3" ng-class="{ 'active': $ctrl.calcSections.get('salary').isActive }">
        <div class="panel panel-success salaxy-calc-overview-panel">
          <div class="panel-heading" ng-click="$ctrl.calcSections.toggleActive('salary')">
            <i class="fa fa-times fa-fw pull-right close"></i><span class="overview-title"> 3. Palkka</span>
          </div>
          <div class="panel-body">
            <div class="content-overview" ng-click="$ctrl.calcSections.toggleActive('salary')">
              <table>
                <tbody>
                  <tr>
                    <td>
                      {{ $ctrl.calcLogic.hasCompensation ? ('SALAXY.NG1.CalcDetailsExpensesComponent.foreclosurePayment.infoCompensation' | sxyTranslate) : ('SALAXY.NG1.CalcDetailsExpensesComponent.foreclosurePayment.infoSalary' | sxyTranslate) }}
                    </td>
                    <td class="right">{{$ctrl.currentCalc.result.totals.totalBaseSalary || 0 | currency : "" : 2}} €</td>
                  </tr>
                  <tr>
                    <td sxy-text="SALAXY.NG1.CalcDetailsExpensesComponent.titleAdditions"></td>
                    <td class="right">{{ ($ctrl.currentCalc.result.totals.totalGrossSalary - $ctrl.currentCalc.result.totals.totalBaseSalary) || 0 | currency : "" : 2}} €</td>
                  </tr>
                  <tr class="total">
                    <td sxy-text="SALAXY.NG1.GeneralCalcDetailLabels.total"></td>
                    <td class="right">{{$ctrl.currentCalc.result.totals.totalGrossSalary || 0 | currency : "" : 2}} €</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="content-details">
              <ng-include src="'salaxy-components/calc/details/salary.html'"></ng-include>
            </div>
          </div>
        </div>
      </div>
      <div class="salaxy-calc-step-container step4" ng-class="{ 'active': $ctrl.calcSections.get('expenses').isActive }">
        <div class="panel panel-danger salaxy-calc-overview-panel">
          <div class="panel-heading" ng-click="$ctrl.calcSections.toggleActive('expenses')">
            <i class="fa fa-times fa-fw pull-right close"></i> <span class="overview-title"> 4. Vähennykset, kulut jne.</span>
          </div>
          <div class="panel-body">
            <div class="content-overview" ng-click="$ctrl.calcSections.toggleActive('expenses')">
              <table>
                <tbody>
                  <tr>
                    <td sxy-text="SALAXY.NG1.CalcDetailsExpensesComponent.compensations.title"></td>
                    <td class="right">{{ $ctrl.currentCalc.result.totals.totalExpenses || 0 | currency : '' : 2}}€</td>
                  </tr>
                  <tr>
                    <td sxy-text="SALAXY.NG1.CalcDetailsExpensesComponent.benefits.title"></td>
                    <td class="right">{{ $ctrl.currentCalc.result.workerCalc.benefits || 0 | currency : '' : 2}}€</td>
                  </tr>
                  <tr>
                    <td sxy-text="SALAXY.NG1.CalcDetailsExpensesComponent.deductions"></td>
                    <td class="right">{{ $ctrl.calcLogic.expensesTotal || 0 | currency : '' : 2}}€</td>
                  </tr>
                  <tr ng-if="$ctrl.isHousehold">
                    <td ng-if="$ctrl.calcLogic.childCareSubsidy">Yks. hoid. tuki</td>
                    <td ng-if="$ctrl.calcLogic.childCareSubsidy" class="right">{{ $ctrl.calcLogic.childCareSubsidy || 0 | currency : '' : 2}}€</td>
                    <td colspan="2" class="text-right" ng-if="!$ctrl.calcLogic.childCareSubsidy">
                      <small>{{ $ctrl.isHouseholdDeductible ? "Kotitalousvähennys" : "Ei kotitalousvähennystä" }}</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="content-details">
              <ng-include src="'salaxy-components/calc/details/expenses.html'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <salaxy-calc-new-intro model="$ctrl"></salaxy-calc-new-intro>
  <salaxy-calc-results model="$ctrl"></salaxy-calc-results>
</div>
<div sxy-if-role="test">
  <hr />
  <div>TEST: Vain testissä</div>
  <div class="btn-toolbar calc-toolbar">
    <div class="btn-group" style="margin-left:5px;" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle type="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
          TILA: {{ "CalculationStatus." + $ctrl.currentCalc.workflow.status | sxyEnum }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-class="{ disabled: $ctrl.currentCalc.workflow.status=='draft' }">
          <a href="" ng-click="$ctrl.currentCalc.workflow.status = 'draft';$ctrl.save()">{{ "CalculationStatus.draft" | sxyEnum }}</a>
        </li>
        <li ng-class="{ disabled: $ctrl.currentCalc.workflow.status=='proDraft' }">
          <a href="" ng-click="$ctrl.currentCalc.workflow.status = 'proDraft';$ctrl.save()">
            <i class="fa fa-lg fa-user-secret"></i> {{ "CalculationStatus.proDraft" | sxyEnum }}
          </a>
        </li>
        <li ng-class="{ disabled: $ctrl.currentCalc.workflow.status=='template' }">
          <a href="" ng-click="$ctrl.currentCalc.workflow.status = 'template';$ctrl.save()">{{ "CalculationStatus.template" | sxyEnum }}</a>
        </li>
        <li ng-class="{ disabled: $ctrl.currentCalc.workflow.status=='waitingApproval' }">
          <a href="" ng-click="$ctrl.currentCalc.workflow.status = 'waitingApproval';$ctrl.save()">{{ "CalculationStatus.waitingApproval" | sxyEnum }}</a>
        </li>
      </ul>
    </div>
    <div class="btn-group" role="group" style="padding-top: 2px">
      <salaxy-workflow-close api-ctrl="$ctrl"></salaxy-workflow-close>
      <salaxy-workflow-issue api-ctrl="$ctrl"></salaxy-workflow-issue>
    </div>
    <div class="btn-group" role="group" style="border: solid 1px #009fd8; border-radius: 2px;height: 34px;padding-top: 1px;">
      <salaxy-workflow-assign api-ctrl="$ctrl"></salaxy-workflow-assign>
    </div>
  </div>
</div>