<div class="salaxy-component salaxy-calc-dashboard">
  <div class="row">
    <div class="col-xs-12" ng-if="!$ctrl.hideButton">
      <salaxy-action-button action="'newCalc'" label="SALAXY.NG1.ActionButtonComponent.newCalculation"></salaxy-action-button>
    </div>
    <div class="col-sm-6 col-xs-12">
      <salaxy-calc-list category="paid" mode="panel" limit-to="5" read-only="$ctrl.readOnly"></salaxy-calc-list>
    </div>
    <div class="col-sm-6 col-xs-12">
      <salaxy-calc-list category="draft" mode="panel" limit-to="5" read-only="$ctrl.readOnly"></salaxy-calc-list>
    </div>
  </div>
</div>