<div class="salaxy-component salaxy-calc-report">
  <div class="" ng-class="{'report-table-html': $ctrl.applySiteStyles}">
    <div ng-bind-html="$ctrl.html" class="report-binder table-responsive"></div>
  </div>
</div>