<a class="clickable" ng-if="match.model.ui.iconText">
    <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" 
    avatar="{ color: match.model.ui.color, initials: match.model.ui.iconText, entityType: 'company' }"></salaxy-avatar>
    <b class="salaxy-highlight" ng-bind-html="match.model.text | uibTypeaheadHighlight:query"></b><br />
    <small class="salaxy-highlight"><div ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></div></small>
</a>
<a class="clickable" ng-if="!match.model.ui.iconText"
style="display: list-item; list-style-type: disc; list-style-position: inside; padding: 2px 2px 2px 60px">
  <b class="salaxy-highlight" ng-bind-html="match.model.text | uibTypeaheadHighlight:query"></b> 
  <small class="salaxy-highlight"><span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span></small>
</a>