<div class="salaxy-component salaxy-calc-list">

  <div ng-if="($ctrl.mode || 'default') == 'default'">
    <salaxy-odata-table ng-if="$ctrl.category=='draft'" url="/v03-rc/api/calculations/editable" crud-controller="CalculationCrudController as $crud" options="{$top:$ctrl.limitTo}" template-url="salaxy-components/odata/lists/CalculationsDrafts.html" read-only="$ctrl.readOnly">
    </salaxy-odata-table>
    <salaxy-odata-table ng-if="$ctrl.category=='paid'" url="/v03-rc/api/calculations/readonly" crud-controller="CalculationCrudController as $crud" options="{$top:$ctrl.limitTo}" template-url="salaxy-components/odata/lists/CalculationsPaid.html" read-only="$ctrl.readOnly">
    </salaxy-odata-table>
    <salaxy-odata-table ng-if="$ctrl.category=='shared'" url="/v03-rc/api/calculations/category/shared" crud-controller="CalculationCrudController as $crud" options="{$top: $ctrl.limitTo, $orderby:'createdAt desc'}" template-url="salaxy-components/odata/lists/CalculationsShared.html"
      read-only="$ctrl.readOnly">
    </salaxy-odata-table>
    <salaxy-odata-table ng-if="$ctrl.category=='sent'" url="/v03-rc/api/calculations/category/sent" crud-controller="CalculationCrudController as $crud" options="{$top: $ctrl.limitTo}" template-url="salaxy-components/odata/lists/CalculationsSent.html" read-only="$ctrl.readOnly">
    </salaxy-odata-table>
    <salaxy-odata-table ng-if="$ctrl.category=='received'" url="/v03-rc/api/calculations/category/received" crud-controller="CalculationCrudController as $crud" options="{$top: $ctrl.limitTo}" template-url="salaxy-components/odata/lists/CalculationsReceived.html"
      read-only="$ctrl.readOnly">
    </salaxy-odata-table>
    <salaxy-odata-table ng-if="$ctrl.category=='all'" crud-controller="CalculationCrudController as $crud" options="{$top: $ctrl.limitTo}" template-url="salaxy-components/odata/lists/CalculationsAll.html" read-only="$ctrl.readOnly">
    </salaxy-odata-table>
    <salaxy-odata-table ng-if="$ctrl.category=='error'" url="/v03-rc/api/calculations/category/error" crud-controller="CalculationCrudController as $crud" options="{$top: $ctrl.limitTo}" template-url="salaxy-components/odata/lists/CalculationsAll.html" read-only="$ctrl.readOnly">
    </salaxy-odata-table>
  </div>
  <salaxy-odata-table ng-if="$ctrl.mode == 'panel'" url="{{ $ctrl.category == 'paid' ? '/v03-rc/api/calculations/readonly' : $ctrl.category == 'sent' ? '/v03-rc/api/calculations/category/sent' : $ctrl.category == 'received' ? '/v03-rc/api/calculations/category/received' : $ctrl.category == 'shared' ? '/v03-rc/api/calculations/category/shared' : '/v03-rc/api/calculations/editable'}}"
    crud-controller="CalculationCrudController as $crud" options="{$top: $ctrl.limitTo, $filter: $ctrl.filter, $orderby: $ctrl.category == 'shared' ? 'createdAt desc' : null}" data="{ category: $ctrl.category }" template-url="salaxy-components/odata/lists/CalculationsPanel.html"
    read-only="$ctrl.readOnly">
  </salaxy-odata-table>
  <salaxy-odata-table ng-if="$ctrl.mode == 'select'" url="{{ $ctrl.category == 'paid' ? '/v03-rc/api/calculations/readonly' : '/v03-rc/api/calculations/editable'}}" template-url="salaxy-components/odata/lists/Calculations-select.html" options="$ctrl.options"
    selected-items="$ctrl.selectedItems" on-list-select="$ctrl.onListSelect({ value: value, item: item, allItems: allItems });" crud-controller="CalculationCrudController as $crud"></salaxy-odata-table>
</div>