<div class="result-area" ng-if="$ctrl.current && $ctrl.calcSections.get('result').isSelectionDone">
  <div class="panel panel-primary" style="padding: 10px">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-push-4">
          <h2 class="text-center uppercase"> {{ $ctrl.calcLogic.hasCompensation ? ("SALAXY.NG1.GeneralCalcDetailLabels.calculation" | sxyTranslate) : ("SALAXY.NG1.GeneralCalcDetailLabels.calculationSalary" | sxyTranslate) }}</h2>
          <p class="text-center" ng-if="$ctrl.currentCalc.workflow.status == 'sharedWaiting'">
            <strong class="text-warning">Odottaa käsittelyä</strong>
            <br> Voit maksaa palkkalaskelman hyväksyttyäsi sen.
          </p>
          <p class="text-center" ng-if="$ctrl.currentCalc.workflow.status == 'sharedApproved'">
            <strong class="text-success">Hyväksytty laskelma</strong>
            <br>
          </p>
          <p class="text-center" ng-if="$ctrl.currentCalc.workflow.status == 'sharedRejected'">
            <strong class="text-danger">Hylätty laskelma</strong>
            <br> Voit poistaa laskelman tai hyväksyä ja maksaa
          </p>
          <div salaxy-if-role="anon">
            <button type="button" ng-click="$ctrl.register()" class="btn btn-info btn-block spacer-bottom" sxy-text="SALAXY.UI_TERMS.register"></button>
            <button type="button" ng-click="$ctrl.signIn()" class="btn btn-success btn-block spacer-bottom" sxy-text="SALAXY.UI_TERMS.login"></button>
          </div>
          <div sxy-if-role="auth">
            <div ng-if="$ctrl.currentCalc.workflow.status == 'payrollDraft' && !$ctrl.isReadOnly">
              <salaxy-validation-summary api-validation="$ctrl.validation"></salaxy-validation-summary>
              <p class="text-center">
                <strong class="text-success">Palkka on osa palkkalistaa.</strong><br> Tämä palkka on osa palkkalistaa ja se maksetaan ja tallennetaan palkkalistan yhteydessä. Laskelman voi irroittaa palkkalistasta ("Irroita linkitys"), jos haluat maksaa
                sen erillisenä.
              </p>
            </div>
            <div ng-if="$ctrl.currentCalc.workflow.status == 'waitingApproval'">
              <salaxy-validation-summary api-validation="$ctrl.validation"></salaxy-validation-summary>
              <p class="text-center">
                <strong class="text-success">Tarkista laskelma.</strong><br> Tarkista laskelman tiedot, tee tarvittavat muutokset ja lähetä laskelma maksuun tilitoimistollesi.
              </p>
              <salaxy-textarea name="workflowMessage" ng-model="$ctrl.workflowMessage" label="Viesti tilitoimistoon" label-type="basic"></salaxy-textarea>
              <button type="button" class="btn btn-primary btn-block spacer-bottom" ng-click="$ctrl.sendToPro($ctrl.workflowMessage)">Tarkistettu: Lähetä »</button>
            </div>

            <div ng-if="$ctrl.currentCalc.workflow.status != 'payrollDraft' && $ctrl.currentCalc.workflow.status != 'waitingApproval'">
              <salaxy-validation-summary api-validation="$ctrl.validation" ng-if="$ctrl.currentCalc.workflow.status != 'sharedWaiting' && $ctrl.currentCalc.workflow.status != 'sharedRejected'"></salaxy-validation-summary>
              <div ng-if="!$ctrl.validation.isValid && !$ctrl.isReadOnlyForced && $ctrl.currentCalc.workflow.status != 'sharedWaiting' && $ctrl.currentCalc.workflow.status != 'sharedRejected'" class="salaxy-calc-pay-button salaxy-component">
                <salaxy-pay-button ng-if="$ctrl.isForcePayAllAllowed" label="SALAXY.NG1.UiTerms.payAllShort" model="$ctrl.current" mode="button-and-channel" button-class="spacer-bottom uppercase" ng-ref="$payButton" disabled="!$payButton.isChannelDefined" on-payment-channel-change="$ctrl.recalculate()"></salaxy-pay-button>
                <div>&nbsp;</div>
                <div class="spacer-bottom">
                  <button type="button" ng-click="$ctrl.save()" class="btn btn-success btn-block spacer-bottom" ng-disabled="$ctrl.currentCalc.workflow.status == 'paymentStarted'" sxy-text="SALAXY.UI_TERMS.save"></button>
                </div>
                <div ng-if="$ctrl.currentCalc.workflow.status == 'sharedApproved'" class="row">
                  <div class="spacer-bottom">
                    <salaxy-calc-sharing-receipt-action button-class="btn btn-danger btn-block " model="$ctrl" type="'reject'"></salaxy-calc-sharing-receipt-action>
                  </div>
                </div>
              </div>
              <div ng-if="$ctrl.validation.isValid && !$ctrl.currentCalc.isReadOnly" class="text-center">
                <p class="text-center" ng-if="$ctrl.currentCalc.workflow.status != 'paymentStarted' && $ctrl.currentCalc.workflow.status != 'paymentSucceeded'">
                  <span sxy-if-role="!worker">
                    <span ng-if="$ctrl.isReadOnly">Luonnoslaskelma</span>
                  <span ng-if="!$ctrl.isReadOnly">Vie palkka maksuun painamalla alla olevaa Maksa-nappia.</span>
                  </span>
                  <div sxy-if-role="worker" class="visible-xxs">
                    <div ng-if="$ctrl.current.workflow.status == 'draft' || $ctrl.current.workflow.status == 'workerRequested' || $ctrl.current.workflow.status == 'workerRequestAccepted' || $ctrl.current.workflow.status == 'workerRequestDeclined' || $ctrl.current.workflow.status == 'paymentWorkerCopy'">
                      <salaxy-calc-sharing-info model="$ctrl"></salaxy-calc-sharing-info>
                    </div>
                  </div>
                </p>
                <p class="text-center" ng-if=" $ctrl.currentCalc.workflow.status == 'paymentStarted'">
                  <strong class="text-success">Tämä palkka on siirretty maksuun.</strong><br><span ng-if="!$ctrl.isReadOnlyForced">Jos et vienyt palkanmaksua loppuun, voit jatkaa maksua tästä.</span>
                </p>
                <div class="row spacer-bottom" ng-if="!$ctrl.isReadOnlyForced && $ctrl.currentCalc.workflow.status == 'sharedApproved'">
                  <div class="col-sm-12">
                    <salaxy-pay-button model="$ctrl.current" mode="button-and-channel" salaxy-if-role="employer" button-class="spacer-bottom uppercase" ng-ref="$payButton" disabled="!$payButton.isChannelDefined" on-payment-channel-change="$ctrl.recalculate()"></salaxy-pay-button>
                    <div>&nbsp;</div>
                  </div>
                  <div class="col-xs-6">
                    <salaxy-calc-sharing-receipt-action button-class="btn btn-danger btn-block" model="$ctrl" type="'reject'"></salaxy-calc-sharing-receipt-action>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" ng-click="$ctrl.save()" class="btn btn-success btn-block spacer-bottom" ng-disabled="$ctrl.currentCalc.workflow.status == 'paymentStarted'" sxy-text="SALAXY.UI_TERMS.save"></button>
                  </div>
                </div>
                <div ng-if="!$ctrl.isReadOnlyForced && $ctrl.currentCalc.workflow.status != 'sharedWaiting' && $ctrl.currentCalc.workflow.status != 'sharedRejected' && $ctrl.currentCalc.workflow.status != 'sharedApproved'">
                  <salaxy-pay-button model="$ctrl.current" mode="button-and-channel" salaxy-if-role="employer" button-class="spacer-bottom uppercase" ng-ref="$payButton" disabled="!$payButton.isChannelDefined" on-payment-channel-change="$ctrl.recalculate()"></salaxy-pay-button>
                  <div>&nbsp;</div>
                  <div ng-if="$ctrl.currentCalc.workflow.status == 'paymentStarted'">
                    <button type="button" ng-click="$ctrl.copyAsNew()" class="btn btn-primary btn-block spacer-bottom" sxy-text="SALAXY.UI_TERMS.copyAsNew" ps=" »"></button>
                  </div>
                </div>
                <div class="row" ng-if="!$ctrl.isReadOnly && $ctrl.currentCalc.workflow.status != 'sharedApproved' && $ctrl.currentCalc.workflow.status != 'sharedRejected' && $ctrl.currentCalc.workflow.status != 'sharedWaiting'">
                  <div class="col-xs-6">
                    <button type="button" ng-click="$ctrl.deleteCalc()" ng-disabled="!($ctrl.currentCalc && $ctrl.currentCalc.id && !$ctrl.currentCalc.isReadOnly) || $ctrl.currentCalc.workflow.status == 'paymentStarted'" class="btn btn-danger btn-block spacer-bottom" sxy-text="SALAXY.UI_TERMS.delete"></button>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" ng-click="$ctrl.save()" class="btn btn-success btn-block spacer-bottom" ng-disabled="$ctrl.currentCalc.workflow.status == 'paymentStarted'" sxy-text="SALAXY.UI_TERMS.save"></button>
                  </div>
                </div>
              </div>
              <div class="row spacer-bottom" ng-if="!$ctrl.isReadOnly && $ctrl.currentCalc.workflow.status == 'sharedWaiting'">
                <div class="col-sm-6">
                  <salaxy-calc-sharing-receipt-action button-class="btn btn-danger btn-block" model="$ctrl" type="'reject'"></salaxy-calc-sharing-receipt-action>
                </div>
                <div class="col-sm-6">
                  <salaxy-calc-sharing-receipt-action button-class="btn btn-success btn-block" model="$ctrl" type="'approve'"></salaxy-calc-sharing-receipt-action>
                </div>
              </div>
              <div class="row spacer-bottom" ng-if="!$ctrl.isReadOnly && $ctrl.currentCalc.workflow.status == 'sharedRejected'">
                <div class="col-sm-6">
                  <button type="button" ng-click="$ctrl.deleteCalc()" class="btn btn-danger btn-block spacer-bottom" sxy-text="SALAXY.UI_TERMS.delete"></button>
                </div>
                <div class="col-sm-6">
                  <salaxy-calc-sharing-receipt-action button-class="btn btn-success btn-block" model="$ctrl" type="'approve'"></salaxy-calc-sharing-receipt-action>
                </div>
              </div>
            </div>
            <div ng-if="$ctrl.currentCalc.isReadOnly">
              <div sxy-if-role="!worker">

                <div class="row">
                  <div class="col-xs-12">
                    <p class="text-center">
                      <strong>
                        <span class="text-success" ng-if="$ctrl.currentCalc.workflow.status != 'paymentStarted' && $ctrl.currentCalc.workflow.status != 'paymentCanceled' && $ctrl.currentCalc.workflow.status != 'paymentRefunded'" sxy-text="SALAXY.NG1.CalcResultsComponent.isPaidDate"></span>
                        <span class="text-success" ng-if="$ctrl.currentCalc.workflow.status == 'paymentCanceled'">Tämä palkka on peruttu</span>
                        <span class="text-success" ng-if="$ctrl.currentCalc.workflow.status == 'paymentRefunded'">Tämä palkka on peruttu</span>
                        <span class="text-success" ng-if="$ctrl.currentCalc.workflow.status == 'paymentStarted'">Tämä palkka on siirretty maksuun</span>
                      </strong>

                      <br>{{ $ctrl.currentCalc.workflow.paidAt | date }}
                      <span ng-if="$ctrl.currentCalc.info.paymentChannel != 'undefined'">, maksutapa {{ "PaymentChannel." + $ctrl.currentCalc.info.paymentChannel | sxyEnum }}</span>.
                    </p>
                    <div class="text-center spacer-bottom"><a href="" ng-click="$ctrl.showPaymentDialog()">Näytä maksun tiedot</a>.</div>
                    <div class="text-center spacer-bottom" ng-if="$ctrl.currentCalc.workflow.status == 'paymentStarted' && ($ctrl.currentCalc.info.paymentChannel == 'palkkausManual' || $ctrl.currentCalc.info.paymentChannel == 'palkkausPersonal' || $ctrl.currentCalc.info.paymentChannel == 'palkkausCfaPaytrail' || $ctrl.currentCalc.info.paymentChannel == 'palkkausCfaReference' || $ctrl.currentCalc.info.paymentChannel == 'palkkausCfaFinvoice' ||  $ctrl.currentCalc.info.paymentChannel == 'palkkausCfaTest')">
                      <button class="btn btn-default btn-block" ng-click="$ctrl.cancel()">Peru maksu tai vaihda maksutapaa</button>
                    </div>


                    <button ng-if="!$ctrl.isReadOnlyForced" type="button" ng-click="$ctrl.copyAsNew()" class="btn btn-primary btn-block spacer-bottom" sxy-text="SALAXY.UI_TERMS.copyAsNew" ps=" »"></button>
                  </div>
                </div>
              </div>
            </div>
            <div sxy-if-role="worker" class="row hidden-xxs">
              <div class="col-xs-12 spacer-bottom" ng-if="$ctrl.current.workflow.status == 'draft' || $ctrl.current.workflow.status == 'workerRequested' || $ctrl.current.workflow.status == 'workerRequestAccepted' || $ctrl.current.workflow.status == 'workerRequestDeclined' || $ctrl.current.workflow.status == 'paymentWorkerCopy'">
                <salaxy-calc-sharing-info model="$ctrl"></salaxy-calc-sharing-info>
              </div>
            </div>
          </div>
          <div class="text-center btn-group-chart">
            <a ng-click="$ctrl.chartType = 'bar'" class="btn-chart" ng-class="{'active' : $ctrl.chartType == 'bar'}"><i class="fa fa-lg fa-bar-chart"></i></a>
            <a ng-click="$ctrl.chartType = 'pie'" class="btn-chart" ng-class="{'active' : $ctrl.chartType == 'pie'}"><i class="fa fa-lg fa-pie-chart"></i></a>
          </div>
        </div>

        <div class="col-xs-6 col-md-4 col-md-pull-4">
          <h3 class="text-center" sxy-text="SALAXY.NG1.Roles.employer"></h3>
          <salaxy-calc-chart role="employer" scale-y-axis="true" chart-type="$ctrl.chartType" calc="$ctrl.currentCalc"></salaxy-calc-chart>
          <div>
            <p class="text-center" ng-if="$ctrl.isHouseholdDeductible">
              <span sxy-text="SALAXY.NG1.CalcResultsComponent.nowPaying" ps=":"></span> {{ $ctrl.currentCalc.result.employerCalc.totalPayment | currency: "":2 }} €
              <br />
              <span sxy-text="SALAXY.NG1.CalcResultsComponent.finalCost" ps=":"></span> {{ $ctrl.currentCalc.result.employerCalc.finalCost | currency: "":2 }} €
            </p>
            <p class="text-center" ng-if="!$ctrl.isHouseholdDeductible">
              <span sxy-text="SALAXY.NG1.CalcDetailsSalaryComponent.paymentTotal.title" ps=":"></span> {{ $ctrl.currentCalc.result.employerCalc.finalCost | currency: "":2 }} €
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-md-4">
          <h3 class="text-center" sxy-text="SALAXY.NG1.Roles.worker"></h3>
          <salaxy-calc-chart role="worker" scale-y-axis="true" chart-type="$ctrl.chartType" calc="$ctrl.currentCalc"></salaxy-calc-chart>
          <p class="text-center">
            <span sxy-text="SALAXY.NG1.CalcResultsComponent.workerGetsPaid" ps=":"></span> {{ $ctrl.currentCalc.result.workerCalc.totalWorkerPayment | currency: "":2 }} €
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a class="action-link" ng-click="$ctrl.showReportDialog('employerReport')" sxy-text="SALAXY.NG1.CalcResultsComponent.employerReport"></a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a class="action-link" ng-click="$ctrl.showReportDialog('paymentReport')" sxy-text="SALAXY.NG1.CalcResultsComponent.societyReport"></a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a class="action-link" ng-click="$ctrl.showReportDialog('salarySlip')" sxy-text="SALAXY.NG1.CalcResultsComponent.workerReport"></a>
      </div>
    </div>
  </div>
</div>