<div class="salaxy-pay-button salaxy-component">
  <button ng-if="($ctrl.mode || 'pay-button') != 'channel-select'" ng-disabled="$ctrl.disabled" type="button" ng-click="$ctrl.goToInvoices()"
    class="btn btn-primary btn-labeled-right"
    ng-class="$ctrl.buttonClass + ($ctrl.mode == 'button-and-channel' ? ' btn-block' : '')">
    {{ $ctrl.getPaymentButtonText() }} <i class="fa fa-eur"></i>
  </button>
  <div ng-if="$ctrl.mode == 'button-and-channel'" class="payment-channel-selection-label">Maksutapa:</div>
  <div ng-if="($ctrl.mode || 'pay-button') != 'pay-button'" class="btn-group btn-block" uib-dropdown>
    <button id="btnChannel" type="button" class="btn btn-default btn-block" style="text-align: left" uib-dropdown-toggle>
      <salaxy-avatar style="font-size: 1.8em; margin: -2px 8px -2px -2px;" avatar="$ctrl.currentChannel"></salaxy-avatar>
      {{ $ctrl.currentChannel.displayName }}
      <i class="fa fa-caret-down" style="text-align: center; position: absolute; top: 0; right: 0; width: 32px; height: 32px; background-color: white; line-height: 32px;"></i>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btnChannel">
      <li role="menuitem" ng-class="{ 'disabled': channel.id == 'zeroPayment' }" ng-repeat="channel in $ctrl.allChannels">
        <a href="" ng-click="$ctrl.setPaymentChannel(channel.id)" title="{{ channel.description }}">
          <salaxy-avatar style="font-size: 1.8em; margin: -2px 4px -2px -2px;" avatar="channel"></salaxy-avatar> {{ channel.displayName }}
        </a>
      </li>
      <li>
        <a href="#/settings/payment-channel-settings">Asetukset: Lisää maksutapoja...</a>
      </li>
    </ul>
  </div>
</div>