<form name="currentForm" class="form-horizontal" model="temp">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>

  <div class="text-center intro-col">
    <h1>{{ $ctrl.currentStep.title }}</h1>
    <h2 class="subtitle" ng-if="$ctrl.currentStep.heading != ''">{{ $ctrl.currentStep.heading }}</h2>
    <p class="intro" ng-if="$ctrl.currentStep.intro != ''">{{ $ctrl.currentStep.intro }}</p>
  </div>

  <fieldset>
    <legend>Tosiasiallisten edunsaajien tiedot</legend>
    <div class="row" ng-repeat="item in $ctrl.current.company.beneficiaries">

      <div class="col-sm-6">
        <salaxy-input ng-model="item.avatar.displayName" name="beneficiaryName{{$index}}" label="Nimi" label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-3">
        <salaxy-input ng-model="item.officialId" name="beneficiaryPersonalId{{$index}}" label="Henkilötunnus" sxy-personal-id-fi label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-3">
        <salaxy-input ng-model="item.nationality" name="beneficiaryNationality{{$index}}" label="Kansalaisuus" label-type="basic"></salaxy-input>
      </div>
      <div class="col-xs-12 text-right">
        <button class="btn btn-danger btn-sm" ng-click="$ctrl.current.company.beneficiaries.splice($index,1)"><i class="fa fa-trash"></i> <span class="hidden-xs">Poista</span></button>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-secondary btn-sm" ng-click="$ctrl.current.company.beneficiaries.push({ avatar: {}})"><i class="fa fa-plus" style="margin-right:5px"></i> Lisää edunsaaja</button>
      </div>
    </div>
  </fieldset>


</form>