<div class="col-xs-6 col-sm-4 text-left">
  <button ng-click="$ctrl.goPrevious()" class="btn btn-sm btn-link navi-link"><i class="fa fa-angle-left"></i> Edellinen</button>
</div>
<div class="col-sm-4 hidden-xs text-center txt-index">
  <div>{{$ctrl.currentStep.number-1}}/{{$ctrl.steps.length-1}}</div>

</div>
<div class="col-xs-6 col-sm-4 text-right">

  <span>
    <button ng-click="$ctrl.send()" ng-disabled="!$ctrl.canGoNext" class="btn btn-sm btn-primary">Lähetä</button>
  </span>
</div>