<form name="currentForm" class="form-horizontal" ng-model="temp">

  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>

  <div class="text-center intro-col">
    <h1>{{ $ctrl.currentStep.title }}</h1>
    <h2 class="subtitle" ng-if="$ctrl.currentStep.heading != ''">{{ $ctrl.currentStep.heading }}
    </h2>
    <p class="intro">
      <span ng-if="$ctrl.action == 'moveInsurance'">
        Vakuutuksen voi siirtää toiseen vakuutusyhtiöön, kun vakuutus on ollut voimassa kokonaisen kalenterivuoden vakuutusyhtiössä. Esimerkiksi 1.7.2020 alkaneen vakuutuksen voi siirtää toiseen vakuutusyhtiöön 1.1.2022 alkaen.
      </span>

    </p>
  </div>


  <div class="content row">
    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Yrityksen tiedot</legend>
        <salaxy-input ng-model="$ctrl.current.company.details.avatar.displayName" name="companyName" label="Yrityksen nimi" readonly="true" label-type="basic"> </salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.details.officialId" name="vatNumber" label="Y-tunnus" readonly="true" label-type="basic"></salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.address.street" name="streetAddress" label="Katuosoite" readonly="true" label-type="basic"></salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.address.postalCode" name="postalCode" label="Postinumero" readonly="true" label-type="basic"></salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.address.city" name="city" label="Kaupunki" readonly="true" label-type="basic"></salaxy-input>
      </fieldset>
    </div>
    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Edustaja vakuutusasioissa</legend>
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.avatar.displayName" name="contactName" label="Nimi" required label-type="basic"></salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.officialId" name="contactSSNumber" label="Henkilötunnus" required sxy-personal-id-fi label-type="basic"></salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.telephone" name="contactTelephone" label="Puhelinnumero" required sxy-mobile-phone label-type="basic"></salaxy-input>
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.email" name="contactEmail" label="Sähköpostiosoite" required sxy-email label-type="basic"> </salaxy-input>
        <salaxy-input-enum type="select" ng-model="$ctrl.current.company.contactPerson.authorizationType" options="{procuration:'Nimenkirjoitusoikeus', powerOfAttorney:'Valtakirja', apparentAuthority:'Asemavaltuutus', other: 'Jokin muu'}" name="DelegateType" enum="DelegateType" label="Valtuutuksen peruste"
          required label-type="basic"></salaxy-input-enum>
      </fieldset>
    </div>
  </div>


</form>