<form name="currentForm" class="form-horizontal" ng-model="temp">

  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>

  <div class="text-center intro-col">
    <h1>{{ $ctrl.currentStep.title }}</h1>
    <h2 class="subtitle" ng-if="$ctrl.currentStep.heading != ''">{{ $ctrl.currentStep.heading }}
    </h2>

  </div>

  <fieldset>
    <legend>Edustaja vakuutusasioissa</legend>
    <div class="content row">
      <div class="col-sm-8">
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.avatar.displayName" name="contactName" label="Nimi" required label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-4">
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.officialId" name="contactSSNumber" label="Henkilötunnus" required sxy-personal-id-fi label-type="basic"></salaxy-input>

      </div>
      <div class="col-sm-4">
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.telephone" name="contactTelephone" label="Puhelinnumero" required sxy-mobile-phone label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-4">
        <salaxy-input ng-model="$ctrl.current.company.contactPerson.email" name="contactEmail" label="Sähköpostiosoite" required sxy-email label-type="basic"> </salaxy-input>
      </div>
      <div class="col-sm-4">
        <salaxy-input-enum type="select" ng-model="$ctrl.current.company.contactPerson.authorizationType" options="{procuration:'Nimenkirjoitusoikeus', powerOfAttorney:'Valtakirja', apparentAuthority:'Asemavaltuutus', other: 'Jokin muu'}" name="DelegateType" enum="DelegateType"
          label="Valtuutuksen peruste" required label-type="basic"></salaxy-input-enum>
      </div>
    </div>
  </fieldset>

</form>