<form name="currentForm" class="form-horizontal" ng-model="temp">

  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>

  <div class="text-center intro-col">
    <h1>{{ $ctrl.currentStep.title }}</h1>
    <h2 class="subtitle" ng-if="$ctrl.currentStep.heading != ''">{{ $ctrl.currentStep.heading }}
      </h23>
      <p class="intro" ng-if="$ctrl.currentStep.intro != ''">{{ $ctrl.currentStep.intro }}
      </p>
  </div>
  <fieldset>
    <legend>Yrityksen tiedot</legend>
    <div class="row">
      <div class="col-sm-8">
        <salaxy-input ng-model="$ctrl.current.company.details.avatar.displayName" name="companyName" label="Yrityksen nimi" readonly="true" label-type="basic"> </salaxy-input>
      </div>
      <div class="col-sm-4">
        <salaxy-input ng-model="$ctrl.current.company.details.officialId" name="vatNumber" label="Y-tunnus" readonly="true" label-type="basic" sxy-company-id-fi></salaxy-input>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Yrittäjän ja vakuutuksen tiedot</legend>
    <div class="row" ng-repeat="item in $ctrl.current.items">
      <div class="col-sm-8">
        <salaxy-input ng-model="item.insuredName" name="entrepreneurName{{$index}}" label="Yrittäjän nimi" required label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-4">
        <salaxy-input ng-model="item.insuredOfficialId" name="entrepreneurSSNumber{{$index}}" label="Henkilötunnus" required label-type="basic" sxy-personal-id-fi></salaxy-input>
      </div>
      <div class="col-sm-8">
        <salaxy-input-enum type="select" ng-model="item.orderType" options="{newEntrepreneurInsurance:'Uusi yrittäjän tapaturmavakuutus', moveEntrepreneurInsurance:'Vakuutuksen siirto toisesta vakuutusyhtiöstä'}" name="InsuranceOrder{{$index}}" enum="InsuranceOrder"
          label="Vakuutus on" required label-type="basic"></salaxy-input-enum>
      </div>
      <div class="col-sm-4">
        <salaxy-input ng-if="item.orderType == 'moveEntrepreneurInsurance'" ng-model="item.oldInsuranceCompany" label="Nykyisen vakuutusyhtiön nimi" name="insuranceCompany{{$index}}" label-type="basic" required></salaxy-input>
      </div>

      <div class="col-sm-8">
        <salaxy-datepicker-popup ng-if="item.orderType == 'newEntrepreneurInsurance'" ng-model="item.startDate" name="insuranceForEntrepreneurStartDate{{$index}}" format="d!.M!.yyyy" placeholder="pp.kk.vvvv" label="Vakuutuksen alkamisajankohta" datepicker-options="$ctrl.insuranceDateOptions"
          min-date="$ctrl.today" label-type="basic" required></salaxy-datepicker-popup>
        <salaxy-input-enum ng-if="item.orderType == 'moveEntrepreneurInsurance'" label="Vakuutuksen alkamisajankohta" type="select" options="$ctrl.insuranceStartingPointDateOptions" placeholder="Valitse" ng-model="item.startDate" name="insuranceMoveForEntrepreneurStartDate{{$index}}"
          label-type="basic" required></salaxy-input-enum>
      </div>
      <div class="col-sm-4">
        <salaxy-input-enum label="Vakuutuksen maksuerä vuodessa" options="{1:'1', 2:'2', 3:'3', 4:'4'}" ng-model="item.billingInterval" name="billing{{$index}}" label-type="basic" required></salaxy-input-enum>
      </div>


      <div class="col-sm-8">
        <salaxy-input-occupation-type name="occupationType{{$index}}" ng-model="item.occupations[0].occupationCode" label="Ammattiluokka" label-type="basic" required></salaxy-input-occupation-type>
      </div>
      <div class="col-sm-4 ">
        <salaxy-input ng-model="item.occupations[0].estimatedIncome" name="YELincome{{$index}}" label="Vahvistettu YEL-työtulo" label-type="basic" required></salaxy-input>
      </div>
      <div class="col-xs-12 text-right">
        <button class="btn btn-sm btn-danger" ng-click="$ctrl.current.items.splice($index,1)"><i class="fa fa-trash"></i> <span>Poista</span></button>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 ">
        <button class="btn btn-secondary btn-sm" ng-click="$ctrl.current.items.push({ occupations: [{}]})"><i class="fa fa-plus" style="margin-right:5px"></i> Lisää yrittäjä</button>
      </div>
    </div>
  </fieldset>

</form>