<form name="currentForm" class="form-horizontal" ng-model="temp">

  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>

  <div class=" text-center intro-col">
    <h1>{{ $ctrl.currentStep.title }}</h1>
    <h2 class="subtitle" ng-if="$ctrl.currentStep.heading != ''">{{ $ctrl.currentStep.heading }}
    </h2>
    <p class="intro">Vakuutuksen voi siirtää toisesta vakuutusyhtiöstä LähiTapiolaan, kun vakuutus on ollut voimassa kalenterivuoden toisessa vakuutusyhtiössä. Esimerkiksi 1.7.2020 alkaneen vakuutuksen voi siirtää LähiTapiolaan aikaisintaan 1.1.2022. </p>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <!--salaxy-input-enum label="Vakuutuksen alkamisajankohta" type="select" options="{asap:'Ensimmäinen mahdollinen ajankohta', q1:'1.1.', q2:'1.4.', q3:'1.7.', q4: '1.10.'}" placeholder="Valitse" ng-model="$ctrl.current.items[0].startingPoint"
        name="insuranceStartDate" label-type="basic" required></salaxy-input-enum-->
      <salaxy-input-enum label="Vakuutuksen alkamisajankohta" type="select" options="$ctrl.insuranceStartingPointDateOptions" placeholder="Valitse" ng-model="$ctrl.current.items[0].startDate" name="insuranceStartDate" label-type="basic" required></salaxy-input-enum>

    </div>
    <div class="col-sm-6">
      <salaxy-input-enum label="Vakuutuksen maksuerä vuodessa" options="{1:'1', 2:'2', 3:'3', 4:'4'}" ng-model="$ctrl.current.items[0].billingInterval" name="billing" label-type="basic" required></salaxy-input-enum>
    </div>
    <div class="col-sm-6">
      <salaxy-input ng-model="$ctrl.current.items[0].oldInsuranceCompany" label="Nykyinen vakuutusyhtiö" name="insuranceCompany" label-type="basic" required></salaxy-input>
    </div>
    <div class="col-sm-6">
      <salaxy-input ng-model="$ctrl.current.items[0].industry" name="industry" label="Toimiala" label-type="basic" required tooltip-html="Löydät toimialaluokitukset <a href='https://www.stat.fi/fi/luokitukset/toimiala/?code=SSSSS&name=Toimialat%20yhteens%C3%A4' target='blank'>täältä</a>."
        tooltip-placement="top-right"></salaxy-input>

    </div>
  </div>
  <div class="row" ng-repeat="item in $ctrl.current.items[0].occupations">
    <div class="col-sm-6">
      <salaxy-input-occupation-type name="occupationType" ng-model="item.occupationCode" label="Ammattiluokka" label-type="basic" required></salaxy-input-occupation-type>
    </div>
    <div class="col-sm-4 col-xs-9">
      <salaxy-input ng-model="item.estimatedIncome" name="salary" label="Palkat (arvio 12 kk)" sxy-currency label-type="basic" required></salaxy-input>
    </div>
    <div class="col-sm-2 col-xs-3 text-right delete-row-col">
      <button class="btn btn-danger btn-sm" ng-click="$ctrl.current.items[0].occupations.splice($index,1)"><i class="fa fa-trash"></i> <span class="hidden-xs">Poista</span></button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <button class="btn btn-secondary btn-sm" ng-click="$ctrl.current.items[0].occupations.push({})"><i class="fa fa-plus" style="margin-right:5px"></i> Lisää ammattiluokka</button>
    </div>
  </div>


</form>