<form name="currentForm" class="form-horizontal" model="temp">
  <span class="hidden">{{ $ctrl.formDataValidity = currentForm.$valid }}</span>

  <div class="text-center intro-col">
    <h1>{{ $ctrl.currentStep.title }}</h1>
    <h2 class="subtitle" ng-if="$ctrl.currentStep.heading != ''">{{ $ctrl.currentStep.heading }}
    </h2>
    <p class="intro">Selvennä omistajat ja omistusrakenne.</p>
    <p>Jos omistajana on toinen yritys, selvennä omistajayrityksen omistajat niin pitkälle, että lopulta kaikki yrityksen taustalla olevat henkilöomistukset on selvitetty. Jos omistusrakenne on monimutkaisempi, liitä mukaan erillinen omistusrakenteen kuvaus
      tai selvennä omistusrakenne Lisätietoja-kohdassa. Jos omistaja on ulkomainen, ilmoita syntymäaika ja ulkomaiselta yritykseltä ulkomainen rekisterinumero.</p>
  </div>



  <fieldset>
    <legend>Omistajien tiedot</legend>

    <div class="row" ng-repeat="item in $ctrl.current.company.owners">
      <div class="col-sm-8">
        <salaxy-input ng-model="item.avatar.displayName" name="ownerName{{$index}}" label="Omistajan nimi" label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-4">
        <salaxy-input ng-model="item.officialId" name="ownerPersonalId{{$index}}" label="Henkilötunnus / Y-tunnus" label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-8">
        <salaxy-input ng-model="item.address" name="ownerAddress{{$index}}" label="Osoite (myös maa)" label-type="basic"></salaxy-input>
      </div>
      <div class="col-sm-4 ">
        <salaxy-input ng-model="item.percentOfShares" name="ownerShare{{$index}}" label="Omistusosuus (%)" label-type="basic"></salaxy-input>
      </div>
      <div class="col-xs-12 text-right">
        <button class="btn btn-danger btn-sm" ng-click="$ctrl.current.company.owners.splice($index,1)"><i class="fa fa-trash"></i> Poista</button>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 ">
        <button class="btn btn-secondary btn-sm" ng-click="$ctrl.current.company.owners.push({ avatar: {}})"><i class="fa fa-plus" style="margin-right:5px"></i> Lisää omistaja</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Lisätietoja</legend>
    <salaxy-input-boolean ng-model="$ctrl.current.company.complexOwnerStructure" label-type="no-label" name="additionalOwnerInfo" type="checkbox" label-true="Omistusrakenne on liian monimutkainen täytettäväksi lomakkeella. Haluan, että LähiTapiola ottaa minuun yhteyttä."></salaxy-input-boolean>
  </fieldset>

</form>