<div class="row row-video">
  <div class="col-sm-6">
    <h1 class="text-center">
      Jokainen yritys ja sen ihmiset ovat ainutlaatuisia.
    </h1>
  </div>
  <div class="col-sm-6" class="text-center">
    <div class="video-wrapper">
      <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/LDuzMEsPz4o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 spacer-bottom">
    <h2 class="start-subtitle text-center">Valitse tarvitsemasi vakuutus</h2>
    <p class="text-center">Keräämme tällä lomakkeella/sivustolla tiedot työtapaturmavakuutusta varten, jotka lähetetään LähiTapiolalle käsiteltäväksi.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-xs-12 text-center spacer-bottom">
    <button type="button" class="btn btn-primary btn-sm xs-margin-top" ng-click="$ctrl.setInsuranceAction('newInsurance'); $ctrl.goNext()">Uusi työtapaturmavakuutus</button>
  </div>
  <div class="col-sm-6 col-md-4 col-xs-12 text-center spacer-bottom">
    <button type="button" class="btn btn-primary btn-sm xs-margin-top" ng-click="$ctrl.setInsuranceAction('moveInsurance'); $ctrl.goNext()">Työtapaturmavakuutuksen siirto</button>
  </div>
  <div class="col-sm-12 col-md-4 col-xs-12 text-center spacer-bottom">
    <button type="button" class="btn btn-primary btn-sm xs-margin-top" ng-click="$ctrl.setInsuranceAction('newInsuranceForEntrepreneur'); $ctrl.goNext()">Yrittäjien tapaturmavakuutus</button>
  </div>
</div>