<div class="text-center spacer-bottom">
  <h1>
    {{ $ctrl.currentStep.title }}
  </h1>


  <p class="intro">LähiTapiola lähettää vakuutustarjouksen sähköpostilla, jonka hyväksymällä saat vakuutuksen voimaan. Vakuutus tulee aikaisintaan voimaan hyväksymispäivästä. </p>

  <p ng-if="$ctrl.action == 'newInsurance' || $ctrl.action == 'moveInsurance'">
    Entä Yrittäjien tapaturmavakuutus? Yrittäjien tapaturmavakuutus on laajin mahdollinen vakuutusturva yrittäjälle tapaturman varalta. Lisätietoja tapaturmavakuutuksesta <a href=" https://www.lahitapiola.fi/yritys/vakuutukset/lakisaateiset-henkilovakuutukset/yrittajien-tapaturmavakuutus"
      target="_blank">lahitapiola.fi –sivulta</a>.
  </p>
  <p ng-if="$ctrl.action == 'newInsuranceForEntrepreneur'">
    Entä työtapaturmavakuutus työntekijälle? Lisätietoja tapaturmavakuutuksesta <a href=" https://www.lahitapiola.fi/yritys/vakuutukset/lakisaateiset-henkilovakuutukset/yrittajien-tapaturmavakuutus" target="_blank">lahitapiola.fi –sivulta</a>.
  </p>
</div>

<div class="row" ng-if="$ctrl.action == 'newInsurance' || $ctrl.action == 'moveInsurance'" style="margin-top:30px;">
  <div class="col-sm-6 col-xs-12 spacer-bottom text-center">
    <button class="btn btn-primary btn-sm" ng-click="$close()">Sulje</button>
  </div>
  <div class="col-sm-6 spacer-bottom text-center">
    <button class="btn btn-primary btn-sm" ng-click="$ctrl.setInsuranceAction('newInsuranceForEntrepreneur');  $ctrl.goNext()">Otan Yrittäjien tapaturmavakuutuksen</button>
  </div>
</div>

<div class="row" ng-if="$ctrl.action == 'newInsuranceForEntrepreneur'" style="margin-top:30px;">
  <div class="col-xs-12 col-sm-6 spacer-bottom text-center">
    <button class="btn btn-primary btn-sm" ng-click="$close()">Sulje</button>
  </div>
  <div class="col-sm-6 spacer-bottom text-center">
    <button class="btn btn-primary btn-sm" ng-click="$ctrl.setInsuranceAction('newInsurance'); $ctrl.goNext()">Otan työtapaturmavakuutuksen</button>
  </div>
</div>