﻿<form>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" id="sample3-id" class="form-control" placeholder="Calculation id"><br>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-danger" onclick="deleteCalculation()"> Delete Calculation</button>
        </div>
        <div class="col-sm-4">
            <span id="sample3-result" class="label label-default"></span>
        </div>
    </div>
</form>