<div>
  <h1 class="page-header">
    Our main UI library:
    <code>@salaxy/ng1</code>
  </h1>
  <p class="lead">
    <strong>@salaxy/ng1 is our most tried and tested workhorse for User Interfaces development.</strong>
    We have been running our AngularJS / Angular 1 based stack in production since beginning of 2016 on our Palkkaus.fi web site.
    In fall 2016 we refactored the stack to the latest
    <a href="https://docs.angularjs.org/guide/component" target="_blank">Angular 1.5 Component</a> architecture. This means that it is really clear and nice to use, extend and customize.
  </p>
  <p>
    If you are unsure which stack to choose, this is the stack that we recommend to most use cases:
    While our newer Web Components, Ionic, Vue and Angular based libraries are much more technically advanced,
    there is a learning curve and AngularJS is the safest choice with a lot of material and developer experience.
    It is also very easy to integrate to existing server-side and SPA frameworks.
  </p>
  <p class="lead" ng-if="$ctrl.isInSalaxyMainSite">
    <strong>
      <a href="/ng1">Please read more in our @salaxy/ng1 site &raquo;</a>
    </strong>
  </p>
  <div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-ng1.png" class="img-responsive thumbnail" />
  </div>
  <h3>Hundreds of componets for salary payment</h3>
  <p class="lead">
    As of writing our @salaxy/ng1 library provides 
    <strong>134 Open Source <a href="/ng1/#/docs/components">components</a> for salary payment</strong>. 
    This is a huge amount already, but in addition we provide you with constantly updating
    template web sites, services, pages, directives and filters.
  </p>
  <p>
    You can browse though all our components on our <a href="/ng1/#/docs/components">Components page</a>.
    A good way to start is also to read through our <a href="/ng1/#/demos">Getting Started and Demos</a> section.
    Please note that we are also very happy to help you in developing your own salary payment site.
  </p>
  <p class="lead" ng-if="$ctrl.isInSalaxyMainSite">
    <strong>
      <a href="/ng1">Please read more in our @salaxy/ng1 site &raquo;</a>
    </strong>
  </p>
  <div><img src="/ng1/img/docs/components.png" class="img-thumbnail img-responsive" /></div>
  <h3>About AngularJS Support</h3>
  <p>
    <strong>Worried about AngularJS being old?</strong>
    It is true that AngularJS is at the end of its lifecycle, currently in 
    <a href="https://docs.angularjs.org/misc/version-support-status" target="_blank">long term support</a>.
    However, you should understand about AngularJS:
  </p>
  <ul>
    <li>
      AngularJS is a very mature environment and significant problems and their errors have been rare for several years:
      There has simply not been much need for fixes as the new development happens in
      <a href="https://angular.io/" target="_blank">new Angular</a>.
    </li>
    <li>There is still a large community using AngularJS, so fixes are expected even if the "official support" by Google ends.</li>
    <li>
      It is possible to buy <a href="https://xlts.dev/angularjs" target="_blank">Extended Long Term Support</a>
      from a commercial provider, if you need it.
    </li>
    <li>
      Everything we use is open source, so it is easy to fix problems even ourselves.
      We have been developing AngularJS, for years so 
    </li>
  </ul>
  <p class="lead">
    <strong>However</strong> if you think AngularJS is really too old for you, don't worry: We got you covered.
    Our new libraries are built with Web Components, Vue and Ionic. As the bases are
    <strong>Standard Web Components</strong> you could even use them in React, Angular and other frameworks.
    <strong>We have been running the new libraries since fall 2020 in limited production</strong>,
    so they are probably ready for your needs as well. They are just not ready for Open Source publishing yet.<br />
    <strong>Please contact us for more information</strong>.
  </p>
</div>