<salaxy-form-group name="{{$ctrl.id}}" class="salaxy-component salaxy-read-only" label="{{$ctrl.getLabel()}}">
  <div class="salaxy-read-only-value">{{ $ctrl.value | date : "dd.MM.yyyy HH:mm" }}</div>
</salaxy-form-group>
