<div class="panel panel-default" id="{{ $ctrl.component || $ctrl.controller }}">
    <div class="panel-heading">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="$ctrl.toggleSource('html')">HTML</button>
            <button class="btn btn-xs btn-primary" ng-if="$ctrl.hasJs" ng-click="$ctrl.toggleSource('js')">Script</button>
            <button class="btn btn-xs btn-primary" ng-if="$ctrl.hasCss" ng-click="$ctrl.toggleSource('css')">Styles</button>
            <button class="btn btn-xs btn-primary" ng-if="$ctrl.componentTemplate" ng-click="$ctrl.toggleSource('template')">Component template</button>
        </div>
        <h2 class="panel-title">
            {{$ctrl.title}}
            <span ng-show="$ctrl.filter"> &nbsp; <a ng-href="{{$ctrl.getFilterUrl()}}" class="btn btn-default btn-xs">{{$ctrl.filter}}</a></span>
            <span ng-show="$ctrl.directive"> &nbsp; <a ng-href="{{$ctrl.getDirectiveUrl()}}" class="btn btn-default btn-xs">{{$ctrl.directive}}</a></span>
            <span ng-show="$ctrl.component"> &nbsp; <a ng-href="{{$ctrl.getComponentUrl()}}" class="btn btn-default btn-xs">{{$ctrl.component}}</a></span>
            <span ng-show="$ctrl.controller"> &nbsp; <a ng-href="{{$ctrl.getControllerUrl()}}" class="btn btn-default btn-xs">{{$ctrl.controller}}</a></span>
        </h2>
    </div>
    <div class="source" ng-show="$ctrl.showHtml">
        <pre><code ng-bind="$ctrl.getSource()"></code></pre>
    </div>
    <div class="source" ng-show="$ctrl.showJs">
        <pre><code ng-bind="$ctrl.getSource('js')"></code></pre>
    </div>
    <div class="source" ng-show="$ctrl.showCss">
        <pre><code ng-bind="$ctrl.getSource('css')"></code></pre>
    </div>
    <div class="source" ng-show="$ctrl.showTemplate">
        <pre><code ng-bind="$ctrl.getSource('template')"></code></pre>
    </div>
    <div class="panel-body">
        <div class="salaxy-demo-description">
            <ng-transclude></ng-transclude>
        </div>
        <ng-include src="$ctrl.getUrl()"></ng-include>
    </div>
</div>