<div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div style="background-color: #999; color: white; padding: 4px 12px;">
    <b><small>Example</small></b>
  </div>
  <div style="padding: 12px; position: relative;" ng-transclude="main">TODO: Example HTML not specified.</div>
</div>