<div class="modal-payment-settings" ng-controller="PaymentDialogController as $ctrl">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Testimaksukanava, välitön maksu</h2>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <p class="lead">
        <strong>Testimaksukanava</strong>:
        Testimaksukanava on tarkoitettu laskujen ja maksujen testaukseen. Testimaksukanavaa ei voi käyttää tuotannossa.
      </p>
      <fieldset>
        <legend>Testausasetukset</legend>
        <salaxy-input-boolean name="auth" ng-model="$ctrl.useAuthentication" type="radio" label="Autentikoinnin testaus" label-true="Testaa autentikointi"
          label-false="Ei autentikoinnin testausta"></salaxy-input-boolean>
      </fieldset>
      <div class="row" ng-if="$ctrl.error">
        <div class="alert alert-danger" ng-if="$ctrl.error.data">
          Tapahtui virhe: {{$ctrl.error.data.errorMessage}}
        </div>
        <div class="alert alert-danger" ng-if="!$ctrl.error.data">
          Tapahtui virhe: {{$ctrl.error.statusText}}
        </div>
      </div>
      <div class="row" ng-if="$ctrl.success=='verify'">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Saaja ja laskun tyyppi</th>
              <th>Tila</th>
              <th class="right">
                Laskun päivä<br />
                Eräpäivä
              </th>
              <th class="right">
                Laskun summa
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="invoice in $ctrl.verificationResult">
              <td class="td-avatar middle">
                <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="invoice.recipient.beneficiary.avatar"></salaxy-avatar>
              </td>
              <td class="middle">
                {{ invoice.recipient.fullName }}<br>
                <small class="hidden-xxs">{{invoice.header.message}}</small>
              </td>
              <td class="middle">
                {{ "InvoiceStatus." + invoice.header.status | sxyEnum }}
              </td>
              <td class="middle right">
                <div>{{ invoice.header.date | sxyDate }}</div>
                <div>{{ invoice.header.dueDate | sxyDate }}</div>
              </td>
              <td class="middle right">
                <strong>{{ invoice.header.total | currency }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.close('ok','pay')" ng-disabled="$ctrl.isLoading">Maksa <span ng-show="$ctrl.loaders['pay']"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.close('ok','verify')" ng-disabled="$ctrl.isLoading">Tarkista maksun tila <span ng-show="$ctrl.loaders['verify']"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
    <button type="reset" class="btn btn-default" ng-click="$ctrl.close('cancel')">Peruuta</button>
  </div>
</div>