<div class="modal-payment-settings" ng-controller="SettingsDialogController as $ctrl">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Testimaksukanava, asetukset</h2>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <p class="lead">
        <strong>Testimaksukanava</strong>:
        Testimaksukanava on tarkoitettu laskujen ja maksujen testaukseen. Testimaksukanavaa ei voi käyttää tuotannossa.
      </p>
      <fieldset>
        <legend>Testausasetukset</legend>
        <salaxy-input-boolean name="auth" ng-model="$ctrl.useAuthentication" type="radio" label="Autentikoinnin testaus" label-true="Testaa autentikointi"
          label-false="Ei autentikoinnin testausta"></salaxy-input-boolean>
      </fieldset>
      <fieldset>
        <legend>Asetukset</legend>
        <salaxy-input-boolean name="default" ng-model="$ctrl.isDefault" type="checkbox" label="Aseta oletusmaksutavaksi"></salaxy-input-boolean>
        <salaxy-input-boolean name="coa" ng-model="$ctrl.configureCoa" type="checkbox" label="Konfiguroi kirjanpidon tilikartta"></salaxy-input-boolean>
      </fieldset>
      <div class="row" ng-if="$ctrl.error">
        <div class="alert alert-danger" ng-if="$ctrl.error.data">
          Tapahtui virhe: {{$ctrl.error.data.errorMessage}}
        </div>
        <div class="alert alert-danger" ng-if="!$ctrl.error.data">
          Tapahtui virhe: {{$ctrl.error.statusText}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right" ng-if="$ctrl.current">
    <button type="button" class="btn btn-danger" ng-if="$ctrl.current.settings.isEnabled" ng-disabled="$ctrl.isLoading" ng-click="$ctrl.close('delete')">Poista käytöstä <span ng-show="$ctrl.loaders['delete']"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
    <button type="submit" class="btn btn-primary" ng-if="!$ctrl.current.settings.isEnabled" ng-disabled="$ctrl.isLoading" ng-click="$ctrl.close($ctrl.isDefault ? 'set-default' : 'ok')">Ota käyttöön <span ng-show="$ctrl.loaders['set-default'] || $ctrl.loaders['ok']"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
    <button type="submit" class="btn btn-primary" ng-if="$ctrl.current.settings.isEnabled" ng-disabled="$ctrl.isLoading" ng-click="$ctrl.close($ctrl.isDefault ? 'set-default' : 'ok')">Tallenna ja sulje <span ng-show="$ctrl.loaders['set-default'] || $ctrl.loaders['ok']"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
    <button type="reset" class="btn btn-default" ng-click="$ctrl.close('cancel')">Peruuta</button>
  </div>
</div>