//
// Palkkaus.fi / Salaxy layout
// --------------------------------------------------

//== Palkkaus.fi colors
//
//## Brand colors are derived from Palkkaus.fi logo
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:               rgb(0,159,216);
@brand-success:               rgb(40,149,72);
@brand-info:                  rgb(145,210,20);
@brand-warning:               rgb(255,145,30);
@brand-danger:                rgb(213,85,82);

@font-family-sans-serif:      Roboto, Helvetica, Arial, sans-serif;
@font-size-base:              14px;
@font-size-small:             ceil((@font-size-base * 0.85));
@font-size-h6:                ceil((@font-size-base * 0.85));
@icon-font-path:              "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/";


//** A bit less rounding in base border
@border-radius-base:          2px;

@btn-default-border:          @brand-primary;
@btn-primary-border:          @brand-primary;
@btn-success-border:          @brand-success;
@btn-info-border:             @brand-info;
@btn-warning-border:          @brand-warning;
@input-border-radius:         0px;

@navbar-inverse-color:        #fff;
@navbar-inverse-border:       #fff;
@navbar-inverse-link-color:   #fff;

@state-success-text:          @brand-success;
@state-success-bg:            lighten(@brand-success, 50%);
@state-success-border:        @brand-success;

@state-info-text:             @brand-info;
@state-info-bg:               lighten(@brand-info, 70%);
@state-info-border:           @brand-info;

@state-warning-text:          @brand-warning;
@state-warning-bg:            lighten(@brand-warning, 50%);
@state-warning-border:        @brand-warning;

@state-danger-text:           @brand-danger;
@state-danger-bg:             lighten(@brand-danger, 70%);
@state-danger-border:         @brand-danger;

@modal-inner-padding:         20px;
@modal-title-padding:         20px;

@panel-default-text:          white;
@panel-default-border:        @gray;
@panel-default-heading-bg:    @gray;
@panel-primary-text:          white;
@panel-success-text:          white;
@panel-success-heading-bg:    @state-success-border;
@panel-info-text:             white;
@panel-info-heading-bg:       @state-info-border;
@panel-warning-text:          white;
@panel-warning-heading-bg:    @state-warning-border;
@panel-danger-text:           white;
@panel-danger-heading-bg:     @state-danger-border;             


/* Powered by styles */

@poweredby-logo-path: "https://cdn.salaxy.com/ng1/img/poweredby/palkkaus-logo-dark.png";
@poweredby-visibility: hidden;

/* Dialog logo */

@dialog-logo-path: "https://cdn.salaxy.com/ng1/img/partners/palkkaus-logo.png";