<div>
  <form>
    <div class="col-xs-12 form-horizontal">
      <salaxy-input-enum
        type="select"
        name="action"
        label="Action"
        ng-model="temp.action"
        options="{ 'newCalc': 'New calculation', 'newCalcForWorker' : 'New calculation for worker', 'newMessage' : 'New message thread', 'newPayroll' : 'New payroll', 'newWorker': 'New worker', 'error' : 'Error' }"
        ng-init="temp.action='newCalc'"
      ></salaxy-input-enum>
      <salaxy-input
        ng-if="temp.action == 'newCalcForWorker'"
        label="Id of the worker"
        name="worker"
        ng-model="temp.workerId"
      ></salaxy-input>
      <salaxy-input
        name="buttonLabel"
        label="Button label"
        ng-model="temp.label"
      ></salaxy-input>
      <salaxy-input
        name="buttonClass"
        label="buttonClass"
        ng-model="temp.buttonClass"
        tooltip-html="Additional class for button.<br>Try: <br>&bull; btn-success<br>&bull; btn-sm<br>&bull; uppercase<br>&bull; pull-right"
        tooltip-placement="top-right"
        ng-init="temp.buttonClass = 'btn-primary'"
      ></salaxy-input>
    </div>
    <div class="col-sm-8 col-xs-12 col-sm-offset-4">
      <div
        style="
          border: 1px solid #ccc;
          margin-bottom: 15px;
          padding: 15px;
          width: 100%;
          display: table;
        "
      >
        <salaxy-action-button
          action="temp.action"
          label="{{temp.label}}"
          options="{'id': temp.workerId}"
          button-class="{{temp.buttonClass}}"
        ></salaxy-action-button>
      </div>
    </div>
  </form>
</div>
