<div ng-controller="DemoDataController as $ctrl">
  <fieldset>
    <legend>Alerts inline in HTML</legend>
    <p>
      Alert boxes are designed to show an Alert in the content area.
    </p>
    <salaxy-alert type="primary">
      <main>
        Tulorekisteri otetaan käyttöön 1.1.2019.<br>
        Palkkaus.fi on valmistautunut muutokseen ja sinun asiakkaana ei tarvitse tehdä mitään.
      </main>
      <aside>
        <p>
          Tiedotamme Tulorekisterin tuomista uudistuksista hyvissä ajoin ennen vuodenvaihdetta. Tutustu Tulorekisteriin
          jo nyt osoitteessa <a href="http://www.tulorekisteri.com/" target="_blank">www.tulorekisteri.com</a>.
        </p>
      </aside>
    </salaxy-alert>
    <salaxy-alert type="success" close="true">
      <main>
        <p>Only HTML content<br />in this box.</p>
      </main>
    </salaxy-alert>
    <salaxy-alert type="info" icon="none" text="Simple info text without an icon">
      <aside>
        <p>Additional information here.</p>
      </aside>
    </salaxy-alert>
    <salaxy-alert type="warning" text="This is a Warning"></salaxy-alert>
    <salaxy-alert type="danger" text="...and a Danger"></salaxy-alert>
  </fieldset>
  <fieldset>
    <legend>Show alert from script (top-right corner)</legend>
    <p>
      Alternatively, you may use our AlertService for showing alerts in the top-right corner.
      These alerts pop-up and will automatically be closed after defined period.
    </p>
    <button class="alert alert-danger" ng-click="$ctrl.addAlert('My <b>danger</b> message','danger')">
      Danger alert
    </button>
    <button class="alert alert-warning" ng-click="$ctrl.addAlert('My <b>warning</b> message','warning')">
      Warning alert
    </button>
    <button class="alert alert-success" ng-click="$ctrl.addAlert('My <b>success</b> message','success')">
      Success alert
    </button>
    <button class="alert alert-info" ng-click="$ctrl.addAlert('My <b>info</b> message','info')">
      Info alert
    </button>
  </fieldset>
</div>