<div ng-controller="SessionController as SessionCtrl" style="font-size: 64px">
  <salaxy-avatar avatar="SessionCtrl.avatar" ></salaxy-avatar>

  <salaxy-avatar avatar="{ initials: 'XX', color: 'red' }" ></salaxy-avatar>

  <salaxy-avatar avatar="{ initials: 'YY', color: '#00FF00', entityType: 'company'  }" ></salaxy-avatar>

  <salaxy-avatar avatar="{ pictureType: 'uploaded', url: 'https://cdn.salaxy.com/img/elems/people/paasikivi_eerik.jpg'  }"></salaxy-avatar>
</div>