<div ng-controller="CalendarController">
  <span ng-init="data=[{key: '1', title: 'Ensimmäinen sarja', events : [{ summary: 'Period 1', description: 'P1 description', start: '2019-01-05', end: '2019-02-15'}, { start: '2019-01-15', summary: 'Day 1', description: 'D1 description'},{ start: '2019-03-22', summary: 'Day 2', description: 'D2 description', cssClass: 'text-warning', icon: 'fa-envelope'}]}, {title: 'Toinen rivi', key: '2', events : [{ start: '2019-02-10', end: '2019-02-28', cssClass: 'salaxy-cal-event-warning'}, { start: '2019-02-15', icon: 'fa-envelope', cssClass: 'text-danger' },{ start: '2019-03-01'}]}]"></span>
  <span ng-init="start='2019-01-01';end='2019-03-31';today='2019-02-14'"></span>
  <div>
    <h3>Mode: align-weekdays (default)</h3>
    <salaxy-calendar start="start" end="end" today="today" data="data"></salaxy-calendar>
    <hr />
    <h3>Mode: align-left</h3>
    <salaxy-calendar start="start" end="end" today="today" mode="align-left" data="data"></salaxy-calendar>
    <hr />
    <h3>Mode: horizontal</h3>
    <salaxy-calendar start="start" end="end" today="today" mode="horizontal" data="data"></salaxy-calendar>
    <h3>Overlapping periods</h3>
    <salaxy-calendar start="'2019-01-01'" end="'2019-01-31'" today="'2019-01-14'" data="[{ start: '2019-01-05', end: '2019-01-15'}, { cssClass: 'salaxy-cal-event-warning', start: '2019-01-13', end: '2019-01-28'},{ cssClass: 'salaxy-cal-event-info', start: '2019-01-10', end: '2019-01-17'}]"></salaxy-calendar>
    <h3>Overlapping single-day events</h3>
    <salaxy-calendar start="'2019-01-01'" end="'2019-01-31'" today="'2019-01-14'" data="[{ start: '2019-01-05', end: '2019-01-28'}, '2019-01-13', { cssClass: 'text-warning', start: '2019-01-13', icon: 'fa-envelope'}, { cssClass: 'text-danger', icon: 'fa-bell', start: '2019-01-13', end: '2019-01-17'}, '2019-01-17', { cssClass: 'text-warning', start: '2019-01-17'}]"></salaxy-calendar>
    <hr />
    <salaxy-calendar start="start" end="end" today="today" mode="list" data="data"></salaxy-calendar>
  </div>
</div>