<div>
  <salaxy-chart ng-controller="ChartController as ctrl" type="pie" labels="{['Download Sales', 'In-Store Sales', 'Mail-Order Sales']}" data="{[300,500,100]}" on-get-chart="ctrl.getChart()"></salaxy-chart>
</div>