<salaxy-json-formatter key="'Debugger button'" json="$ctrl.current" type="dialog"></salaxy-json-formatter>
<hr />
<salaxy-json-formatter open="2" key="'Inline debugger'" json="$ctrl.current"></salaxy-json-formatter>