<div class="row">
  <div class="col-sm-6">
      <p>mode: default</p>
      <salaxy-navi-sitemap mode="default"></salaxy-navi-sitemap>
  </div>
  <div class="col-sm-6">
      <p>mode: accordion</p>
      <salaxy-navi-sitemap mode="accordion"></salaxy-navi-sitemap>
  </div>
</div>