<fieldset class="form-horizontal">
  <legend>Spinner example</legend>
  <salaxy-input-boolean name="isFullScreen" ng-model="$ctrl.isFullScreen" label="Full screen"></salaxy-input-boolean>
  <salaxy-spinner full-screen="$ctrl.isFullScreen" heading="Loading here..." text="Please wait text here."></salaxy-spinner>
</fieldset>

