<salaxy-tabs active="active">
    <salaxy-tab>
        <salaxy-tab-heading>Tab number one</salaxy-tab-heading>
        <salaxy-tab-content>
            <p>Tab one content</p>
        </salaxy-tab-content>
    </salaxy-tab>
    <salaxy-tab index="'two'">
        <salaxy-tab-heading><i>Tab number two</i></salaxy-tab-heading>
        <salaxy-tab-content>
            <p>Tab two content</p>
        </salaxy-tab-content>
    </salaxy-tab>
    <salaxy-tab disable="true" heading="Tab number three (text heading)">
        <salaxy-tab-content>
            <p>Tab three content</p>
        </salaxy-tab-content>
    </salaxy-tab>
</salaxy-tabs>
<pre>{{active | json}}</pre>
<button ng-click="active='two'">Set two to active</button>
