<main class="salaxy-content sxytpl-workers-list">
  <section>
    <salaxy-action-button label="Uusi työntekijä" action="'newWorker'"></salaxy-action-button>
    <salaxy-worker-list></salaxy-worker-list>
  </section>
</main>