<main class="salaxy-content sxytpl-workers-taxcardslist">
  <section class="sxytpl-intro">
    <p class="lead">
      Verokorttilistaus näyttää kaikki työsuhteet ja voimassa olevat verokortit tietylle palkanmaksupäivälle.
    </p>
  </section>
  <section class="sxytpl-list">
    <salaxy-tax-cards-list></salaxy-tax-cards-list>
  </section>
</main>