.embed iframe {
  width: 100%;
  height: calc(100vh - 80px);
  border: none;
}

img.sxydev-screenshot-table {
  min-height: 50px;
  min-width: 50px;
  max-height: 100px; 
  max-width: 200px;
  margin: -4px
}
img.sxydev-screenshot-main {
  min-height: 100px;
  min-width: 100px;
  max-width: 50%;
  margin: 4px
}
img.sxydev-screenshot-main:before {
  min-height: 90px;
  min-width: 90px;
}
.sxydev-screenshot:before {
  content: ' ';
  display: block;
  position: absolute;
  min-height: 42px;
  min-width: 42px;
  background-image: url(/ng1/screen-shots/error-404.png);
  background-size: contain;
}

div.sxydoc-example {
  border-left: 3px solid gray; 
  padding: 2px;
  padding-left: 12px;
}

small.sxydoc-example {
  display: block;
  background-color: gray;
  color: white;
  padding: 1px;
  padding-left: 12px;
}
