<p>Palkkaus.fi payment dialogs home.</p>
<ul>
  <li><a href="salaxy/test#dialogs/settings">Test Payment Channel</a></li>
  <li><a href="partners/default/no-angularjs.html">Partner Channel</a></li>
</ul>