<div class="salaxy-component salaxy-account-details-person">
  <div class="row">
    <div class="col-xs-12  col-md-4 account-info-container">
      <div class="light-bg">
        <div class="worker-avatar-wrapper ">
          <salaxy-account-info-person></salaxy-account-info-person>
        </div>
      </div>
      <div>&nbsp;</div>
      <div class="light-bg profile-card text-center">
        <div class="role-info-wrapper">
          <div sxy-if-role="worker">
            <p class="text-primary">
              Olet kirjautunut Palkkaus.fi-palveluun työntekijänä ja näet käyttöliittymän työntekijän näkökulmasta.
            </p>
            <a class="btn btn-primary" ng-click="$ctrl.switchRole('household')">Kirjaudu kotitaloutena</a>
          </div>
          <div sxy-if-role="household">
            <p class="text-primary">
              Olet kirjautunut Palkkaus.fi-palveluun kotitaloutena ja näet käyttöliittymän kotitalouden näkökulmasta.
              <a class="btn btn-primary" ng-click="$ctrl.switchRole('worker')">Kirjaudu työntekijänä</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8" ng-if="$ctrl.current">
      <div>
        <uib-tabset active="$ctrl.currentTab">
          <uib-tab index="'default'" heading="Henkilötiedot">
            <salaxy-account-details-edit-person current="$ctrl.current"></salaxy-account-details-edit-person>
          </uib-tab>
          <uib-tab index="'contact'" heading="Yhteystiedot">
            <salaxy-account-contact-edit-person current="$ctrl.current"></salaxy-account-contact-edit-person>
          </uib-tab>
          <uib-tab index="'avatar'" heading="Kuva">
            <salaxy-account-avatar-edit-person current="$ctrl.current"></salaxy-account-avatar-edit-person>
          </uib-tab>
          <uib-tab index="'identity'" heading="Tunnistautuminen">
            <salaxy-account-authorization-person></salaxy-account-authorization-person>
          </uib-tab>
          <uib-tab index="'insurance'" heading="Vakuutukset" ng-if="'household' | sxyIsInRole">
            <salaxy-account-insurance-edit-person></salaxy-account-insurance-edit-person>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>