﻿<div class="salaxy-component salaxy-account-authorization-person">
  <form name="accountAuthorization" sxy-if-role="auth">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12">
        <legend>Tunnistautuminen</legend>
        <div class="row table-row" ng-if="!$ctrl.session.currentAccount.identity.contract.isSigned">
          <div class="col-xs-12 ">
            <strong>Et ole vielä tunnistautunut</strong><br>
            <button sxy-if-role="worker" class="btn btn-primary" ng-controller="WorkerOnboardingController as $wizard" ng-click="$wizard.launch()">Tunnistaudu</button>
            <button sxy-if-role="household" class="btn btn-primary" ng-controller="HouseholdOnboardingController as $wizard" ng-click="$wizard.launch()">Tunnistaudu</button>
          </div>
        </div>
        <div class="row table-row" ng-if="$ctrl.session.currentAccount.identity.contract.isSigned">
          <div class="col-xs-12">
            <strong>Olet tunnistautunut {{$ctrl.session.currentAccount.identity.contract.signedAt | date}}.</strong>
          </div>
        </div>
        <div class="row table-row">
          <div class="col-xs-12 col-sm-4">
            <strong>Tunniste:</strong>
          </div>
          <div class="col-xs-12 col-sm-8">
            {{$ctrl.session.currentCredential.avatar.id}}
          </div>
        </div>
        <div class="row table-row">
          <div class="col-xs-12 col-sm-4">
            <strong>Valtuutus:</strong>
          </div>
          <div class="col-xs-12 col-sm-4">
            {{'SALAXY.ENUM.AuthorizationType.' + $ctrl.session.currentAccount.identity.contract.authorizationType + '.label' |sxyTranslate}}
          </div>
          <div class="col-xs-12 col-sm-4  text-right" ng-if="$ctrl.session.currentAccount.identity.contract.authorizationType == 'employerAuthorization'">
            <a class="btn btn-default btn-block btn-sm" ng-href="{{$ctrl.authorizationPdfUrl}}" target="_blank">Katsele</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-12 margin-top-md margin-top-xs">
        <legend>Käyttäjätiedot</legend>
        <div class="row table-row">
          <div class="col-xs-12 col-sm-4">
            <strong>Käyttäjätunnus:</strong>
          </div>
          <div class="col-xs-12 col-sm-8">
            {{$ctrl.session.currentCredential.email}}
          </div>
        </div>
        <div class="row table-row">
          <div class="col-xs-12 col-sm-4">
            <strong>Kirjautumistapa:</strong>
          </div>
          <div class="col-xs-12 col-sm-8">
            {{'SALAXY.ENUM.AuthenticationMethod.' + $ctrl.session.currentCredential.authenticationMethod + '.label' |sxyTranslate}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>