<div class="salaxy-component salaxy-account-info-person">
  <div class="worker-avatar-wrapper text-center">
    <salaxy-avatar avatar="$ctrl.avatar"></salaxy-avatar>
  </div>
  <div class="info-wrapper text-center" style="margin-top:15px;">
    <h2>{{ $ctrl.person.avatar.displayName || ("SALAXY.NG1.WorkerInfo.noSelection" | sxyTranslate) }}</h2>
    <div class="account-info-contact-details">
      <span ng-if="$ctrl.person.contact.telephone">{{$ctrl.person.contact.telephone}}</span>
      <br /> {{ $ctrl.person.contact.email }}
      <br>
      <span ng-if="$ctrl.person.identity.ibanNumber">
        {{ $ctrl.person.identity.ibanNumber | sxyIban }}
      </span>
    </div>
  </div>
</div>