<div class="salaxy-component salaxy-account-insurance-edit-person">
  <form name="insuranceForm" class="form-horizontal">
    <legend>Tapaturmavakuutus</legend>
    <div class="input-info">
      <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
      <p class="small input-info-text with-icon">
        Lakisääteinen tapaturmavakuutus on työnantajalle pakollinen, jos maksat palkkaa kaikille työntekijöillesi yhteensä
        <strong>väh. 1300€</strong> kalenterivuoden aikana. Vakuutus on työnantajan vakuutus, joka kattaa kaikki hänen työntekijänsä.
      </p>
      <p class="small input-info-text with-icon" ng-if="($ctrl.personal.insurance.company || 'none') == 'none'">
        Saat hankittua työnantajan lakisääteisen työtapaturmavakuutuksen omasta vakuutusyhtiöstäsi.
        <strong>HUOM:</strong> Vakuutus pitää olla voimassa ennen töiden aloittamista.
      </p>
    </div>
    <div>
      <p>
        <b>Anna voimassa olevan vakuutuksen tiedot.</b>
        Valitse "Ei yhtiötä", jos sinulla ei ole vakuutusta.
      </p>
      <salaxy-input-enum ng-model="$ctrl.personal.insurance.company" type="select" enum="InsuranceCompany"
        filter="none,fennia,if,lähiTapiola,pohjantähti,pohjola,turva,aVakuutus,folksam,alandia,ålands" label="SALAXY.MODEL.InsuranceContract.company.editLabel"
        name="insurance-company" require="true"></salaxy-input-enum>
      <div ng-if="($ctrl.personal.insurance.company || 'none') != 'none'">
        <salaxy-input ng-model="$ctrl.personal.insurance.contractNumber" require="true" name="insuranceContractNumber" label="SALAXY.MODEL.InsuranceContract.contractNumber.title">
        </salaxy-input>
        <salaxy-form-group name="insuranceWarning" label-type="empty-label">
          <small>Tähän syötetyt vakuutustiedot näkyvät myös työntekijän palkkalaskelmassa.</small>
        </salaxy-form-group>
      </div>
    </div>
    <div class="text-right">
      <button ng-disabled="!$ctrl.personal.insurance.company || $ctrl.isSaving('insuranceContracts')" class="btn btn-primary" ng-click="$ctrl.save('insuranceContracts')"><i
          ng-if="$ctrl.isSaving('insuranceContracts')" class="fa fa-refresh fa-spin fa-fw"></i>
        <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
    </div>
  </form>
  <form name="pensionForm" class="form-horizontal">
    <legend>TYEL-sopimus</legend>
    <div class="input-info">
      <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
      <p class="small input-info-text with-icon">
        Palkkaus.fi-palvelu ilmoittaa TyEL-ilmoitukset tulorekisteriin oletuksena suoraan työeläkeyhtiö Varman kautta
        ja Varma lähettää näistä laskun jälkikäteen.
        <strong>Tilapäinen työnantaja ei tarvitse siihen sopimusta.</strong>
        <br> Jos sinulla on jatkuva työsopimus tai maksat palkkaa yli {{ $ctrl.sideCosts.tyelContractEmployerLimit | currency}} puolessa vuodessa,
        suosittelemme tekemään sopimuksen työeläkeyhtiön kanssa.
      </p>
    </div>
    <div>
      <p>
        <b>Anna voimassa olevan sopimuksen tiedot.</b>
        Valitse "Ei yhtiötä", jos olet tilapäinen työnantaja.
      </p>
      <salaxy-input-enum ng-model="$ctrl.personal.pension.company" type="select" label="SALAXY.MODEL.PensionContract.company.editLabel" name="pensionCompany" enum="PensionCompany"
        filter="none,varma,elo,ilmarinen,veritas,verso" require="true"></salaxy-input-enum>
      <div salaxy-if-role="test" class="test-number">
        <div class="form-group" ng-if="$ctrl.personal.pension.company && $ctrl.personal.pension.company != 'none'">
          <div class="col-sm-8 col-sm-offset-4 text-right-sm">
            <span>Test only: <button class="btn btn-secondary btn-xs" ng-click="$ctrl.setPensionNumberForTest($ctrl.personal.pension)"> Generoi numero </button></span>
          </div>
        </div>
      </div>
      <salaxy-input ng-if="$ctrl.personal.pension.company && $ctrl.personal.pension.company != 'none'" require="true" name="pensionContractNumber"
        label="SALAXY.MODEL.PensionContract.contractNumber.title" ng-model="$ctrl.personal.pension.contractNumber"
        tooltip-html="{{'SALAXY.NG1.PaymentSettingsComponent.pension.errors.sxyPensionContractNumber.html' | sxyTranslate}}" tooltip-placement="top-right"
        sxy-pension-contract-number></salaxy-input>
    </div>
    <div ng-show="pensionForm.pensionContractNumber.$error.sxyTemporaryPensionContractNumber">
      <div class="input-info text-danger">
        <div class="input-info-icon"><i class="fa fa-exclamation-triangle "></i></div>
        <p class="small input-info-text with-icon" sxy-html="SALAXY.NG1.PaymentSettingsComponent.pension.errors.sxyTemporaryPensionContractNumber.html">
        </p>
      </div>
    </div>
    <div class="text-right">
      <button ng-disabled="!$ctrl.personal.pension.company || pensionForm.$invalid || $ctrl.isSaving('pensionContracts')" class="btn btn-primary"
        ng-click="$ctrl.save('pensionContracts')"><i ng-if="$ctrl.isSaving('pensionContracts')" class="fa fa-refresh fa-spin fa-fw"></i>
        <span sxy-text="SALAXY.NG1.UiTerms.save"></span></button>
    </div>
  </form>
  <div>
    <legend>Työttömyysvakuutus</legend>
    <div class="input-info">
      <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
      <p class="small input-info-text with-icon">
        Työttömyysvakuutusmaksuja ei voi maksaa Palkkaus.fi-palvelun kautta,
        koska <a href="https://www.tyollisyysrahasto.fi/" target="_blank">Työllisyysrahasto</a> laskuttaa työnantajia suoraan neljännesvuosittain,
        jos työnantaja maksaa palkkaa vähintään 1300€ kalenterivuoden aikana.
      </p>
      <p class="small input-info-text with-icon">
        Maksut näkyvät laskelmilla, ne ilmoitetaan tulorekisteriin
        eikä niiden takia tarvitse tehdä mitään muuta,
        kuin maksaa Työllisyysrahastolta aikanaan tulevat laskut.
      </p>
    </div>
  </div>
</div>