﻿<div class="salaxy-component salaxy-account-details-edit-person">
  <form name="workerForm" class="form-horizontal" ng-if="$ctrl.current">
    <div class="row">
      <div class="col-xs-12">
        <salaxy-input name="firstName" label="SALAXY.NG1.WorkerDetailsComponent.firstName" readonly="true" ng-model="$ctrl.current.identity.firstName"></salaxy-input>
        <salaxy-input name="lastName" label="SALAXY.NG1.WorkerDetailsComponent.lastName" readonly="true" ng-model="$ctrl.current.identity.lastName"></salaxy-input>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-4 input-info">
            <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
            <p class="small input-info-text with-icon " sxy-html="SALAXY.NG1.WorkerDetailsComponent.nameDecription.html"></p>
          </div>
          <div class="col-sm-2">
            <button sxy-if-role="worker" class="btn btn-default pull-right btn-sm" ng-controller="WorkerOnboardingController as $wizard" ng-click="$wizard.launch()">Aloita
              muutos</button>
            <button sxy-if-role="household" class="btn btn-default pull-right btn-sm" ng-controller="HouseholdOnboardingController as $wizard" ng-click="$wizard.launch()">Aloita
              muutos</button>
          </div>
        </div>
        <salaxy-input name="officialPersonId" label="SALAXY.NG1.WorkerDetailsComponent.ssNumber" sxy-personal-id-fi readonly="true" ng-model="$ctrl.current.identity.officialId">
        </salaxy-input>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4 input-info">
            <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
            <p class="small input-info-text with-icon" sxy-html="SALAXY.NG1.WorkerDetailsComponent.ssNumberDescription.html">Palkkaus.fi-tili on aina kiinnitetty henkilötunnukseen.
              Jos henkilötunnuksesi muuttuu, kirjaudu ulos ja luo uusi Palkkaus.fi-tili uudella henkilötunnuksella tai ota yhteys asiakaspalveluumme.</p>
          </div>
        </div>
        <salaxy-input name="ibanNumber" label="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" sxy-iban ng-model="$ctrl.current.identity.ibanNumber"></salaxy-input>
      </div>
      <div class="col-xs-12 text-right">
        <button ng-click="$ctrl.saveCurrent()" ng-disabled="workerForm.$invalid" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
      </div>
    </div>
  </form>
</div>