﻿<div class="salaxy-component salaxy-account-contact-edit-person">
  <form name="workerForm" class="form-horizontal" ng-if="$ctrl.current">
    <div class="row">
      <div class="col-xs-12">
        <salaxy-input name="email" label="SALAXY.NG1.WorkerDetailsComponent.email" sxy-email ng-model="$ctrl.current.contact.email" ng-change="$ctrl.emailForAvatarChanged()">
        </salaxy-input>
        <salaxy-input name="telephone" label="SALAXY.NG1.WorkerDetailsComponent.tel" sxy-mobile-phone ng-model="$ctrl.current.contact.telephone"></salaxy-input>
        <salaxy-input ng-if="$ctrl.isContactVerificationPinRequired" ng-required="true" name="pin" label="Tekstiviestistä saamasi puhelinnumeron vahvistuskoodi"
          ng-model="$ctrl.current.contactVerificationPin"></salaxy-input>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-4 input-info">
            <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
            <p class="small input-info-text with-icon ">Puhelinnumeroa käytetään kevyeen tunnistautumiseen. Siksi numeron vaihtaminen vaatii varmistuksen tekstiviestillä.</p>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default pull-right btn-sm" ng-disabled="!$ctrl.isContactVerificationPinRequired" ng-click="$ctrl.requestContactVerificationPin()">Tilaa
              koodi</button>
          </div>
        </div>
        <salaxy-input name="street" label="SALAXY.NG1.WorkerDetailsComponent.street" ng-model="$ctrl.current.contact.street" ng-required="'household' | sxyIsInRole"></salaxy-input>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4 input-info">
            <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
            <p class="small input-info-text with-icon" style="padding-top:0.4em;" sxy-if-role="worker">Osoite ei ole pakollinen palkanmaksussa.</p>
            <p sxy-if-role="household" class="small input-info-text with-icon" style="padding-top:0.2em;">Osoitetiedot tarvitaan mm. tulorekisteri-ilmoituksia varten.</p>
          </div>
        </div>
        <salaxy-input name="postalCode" label="SALAXY.NG1.WorkerDetailsComponent.postalCode" sxy-postal-code-fi ng-model="$ctrl.current.contact.postalCode"
          ng-required="'household' | sxyIsInRole"></salaxy-input>
        <salaxy-input name="city" label="SALAXY.NG1.WorkerDetailsComponent.city" ng-model="$ctrl.current.contact.city" ng-required="'household' | sxyIsInRole"></salaxy-input>
      </div>
    </div>
    <div class="text-right">
      <button ng-click="$ctrl.saveCurrent()" ng-disabled="workerForm.$invalid" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
  </form>
</div>