﻿<div class="salaxy-component salaxy-account-avatar-edit-person">
  <form name="workerForm" class="form-horizontal" ng-if="$ctrl.current">
    <div class="form-group">
      <div class="col-xs-12 col-sm-4">
        <label for="avatarPreview" class="control-label" style="text-align:left" sxy-text="Kuva"></label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="worker-avatar-col">
          <salaxy-avatar style="font-size: 200px" avatar="$ctrl.current.avatar"></salaxy-avatar>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 col-sm-4">
        <label for="avatarPictureType" class="control-label" style="text-align:left" sxy-text="Kuvan tyyppi"></label>
      </div>
      <div class="col-xs-12 col-sm-8">
        <select class="form-control" id="avatarPictureType" ng-model="$ctrl.current.avatar.pictureType" ng-change="$ctrl.typeForAvatarChanged()">
          <option value="" disabled sxy-text="Valitse kuvan tyyppi"></option>
          <option value="icon" sxy-text="Kuvake"></option>
          <option value="uploaded" sxy-text="Kuva omalta koneelta"></option>
          <option value="gravatar" sxy-text="Gravatar"></option>
        </select>
      </div>
    </div>
    <div ng-if="$ctrl.current.avatar.pictureType == 'gravatar'" class="row">
      <div class="input-info col-sm-8 col-sm-offset-4">
        <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
        <p class="small input-info-text with-icon " sxy-html="SALAXY.NG1.CredentialsComponent.avatar.gravatarInfo.html"></p>
      </div>
    </div>
    <div ng-if="$ctrl.current.avatar.pictureType == 'icon'">
      <salaxy-input name="avatarInitials" label="Nimikirjaimet" ng-model="$ctrl.current.avatar.initials" max-length="2"></salaxy-input>
      <salaxy-input-enum ng-model="$ctrl.current.avatar.color" name="avatarColor" label="Väri"
        options="{ '#7F2C2A': 'Ruskea', '#91D214': 'Lime', '#61703B': 'Tummanvihreä', '#D10074': 'Pinkki'}">
      </salaxy-input-enum>
    </div>
    <div class="form-group">
      <div ng-if="$ctrl.current.avatar.pictureType == 'uploaded'">
        <div class="col-xs-12 col-sm-4">
          <label for="avatarImageUpload">Lataa kuva koneelta</label>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div name="avatarImageUpload" ng-model="avatarImage" ngf-drop="$ctrl.uploadAvatarImage($file)" ngf-select="$ctrl.uploadAvatarImage($file)" class="salaxy-drop-box"
            ngf-drag-over-class="'salaxy-drag-over'" ngf-multiple="false" ngf-min-size="5KB" ngf-max-size="10MB" ngf-pattern="'image/*'" ngf-model-invalid="invalidFile"
            ng-class="invalidFile.$error != null ? 'error' : ''">
            <span sxy-html="SALAXY.NG1.CredentialsComponent.avatar.uploadImage.html"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4 input-info">
        <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
        <p class="small input-info-text with-icon" sxy-html="SALAXY.NG1.WorkerDetailsComponent.avatarDescription.html" style="padding-top:0.4em;">
        </p>
      </div>
    </div>
    <div class="text-right">
      <button ng-click="$ctrl.saveCurrent()" ng-disabled="workerForm.$invalid" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
  </form>
</div>