<div class="salaxy-component salaxy-calc-household-usecase">
  <form ng-submit="$ctrl.submitHouseholdUsecase()" ng-readonly="$ctrl.isReadOnly" name="detailsUsecase" class="form-horizontal">
    <div class="salaxy-calc-dialog-body">
      <div class="salaxy-calc-dialog-container">
        <div class="row">
          <div class="col-md-5 col-xs-12" ng-if="$ctrl.isReadOnly">
            <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.startEdit()" sxy-text="SALAXY.UI_TERMS.edit"></button>
          </div>
          <div class="col-md-5 col-xs-12" ng-if="!$ctrl.isReadOnly">
            <h1 ng-if="!$ctrl.isUsecaseSelected" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.ui.selectionTitle" class="choose-usecase"></h1>
            <div ng-if="$ctrl.isUsecaseSelected" class="spacer-bottom ">
              <div ng-if="$ctrl.showSave" class="spacer-bottom">
                <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.saveEmployment()" sxy-text="SALAXY.UI_TERMS.save"></button>
                <button type="button" class="btn btn-secondary btn-sm" ng-click="$ctrl.resetEmployment()" sxy-text="SALAXY.UI_TERMS.cancel"></button>
                <button ng-if="$ctrl.isUsecaseSelected" class="btn btn-secondary btn-sm" type="button" ng-click="$ctrl.resetUsecase()"><span
                    sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.ui.changeSelection"></span></button>
              </div>
              <button ng-if="$ctrl.isUsecaseSelected && !$ctrl.showSave" class="btn btn-secondary btn-sm btn-labeled-left" type="button" ng-click="$ctrl.resetUsecase()"><i
                  class="fa fa-chevron-left"></i><span sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.ui.changeSelection"></span></button>
            </div>
            <div ng-if="$ctrl.isUsecaseSelected && !$ctrl.isEmployment" style="padding-top:15px;">
              <h1>Palkkapäivä</h1>
              <p>
                Päivä, jolloin palkka on työntekijän tilillä. Tyhjä päivä tarkoittaa <strong>heti</strong>: Käytännössä 0-3 päivää maksutavasta riippuen.
              </p>
              <div class="form-horizontal">
                <salaxy-datepicker-popup name="requestedSalaryDate" ng-model="$ctrl.requestedSalaryDate" label="Palkkapäivä" label-cols="col-sm-6" date-disabled="salary"
                  placeholder="Heti: 1-3 päivää maksusta" payment-channel="$ctrl.calc.info.paymentChannel"></salaxy-datepicker-popup>
              </div>
              <h1 sxy-text="SALAXY.NG1.CalcWorktimeComponent.worktime.title"></h1>
              <p ng-if="!$ctrl.dateRange.start || !$ctrl.dateRange.start" sxy-text="SALAXY.NG1.CalcWorktimeComponent.worktime.description"></p>
              <div class="form-horizontal">
                <salaxy-input-enum ng-model="$ctrl.periodShortcut" name="periodShortcut" ng-if="!$ctrl.periodShortcut"
                  label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-cols="col-sm-6" type="radio" options="$ctrl.periodShortcuts"></salaxy-input-enum>
                <salaxy-input-enum ng-model="$ctrl.periodShortcut" name="periodShortcut" ng-if="$ctrl.periodShortcut"
                  label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-cols="col-sm-6" type="select" options="$ctrl.periodShortcuts"></salaxy-input-enum>
                <salaxy-date-range ng-model="$ctrl.dateRange" class="condensed" name="dateRange" ng-if="$ctrl.periodShortcut == 'other'" on-change="$ctrl.dateRangeChange()"
                  label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.label" label-days-count="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelDaysCount"
                  label-cols="col-sm-6" read-only="$ctrl.isReadOnly"></salaxy-date-range>
                <div ng-if="$ctrl.periodShortcut && $ctrl.periodShortcut != 'other'">
                  <salaxy-form-group name="periodStartDate" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelStartDate" label-cols="col-sm-6">
                    <input type="text" class="form-control" autocomplete="off" id="periodStartDate" name="periodStartDate"
                      placeholder="{{'SALAXY.UI_TERMS.dateFormats.dm' | sxyTranslate}}" ng-model="$ctrl.periodStartDate"
                      ng-model-options="{allowInvalid: true, debounce: 250, updateOn: 'default' }" />
                    <div ng-if="$ctrl.periodStartDateError" class="salaxy-read-only-value text-danger">{{ $ctrl.periodStartDateError }}</div>
                  </salaxy-form-group>
                  <salaxy-form-group name="formattedRange" label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelStartAndEndDate" label-cols="col-sm-6"
                    class="salaxy-read-only">
                    <div class="salaxy-read-only-value">{{ $ctrl.dateRange | sxyDateRange }}</div>
                  </salaxy-form-group>
                  <salaxy-input-number name="labelDaysCount" ng-model="$ctrl.dateRange.daysCount" ng-change="$ctrl.dateRangeChange()"
                    label="SALAXY.NG1.CalcWorktimeComponent.worktime.periodShortcut.labelWorkDaysCount" label-cols="col-sm-6">
                  </salaxy-input-number>
                </div>
              </div>
            </div>
            <uib-accordion close-others="true" class="salaxy-accordion" ng-if="!$ctrl.isUsecaseSelected">
              <div uib-accordion-group class="" is-open="status.open" ng-repeat="group in $ctrl.tree">
                <uib-accordion-heading>
                  {{group.label}} <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                  <br><small> {{group.descr}}</small>
                </uib-accordion-heading>
                <div id="child-list">
                  <div ng-repeat="child in group.children" ng-click="$ctrl.selectUsecase(child)" class="clickable usecase-selection" class>
                    <div class="icon-wrapper salaxy-household-usecase-avatar">
                      <div class="main-icon-wrapper">
                        <img ng-src="{{child.icon}}">
                      </div>
                      <div ng-if="child.badge" class="badge-image-wrapper">
                        <img ng-src="{{child.badge}}">
                      </div>
                    </div>
                    <strong class="usecase-title">{{child.label}}</strong>
                    <small>{{child.descr |sxyTranslate}}</small>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>
          <div class="col-md-7 col-xs-12 panel-detail usecase-details" ng-if="$ctrl.isUsecaseSelected">
            <ng-include src="$ctrl.getTemplate()"></ng-include>
          </div>
        </div>
      </div>
    </div>
    <button ng-if="!$ctrl.isReadOnly && !$ctrl.isEmployment" class="btn btn-warning btn-lg salaxy-calc-btn-recalculate" type="submit">{{ 'SALAXY.NG1.UiTerms.updateCalculation'
      |sxyTranslate }}</button>
  </form>
</div>