<div class="salaxy-component salaxy-calc-sharing">
  <button class="btn btn-secondary btn-labeled-left btn-sm spacer-bottom" ng-click="$ctrl.showDetails($ctrl.current)"><i class="fa fa-chevron-left"></i> Palaa laskelmalle</button>
  <div class="row spacer-bottom" ng-if="$ctrl.showLinkSharing">
    <div class="col-xs-12">
      <p class="lead">Linkin jakaminen</p>
      <p class="spacer-bottom">Voit lähettää linkin laskelmaan sähköpostilla tai muulla sovelluksella (WhatsApp, tekstiviesti).</p>
      <button ng-click="$ctrl.share('url')" class="btn btn-primary btn-sm "><span ng-show="$ctrl.isSharing('url')"><i class="fa fa-refresh fa-spin fa-fw"></i></span> Lähetä linkki </button>
    </div>
  </div>

  <p class="lead">Valitse työnantaja</p>
  <p>Työnantajalistassa näkyvät vain ne työnantajat, jotka ovat lisänneet sinut omiin työntekijöihinsä. Valitsemalla työnantajan, laskelma lähetetetään hänelle. Jos työnantajasi ei ole listassa, voit pyytää häntä lisäämään sinut omiin työntekijöihinsä.
  </p>

  <div class="table-responsive salaxy-odata-table">
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th colspan="2">
            <span sxy-text="SALAXY.NG1.Roles.employer"></span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.employingRelations">
          <td class="td-avatar middle">
            <salaxy-avatar avatar="row.ownerInfo.avatar"></salaxy-avatar>
          </td>
          <td class="middle">
            <strong>{{row.ownerInfo.avatar.displayName}}</strong><br />

          </td>
          <td class="middle right">
            <button class="btn btn-sm btn-primary" type="button" ng-click="$ctrl.share('employer', row.ownerId)">
                Valitse <span ng-show="$ctrl.isSharing('employer'+row.ownerId)"><i class="fa fa-refresh fa-spin fa-fw"></i></span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>