<div class="salaxy-component salaxy-calc-sharing-info">
  <div ng-if="$ctrl.current.workflow.status == 'paymentWorkerCopy'">
    <p class="text-center">
      <span sxy-text="SALAXY.NG1.CalcResultsComponent.isPaidDate"></span> {{ $ctrl.current.workflow.paidAt | date }}
    </p>
    <p>
      <button type="button" ng-click="$ctrl.showCopyAsNew($ctrl.current)" class="btn btn-primary btn-block" sxy-text="SALAXY.UI_TERMS.copyAsNew"></button>
    </p>
  </div>
  <div ng-if="$ctrl.current.sharing.type == 'url'">
    <div ng-if="$ctrl.current.workflow.status == 'workerRequested'">
      <p class="text-center"><strong>Laskelmalle on luotu linkki.</strong><br>Lähetä linkki työnantajalle
        <span ng-if="!$ctrl.isMobileSharingEnabled"> käyttämällä linkin alapuolella olevia painikkeita.</span>
        <span ng-if="$ctrl.isMobileSharingEnabled"> käyttämällä oman laitteesi jakamistoimintoa.</span>
      </p>
      <form ng-if="!$ctrl.isMobileSharingEnabled" class="form-inline spacer-bottom">
        <div class="form-group copy-share-url">
          <div class="input-group " ng-class="{'has-success': $ctrl.uriCopied}">
            <div class="input-group-addon clickable" title="Kopioi työpöydälle" type="button" ng-click="$ctrl.copyUri()">
              <i class="fa fa-clipboard"></i>

              <span class="text-success text-center text-indicate" ng-if="$ctrl.uriCopied"><br>Kopioitu</span>
            </div>
            <textarea class="form-control" rows="1" wrap="off">{{$ctrl.current.sharing.uri}}</textarea>
          </div>
        </div>
      </form>

      <div ng-if="!$ctrl.isMobileSharingEnabled" class="spacer-bottom text-center">
        <div ng-repeat="target in $ctrl.webSharingTargets" style="display:inline">
          <a ng-if="target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-click="target.action()"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
          </a>
          <a ng-if="!target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-href="{{target.getUrl()}}" target="_blank"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
         </a>
        </div>
      </div>
      <div ng-if="$ctrl.isMobileSharingEnabled" class="spacer-bottom text-center">
        <div ng-repeat="target in $ctrl.mobileSharingTargets" style="display:inline">
          <a ng-if="target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-click="target.action()"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
          {{target.title}}
          </a>
          <a ng-if="!target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-href="{{target.getUrl()}}" target="_blank"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
          {{target.title}}
         </a>
        </div>
      </div>
      <div class="text-center spacer-bottom">
        <button class="btn btn-secondary btn-sm" ng-click="$ctrl.share('undefined')">Poista linkki <span ng-show="$ctrl.isSharing('undefined')"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>
      </div>
    </div>
    <div ng-if="$ctrl.current.workflow.status == 'workerRequestAccepted'">
      <p class="text-center">
        <strong class="text-success">Laskelma on lähetetty työnantajalle ja hyväksytty</strong>
      </p>
      <div ng-if="$ctrl.employer" class="spacer-bottom">
        <salaxy-avatar style="font-size:45px;" avatar="$ctrl.employer.ownerInfo.avatar"></salaxy-avatar>
        <div>
          <strong>&nbsp;{{$ctrl.employer.ownerInfo.avatar.displayName}}</strong>
        </div>
      </div>
      <div class="text-center spacer-bottom">

        <button class="btn btn-primary btn-sm" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>
      </div>
    </div>
    <div ng-if="$ctrl.current.workflow.status == 'workerRequestDeclined'">
      <p class="text-center">
        <strong class="text-danger">Laskelma on lähetetty työnantajalle ja hylätty</strong>
      </p>
      <form ng-if="!$ctrl.isMobileSharingEnabled" class="form-inline spacer-bottom">
        <div class="form-group copy-share-url">
          <div class="input-group " ng-class="{'has-success': $ctrl.uriCopied}">
            <div class="input-group-addon clickable" title="Kopioi työpöydälle" type="button" ng-click="$ctrl.copyUri()">
              <i class="fa fa-clipboard"></i>

              <span class="text-success text-center text-indicate" ng-if="$ctrl.uriCopied"><br>Kopioitu</span>
            </div>
            <textarea class="form-control" rows="1" wrap="off">{{$ctrl.current.sharing.uri}}</textarea>
          </div>
        </div>
      </form>

      <div ng-if="!$ctrl.isMobileSharingEnabled" class="spacer-bottom text-center">
        <div ng-repeat="target in $ctrl.webSharingTargets" style="display:inline">
          <a ng-if="target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-click="target.action()"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
          </a>
          <a ng-if="!target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-href="{{target.getUrl()}}" target="_blank"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
         </a>
        </div>
      </div>
      <div ng-if="$ctrl.isMobileSharingEnabled" class="spacer-bottom text-center">
        <div ng-repeat="target in $ctrl.mobileSharingTargets" style="display:inline">
          <a ng-if="target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-click="target.action()"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
          {{target.title}}
          </a>
          <a ng-if="!target.action" class="btn btn-transparent btn-share-calc" title="{{target.title}}" ng-href="{{target.getUrl()}}" target="_blank"><i style="font-size: xx-large" class="fa" ng-class="target.icon"></i>
          {{target.title}} 
         </a>
        </div>
      </div>
      <div class="text-center spacer-bottom">
        <button class="btn btn-secondary btn-sm" ng-click="$ctrl.share('undefined')">Poista linkki <span ng-show="$ctrl.isSharing('undefined')"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.current.sharing.type == 'employer'" class="text-center">
    <div ng-if="$ctrl.current.workflow.status == 'workerRequested'">
      <p class="text-center"><strong class="text-warning">Laskelma on lähetetty suoraan työnantajallesi ja odottaa hyväksyntää</strong></p>
      <div ng-if="$ctrl.employer" class="spacer-bottom">
        <salaxy-avatar style="font-size:45px;" avatar="$ctrl.employer.ownerInfo.avatar"></salaxy-avatar>
        <div>
          <strong>&nbsp;{{$ctrl.employer.ownerInfo.avatar.displayName}}</strong>
        </div>
      </div>
      <button class="btn btn-secondary btn-sm" ng-click="$ctrl.share('undefined')">Peruuta lähetys <span ng-show="$ctrl.isSharing('undefined')"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
      <button class="btn btn-primary btn-sm" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>

    </div>
    <div ng-if="$ctrl.current.workflow.status == 'workerRequestAccepted'">
      <p class="text-center"><strong class="text-success">Laskelma on lähetetty suoraan työnantajallesi ja hyväksytty</strong></p>
      <div ng-if="$ctrl.employer" class="spacer-bottom">
        <salaxy-avatar style="font-size:45px;" avatar="$ctrl.employer.ownerInfo.avatar"></salaxy-avatar>
        <div>
          <strong>&nbsp;{{$ctrl.employer.ownerInfo.avatar.displayName}}</strong>
        </div>
      </div>

      <button class="btn btn-primary btn-sm" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>
    </div>
    <div ng-if="$ctrl.current.workflow.status == 'workerRequestDeclined'">
      <p class="text-center"><strong class="text-danger">Laskelma on lähetetty suoraan työnantajallesi ja hylätty</strong></p>
      <div ng-if="$ctrl.employer" class="spacer-bottom">
        <salaxy-avatar style="font-size:45px;" avatar="$ctrl.employer.ownerInfo.avatar"></salaxy-avatar>
        <div>
          <strong>&nbsp;{{$ctrl.employer.ownerInfo.avatar.displayName}}</strong>
        </div>
      </div>
      <button class="btn btn-secondary btn-sm" ng-click="$ctrl.share('undefined')">Peruuta lähetys <span ng-show="$ctrl.isSharing('undefined')"><i class="fa fa-refresh fa-spin fa-fw"></i></span></button>
      <button class="btn btn-primary btn-sm" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>
    </div>
  </div>
  <div ng-if="$ctrl.current.sharing.type == 'undefined'">
    <p ng-if="$ctrl.current.workflow.status == 'workerRequested'" class="text-center"><strong>Laskelma on lähetetty työnantajallesi</strong></p>
    <p ng-if="$ctrl.current.workflow.status == 'workerRequestAccepted'" class="text-center"><strong class="text-success">Laskelma on lähetetty työnantajallesi ja hyväksytty</strong></p>
    <p ng-if="$ctrl.current.workflow.status == 'workerRequestDeclined'" class="text-center"><strong class="text-danger">Laskelma on lähetetty työnantajallesi ja hylätty</strong></p>
    <button ng-if="$ctrl.validation.isValid && ( !$ctrl.current.isReadOnly || $ctrl.current.workflow.status == 'workerRequestDeclined')" class="btn btn-primary btn-block" ng-click="$ctrl.showSharing()">Lähetä työnantajalle</button>
  </div>

  <!--<div class="text-center">
    <div class="btn-group">
      <button ng-click="$ctrl.current.workflow.status = 'workerRequested'; $ctrl.current.sharing.type = 'undefined'" class="btn btn-xs">Jaettu</button>
      <button ng-click="$ctrl.current.workflow.status = 'workerRequestAccepted'; $ctrl.current.sharing.type = 'undefined'" class="btn btn-xs">Hyväksytty</button>
      <button ng-click="$ctrl.current.workflow.status = 'workerRequestDeclined'; $ctrl.current.sharing.type = 'undefined'" class="btn btn-xs">Hylätty</button>
    </div>
    <pre class="small" style="margin-top:20px;">{{$ctrl.current.isReadOnly | json}} {{$ctrl.current.workflow.status | json}} {{$ctrl.current.sharing.type | json}}</pre>
  </div-->
</div>