<div class="salaxy-component salaxy-employer-report">
  <salaxy-spinner heading="Ladataan..." ng-if="!$ctrl.currentReport"></salaxy-spinner>
  <div class="pull-right col-xs-3" style="width: 200px">
    <label>Valitse vuosi: </label>
    <select ng-options="option.name for option in $ctrl.yearOptions track by option.value" ng-model="$ctrl.selectedYear" name="years" id="years"></select>
  </div>
  <div ng-if="$ctrl.currentReport.employerReports.length <= 0">
    <p>
      Sinulla ei ole Palkkaus.fi-palvelussa vuonna {{ $ctrl.selectedYear.value }} maksettuja palkkoja.
      Vetovalikosta voit vaihtaa raportointivuotta.
    </p>
    <hr />
    <h2>Ei palkanmaksuja vuonna {{ $ctrl.selectedYear.value }}</h2>
    <p>
      Kun maksat palkkoja kauttamme, edellisten vuosien palkat ja niistä tehdyt raportit jäävät arkistoon tälle sivulle.
      Muut raportit kohdassa voit esikatsella muutaman yleisen raportin
      ja <a href="#more-info">sivun alalaidasta</a> löydät lisätietoja työntekijäkohtaisista raporteista.
    </p>
  </div>
  <div ng-if="$ctrl.currentReport.employerReports.length > 0">
    <p>
      Alla näet kaikki palkanmaksut, jotka olet tehnyt Palkkaus.fi-palvelun kautta vuonna {{ $ctrl.selectedYear.value }}.
    </p>
    <hr />
    <h3>Raportit työntekijöittäin</h3>
    <p>
      Alla on listattu työntekijöittäin ja palkkalaskelmittain tärkeimmät tiedot ja raportit:
      Työntekijän yhteenveto, Verottajan vuosi-ilmoitus (7801) sekä Kotitalousvähennyksen vuosi-ilmoitus (14B).
      Lisätietoja raporteista löydät <a href="#more-info">Sivun alalaidasta</a>.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Työntekijä</th>
          <th class="right">
            Bruttopalkka<br />
            Verotettava
          </th>
          <th>Yhteenveto</th>
          <th>Vero (7801)</th>
          <th>KT-väh. (14B)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="report in $ctrl.currentReport.employerReports">
          <td>
            <div style="font-size: 64px; line-height: 1" ng-init="avatar = $ctrl.avatarFrom(report.worker.avatar.url)">
              <i ng-if="!avatar.url" class="salaxy-avatar fa" ng-class="avatar.baseIcon" ng-style="{color: avatar.color }"><strong>{{ avatar.initials }}</strong></i>
              <i ng-if="avatar.url" class="salaxy-avatar fa"><img ng-src="{{avatar.url}}"></img></i>
            </div>
          </td>
          <td>
            {{ report.worker.fullName}}<br />
            <a ng-href="mailto:{{ $ctrl.workerEmailFrom(report) }}">{{ $ctrl.workerEmailFrom(report) }}</a><br />
            {{ report.worker.identity.socialSecurityNumberValid }}
          </td>
          <td class="right">
            {{ report.grossSalary | currency : "€" : 2}}<br />
            {{ report.totalTaxable | currency : "€" : 2}}
          </td>
          <td>
            <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/YearlyWorkerSummary/{{ report.worker.identity.socialSecurityNumberValid }}?id2={{ $ctrl.employerId }}&year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
              target="_blank">Yhteenveto&nbsp;&raquo;
            </a>
          </td>
          <td>
            <a ng-if="$ctrl.isSelectedYearBeforeIncomesRegistry"
              href="{{ $ctrl.apiServerAddress }}/ReportPdf/TaxYearly7801/{{ report.worker.identity.socialSecurityNumberValid }}?year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
              target="_blank">Tuloste&nbsp;&raquo;
            </a>
          </td>
          <td>
            <a ng-if="report.totalTaxableDeductible > 0"
              ng-href="{{ $ctrl.apiServerAddress }}/ReportPdf/TaxHouseholdDeduction14B/{{ report.worker.identity.socialSecurityNumberValid }}?year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
              target="_blank" class="">Tuloste&nbsp;&raquo;
            </a>
            <p ng-if="report.totalTaxableDeductible <= 0">Ei merkitty koti&shy;talous&shy;vähen&shy;nykseen.</p>
          </td>
        </tr>
        <tr ng-repeat-end="" ng-repeat="calculation in report.underlyingCalculations">
          <td></td>
          <td>
            <b ng-if="!$ctrl.isSelectedYearBeforeIncomesRegistry">
              {{ calculation.salaryDate | date : "dd.MM" }}
            </b>
            <b ng-if="$ctrl.isSelectedYearBeforeIncomesRegistry">
              {{ calculation.paidAt | date : "dd.MM" }}
            </b>
          </td>
          <td class="right">
            {{ calculation.totals.totalGrossSalary | currency : "€" : 2 }}<br />
            {{ calculation.totals.totalTaxable | currency : "€" : 2 }}
          </td>
          <td>
            <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/SalarySlip/{{ calculation.id }}?access_token={{ $ctrl.token }}" target="_blank">Tuloste&nbsp;&raquo;</a><br />
          </td>
          <td>
            {{ calculation.workerCalc.tax > 0 ? "Ennakonpidätys: " + (calculation.workerCalc.tax | currency : "€" : 2) : "Ei ennakonpidätystä" }}
          </td>
          <td>
            {{ calculation.salary.isDeductible ? "Kotitalousvähennys: " + (calculation.employerCalc.householdDeduction | currency : "€" : 2) : "Ei lasketa kotitalousväh." }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <br />
  <h3>Muut raportit</h3>
  <p>Raportit, jotka eivät ole työntekijäkohtaisia.</p>
  <div class="row">
    <div ng-if="$ctrl.isSelectedYearBeforeIncomesRegistry" class="col-sm-4">
      <h4>TVR Palkka&shy;summa&shy;ilmoitus</h4>
      <p>
        Työttömyys&shy;vakuutus&shy;rahastolle (TVR) ilmoitetaan
        yhteystiedot, palkkasumma sekä tilinumero mahdollisia takaisinmaksuja varten.
      </p>
      <p>
        <strong>
          Ilmoitettava palkkasumma on: {{ $ctrl.tvrSalaryAmount | currency : "" : 2 }} euroa.
        </strong>
      </p>
      <p>
        Avaa <a ng-href="{{ $ctrl.apiServerAddress }}/ReportPdf/Unemployment?year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}" target="_blank">PDF-dokumentti
          tästä linkistä</a>.
      </p>
    </div>
    <div class="col-sm-4">
      <h4>Vakuutusyhtiön vuosi-ilmoitus</h4>
      <p>
        Vakuutus- tai työeläkeyhtiö saattaa vaatia sinulta selvitystä maksetuista palkoista vuoden ajalta.
        Tämä raportti on tarkoitettu sitä varten.
      </p>
      <p>
        <strong>
          Jos olet ostanut tapaturmavakuutuksen Palkkaus.fi-palvelusta ja
          olet antanut Palkkaus.fi-palvelun hoitaa TyEL-vakuutuksen,
          ei tämä raportti ole tarpeellinen.
        </strong>
      </p>
      <p>
        Avaa <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/Insurance?year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}" target="_blank">Raportti tästä</a>.
      </p>
    </div>
    <div class="col-sm-4">
      <h4>Raportti kotitalous&shy;vähennyksistä</h4>
      <p>
        Yksityiskohtainen raportti näyttää yhdessä näkymässä kaikki
        kotitalousvähennysta varten Palkkauksen verottajalle ilmoittamat tiedot.
      </p>
      <p>
        Lisäksi tietoa miten ilmoitat Palkkaus.fi-palvelun ulkopuolella maksetut kotitalousvähennyksen alaiset kustannukset.
      </p>
      <p>
        Avaa <a href="#/archive/household-deduction-report">Raportti tästä</a>.
      </p>
    </div>
  </div>
  <hr />
  <br />
  <h3 id="more-info">Lisätietoja raporteista</h3>
  <p>
    Lisätietoja yllä listatutuista työntekijäkohtaisista raporteista.
  </p>
  <div class="row">
    <div class="col-sm-4">
      <h4>Työntekijän yhteenveto</h4>
      <p>
        Lain mukaan työnantajan pitää toimittaa työntekijälle yhteenveto kaikista palkoista, joita on maksanut vuoden aikana.
      </p>
      <p>
        <strong>Jos Palkkaus.fi-palvelussa on työntekijän sähköpostiosoite, lähetämme tähän linkin suoraan työntekijälle.</strong>
        Jos sähköpostiosoite ei ole oikein, voit tulostaa tämän yhteenvedon ja lähettää työntekijälle.
      </p>
      <ul>
        <li ng-repeat="employerReport in $ctrl.currentReport.employerReports">
          <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/YearlyWorkerSummary/?year={{ $ctrl.selectedYear.value }}&id={{ employerReport.worker.identity.socialSecurityNumberValid }}&id2={{ $ctrl.employerId }}&access_token={{ $ctrl.token }}"
            target="_blank">{{
            employerReport.worker.fullName }}</a>
          {{ $ctrl.workerEmailFrom(employerReport) || 'Ei sähköpostia' }}
        </li>
      </ul>
    </div>
    <div ng-if="$ctrl.isSelectedYearBeforeIncomesRegistry" class="col-sm-4">
      <h4>Vuosi-ilmoitus verottajalle (7801)</h4>
      <p>
        <i>Verottajan lomake 7801: Työnantajan tai suorituksen maksajan vuosi-ilmoitus</i>
        Näitä lomakkeita tuotamme jokaista työntekijääsi kohden yhden.
      </p>
      <p>
        Jokaisen vuoden tammikuussa luomme edellisen vuoden ilmoitukset ja voit vielä tarkistaa lomakkeen tiedot.
        Tämän jälkeen <strong>lähetämme ilmoituksen verottajalle</strong> ja alkuperäinen ilmoitus jää Palkkaus.fi-arkistoon.
      </p>
      <ul>
        <li ng-repeat="employerReport in $ctrl.currentReport.employerReports">
          <a href="{{ $ctrl.apiServerAddress }}/ReportPdf/TaxYearly7801/{{ employerReport.worker.identity.socialSecurityNumberValid }}?year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
            target="_blank">{{
            employerReport.worker.fullName }}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>Kotitalous&shy;vähennyksen vuosi-ilmoitus (14B)</h4>
      <p>
        <i>Verottajan lomake 14B / 3026: Kotitalousvähennys työntekijälle maksetusta palkasta</i>
        Yhteen lomakesivuun mahtuu tiedot kahdesta työntekijästä
      </p>
      <p>
        <strong>
          Lähetämme tiedot verottajalle tammikuun loppuun mennessä,
        </strong> kun olet käynyt tarkistamassa tietosi
      </p>
      <p>
        Huomaathan, että verottaja käsittelee kaikki lomakkeet 14B yhdellä kertaa veroilmoitusten kanssa kesäkuussa,
        joten nämä tiedot eivät näy vielä esitäytetyssä veroilmoituksessa.
      </p>

      <ul>
        <li ng-repeat="employerGroup in $ctrl.employers14BGroups">
          <a href="{{ $ctrl.apiServerAddress }}/ReportPdf/TaxHouseholdDeduction14B/{{ employerGroup.id1 }}?id2={{ employerGroup.id2 }}&year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
            target="_blank">
            {{ employerGroup.names }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>