<div class="salaxy-component employment-contract-list">
  <salaxy-odata-table options="{}" crud-controller="EmploymentContractCrudController as $crud" template-url="salaxy-components/odata/lists/EmploymentContracts.html"></salaxy-odata-table>
</div>