<div style="max-width: calc(100% - 45px); margin-left: 15px">
  <salaxy-spinner heading="Ladataan..." ng-if="!$ctrl.currentReport"></salaxy-spinner>
  <div class="row">
    <div class="col-xs-12 spacer-bottom">
      <label>Valitse vuosi: </label>
      <select ng-options="option.name for option in $ctrl.yearOptions track by option.value" ng-model="$ctrl.selectedYear" name="years" id="years"></select>
    </div>
  </div>
  <h2>Palkkaus.fi-palvelussa maksetut palkat</h2>
  <h3 ng-repeat-start="yearlyReport in $ctrl.currentReport" ng-if="$index == 0">Nämä työt voit vähentää omassa verotuksessasi.</h3>
  <p ng-if="$index == 0">Kotitalousvähennys on enintään {{ $ctrl.deductionMaxAmount | currency : "" : 0 }} euroa vuodessa. Vähennyksen omavastuu on 100 euroa.</p>
  <h3 ng-if="$index == 1">Nämä työt voit vähentää mahdollisen puolisosi verotuksessa.</h3>
  <p ng-if="$index == 1">Kotitalousvähennys on henkilökohtainen, joten puolisot voivat saada yhteensä {{ (2 * $ctrl.deductionMaxAmount) | currency : "" : 0 }} euron vähennyksen. Jos {{ $ctrl.deductionMaxAmount | currency : "" : 0 }} euron raja ei ylity, vähennys kannattaa hakea
    vain toiselle puolisolle. Silloin omavastuu vähennetään vain yhden kerran.</p>
  <h3 ng-if="$index == 2">Näitä töitä et voi vähentää verotuksessa</h3>
  <p ng-if="$index == 2">Kotitalousvähennyksen maksimimäärä on {{ $ctrl.deductionMaxAmount | currency : "" : 0 }} yhdessä puolison kanssa.</p>
  <b>Työnantaja {{ yearlyReport.employer.fullName }}</b>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Työntekijä</th>
        <th>Työ: maksupäivä ja kuvaus</th>
        <th class="right" colspan="2">Luvut 14B-lomakkeessa</th>
        <th class="right">KT-vähennys</th>
      </tr>
    </thead>
    <tbody ng-repeat="employerReport in yearlyReport.employerReports">
      <tr ng-if-start="employerReport.isHouseholdDeductionWork">
        <td rowspan="4">
          {{ employerReport.worker.displayName }}<br /> {{ employerReport.worker.identity.socialSecurityNumberValid }}<br />
        </td>
        <td rowspan="4">
          {{ $ctrl.formatDateRange(employerReport.firstDeductiblePaymentDate, employerReport.lastDeductiblePaymentDate) }} {{ employerReport.deductionWorkDescription }}
          <div class="form-group form-group-display">
            <label class="col-sm-10 control-label">Kotitaloustyö</label>
            <div class="col-sm-2">
              <input ng-checked="employerReport.hasHouseholdWork" class="check-box" disabled="disabled" type="checkbox">
            </div>
          </div>
          <div class="form-group form-group-display">
            <label class="col-sm-10 control-label">Hoiva- ja hoitotyö</label>
            <div class="col-sm-2">
              <input ng-checked="employerReport.hasCareAndNurtureWork" class="check-box" disabled="disabled" type="checkbox">
            </div>
          </div>
          <div class="form-group form-group-display">
            <label class="col-sm-10 control-label">Asunnon kunnossapito- tai perusparannustyö</label>
            <div class="col-sm-2">
              <input ng-checked="employerReport.hasConstructionWork" class="check-box" disabled="disabled" type="checkbox">
            </div>
          </div>
        </td>
        <td>Palkka</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.totalTaxableDeductible) }}</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.totalTaxableDeduction) }}</td>
      </tr>

      <tr>
        <td>Sivukulut (TyEL+Sava+TVR)</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.totalMandatorySideCosts) }}</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.totalMandatorySideCosts) }}</td>
      </tr>
      <tr>
        <td>Vakuutus</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.deductionInsuranceEtc) }}</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.deductionInsuranceEtc) }}</td>
      </tr>
      <tr ng-if-end class="total">
        <td>Yhteensä</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.deduction14BFormTotal) }}</td>
        <td class="right">{{ $ctrl.employerDeductionsTotalAmount(employerReport) }}</td>
      </tr>
      <tr ng-if="!employerReport.isHouseholdDeductionWork">
        <td>
          {{ employerReport.worker.displayName }}<br /> {{ employerReport.worker.identity.socialSecurityNumberValid }}<br />
        </td>
        <td>
          {{ $ctrl.formatDateRange(employerReport.firstPaymentDate, employerReport.lastPaymentDate) }} Ei töitä merkittynä kotitalousvähennykseen.
        </td>
        <td>Palkka</td>
        <td class="right">{{ $ctrl.formatNumber(employerReport.totalTaxableDeductible) }}</td>
        <td class="right">-</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr class="total">
        <th colspan="2">Yhteensä</th>
        <th colspan="2" class="right">{{ $ctrl.yearlyForm14BTotalAmount(yearlyReport) }}</th>
        <th class="right">{{ $ctrl.yearlyDeductionsTotalAmount(yearlyReport) }}</th>
      </tr>
      <tr>
        <td>Omavastuu</td>
        <td>Max. {{ $ctrl.deductionMaxAmount | currency : "" : 0 }} euroa / henkilö (pariskunta {{ (2 * $ctrl.deductionMaxAmount) | currency : "" : 0 }})</td>
        <td colspan="3" class="right">-100,00</td>
      </tr>
      <tr class="total">
        <th colspan="2">Kotitalousvähennys yhteensä</th>
        <th colspan="3" class="right">{{ $ctrl.yearlyDeductionTotal(yearlyReport) }}</th>
      </tr>
    </tfoot>
  </table>
  <p ng-repeat-end="">&nbsp;</p>

  <p>
    Verottaja käsittelee kaikki lomakkeet 14B yhdellä kertaa veroilmoitusten kanssa kesäkuussa, joten nämä tiedot
    <strong>eivät näy vielä esitäytetyssä veroilmoituksessa</strong>. Käymme aktiivista keskustelua verottajan kanssa, jotta ensi vuodeksi saisimme tiedot jo tähän esitäytettyyn veroilmoitukseen. Jos tämä on sinusta tärkeä juttu, lähetä meille palautetta
    osoitteeseen aspa@palkkaus.fi. Viemme mielellämme tätä tietoa eteenpäin verottajalle.
  </p>
  <p>
    Tulet saamaan <strong>elo-syyskuussa Verottajalta korjatun verotuspäätöksen</strong>, jossa kotitalousvähennys on huomioitu kokonaisuudessaan. Jos vielä silloin huomaat joitain puutteita, voit tehdä muutoksen lokakuun aikana. Lopullisesti verotus
    vahvistetaan lokakuun viimeinen päivä.
  </p>
  <hr />
  <h2 id="info14B">Palkkaus.fi-palvelun ulkopuolella maksetut palkat</h2>
  <p>
    Jos olet teettänyt työtä, jonka palkan olet maksanut Palkkaus.fi-palvelun ulkopuolella, muistathan ilmoittaa siitä erikseen verottajalle.
  </p>
  <p>
    Kotitalousvähennyksen alaisen työn voi ilmoittaa kahdella tavalla:
  </p>
  <ol>
    <li>
      Tulosta lomake
      <a href="https://www.vero.fi/fi-FI/Syventavat_veroohjeet/Lomakkeet/Henkiloasiakkaiden_lomakkeet/14B_Kotitalousvahennys_tyontekijalle_mak(12921)" target="_blank">
        14B tästä linkistä
      </a> ja lähetä se verottajalle.
    </li>
    <li>Sähköisellä veroilmoituksella <a href="https://www.vero.fi/veroilmoitus" target="_blank">https://www.vero.fi/veroilmoitus</a></li>
  </ol>
  <hr />
  <h2 id="info14A">Yrityksen laskuttama työ kotitalousvähennykseen</h2>
  <p>
    Jos olet teettänyt yrityksellä työtä, joka kelpaa kotitalousvähennykseen, muistathan ilmoittaa myös sen verottajalle.
  </p>
  <p>
    Laskulla teetetyn työn voi ilmoittaa kahdella tavalla:
  </p>
  <ol>
    <li>
      Tulosta lomake
      <a href="http://www.vero.fi/fi-FI/Syventavat_veroohjeet/Lomakkeet/Henkiloasiakkaiden_lomakkeet/14A_Kotitalousvahennys_yritykselle_makse(12918)" target="_blank">
        14A tästä linkistä
      </a> ja lähetä se verottajalle.
    </li>
    <li>Sähköisellä veroilmoituksella <a href="https://www.vero.fi/veroilmoitus" target="_blank">https://www.vero.fi/veroilmoitus</a></li>
  </ol>
  <p>
    Olemme suunnitelleet tähän myös työkalua Palkkaus.fi-sivustolle. Työkalulla voisi kirjata laskut jo etukäteen ja tallentaa kuitit arkistoon. Palkkaus.fi ilmoittaisi tiedot verottajalle vuoden lopussa. Jos tämä on sinusta tärkeä juttu, lähetä meille palautetta
    osoitteeseen aspa@palkkaus.fi.
  </p>
  <hr />
  <h2 id="info-kuuluuko">Mistä tiedän kuuluuko työ kotitalousvähennykseen?</h2>
  <p>Perusidea on, että työn pitää olla jotain seuraavista:</p>
  <ul>
    <li>kotitaloustyö</li>
    <li>hoiva- tai hoitotyö</li>
    <li>asunnon kunnossapito- tai perusparannustyö</li>
  </ul>
  <p>
    Lisäksi työ pitää tehdä omassa käytössä olevassa asunnossa tai vapaa-ajan asunnnossa. (Erikoistapauksena myös joidenkin lähisukulaisten käytössä olevat asunnot)
  </p>
  <p>
    Jos olet epävarma, niin <a href="http://www.vero.fi/fi-FI/Henkiloasiakkaat/Kotitalousvahennys" target="_blank">tällä verottajan sivulla on kuvattu</a> tarkemmin kotitalousvähennystä. Huomaa alalaidan linkit eri työtyyppeihin.
    <a href="http://www.vero.fi/fi-FI/Henkiloasiakkaat/Kotitalousvahennys/Taulukko_kysytyimmista_kotitalousvahenny(9231)" target="_blank">Tällä toisella sivulla on pitkä lista</a> eri töistä.
  </p>

  <p>Jos et vieläkään ole varma, voit kysyä mielipidettä Suomen Palkanlaskenta Oy:n asiantuntijoilta (yhteystiedot sivun alalaidassa).</p>

  <p>Me autamme mielellämme!</p>
</div>