<div class="salaxy-component container-embed">
  <salaxy-spinner heading="Ladataan..." ng-if="!$ctrl.currentReport"></salaxy-spinner>
  <main>
    <div class="row">
      <div class="col-xs-12 spacer-bottom">
        <label>Valitse vuosi: </label>
        <select ng-options="option.name for option in $ctrl.yearOptions track by option.value" ng-model="$ctrl.selectedYear" name="years" id="years"></select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 ng-if-start="$ctrl.currentReport.length <= 0">Ei maksettuja palkkoja vuonna {{ $ctrl.selectedYear.value }}</h2>
        <p>
          Sinulle ei ole maksettu Palkkaus.fi-palvelussa palkkaa vuonna {{ $ctrl.selectedYear.value }}.
          Kun sinulle maksetaan palkkaa, edellisten vuosien palkat ja
          niistä tehdyt raportit jäävät arkistoon tälle sivulle.
        </p>
        <p ng-if-end>
          Jos sinulla pitäisi näkyä Palkkaus.fi-palvelun kautta maksettuja palkkoja vuodelle {{ $ctrl.selectedYear.value }},
          otathan yhteyttä asiakaspalveluumme.
          Huomaathan kuitenkin, että olet kirjautunut työntekijänä.
          Jos etsit työnantajana maksamiasi palkkoja, vaihda työnantajaprofiiliin oikeasta yläkulmasta.
        </p>
        <p ng-if-start="$ctrl.currentReport.length > 0" class="">
          Alla näet kaikki palkanmaksut, joita sinulle on maksettu Palkkaus.fi-palvelun kautta vuonna {{ $ctrl.selectedYear.value }}.
        </p>
        <div ng-if-end class="table-responsive light-bg">
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Työnantaja</th>
                <th class="right">
                  Bruttopalkka<br />
                  Verotettava
                </th>
                <th class="right">Kulukorvaukset</th>
                <th>Yhteenveto</th>
                <th class="right">Ennakonpidätys</th>
                <th class="right">Kotitalousvähennys</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="report in $ctrl.currentReport">
                <td>
                  <div style="font-size: 64px; line-height: 1" ng-init="avatar = $ctrl.avatarFrom(report.employer.avatar.url)">
                    <i ng-if="!avatar.url" class="salaxy-avatar fa" ng-class="avatar.baseIcon" ng-style="{color: avatar.color}"><strong>{{ avatar.initials }}</strong></i>
                    <i ng-if="avatar.url" class="salaxy-avatar fa"><img ng-src="{{ avatar.url }}"></img></i>
                  </div>
                </td>
                <td>
                  {{ report.employer.fullName}}<br />
                  <a ng-href="mailto:{{ $ctrl.workerEmailFrom(report) }}">{{ $ctrl.employerEmailFrom(report) }}</a><br />
                  {{ report.employer.identity.socialSecurityNumberValid }}
                </td>
                <td class="right">
                  {{ report.grossSalary | currency : "€" : 2}}<br />
                  {{ report.totalTaxable | currency : "€" : 2}}
                </td>
                <td class="right">
                  {{ report.totalExpenses | currency : "€" : 2}}
                </td>
                <td>
                  <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/YearlyWorkerSummary/self?id2={{ report.employer.id }}&year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
                    target="_blank" class="btn btn-primary btn-xs">Vuosiraportti&nbsp;&raquo;
                  </a>
                </td>
                <td colspan="2">
                  <p>
                    <strong>Työntekijän vuosiyhteenveto</strong><br />
                    <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/YearlyWorkerSummary/self?id2={{ report.employer.id }}&year={{ $ctrl.selectedYear.value }}&access_token={{ $ctrl.token }}"
                      target="_blank">
                      Tästä vuosiyhteenvedosta
                    </a>
                    näet koko vuoden kaikki palkat ja muut maksut (avautuu uuteen ikkunaan).
                  </p>
                </td>
              </tr>
              <tr ng-repeat-end="" ng-repeat="calculation in report.underlyingCalculations">
                <td></td>
                <td>
                  <b ng-if="!$ctrl.isSelectedYearBeforeIncomesRegistry">
                    {{ calculation.salaryDate | date : "dd.MM" }}
                  </b>
                  <b ng-if="$ctrl.isSelectedYearBeforeIncomesRegistry">
                    {{ calculation.paidAt | date : "dd.MM" }}
                  </b>
                </td>
                <td class="right">
                  {{ calculation.totals.totalGrossSalary | currency : "€" : 2 }}<br />
                  {{ calculation.totals.totalTaxable | currency : "€" : 2 }}
                </td>
                <td class="right">
                  {{ calculation.totals.totalExpenses | currency : "€" : 2 }}
                </td>
                <td>
                  <a ng-href="#/calc/details/{{ calculation.id }}" class="btn btn-secondary btn-xs">Palkkalaskelma&nbsp;&raquo;</a><br />
                  <a ng-href="{{ $ctrl.apiServerAddress }}/ReportHtml/SalarySlip/{{ calculation.id }}?access_token={{ $ctrl.token }}" target="_blank"
                    class="btn btn-primary btn-xs">Tuloste&nbsp;&raquo;</a><br />
                </td>
                <td class="right">
                  {{ calculation.workerCalc.tax > 0 ? (calculation.workerCalc.tax | currency : "€" : 2) : "-" }}
                </td>
                <td class="right">
                  {{ calculation.salary.isDeductible ? (calculation.employerCalc.householdDeduction | currency : "€" : 2) : "-" }}
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>


      </div>
    </div>
  </main>
</div>
