<h2 class="page-header">
  Lists / array type
</h2>
<p class="lead">
  JSON Schema type <code>array</code> is displayed as a list with buttons for Create new, Edit and Delete.
  Simple arrays may be shown as list of text boxes or enum multi-select 
  (currently implemented for string only).
</p>
<div ng-init="$ctrl.testModel = { timestamp: '1234', contactPersons: [{ name: 'Mikko Mallikas', telephone: '0501234567', email: 'mikko@palkkaus.fi'  }] }">
  <sxy-form open-api="salaxy-secure/schemas/irepr.json" type="DeliveryData" auto-gen="false" debugger="true" model="$ctrl.testModel">
    <div>
      <fieldset>
        <legend>Complex array (DeliveryData.contactPersons)</legend>
        <sxy-input model="form.contactPersons"></sxy-input>
        <sxy-input model="form.contactPersons" label="Custom dialog" include="name,email">
          <form>
            <fieldset>
              <legend>This is a completely customized form</legend>
              <sxy-input model="form.name"></sxy-input>
              <sxy-input model="form.telephone"></sxy-input>
              <sxy-input model="form.email"></sxy-input>
              <sxy-input model="form.responsibilityCode"></sxy-input>
              <div class="alert" ng-class="{ 'alert-danger': !$ctrl.current.responsibilityCode, 'alert-success': $ctrl.current.responsibilityCode }">
                We can even use AngularJS expressions:
                Responsibility code is {{ $ctrl.current.responsibilityCode ? ("ResponsibilityCode." + $ctrl.current.responsibilityCode | sxyEnum) : "Not selected" }}
              </div>
            </fieldset>
          </form>
        </sxy-input>
        <sxy-input model="form.contactPersons" label="Hand-pick fields" include="name,email"></sxy-input>
        <sxy-input model="form.contactPersons" label="Exclude fields" exclude="email"></sxy-input>
      </fieldset>
    </div>
  </sxy-form>
</div>
<div ng-init="$ctrl.testModel2 = { workMunicipalities: ['Tukholma', 'Uppsala'], remunerations: ['carBenefit', 'dailyAllowance'], stayPeriodsAbroad: [{ startDate: '2020-01-01', endDate: '2020-06-01' }] }">
  <sxy-form open-api="salaxy-secure/schemas/irepr.json" type="WorkCountry" auto-gen="false" debugger="true" model="$ctrl.testModel2">
    <div>
      <fieldset>
        <legend>Simple array</legend>
        <sxy-input model="form.workMunicipalities"></sxy-input>
        <sxy-input model="form.remunerations"></sxy-input>
        <sxy-input model="form.stayPeriodsAbroad" label="Period / DateRange (TODO)"></sxy-input>
      </fieldset>
    </div>
  </sxy-form>
</div>
