<h2 class="page-header">
  Boolean values
</h2>
<p class="lead">
  JSON Schema type <code>boolean</code> is your normal true/false, yes/no values. It currently supports null in the beginning, but we do not support setting it back to null once true/false selection has been made. This may change in the future if the
  value is nullable.
</p>

<div ng-init="$ctrl.testModel = {}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Booleans" auto-gen="true" debugger="true" model="$ctrl.testModel"></sxy-form>
</div>