<h1 class="page-header">
  JSON Schema based forms
  <small>SXY-FORM</small>
</h1>
<p class="lead">
  The SXY-FORMs infrastructure provides a functionality for building basic forms based on
  <a href="https://json-schema.org/" target="_blank">JSON Schema</a> specification and more specifically based on
  <a href="https://swagger.io/specification/" target="_blank">Open API</a> specification that is based on JSON Schema. Major design goal is to define the forms and related HTML in
  format that the specifications can be used in several platforms such as
  AngularJS, React, Angular, Ionic, Plain JavaScript Custom elements etc.
</p>
<p>
  In JSON Schema, data is divided to 6 data types (e.g. string, number). Data types may have additional formats (e.g. multiline, date) and some data types also support enumeration:
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Data&nbsp;type</th>
      <th>Description</th>
      <th>Examples of formats</th>
      <th>Enum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="#/forms/string">string</a></th>
      <td>
        Texts including <strong>dates, date-times and files</strong>. Also texts with enumerations (e.g. drop-down select).
      </td>
      <td>multiline, password, email, date, date-time, byte, select, radio</td>
      <td>Enum is supproted.</td>
    </tr>
    <tr>
      <th><a href="#/forms/boolean">boolean</a></th>
      <td>True / false or Yes / no values.</td>
      <td>radio, checkbox, switch</td>
      <td>Enums may later be supported for nullable.</td>
    </tr>
    <tr>
      <th><a href="#/forms/array">array</a></th>
      <td>Arrays of items of specified types</td>
      <td>list, table</td>
      <td>-</td>
    </tr>
    <tr>
      <th><a href="#/forms/object">object</a></th>
      <td>Objects that contain other data types.</td>
      <td>Avatar, DateRange</td>
      <td>-</td>
    </tr>
    <tr>
      <th><a href="#/forms/number">number</a></th>
      <td>Finnish decimal (float) numbers with optional units.</td>
      <td>kilometers, percent, hours</td>
      <td>Currently not supported. May be supported later.</td>
    </tr>
    <tr>
      <th><a href="#/forms/integer">integer</a></th>
      <td>TODO: Numbers restricted to integer.</td>
      <td>TODO: range</td>
      <td>Currently not supported. May be supported later.</td>
    </tr>
    <tr>
      <th><a href="#/forms/error">error</a></th>
      <td>Error is not defined in JSON schema, but it is provided by the system to handle error cases.</td>
      <td></td>
      <td>-</td>
    </tr>
  </tbody>
</table>