<h2 class="page-header">
  TODO: Integer values
</h2>
<p class="lead">
  JSON Schema type <code>integer</code> defines a number that is restricted to whole integer values.
  <br />
  <strong>This is currently not implemented</strong>
</p>
<div ng-init="$ctrl.testModel = {}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Integers" auto-gen="true" debugger="true" model="$ctrl.testModel"></sxy-form>
</div>