<h2 class="page-header">
  Numeric values
</h2>
<p class="lead">
  JSON Schema type <code>number</code> defines a number.
  Technically, numbers are always JavaScript number client-side.
  This means they are always 64-bit floating point. However, they may be processed as decimal server-side code.
</p>
<div ng-init="$ctrl.testModel = {}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Numbers" auto-gen="true" debugger="true" model="$ctrl.testModel"></sxy-form>
</div>