<h2 class="page-header">
  Object type
</h2>
<p class="lead">
  JSON Schema type <code>object</code>.
</p>
<div ng-init="$ctrl.testModel = {avatarSample:{color:'red',initials:'DN',displayName:'Display Name', id:'id'}, daterangeSample:{}}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Objects" auto-gen="true" debugger="true" model="$ctrl.testModel"></sxy-form>
</div>
<h3>Empty objects and arrays</h3>
<p>
  In standard components, the form components will add non-existing objects and arrays to data only as needed, i.e. when the property value is set or item is added to array (see below).<br /> However, legacy NG1-based components may not be able to do
  that and object might need to be initialized manually (see DateRange and Avatar above).
</p>
<sxy-form open-api="salaxy-secure/schemas/irepr.json" model="$ctrl.testModel2" type="DeliveryData" debugger="true" auto-gen="false">
  <div>
    <sxy-input model="form.deliveryDataCreator.countryCode"></sxy-input>
    <sxy-input model="form.contactPersons"></sxy-input>
  </div>
</sxy-form>