<h2 class="page-header">
  API v02 support
</h2>
<p class="lead">
  Support for Salaxy API v02 / Open API 2 (original Swagger).
</p>
<h3>Examples</h3>
<div ng-init="$ctrl.testModel = { id: 'id123', rows: [{ count: 2, price: 15, message: 'foo' }] }">
  <div>
    <sxy-form open-api="salaxy-secure/schemas/v02.json" type="Calculation" auto-gen="true" debugger="true" model="$ctrl.testModel">
    </sxy-form>
  </div>
</div>