<h2 class="page-header">
  Texts / string type
</h2>
<p class="lead">
  JSON Schema type <code>string</code> is text including many formats that 
  are specialized types in other languages / specifications: date, date-time and files (binary and byte).
</p>
<div ng-init="$ctrl.testModel = {}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Strings" auto-gen="true" debugger="true" model="$ctrl.testModel"></sxy-form>
</div>

<div ng-init="$ctrl.testModelManual = {}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Strings" auto-gen="false" debugger="true" model="$ctrl.testModelManual">
    <div>
      <fieldset>
        <legend>Strings - manually defined</legend>
        <sxy-input model="form.defaultSample" format="multiline"></sxy-input>
      </fieldset>
    </div>
  </sxy-form>
</div>

<h2>Enumerations</h2>
<p>Strings can also be input using enumerations: Selectable values in the UI.</p>
<div ng-init="$ctrl.testModel2 = {}" class="form-horizontal">
  <sxy-form open-api="/assets/schemas/demo.schema.json" type="Enumerations" auto-gen="true" debugger="true" model="$ctrl.testModel2"></sxy-form>
</div>