<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyWorkflowEventEditTitle">
    <i class="fa fa-calendar fa-lg" aria-hidden="true" style="padding-right: 20px"></i>
    {{ $ctrl.logic.title | sxyTranslate }}
  </h2>
</div>
<div class="modal-body">
  <form name="frmEvent" class="form-horizontal">
    <salaxy-calendar-event-details ng-ref="$ctrl.details" ng-if="$ctrl.logic.isSimplified" model="$ctrl.current"
      template-url="salaxy-components/workflow/CalendarEventDetails-simplified.html"></salaxy-calendar-event-details>
    <salaxy-calendar-event-details ng-if="!$ctrl.logic.isSimplified" model="$ctrl.current"></salaxy-calendar-event-details>
  </form>
</div>
<!--
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-disabled="!$ctrl.current.id" ng-click="$close('delete')" sxy-text="SALAXY.UI_TERMS.delete"></button>
  <button class="btn btn-default" ng-click="$dismiss()" sxy-text="{{ $ctrl.logic.cancelText }}"></button>
  <button class="btn btn-primary" ng-disabled="!frmEvent.$valid" ng-click="$close('ok')" sxy-text="{{ $ctrl.logic.okText }}"></button>
</div>
-->
<div class="modal-footer">
  <button ng-if="$ctrl.details.step &lt; 2" ng-click="$close('cancel')" class="btn pull-left btn-default" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button ng-if="$ctrl.details.step >= 2" ng-click="$ctrl.details.goPrevious()" ng-disabled="!$ctrl.details.canGoPrevious" class="btn pull-left btn-default" sxy-text="SALAXY.UI_TERMS.previous"></button>
  <button ng-if="$ctrl.details.step &lt; $ctrl.details.steps.length" ng-click="$ctrl.details.goNext()" ng-disabled="!$ctrl.details.canGoNext" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>
  <button ng-if="$ctrl.details.step == $ctrl.details.steps.length" ng-click="$close('ok')" class="btn btn-primary" xx-disabled="!$ctrl.details.formDataValidity">Aseta ajastus ja luo palkkalistat</button>
</div>