<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyWorkflowEventEditTitle" sxy-text="{{$ctrl.logic.title}}"></h2>
</div>
<div class="modal-body">
  <form name="event" class="form-horizontal">
    <salaxy-input label="Kuvaus" name="message" require="true" ng-model="$ctrl.current.message"></salaxy-input>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" ng-click="$dismiss()" sxy-text="{{ $ctrl.logic.cancelText }}"></button>
  <button class="btn btn-sm btn-primary" ng-disabled="!event.$valid" ng-click="$close('ok')" sxy-text="{{ $ctrl.logic.okText }}"></button>
</div>