<p>
  Palkkaus.fi -kotitalouspalvelussa oli mahdollista luoda työsopimuksia kotitalouden ja työntekijän välillä.
  Koska kotitalouspalvelu on päätetty lopettaa vuoden 2020 lopussa, uusia sopimuksia ei voi enää luoda eikä vanhoja muokata.
  Vanhat sopimukset säilyvät kuitenkin arkistossa.
  Tarkoituksemme on myöhemmin tuoda myös yrityspalveluun työsopimusten teko, mutta sen aikataulu ei ole vielä varma.
</p>
<salaxy-employment-contract-list></salaxy-employment-contract-list>