<div class="embed loader" salaxy-if-role="auth">
  <salaxy-spinner full-screen="true" id="iFrameLoader" heading="Ladataan tietoja arkistosta..."></salaxy-spinner>
  <iframe src="/Yearly" onload="document.getElementById('iFrameLoader').style.display = 'none'"></iframe>
</div>