<main class="salaxy-content sxytpl-calculations-payroll">
  <section class="sxytpl-intro">
    <p class="lead" sxy-html="SALAXY.NG1.PayrollComponent.payrollList.introWithVideo.html"></p>
  </section>
  <section class="sxytpl-list">
    <salaxy-payroll-list details-url="/payroll/details/"></salaxy-payroll-list>
  </section>
</main>