﻿<form>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" id="sample7-expenses-msg" class="form-control" placeholder="Description (or 'some expenses')">
            <input type="text" id="sample7-expenses-price" class="form-control" placeholder="Amount - default 15€">
            <button type="button" class="btn btn-primary btn-block" onclick="sample7AddRow()">Add row</button>
        </div>
        <div class="col-sm-4">
            <input type="text" id="sample7-row-number" class="form-control" placeholder="Row number">
            <button type="button" class="btn btn-danger btn-block" onclick="sample7DeleteRow()">Delete row</button>
        </div>
        <div class="col-sm-4">
            <table style="width: 100%" id="sample7_table">
                <tbody>
                    
                    <tr>
                        <td>Side costs</td>
                        <td class="right" id="sample7-result-sidecosts">0</td>
                    </tr>
                    <tr>
                        <td>Benefits</td>
                        <td class="right" id="sample7-result-benefits">0</td>
                    </tr>
                    <tr class="total">
                        <th>Total payment</th>
                        <th class="right" id="sample7-result-totalpayment">0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>