<div class="salaxy-component salaxy-calendar-event-details salaxy-wizard">
  <div class="row wizard-icon-row hidden-sm hidden-xs">
    <div ng-class="$ctrl.style.colWidthClass" ng-repeat="step in $ctrl.steps" ng-click="$ctrl.step = step.number">
      <span ng-show="step.disabled && !step.active" class="salaxy-avatar disabled">
        <i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i>
      </span>
      <a ng-hide="step.disabled && !step.active" href="" ng-click="">
        <span class="salaxy-avatar"><i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i></span>
      </a>
    </div>
  </div>
  <div class="row wizard-text-row hidden-sm hidden-xs">
    <div ng-class="$ctrl.style.colWidthClass" ng-repeat="step in $ctrl.steps">
      <span>{{ step.title | sxyTranslate}}</span>
    </div>
  </div>
  <div class="worker-wizard-content" style="min-height: 360px">
    <div ng-if="$ctrl.step == 1">
      <div class="row">
        <div class="col-sm-6 form-horizontal">
          <fieldset>
            <legend>Toistuvuus</legend>
            <salaxy-datepicker-popup ng-model="$ctrl.current.event.start" name="start" label="Ensimmäinen palkkapäivä" required="true"
              ng-change="$ctrl.current.event.end = $ctrl.current.event.start" label-cols="col-sm-8">
            </salaxy-datepicker-popup>
            <salaxy-input-number ng-model="$ctrl.current.event.actions[0].triggerDuration" name="payrollCreateDays"
              label="Palkkalistan luonti, päivää ennen" negative="true" unit="day" label-cols="col-sm-8"></salaxy-input-number>
            <div ng-repeat="rule in $ctrl.current.event.recurrenceRules track by $index">
              <salaxy-form-group name="rule{{$index}}" label="Toistuvuus {{ $index ? ($index + 1) : '' }}" class="salaxy-read-only">
                <div class="salaxy-read-only-value text-right">
                  <a href="" ng-click="$ctrl.showRRule = !$ctrl.showRRule">{{ $ctrl.getRRuleText($ctrl.current.event.recurrenceRules[$index]) }}</a>
                </div>
              </salaxy-form-group>
              <salaxy-input ng-model="$ctrl.current.event.recurrenceRules[$index]" name="rule{{$index}}" required="true"
                label="iCalendar RRule" label-cols="col-sm-5" ng-if="$ctrl.showRRule"></salaxy-input>
            </div>
            <div class="text-right" ng-if="$ctrl.showRRule">
              <button ng-click="$ctrl.addRecurrenceRule($ctrl.current.event.recurrenceRules.length - 1)" title="{{ 'SALAXY.UI_TERMS.add' | sxyTranslate}}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i>
              </button>
              <button ng-click="$ctrl.deleteRecurrence($ctrl.current.event.recurrenceRules.length - 1)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </fieldset>
        </div>
        <div class="col-sm-6">
          <fieldset>
            <legend>Kuvaus</legend>
            <div class="form-horizontal">
              <salaxy-input ng-model="$ctrl.current.event.summary" name="summary" required="true" label="Lyhyt kuvaus"></salaxy-input>
            </div>
            <div class="col-xs-12">
              <salaxy-textarea ng-model="$ctrl.current.event.description" name="description" label="Kuvaus" rows="5" label-type="basic"></salaxy-textarea>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.step == 2">
      <p class="lead">
        Voit määrittää muistutusviestin sähköpostilla.
        Viestin lähetys määritetään päivinä ennen palkkapäivää esim. <strong>{{ ($ctrl.current.event.actions[1].triggerDuration * -1) || 2 }} päivää ennen {{ $ctrl.current.event.start | sxyDate }}</strong>.
      </p>
      <salaxy-input-boolean ng-model="$ctrl.notificationEnabled" type="switch" label-true="on" label-false="off" name="notificationEnabled" label="Muistutus sähköpostilla"></salaxy-input-boolean>
      <div ng-if="$ctrl.notificationEnabled">
        <salaxy-input-number ng-model="$ctrl.current.event.actions[1].triggerDuration" name="notificationDays"
          label="Ajastus, päivää ennen" negative="true" unit="day"></salaxy-input-number>
        <salaxy-input ng-model="$ctrl.current.event.actions[1].attendees[0].email" require="true" name="notificationEmail"
          label="Vastaanottajan sähköposti" sxy-email></salaxy-input>
        <salaxy-input name="title" label="Sähköpostin otsikko" require="true" ng-model="$ctrl.current.event.actions[1].summary"></salaxy-input>
        <salaxy-textarea ng-model="$ctrl.current.event.actions[1].description" name="notificationText" label="Muistutuksen teksti"></salaxy-textarea>
      </div>
      <div ng-if="!$ctrl.notificationEnabled">
        <salaxy-input-number ng-model="none1" name="notificationDays" label="Ajastus, päivää ennen" negative="true" unit="day" disabled="true"></salaxy-input-number>
        <salaxy-input ng-model="none2" name="notificationEmail" label="Vastaanottajan sähköposti" sxy-email disabled="true"></salaxy-input>
        <salaxy-input name="title" label="Sähköpostin otsikko" ng-model="none3" disabled="true"></salaxy-input>
        <salaxy-textarea ng-model="none4" name="notificationText" label="Muistutuksen teksti" disabled="true"></salaxy-textarea>
      </div>
    </div>
    <div ng-if="$ctrl.step == 3">
      <div ng-init="$ctrl.reloadPreview()" class="row">
        <div class="col-sm-9">
          <salaxy-spinner ng-if="!$ctrl.preview"></salaxy-spinner>
          <salaxy-calendar data="$ctrl.preview" ng-if="$ctrl.preview" mapper="$ctrl.calendarMapper" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
            today="$ctrl.currentDay" start="$ctrl.preview.start" end="$ctrl.preview.end"></salaxy-calendar>
        </div>
        <div class="col-sm-3">
          <table>
            <tr>
              <td><i class="fa fa-file fa-fw event-single-day text-warning"></i></td>
              <td>Palkkalista luodaan heti</td>
            </tr>
            <tr>
              <td><i class="fa fa-file fa-fw event-single-day text-info"></i></td>
              <td>...luodaan ajastuksella</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope fa-fw event-single-day text-warning"></i></td>
              <td>Viesti / muistutus heti</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope fa-fw event-single-day text-info"></i></td>
              <td>...ajastuksella</td>
            </tr>
            <tr>
              <td>
                <div style="width: 14px; background-color: #009fd8; margin: 1px 2px; font-size: 0.9em">&nbsp;</div>
              </td>
              <td>Palkkapäivä</td>
            </tr>
            <tr>
              <td>
                <div style="width: 14px; background-color: #d55552; margin: 1px 2px; font-size: 0.9em">&nbsp;</div>
              </td>
              <td>Tänään</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!--
      <salaxy-json-formatter key="'Event'" json="$ctrl.current" open="1"></salaxy-json-formatter>
    -->
  </div>
</div>