<div class="salaxy-component salaxy-calendar-event-details">
  <uib-tabset active="$ctrl.currentDetailsTab" style="min-height: 360px">
    <uib-tab index="'basic'" heading="Perustiedot">
      <div class="row">
        <div class="col-sm-6 form-horizontal">
          <fieldset>
            <legend>Tapahtuma-aika</legend>
            <salaxy-datepicker-popup ng-model="$ctrl.current.event.start" name="start" label="Alku" required="true" ng-change="$ctrl.current.event.end = $ctrl.current.event.start">
            </salaxy-datepicker-popup>
            <salaxy-input-boolean name="isAllDay" ng-model="$ctrl.current.event.isAllDay" type="checkbox" label="Koko päivän" read-only="true"></salaxy-input-boolean>
            <salaxy-datepicker-popup ng-model="$ctrl.current.event.end" name="end" label="Loppu" read-only="true"></salaxy-datepicker-popup>
            <salaxy-form-group name="duration" class="salaxy-component salaxy-read-only" label="Kesto">
              <div class="salaxy-read-only-value">{{ $ctrl.helper.format($ctrl.current.event, "duration") }}</div>
            </salaxy-form-group>
          </fieldset>
          <fieldset>
            <legend>Lisätietoja</legend>
            <salaxy-input-enum name="status" enum="CalendarEventStatus" ng-model="$ctrl.current.event.status" label="Status" read-only="true"></salaxy-input-enum>
            <salaxy-form-group name="categories" class="salaxy-component salaxy-read-only" label="Kategoriat">
              <div class="salaxy-read-only-value">
                <div ng-repeat="cat in $ctrl.current.event.categories"><span>{{ cat + ($last ? "" : ", ") }}</span></div>
                <div ng-if="!$ctrl.current.event.categories.length">-</div>
              </div>
            </salaxy-form-group>
            <salaxy-input-number name="priority" ng-model="$ctrl.current.event.priority" label="Prioriteetti" read-only="true"></salaxy-input-number>
          </fieldset>
        </div>
        <div class="col-sm-6">
          <fieldset>
            <legend>Kuvaus</legend>
            <div class="form-horizontal">
              <salaxy-input ng-model="$ctrl.current.event.summary" name="summary" required="true" label="Lyhyt kuvaus"></salaxy-input>
            </div>
            <div class="col-xs-12">
              <salaxy-textarea ng-model="$ctrl.current.event.description" name="description" label="Kuvaus" rows="5" label-type="basic"></salaxy-textarea>
            </div>
          </fieldset>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="'recurrence'" heading="Toistuvuus ({{ $ctrl.current.event.recurrenceRules.length || 'ei toistu' }})">
      <p class="lead">
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.addRecurrenceRule()">Lisää sääntö</button>
        Voit määrittää tapahtumalle toistuvuussääntöjä: Esim. kuukausittain, viikottain jne.
        Toistuvuus perustuu alkupäivämäärään <strong>{{ $ctrl.current.event.start | sxyDate }}</strong>
        aivan kuten Outlookissa tai Google kalenterissa.
      </p>
      <fieldset ng-repeat="rule in $ctrl.current.event.recurrenceRules track by $index">
        <legend>
          <button ng-click="$ctrl.deleteRecurrence($index)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm pull-right">
            <i class="fa fa-trash"></i>
          </button>
          Toistuvuus {{ $index + 1 }}
        </legend>
        <salaxy-input ng-model="$ctrl.current.event.recurrenceRules[$index]" name="rule{{$index}}" required="true" label="iCalendar sääntö (rrule)"></salaxy-input>
      </fieldset>
    </uib-tab>
    <uib-tab index="'actions'" heading="Tehtävät / ilmoitukset ({{ $ctrl.current.event.actions.length || 0 }})">
      <p class="lead">
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.addAction()">Lisää tehtävä / muistutus</button>
        Voit määrittää sähköpostihälytyksiä tai notifikaatioita tapahtumalle.
        Samoin voit määrittää, että laskelma tai palkkalista luodaan tiettynä aikana.
        Säännöt määritetään päivinä ennen tai jälkeen alkupäivän <strong>{{ $ctrl.current.event.start | sxyDate }}</strong>
        (+ mahd. toistuvuus).
      </p>
      <fieldset ng-repeat="action in $ctrl.current.event.actions | orderBy: 'triggerDuration'" class="form-horizontal" ng-switch="action.type">
        <div class="row">
          <div class="col-xs-2 text-center">
            <div style="font-size:5em; font-weight: bold">{{ $index + 1 }}.</div>
          </div>
          <div ng-switch-when="createItem" class="col-xs-10">
            <legend>
              <button ng-click="$ctrl.deleteAction($index)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm pull-right">
                <i class="fa fa-trash"></i>
              </button>
              Tietue syntyy
            </legend>
            <salaxy-input-enum name="boType" enum="ApiItemType" ng-model="$ctrl.current.bo.type" label="Tyyppi"></salaxy-input-enum>
            <div ng-switch="$ctrl.current.bo.type || 'undefined'">
              <div ng-switch-when="undefined">
                <div class="alert alert-info">
                  Luodaksesi uuden tietueen ajastetusti, valitse tietueen tyyppi.
                </div>
              </div>
              <div ng-switch-when="calculation|calculationPaid" ng-switch-when-separator="|">
                <div class="alert alert-info">
                  Laskelmasta tehdään kopio ja alkupäivämäärästä (+toistuvuus) tulee uuden laskelman palkkapäivä.
                  Valitse laskelma alta.
                </div>
                <salaxy-form-group name="start" class="salaxy-component salaxy-read-only" label="Malli (template)">
                  <button type="button" class="btn btn-default" ng-click="$ctrl.selectBo()">Valitse...</button>
                </salaxy-form-group>
                <salaxy-input ng-model="$ctrl.current.bo.id" name="boId" required="true" label="Template ID" read-only="true"></salaxy-input>
                <salaxy-input-number name="duration" ng-model="action.triggerDuration" label="Luodaan päivää ennen" unit="day" negative="true"></salaxy-input-number>
              </div>
              <div ng-switch-when="payrollDetails">
                <div class="alert alert-info">
                  Palkkalistan voit ajastaa Palkkalistat-osiosta => Uusi palkkalista.
                </div>
                <salaxy-input ng-model="$ctrl.current.bo.id" name="boId" required="true" label="Template ID" read-only="true"></salaxy-input>
                <salaxy-input-number name="duration" ng-model="action.triggerDuration" label="Luodaan päivää ennen" unit="day" negative="true"></salaxy-input-number>
              </div>
              <div class="alert alert-info" ng-switch-default>
                Näiden tietueiden ajastaminen on tulossa vast myöhemmin syksyllä.
                Kerro meille mikä käyttötapauksesi on, jotta osaamme kehittää toiminnallisuutta pidemmälle.
              </div>
            </div>
          </div>
          <div ng-switch-when="email" class="col-xs-10">
            <legend>
              <button ng-click="$ctrl.deleteAction($index)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm pull-right">
                <i class="fa fa-trash"></i>
              </button>
              Sähköpostin lähetys
            </legend>
            <salaxy-input-enum name="type" enum="CalendarActionType" ng-model="action.type" label="Tyyppi" hidden-options="undefined,createItem,audio"></salaxy-input-enum>
            <salaxy-input-boolean name="isAfter" ng-model="action.triggerIsAfterTemp" ng-init="action.triggerIsAfterTemp = action.triggerDuration > 0"
              ng-change="action.triggerDuration = action.triggerDuration * -1" type="radio" label="Ennen vai jälkeen" label-true="Jälkeen" label-false="Ennen">
            </salaxy-input-boolean>
            <salaxy-input-number name="duration" ng-model="action.triggerDuration" label="Päiviä {{ action.triggerIsAfterTemp ? ' jälkeen' : ' ennen' }}" unit="day"
              negative="!action.triggerIsAfterTemp"></salaxy-input-number>
            <!--
                TODO: Ei vaikuta toimivan. Fiksaa tai poista mallista.
                <salaxy-input-number name="repeat" ng-model="action.repeat" label="Toistuu (kpl)"></salaxy-input-number>
              -->
            <salaxy-input name="title" label="Sähköpostin otsikko" require="true" ng-model="action.summary"></salaxy-input>
            <salaxy-textarea ng-model="action.description" name="notificationText" label="Sisältöteksti"></salaxy-textarea>
            <salaxy-input ng-model="action.attendees[0].email" name="notificationEmail" label="Vastaanottajan sähköposti" sxy-email></salaxy-input>
          </div>
          <div ng-switch-when="display" class="col-xs-10">
            <legend>
              <button ng-click="$ctrl.deleteAction($index)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm pull-right">
                <i class="fa fa-trash"></i>
              </button>
              Notifikaatio
            </legend>
            <div class="alert alert-info">
              <strong>HUOM: </strong> Tässä vaiheessa muistutukset tulevat aina tilitoimistolle / palkanlaskijalle.
              Loppuvuonna julkaistavassa versiossa on tarkoitus mahdollistaa notifikaation kohteen valinta (yritys, työntekijä jne.)
            </div>
            <salaxy-input-enum name="type" enum="CalendarActionType" ng-model="action.type" label="Tyyppi" hidden-options="undefined,createItem,audio"></salaxy-input-enum>
            <salaxy-input-boolean name="isAfter" ng-model="action.triggerIsAfterTemp" ng-init="action.triggerIsAfterTemp = action.triggerDuration > 0"
              ng-change="action.triggerDuration = action.triggerDuration * -1" type="radio" label="Ennen vai jälkeen" label-true="Jälkeen" label-false="Ennen">
            </salaxy-input-boolean>
            <salaxy-input-number name="duration" ng-model="action.triggerDuration" label="Päiviä {{ action.triggerIsAfterTemp ? ' jälkeen' : ' ennen' }}" unit="day"
              negative="!action.triggerIsAfterTemp"></salaxy-input-number>
            <salaxy-input-number name="repeat" ng-model="action.repeat" label="Toistuu (kpl)"></salaxy-input-number>
            <salaxy-textarea ng-model="action.description" name="notificationText" label="Muistutuksen teksti"></salaxy-textarea>
          </div>
          <div ng-switch-when="script" class="col-xs-10">
            <legend>
              <button ng-click="$ctrl.deleteAction($index)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm pull-right">
                <i class="fa fa-trash"></i>
              </button>
              Skripti
            </legend>
            <salaxy-input-enum name="type" enum="CalendarActionType" ng-model="action.type" label="Tyyppi" hidden-options="undefined,createItem,audio"></salaxy-input-enum>
            <div class="alert alert-danger">
              <strong>HUOM: </strong> Skriptit ovat rajatussa testikäytössä.
              Ota yhteyttä asiakaspalveluun, jos tarvitse skriptejä.
            </div>
          </div>
          <div ng-switch-default>
            <legend>
              <button ng-click="$ctrl.deleteAction($index)" title="{{ 'SALAXY.UI_TERMS.delete' | sxyTranslate}}" class="btn btn-danger btn-sm pull-right">
                <i class="fa fa-trash"></i>
              </button>
              Tehtävätyyppi ei tuettu
            </legend>
            <div class="alert alert-danger">
              Tehtävätyyppi ei tuettu: {{ "CalendarActionType." + action.type | sxyEnum }}
            </div>
            <salaxy-input-enum name="type" enum="CalendarActionType" ng-model="action.type" label="Tyyppi"></salaxy-input-enum>
          </div>
        </div>
      </fieldset>
    </uib-tab>
    <uib-tab index="'preview'" heading="Esikatselu">
      <div ng-if="$ctrl.currentDetailsTab == 'preview'" ng-init="$ctrl.reloadPreview()">
        <salaxy-spinner ng-if="!$ctrl.preview"></salaxy-spinner>
        <salaxy-calendar data="$ctrl.preview" ng-if="$ctrl.preview" mapper="$ctrl.calendarMapper" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
          today="$ctrl.currentDay" start="$ctrl.preview.start" end="$ctrl.preview.end"></salaxy-calendar>
      </div>
    </uib-tab>
    <uib-tab index="'attendees'" heading="Henkilöt ({{ $ctrl.current.event.attendees.length || '-' }})" disable="!$ctrl.current.event.attendees.length">
      <ul class="list-group">
        <li ng-repeat="avatar in $ctrl.current.event.attendees" class="list-group-item">
          <salaxy-avatar style="font-size: 3em" class="pull-left" avatar="avatar"></salaxy-avatar>
          <div>{{ avatar.displayName }}</div>
          <div><a ng-if="avatar.email" ng-href="{{'mailto:' + avatar.email}}" target="_blank">{{ avatar.email }}</a></div>
        </li>
      </ul>
      <div ng-if="!$ctrl.current.event.attendees.length">Ei henkilöitä</div>
    </uib-tab>
    <uib-tab index="'attachments'" heading="Liitteet ({{ $ctrl.current.event.attachments.length || '-' }})" disable="!$ctrl.current.event.attachments.length">
      <ul>
        <li ng-repeat="attach in $ctrl.current.event.attachments">TODO: {{ attach.uri || attach.formatType || attach.valueEncoding }}</li>
      </ul>
    </uib-tab>
    <uib-tab index="'debug'" heading="Debug">
      <salaxy-json-formatter key="'Event'" json="$ctrl.current" open="1"></salaxy-json-formatter>
    </uib-tab>
  </uib-tabset>
</div>