<button class="btn text-muted btn-icon btn-transparent" ng-disabled="$ctrl.disabled" ng-if="!$ctrl.hasWorkflowEvent('PartnerMessageClosed')" ng-click="$ctrl.saveWorkflowEvent({ type:'PartnerMessageClosed', ui:'success', message: $ctrl.message || 'Tarkistettu'})"
  title="{{ $ctrl.hint || 'Merkitse tarkistetuksi'}}">
  <i ng-if="!$ctrl.isUpdating" class="fa fa-2x fa-check-circle"></i>
  <i ng-if="$ctrl.isUpdating" class="text-success fa fa-2x fa-check-circle"></i>

</button>
<button class="btn text-success btn-icon btn-transparent" ng-disabled="$ctrl.disabled" ng-if="$ctrl.hasWorkflowEvent('PartnerMessageClosed')" ng-click="$ctrl.deleteWorkflowEvent('PartnerMessageClosed')" title="{{$ctrl.getWorkflowEvent('PartnerMessageClosed').message}}">
  <i ng-if="!$ctrl.isUpdating" class="fa fa-2x fa-check-circle"></i>
  <i ng-if="$ctrl.isUpdating" class="text-muted fa fa-2x fa-check-circle"></i>
</button>