<button ng-disabled="$ctrl.disabled" ng-if="!$ctrl.hasWorkflowEvent('PartnerMessageIssue')" ng-click="$ctrl.showWorkflowEventEditor({},{ type:'PartnerMessageIssue', ui:'danger', message:''})" title="Luo ongelman kuvaus" class="btn btn-icon text-muted btn-transparent">
    <i ng-if="!$ctrl.isUpdating" class="fa fa-2x fa-exclamation-circle"></i>
    <i ng-if="$ctrl.isUpdating" class="text-danger fa fa-2x fa-exclamation-circle"></i>
</button>
<button ng-disabled="$ctrl.disabled" ng-if="$ctrl.hasWorkflowEvent('PartnerMessageIssue')" ng-click="$ctrl.deleteWorkflowEvent('PartnerMessageIssue')" title="{{$ctrl.getWorkflowEvent('PartnerMessageIssue').message}}" class="btn btn-icon text-danger btn-transparent">
    <i ng-if="!$ctrl.isUpdating" class="fa fa-2x fa-exclamation-circle"></i>
    <i ng-if="$ctrl.isUpdating" class="text-muted fa fa-2x fa-exclamation-circle"></i>
</button>