<span class="credentials-wrapper" ng-init="itemLimit = 5">
<span ng-repeat="credential in $ctrl.credentials | limitTo: itemLimit as results" ng-controller="WorkflowController as $childCtrl" ng-init="$childCtrl.apiCtrl=$ctrl.apiCtrl; $childCtrl.onChange=$ctrl.onChange">
  <button ng-if="($childCtrl.getWorkflowEvent('PartnerMessageAssignedTo') || {}).assignedTo == credential.id && credential.id" class="btn btn-icon btn-avatar btn-transparent" ng-disabled="$ctrl.disabled" 
  title="Valittu {{ credential.email || credential.avatar.displayName}}"
  ng-click="$childCtrl.deleteWorkflowEvent('PartnerMessageAssignedTo')" style="border: 2px solid var(--salaxy-brand-success);">
  <salaxy-avatar style="font-size:28px" avatar="credential.avatar"></salaxy-avatar>
  </button>

  <button ng-if="!(($childCtrl.getWorkflowEvent('PartnerMessageAssignedTo') || {}).assignedTo == credential.id && credential.id)" class="btn btn-icon btn-avatar btn-transparent" ng-disabled="$ctrl.disabled" 
  title="Valitse {{ credential.email || credential.avatar.displayName}}"
  ng-click="$childCtrl.saveWorkflowEvent({ type:'PartnerMessageAssignedTo', ui:'primary', message:(credential.email || credential.avatar.displayName), assignedTo: credential.id})">
  <salaxy-avatar style="font-size:28px" avatar="credential.avatar"></salaxy-avatar>
  </button>

</span>
<button ng-hide="results.length == $ctrl.credentials.length || results.length > $ctrl.credentials.length" ng-click="itemLimit = itemLimit + 5" class="btn btn-transparent" title="{{'SALAXY.NG1.UiTerms.showMore2' | sxyTranslate}}"><i class="fa fa-plus"></i></button>

</span>