<div class="row">
    <div class="col-sm-6">
        <fieldset>
            <div class="form-horizontal">
                <salaxy-datepicker name="myDatepicker" ng-model="date" label="Start date" label-cols="col-md-3"></salaxy-datepicker>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-6">
        <fieldset>
            <div class="form-horizontal">
                <salaxy-datepicker name="myDatepicker" ng-model="date" label="Start date" read-only="true"></salaxy-datepicker>
            </div>
        </fieldset>
    </div>
</div>