<div class="row">
  <div class="col-sm-6">
      <fieldset>
          <div class="form-horizontal">
              <salaxy-datepicker-popup required name="myDatepickerPopup" ng-model="date" label="Start date" popup-placement="top" label-placement="top"></salaxy-datepicker-popup>
          </div>
      </fieldset>
  </div>
  <div class="col-sm-6">
      <fieldset>
          <div class="form-horizontal">
              <salaxy-datepicker-popup name="myDatepickerPopup" ng-model="date" label="Start date" read-only="true"></salaxy-datepicker>
          </div>
      </fieldset>
  </div>
</div>