<div class="row" ng-init="$ctrl.target = {}">
  <div class="col-sm-6">
    <fieldset>
      <legend>Active</legend>
      <div class="form-horizontal">
        <salaxy-date-range label="Some range" name="myRange1" ng-model="$ctrl.target"></salaxy-date-range>
      </div>
    </fieldset>
    <fieldset>
      <legend>Salary calculation <code>mode='calc'</code></legend>
      <div class="form-horizontal">
        <salaxy-date-range label="Calculation period" name="myRange2" ng-model="$ctrl.target" mode="calc"></salaxy-date-range>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-6">
    <fieldset>
      <legend>Read-only:</legend>
      <div class="form-horizontal">
        <salaxy-date-range label="Some range" name="myRange3" ng-model="$ctrl.target" read-only="true"></salaxy-date-range>
      </div>
    </fieldset>
    <fieldset>
      <legend>Date range data:</legend>
      <pre>{{ $ctrl.target | json }}</pre>
    </fieldset>
  </div>
</div>