<h2>Experiomental: fieldset component</h2>
<p>
  This component is still experimental / under construction.
</p>
<salaxy-fieldset type="Calculation" model="{}" legend="Simple calculation editor"></salaxy-fieldset>