<div class="row">
  <div class="col-sm-6">
      <div class="form-horizontal">
          <fieldset>
              <legend>Active<small> type typeahead</small></legend>
              <salaxy-input-income-type name="code" ng-model="incometype" label="Income type"></salaxy-input-income-type>

          </fieldset>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="form-horizontal">
          <fieldset>
              <legend>Read-only</legend>
              <salaxy-input-income-type name="code" ng-model="incometype" label="Income type" read-only="true"></salaxy-input-income-type>
          </fieldset>
      </div>
  </div>
</div>