<form name="booleanform">
    <div class="row">
        <div class="col-sm-8">
            <div style="visibility: hidden">


            </div>
            <fieldset>
                <legend>Booleans:</legend>
                <div class="form-horizontal">
                    <salaxy-input-boolean type="checkbox" name="boolean" ng-model="checkbox" label=" " label-cols="col-sm-7" label-true="Yes, without label" label-false="No, without label" label-type="empty-label"></salaxy-input-boolean>

                    <salaxy-input-boolean type="checkbox" name="boolean2" ng-model="checkbox2" label="Checkbox, required" label-cols="col-sm-7" label-true="Yes, with label" required></salaxy-input-boolean>
                    <salaxy-input-boolean type="radio" name="booleanRadio" ng-model="radio" label="Radio boolean" label-cols="col-sm-7" label-true="Yes" label-false="No"></salaxy-input-boolean>

                    <salaxy-input-boolean type="switch" name="booleanSwitch" ng-model="switch" label="Switch boolean" label-cols="col-sm-7" label-true="on " label-false="off" disabled="false"></salaxy-input-boolean>
                    <salaxy-input-boolean type="select" placeholder="Choose an option" name="booleanSelect" ng-model="select" label="Select boolean" label-cols="col-sm-7" label-true="Yes" label-false="No"></salaxy-input-boolean>
                    <salaxy-input-boolean type="checkbox" name="boolean" ng-model="checkbox" label="Read-only" label-cols="col-sm-7" label-true="Yes, without label" label-false="No, without label" read-only="true"></salaxy-input-boolean>

                </div>
            </fieldset>
        </div>
        <div class="col-sm-4 ">
            <fieldset>
                <legend>Debug:</legend>
                <pre>
  Checkbox: {{checkbox}}
  Checkbox 2: {{checkbox2}}
  Radio: {{radio}}
  Switch: {{switch}}
  Select: {{select}}
            </pre>
            </fieldset>
        </div>
    </div>
</form>