<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <fieldset>
                <legend>Profile</legend>
                <div class="form-horizontal">
                    <salaxy-input-profile name="profile" ng-model="profile" label="Profile"></salaxy-input-profile>
                </div>

            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Read-only profile</legend>
                <div class="form-horizontal">
                    <salaxy-input-profile name="profile" ng-model="profile" label="Profile" read-only="true"></salaxy-input-profile>
                </div>
                <div>
                    Profile is: <pre>{{ profile | json }}</pre>
                </div>
            </fieldset>
        </div>
    </div>
</form>