<form class="form-horizontal" name="validatorForm">
    <div class="row">
        <div class="col-sm-6">

            <salaxy-input name="input1" ng-model="temp.minlength" label="Minlength 3" placeholder="Example: xxx" label-type="horizontal" label-cols="col-sm-6" minlength="3"> </salaxy-input>
            <salaxy-input name="input2" ng-model="temp.email" label="Email" placeholder="example: xx@xx.xx" label-type="horizontal" label-cols="col-sm-6" sxy-email> </salaxy-input>
            <salaxy-input name="input3" ng-model="temp.mobile" label="Mobile phone and minlength 3" placeholder="example: 0401234567" label-type="horizontal" label-cols="col-sm-6" sxy-mobile-phone minlength="3"> </salaxy-input>
            <salaxy-input name="input4" ng-model="temp.postalcode" label="Postal code" placeholder="example: 01200" label-type="horizontal" label-cols="col-sm-6" sxy-postal-code-fi required> </salaxy-input>
            <salaxy-input name="input5" ng-model="temp.taxpercent" label="Tax percent" placeholder="example: 10,5" label-type="horizontal" label-cols="col-sm-6" sxy-tax-percent> </salaxy-input>
            <salaxy-input name="input6" ng-model="temp.currency" label="Currency" placeholder="example: 10,59" label-type="horizontal" label-cols="col-sm-6" sxy-currency> </salaxy-input>

            <salaxy-input name="input7" ng-model="temp.integer" label="Integer" placeholder="Example: 12" label-type="horizontal" label-cols="col-sm-6" sxy-integer> </salaxy-input>
            <salaxy-input name="input8" ng-model="temp.number" label="Number" placeholder="Example: 12,69" label-type="horizontal" label-cols="col-sm-6" sxy-number> </salaxy-input>

        </div>
        <div class="col-sm-6">
            <small>Try for example 55-3999990D for temporary code and 56-1111111D for valid</small>

            <salaxy-input name="input9" ng-model="temp.pension" label="Pension contract number (with tooltip)" placeholder="" label-type="horizontal" label-cols="col-sm-6" sxy-pension-contract-number tooltip-html="{{'SALAXY.NG1.PaymentSettingsComponent.pension.errors.sxyPensionContractNumber.html' | sxyTranslate}}"
                tooltip-placement="bottom-right">
            </salaxy-input>
            <salaxy-input name="input9" ng-model="temp.pension2" label="Pension contract number (errors disabled)" placeholder="" label-type="horizontal" label-cols="col-sm-6" sxy-pension-contract-number disable-validation-errors="true"> </salaxy-input>

            <salaxy-input name="input10" ng-model="temp.sms" label="SMS verification" placeholder="" label-type="horizontal" label-cols="col-sm-6" sxy-sms-verification-code> </salaxy-input>
            <salaxy-input name="input11" ng-model="temp.companyid" label="Company ID" placeholder="Example: 8320526-2" label-type="horizontal" label-cols="col-sm-6" sxy-company-id-fi> </salaxy-input>
            <salaxy-input name="input12" ng-model="temp.personalid" label="Personal ID" placeholder="Example: 200452-537V" label-type="horizontal" label-cols="col-sm-6" sxy-personal-id-fi> </salaxy-input>
            <salaxy-input name="input13" ng-model="temp.iban" label="IBAN" placeholder="Example:  FI59 4082 2061 0002 37" label-type="horizontal" sxy-iban> </salaxy-input>
        </div>
    </div>
</form>