<div class="row">
    <div class="col-sm-6">
        <fieldset>
            <legend>Type radio</legend>
            <div class="form-horizontal">
            <salaxy-input-credential label="Käyttäjä" name="Credential.radio" ng-model="credentialId" type="radio" required label-type="basic"></salaxy-input-credential>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <fieldset>
            <legend>Type select</legend>
            <div class="form-horizontal">
              <salaxy-input-credential label="Käyttäjä" name="Credential.select" ng-model="credentialId" type="select" required label-type="basic"></salaxy-input-credential>
 
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
        <fieldset>
            <legend>Type typeahead</legend>
            <div class="form-horizontal">
              <salaxy-input-credential label="Käyttäjä" name="Credential.typeahead" ng-model="credentialId" type="typeahead" required label-type="basic"></salaxy-input-credential>

            </div>
        </fieldset>
    </div>
</div>