<form name="validationForm">
  <div class="row">
      <div class="col-sm-6">
          <fieldset>
              <legend>Active <small>with form-horizontal</small></legend>
              <div class="form-horizontal">
                  <salaxy-input minlength="2" name="input1" ng-model="temp" label="Basic example" placeholder="Write something here!" label-type="horizontal" label-cols="col-sm-5"></salaxy-input>
                  <salaxy-input name="input2" ng-model="temp" label="No label" label-type="no-label" placeholder="...or here."></salaxy-input>
              </div>
          </fieldset>
      </div>
      <div class="col-sm-6">
          <fieldset>
              <legend>Read-only <small>with form-horizontal</small></legend>
              <div class="form-horizontal">
                  <salaxy-input name="input3" ng-model="temp" label="Basic example" read-only="true"></salaxy-input>
                  <salaxy-input name="input4" ng-model="temp" label="No label" label-type="no-label" read-only="true"></salaxy-input>
              </div>
          </fieldset>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <fieldset>
              <legend>Active <small>without form-horizontal</small></legend>
              <salaxy-input name="input5" ng-model="temp" label="Input with label (below label type is plain)" label-type="basic"></salaxy-input>
              <salaxy-input name="input6" ng-model="temp" label="Basic example (plain)" label-type="plain" placeholder="'plain' has no margin-bottom"></salaxy-input>
          </fieldset>
      </div>
      <div class="col-sm-6">
          <fieldset>
              <legend>Read-only <small>without form-horizontal</small></legend>
              <salaxy-input name="input7" ng-model="temp" label="Input with label (below without label)" label-type="basic" read-only="true"></salaxy-input>
              <salaxy-input name="input8" ng-model="temp" label="Basic example (plain)" label-type="plain" read-only="true"></salaxy-input>
          </fieldset>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <fieldset>
              <legend>Readonly and disabled</legend>
              <div class="form-horizontal">
                  <salaxy-input name="input9" ng-model="temp" label="Readonly" readonly="true"></salaxy-input>
                  <salaxy-input name="input10" ng-model="temp" label="Disabled" disabled="true"></salaxy-input>
              </div>
          </fieldset>
      </div>
      <div class="col-sm-6">
          <fieldset>
              <legend>Number <small>salaxy-input-number</small></legend>
              <div class="form-horizontal">
                  <salaxy-input-number name="numberInput1" ng-model="numberTemp" label="Basic number (with tooltip)" tooltip-html="Basic number" tooltip-placement="top-right"></salaxy-input-number>
                  <salaxy-input-number name="numberInput2" ng-model="numberTemp" label="Unit days (with tooltip)" unit="'days'" tooltip-html="Unit days " tooltip-placement="left"></salaxy-input-number>
                  <salaxy-input-number name="numberInput3" ng-model="numberTemp" label="Days, read-only" unit="'days'" read-only="true"></salaxy-input-number>
                  <salaxy-input-number name="numberInput4" ng-model="numberPercent" label="Percent" unit="'percent'"></salaxy-input-number>
                  <salaxy-input-number name="numberInput5" ng-model="numberPercent" label="Percent, read-only" unit="'percent'" read-only="true"></salaxy-input-number>
                  <salaxy-input-number name="numberInput6" ng-model="numberPercent" label="Percent value as km" unit="'kilometers'"></salaxy-input-number>
              </div>

          </fieldset>
      </div>
  </div>
</form>
<h3>Both readonly and disabled can also be set in the form</h3>
<p>Note that <code>readonly</code> in form sets <code>read-only</code> in controls.</p>
<div class="row">
<div class="col-sm-6">
  <form readonly>
    <div class="form-horizontal">
      <salaxy-input name="input12" ng-model="temp" label="Readonly in form"></salaxy-input>
    </div>
  </form>
</div>
<div class="col-sm-6">
  <form disabled>
    <div class="form-horizontal">
      <salaxy-input name="input13" ng-model="temp" label="Disabled in form"></salaxy-input>
    </div>
  </form>
</div>
</div>