<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Occupation type<small> read-only below</small></legend>
        <div class="form-horizontal">
          <salaxy-input-occupation-type name="occupationType" ng-model="occupation" label="Occupation type"></salaxy-input-occupation-type>
        </div>
      </fieldset>
    </div>
    <div class="col-sm-6">
      <fieldset>
        <legend>Read-only<small> </small></legend>
        <div class="form-horizontal">
          <salaxy-input-occupation-type name="occupationType" ng-model="occupation" label="Occupation type" read-only="true"></salaxy-input-occupation-type>
        </div>
        <div>
          Occupation ID is:
          <pre>{{ occupation | json }}</pre>
        </div>
      </fieldset>
    </div>
  </div>
</form>