<div class="row">
  <div class=" col-sm-6">
      <fieldset>
          <legend>Type radio<small> without form-horizontal</small></legend>
          <salaxy-input-enum label="Työsuhteen tyyppi" hidden-options="undefined" name="CompanyType.radio" ng-model="companyType" enum="EmploymentRelationType" type="radio" required label-type="basic"></salaxy-input-enum>
      </fieldset>
  </div>
  <div class=" col-sm-6">
      <fieldset>

          <legend>Type radio<small> with form-horizontal and options</small></legend>
          <div class="form-horizontal">
              <salaxy-input-enum label="Työsuhteen tyyppi" options="{entrepreneur:'Yrittäjä', salary:'Keikkatyö'}" hidden-options="undefined" name="CompanyType.radio2" ng-model="companyType" enum="EmploymentRelationType" type="radio" required></salaxy-input-enum>
          </div>
      </fieldset>
  </div>

</div>
<div class="row">
  <div class="col-sm-6 col-xs-12">
      <fieldset>
          <legend>Type select<small> with options (Yrittäjä, Keikkatyö) </small></legend>
          <div class="form-horizontal">
              <salaxy-input-enum options="{entrepreneur:'Yrittäjä', salary:'Keikkatyö'}" label="Työsuhteen tyyppi" name="CompanyType" ng-model="companyType" enum="EmploymentRelationType" type="select" placeholder="Valitse..." required></salaxy-input-enum>

          </div>
      </fieldset>
      <fieldset>
          <legend>Type typeahead<small> </small></legend>
          <div class="form-horizontal">
              <salaxy-input-enum label="Työsuhteen tyyppi" name="CompanyType" ng-model="companyType" enum="EmploymentRelationType" type="typeahead" placeholder="Valitse.."></salaxy-input-enum>

          </div>
      </fieldset>

  </div>
  <div class="col-sm-6 col-xs-12">
      <fieldset>

          <legend>Read-only<small> with label-cols (col-sm-6)</small> </legend>
          <div class="form-horizontal">
              <salaxy-input-enum label="Työsuhteen tyyppi (read-only)" name="CompanyType" ng-model="companyType" enum="EmploymentRelationType" type="select" placeholder="Valitse..." read-only="true" label-cols="col-sm-6"></salaxy-input-enum>
          </div>
      </fieldset>
  </div>
</div>