<form name="validationForm">
  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Active <small>with form-horizontal</small></legend>
        <div class="form-horizontal">
          <salaxy-textarea minlength="2" name="input1" ng-model="temp" label="Basic example" placeholder="Write something here!" label-type="horizontal" label-cols="col-sm-5">
          </salaxy-textarea>
          <salaxy-textarea name="input2" ng-model="temp" label="No label" label-type="no-label" placeholder="...or here."></salaxy-textarea>
        </div>
      </fieldset>
    </div>
    <div class="col-sm-6">
      <fieldset>
        <legend>Read-only <small>with form-horizontal</small></legend>
        <div class="form-horizontal">
          <salaxy-textarea name="input3" ng-model="temp" label="Basic example" read-only="true"></salaxy-textarea>
          <salaxy-textarea name="input4" ng-model="temp" label="No label" label-type="no-label" read-only="true"></salaxy-textarea>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Active <small>without form-horizontal</small></legend>
        <salaxy-textarea name="input5" ng-model="temp" label="Input with label (below label type is plain)" label-type="basic"></salaxy-textarea>
        <salaxy-textarea name="input6" ng-model="temp" label="Basic example (plain)" label-type="plain" placeholder="'plain' has no margin-bottom"></salaxy-textarea>
      </fieldset>
    </div>
    <div class="col-sm-6">
      <fieldset>
        <legend>Read-only <small>without form-horizontal</small></legend>
        <salaxy-textarea name="input7" ng-model="temp" label="Input with label (below without label)" label-type="basic" read-only="true"></salaxy-textarea>
        <salaxy-textarea name="input8" ng-model="temp" label="Basic example (plain)" label-type="plain" read-only="true"></salaxy-textarea>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Readonly and disabled</legend>
        <div class="form-horizontal">
          <salaxy-textarea name="input9" ng-model="temp" label="Readonly" readonly="true"></salaxy-textarea>
          <salaxy-textarea name="input10" ng-model="temp" label="Disabled" disabled="true"></salaxy-textarea>
        </div>
      </fieldset>
    </div>
    <div class="col-sm-6">
      <fieldset>
        <legend>Textarea-specific features <small>Do not work for input</small></legend>
        <div class="form-horizontal">
          <salaxy-textarea name="input11" ng-model="temp" label="Rows set to 5" rows="5"></salaxy-textarea>
        </div>
      </fieldset>
    </div>
  </div>
</form>
<h3>Both readonly and disabled can also be set in the form</h3>
<p>Note that <code>readonly</code> in form sets <code>read-only</code> in controls.</p>
<div class="row">
  <div class="col-sm-6">
    <form readonly>
      <div class="form-horizontal">
        <salaxy-textarea name="input12" ng-model="temp" label="Readonly in form"></salaxy-textarea>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <form disabled>
      <div class="form-horizontal">
        <salaxy-textarea name="input13" ng-model="temp" label="Disabled in form"></salaxy-textarea>
      </div>
    </form>
  </div>
</div>