<p>
  If the current account has a primary partner defined,
  there should be text below saying
  <code>The current account has a partner!</code>
  Otherwise, the component should show a Primary partner selection, then "waiting approval"
  and finally the text once partnership has been approved by the primary partner.
</p>
<salaxy-assure-partner><main><div class="alert-success">The current account has a partner!</div></main></salaxy-assure-partner>