﻿<div ng-controller="AccountAuthorizationController as authCtrl">
  <div>
    <div class="col-xs-6 col-sm-4" ng-repeat="partner in authCtrl.partnerSites">
      <salaxy-auth-card auth-id="partner.id"></salaxy-auth-card>
    </div>
  </div>
</div>
<hr />
<div ng-controller="AccountAuthorizationController as authCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="site in authCtrl.partnerIntegrationSites">
      <salaxy-auth-card auth-id="site.id"></salaxy-auth-card>
    </div>
  </div>
</div>