<h1 class="page-header">Credentials</h1>
<p class="lead">
  Credentials are the UID / PWD combinations or other authentication methods (Google, Facebook, Microsoft etc.) that allow accessing this Salaxy-account.
</p>
<salaxy-credentials show-edit="true"></salaxy-credentials>