<div>
    <salaxy-language-selector></salaxy-language-selector>
    <p>
      <legend>"Hourly salary" in selected language:</legend>
      <b>{{ 'SALAXY.ENUM.CalculationRowType.hourlySalary.label' | sxyTranslate }}</b><br />
      <span>{{ 'SALAXY.ENUM.CalculationRowType.hourlySalary.description' | sxyTranslate }}</span>
    </p>
</div>