<div class="modal-header">
  <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" sxy-text="Kirjanpitäjä/tilitoimisto"></h2>
</div>
<div class="modal-body">

  <div ng-if="!$ctrl.logic.selected" class="row">
    <div class="col-xs-12">
      <fieldset>
        <legend sxy-text="Tilitoimiston/kirjanpitäjän tyyppi"></legend>
        <salaxy-input-enum ng-model="$ctrl.logic.type" type="radio" name="logicType" label="Yhtiö vai henkilö" options="{ 
                          none: ('Ei kirjanpitäjää/tilitoimistoa' | sxyTranslate),
                          company: ('Yhtiö' | sxyTranslate),
                          person: ('Henkilö' | sxyTranslate)}">
        </salaxy-input-enum>
      </fieldset>
    </div>
  </div>

  <form name="personAccountantForm" class="form-horizontal">
    <div ng-if="$ctrl.logic.type == 'person'" class="row">
      <div class="col-xs-12">
        <fieldset>
          <salaxy-input name="firstName" label="Etunimi" require="true" ng-model="$ctrl.current.info.avatar.firstName"></salaxy-input>
          <salaxy-input name="lastName" label="Sukunimi" require="true" ng-model="$ctrl.current.info.avatar.lastName"></salaxy-input>
          <salaxy-input name="email" label="Sähköposti" require="true" sxy-email ng-model="$ctrl.current.info.email"></salaxy-input>
          <salaxy-input name="telephone" label="Puhelin" require="true" sxy-mobile-phone ng-model="$ctrl.current.info.telephone"></salaxy-input>
        </fieldset>
      </div>
    </div>
  </form>
  <div ng-if="!$ctrl.logic.selected && $ctrl.logic.type == 'company'" class="row">
    <div class="col-xs-12">
      <fieldset>
        <legend sxy-text="Hae tilitoimiston nimellä tai Y-tunnuksella"></legend>
      </fieldset>
    </div>
  </div>
  <div ng-if="!$ctrl.logic.selected && $ctrl.logic.type == 'company'" class="table-responsive" style="max-height: calc(100vh - 200px)">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">Nimi</th>
          <th>Y-tunnus</th>
          <th class="right">
            <form name="searchForm">
              <salaxy-form-group name="search" label-type="plain">
                <div class="input-group">
                  <input class="form-control" type="text" autocomplete="off" id="searchAccountant" name="searchAccountant" ng-model="$ctrl.logic.searchInput" require="true" ng-minlength="3">
                  <span class="input-group-btn">
                    <button type="submit" ng-disabled="!searchForm.$valid" class="btn btn-default"
                      ng-click="$ctrl.logic.search($ctrl.logic.searchInput)"><span ng-show="$ctrl.logic.isLoading"><i
                          class="fa fa-refresh fa-spin fa-fw"></i></span><span ng-show="!$ctrl.logic.isLoading"><i class="fa fa-search"></i></span></button>
                  </span>
                </div>
            </form>
            </salaxy-form-group>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.logic.searchResult">
          <td class="td-avatar middle">
            <salaxy-avatar avatar="row.info.avatar"></salaxy-avatar>
          </td>
          <td class="td-name  middle">
            <strong>{{row.info.avatar.displayName}}</strong><br />
          </td>
          <td class="td-name  middle">
            <strong>{{row.info.officialId}}</strong><br />
          </td>
          <td class="right middle">
            <button class="btn btn-sm btn-default" type="button" ng-click="$ctrl.logic.select($ctrl.current, row)">
              {{ 'SALAXY.NG1.CalcListComponent.select' | sxyTranslate }}
            </button>
          </td>
        </tr>
        <tr ng-if="$ctrl.logic.searchResult.length == 0">
          <td colspan="4">Haku ei löytänyt yhtään yhtiötä</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form name="companyAccountantForm" class="form-horizontal">
    <div ng-if="$ctrl.logic.selected && $ctrl.logic.type == 'company'">
      <div class="container-fixed salaxy-component salaxy-accoountant-info">
        <button class="btn btn-default pull-right" ng-click="$ctrl.logic.reset($ctrl.current)" sxy-text="Haku"></button>
        <div class="table">
          <table>
            <tr>
              <td>
                <salaxy-avatar style="font-size: 102px; margin-right: 40px;" avatar="$ctrl.current.info.avatar"></salaxy-avatar>
              </td>
              <td>
                <p class="lead" sxy-text="Näet tulevan kirjanpitäjäsi/tilitoimistosi tiedot alla.">
                </p>

                <div class="input-info">
                  <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
                  <p ng-if="$ctrl.current.info.avatar.id" class="input-info-text with-icon"
                    sxy-text="HUOM: Jotta kirjanpitäjäsi voi auttaa sinua palkanlaskennassa ja kirjanpidossa, rekisteröidylle tilitoimistokumppanille annetaan oletusarvoisesti luku- ja kirjoitusoikeudet kaikkiin palvelun tietoihin, esim. työntekijä- ja palkkatietoihin, kirjanpitoaineistoon. Jos et halua antaa näin laajoja oikeuksia, vaihtoehtoisesti voimme lähettää pelkän kirjanpitoaineiston sähköpostilla (nykyisin vain PDF).">
                  </p>
                  <p ng-if="!$ctrl.current.info.avatar.id" class="input-info-text with-icon"
                    sxy-text="Suosittelemme, että teet kirjanpitäjästäsi ns. &quot;tilitoimistokumppanin&quot;. Tällöin hänellä on oikeudet kaikkeen palkkaus.fi-tietoon. Hän voi ongelmatilanteessa tarkastella palkkoja ja jopa muokata niitä. Kirjanpitäjä saa tällöin kirjanpitoaineiston konekielisessä muodossa ja voi viedä sen useimpiin kirjanpito-ohjelmiin. Vaihtoehtoisesti voimme lähettää pelkän kirjanpitoaineiston sähköpostilla (nykyisin vain PDF).">
                  </p>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th sxy-text="Nimi" ps=":"></th>
              <td>{{ $ctrl.current.info.avatar.displayName}}</td>
            </tr>
            <tr>
              <th sxy-text="Y-tunnus" ps=":"></th>
              <td>{{ $ctrl.current.info.officialId}}</td>
            </tr>
            <tr ng-if="!$ctrl.current.info.avatar.id">
              <th sxy-text="Tilitoimiston oikeudet" ps=":"></th>
              <td>
                <salaxy-input-enum ng-model="$ctrl.current.type" type="radio" name="partnerType" label="" label-type="plain" options="{ 
                unlinkedPrimaryPartner: ('Anna kirjanpitäjälle &quot;tilitoimistokumppani&quot; oikeudet' | sxyTranslate),
                unlinkedAccountingOnly: ('Lähetä vain kirjanpitoaineisto (PDF sähköposti)' | sxyTranslate)}">
                </salaxy-input-enum>
              </td>
            </tr>
            <tr ng-if="$ctrl.current.info.avatar.id">
              <th sxy-text="Tilitoimiston oikeudet" ps=":"></th>
              <td>
                <salaxy-input-enum ng-model="$ctrl.current.type" type="radio" name="partnerType" label="" label-type="plain" options="{ 
                pendingPrimaryPartner: ('Anna kirjanpitäjälle &quot;tilitoimistokumppani&quot; oikeudet' | sxyTranslate),
                unlinkedAccountingOnly: ('Lähetä vain kirjanpitoaineisto (PDF sähköposti)' | sxyTranslate)}">
                </salaxy-input-enum>
              </td>
            </tr>
            <tr ng-if="$ctrl.current.type == 'unlinkedAccountingOnly' || !$ctrl.current.info.avatar.id">
              <th sxy-text="SALAXY.NG1.GeneralInfo.email" ps=":"></th>
              <td>
                <salaxy-input name="email" label="" require="true" label-type="plain" sxy-email ng-model="$ctrl.current.info.email"></salaxy-input>
              </td>
            </tr>
            <tr ng-if="$ctrl.current.type == 'unlinkedAccountingOnly' || !$ctrl.current.info.avatar.id">
              <th sxy-text="SALAXY.NG1.GeneralInfo.tel" ps=":"></th>
              <td>
                <salaxy-input name="telephone" label="" require="true" label-type="plain" sxy-mobile-phone ng-model="$ctrl.current.info.telephone"></salaxy-input>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="modal-footer text-right">
  <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
  <button type="button" ng-disabled="(!$ctrl.logic.selected && $ctrl.logic.type == 'company') || personAccountantForm.$invalid || companyAccountantForm.$invalid" class="btn btn-primary" ng-click="$close('ok')"
    sxy-text="Tallenna"></button>
</div>