<form name="brandForm" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Valitse kumppani ja tyyli</h2>
  </div>
  <div class="modal-body">
    <div class="table-responsive" style="max-height: calc(100vh - 300px)">
      <salaxy-odata-table 
        url="/v03-rc/api/settings/brands" 
        template-url="salaxy-components/odata/lists/BrandList.html" 
        options="{ $filter: 'data/skin ne null and data/skin ne \'\'' }"
        selected-items="selectedItems"
        on-list-select="($ctrl.current.brand = value == true ? item : null);( selectedItems = value == true? [item ]: []);">
    </salaxy-odata-table>
    </div>
  </div>
  <div class="modal-footer">
      <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
      <button type="button" class="btn btn-default" ng-click="$close('set-default')">Käytä vakiotyyliä</button>
      <button type="submit" class="btn btn-primary" ng-disabled="!$ctrl.current.brand" ng-click="$close('ok')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.saveButtonText"></button>
  </div>
</form>