<form name="periodForm" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{ $ctrl.logic.channelAvatar.displayName }}, asetukset</h2>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <p class="lead">
        <strong>{{ $ctrl.logic.channelAvatar.displayName }}</strong>:
        {{ $ctrl.logic.channelAvatar.description }}
      </p>
      <div ng-switch="$ctrl.current.id">
        <fieldset ng-switch-when="palkkausCfaFinvoice">
          <legend>Finvoice</legend>
          <salaxy-form-group name="eInvoiceReceiver" label="SALAXY.NG1.PaymentSettingsComponent.einvoice.invoiceAddress">
            <div class="input-group">
              <input class="form-control" type="text" autocomplete="off" id="eInvoiceReceiver" name="eInvoiceReceiver" ng-disabled="true"
                ng-model="$ctrl.current.invoiceSettings.eInvoiceReceiver">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.logic.selectEInvoiceAddress($ctrl.current.invoiceSettings)" sxy-text="Valitse..."></button>
              </span>
            </div>
          </salaxy-form-group>
          <salaxy-input disabled="true" name="intermediator" ng-model="$ctrl.current.invoiceSettings.eInvoiceIntermediator"
            label="SALAXY.NG1.NewPaymentComponent.einvoice.intermediatorLabel"></salaxy-input>
        </fieldset>
        <fieldset ng-switch-when="palkkausCfaPaytrail|palkkausCfaReference|palkkausCfaFinvoice|palkkausCfaTest" ng-switch-when-separator="|">
          <fieldset>
            <legend>Asiakasvaratilin kautta maksetaan</legend>
            <p>
              Oletuksena asiakasvaratilin kautta maksetaan nettopalkka, ennakonpidätys ja työeläkemaksu (TyEL).
              Alta voit halutessasi muuttaa näitä asetuksia.
            </p>
            <salaxy-input-boolean name="pension-reports" type="checkbox" ng-model="$ctrl.current.customerFundsSettings.isPensionSelfHandling" label-type="plain" label-true="SALAXY.NG1.PaymentSettingsComponent.pension.selfhandle" disabled="!$ctrl.current.customerFundsSettings.isPensionIncludedSupported"/></salaxy-input-boolean>
            <salaxy-input-boolean type="checkbox" name="isTaxAndSocialSecuritySelfHandling" label-type="plain" label-true="Hoidan ennakonpidätyksen maksun itse" ng-model="$ctrl.current.customerFundsSettings.isTaxAndSocialSecuritySelfHandling"></salaxy-input-boolean>
            <salaxy-input-boolean type="checkbox" name="isWorkerSelfHandling" label-type="plain" label-true="Hoidan nettopalkan maksun itse" ng-model="$ctrl.current.customerFundsSettings.isWorkerSelfHandling"></salaxy-input-boolean>
            <div>&nbsp;</div>
            <div class="alert alert-warning">
              <strong>HUOM: </strong> Muutokset vaikuttavat kaikkiin asiakasvaratilin kautta tehtyihin maksuihin:
              <strong>Paytrail verkkomaksu, Yksi tilisiirto viitenumerolla ja Finvoice verkkolasku (verkkolasku)</strong>.
            </div>
          </fieldset>
        </fieldset>
        <fieldset ng-switch-when="palkkausManual">
          <legend>SEPA-materiaalin asetukset</legend>
          <salaxy-input name="ibanNumber" label="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" sxy-iban ng-model="$ctrl.current.invoiceSettings.ibanNumber"></salaxy-input>
          <salaxy-input name="sepaBankPartyId" label="SEPA-maksatustunnus" ng-model="$ctrl.current.invoiceSettings.sepaBankPartyId"></salaxy-input>
        </fieldset>
        <fieldset ng-switch-default>
          <div class="alert alert-info">Maksutavalla ei ole muutettavia asetuksia</div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-if="$ctrl.current.settings.isEnabled && $ctrl.current.settings.isAvailable"  class="btn btn-danger pull-left" ng-disabled="$ctrl.current.isReadOnly" ng-click="$close('delete')">Poista käytöstä</button>
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button type="button" ng-if="!$ctrl.current.isDefault  && $ctrl.current.settings.isAvailable" class="btn btn-default"  ng-disabled="$ctrl.current.isReadOnly && !$ctrl.current.settings.isEnabled" ng-click="$close('set-default')">Aseta oletukseksi</button>
    <button type="submit" ng-if="$ctrl.current.settings.isEnabled  && $ctrl.current.settings.isAvailable" class="btn btn-primary"  ng-click="$close('ok')"   sxy-text="SALAXY.UI_TERMS.save"></button>
    <button type="button" ng-if="!$ctrl.current.settings.isEnabled  && $ctrl.current.settings.isAvailable" class="btn btn-primary"  ng-disabled="$ctrl.current.isReadOnly"  ng-click="$close('ok')">Ota käyttöön</button>
  </div>
</form>