<salaxy-form-group name="{{ $ctrl.id }}" label="{{ $ctrl.getLabel() }}" tooltip-html="{{ $ctrl.getDescr() }}" read-only="$ctrl.getReadOnly()" disabled="$ctrl.getDisable()"
  require="$ctrl.getRequire()">
  <sxy-alert type="error">
    <div ng-if="$ctrl.input.content">{{ $ctrl.input.content }}</div>
    <div ng-if="!$ctrl.input.content">No UI for model "{{ $ctrl.model }}",  type "{{ $ctrl.type }}", format "{{ $ctrl.format }}".</div>
    <div>
      <salaxy-json-formatter key="'See input json'" json="$ctrl.input" type="dialog"></salaxy-json-formatter>
      <salaxy-json-formatter key="'See schema'" json="$ctrl.schemaModel" type="dialog"></salaxy-json-formatter>
    </div>
  </sxy-alert>
</salaxy-form-group>