<div class="modal-header">
    <button class="close" ng-click="$close()" aria-label="Close">
            <span>&times;</span>
        </button>
    <img src="https://cdn.salaxy.com/ng1/img/cards/visma-logo.png" class="img-responsive" alt="Visma" />


</div>

<div class="modal-body ">
    <div class="container-fluid">
        <div>
            TODO
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="footer-content">
        TODO
    </div>
</div>