<h1 class="page-header">At the core is our Open API...</h1>
<div class="pull-right" style="max-width:50%; margin-left: 10px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture.png" class="img-responsive img-thumbnail" />
</div>
<p class="lead">
    At the core of our service is our open API. It is an HTTP (REST) API that gives you access to full functionality of our service.
    <strong>Our own web site <a href="http://www.palkkaus.fi">www.palkkaus.fi</a>*
    is created on top of that API => We eat our own dogfood!</strong>
</p>
<p class="small">
    *Disclaimer: Our consumer site created in 2014 still uses closed API, but the new version for companies, released in March 2016, uses exclusively our Open API.
</p>
<h2>Services</h2>
<p>The following functionality is provided through the API and its support pages:</p>
<ul>
    <li>Authentication: E-mail/PWD, Google, Facebook, Microsoft Account and LinkedIn.</li>
    <li>Salary calculation - available even to anonymous accounts.</li>
    <li>Salary storage, modifying (CRUD) and payment by a authenticated users.</li>
    <li>Worker (employee) profiles created by employer.</li>
    <li>Making employment related product/service orders: Pension contracts (TyEL and YEL), Unemployment (TVR), Contact to tax authorities, Accounting reports, Mandatory Accident insurance (Lakisääteinen tapaturmavakuutus) and Health-care service from Heltti.fi.</li>
    <li>Pension calculation, payment and monthly reporting as part of salary calculations.</li>
    <li>Palkkaus.fi ABC content (CMS) and user files.</li>
    <li>Public profiles search and view.</li>
    <li>Reporting: Employer, Employee, Monthly, Yearly, Tax, Pension. PDF and HTML-versions.</li>
</ul>
<h2>Getting started</h2>
<p>
    The easiest way to get started is to take our
    <a href="#/api/swagger">OpenAPI defintion</a> (Swagger) and start playing around. You may also find our <a href="#/api/models">business object browser</a> useful: Some of the response / request obejcts are quite large, so it helps in understanding
    the API.
</p>
<p>
    Also, we are happy to help you with your questions and for introduction. We can arrange you furhter material or even training sessions.
    <a href="contact@salaxy.com">Please contact us!</a>
</p>