﻿<form>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" id="sample5-id" class="form-control" placeholder="Calculation id"><br>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary" onclick="getAndUpdateCalculation()">Get and update a Calculation</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <span id="sample5-result" class="label label-default"></span>
        </div>
    </div>
</form>