<div class="salaxy-component salaxy-navi-sitemap">
  <ul class="list-group">
    <li ng-repeat="section in $ctrl.sitemap | filter:{ hidden: '!true' }" class="list-group-item">
      <a ng-href="{{section.id != 'abc' ? section.url : 'https://help.palkkaus.fi/hc/fi'}}" ng-attr-target="{{section.id == 'abc' ? '_blank' : undefined}}"
        ng-click="!section.children || !section.children.length ? $ctrl.toggleNavi() : return">
        <span ng-if="$ctrl.mode=='accordion' && section.children && section.children.length">
          <i class="fa fa-chevron-down pull-right" ng-class="{'upside' : $ctrl.getSectionId() == section.id}" aria-hidden="true"></i>
        </span> {{section.title | sxyTranslate}}
      </a>
      <ul ng-hide="!section.children.length || ($ctrl.mode=='accordion' && $ctrl.getSectionId() != section.id)">
        <li class="visible-xs">
          <strong ng-show="$ctrl.isCurrent(section)">
            <a ng-href="{{section.url}}" ng-click="$ctrl.toggleNavi()">{{section.title | sxyTranslate}}</a>
          </strong>
          <span ng-hide="$ctrl.isCurrent(section)">
            <a ng-href="{{section.url}}" ng-click="$ctrl.toggleNavi()">{{section.title | sxyTranslate}}</a>
          </span>
        </li>
        <li ng-repeat="subNavi in section.children | filter:{ hidden: '!true' }">
          <strong ng-show="$ctrl.isCurrent(subNavi)">
            <a ng-href="{{subNavi.url}}" ng-click="$ctrl.toggleNavi()">{{subNavi.title | sxyTranslate}}</a>
          </strong>
          <span ng-hide="$ctrl.isCurrent(subNavi)">
            <a ng-href="{{subNavi.url}}" ng-click="$ctrl.toggleNavi()">{{subNavi.title | sxyTranslate}}</a>
          </span>
        </li>
      </ul>
    </li>
  </ul>
  <div class="poweredby">
    <span class="poweredby-image"></span>
  </div>
</div>