<div ng-cloak class="salaxy-component salaxy-navi-page-container container-personal" ng-class="($ctrl.isNaviOpen ? 'salaxy-navi-sm-opened ' : '') + $ctrl.current.cssClass">

  <div class="salaxy-navi-sidebar hidden-print">
    <div class="salaxy-logo-container">
      <a href="/#/"><!--<img src="/img/navi-logo.png" />--></a>
    </div>
    <div class="salaxy-login-button role-worker text-center" ng-controller="SessionController as $session" style="padding:7px;" ng-hide="$session.isAuthenticated">
      <button ng-click="$session.signIn()" class="btn btn-default salaxy-login-button-login">
        <span class="glyphicon glyphicon-lock"></span>
        <span class="salaxy-login-button-text">{{ $session.isSessionChecking ?  ('SALAXY.NG1.LoginButtonComponent.searching' | sxyTranslate) : ('SALAXY.UI_TERMS.login' | sxyTranslate) }}</span>
      </button>
    </div>
    <div class="salaxy-login-button role-worker" ng-controller="SessionController as $session">
      <div ng-show="$session.isAuthenticated" class="btn-group salaxy-login-button-logout" ng-init="isNavCollapsed = true">
        <button type="button" class="btn btn-transparent" ng-click="isNavCollapsed = !isNavCollapsed" ng-class="{'collapsed' : !isNavCollapsed } ">
          <salaxy-avatar avatar="$session.avatar"></salaxy-avatar>
          <span class="salaxy-login-button-text">{{ $session.isAuthenticated ? $session.avatar.displayName : ('SALAXY.NG1.LoginButtonComponent.authenticating' | sxyTranslate) }}
            <span  class="role-text">
              <span sxy-if-role="worker">
                (Työntekijä)
              </span>
              <span sxy-if-role="household">
                (Kotitalous)
              </span>
             
            </span>
          </span>
          <i  class="fa fa-chevron-down arrow" ng-class="{'upside': !isNavCollapsed}" aria-hidden="true"></i>
        </button>
        <ul ng-controller="PersonalWebLegacyController as $legacy" role="menu" aria-labelledby="account-menu" class="login-button-menu" class="collapse " uib-collapse="isNavCollapsed">
          <li>
            <a href="#" ng-href="{{$legacy.getLogOutUrl()}}" sxy-text="SALAXY.UI_TERMS.logout"></a>
          </li>
          <li ng-controller="NaviController as $navi">
            <a href="#/account/account-info" sxy-text="SALAXY.NG1.LoginButtonComponent.accountSettings" ng-click="$navi.toggleNavi()"></a>
          </li>
        </ul>
      </div>
    </div>
    <salaxy-navi-sitemap template-url="salaxy-components/pages-personal/templates/WorkerSitemap.html" mode="accordion"></salaxy-navi-sitemap>
  </div>
  <div ng-if="$ctrl.current.id == 'home'">
    <div ng-controller="WelcomeController as $welcomeCtrl" sxy-if-role="worker">
      <div ng-if="$welcomeCtrl.workerDataNew.timeline" class="timeline-sidebar  hidden-xs">
        <div class="list-panel  panel panel-sm panel-secondary panel-own-taxcard" ng-init="chartView = true" ng-class="$welcomeCtrl.workerUI.taxCardAlert ? 'panel-danger panel-solid' : 'panel-secondary'">

          <div class="panel-heading">{{$welcomeCtrl.workerUI.panelTitles.taxCard}}
            <div class="pull-right" ng-show="$welcomeCtrl.workerUI.taxCardAdded">
              <button class="btn btn-xs btn-secondary" ng-click="chartView = !chartView" ng-class="{'active' : chartView}"><i class="fa"
              ng-class="chartView ? 'fa-list' : 'fa-line-chart'"></i></button>
              <a class="btn btn-xs btn-secondary" title="Näytä tiedosto" target="_blank" ng-if="$welcomeCtrl.getTaxcardDownloadUrl($welcomeCtrl.workerDataNew.activeTaxcard)" ng-href="{{$welcomeCtrl.getTaxcardDownloadUrl($welcomeCtrl.workerDataNew.activeTaxcard)}}"><i class="fa fa-file-pdf-o"></i></a>
            </div>
          </div>
          <div class="salaxy-component table-responsive panel-content md-height" ng-show="$welcomeCtrl.workerUI.taxCardAdded">
            <table class="table" ng-if="!chartView">
              <tr>
                <td class="strong">
                  {{ 'SALAXY.ENUM.TaxcardKind.' + $welcomeCtrl.workerDataNew.activeTaxcard.card.kind + '.label' | sxyTranslate }}
                </td>
                <td><span class="text-success">Voimassa</span> <span class="small">({{ $welcomeCtrl.workerDataNew.activeTaxcard.card.validity.end | date }} asti)</span></td>
              </tr>
              <tr>
                <td>Veroprosentti</td>
                <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.taxPercent }} %</td>
              </tr>
              <tr>
                <td>Tuloraja</td>
                <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.incomeLimit | currency }}</td>
              </tr>
              <tr>
                <td>Palkkoja maksettu</td>
                <td>{{$welcomeCtrl.workerDataNew.activeTaxcard.result.totalIncome | currency}}</td>
              </tr>
              <tr ng-if="$welcomeCtrl.workerDataNew.activeTaxcard.card.incomeLimit">
                <td>Jäljellä ennen tulorajaa</td>
                <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.incomeLimit - $welcomeCtrl.workerDataNew.activeTaxcard.result.totalIncome | currency}}</td>
              </tr>
              <tr ng-if="$welcomeCtrl.workerDataNew.activeTaxcard.card.taxPercent2">
                <td>Lisäprosentti</td>
                <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.taxPercent2 }} %</td>
              </tr>
            </table>
            <div class="panel-content md-height" ng-if="chartView">

              <div class="panel-body no-vertical-padding salaxy-tax-card-chart chart-container" style="max-height:210px; padding-top:0; padding-bottom:0; padding-left:5px;padding-right:5px;">
                <canvas ng-if="$welcomeCtrl.taxcardChartData.limits.hasLimit == true" id="line" class="chart chart-line" chart-data="$welcomeCtrl.taxcardChartData.data" chart-dataset-override="$welcomeCtrl.taxcardChartData.datasets" chart-labels="$welcomeCtrl.taxcardChartData.labels"
                  chart-fill="$welcomeCtrl.taxcardChartData.fill" chart-colors="$welcomeCtrl.taxcardChartData.colors" chart-options="$welcomeCtrl.taxcardChartData.options"></canvas>

                <canvas ng-if="$welcomeCtrl.taxcardChartData.limits.hasLimit == false || !$welcomeCtrl.taxcardChartData.limits.hasLimit" width="100%" id="pie" class="chart chart-pie" chart-data="$welcomeCtrl.taxcardChartData.data" chart-dataset-override="$welcomeCtrl.taxcardChartData.datasets"
                  chart-labels="$welcomeCtrl.taxcardChartData.labels" chart-fill="$welcomeCtrl.taxcardChartData.fill" chart-colors="$welcomeCtrl.taxcardChartData.colors" chart-options="$welcomeCtrl.taxcardChartData.options" legend="true"></canvas>
              </div>
            </div>
          </div>
          <div ng-show="!$welcomeCtrl.workerUI.taxCardAdded && !$welcomeCtrl.workerUI.taxCardAlert" class="panel-body panel-content md-height align-middle">
            <div class="text-center">
              <h3 class="text-warning">Lähetä verokortti työnantajillesi</h3>
              <p>
                Voit ladata jaetun verokortin, jolle työnantajasi voivat maksaa palkkaa. Verokortti näkyy työnantajalle seuraavan palkanmaksun yhteydessä.
              </p>
            </div>
          </div>
          <div ng-show="$welcomeCtrl.workerUI.taxCardAlert" class="panel-body panel-content md-height align-middle">
            <div class="text-center">
              <h3><strong>Lisää verokortti</strong></h3>
              <p>
                Työnantaja
                <strong>{{$welcomeCtrl.this.workerDataNew.invitation.ownerInfo.avatar.displayName}}</strong> on maksanut sinulle palkkaa
                <strong>{{$welcomeCtrl.this.workerDataNew.invitation.grossSalary | currency}}</strong> euroa.
                <br /> Jotta voimme maksaa tämän palkan sinulle, sinun täytyy syöttää verokortti.
              </p>
            </div>
          </div>
          <div class="panel-footer text-center">
            <a class="btn btn-primary btn-sm" href="#/taxcards">Lähetä verokortti</a>

          </div>
        </div>
        <div class="list-panel panel panel-sm panel-secondary panel-new-calculation">
          <div class="panel-heading">Lähetä laskelma

          </div>
          <div class="panel-body panel-content ">
            <div class="text-center">
              <h3 class="text-warning">Lähetä laskelma työnantajillesi</h3>
              <p>Voit lähettää valmiin palkkalaskelman työnantajallesi maksettavaksi. Täytä tarvittavat tiedot laskelmalle laskurilla ja jaa laskelma työnantajallesi.</p>
            </div>
          </div>
          <div class="panel-footer text-center">
            <a class="btn btn-primary btn-sm" href="#/calc/details/new">Tee uusi laskelma</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="salaxy-navi-header-mobile">
    <button type="button" class="salaxy-navi-hamburger btn btn-default pull-right" ng-click="$ctrl.toggleNavi()">
      <span class="sr-only" sxy-text="SALAXY.UI_TERMS.navigation"></span>
      <i class="fa  fa-bars" aria-hidden="true"></i>
    </button>

    <div class="btn-group pull-right btn-group-login-button" ng-controller="SessionController as $session" uib-dropdown>
      <button ng-hide="$session.isAuthenticated" ng-click="$session.signIn()" class="btn btn-default salaxy-login-button-login">
        <span class="glyphicon glyphicon-lock"></span>
        <span class="salaxy-login-button-text">{{ $ctrl.isSessionChecking ?  ('SALAXY.NG1.LoginButtonComponent.searching' | sxyTranslate) : ('SALAXY.UI_TERMS.login' | sxyTranslate) }}</span>
    </button>
      <div class="login-button role-worker " uib-dropdown-toggle type="button" ng-show="$session.isAuthenticated">
        <salaxy-avatar avatar="$session.avatar"></salaxy-avatar>
      </div>
      <ul ng-controller="PersonalWebLegacyController as $legacy" class="dropdown-menu" role="menu" aria-labelledby="account-menu" uib-dropdown-menu>
        <li>
          <a href="#" ng-href="{{$legacy.getLogOutUrl()}}" sxy-text="SALAXY.UI_TERMS.logout"></a>
        </li>
        <li role="separator" class="divider"></li>
        <li ng-controller="NaviController as $navi">
          <a href="#/account/account-info" sxy-text="SALAXY.NG1.LoginButtonComponent.accountSettings" ng-click="$navi.toggleNavi()"></a>
        </li>


      </ul>
    </div>
    <h1>{{ $ctrl.title | sxyTranslate }}</h1>
  </header>
  <div class="salaxy-navi-main-container">
    <content>
      <ng-transclude ng-transclude-slot="header">

      </ng-transclude>
      <div id="salaxy-alert-container"></div>
      <ng-transclude ng-transclude-slot="main">
        <main>
          <div class="hidden-sm hidden-xs">
            <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' : 'container'">

              <div class="row" ng-if="$ctrl.current.id != 'home'">
                <div class="col-xs-12">
                  <h1 class="page-title">
                    {{ $ctrl.title }}
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' :  'container'" ng-view autoscroll="true"></div>
        </main>
      </ng-transclude>
    </content>
  </div>
</div>