<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.panelHeading"></h1>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <salaxy-datepicker-popup name="start" ng-model="$ctrl.current.period.start" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.labelStartDate"></salaxy-datepicker-popup>
      <salaxy-datepicker-popup name="end" ng-model="$ctrl.current.period.end" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.labelEndDate"></salaxy-datepicker-popup>
      <salaxy-form-group name="daysCount" label="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.labelHolidaysCount" ng-if="!$ctrl.current.period.days || $ctrl.current.period.days.length == 0">
        <div class="input-group">
          <input class="form-control" type="text" autocomplete="off" id="daysCount" name="daysCount" ng-model="$ctrl.current.period.daysCount" disabled>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.logic.setDaysSelection($ctrl.current)" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.editDatesButtonText"></button>
          </span>
        </div>
      </salaxy-form-group>
      <salaxy-date-range ng-model="$ctrl.current.period" name="days" mode="multiple" label="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.labelHolidaysCount" min-date="$ctrl.current.period.start" max-date="$ctrl.current.period.end" ng-if="$ctrl.current.period.days.length > 0"></salaxy-date-range>
      <salaxy-input name="notes" label="SALAXY.NG1.WorkerHolidays.HolidayYearHolidaysEditDialog.labelDescription" ng-model="$ctrl.current.notes"></salaxy-input>
      <div>
        <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.UI_TERMS.ok"></button>
        <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel"></button>
        <button type="button" class="btn btn-danger" ng-click="$close('delete')" sxy-text="SALAXY.NG1.UiTerms.delete"></button>
      </div>
    </form>
  </div>
</div>