<div class="salaxy-component salaxy-holiday-year-paid">
  <div ng-if="!$ctrl.list"><salaxy-spinner></salaxy-spinner></div>
  <div ng-if="$ctrl.list">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th colspan="2">
            &nbsp; <br />
            <span class="uppercase" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaid.tableHead.paidHolidays"></span>
          </th>
          <th class="right">
            <span sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaid.tableHead.holidaysCount"></span>
            <br />
            <span sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaid.tableHead.holidaySalary"></span>
          </th>
          <th class="right">
            <span sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaid.tableHead.compensation"></span>
            <br />
            <span sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaid.tableHead.bonus"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="42px">
            <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="$ctrl.totals.startSaldo.avatar"></salaxy-avatar>
          </td>
          <td>
            <strong>{{ $ctrl.totals.startSaldo.avatar.displayName }}</strong>
            <div>{{ $ctrl.totals.startSaldo.avatar.description }}</div>
          </td>
          <td class="right">
            <div>{{ ($ctrl.totals.startSaldo.holidayDays | sxyCount : 'day') || "&nbsp;" }}</div>
            <div>{{ ($ctrl.totals.startSaldo.holidaySalary | currency) || "&nbsp;" }}</div>
          </td>
          <td class="right">
            <div>{{ ($ctrl.totals.startSaldo.holidayCompensation | currency) || "&nbsp;" }}</div>
            <div>{{ ($ctrl.totals.startSaldo.holidayBonus | currency) || "&nbsp;" }}</div>
          </td>
        </tr>
        <tr ng-repeat="row in $ctrl.list">
          <td width="42px">
            <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="row.avatar"></salaxy-avatar>
          </td>
          <td>
            <strong>{{ row.avatar.displayName }}</strong>
            <div>{{ row.avatar.description }}</div>
          </td>
          <td class="right">
            <div>{{ (row.holidayDays | sxyCount : 'day') || "&nbsp;" }}</div>
            <div>{{ (row.holidaySalary | currency) || "&nbsp;" }}</div>
          </td>
          <td class="right">
            <div>{{ (row.holidayCompensation | currency) || "&nbsp;" }}</div>
            <div>{{ (row.holidayBonus | currency) || "&nbsp;" }}</div>
          </td>
        </tr>
        <tr class="total">
          <td width="42px">
            <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="$ctrl.totals.total.avatar"></salaxy-avatar>
          </td>
          <td>
            <strong>{{ $ctrl.totals.total.avatar.displayName }}</strong>
            <div>{{ $ctrl.totals.total.avatar.description }}</div>
          </td>
          <td class="right">
            <div>{{ ($ctrl.totals.total.holidayDays | sxyCount : 'day') || "&nbsp;" }}</div>
            <div>{{ ($ctrl.totals.total.holidaySalary | currency) || "&nbsp;" }}</div>
          </td>
          <td class="right">
            <div>{{ ($ctrl.totals.total.holidayCompensation | currency) || "&nbsp;" }}</div>
            <div>{{ ($ctrl.totals.total.holidayBonus | currency) || "&nbsp;" }}</div>
          </td>
        </tr>
        <tr>
          <td width="42px">
            <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="$ctrl.totals.endSaldo.avatar"></salaxy-avatar>
          </td>
          <td>
            <strong>{{ $ctrl.totals.endSaldo.avatar.displayName }}</strong>
            <div>{{ $ctrl.totals.endSaldo.avatar.description }}</div>
          </td>
          <td class="right">
            <div>{{ ($ctrl.totals.endSaldo.holidayDays | sxyCount : 'day') || "&nbsp;" }}</div>
            <div>{{ ($ctrl.totals.endSaldo.holidaySalary | currency) || "&nbsp;" }}</div>
          </td>
          <td class="right">
            <div>{{ ($ctrl.totals.endSaldo.holidayCompensation | currency) || "&nbsp;" }}</div>
            <div>{{ ($ctrl.totals.endSaldo.holidayBonus | currency) || "&nbsp;" }}</div>
          </td>
        </tr>
      </tbody>
      </tfoot>
    </table>
  </div>
</div>