<salaxy-chart type="line" on-get-chart="$ctrl.getChart($ctrl.list)"></salaxy-chart>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableHead.month"></th>
      <th class="right" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableHead.daysCount"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: $ctrl.getRowColor('start'), initials: 'saldo', entityType: 'company' }"></salaxy-avatar>
        <strong sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.startSaldo"></strong>
        <br />
        <small>
          <div class="truncate" style="max-width: 300px;" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.startSaldoMore"></div>
        </small>
      </td>
      <td class="right" style="width: 100px">
        <salaxy-input-number name="startSaldo" label="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.startSaldo" label-type="plain" unit="days" ng-model="$ctrl.parent.accrual.startSaldo"></salaxy-input-number>
      </td>
    </tr>
    <tr ng-repeat="row in $ctrl.list">
      <td>
        <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: $ctrl.getRowColor(row), initials: (row.month | date : 'MM'), entityType: 'company' }"></salaxy-avatar>
        <strong>{{ "SALAXY.UI_TERMS.monthShort" + (row.month | date : 'M') | sxyTranslate }}kuu</strong>
        <br />
        <small>
          <div class="truncate" style="max-width: 300px;">{{ $ctrl.getAccrualNotes(row) }}</div>
        </small>
      </td>
      <td class="right" style="width: 100px">
        <salaxy-input-number name="{{ 'daysAccrued' + $index }}" label="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.daysAccruedLabel" label-type="plain" unit="days" ng-model="row.daysAccrued" ng-change="row.source = 'manual'"></salaxy-input-number>
      </td>
    </tr>
    <tr class="total">
      <td>
        <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: $ctrl.getRowColor('total'), initials: 'Yht.', entityType: 'company' }"></salaxy-avatar>
        <strong sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.daysAccrued"></strong><br />
        <strong ng-if="$ctrl.getAccrualCalculations().totalToday != $ctrl.getAccrualCalculations().accrualToday" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.total"></strong>
        <div ng-if="$ctrl.getAccrualCalculations().total != $ctrl.getAccrualCalculations().totalToday" class="truncate" style="max-width: 300px;" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearAccrual.tableBody.estimatedHolidaysNexYear"></div>
      </td>
      <td class="right" style="width: 100px">
        <strong>{{ $ctrl.getAccrualCalculations().accrualToday | sxyCount : 'day' }}</strong><br />
        <strong ng-if="$ctrl.getAccrualCalculations().totalToday != $ctrl.getAccrualCalculations().accrualToday">{{ $ctrl.getAccrualCalculations().totalToday | sxyCount : 'day' }}</strong>
        <div ng-if="$ctrl.getAccrualCalculations().total != $ctrl.getAccrualCalculations().totalToday">{{ $ctrl.getAccrualCalculations().total | sxyCount : 'day' }}</div>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <button type="button" class="btn btn-primary" ng-click="$ctrl.saveParent()" sxy-text="SALAXY.NG1.UiTerms.save"></button>
</div>