<div class="salaxy-component salaxy-holiday-year-holidays">
  <table class="table table-striped {{ $ctrl.condensed ? 'table-condensed' : ''}}">
    <thead>
      <tr>
        <th sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableHead.period"></th>
        <th class="right" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableHead.daysCount"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="!$ctrl.condensed">
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: 'saldo', entityType: 'company' }"></salaxy-avatar>
          <strong sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.availableHolidays"></strong>
          <br />
          <small>
            <div class="truncate" style="max-width: 250px;" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.availableHolidaysMore"></div>
          </small>
        </td>
        <td class="right">
          <strong>{{ $ctrl.getTotalDays("holidaysSaldoStart") | sxyCount : "day" }}</strong>
        </td>
      </tr>
      <tr ng-repeat="row in $ctrl.list | filter : $ctrl.filter" ng-click="$ctrl.showEditDialog(row)" class="clickable">
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: (row.period.daysCount + 'pv'), entityType: 'company' }"></salaxy-avatar>
          <strong>{{ row.period | sxyDateRange }}</strong>
          <br />
          <small>
            <div class="truncate" style="max-width: 250px;">{{ $ctrl.getDescription(row) }}</div>
          </small>
        </td>
        <td class="right">
          <strong>{{ row.period.daysCount | sxyCount : "day"  }}</strong>
        </td>
      </tr>
      <tr class="total" ng-if="$ctrl.condensed">
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: 'sum', entityType: 'company' }"></salaxy-avatar>
          <strong sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.total"></strong>
          <br />
          <small>
            <div class="truncate" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.totalMore"></div>
          </small>
        </td>
        <td class="right">
          <strong>{{ $ctrl.getTotalDays("filtered") | sxyCount : "day" }}</strong>
        </td>
      </tr>
      <tr ng-if="$ctrl.list.length == 0 && !$ctrl.condensed">
        <td colspan="2" style="padding-left: 48px">
          <h3 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.noHolidaysTitle"></h3>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.noHolidaysDescription"></p>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.noHolidaysDescription2"></p>
          <button type="button" class="btn btn-primary btn-block" ng-click="$ctrl.showEditDialog('new')" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.addFirstHolidayButtonText"></button>
        </td>
      </tr>
      <tr class="total" ng-if="!$ctrl.condensed">
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: 'sum', entityType: 'company' }"></salaxy-avatar>
          <strong sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.total2"></strong>
          <br />
          <small>
            <div class="truncate" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.total2More"></div>
          </small>
        </td>
        <td class="right">
          <strong>{{ $ctrl.getTotalDays("all") | sxyCount : "day" }}</strong>
        </td>
      </tr>
      <tr ng-if="!$ctrl.condensed">
        <td>
          <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: 'saldo', entityType: 'company' }"></salaxy-avatar>
          <strong sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.unusedHolidays"></strong>
          <br />
          <small>
            <div class="truncate" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.tableBody.unusedHolidaysMore"></div>
          </small>
        </td>
        <td class="right">
          <strong>{{ $ctrl.getTotalDays("holidaysSaldoEnd") | sxyCount : "day" }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.showEditDialog('new')" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearHolidays.addHolidayButtonText"></button>
  </div>
</div>