<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.panelHeading"></h1>
  </div>
  <div class="panel-body">
    <salaxy-input-enum ng-model="$ctrl.current.type" enum="AnnualLeavePaymentKind" label-type="plain" ng-if="$ctrl.current.type != 'undefined'" hidden-options="undefined,planned,info,startSaldo,total,endSaldo" name="typeSelect" type="select" class="pull-right"></salaxy-input-enum>
    <form class="form-horizontal">
      <div ng-switch="$ctrl.current.type">
        <div ng-switch-when="undefined">
          <p class="lead" sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.undefined.labelAnnualLeavePaymentKind"></p>
          <salaxy-input-enum ng-model="$ctrl.current.type" name="typeRadio" enum="AnnualLeavePaymentKind" type="radio" label-type="plain"></salaxy-input-enum>
          <p>&nbsp;</p>
        </div>
        <div ng-switch-when="manualSalary">
          <h3 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.title"></h3>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.description"></p>
          <salaxy-datepicker-popup name="paidAt" ng-model="$ctrl.current.paidAt" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelPaidAt"></salaxy-datepicker-popup>
          <salaxy-datepicker-popup name="myDatepickerPopup" ng-model="$ctrl.current.period.start" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelStartDate">
          </salaxy-datepicker-popup>
          <salaxy-datepicker-popup name="myDatepickerPopup" ng-model="$ctrl.current.period.end" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelEndDate">
          </salaxy-datepicker-popup>
          <salaxy-input-number disabled name="days" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelDaysCount" ng-model="$ctrl.current.period.daysCount"></salaxy-input-number>
          <salaxy-input-number name="holidayDays" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelUsedHolidays" ng-model="$ctrl.current.holidayDays"></salaxy-input-number>
          <salaxy-input-number name="holidaySalary" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelHolidaySalary" ng-model="$ctrl.current.holidaySalary"></salaxy-input-number>
          <salaxy-input-number name="holidayBonus" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelBonus" ng-model="$ctrl.current.holidayBonus"></salaxy-input-number>
          <salaxy-input name="notes" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualSalary.labelDescription" ng-model="$ctrl.current.avatar.description"></salaxy-input>
        </div>
        <div ng-switch-when="manualCompensation">
          <h3 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.title"></h3>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.description"></p>
          <salaxy-datepicker-popup name="paidAt" ng-model="$ctrl.current.paidAt" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelPaidAt"></salaxy-datepicker-popup>
          <salaxy-datepicker-popup name="myDatepickerPopup" ng-model="$ctrl.current.period.start" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelStartDate">
          </salaxy-datepicker-popup>
          <salaxy-datepicker-popup name="myDatepickerPopup" ng-model="$ctrl.current.period.end" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelEndDate">
          </salaxy-datepicker-popup>
          <salaxy-input-number disabled name="days" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelDaysCount" ng-model="$ctrl.current.period.daysCount"></salaxy-input-number>
          <salaxy-input-number name="holidayDays" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelPaidHolidays" ng-model="$ctrl.current.holidayDays"></salaxy-input-number>
          <salaxy-input-number name="holidayCompensation" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelCompensation" ng-model="$ctrl.current.holidayCompensation"></salaxy-input-number>
          <salaxy-input-number name="holidayBonus" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelBonus" ng-model="$ctrl.current.holidayBonus"></salaxy-input-number>
          <salaxy-input name="notes" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualCompensation.labelDescription" ng-model="$ctrl.current.avatar.description"></salaxy-input>
        </div>
        <div ng-switch-when="manualBonus">
          <h3 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualBonus.title"></h3>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualBonus.description"></p>
          <salaxy-datepicker-popup name="paidAt" ng-model="$ctrl.current.paidAt" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualBonus.labelPaidAt"></salaxy-datepicker-popup>
          <salaxy-input-number name="holidayBonus" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualBonus.labelBonus" ng-model="$ctrl.current.holidayBonus"></salaxy-input-number>
          <salaxy-input name="notes" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.manualBonus.labelDescription" ng-model="$ctrl.current.avatar.description"></salaxy-input>
        </div>
        <div ng-switch-when="paidCalc">
          <h3 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.paidCalc.title"></h3>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.paidCalc.description"></p>
          <salaxy-calc-list category="paid" on-list-select="$ctrl.selectCalc" ng-if="!$ctrl.current.calcId" list-type="standard"></salaxy-calc-list>
          <div ng-if="$ctrl.current.calcId">
            <salaxy-input-number name="holidayDays" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.paidCalc.labelPaidHolidays" ng-model="$ctrl.current.holidayDays"></salaxy-input-number>
            <salaxy-input-number name="holidaySalary" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.paidCalc.labelHolidaySalary" ng-model="$ctrl.current.holidaySalary"></salaxy-input-number>
            <salaxy-input-number name="holidayCompensation" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.paidCalc.labelCompensation" ng-model="$ctrl.current.holidayCompensation"></salaxy-input-number>
            <salaxy-input-number name="holidayBonus" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.paidCalc.labelBonus" ng-model="$ctrl.current.holidayBonus"></salaxy-input-number>
          </div>
        </div>
        <div ng-switch-when="draftCalc">
          <h3 sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.draftCalc.title"></h3>
          <p sxy-text="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.draftCalc.description"></p>
          <salaxy-calc-list category="draft" on-list-select="$ctrl.selectCalc" ng-if="!$ctrl.current.calcId" list-type="standard"></salaxy-calc-list>
          <div ng-if="$ctrl.current.calcId">
            <salaxy-input-number name="holidayDays" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.draftCalc.labelPaidHolidays" ng-model="$ctrl.current.holidayDays"></salaxy-input-number>
            <salaxy-input-number name="holidaySalary" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.draftCalc.labelHolidaySalary" ng-model="$ctrl.current.holidaySalary"></salaxy-input-number>
            <salaxy-input-number name="holidayCompensation" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.draftCalc.labelCompensation" ng-model="$ctrl.current.holidayCompensation"></salaxy-input-number>
            <salaxy-input-number name="holidayBonus" label="SALAXY.NG1.WorkerHolidays.HolidayYearPaidEditDialog.draftCalc.labelBonus" ng-model="$ctrl.current.holidayBonus"></salaxy-input-number>
          </div>
        </div>
        <div ng-switch-default>
          <h3>{{ "AnnualLeavePaymentKind." + $ctrl.current.type | sxyEnum }}</h3>
          <p>{{ "AnnualLeavePaymentKind." + $ctrl.current.type | sxyEnumDescr }}</p>
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.NG1.UiTerms.save"></button>
        <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel"></button>
        <button type="button" class="btn btn-danger" ng-click="$close('delete')" sxy-text="SALAXY.NG1.UiTerms.delete"></button>
      </div>
    </form>
  </div>
</div>