<div class="salaxy-component salaxy-worker-holidays">
  <ng-include ng-if="!$ctrl.current || !$ctrl.current.spec.code || $ctrl.current.spec.code == 'undefined'" src="'salaxy-components/worker/holidays/WorkerHolidays-undefined.html'"></ng-include>
  <ng-include ng-if="$ctrl.current.spec.code == 'holidayCompensation'" src="'salaxy-components/worker/holidays/WorkerHolidays-holidayCompensation.html'"></ng-include>
  <ng-include ng-if="$ctrl.current.spec.code == 'permanent14Days' || $ctrl.current.spec.code == 'permanent35Hours' || $ctrl.current.spec.code == 'temporaryTimeOff'" src="'salaxy-components/worker/holidays/WorkerHolidays-accrual.html'"></ng-include>
  <ng-include ng-if="$ctrl.current.spec.code == 'noHolidays'" src="'salaxy-components/worker/holidays/WorkerHolidays-noHolidays.html'"></ng-include>
  <div ng-if="$ctrl.current.spec.code == 'undefined'" class="alert alert-danger">
    <h2 sxy-text="SALAXY.NG1.WorkerHolidays.alert.undefined"></h2>
  </div>
  <div ng-if="$ctrl.current.spec.code == 'holidayCompensationIncluded'" class="alert alert-danger">
    <h2 sxy-text="SALAXY.NG1.WorkerHolidays.alert.holidayCompensationIncluded"></h2>
  </div>
</div>