<div class="row">
  <div class="col-sm-8">
    <fieldset ng-if="$ctrl.viewType == 'overview'">
      <legend><span sxy-text="SALAXY.NG1.WorkerHolidays.accrual.overview.legend"></span> {{ $ctrl.current.year }}</legend>
      <table class="salaxy-holidays-overview-table">
        <thead>
          <tr>
            <th class="year bg-{{year.style}}" ng-repeat="year in $ctrl.getYearVisualisation().years" colspan="{{ year.months }}">{{ year.text }}</th>
          </tr>
          <tr>
            <th ng-class="{ 'month': true, 'bg-primary': month%2, 'bg-danger': $index == $ctrl.getYearVisualisation().currentMonthIx }" ng-repeat="month in $ctrl.getYearVisualisation().months track by $index" class="text-right">{{ month }}</th>
          </tr>
        </thead>
        <tr ng-repeat="item in $ctrl.getYearVisualisation().items">
          <td class="month-empty" ng-repeat="x in [].constructor(item.start) track by $index"></td>
          <td colspan="{{ item.months }}">
            <button class="btn btn-{{ item.style }} btn-block btn-sm" ng-click="$ctrl.viewType = item.view">{{ item.text }}</button>
          </td>
          <td class="month-empty" ng-repeat="x in [].constructor(25 - item.start - item.months) track by $index"></td>
        </tr>
      </table>
      <h3 sxy-text="SALAXY.NG1.WorkerHolidays.accrual.overview.introTitle"></h3>
      <ol class="lead">
        <li sxy-html="SALAXY.NG1.WorkerHolidays.accrual.overview.introList.html"></li>
        <li sxy-html="SALAXY.NG1.WorkerHolidays.accrual.overview.introList2.html"></li>
        <li ng-if="$ctrl.getVisibility('hourly')" sxy-html="SALAXY.NG1.WorkerHolidays.accrual.overview.introList3.html"></li>
        <li sxy-html="SALAXY.NG1.WorkerHolidays.accrual.overview.introList4.html"></li>
      </ol>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'holidays'">
      <legend>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays-summer'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonSummer"></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays-winter'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonWinter"></button>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.calendarTitle"></span> {{ $ctrl.current.year}}
      </legend>
      <salaxy-holiday-year-holidays on-commit="$ctrl.save()" parent="$ctrl.current"></salaxy-holiday-year-holidays>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'holidays-summer'">
      <legend>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonAll"></button>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.summerHolidaysTitle"></span> {{ $ctrl.current.year}}
      </legend>
      <salaxy-calendar data="[$ctrl.current]" mapper="$ctrl.mapToCalendar" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
        start="$ctrl.current.year + '-05-01'" end="$ctrl.current.year + '-09-01'"></salaxy-calendar>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'holidays-winter'">
      <legend>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonAll"></button>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.winterHolidaysTitle"></span> {{ $ctrl.current.year}}
      </legend>
      <salaxy-calendar data="[$ctrl.current]" mapper="$ctrl.mapToCalendar" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
        start="$ctrl.current.year + '-10-01'" end="(1 * $ctrl.current.year + 1) + '-04-01'"></salaxy-calendar>
    </fieldset>

    <fieldset ng-if="$ctrl.viewType == 'paidHolidays'">
      <legend>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.accrual.paidSalaries.legend"></span> {{ $ctrl.current.period | sxyDateRange }}
      </legend>
      <p sxy-text="SALAXY.NG1.WorkerHolidays.accrual.paidSalaries.description"></p>

      <ul sxy-html="SALAXY.NG1.WorkerHolidays.accrual.paidSalaries.descriptionList.html"></ul>
      <salaxy-holiday-year-paid parent="$ctrl.current"></salaxy-holiday-year-paid>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'accrual'">
      <legend>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.accrual.accrualHolidays.legend"></span> {{ $ctrl.current.accrual.period | sxyDateRange }}
      </legend>
      <p>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.accrual.accrualHolidays.description"></span> {{ $ctrl.current.year - 1 }}.
        <span sxy-text="SALAXY.NG1.WorkerHolidays.accrual.accrualHolidays.description2"></span> {{ $ctrl.current.year }}.
      </p>
      <salaxy-holiday-year-accrual parent="$ctrl.current"></salaxy-holiday-year-accrual>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'hourlySalaries'">
      <legend>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.accrual.hourlySalaries.legend"></span> {{ $ctrl.current.period | sxyDateRange }}
      </legend>
      <p sxy-text="SALAXY.NG1.WorkerHolidays.accrual.hourlySalaries.description"></p>
      <ul sxy-html="SALAXY.NG1.WorkerHolidays.accrual.hourlySalaries.descriptionList.html"></ul>
      <p sxy-text="SALAXY.NG1.WorkerHolidays.accrual.hourlySalaries.description2"></p>
    </fieldset>
  </div>
  <div class="col-sm-4">
    <div class="btn-group btn-block" uib-dropdown>
      <button id="year-selection" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
        {{ $ctrl.current ? ('SALAXY.NG1.WorkerHolidays.UI.dropdown.selectedYear' | sxyTranslate) + " " + $ctrl.current.year : ('SALAXY.NG1.WorkerHolidays.UI.dropdown.selectYear' | sxyTranslate)  }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="$ctrl.model = year" ng-repeat="year in $ctrl.employmentHolidayYears">{{ year.year }}</a></li>
        <li role="menuitem"><a ng-href="#{{ $ctrl.getDefaults().listUrl }}" ng-if="!($ctrl.employmentHolidayYears.length > 0)">Takaisin listaan</a></li>
        <li class="divider"></li>
        <li role="menuitem">
          <a href="" ng-click="$ctrl.showInitHolidays()" sxy-text="SALAXY.NG1.WorkerHolidays.UI.dropdown.showInitHolidays"></a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
    <div class="btn-group-vertical btn-block">
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'overview'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonOverview"></label>
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'accrual'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonAccrual"></label>
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'holidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonHolidays"></label>
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'hourlySalaries'" ng-if="$ctrl.getVisibility('hourly')" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonHourlySalaries"></label>
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'paidHolidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonPaidHolidays"></label>
    </div>
    <p>&nbsp;</p>
    <fieldset ng-if="$ctrl.current">
      <legend sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.info"></legend>
      <div>{{ "WageBasis." + $ctrl.current.spec.wageBasis | sxyEnum }}</div>
      <div>{{ "HolidayCode." + $ctrl.current.spec.code | sxyEnum }}</div>
      <div ng-if="$ctrl.getVisibility('accrual')">
        {{'SALAXY.NG1.WorkerHolidays.UI.sidebar.periodAccrual' | sxyTranslate}}<br />{{ $ctrl.current.accrual.period | sxyDateRange }}</div>
      <div><span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.periodSelectedYear"></span>
        <br />{{ $ctrl.current.period | sxyDateRange }}
      </div>
      <div ng-if="$ctrl.getVisibility('accrual')">
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.periodDefaultAccrual"></span> {{ $ctrl.current.spec.accrualFixed || $ctrl.current.accrual.defaultAccrual | sxyCount : 'day' }}
      </div>
      <div ng-if="$ctrl.getVisibility('compensation')">
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.compensation"></span> {{ $ctrl.current.spec.compensation | sxyCount : 'percent' }}
      </div>
      <div>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.bonus"></span> {{ $ctrl.current.spec.bonus | sxyCount : 'percent' }}
      </div>
    </fieldset>
  </div>
</div>