<div class="row">
  <div class="col-sm-8">
    <fieldset ng-if="$ctrl.viewType == 'overview'">
      <legend>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.legend"></span>
        (<span sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.legendYear"></span> {{$ctrl.current.year}})
      </legend>
      <p class="lead" sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.intro"></p>
      <ol class="lead">
        <li>
          <strong sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.intro2"></strong>
          <ul>
            <li> <span sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.introCompensation"></span>{{ $ctrl.current.spec.compensation | sxyCount : 'percent' }}</li>
            <li ng-if="$ctrl.current.spec.bonusMethod != 'none'"><span sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.introBonus"></span> {{ $ctrl.current.spec.bonus | sxyCount : 'percent' }}</li>
            <li ng-if="$ctrl.current.spec.bonusMethod == 'none'" sxy-text="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.introNoBonus"></li>
          </ul>
        </li>
        <li sxy-html="SALAXY.NG1.WorkerHolidays.holidayCompensation.overview.introUseCalendar.html"></li>
      </ol>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'holidays'">
      <legend>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays-summer'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonSummer"></button>
        <span class="pull-right">&nbsp;</span>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays-winter'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonWinter"></button>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.calendarTitle"></span> {{ $ctrl.current.year}}
      </legend>
      <salaxy-holiday-year-holidays on-commit="$ctrl.save()" parent="$ctrl.current"></salaxy-holiday-year-holidays>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'holidays-summer'">
      <legend>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonAll"></button>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.summerHolidaysTitle"></span> {{ $ctrl.current.year}}
      </legend>
      <salaxy-calendar data="[$ctrl.current]" mapper="$ctrl.mapToCalendar" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
        start="$ctrl.current + '-05-01'" end="$ctrl.current + '-09-01'"></salaxy-calendar>
    </fieldset>
    <fieldset ng-if="$ctrl.viewType == 'holidays-winter'">
      <legend>
        <button class="btn btn-primary btn-sm pull-right" ng-click="$ctrl.viewType = 'holidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.buttonAll"></button>
        <span sxy-text="SALAXY.NG1.WorkerHolidays.UI.winterHolidaysTitle"></span> {{ $ctrl.current.year}}
      </legend>
      <salaxy-calendar data="[$ctrl.current]" mapper="$ctrl.mapToCalendar" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
        start="$ctrl.current + '-10-01'" end="(1 * $ctrl.current + 1) + '-04-01'"></salaxy-calendar>
    </fieldset>
  </div>
  <div class="col-sm-4">
    <div class="btn-group btn-block" uib-dropdown>
      <button id="year-selection" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
          {{ $ctrl.current ? ('SALAXY.NG1.WorkerHolidays.UI.dropdown.selectedYear' | sxyTranslate) + " " +  $ctrl.current.year : ('SALAXY.NG1.WorkerHolidays.UI.dropdown.selectYear' | sxyTranslate) }} <span class="caret"></span>
        </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="$ctrl.model = year" ng-repeat="year in $ctrl.employmentHolidayYears">{{ year.year }}</a></li>
        <li role="menuitem"><a ng-href="#{{ $ctrl.getDefaults().listUrl }}" ng-if="!($ctrl.employmentHolidayYears.length > 0)">Takaisin listaan</a></li>
        <li class="divider"></li>
        <li role="menuitem">
          <a href="" ng-click="$ctrl.showInitHolidays()" sxy-text="SALAXY.NG1.WorkerHolidays.UI.dropdown.showInitHolidays"></a>
        </li>
      </ul>
    </div>
    <p>&nbsp;</p>
    <div class="btn-group-vertical btn-block">
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'overview'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonOverview"></label>
      <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'holidays'" sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.buttonHolidays"></label>
    </div>
    <p>&nbsp;</p>
    <fieldset ng-if="$ctrl.current">
      <legend sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.info"></legend>
      <div>{{ "HolidayCode." + $ctrl.current.spec.code | sxyEnum }}</div>
      <div><span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.periodSelectedYear"></span><br />{{ $ctrl.current.period | sxyDateRange }}</div>
      <div><span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.compensation"></span> {{ $ctrl.current.spec.compensation | sxyCount : 'percent' }}</div>
      <div><span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.bonus"></span> {{ $ctrl.current.spec.bonus | sxyCount : 'percent' }}</div>
    </fieldset>
  </div>
</div>