<div class="row">
  <div class="col-sm-8">
    <fieldset ng-if="$ctrl.viewType == 'overview'">
      <legend><span sxy-text="SALAXY.NG1.WorkerHolidays.noHolidays.legend"></span>{{ $ctrl.current.year }}</legend>
      <p class="lead" sxy-text="SALAXY.NG1.WorkerHolidays.noHolidays.intro"></p>
      <p><span sxy-text="SALAXY.NG1.WorkerHolidays.noHolidays.intro2"></span>

        <a href="" ng-click="$ctrl.showInitHolidays()" sxy-text="SALAXY.NG1.WorkerHolidays.noHolidays.introShowInitHolidays"></a>.
      </p>
    </fieldset>
  </div>
  <div class="col-sm-4">
    <div class="btn-group btn-block" uib-dropdown>
      <button id="year-selection" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
        {{ $ctrl.current ? ('SALAXY.NG1.WorkerHolidays.UI.dropdown.selectedYear' | sxyTranslate) + " " + $ctrl.current.year : ('SALAXY.NG1.WorkerHolidays.UI.dropdown.selectYear' | sxyTranslate) }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="$ctrl.model = year" ng-repeat="year in $ctrl.employmentHolidayYears">{{ year.year }}</a></li>
        <li role="menuitem"><a ng-href="#{{ $ctrl.getDefaults().listUrl }}" ng-if="!($ctrl.employmentHolidayYears.length > 0)">Takaisin listaan</a></li>
        <li class="divider"></li>
        <li role="menuitem">
          <a href="" ng-click="$ctrl.showInitHolidays()" sxy-text="SALAXY.NG1.WorkerHolidays.UI.dropdown.showInitHolidays"></a>.</li>
      </ul>
    </div>
    <p>&nbsp;</p>
    <fieldset ng-if="$ctrl.current">
      <legend sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.info"></legend>
      <div>{{ "HolidayCode." + $ctrl.current.spec.code | sxyEnum }}</div>
      <div><span sxy-text="SALAXY.NG1.WorkerHolidays.UI.sidebar.periodSelectedYear"></span><br />{{ $ctrl.current.period | sxyDateRange }}</div>
    </fieldset>
  </div>
</div>