<div class="salaxy-component salaxy-holidays-init-dialog">
  <form class="form-horizontal">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="$close('cancel')"><span aria-hidden="true">&times;</span></button>
        <h2 sxy-text="SALAXY.NG1.WorkerHolidays.InitDialog.panelHeading"></h2>
        <p sxy-text="SALAXY.NG1.WorkerHolidays.InitDialog.intro"></p>
      </div>
      <div class="panel-body">
        <div ng-if="$ctrl.logic.hasData" class="alert alert-danger" sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.alert.html"></div>
        <div class="row form-horizontal">
          <div class="col-sm-6">
            <fieldset>
              <legend sxy-text="SALAXY.NG1.WorkerHolidays.InitDialog.legendSelectHolidayType"></legend>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="$ctrl.current.code" name="code" id="permanent14Days" value="permanent14Days">
                  <span sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.label.permanent14Days.html"></span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="$ctrl.current.code" name="code" id="permanent35Hours" value="permanent35Hours">
                  <span sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.label.permanent35Hours.html"></span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="$ctrl.current.code" name="code" id="holidayCompensation" value="holidayCompensation">
                  <span sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.label.holidayCompensation.html"></span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="$ctrl.current.code" name="code" id="temporaryTimeOff" value="temporaryTimeOff">
                  <span sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.label.temporaryTimeOff.html"></span>
                </label>
              </div>
              <div class="radio" ng-if="$ctrl.current.code == 'holidayCompensationIncluded'">
                <!-- Currently disabled from UI -->
                <label>
                  <input type="radio" ng-model="$ctrl.current.code" name="code" id="holidayCompensationIncluded" value="holidayCompensationIncluded">
                  <span sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.label.holidayCompensationIncluded.html"></span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="$ctrl.current.code" name="code" id="noHolidays" value="noHolidays">
                  <span sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.label.noHolidays.html"></span>
                </label>
              </div>
              <p class="lead" sxy-html="SALAXY.NG1.WorkerHolidays.InitDialog.moreInfo.html"></p>
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset>
              <legend sxy-text="SALAXY.NG1.WorkerHolidays.InitDialog.legendDetails"></legend>
              <div ng-if="$ctrl.logic.getVisibility($ctrl.current, 'accrualFixed')">
                <salaxy-input-boolean type="checkbox" name="accrualByLaw" label="SALAXY.NG1.WorkerHolidays.InitDialog.label.accrualByLaw"
                  label-true="{{ 'SALAXY.NG1.WorkerHolidays.InitDialog.label.accrualByLawLabelTrue' + ($ctrl.current.code == 'temporaryTimeOff' ? '2' : '') }}"
                  ng-change="$ctrl.logic.accrualByLawChanged($ctrl.current)"
                  ng-model="$ctrl.logic.accrualByLaw"></salaxy-input-boolean>
                <salaxy-input-number ng-model="$ctrl.current.accrualFixed" name="accrualFixed" ng-if="$ctrl.current.accrualFixed"
                  ng-change="$ctrl.logic.accrualFixedChanged($ctrl.current)"
                  label="SALAXY.NG1.WorkerHolidays.InitDialog.label.accrualFixed" unit="days">
                </salaxy-input-number>
              </div>
              <salaxy-input-number ng-model="$ctrl.current.compensation" name="compensation" ng-if="$ctrl.logic.getVisibility($ctrl.current, 'compensation')" required
                label="SALAXY.NG1.WorkerHolidays.InitDialog.label.compensation" unit="percent"></salaxy-input-number>
              <salaxy-input-enum name="bonusMethod" ng-model="$ctrl.current.bonusMethod" ng-if="$ctrl.logic.getVisibility($ctrl.current, 'bonusMethod')"
                label="SALAXY.NG1.WorkerHolidays.InitDialog.label.bonusMethod" enum="HolidayBonusPaymentMethod"></salaxy-input-enum>
              <salaxy-input-enum name="bonusMethod" ng-model="$ctrl.current.bonusMethod" ng-if="$ctrl.logic.getVisibility($ctrl.current, 'compensation')"
                label="SALAXY.NG1.WorkerHolidays.InitDialog.label.bonusMethod"
                options="{ 'none': ('SALAXY.NG1.WorkerHolidays.InitDialog.label.bonusMethodNone' | sxyTranslate), 'payForHolidaySalary': ('SALAXY.NG1.WorkerHolidays.InitDialog.label.bonusMethodPayForHolidaySalary' | sxyTranslate)  }">
              </salaxy-input-enum>
              <salaxy-input-number ng-model="$ctrl.current.bonus" name="bonus" ng-if="$ctrl.logic.getVisibility($ctrl.current, 'bonusPercent')"
                label="SALAXY.NG1.WorkerHolidays.InitDialog.label.bonusPercent" unit="percent"></salaxy-input-number>
              <div ng-if="$ctrl.logic.getVisibility($ctrl.current, 'accrualFixed')">
                <salaxy-input-enum name="wageBasis" ng-model="$ctrl.current.wageBasis" label="SALAXY.NG1.WorkerHolidays.InitDialog.label.wageBasis"
                  enum="WageBasis"></salaxy-input-enum>
                <salaxy-form-group label="SALAXY.NG1.WorkerWizardComponent.employment.group.title" name="contract">
                  <salaxy-datepicker-popup name="startDate" label="SALAXY.NG1.WorkerWizardComponent.employment.group.startDate" 
                    ng-model="$ctrl.current.employmentPeriod.start"></salaxy-datepicker-popup>
                  <salaxy-datepicker-popup name="endDate" label="SALAXY.NG1.WorkerWizardComponent.employment.group.endDate"
                    ng-model="$ctrl.current.employmentPeriod.end"></salaxy-datepicker-popup>
                </salaxy-form-group>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.NG1.WorkerHolidays.InitDialog.submitButtonText"></button>
        <button type="button" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel"></button>
      </div>
    </div>
  </form>
</div>