<div class="salaxy-placeholder-empty placeholder-md">
  <h3 sxy-text="SALAXY.NG1.WorkerHolidays.undefined.title"></h3>
  <p sxy-text="SALAXY.NG1.WorkerHolidays.undefined.intro"></p>
  <div class="row">
    <div class="col-sm-6">
      <h4 sxy-text="SALAXY.NG1.WorkerHolidays.undefined.subtitleLeft"></h4>
      <ul sxy-html="SALAXY.NG1.WorkerHolidays.undefined.introLeft"></ul>
      <button class="btn btn-primary btn-block" ng-click="$ctrl.showInitHolidays()" sxy-text="SALAXY.NG1.WorkerHolidays.undefined.showInitHolidaysButtonText"></button>
    </div>
    <div class="col-sm-6">
      <h4 sxy-text="SALAXY.NG1.WorkerHolidays.undefined.subtitleRight"></h4>
      <ul sxy-html="SALAXY.NG1.WorkerHolidays.undefined.introRight"></ul>
    </div>
  </div>
</div>