<main class="salaxy-content sxytpl-invoices-list">
  <section ng-controller="InvoiceCrudController as $ctrl" ng-init="$ctrl.model = 'url'">
    <uib-tabset>
      <uib-tab index="'default'" heading="Esikatselu">
        <salaxy-invoice-preview model="$ctrl"></salaxy-invoice-preview>
      </uib-tab>
      <uib-tab index="'calc'" heading="Laskelma(t)" ng-if="$ctrl.current" ng-init="$ctrl.currentCalcId = $ctrl.current.header.businessObjects[0]">
        <div ng-if="$ctrl.current.header.businessObjects.length > 1">
          <salaxy-input-enum name="calcs" ng-model="$ctrl.currentCalcId" options="$ctrl.current.header.businessObjects" label="Valitse laskelma"></salaxy-input-enum>
        </div>
        <div class="text-right">
          <button class="btn btn-default" ng-click="$ctrl.$calc.reload()">Päivitä</button>
        </div>
        <salaxy-calc model="$ctrl.currentCalcId" ng-ref="$ctrl.$calc"></salaxy-calc>
      </uib-tab>
      <uib-tab ng-if="'test' | sxyIsInRole" index="'preview'" heading="Tuloste ja viivakoodi">
        <p>
          <span class="badge bg-primary">test</span>
          Laskun tuloste ja viivakoodi nyt vain testissä: voidaan haluttaessa enabloida myös tuotantoon.
        </p>
        <salaxy-credit-transfer invoice="$ctrl.current"></salaxy-credit-transfer>
      </uib-tab>
      <uib-tab ng-if="'test' | sxyIsInRole" index="'actions'" heading="Toiminnot">
        <p>
          <span class="badge bg-primary">test</span>
          Muokkaustoiminnot vain testissä
        </p>
        <salaxy-invoice-edit model="$ctrl"></salaxy-invoice-edit>
      </uib-tab>
      <uib-tab ng-if="'test' | sxyIsInRole" index="'debug'" heading="Debug">
        <p>
          <span class="badge bg-primary">test</span>
          Debug-toiminnot vain testissä.
        </p>
        <salaxy-json-formatter json="$ctrl.current" open="1"></salaxy-json-formatter>
      </uib-tab>
  </section>
</main>