<div salaxy-if-role="test" class="salaxy-component salaxy-account-reset">
  <hr />
  <h2>Vain testiympäristö</h2>
  <p class="lead">
    Nämä toiminnallisuudet ovat näkyvissä vain testiympäristössä. Voit käyttää näitä toimintoja testataksesi työnantajan tiliä eri tiloissa.
  </p>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>Poista kaikki laskelmat.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteCalculations()">Poista laskelmat</button></td>
      </tr>
      <tr>
        <td>Poista kaikki työntekijät. Tämä poistaa myös laskelmat, jos niitä on.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteWorkers()">Poista työntekijät</button></td>
      </tr>
      <tr>
        <td>Poista loma- ja poissaolokirjanpito kaikilta työntekijöiltä.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteHolidays()">Poista lomat ja poissaolot</button></td>
      </tr>
      <tr>
        <td>Poista kaikki data: Laskelmien ja työntekijöiden lisäksi myös mahd. työsopimukset, raportit jne. Asetukset ja allekirjoitus pysyvät ennallaan.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteData()">Poista kaikki data</button></td>
      </tr>
      <tr>
        <td>Poista TyEL ja Tapavak: Käyttäjällä on puutteita palkanmaksun asetuksissa.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deletePensionAndInsurance()">Poista TyEL ja Tapavak</button></td>
      </tr>
      <tr>
        <td>Poista Allekirjoitus: Käyttäjä keskeyttänyt Onboarding-wizardin ennen digitaalista allekirjoitusta.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteSignature()">Poista Allekirjoitus</button></td>
      </tr>
      <tr>
        <td>Poista luodut tilit. Tämän tilin luomat uudet tilit, joilla ei ole maksettuja laskelmia tai allekirjoituksia, poistetaan.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteAuthorizingAccounts()">Poista luodut tilit</button></td>
      </tr>
      <tr>
        <td>Tuhoa tili: Tuhoa koko tili. Voit aloittaa Onboarding-prosessin alusta.</td>
        <td><button class="btn btn-danger btn-block" ng-click="$ctrl.deleteCurrent()">Tuhoa tili</button></td>
      </tr>
    </table>
  </div>
</div>