﻿<div class="container-fixed salaxy-component salaxy-account-info">
  <table sxy-if-role="company">
    <tr>
      <td>
        <salaxy-avatar avatar="$ctrl.company.avatar"></salaxy-avatar>
      </td>
      <td>
        <p class="lead" ng-controller="CompanyOnboardingController as wizard">
          Jokaisella yrityksellä (kuten myös kotitaloustyönantajalla ja työntekijällä) on palvelussamme Palkkaus.fi-tili. Palkkaus.fi-tiliin tallennetaan palkanmaksua varten tiedot
          sekä kaikki maksutapahtumat. Voit muokata tietojasi <a ng-click="wizard.launch()">ohjatusta toiminnosta täältä</a> (vaatii pankkitunnukset).
        </p>
      </td>
    </tr>
  </table>
  <div salaxy-if-role="company" class="table-responsive">
    <table class="table">
      <tr>
        <th sxy-text="SALAXY.NG1.GeneralInfo.palkkausAccount" ps=":"></th>
        <td>{{ $ctrl.company.id | sxyIban }}</td>
        <th sxy-text="SALAXY.NG1.GeneralInfo.email" ps=":"></th>
        <td>{{ $ctrl.company.contact.email }}</td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.AccountInfoComponent.companyName" ps=":"></th>
        <td>{{ $ctrl.company.avatar.displayName }}</td>
        <th sxy-text="SALAXY.NG1.GeneralInfo.tel" ps=":"></th>
        <td>{{ $ctrl.company.contact.telephone }}</td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.AccountInfoComponent.vatNumber" ps=":"></th>
        <td>{{ $ctrl.company.identity.officialId }}</td>
        <th sxy-text="SALAXY.NG1.GeneralInfo.address" ps=":"></th>
        <td>
          {{ $ctrl.company.contact.street }}<br /> {{ $ctrl.company.contact.postalCode }} {{ $ctrl.company.contact.city }}
        </td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.AccountInfoComponent.companyType" ps=":"></th>
        <td>{{ 'CompanyType.' + $ctrl.company.companyType | sxyEnum }}</td>
        <th sxy-text="SALAXY.NG1.GeneralInfo.ibanNumber" ps=":"></th>
        <td>{{ $ctrl.company.identity.ibanNumber | sxyIban }}</td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.AccountInfoComponent.authorizationType" ps=":"></th>
        <td>{{ 'AuthorizationType.' + $ctrl.company.identity.contract.authorizationType | sxyEnum }}</td>
        <th></th>
        <td></td>
      </tr>
    </table>
  </div>
  <div salaxy-if-role="person" class="row person-account">
    <div class="col-xs-12 col-md-4 spacer-bottom">
      <div class="light-bg profile-card">
        <div class="role-info-wrapper" ng-controller="SessionController as $session">
          <div sxy-if-role="worker">
            <p class="text-primary">
              Olet kirjautunut Palkkaus.fi-palveluun työntekijänä ja näet käyttöliittymän työntekijän näkökulmasta.
            </p>
            <a class="btn btn-primary" ng-click="$session.switchRole('household')">Kirjaudu kotitaloutena</a>
          </div>
          <div sxy-if-role="household">
            <p class="text-primary">
              Olet kirjautunut Palkkaus.fi-palveluun kotitaloutena ja näet käyttöliittymän kotitalouden näkökulmasta.
              <a class="btn btn-primary" ng-click="$session.switchRole('worker')">Kirjaudu työntekijänä</a>
            </p>
          </div>
        </div>
        <div class="worker-avatar-wrapper text-center">
          <salaxy-avatar avatar="$ctrl.person.avatar"></salaxy-avatar><br>
        </div>
        <div class="info-wrapper text-center">
          <h4 style="margin-bottom:6px;">{{ $ctrl.person.avatar.displayName }}</h4>
          <p sxy-if-role="worker">Työntekijä</p>
          <p sxy-if-role="household">Kotitalous</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="light-bg">
        <div class="row">
          <div class="col-sm-8">
            <p>Jokaisella työnantajalla ja työntekijällä on palvelussamme Palkkaus.fi-tili. Palkkaus.fi-tiliin tallennetaan palkanmaksua varten tiedot sekä kaikki maksutapahtumat.
            </p>
          </div>
          <div class="col-sm-4 text-right-sm spacer-bottom">
            <a class="btn btn-secondary btn-sm " href="#/account">Muokkaa tietoja</a>
          </div>
        </div>
        <div class="row" style="margin-top:15px;">
          <div class="col-sm-6">
            <p><strong>Palkkaus.fi-tili</strong>
              <br>{{ $ctrl.person.id }}
            </p>
            <p><strong>Nimi</strong>
              <br>{{ $ctrl.person.avatar.displayName }}
            </p>
            <p><strong>Hetu</strong>
              <br>{{ $ctrl.person.identity.officialId }}
            </p>
            <p><strong>Tilin tyyppi</strong>
              <br>{{ 'LegalEntityType.' + $ctrl.person.entityType | sxyEnum }}
            </p>
            <p><strong>Valtuutus</strong>
              <br>{{ 'AuthorizationType.' + $ctrl.person.identity.contract.authorizationType | sxyEnum }}
            </p>
          </div>
          <div class="col-sm-6">
            <p><strong>Sähköposti</strong>
              <br>{{ $ctrl.person.contact.email }}
            </p>
            <p><strong>Puhelinnumero</strong>
              <br>{{ $ctrl.person.contact.telephone }}
            </p>
            <p><strong>Osoite</strong>
              <br>{{ $ctrl.person.contact.street }} {{ $ctrl.person.contact.postalCode }} {{ $ctrl.person.contact.city }}
            </p>
            <p><strong>Pankkitili</strong>
              <br>{{ $ctrl.person.identity.ibanNumber }}
            </p>
          </div>
        </div>
        <table class="table table-responsive hidden">
          <tr>
            <th sxy-text="SALAXY.NG1.GeneralInfo.palkkausAccount" ps=":"></th>
            <td>{{ $ctrl.person.id }}</td>
            <th sxy-text="SALAXY.NG1.GeneralInfo.email" ps=":"></th>
            <td>{{ $ctrl.person.contact.email }}</td>
          </tr>
          <tr>
            <th sxy-text="SALAXY.NG1.GeneralInfo.name" ps=":"></th>
            <td>{{ $ctrl.person.avatar.displayName }}</td>
            <th sxy-text="SALAXY.NG1.GeneralInfo.tel" ps=":"></th>
            <td>{{ $ctrl.person.contact.telephone }}</td>
          </tr>
          <tr>
            <th sxy-text="SALAXY.NG1.GeneralInfo.ssNumber" ps=":"></th>
            <td>{{ $ctrl.person.identity.officialId }}</td>
            <th sxy-text="SALAXY.NG1.GeneralInfo.address" ps=":"></th>
            <td>
              {{ $ctrl.person.contact.street }}<br /> {{ $ctrl.person.contact.postalCode }} {{ $ctrl.person.contact.city }}
            </td>
          </tr>
          <tr>
            <th sxy-text="SALAXY.NG1.AccountInfoComponent.legalEntityType" ps=":"></th>
            <td>{{ 'LegalEntityType.' + $ctrl.person.entityType | sxyEnum }}</td>
            <th sxy-text="SALAXY.NG1.GeneralInfo.ibanNumber" ps=":"></th>
            <td>{{ $ctrl.person.identity.ibanNumber }}</td>
          </tr>
          <tr>
            <th sxy-text="SALAXY.NG1.AccountInfoComponent.authorizationType" ps=":"></th>
            <td>{{ 'AuthorizationType.' + $ctrl.person.identity.contract.authorizationType | sxyEnum }}</td>
            <th></th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>