<div class="salaxy-assure-partner salaxy-component" ng-controller="SessionController as $sessionCtrl">
  <div ng-if="$sessionCtrl.session.settings.partner.accountId">
    <ng-transclude ng-transclude-slot="header">
      <!-- Further information of the partner etc. -->
    </ng-transclude>
    <ng-transclude ng-transclude-slot="main">
      <!-- Content to assure -->
    </ng-transclude>
  </div>
  <div ng-if="!$sessionCtrl.session.settings.partner.accountId">
    <div class="row">
      <div class="col-xs-12">
        <div class="content settings">
          <salaxy-accountant></salaxy-accountant>
        </div>
      </div>
    </div>
  </div>
</div>