﻿<span class="salaxy-switch large pull-right" ng-class="{checked: $ctrl.model, disabled: $ctrl.disabled}" ng-click="$ctrl.switchAuthorization()">
  <small></small>
  <input type="checkbox" id="{$ctrl.id}" name="{$ctrl.name}" ng-model="$ctrl.model" style="display:none;" />
  <span class="switch-text">
    <span class="on" ng-if="$ctrl.onText">{{$ctrl.onText}}</span>
    <span class="off" ng-if="$ctrl.offText">{{$ctrl.offText}}</span>
  </span>
</span>