<div class="salaxy-component salaxy-product-card">
    <a href="" ng-click="$ctrl.showPartnerSiteDialog($ctrl.authId)" class="thumbnail salaxy-product-card">
        <div>
            <i class="salaxy-avatar" style="font-size: 74px;"><img ng-src="{{$ctrl.getPartnerSite($ctrl.authId).img}}" /></i>
            <salaxy-switch ng-if="$ctrl.isInRole('auth') && !$ctrl.hideSwitch" id="salaxyService" name="salaxyService" ng-model="$ctrl.getPartnerSite($ctrl.authId).enabled" disabled="true" on-text="on" off-text="off"></salaxy-switch>
        </div>
        <div class="salaxy-product-title">{{ $ctrl.getPartnerSite($ctrl.authId).title }}</div>
        <div class="salaxy-product-descr">{{ $ctrl.getPartnerSite($ctrl.authId).status }}</div>
    </a>
</div>