<div class="panel panel-default" ng-controller="AccountAuthorizationController as $ctrl">
  <div class="panel-heading">
    <h2 sxy-text="SALAXY.NG1.AuthoringAccountComponent.authorizeIntro"></h2>
    <p><small sxy-text="SALAXY.NG1.AuthoringAccountComponent.authorizeDescription"></small></p>
  </div>
  <div class="panel-body">
    <div class="salaxy-component salaxy-authorized-accounts">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="2" sxy-text="SALAXY.NG1.AuthoringAccountComponent.palkkausAccount"></th>
              <th class="right" sxy-text="SALAXY.NG1.AuthoringAccountComponent.date"></th>
              <th class="right">
                <ng-transclude ng-transclude-slot="header">
                  <button class="btn btn-sm btn-default" ng-click="$ctrl.showAuthorizedAccountAddDialog()" sxy-text="SALAXY.NG1.UiTerms.createNew"></button>
                </ng-transclude>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="avatar in $ctrl.list">
              <td>
                <salaxy-avatar style="font-size: 50px;" avatar="avatar"></salaxy-avatar>
              </td>
              <td>
                <strong>{{avatar.displayName}}</strong><br/>
                <small>{{avatar.id | sxyIban}}</small>
              </td>
              <td class="right">{{avatar.createdAt | date}}</td>
              <td class="text-right">
                <button ng-click="$ctrl.delete(avatar.id)" class="btn btn-danger" sxy-text="SALAXY.UI_TERMS.delete"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>