<div class="salaxy-component salaxy-authorizing-accounts">
  <div class="table-responsive" ng-controller="CustomerOnboardingController as wizard">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" sxy-text="SALAXY.NG1.AuthoringAccountComponent.palkkausAccount"></th>
          <th sxy-text="SALAXY.NG1.AuthoringAccountComponent.status"></th>
          <th class="right" sxy-text="SALAXY.NG1.AuthoringAccountComponent.date"></th>
          <th class="right" colspan="3">
            <ng-transclude ng-transclude-slot="header">
              <button class="btn btn-sm btn-default" ng-click="wizard.launch()" sxy-text="SALAXY.NG1.UiTerms.createNew"></button>
            </ng-transclude>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in $ctrl.authorizingAccounts">
          <td>
            <salaxy-avatar style="font-size: 50px;" avatar="account.avatar"></salaxy-avatar>
          </td>
          <td>
            <strong>{{account.avatar.displayName}}</strong><br/>
            <small>{{account.id | sxyIban }}</small>
          </td>
          <td>
            <small class="text-success" ng-if="account.identity.contract.isSigned" sxy-text="SALAXY.NG1.AuthoringAccountComponent.signeratureOk"></small>
            <small class="text-danger" ng-if="!account.identity.contract.isSigned" sxy-text="SALAXY.NG1.AuthoringAccountComponent.signeratureNo"></small>
          </td>
          <td class="right">{{account.createdAt | date }}</td>
          <td>
            <button ng-if="!account.identity.contract.isSigned && account.entityType == 'company'" ng-click="wizard.launch(account.id)" class="btn btn-default btn-block" sxy-text="SALAXY.NG1.AuthoringAccountComponent.invite"></button>
          </td>
          <td>
            <a ng-href="{{$ctrl.getLoginAsUrl(account.id)}}" target="_blank" class="btn btn-primary btn-block" sxy-text="SALAXY.NG1.AuthoringAccountComponent.signIn"></a>
          </td>
          <td>
            <button salaxy-if-role="test" ng-click="$ctrl.deleteAccount(account.id)" class="btn btn-danger btn-block" sxy-text="SALAXY.UI_TERMS.delete"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>