<div class="panel panel-default">
  <div class="panel-heading">
    <h2 sxy-text="SALAXY.NG1.CertificatesComponent.title"></h2>
    <p><small sxy-text="SALAXY.NG1.CertificatesComponent.description"></small></p>
  </div>
  <div class="panel-body">
    <div class="salaxy-component salaxy-certificates">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th sxy-text="SALAXY.NG1.CertificatesComponent.name"></th>
              <th sxy-text="SALAXY.NG1.CertificatesComponent.id"></th>
              <th class="right" sxy-text="SALAXY.NG1.AuthoringAccountComponent.date"></th>
              <th class="right">
                <ng-transclude ng-transclude-slot="header">
                  <button class="btn btn-default btn-sm" ng-click="$ctrl.showCertificateAddDialog()" sxy-text="SALAXY.NG1.UiTerms.createNew"></button>
                </ng-transclude>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="certificate in $ctrl.list">
              <td>{{certificate.title || '-'}}</td>
              <td>{{certificate.thumbprint}}</td>
              <td class="right">{{certificate.createdAt | date}}</td>
              <td class="right">
                <button ng-click="$ctrl.delete(certificate.thumbprint)" class="btn btn-danger btn-sm" sxy-text="SALAXY.UI_TERMS.delete"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>