<div class="panel panel-default">

  <div class="panel-heading">
    <h2 sxy-text="SALAXY.NG1.CredentialsComponent.title"></h2>
    <p>
      <!--<small sxy-text="SALAXY.NG1.CredentialsComponent.intro"></small>--></p>
  </div>
  <div class="panel-body">
    <div class="salaxy-component salaxy-credentials">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th sxy-text="SALAXY.NG1.CredentialsComponent.userId"></th>
              <th sxy-text="SALAXY.NG1.CredentialsComponent.authenticationMethod"></th>
              <th class="right" sxy-text="SALAXY.NG1.AuthoringAccountComponent.date"></th>
              <th class="right">
                <ng-transclude ng-transclude-slot="header"></ng-transclude>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="credential in $ctrl.list">
              <td>{{credential.email}}</td>
              <td>{{ 'AuthenticationMethod.' + credential.authenticationMethod | sxyEnum}}</td>
              <td class="right">{{credential.createdAt | date}}</td>
              <td class="right">

                <button ng-if="$ctrl.showEdit" ng-click="$ctrl.setCurrent(credential)" class="btn btn-primary btn-sm" sxy-text="SALAXY.UI_TERMS.select"></button>
                <button ng-if="$ctrl.showEdit" ng-disabled="$ctrl.list.length &lt;= 1" ng-click="$ctrl.delete(credential.id)" class="btn btn-danger btn-sm" sxy-text="SALAXY.UI_TERMS.delete"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <form name="credentialsForm" class="form-horizontal" ng-if="$ctrl.current && $ctrl.showEdit">
        <div class="row">
          <div class="col-xs-12">
            <salaxy-input name="firstName" label="SALAXY.NG1.CredentialsComponent.firstName" ng-model="$ctrl.current.avatar.firstName"></salaxy-input>
            <salaxy-input name="lastName" label="SALAXY.NG1.CredentialsComponent.lastName" ng-model="$ctrl.current.avatar.lastName"></salaxy-input>
            <salaxy-input name="email" label="SALAXY.NG1.CredentialsComponent.email" ng-model="$ctrl.current.email" ng-change="$ctrl.emailForAvatarChanged()"></salaxy-input>
            <!-- <salaxy-input name="telephone" label="SALAXY.NG1.CredentialsComponent.telephone" ng-model="$ctrl.current.telephone"></salaxy-input>-->
            <div class="form-group">
              <div class="col-xs-12 col-sm-4">
                <strong sxy-text="SALAXY.NG1.CredentialsComponent.authenticationMethod"></strong>
              </div>
              <div class="col-xs-12 col-sm-8">
                {{ 'AuthenticationMethod.' + $ctrl.current.authenticationMethod | sxyEnum}}
              </div>
            </div>

          </div>
        </div>

        <div class="form-group">

          <div class="col-xs-12 col-sm-4">
            <label for="avatarPictureType" class="control-label" style="text-align:left" sxy-text="SALAXY.NG1.CredentialsComponent.avatar.label"></label>
          </div>
          <div class="col-xs-12 col-sm-6">
            <select class="form-control" style="margin-bottom:15px;" id="avatarPictureType" ng-model="$ctrl.current.avatar.pictureType" ng-change="$ctrl.typeForAvatarChanged()">
              <option value="" disabled sxy-text="SALAXY.NG1.CredentialsComponent.avatar.optionChoose"></option>
              <option value="icon" sxy-text="SALAXY.NG1.CredentialsComponent.avatar.optionIcon"></option>
              <option value="uploaded" sxy-text="SALAXY.NG1.CredentialsComponent.avatar.optionUploaded"></option>
              <option value="gravatar" sxy-text="SALAXY.NG1.CredentialsComponent.avatar.optionGravatar"></option>
            </select>
            <div ng-if="$ctrl.current.avatar.pictureType == 'gravatar'" class="input-info">
              <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
              <p class="small input-info-text with-icon " sxy-html="SALAXY.NG1.CredentialsComponent.avatar.gravatarInfo.html"></p>
            </div>
            <div ng-if="$ctrl.current.avatar.pictureType == 'icon'">
              <salaxy-input name="avatarInitials" label="SALAXY.NG1.CredentialsComponent.avatar.labelInitials" ng-model="$ctrl.current.avatar.initials" max-length="2"></salaxy-input>
              <salaxy-input-enum name="avatarColor" label="SALAXY.NG1.CredentialsComponent.avatar.labelColor" ng-model="$ctrl.current.avatar.color" options="{ '#7F2C2A': 'Ruskea', '#91D214': 'Lime', '#61703B': 'Tummanvihreä', '#D10074': 'Pinkki'}">
              </salaxy-input-enum>
            </div>
            <div ng-if="$ctrl.current.avatar.pictureType == 'uploaded'" class="form-group">
              <div class="col-xs-12 col-sm-4">
                <label for="avatarImageUpload" sxy-text="SALAXY.NG1.CredentialsComponent.avatar.labelUploadImage"></label>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div name="avatarImageUpload" ng-model="avatarImage" ngf-drop="$ctrl.uploadAvatarImage($file)" ngf-select="$ctrl.uploadAvatarImage($file)" class="salaxy-drop-box" ngf-drag-over-class="'salaxy-drag-over'" ngf-multiple="false" ngf-min-size="5KB" ngf-max-size="10MB"
                  ngf-pattern="'image/*'" ngf-model-invalid="invalidFile" ng-class="invalidFile.$error != null ? 'error' : ''">
                  <span sxy-html="SALAXY.NG1.CredentialsComponent.avatar.uploadImage.html"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-xs-12 text-center">
            <salaxy-avatar avatar="$ctrl.current.avatar" style="font-size:70px;"></salaxy-avatar>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-right">
            <button ng-click="$ctrl.saveCurrent()" ng-disabled="credentialsForm.$invalid" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>