<div class="salaxy-component salaxy-language-selector">
    <div class="btn-group">

        <button type="button" class="btn btn-default" ng-click="$ctrl.setLanguage('en')">English</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.setLanguage('fi')">Suomi</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.setLanguage('sv')">Svenska</button>
    </div>
</div>