<div class="salaxy-login-button salaxy-component" sxy-if-role="!worker">
  <button ng-hide="$ctrl.isAuthenticated" ng-click="$ctrl.signIn()" class="btn salaxy-login-button-login" ng-class="$ctrl.btnClass || 'btn-default'">
    <span class="glyphicon glyphicon-lock"></span>
    <span class="salaxy-login-button-text">{{ $ctrl.isSessionChecking ?  ('SALAXY.NG1.LoginButtonComponent.searching' | sxyTranslate) : ($ctrl.loginText || 'SALAXY.UI_TERMS.login' | sxyTranslate) }}</span>
  </button>
  <div ng-show="$ctrl.isAuthenticated" class="btn-group salaxy-login-button-logout" uib-dropdown>
    <button type="button" class="btn right" ng-class="$ctrl.btnClass || 'btn-default'" uib-dropdown-toggle>
      <salaxy-avatar avatar="$ctrl.avatar"></salaxy-avatar>
      <span class="salaxy-login-button-text">{{ $ctrl.isAuthenticated ? $ctrl.avatar.displayName : ('SALAXY.NG1.LoginButtonComponent.authenticating' | sxyTranslate) }}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="account-menu" ng-controller="NaviController as $navi">
      <li>
        <a href="#" ng-click="$ctrl.signOut()" sxy-text="SALAXY.UI_TERMS.logout"></a>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <a href="#/settings/service-settings" sxy-text="SALAXY.NG1.LoginButtonComponent.accountSettings" ng-click="$navi.toggleNavi()"></a>
      </li>
      <li>
        <a href="#/settings/authorizations" sxy-text="SALAXY.NG1.LoginButtonComponent.authAndCerti" ng-click="$navi.toggleNavi()"></a>
      </li>
      <li ng-if="$ctrl.ownedPaymentChannel">
        <a href="#/payment-channel" sxy-text="Maksukanava" ng-click="$navi.toggleNavi()"></a>
      </li>
    </ul>
  </div>
</div>
<div class="salaxy-login-button role-worker" sxy-if-role="worker" ng-controller="NaviController as $navi">
  <div ng-show="$ctrl.isAuthenticated" class="btn-group salaxy-login-button-logout" uib-dropdown>
    <button type="button" class="btn btn-transparent right" uib-dropdown-toggle>
      <salaxy-avatar avatar="$ctrl.avatar"></salaxy-avatar>
      <span class="salaxy-login-button-text">{{ $ctrl.isAuthenticated ? $ctrl.avatar.displayName : ('SALAXY.NG1.LoginButtonComponent.authenticating' | sxyTranslate) }}
        <span ng-if="$ctrl.isAuthenticated" class="role-text">
          (Työntekijä)
        </span>
      </span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="account-menu">
      <li>
        <a href="#" ng-click="$ctrl.signOut()" sxy-text="SALAXY.UI_TERMS.logout"></a>
      </li>

      <li role="separator" class="divider"></li>
      <li>
        <a href="#/account/account-info" sxy-text="SALAXY.NG1.LoginButtonComponent.accountSettings" ng-click="$navi.toggleNavi()"></a>
      </li>
      <li>
        <a href="#/settings/authorizations" sxy-text="SALAXY.NG1.LoginButtonComponent.authAndCerti" ng-click="$navi.toggleNavi()"></a>
      </li>
    </ul>
  </div>

</div>