<div class="salaxy-component salaxy-signing">
  <div salaxy-if-role="init">
    <salaxy-spinner heading="Ladataan..."></salaxy-spinner>
    <p>&nbsp;</p>
  </div>
  <div ng-if="$ctrl.isSigningRequired">
    <form name="signingForm" class="form-horizontal">
      <h2>Ota palvelu käyttöön allekirjoittamalla valtakirja</h2>
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <legend>Allekirjoittajan tiedot</legend>
            <salaxy-input name="sign_personName" label="Nimi" ng-model="$ctrl.model.signature.personName" ng-required="true"></salaxy-input>
            <salaxy-input name="sign_email" label="SALAXY.NG1.WorkerDetailsComponent.email" sxy-email ng-model="$ctrl.model.signature.email" ng-required="true"></salaxy-input>
            <salaxy-input name="sign_telephone" label="SALAXY.NG1.WorkerDetailsComponent.tel" sxy-mobile-phone ng-model="$ctrl.model.signature.telephone" ng-required="true">
            </salaxy-input>
            <salaxy-input name="sign_personalId" label="SALAXY.NG1.WorkerDetailsComponent.ssNumber" sxy-personal-id-fi ng-model="$ctrl.model.signature.personalId" ng-required="true">
            </salaxy-input>
            <salaxy-input-boolean type="checkbox" name="isProcura" required ng-model="$ctrl.model.signature.isProcura" label="Nimenkirjoitusoikeus" label-true="Minulla on yrityksen / yhdistyksen nimenkirjoitusoikeus."></salaxy-input-boolean>
          </fieldset>
        </div>
        <div class="col-md-6">
          <legend>Valtakirjaan tarvittavat tiedot</legend>
          <p>
            Jotta voimme hoitaa puolestasi palkanmaksuun liittyviä maksuja ja velvotteita, sinun täytyy allekirjoittaa
            <a ng-href="{{ $ctrl.getPdfPreviewAddress() }}" target="_blank">oheinen valtakirja</a>. Valtakirja pitää allekirjoittaa vain kerran.
          </p>
          <p>
            Kun olet kirjoittanut nimesi ja henkilötunnuksesi ja painat pankkisi kuvaa, siirryt pankkisi verkkopalveluun, jossa varsinainen tunnistautuminen tapahtuu. Tunnistautumisen jälkeen palaat takaisin palveluun ja olet valmis maksamaan palkkaa.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <legend>Yhteystiedot palkanmaksuasioissa</legend>
            <salaxy-input-boolean type="checkbox" name="isContactPersonSigner" ng-model="$ctrl.isContactPersonSigner" label="Yhteyshenkilö" label-true="Olen myös yhteyshenkilö yrityksen palkanmaksuasioissa."></salaxy-input-boolean>
            <div ng-if="!$ctrl.isContactPersonSigner">
              <salaxy-input name="contact_email" label="SALAXY.NG1.WorkerDetailsComponent.email" sxy-email ng-model="$ctrl.model.company.contact.email" ng-required="true">
              </salaxy-input>
              <salaxy-input name="contact_telephone" label="SALAXY.NG1.WorkerDetailsComponent.tel" sxy-mobile-phone ng-model="$ctrl.model.company.contact.telephone" ng-required="true">
              </salaxy-input>
            </div>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <legend>Postiosoite</legend>
            <salaxy-input label="Katuosoite" name="Katuosoite" ng-model="wizard.model.company.contact.street" ng-required="true"></salaxy-input>
            <salaxy-input label="Postinumero" name="Postinumero" sxy-postal-code-fi ng-model="wizard.model.company.contact.postalCode" ng-required="true"></salaxy-input>
            <salaxy-input label="Postitoimipaikka" name="Postitoimipaikka" ng-model="wizard.model.company.contact.city" ng-required="true"></salaxy-input>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <legend>Viranomaisten kysymykset</legend>
            <h5>
              Oletko poliittisesti vaikutusvaltainen henkilö (PEP)?*
              <i class="fa fa-info-circle" popover-title="PEP" uib-popover="Jos olet jossain toisessa valtiossa poliittisesti vaikutusvaltainen henkilö tai lähipiiriisi kuuluu poliittisesti vaikutusvaltainen henkilö (Politically Exposed Person, PEP), laki edellyttää, että kerrot siitä meille ennen palvelun käytön aloittamista. Palvelun käyttöön tämä ei vaikuta.  Poliittisesti vaikutusvaltaiseksi henkilöksi ei Suomessa katsota suomalaista poliitikkoa, joka toimii Suomessa."
                popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
            </h5>

            <salaxy-input-boolean type="radio" name="identityPep" label="" label-type="plain" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" ng-model="$ctrl.model.signature.isPep" required></salaxy-input-boolean>
            <div ng-if="$ctrl.model.company.companyType != 'fiRy'">
              <h5>
                Omistaako joku henkilö vähintään 25% tästä yrityksestä suoraan tai välillisesti?*
                <i class="fa fa-info-circle" popover-title="Tosiasialliset edunsaajat eli omistajat" uib-popover="Lain mukaan tosiasiallisella edunsaajalla tarkoitetaan henkilöä, joka omistaa yli 25% yrityksen osakkeiden tai osuuksien tuottamasta äänimäärästä tai jolla on muutoin määräysvalta yrityksessä.
                              Kysymme tätä tietoa, koska Finanssivalvonta ja rahanpesulaki velvoittavat meitä tuntemaan asiakkaamme." popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
              </h5>
              <salaxy-input-boolean type="radio" name="Ownership.IsRequiredTracking" label="" label-type="plain" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" ng-model="$ctrl.model.company.ownership.isRequiredTracking" required></salaxy-input-boolean>
            </div>
          </fieldset>
          <fieldset ng-if="$ctrl.model.company.ownership.isRequiredTracking">
            <legend>Yrityksen omistajat</legend>
            <p>Seuraavat henkilöt omistavat vähintään 25% yhtiön osakkeista suoraan tai välillisesti:</p>
            <salaxy-input type="text" name="shareholder1" label="Omistaja 1" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="$ctrl.model.company.ownership.shareHolders[0].name" require="true"></salaxy-input>
            <salaxy-input type="text" name="shareholder2" label="Omistaja 2" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="$ctrl.model.company.ownership.shareHolders[1].name">
            </salaxy-input>
            <salaxy-input type="text" name="shareholder3" label="Omistaja 3" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="$ctrl.model.company.ownership.shareHolders[2].name">
            </salaxy-input>
            <salaxy-input type="text" name="shareholder4" label="Omistaja 4" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="$ctrl.model.company.ownership.shareHolders[3].name">
            </salaxy-input>
          </fieldset>
        </div>
        <div class="col-md-6">
          <legend>Miksi kysymme näitä tietoja?</legend>
          <p>
            Palkkaus.fi on maksupalvelun tarjoajia koskevassa Finanssivalvonnan (Fiva) rekisterissä. Laki edellyttää meiltä asiakkaan tuntemista. Siksi joudumme kysymään sinulta vielä seuraavat tiedot. Tiedot eivät ole julkisia ja voimme luovuttaa niitä vain voimassaolevan
            lainsäädännön velvoittamissa rajoissa.
          </p>
        </div>
      </div>
      <div>

      </div>
      <div style="margin-top:20px;"></div>
      <div>
        <legend>
          Valitse verkkopankkisi ja allekirjoita valtakirja
          <span class="text-danger" ng-if="!signingForm.$valid">(pakollisia tietoja puuttuu)</span>
        </legend>
        <div>
          Et voi käyttää yrityksen tai yhdistyksen verkkopankkitunnuksia valtakirjan allekirjoittamiseen. Sinun täytyy käyttää henkilökohtaisia verkkopankkitunnuksiasi.
        </div>
      </div>
      <div class="row" style="margin-left: 0; margin-right: 0;">
        <div ng-repeat="signMethod in $ctrl.methods" class="col-sm-2 col-xs-4" style="text-align: center; border: 1px solid lightgrey; padding:2px">
          <button class="btn btn-link" ng-disabled="!signingForm.$valid" ng-click="signingForm.$valid ? $ctrl.startVismaSign(signMethod.value) : null">
            <img style="max-width: 89%;max-height: 60px;" ng-src="{{signMethod.img}}" />
          </button>
        </div>
      </div>
      <div>
        <p>Allekirjoittamalla valtakirjan hyväksyt samalla <a href="https://www.palkkaus.fi/kayttoehdot/" target="_blank">palvelun käyttöehdot</a>.</p>
      </div>
      <hr />
      <div>
        <div class="pull-right">
          <small><a ng-href="{{ $ctrl.getPdfPreviewAddress() }}" target="_blank">Lataa PDF</a>&nbsp;&nbsp;</small>
          <button ng-click="$ctrl.save()" ng-disabled="!signingForm.$valid" class="btn btn-primary">Päivitä tiedot esikatseluun</button>
        </div>
        <h3>Valtakirjan esikatselu</legend>
          <iframe ng-src="{{ $ctrl.getPdfPreviewAddress() }}" style="width: 100%; height: 800px"></iframe>
      </div>
    </form>
  </div>
</div>