﻿<div class="salaxy-component salaxy-user-info">
  <div class="table">
    <table>
      <tr>
        <td>
          <salaxy-avatar style="font-size: 102px; margin-right: 40px;" avatar="$ctrl.session.currentCredential.avatar"></salaxy-avatar>
        </td>
        <td>
          <p class="lead" sxy-html="SALAXY.NG1.UserInfoComponent.description.html">
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th colspan="2">
          <h3 sxy-text="SALAXY.NG1.UserInfoComponent.userNameTitle"></h3>
        </th>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.UserInfoComponent.authType" ps=":"></th>
        <td>{{ 'AuthenticationMethod.' + $ctrl.session.currentCredential.authenticationMethod | sxyEnum }}</td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.UserInfoComponent.userName" ps=":"></th>
        <td>{{ $ctrl.session.currentCredential.id }}</td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.GeneralInfo.email" ps=":"></th>
        <td>{{ $ctrl.session.currentCredential.email }}</td>
      </tr>
      <tr>
        <th sxy-text="SALAXY.NG1.GeneralInfo.name" ps=":"></th>
        <td>{{ $ctrl.session.currentCredential.avatar.displayName }}</td>
      </tr>
    </table>
  </div>
</div>