<div class="container-fluid">
  <h1>OData / lists tester</h1>
  <p class="lead">
    <select class="form-control pull-right" ng-model="$ctrl.activeView" style="max-width: 300px">
      <option value="">Basic usage (CMS articles, anon)</option>
      <option value="manual">Manual options (CMS articles, anon)</option>
      <option value="exceptions">Special cases</option>
      <option value="articles">CMS articles</option>
      <option value="workers">Workers</option>
      <option value="calculations">Calculations</option>
      <option value="payrolls">Payrolls (draft)</option>
      <option value="taxcards">Taxcards</option>
      <option value="select">Select / multi-select (worker)</option>
    </select> This page gathers together examples of different OData based lists. Switch to different views from the drop-down on the right.
  </p>
  <h3>Current list: {{ $ctrl.activeView || "basic" }}</h3>
  <div ng-if="!$ctrl.activeView">
    <p>A simple list that can be loaded in anonymous mode.</p>
    <salaxy-odata-table crud-controller="ArticleCrudController as $crud"></salaxy-odata-table>
  </div>
  <div ng-if="$ctrl.activeView == 'manual'">
    <salaxy-odata-table url="/v03-rc/api/cms/articles" options="{ $count: true, anon: true }" cache-key="cms-demo1" template-url="customCmsTemplate">
    </salaxy-odata-table>
    <p>Text after for demo purposes</p>
  </div>
  <div ng-if="$ctrl.activeView == 'exceptions'">
    <h3>Invalid URL</h3>
    <p>Alert that is shown with invalid URL or other server-side error.</p>
    <div ng-if="$ctrl.showInvalidUrl">
      <salaxy-odata-table options="{ anon: true }" url="/this/invalid/url"></salaxy-odata-table>
    </div>
    <hr />
    <h3>Service not initialized</h3>
    <p>This is how the grid looks like if there is no crudController and URL has not been specified.</p>
    <salaxy-odata-table options="{ anon: true }"></salaxy-odata-table>
    <hr />
    <h3>Default renering</h3>
    <p>If the template has not been specified, the default template is currently based on ApiCrudObject.</p>
    <salaxy-odata-table url="/v03-rc/api/cms/articles" options="{ anon: true }">
  </div>
  <div ng-if="$ctrl.activeView == 'taxcards'">
    <salaxy-tax-cards-list></salaxy-tax-cards-list>
  </div>
  <div ng-if="$ctrl.activeView == 'workers'">
    <salaxy-worker-list></salaxy-worker-list>
  </div>
  <div ng-if="$ctrl.activeView == 'articles'">
    <fieldset class="form-horizontal">
      <legend>Component options: <code>salaxy-article-list</code></legend>
      <salaxy-input-enum options="[ 'default', 'list']" name="mode" label="Mode" ng-model="$ctrl.options.mode" ng-init="$ctrl.options.mode = 'default'">
      </salaxy-input-enum>
      <salaxy-input-enum name="AbcSection" label="Section (article category)" ng-model="$ctrl.options.section" enum="AbcSection"></salaxy-input>
      </salaxy-input-enum>
      <salaxy-input name="detailsUrl" label="Details URL" ng-model="$ctrl.options.detailsUrl" ng-init="$ctrl.options.detailsUrl = '/cms/articles/'">
        </salaxy-input-enum>
    </fieldset>
    <salaxy-article-list category="{{ $ctrl.options.category }}" details-url="{{ $ctrl.options.detailsUrl }}" mode="{{ $ctrl.options.mode }}" section="{{$ctrl.options.section}}"></salaxy-article-list>
  </div>
  <div ng-if="$ctrl.activeView=='calculations'">
    <fieldset class="form-horizontal">
      <legend>Component options: <code>salaxy-calc-list</code></legend>
      <salaxy-input-enum options="[ 'draft', 'paid', 'all']" name="category" label="Category" ng-model="$ctrl.options.category" ng-init="$ctrl.options.category='draft'">
      </salaxy-input-enum>
      <salaxy-input-enum options="[ 'default', 'select', 'panel']" name="mode" label="Mode" ng-model="$ctrl.options.mode" ng-init="$ctrl.options.mode='default'">
      </salaxy-input-enum>
      <salaxy-input name="detailsUrl" label="Details URL" ng-model="$ctrl.options.detailsUrl" ng-init="$ctrl.options.detailsUrl='/calc/details/'">
        </salaxy-input-enum>
    </fieldset>
    <salaxy-calc-list category="{{ $ctrl.options.category }}" details-url="{{ $ctrl.options.detailsUrl }}" mode="{{ $ctrl.options.mode }}"></salaxy-calc-list>
  </div>

  <div ng-if="$ctrl.activeView=='payrolls'">
    <salaxy-odata-table options="{ $filter: 'info/status ne \'PaymentSucceeded\'' }" crud-controller="PayrollCrudController as $crud"></salaxy-odata-table>
  </div>
  <div>
    <div ng-if="$ctrl.activeView=='select'">
      <div class="row">
        <div class="col-xs-6">
          <h3>Selection using data binding:</h3>
          <ul ng-init="$ctrl.selectedDataBinding=[ ]">
            <li ng-if="!$ctrl.selectedDataBinding.length">No selection</li>
            <li ng-repeat="item in $ctrl.selectedDataBinding">
              <salaxy-avatar avatar="item.otherPartyInfo.avatar"></salaxy-avatar>
              {{ item.otherId }}
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <h3>Selection using events:</h3>
          <div ng-if="!$ctrl.lastEventData">No selection</div>
          <div ng-if="$ctrl.lastEventData">
            <p>
              Last selection ({{ $ctrl.lastEventData.value ?"Selected" :"Unselected" }}):<br />
              <salaxy-avatar avatar="$ctrl.lastEventData.item.otherPartyInfo.avatar"></salaxy-avatar>
              {{ $ctrl.lastEventData.item.otherId }}
            </p>
            <p>All selected items</p>
            <ul>
              <li ng-repeat="item in $ctrl.lastEventData.allItems">
                <salaxy-avatar avatar="item.otherPartyInfo.avatar"></salaxy-avatar>
                {{ item.otherId }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <salaxy-odata-table template-url="salaxy-components/odata/lists/Workers-select.html" on-list-select="$ctrl.lastEventData={ value: value, item: item, allItems: allItems }" selected-items="$ctrl.selectedDataBinding" crud-controller="WorkerAccountCrudController as $crud"></salaxy-odata-table>
    </div>
  </div>


  <script type="text/ng-template" id="customCmsTemplate">
    <div ng-class="$ctrl.getCssClass()">
      <p>
        <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="$ctrl.showODataOptionsEditor=! $ctrl.showODataOptionsEditor">
          {{ $ctrl.showODataOptionsEditor ? "Hide OData query options" : "Show OData query options" }}
        </button> A complex example (stil anonymous) that demonstrates manual options:
      </p>
      <ul>
        <li>There is no crudController specified in <code>crud-controller</code> attribute. This is the normal way of fetching the defaults. Instead, we define the same values manually...
        </li>
        <li>We use <code>url</code> attribute to specify the service URL.</li>
        <li>
          Template is stored in script tag at the end of page.
          <ul>
            <li>
              Normally, standard templates are fetched from <code>salaxy-components/odata/lists</code>, which means that they are stored in <code>/src/templates/odata/lists</code>.
            </li>
          </ul>
        </li>
        <li>we use <code>cms-demo1</code> for cache key</li>
        <li>Options are defined directly in <code>options</code> attribute.</li>
      </ul>
      <div class="row form-horizontal" ng-if="$ctrl.showODataOptionsEditor">
        <fieldset>
          <legend>Odata query options</legend>
          <label class="col-sm-2 control-label">Service URL:</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="OData Service URL" ng-model="$ctrl.url">
              <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="$ctrl.reload()" type="button">Lataa...</button>
              </span>
            </div>
            &nbsp;<br />
          </div>
          <div class="col-sm-6">
            <salaxy-input-boolean type="switch" name="count" ng-model="$ctrl.options.$count" label="Get count" label-true="Yes" label-false="No"></salaxy-input-boolean>
            <salaxy-input name="filter" ng-model="$ctrl.options.$filter" label="Filter"></salaxy-input>
            <salaxy-input-number name="top" ng-model="$ctrl.options.$top" label="Top"></salaxy-input-number>
            <salaxy-input-number name="skip" ng-model="$ctrl.options.$skip" label="Skip"></salaxy-input-number>
          </div>
          <div class="col-sm-6">
            <salaxy-input name="orderby" ng-model="$ctrl.options.$orderby" label="Order by"></salaxy-input>
            <salaxy-input name="select" ng-model="$ctrl.options.$select" label="Select"></salaxy-input>
            <salaxy-input name="expand" ng-model="$ctrl.options.$expand" label="Expand (ei yleensä toimi)"></salaxy-input>
          </div>
          <label class="col-sm-2 control-label">OData Query:</label>
          <div class="col-sm-10">
            <p class="form-control"><small><code>{{ $ctrl.getUrl() }}</code></small></p>
          </div>
        </fieldset>
      </div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>
              <span sxy-orderby="title">Title</span>
              <br />
              <span sxy-orderby="author/name">Author name</span>
            </th>
            <th sxy-orderby="section" class="right">Section</th>
            <th sxy-orderby="shortSummary">Short summary</th>
            <th>
              <salaxy-input name="search{{::$id}}" ng-model="$ctrl.options.$search" ng-change="$ctrl.searchChanged()" label-type="plain" placeholder="Search from labels, summaries etc. (not content)"></salaxy-input>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in $ctrl.items">
            <td><img ng-if="row.picture" ng-src="{{ row.picture }}" style="max-height: 40px; max-width: 40px"></td>
            <td>
              <strong>{{ row.title }}</strong><br /> by {{ row.author.name }}
            </td>
            <td class="right">{{ row.section }}</td>
            <td>{{ row.shortSummary }}</td>
            <td>{{ row.longSummary }}</td>
          </tr>
        </tbody>
      </table>

      <salaxy-odata-footer></salaxy-odata-footer>
    </div>

  </script>

</div>