@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./_bootstrap.less";
@import "./_salaxy-lib-ng1-bootstrap.less";
@import "./_salaxy-rpt.less";
// @salaxy-navi-logo: "https://cdn.salaxy.com/ng1/img/partners/palkkaus-logo.png";