﻿<form>
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" onclick="getCalculations()"> Get all calculations</button>
        </div>
    </div>
    
</form>

<div class="text-left">
    <table class="table" id="get_table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total Salary</th>
                <th>Total Expences</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>