<div class="modal-taxcard-new">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Lisää verokortti</h2>
  </div>
  <div class="modal-body">
    <salaxy-taxcard-details model="$ctrl.current" ng-ref="$ctrl.taxcardController"
      personal-id="$ctrl.logic.personalId" hide-buttons="true"></salaxy-taxcard-details>¨
  </div>
  <div class="modal-footer text-right">
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button type="submit" class="btn btn-primary" ng-click="$close('ok')"
      ng-disabled="$ctrl.current.card.kind == 'undefined' || !$ctrl.taxcardController.isFormValid"
      sxy-text="SALAXY.UI_TERMS.save"></button>
  </div>
</div>