<div class="modal-taxcard-new">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Lisätäänkö jo maksetut palkat verokortille</h2>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" ng-if="$ctrl.$incomeLog.hasDiff">
      <button type="button" class="btn btn-primary pull-right" ng-click="$close('ok')">Lisää palkat</button>
      HUOM: Verokortin voimassa-ajalla {{ $ctrl.current.card.validity | sxyDateRange }}
      on jo maksettuja palkkoja. Haluatko lisätä nämä palkat verokorttiin?
    </div>
    <salaxy-taxcard-income-log parent="$ctrl.current" editable="$ctrl.logic.editable" ng-ref="$ctrl.$incomeLog"></salaxy-taxcard-income-log>
  </div>
  <div class="modal-footer text-right">
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button type="submit" class="btn btn-primary" ng-click="$close('ok')">Lisää palkat</button>
  </div>
</div>