<div class="modal-taxcard-new">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Tarkista verokortti</h2>
  </div>
  <div class="modal-body">
    <div>
      <div class="alert alert-info">
        <div class="pull-right">
          <button class="btn btn-danger" type="button" ng-click="$close('reject')" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.rejectBtn"></button>
          <button class="btn btn-primary" type="button" ng-click="$close('ok')" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.approveBtn"></button>
        </div>
        <p sxy-html="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.fullCard.alertText.html" params="{name: $ctrl.current.worker.displayName}">
        </p>
      </div>
      <salaxy-taxcard-details model="$ctrl.current" hide-buttons="true"></salaxy-taxcard-details>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger pull-right" type="button" ng-click="$close('reject')" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.rejectBtn"></button>
    <button class="btn btn-primary pull-right" type="button" ng-click="$close('ok')" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.approveBtn"></button>
    <button class="btn btn-default" type="button" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel"></button>
  </div>
</div>