<div class="modal-taxcard-min-percent">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Minimiprosentti</h2>
  </div>
  <div class="modal-body form-horizontal">
    <p class="lead">
      Suosittelemme, että työntekijä päivittää verokorttinsa suoraan <a href="https://www.vero.fi/OmaVero" target="_blank">Omavero-palvelussa</a>
      ja että <strong>automaattinen verokortin haku</strong> otetaan käyttöön työntekijän (jaettu verokortti) tai työnantajan toimesta.
      Näin verokortti on aina ajantasainen.
    </p>
    <p>
      Työntekijä voi kuitenkin myös pyytää, että työnantaja vähentää palkasta suuremman ennakonpidätyksen kuin mitä verokortin perusteella pidätettäisiin.
      Tämä on tyypillistä, jos työntekijällä on tuloja, joita ei ole merkitty verokorttiin tai tuloja on useilta työnantajilta.
    </p>
    <p>Ennakonpidätykselle voi syöttää tällaisen minimiprosentin alla.</p>
    <salaxy-input-number name="taxPercentMin" ng-model="$ctrl.current.taxPercentMin" label="Minimiprosentti"></salaxy-input-number>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right" type="button" ng-click="$close('ok')" sxy-text="SALAXY.UI_TERMS.save"></button>
    <button class="btn btn-default" type="button" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.UiTerms.cancel"></button>
  </div>
</div>