﻿<div class="modal-worker-edit">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{$ctrl.logic.title}}</h2>
  </div>
  <div class="modal-body">
    <salaxy-worker-details model="$ctrl.current" current-tab="{{$ctrl.logic.initialTab}}" hide-buttons="true"></salaxy-worker-details>
  </div>
  <div class="modal-footer text-right">
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button type="submit" class="btn btn-primary" ng-click="$close('ok')" ng-if="$ctrl.logic.buttonTypes != 'updateCalc'" sxy-text="SALAXY.UI_TERMS.save"></button>
    <button type="submit" class="btn btn-default" ng-click="$close('ok-no-rows')" ng-if="$ctrl.logic.buttonTypes == 'updateCalc'">Päivitä vain työntekijän tiedot</button>
    <button type="submit" class="btn btn-primary" ng-click="$close('ok')" ng-if="$ctrl.logic.buttonTypes == 'updateCalc'">Päivitä työntekijän tiedot ja palkkarivit</button>
  </div>
</div>