﻿<form>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" id="sample4-id" class="form-control" placeholder="Calculation id"><br>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default" onclick="workerReport()">Worker report (page 1)</button>
            <button type="button" class="btn btn-default" onclick="workerReportPage2()">Worker report (page 2)</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default" onclick="employerReport()">Employer report (page 1)</button>
            <button type="button" class="btn btn-default" onclick="employerReportPage2()">Employer report (page 2)</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" onclick="paymentReport()">Payment report</button>
        </div>
    </div>
</form>
<div class="report-table-html row" id="report">

</div>