<h1>Luo uusi palvelumalli</h1>
<uib-tabset active="$ctrl.currentTab">
  <uib-tab index="'default'" heading="Tuotepaketti ja hinnoittelu">
    <ng-include src="'service-model/product-package.html'"></ng-include>
  </uib-tab>
  <uib-tab index="'sitemap'" heading="Sivuston rakenne ja tekstit">
    <ng-include src="'service-model/sitemap.html'"></ng-include>
  </uib-tab>
  <uib-tab index="'ui'" heading="Ulkoasu">
    <ng-include src="'service-model/ui.html'"></ng-include>
  </uib-tab>
  <uib-tab index="'payment-channels'" heading="Maksutavat">
    <salaxy-payment-channel-settings></salaxy-payment-channel-settings>
  </uib-tab>
  <uib-tab index="'accounting'" heading="Kirjanpito">
    TODO: Kirjanpito ei valmis
  </uib-tab>
  <uib-tab index="'settings'" heading="Muut asetukset">
    <p>TODO: Näitä asioita ainakin pitäisi voida muuttaa:</p>
    <ul>
      <li>Raporttien ulkoasu: 2-3 valmista templatea</li>
      <li>Raportissa oleva logo</li>
      <li>Tulorekisteri: Ilmoitus heti / 5pv jne. Nollailmoitukset 6kk?</li>
      <li>Oletusajastukset: palkkalista, laskelmat, muistutukset</li>
    </ul>
  </uib-tab>
</uib-tabset>
