<h1>Tilitoimiston palvelumallit</h1>
<p class="lead">
  <a href="#/service-model/create" class="btn btn-primary pull-right">Luo palvelumalli</a>
  Palvelumallit määrittelevät tavan, jolla tilitoimistona palvelet asiakkaitasi.
  Voit määrittää Palkkaus.fi-sivuston ulkoasun, rakenteen, ominaisuudet erittäin
  laajasti palvelumallikohtaisesti. Tilitoimistolla voi olla useita palvelumalleja
  ja kukin asiakasyritys kuuluu niistä yhteen. 
  Palvelumallin luominen vaatii tilitoimistosopimusta. <a href="">Ota yhteys myyntiimme</a>.
</p>
<table class="table"> 
  <thead>
    <tr>
      <th colspan="2">Palvelumalli</th>
      <th>Tuotepaketti</th>
      <th class="right">Asiakashinta</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="td-avatar middle hidden-xxs">
        <salaxy-avatar avatar="{ initials: 'IP', color: 'pink', entityType: 'company' }"></salaxy-avatar>
      </td>
      <td class="td-name middle">Lone-Itsepalveluasiakkaat</td>
      <td class="middle">Yritys Itsepalvelu</td>
      <td class="right middle">4-10€</td>
      <td class="right middle">
        <a href="#/service-model/create" class="btn btn-default">Muokkaa</a>
      </td>
      <td class="right middle"><a href="#" class="btn btn-primary">Asiakkaat</a></td>
      <td class="right middle"><a href="#" class="btn btn-default">Tiimi</a></td>
    </tr>
    <tr>
      <td class="td-avatar middle hidden-xxs">
        <salaxy-avatar avatar="{ initials: 'apt', color: 'blue', entityType: 'company' }"></salaxy-avatar>
      </td>
      <td class="td-name middle">Lone-Apteekit</td>
      <td class="middle">Yritys Itsepalvelu</td>
      <td class="right middle">laskutus / 0€</td>
      <td class="right middle">
        <a href="#/service-model/create" class="btn btn-default">Muokkaa</a>
      </td>
      <td class="right middle"><a href="#" class="btn btn-primary">Asiakkaat</a></td>
      <td class="right middle"><a href="#" class="btn btn-default">Tiimi</a></td>
    </tr>
    <tr>
      <td class="td-avatar middle hidden-xxs">
        <salaxy-avatar avatar="{ initials: 'AS', color: 'green', entityType: 'company' }"></salaxy-avatar>
      </td>
      <td class="td-name middle">Taloyhtiöt</td>
      <td class="middle">Yritys Itsepalvelu</td>
      <td class="right middle">4-10€</td>
      <td class="right middle">
        <a href="#/service-model/create" class="btn btn-default">Muokkaa</a>
      </td>
      <td class="right middle"><a href="#" class="btn btn-primary">Asiakkaat</a></td>
      <td class="right middle"><a href="#" class="btn btn-default">Tiimi</a></td>
    </tr>
    <tr>
      <td class="td-avatar middle hidden-xxs">
        <salaxy-avatar avatar="{ pictureType: 'uploaded', url: 'https://cdn.salaxy.com/ng1/img/paymentmethod/test.png', entityType: 'company' }"></salaxy-avatar>
      </td>
      <td class="td-name middle">Tilitoimisto basic</td>
      <td class="middle">Basic</td>
      <td class="right middle">2€</td>
      <td class="right middle">Standardi palvelumalli</td>
      <td class="right middle"><a href="#" class="btn btn-primary">Asiakkaat</a></td>
      <td class="right middle"><a href="#" class="btn btn-default">Tiimi</a></td>
    </tr>
    <tr>
      <td class="td-avatar middle hidden-xxs">
        <salaxy-avatar avatar="{ pictureType: 'uploaded', url: 'https://cdn.salaxy.com/ng1/img/paymentmethod/test.png', entityType: 'company' }"></salaxy-avatar>
      </td>
      <td class="td-name middle">Ei palvelumallia (oletus)</td>
      <td class="middle">Yritys Itsepalvelu</td>
      <td class="right middle">4-10€</td>
      <td class="right middle">Standardi palvelumalli</td>
      <td class="right middle"><a href="#" class="btn btn-primary">Asiakkaat</a></td>
      <td class="right middle"><a href="#" class="btn btn-default">Tiimi</a></td>
    </tr>
  </tbody>
</table>