<p class="lead">
  Mihin Palkkaus.fi tuotepakettiin palvelu perustuu?
</p>
<div class="row">
  <div class="col-xs-12">
    <img src="/ng1/img/service-model-temp/product-packages.png" style="width: 100%" />
  </div>
  <div class="col-xs-3 text-center">
    <input type="radio" value="1" name="product">
  </div>
  <div class="col-xs-3 text-center">
    <input type="radio" value="1" name="product">
  </div>
  <div class="col-xs-3 text-center">
    <input type="radio" value="1" name="product" checked>
  </div>
  <div class="col-xs-3 text-center">
    <input type="checkbox" value="1" name="productAddtions">
  </div>
</div>
<div>
  <h2>Maksutapa ja Hinta asiakkaalle</h2>
  <p>
    Valitse asiakkuuden hoitoon sopivin palvelu- ja hinnoittelumalli
  </p>
  <salaxy-pricing></salaxy-pricing>
  <hr />
  <p>TODO: Valinta (tässä vai erikseen)</p>
  <ul>
    <li>Vain asvara => Hinnoitteluvalinnat</li>
    <li>Asvara + muut maksutavat => Laskutettava hinta AINA 0€</li>
  </ul>
</div>
