<h1>Schedule demo</h1>
<div ng-controller="ScheduleController as $ctrl" class="form-horizontal">
  <uib-tabset active="$ctrl.currentTab">
    <uib-tab index="'default'" heading="Palkkalista">
      <salaxy-datepicker-popup label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryDate" name="salaryDate" ng-model="$ctrl.current.salaryDate" date-disabled="salary" payment-channel="$ctrl.current.input.paymentChannel" ng-change="$ctrl.periodDatesChanged()"></salaxy-datepicker-popup>
      <salaxy-date-range label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryPeriod" name="period" ng-model="$ctrl.current.period" mode="calc"></salaxy-date-range>
      <salaxy-input-enum ng-model="$ctrl.createNewModel.input.periodicity" name="periodicity" label="Maksun toistuvuus" options="$ctrl.todo.periodicityOptions"
        ng-change="$ctrl.onPeriodicityChanged()" type="radio" required></salaxy-input-enum>
      <div ng-if="$ctrl.createNewModel.input.periodicity && $ctrl.createNewModel.input.periodicity != 'manual'">
        <salaxy-datepicker-popup name="periodStart" ng-model="$ctrl.current.input.period.start" label="Palkkakauden alku" ng-change="$ctrl.periodDatesChanged();" require="true">
        </salaxy-datepicker-popup>
        <salaxy-form-group label="Palkkakausi" name="period">
          <p>{{ $ctrl.createNewModel.preview[0].period | sxyDateRange }}</p>
        </salaxy-form-group>
        <salaxy-input-number ng-if="$ctrl.createNewModel.input.periodicity != 'halfMonthly'" ng-model="$ctrl.createNewModel.input.periodicityCount" name="periodicityCount"
          label="{{$ctrl.createNewModel.input.periodicity == 'monthly' ? 'Kuukausiväli (1-12 kk)' : 'Viikkoväli (1-52 viikkoa)' }}" ng-change="$ctrl.periodDatesChanged()">
        </salaxy-input-number>
        <salaxy-input-number ng-model="$ctrl.createNewModel.input.payrollCreateDays" name="payrollCreateDays" label="Palkkalistan luonti (arkipäivää ennen)"
          ng-change="$ctrl.periodDatesChanged();"></salaxy-input-number>
        <salaxy-input-boolean ng-model="$ctrl.createNewModel.input.notificationEnabled" type="switch" label-true="on" label-false="off" name="notificationEnabled"
          label="Muistutus sähköpostilla" ng-change="$ctrl.periodDatesChanged();"></salaxy-input-boolean>
        <div ng-show="$ctrl.createNewModel.input.notificationEnabled">
          <salaxy-input-number ng-model="$ctrl.createNewModel.input.notificationDays" name="notificationDays" label="Ajastus arkipäivää ennen"
            ng-change="$ctrl.periodDatesChanged();">
          </salaxy-input-number>
          <salaxy-textarea ng-model="$ctrl.createNewModel.input.notificationText" name="notificationText" label="Muistutuksen teksti"></salaxy-textarea>
          <salaxy-input ng-model="$ctrl.createNewModel.input.notificationEmail" name="notificationEmail" label="Vastaanottajan sähköposti" sxy-email></salaxy-input>
          <salaxy-form-group label="Lisäksi viestiin tulee:" name="additional text" class="no-colon">
            <small>
              <pre>
Tämä viesti on lähetetty Palkkaus.fi-palvelun palkkalistan muistutuksista. 
                
    Palkkalistan maksupäivä: {{$ctrl.createNewModel.preview[0].salaryDate | date}} 
    Palkkakausi: {{$ctrl.createNewModel.preview[0].period | sxyDateRange}} 
    Otsikko: {{$ctrl.current.input.title ? $ctrl.current.input.title : "Otsikkoteksti tässä" }} 
    Maksettava viimeistään: {{$ctrl.createNewModel.preview[0].dueDate | date}} 
                  
Jos tämä viesti on tullut väärään osoitteeseen tai sinulla on muuta kysyttävää, ota yhteys Palkkaus.fi-asiakaspalveluun: https://www.palkkaus.fi
      </pre>
            </small>
          </salaxy-form-group>
        </div>
        <salaxy-form-group label="Toistuvuus (2019)" name="preview" class="no-colon">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Palkkapäivä</th>
                <th class="right">Palkkakausi</th>
                <th class="right">Luodaan</th>
                <th class="right">Eräpäivä</th>
                <th class="right">Muistutus</th>
              </tr>
            </thead>
            <tr ng-repeat="instancePreview in $ctrl.createNewModel.preview">
              <td>{{instancePreview.salaryDate | date}}</td>
              <td class="right">{{instancePreview.period | sxyDateRange}}</td>
              <td class="right">{{instancePreview.createDate | date}}</td>
              <td class="right" ng-class="{ 'text-danger': $ctrl.isOverdue(instancePreview.dueDate) }">{{instancePreview.dueDate | date}}</td>
              <td class="right" ng-if="$ctrl.createNewModel.input.notificationEnabled">{{ instancePreview.notificationDate ? (instancePreview.notificationDate | date ) : "-" }}
                </th>
              <td class="right" ng-if="!$ctrl.createNewModel.input.notificationEnabled">-</th>
            </tr>
          </table>
        </salaxy-form-group>
      </div>
      <div ng-if="$ctrl.createNewModel.input.periodicity == 'manual'">
        <salaxy-date-range ng-model="$ctrl.current.input.period" label="Palkkakausi (työ ajalla)" name="dateRange" require="true"></salaxy-date-range>
      </div>
    </uib-tab>
    <uib-tab index="'Todo1'" heading="Todo1">
    </uib-tab>
    <uib-tab index="'Todo2'" heading="Todo2">
    </uib-tab>
  </uib-tabset>
</div>