<p class="lead">
  Muokkaa asiakkan sivuston rakennetta.
</p>
<div class="row" ng-controller="NaviController as navi">
  <div class="col-xs-6">
    <ul>
      <li ng-repeat="level1 in navi.sitemap[4].children">
        <a href="" ng-click="navi.currentEditable = level1">{{ level1.title | sxyTranslate }}</a>
        <ul>
          <li ng-repeat="level2 in level1.children">
            <a href="" ng-click="navi.currentEditable = level2">{{ level2.title | sxyTranslate }}</a>
            <ul>
              <li ng-repeat="level3 in level2.children">
                <a href="" ng-click="navi.currentEditable = level3">{{ level3.title | sxyTranslate }}</a>
                <ul></ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-xs-6">
    <fieldset class="form-horizontal">
      <legend>Navigaatio</legend>
      <salaxy-input name="title" ng-model="navi.currentEditable.title" label="Suomi"></salaxy-input>
      <salaxy-input name="titleSv" ng-model="navi.currentEditable.titleSv" label="Ruotsi"></salaxy-input>
      <salaxy-input name="titleEn" ng-model="navi.currentEditable.titleEn" label="Englanti"></salaxy-input>
      <salaxy-input-boolean type="checkbox" name="hidden" ng-model="navi.currentEditable.hidden" label="Piilotettu"></salaxy-input-boolean>
      <salaxy-input-boolean type="checkbox" name="readOnly" ng-model="navi.currentEditable.readOnly" label="Vain luku"></salaxy-input-boolean>
      <salaxy-input name="url" ng-model="navi.currentEditable.url" label="Osoite"></salaxy-input>
    </fieldset>
    <!--
    <salaxy-json-formatter json="navi.currentEditable"></salaxy-json-formatter>
    -->
  </div>
</div>
