﻿<form name="companyLegalForm" class="form-horizontal">
  <!-- Updating formDataValidity to use in controller -->
  <span class="hidden">{{ wizard.formDataValidity = companyLegalForm.$valid && (wizard.showCompanySelection || wizard.model.signature.isProcura)}}</span>
  <div class="row">
    <div class="col-md-6">
      <legend>Viranomaisten kysymykset</legend>
      <h5>
        Oletko poliittisesti vaikutusvaltainen henkilö (PEP)?*
        <i class="fa fa-info-circle" popover-title="PEP" uib-popover="Jos olet jossain toisessa valtiossa poliittisesti vaikutusvaltainen henkilö tai lähipiiriisi kuuluu poliittisesti vaikutusvaltainen henkilö (Politically Exposed Person, PEP), laki edellyttää, että kerrot siitä meille ennen palvelun käytön aloittamista. Palvelun käyttöön tämä ei vaikuta.  Poliittisesti vaikutusvaltaiseksi henkilöksi ei Suomessa katsota suomalaista poliitikkoa, joka toimii Suomessa."
          popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
      </h5>

      <salaxy-input-boolean type="radio" name="identityPep" label="" label-type="plain" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" ng-model="wizard.model.signature.isPep" required></salaxy-input-boolean>

      <div ng-if="wizard.model.company.companyType != 'fiRy'">
        <h5>
          Omistaako joku henkilö vähintään 25% tästä yrityksestä suoraan tai välillisesti?*
          <i class="fa fa-info-circle" popover-title="Tosiasialliset edunsaajat eli omistajat" uib-popover="Lain mukaan tosiasiallisella edunsaajalla tarkoitetaan henkilöä, joka omistaa yli 25% yrityksen osakkeiden tai osuuksien tuottamasta äänimäärästä tai jolla on muutoin määräysvalta yrityksessä.
                Kysymme tätä tietoa, koska Finanssivalvonta ja rahanpesulaki velvoittavat meitä tuntemaan asiakkaamme." popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
        </h5>
        <salaxy-input-boolean type="radio" name="Ownership.IsRequiredTracking" label="" label-type="plain" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" ng-model="wizard.model.company.ownership.isRequiredTracking" required></salaxy-input-boolean>

      </div>
      <div ng-if="!wizard.showCompanySelection">
        <h5>
          Onko sinulla yrityksen tai yhdistyksen nimenkirjoitusoikeus?*
          <i class="fa fa-info-circle" popover-title-title="Nimenkirjoitusoikeus" uib-popover="Käyttääksesi palvelua, sinulla pitää olla yrityksen tai yhdistyksen
                nimenkirjoitusoikeus. Yleensä se on yrityksen toimitusjohtajalla ja hallituksen jäsenillä
                tai yhdistyksen hallituksen jäsenillä. Jos olet epävarma, tarkista asia yrityksen tai yhdistyksen
                johdolta." popover-append-to-body="true" popover-placement="top" popover-trigger="'mouseenter click'"></i>
        </h5>
        <salaxy-input-boolean type="radio" name="procuraOptions" label="" label-type="plain" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" ng-model="wizard.model.signature.isProcura" required></salaxy-input-boolean>


        <br />
        <div ng-if="!wizard.model.signature.isProcura" class="alert alert-danger">
          <p>
            Palvelun käyttöönotto edellyttää nimenkirjoitusoikeudellisen henkilön valtuutusta. Pyydä yrityksesi vastuullista henkilöä luomaan tili yritykselle tai ota yhteyttä asiakaspalveluumme.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <div ng-if="!wizard.model.company.ownership.isRequiredTracking">
        <legend>Miksi kysymme näitä tietoja?</legend>
        <p>
          Palkkaus.fi on maksupalvelun tarjoajia koskevassa Finanssivalvonnan (Fiva) rekisterissä. Laki edellyttää meiltä asiakkaan tuntemista. Siksi joudumme kysymään sinulta vielä seuraavat tiedot. Tiedot eivät ole julkisia ja voimme luovuttaa niitä vain voimassaolevan
          lainsäädännön velvoittamissa rajoissa.
        </p>
      </div>

      <div ng-if="wizard.model.company.ownership.isRequiredTracking">
        <fieldset class="form-horizontal">
          <legend>Yrityksen omistajat</legend>
          <p>Seuraavat henkilöt omistavat vähintään 25% yhtiön osakkeista suoraan tai välillisesti:</p>
          <salaxy-input type="text" name="shareholder1" label="Omistaja 1" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="wizard.model.company.ownership.shareHolders[0].name" require="true"></salaxy-input>
          <salaxy-input type="text" name="shareholder2" label="Omistaja 2" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="wizard.model.company.ownership.shareHolders[1].name">
          </salaxy-input>
          <salaxy-input type="text" name="shareholder3" label="Omistaja 3" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="wizard.model.company.ownership.shareHolders[2].name">
          </salaxy-input>
          <salaxy-input type="text" name="shareholder4" label="Omistaja 4" label-cols="col-sm-4 col-md-3 col-lg-4" ng-model="wizard.model.company.ownership.shareHolders[3].name">
          </salaxy-input>
        </fieldset>
      </div>
    </div>
  </div>
</form>