﻿<form name="companyForm" class="form-horizontal">
  <!-- Updating formDataValidity to use in controller -->
  <span
    class="hidden">{{ wizard.formDataValidity = companyForm.$valid && ( wizard.showCompanySelection || (wizard.model.company.resolvedId == (sessionCtrl.session.hasCurrentAccount ? sessionCtrl.session.currentAccount.id:null)))}}</span>

  <div>
    <div class="alert alert-danger" ng-if="wizard.showCompanySelection && wizard.existingCompanyAlert">
      <p>HUOM! Yrityksellä on jo Palkkaus.fi-tili. Jos jatkat käyttöönottoa, käyttämäsi tunnus lisätään tilin omistajaksi, jos se tilitä puuttuu. Vanhat käyttäjätunnukset säilyvät.
        Halutessasi voit poistaa käyttäjätunnuksen kohdasta Asetukset => Valtuutukset => Käyttäjätunnukset.</p>
      <p><a ng-href="{{wizard.model.ui.successUrl}}">Voit kirjautua palveluun täältä.</a></p>
    </div>
  </div>
  <div ng-if="!wizard.showCompanySelection && ( wizard.model.company.resolvedId != (sessionCtrl.session.hasCurrentAccount ? sessionCtrl.session.currentAccount.id:null))">
    <div class="alert alert-danger">
      <p>Tällä Y-tunnuksella ({{wizard.model.company.businessId}}) on jo luotu käyttäjätili Palkkaus.fi-palveluun.</p>
      <p><a ng-href="{{wizard.model.ui.successUrl}}">Kirjaudu palveluun.</a></p>
      <p>
        Jos sinulla on tämän yrityksen nimenkirjoitusoikeus, otathan yhteyttä asiakaspalveluumme joko sähköpostitse (<a>aspa@palkkaus.fi</a>) tai puhelimitse (09 425 50603).
      </p>
    </div>
  </div>
  <div class="row">
    <div ng-if="wizard.showCompanySelection" class="col-md-6">
      <legend>Yrityksen perustiedot</legend>
      <salaxy-input readonly="true" label="Y-tunnus" name="businessId" ng-model="wizard.model.company.businessId"
        tooltip-html="Tarvitset käyttäjätilin luomiseen Y-tunnuksen. Jos käytät palveluamme yhdistyksen palkanmaksuun, yhdistyksellä on oltava Y-tunnus. Yhdistys voi hakea Y-tunnuksen tekemällä perustamisilmoituksen Verohallintoon (lomakkeella Y1)."
        ng-required="true"></salaxy-input>
      <salaxy-input salaxy-if-role="!test" readonly="true" label="Yrityksen nimi" name="name" ng-model="wizard.model.company.name" ng-required="true"></salaxy-input>
      <salaxy-input salaxy-if-role="test" label="Yrityksen nimi" name="name" ng-model="wizard.model.company.name" ng-required="true"></salaxy-input>
      <div class="form-group" salaxy-if-role="!test">
        <label for="Yritysmuoto" class="col-sm-4 control-label" style="text-align:left">
          <span sxy-text="SALAXY.NG1.GeneralInfo.companyType" ps="*"></span>
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="Yritysmuoto" name="Yritysmuoto" placeholder="{{'SALAXY.NG1.GeneralInfo.companyType' | sxyTranslate | lowercase}}"
            readonly="true" autocomplete="off"
            value="{{ !wizard.model.company.companyType ? '' : ('SALAXY.ENUM.CompanyType.' + wizard.model.company.companyType +'.label' | sxyTranslate) }}" />
        </div>
      </div>
      <salaxy-input-enum salaxy-if-role="test" label="Yritysmuoto" name="companyType" ng-model="wizard.model.company.companyType" enum="CompanyType" type="select"
        placeholder="{{'SALAXY.NG1.UiTerms.select' | sxyTranslate}}" ng-required="true"></salaxy-input-enum>
    </div>

    <div ng-if="!wizard.showCompanySelection" class="col-md-6">
      <legend>Yrityksen perustiedot</legend>
      <div class="form-group">
        <label for="businessId" class="col-sm-4 col-md-3 col-lg-4 control-label" style="text-align: left">
          Y-tunnus *
          <i class="fa fa-info-circle" popover-title="Y-tunnus"
            uib-popover="Tarvitset käyttäjätilin luomiseen Y-tunnuksen. Jos käytät palveluamme yhdistyksen palkanmaksuun, yhdistyksellä on oltava Y-tunnus. Yhdistys voi hakea Y-tunnuksen tekemällä perustamisilmoituksen Verohallintoon (lomakkeella Y1)."
            popover-append-to-body="true" popover-placement="top" popover-trigger="'mouseenter click'"></i>
        </label>
        <div class="col-sm-8 col-md-9 col-lg-8">
          <div class="input-group">
            <input ng-disabled="sessionCtrl.session.hasCurrentAccount" type="text" id="businessId" class="form-control" ng-model="wizard.model.company.businessId" sxy-company-id-fi
              ng-required="true">
            <div class="input-group-btn">
              <button ng-disabled="sessionCtrl.session.hasCurrentAccount" class="btn btn-default form-control" type="button" ng-click="wizard.searchYtj('businessId')"
                popover-title="YTJ-haku"
                uib-popover="Voit hakea yrityksesi tiedot YTJ:stä Y-tunnuksen perusteella. YTJ on Patentti- ja rekisterihallituksen ylläpitämä tietokanta, johon tuodaan tietoja esimerkiksi kaupparekisteristä. Kirjoita Y-tunnuksesi, paina tätä nappia ja valitse yrityksesi hakutuloksista."
                popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter'">
                Hae <span class="hidden-sm">YTJ:stä</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="col-sm-4 col-md-3 col-lg-4 control-label" style="text-align: left">Yrityksen nimi *</label>
        <div class="col-sm-8 col-md-9 col-lg-8">
          <div class="input-group">
            <input ng-disabled="sessionCtrl.session.hasCurrentAccount" type="text" class="form-control" id="name" ng-model="wizard.model.company.name" ng-required="true">
            <div class="input-group-btn">
              <button ng-disabled="sessionCtrl.session.hasCurrentAccount" class="btn btn-default form-control" type="button" ng-click="wizard.searchYtj('name')"
                popover-title="YTJ-haku"
                uib-popover="Voit hakea yrityksesi tiedot YTJ:stä yrityksen nimen perusteella. YTJ on Patentti- ja rekisterihallituksen ylläpitämä tietokanta, johon tuodaan tietoja esimerkiksi kaupparekisteristä. Kirjoita yrityksesi nimi, paina tätä nappia ja valitse yrityksesi hakutuloksista."
                popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter'">
                Hae <span class="hidden-sm">YTJ:stä</span>
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class=" hidden-xs">
        <!-- HUOM! Tästä kentästä on mobiiliversio edempänä koodissa -->
        <salaxy-input-enum label="Yrityksen tyyppi" label-cols="col-sm-4 col-md-3 col-lg-4" enum="CompanyType"
          options="{'fiOy':'Osakeyhtiö (Oy, Oyj, asunto-osakeyhtiö)','fiTm':'Yksityinen elinkeinonharjoittaja (toiminimi tai maatalousyrittäjä)','fiRy':'Yhdistys','fiYy':'Muu (kommandiittiyhtiö, avoin yhtiö, säätiö, pankki, liikelaitos tai osuuskunta)'}"
          name="companyType" ng-model="wizard.model.company.companyType" disabled="sessionCtrl.session.hasCurrentAccount" require="true"></salaxy-input-enum>

      </div>
    </div>

    <!-- MOBIILIVERSIO YTJ haun tulokset/virheet -->
    <div ng-if="!wizard.showCompanySelection" class="visible-xs col-md-12">
      <!--Näytetään y-tunnuksesta johtuvat virheet, jos niitä on -->
      <div ng-if="wizard.getValidationError('Company.BusinessId') && wizard.getValidationError('Company.BusinessId').type=='invalid'">
        <h3>YTJ-haun tulos:</h3>
        <p>{{ wizard.getValidationError('Company.BusinessId').msg}}</p>
      </div>

      <div ng-if="wizard.model.company.ytjSearch != null">
        <h3>
          YTJ-haun tulos:
          <span ng-if="wizard.model.company.ytjSearch && wizard.model.company.ytjSearch.result.length != 0">
            ({{wizard.model.company.ytjSearch.result.length}} kpl)
          </span>
        </h3>
        <!--Näytetään ytj-hausta johtuvat virheet, jos niitä on -->
        <div ng-if="wizard.model.company.ytjSearch.userMessage != null">
          <p>{{ wizard.model.company.ytjSearch.userMessage }}</p>
        </div>
        <div ng-if="wizard.model.company.ytjSearch.isSuccess">
          <!--Näytetään että tiedot syötetty jos yrityksiä oli tasan yksi -->
          <div ng-if="wizard.model.company.ytjSearch.result.length == 1">
            <p>Haullasi löytyi yksi tulos, organisaation tiedot täytetty automaattisesti kenttiin.</p>
          </div>
          <!--Näytetään viestit jos yrityksiä on nolla-->
          <div ng-if="wizard.model.company.ytjSearch.result.length == 0 && wizard.model.validation.isOfficialIdValid">
            <p>{{wizard.model.company.ytjSearch.userMessage}}</p>
          </div>
          <div ng-if="wizard.model.company.ytjSearch.result.length != 0">
            <uib-accordion>
              <div uib-accordion-group class="panel-default" ng-repeat="company in wizard.model.company.ytjSearch.result">
                <uib-accordion-heading>
                  <h4>{{company.name}}</h4>
                </uib-accordion-heading>
                {{company.businessId}}<br /> {{company.type}} <br />
                <br />
                <button class="btn btn-primary" ng-click="wizard.chooseBusinessId(company.businessId)">Valitse</button>
              </div>
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <legend>Yrityksen yhteystiedot</legend>
      <salaxy-input label="Katuosoite" name="Katuosoite" ng-model="wizard.model.company.contact.street" ng-required="true"></salaxy-input>
      <salaxy-input label="Postinumero" name="Postinumero" sxy-postal-code-fi ng-model="wizard.model.company.contact.postalCode" ng-required="true"></salaxy-input>
      <salaxy-input label="Postitoimipaikka" name="Postitoimipaikka" ng-model="wizard.model.company.contact.city" ng-required="true"></salaxy-input>
      <salaxy-input label="Sähköposti" name="Sahkoposti" ng-model="wizard.model.company.contact.email" ng-required="true" sxy-email></salaxy-input>
      <salaxy-input label="Puhelinnumero" name="Puhelinnumero" ng-model="wizard.model.company.contact.telephone" ng-required="true" sxy-mobile-phone></salaxy-input>
      <!-- HUOM! Tästä kentästä on mobiiliversio ylempänä koodissa -->
      <div ng-if="!wizard.showCompanySelection" class="visible-xs">
        <salaxy-input-enum label="Yrityksen tyyppi" label-cols="col-sm-4 col-md-3 col-lg-4" enum="CompanyType"
          options="{'fiOy':'Osakeyhtiö (Oy, Oyj, asunto-osakeyhtiö)','fiTm':'Yksityinen elinkeinonharjoittaja (toiminimi tai maatalousyrittäjä)','fiRy':'Yhdistys','fiYy':'Muu (kommandiittiyhtiö, avoin yhtiö, säätiö, pankki, liikelaitos tai osuuskunta)'}"
          name="companyTypeMobile" ng-model="wizard.model.company.companyType" disabled="sessionCtrl.session.hasCurrentAccount" require="true"></salaxy-input-enum>
      </div>
    </div>

    <!-- YTJ haun tulokset/virheet -->
    <div ng-if="!wizard.showCompanySelection" class="hidden-xs col-md-12">
      <!-- Näytetään y-tunnuksesta johtuvat virheet, jos niitä on -->
      <div ng-if="wizard.getValidationError('Company.BusinessId') && wizard.getValidationError('Company.BusinessId').type=='invalid'">
        <h3>YTJ-haun tulos:</h3>
        <p>{{ wizard.getValidationError('Company.BusinessId').msg}}</p>
      </div>

      <div ng-if="wizard.model.company.ytjSearch != null">
        <h3>
          YTJ-haun tulos:
          <span ng-if="wizard.model.company.ytjSearch && wizard.model.company.ytjSearch.result.length != 0">
            ({{wizard.model.company.ytjSearch.result.length}} kpl)
          </span>
        </h3>
        <!--Näytetään ytj-hausta johtuvat virheet, jos niitä on -->
        <div ng-if="wizard.model.company.ytjSearch.userMessage != null">
          <p>{{ wizard.model.company.ytjSearch.userMessage }}</p>
        </div>


        <!-- Haku onnistui -->
        <div ng-if="wizard.model.company.ytjSearch.isSuccess">
          <!--Näytetään viestit jos yrityksiä on nolla-->
          <div ng-if="wizard.model.company.ytjSearch.result.length == 0 && wizard.model.validation.isOfficialIdValid">
            <p>{{wizard.model.company.ytjSearch.userMessage}}</p>
          </div>
          <div ng-if="wizard.model.company.ytjSearch.result.length != 0" class="table-responsive" style="max-height: 300px; overflow-y: auto;">

            <table class="table table-hover table-bordered" style="overflow-wrap: break-word">
              <thead>
                <tr>
                  <th>
                    Nimi
                    <br /> Y-tunnus
                  </th>
                  <th class="hidden-xs">Yritysmuoto</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="company in wizard.model.company.ytjSearch.result">
                  <td>
                    {{company.name}}
                    <br /> {{company.businessId}}
                  </td>
                  <td class="hidden-xs">{{company.type}}</td>
                  <td><a class="btn btn-primary" ng-click="wizard.chooseBusinessId(company.businessId)">Valitse</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>