﻿<!--a ng-if="wizard.model.ui.cancelUrl" ng-href="{{wizard.model.ui.cancelUrl}}"  class="btn btn-default">Takaisin etusivulle</a-->
<button  class="btn btn-default" ng-click="$close()">Takaisin etusivulle</button>
<div salaxy-loader class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<button ng-click="wizard.goNext()" ng-disabled="!wizard.canGoNext" class="btn btn-primary">Seuraava</button>