<form name="currentForm">
  <!-- Hidden ariable formDataValidity to use in controller -->
  <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>
  <div class="">
    <br />
    <p>{{wizard.currentStep.intro}}</p>
    <br />
  </div>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Valitse Suomi.fi-palvelussa yritys, jolle haluat luoda tilin Palkkaus.fi-palveluun.</legend>
        <div class="form-horizontal">
          <salaxy-input label="Henkilö&shy;tunnuksesi" name="personalId" ng-model="wizard.model.signature.personalId" ng-required="true" sxy-personal-id-fi></salaxy-input>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6">
      <img src="https://cdn.salaxy.com/ng1/img/onboarding/suomifi.png" class="img-responsive" alt="suomi.fi">
    </div>
  </div>
</form>