﻿<form name="currentForm" class="form-horizontal">
  <!-- Hidden ariable formDataValidity to use in controller -->
  <span class="hidden">{{ wizard.formDataValidity = currentForm.$valid }}</span>
  <div class="">
    <br />
    <p>{{wizard.currentStep.intro}}</p>
    <br />
  </div>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Henkilötiedot</legend>
          <salaxy-input label="Etunimi" name="Etunimi" ng-model="wizard.model.person.firstName" ng-required="true"></salaxy-input>
          <salaxy-input label="Sukunimi" name="Sukunimi" ng-model="wizard.model.person.lastName" ng-required="true"></salaxy-input>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Henkilön yhteystiedot</legend>
          <salaxy-input label="Sähköposti" name="Sahkoposti" ng-model="wizard.model.person.contact.email" ng-required="true" sxy-email></salaxy-input>
          <salaxy-input label="Puhelinnumero" name="Puhelinnumero" ng-model="wizard.model.person.contact.telephone" ng-required="true"
            sxy-mobile-phone></salaxy-input>
      </fieldset>
    </div>
  </div>
</form>