<div class="salaxy-component salaxy-holiday-year-absences">
  <div ng-if="!$ctrl.list" class="alert alert-info">
    <p sxy-text="SALAXY.NG1.AbsencePeriodsComponent.selectWorker"></p>
  </div>
  <div ng-if="$ctrl.list && $ctrl.mode == 'calendar'">
    <salaxy-calendar data="$ctrl.parent" on-list-select="$ctrl.calendarClick(type, date, calEvent)"
      start="$ctrl.filterStart" end="$ctrl.filterEnd" mapper="$ctrl.mapToCalendar"></salaxy-calendar>
    <div class="text-right">
      &nbsp;<br/>
      <button type="button" class="btn btn-default" ng-click="$ctrl.showEditDialog('new')" sxy-text="SALAXY.NG1.AbsencePeriodsComponent.addAbsenceButtonText"></button>
    </div>
  </div>
  <div ng-if="$ctrl.list && $ctrl.mode != 'calendar'">
    <table class="table table-striped {{ $ctrl.condensed ? 'table-condensed' : '' }}">
      <thead>
        <tr>
          <th sxy-text="SALAXY.NG1.AbsencePeriodsComponent.headerAbsence"></th>
          <th class="right" sxy-text="SALAXY.NG1.AbsencePeriodsComponent.headerDays"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.list | filter: $ctrl.filter" ng-click="$ctrl.showEditDialog(row)" class="clickable">
          <td>
            <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" avatar="{ color: '#2b507c', initials: (row.period.daysCount + 'pv'), entityType: 'company' }"></salaxy-avatar>
            <strong>{{ "AbsenceCauseCode." + row.causeCode | sxyEnum }}</strong><br />
            <div class="pull-left" style="padding: 0px;">
              {{ row.isPaid ? ('SALAXY.NG1.AbsencePeriodsComponent.isPaid' | sxyTranslate) : ('SALAXY.NG1.AbsencePeriodsComponent.notPaid' |sxyTranslate) }}
              <span ng-if="row.isPaid != row.isHolidayAccrual"> {{ row.isHolidayAccrual ? ('SALAXY.NG1.AbsencePeriodsComponent.isAccrual' | sxyTranslate) : ('SALAXY.NG1.AbsencePeriodsComponent.notAccrual' | sxyTranslate) }}</span>
            </div>
            <div class="truncate" style="max-width: 250px; padding: 0px;">
              &nbsp;{{ row.notes }}
            </div>
          </td>
          <td class="right">
            <strong>{{ row.period.daysCount | sxyCount : "day" }}</strong><br /> {{ row.period | sxyDateRange }}
          </td>
        </tr>
        <tr ng-if="$ctrl.filteredList.length == 0">
          <td colspan="2">
            <h3 sxy-text="SALAXY.NG1.AbsencePeriodsComponent.noAbsences"></h3>
            <p sxy-text="SALAXY.NG1.AbsencePeriodsComponent.noAbsencesDescription"></p>
            <p sxy-text="SALAXY.NG1.AbsencePeriodsComponent.noAbsencesDescription2"></p>
          </td>
        </tr>
        <tr class="total">
          <td>
            <salaxy-avatar class="salaxy-calc-row-type-avatar pull-left" style="margin-bottom: 20px" avatar="{ color: '#2b507c', initials: 'sum', entityType: 'company' }"></salaxy-avatar>
            <strong>
             <span sxy-text="SALAXY.NG1.AbsencePeriodsComponent.totalUnpaid"></span><br />
                         <span sxy-text="SALAXY.NG1.AbsencePeriodsComponent.totalNoHolidayAccrual"></span><br />
                           <span sxy-text="SALAXY.NG1.AbsencePeriodsComponent.totalAll"></span><br />
            </strong>
          </td>
          <td class="right">
            <strong>
              {{ $ctrl.getTotalDays("absencesUnpaid") | sxyCount : "day" }}<br />
              {{ $ctrl.getTotalDays("absencesNoHolidayAccrual") | sxyCount : "day" }}<br />
              {{ $ctrl.getTotalDays("all") | sxyCount : "day" }}<br />
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="button" class="btn btn-default" ng-click="$ctrl.showEditDialog('new')" sxy-text="SALAXY.NG1.AbsencePeriodsComponent.addAbsenceButtonText"></button>
    </div>
  </div>
</div>