<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.panelHeading"></h1>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" name="absencePeriodsForm">
      <salaxy-input-enum name="causeCode" ng-model="$ctrl.current.causeCode" enum="AbsenceCauseCode" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.causeCode" type="typeahead" ng-change="$ctrl.logic.updateIsPaid($ctrl.current)" require="true"></salaxy-input-enum>
      <salaxy-datepicker-popup name="start" ng-model="$ctrl.current.period.start" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.startDate"></salaxy-datepicker-popup>
      <salaxy-datepicker-popup name="end" ng-model="$ctrl.current.period.end" ng-change="$ctrl.logic.updatePeriodDays($ctrl.current)" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.endDate"></salaxy-datepicker-popup>
      <salaxy-form-group name="daysCount" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.daysCount" ng-if="$ctrl.current.period.days == null">
        <div class="input-group">
          <input class="form-control" type="text" autocomplete="off" id="daysCount" name="daysCount" ng-model="$ctrl.current.period.daysCount" disabled>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.logic.setDaysSelection($ctrl.current)" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.editDatesButtonText"></button>
          </span>
        </div>
      </salaxy-form-group>
      <salaxy-date-range ng-model="$ctrl.current.period" name="days" mode="multiple" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.workDays" min-date="$ctrl.current.period.start" max-date="$ctrl.current.period.end" ng-if="$ctrl.current.period.days != null"></salaxy-date-range>
      <salaxy-input-boolean type="checkbox" name="isPaid" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.isPaid" label-true="SALAXY.NG1.AbsencePeriodsEditDialog.label.isPaidLabelTrue" ng-disabled="!$ctrl.logic.canSelectIsPaid($ctrl.current)" ng-model="$ctrl.current.isPaid"
        ng-change="$ctrl.logic.updateIsHolidayAccrual($ctrl.current)"></salaxy-input-boolean>



      <salaxy-input-boolean type="checkbox" name="isHolidayAccrual" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.isAccrual" label-true="SALAXY.NG1.AbsencePeriodsEditDialog.label.isAccrualLabelTrue" ng-model="$ctrl.current.isHolidayAccrual"></salaxy-input-boolean>


      <salaxy-input name="notes" label="SALAXY.NG1.AbsencePeriodsEditDialog.label.notes" ng-model="$ctrl.current.notes"></salaxy-input>
      <div>
        <button type="submit" ng-disabled="absencePeriodsForm.$invalid" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.UI_TERMS.ok"></button>
        <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
        <button type="button" class="btn btn-danger" ng-click="$close('delete')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.deleteButtonText"></button>
      </div>
    </form>
  </div>
</div>