<div class="salaxy-component salaxy-worker-assure">
  <div class="col col-md-12 col-lg-12">
    <form name="assureWorkerForm" class="form-horizontal">
      <h3>Luo uusi työntekijä (Partner, BETA)</h3>
      <salaxy-input sxy-personal-id-fi ng-model="$ctrl.assureWorkerAccountReq.officialId" label="Henkilötunnus" name="officialId" require="true"></salaxy-input>
      <salaxy-input ng-model="$ctrl.assureWorkerAccountReq.firstName" label="Etunimi" name="firstName" require="true"></salaxy-input>
      <salaxy-input ng-model="$ctrl.assureWorkerAccountReq.lastName" label="Sukunimi" name="lastName" require="true"></salaxy-input>
      <salaxy-input sxy-email ng-model="$ctrl.assureWorkerAccountReq.email" label="Sähköposti" name="email" require="true"></salaxy-input>
      <salaxy-input sxy-mobile-phone ng-model="$ctrl.assureWorkerAccountReq.telephone" label="Puhelin" name="telephone" require="true"></salaxy-input>
      <salaxy-input sxy-iban ng-model="$ctrl.assureWorkerAccountReq.bankAccountIban" label="Pankkitili" name="bankAccountIban" require="true"></salaxy-input>
      <salaxy-datepicker-popup name="startDate" label="Työsuhteen alkamispäivä" ng-model="$ctrl.assureWorkerAccountReq.startDate"></salaxy-datepicker-popup>
      <salaxy-datepicker-popup name="endDate" label="Työsuhteen päättymispäivä" ng-model="$ctrl.assureWorkerAccountReq.endDate"></salaxy-datepicker-popup>

      <div class="text-right">
        <button type="reset" ng-click="assureWorkerForm.$setPristine(); $ctrl.resetAssureWorkerAccount()" class="btn btn-default">Tyhjennä</button>
        <button ng-click="assureWorkerForm.$setPristine(); $ctrl.submitAssureWorkerAccount($workersDetails, $workersList);" ng-disabled="assureWorkerForm.$invalid" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
      </div>
    </form>
  </div>

  <div class="col col-md-5 col-lg-5">
    <hr />
    <salaxy-worker-list limit-to="10" ng-ref="$workersList" mode="select" on-list-select="$workersDetails.model = (value == true ? item.otherId : null); $workersList.selectedItems = []"></salaxy-worker-list>
  </div>
  <div class="col-md-7 col-lg-7">
    <hr />
    <salaxy-worker-details ng-ref="$workersDetails"></salaxy-worker-details>
  </div>
</div>