﻿<div class="salaxy-component salaxy-worker-list">
  <salaxy-odata-table options="{$top: $ctrl.limitTo}" ng-if="($ctrl.mode || 'default') == 'default'" read-only="$ctrl.readOnly" crud-controller="WorkerAccountCrudController as $crud" template-url="salaxy-components/odata/lists/Workers.html"></salaxy-odata-table>
  <salaxy-odata-table options="{$top: $ctrl.limitTo}" ng-if="$ctrl.mode == 'panel'" read-only="$ctrl.readOnly" crud-controller="WorkerAccountCrudController as $crud" template-url="salaxy-components/odata/lists/WorkersPanel.html"></salaxy-odata-table>
  <salaxy-odata-table options="{$top: $ctrl.limitTo}" ng-if="$ctrl.mode == 'select'" template-url="salaxy-components/odata/lists/Workers-select.html" items="$ctrl.items" selected-items="$ctrl.selectedItems" on-list-select="$ctrl.onListSelect({ value: value, item: item, allItems: allItems });"
    crud-controller="WorkerAccountCrudController as $crud"></salaxy-odata-table>
</div>