<div class="salaxy-component salaxy-worker-absences">
  <salaxy-spinner ng-if="$ctrl.isLoading"></salaxy-spinner>
  <div class="row">
    <div class="col-sm-8">
      <fieldset ng-if="$ctrl.viewType == 'overview'">
        <salaxy-absence-periods on-commit="$ctrl.save()" parent="$ctrl.current" mode="calendar"
          filter-start="$ctrl.currentYear + '-01-01'" filter-end="$ctrl.currentYear + '-12-31'"
          ></salaxy-absence-periods>
      </fieldset>
      <fieldset ng-if="$ctrl.viewType == 'list'">
        <salaxy-absence-periods on-commit="$ctrl.save()" parent="$ctrl.current"></salaxy-absence-periods>
      </fieldset>
    </div>
    <div class="col-sm-4">
      <div class="btn-group btn-block" uib-dropdown>
        <button id="year-selection" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
          {{ $ctrl.currentYear  }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="" ng-click="$ctrl.currentYear = year" ng-repeat="year in $ctrl.years">{{ year }}</a></li>
        </ul>
      </div>
      <div class="btn-group-vertical btn-block">
        <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'overview'" sxy-text="SALAXY.NG1.WorkerAbsencesComponent.calendarButtonText"></label>
        <label class="btn btn-default btn-block" ng-model="$ctrl.viewType" uib-btn-radio="'list'" sxy-text="SALAXY.NG1.WorkerAbsencesComponent.listButtonText"></label>
      </div>
      <p>&nbsp;</p>
      <fieldset>
        <legend sxy-text="SALAXY.NG1.WorkerAbsencesComponent.legendInstructions"></legend>
        <div sxy-html="SALAXY.NG1.WorkerAbsencesComponent.instructions.html"></div>
      </fieldset>
    </div>
  </div>
</div>