<ng-include src="'salaxy-components/worker/WorkerDetails_Info.html'"></ng-include>
<div ng-if="$ctrl.status == 'initialLoading'">
  <p sxy-text="SALAXY.UI_TERMS.loading"></p>
</div>
<uib-tabset active="$ctrl.currentTab" ng-if="$ctrl.current">
  <uib-tab index="'default'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.workerInfo' | sxyTranslate }}">
    <salaxy-worker-details-edit model="$ctrl" hide-buttons="$ctrl.hideButtons"></salaxy-worker-details-edit>
  </uib-tab>
  <uib-tab index="'employment'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.employment' | sxyTranslate }}" ng-if="'company' | sxyIsInRole">
    <ng-include src="'salaxy-components/worker/WorkerEmployment.html'"></ng-include>
  </uib-tab>
  <uib-tab index="'calcRows'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.defaultCalcRows' | sxyTranslate }}" ng-if="'company' | sxyIsInRole">
    <div ng-if="$ctrl.current.employment.work.salaryDefaults.length > 0 || $ctrl.showList || $ctrl.hasChanges">
      <salaxy-calc-rows-2019-editor rows="$ctrl.current.employment.work.salaryDefaults" title="{{ 'SALAXY.NG1.WorkerDetailsComponent.defaultCalcRows' | sxyTranslate }}" condensed="true" mode="edit"></salaxy-calc-rows-2019-editor>
      <div class="text-right" ng-if="!$ctrl.hideButtons">
        <button ng-click="$ctrl.save()" ng-disabled="workerForm.$invalid" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
      </div>
    </div>



    <div ng-if="!($ctrl.current.employment.work.salaryDefaults.length > 0 || $ctrl.showList) && !$ctrl.hasChanges">
      <div ng-if="$ctrl.current.employment.work.salaryDefaults" class="salaxy-placeholder-empty placeholder-md placeholder-default text-center">
        <h4 sxy-text="SALAXY.NG1.WorkerDetailsComponent.noCalcRows"></h4>
        <button class="btn btn-primary" ng-click="$ctrl.showList = true" sxy-text="SALAXY.UI_TERMS.addRow"></button>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="'calculations'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.calculations' | sxyTranslate }}">
    <salaxy-odata-table ng-if="$ctrl.currentId" read-only="$ctrl.isReadOnlyForced" crud-controller="CalculationCrudController as $crud" options="{ $filter: 'otherId eq \'' + $ctrl.currentId + '\' and ( status ne \'proDraft\' and status ne \'payrollDraft\')' }"
      template-url="salaxy-components/odata/lists/CalculationsWorker.html">
    </salaxy-odata-table>
  </uib-tab>
  <uib-tab index="'taxcards'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.taxcards' | sxyTranslate }}">
    <salaxy-employment-taxcards employment-id="$ctrl.current.employmentId" ng-ref="$ctrl.taxcardsController"></salaxy-employment-taxcards>
  </uib-tab>
  <uib-tab index="'holidays'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.holidays' | sxyTranslate }}">
    <salaxy-worker-holidays employment-id="$ctrl.current.employmentId"></salaxy-worker-holidays>
  </uib-tab>
  <uib-tab index="'absences'" heading="{{ 'SALAXY.NG1.WorkerDetailsComponent.absences' | sxyTranslate }}">
    <salaxy-worker-absences employment-id="$ctrl.current.employmentId"></salaxy-worker-absences>
  </uib-tab>
</uib-tabset>