<div class="salaxy-component salaxy-worker-employment">
  <form name="employmentForm" class="form-horizontal" ng-if="$ctrl.current.employment">
    <div class="row">
      <div class="col-md-6">
        <salaxy-input-enum ng-change="$ctrl.setProposedValues()" ng-required="true" hidden-options="undefined" name="type" ng-model="$ctrl.current.employment.type" enum="EmploymentRelationType" type="radio" label-type="plain" options="{
          entrepreneur:('SALAXY.ENUM.EmploymentRelationType.entrepreneurNew.label' | sxyTranslate),
          farmer:('SALAXY.ENUM.EmploymentRelationType.farmer.label' | sxyTranslate), 
          monthlySalary:('SALAXY.ENUM.EmploymentRelationType.monthlySalary.label' | sxyTranslate),
          hourlySalary:('SALAXY.ENUM.EmploymentRelationType.hourlySalary.label' | sxyTranslate),
          salary:('SALAXY.ENUM.EmploymentRelationType.salary.label' | sxyTranslate),
          employedByStateEmploymentFund:('SALAXY.ENUM.EmploymentRelationType.employedByStateEmploymentFund.label' | sxyTranslate),
          compensation:('SALAXY.ENUM.EmploymentRelationType.compensation.label' | sxyTranslate),
          boardMember:('SALAXY.ENUM.EmploymentRelationType.boardMember.label' | sxyTranslate),
          athlete:('SALAXY.ENUM.EmploymentRelationType.athlete.label' | sxyTranslate),
          performingArtist:('SALAXY.ENUM.EmploymentRelationType.performingArtist.label' | sxyTranslate),
          keyEmployee:('SALAXY.ENUM.EmploymentRelationType.keyEmployee.label' | sxyTranslate),
      }"></salaxy-input-enum>
      </div>
      <div class="col-md-6">
        <salaxy-input-enum type="select" name="pensionCalculation" disable-cache="true" options="$ctrl.getPensionCalculationOptions($ctrl.current.employment.type)" label="SALAXY.NG1.WorkerWizardComponent.employment.pension.title" ng-model="$ctrl.current.employment.pensionCalculation"></salaxy-input-enum>
        <salaxy-input ng-model="$ctrl.current.employment.work.description" label="SALAXY.NG1.WorkerWizardComponent.employment.work.description" name="description"></salaxy-input>
        <salaxy-input-occupation-type name="occupationType" ng-model="$ctrl.current.employment.work.occupationCode" label="SALAXY.NG1.WorkerWizardComponent.employment.work.occupationCode"></salaxy-input-occupation-type>
        <salaxy-form-group label="SALAXY.NG1.WorkerWizardComponent.employment.group.title" name="contract">
          <salaxy-datepicker-popup name="startDate" label="SALAXY.NG1.WorkerWizardComponent.employment.group.startDate" ng-model="$ctrl.current.employment.startDate"></salaxy-datepicker-popup>
          <salaxy-datepicker-popup name="endDate" label="SALAXY.NG1.WorkerWizardComponent.employment.group.endDate" disabled="!$ctrl.current.employment.isFixedTerm && !$ctrl.current.employment.isTerminated" ng-model="$ctrl.current.employment.endDate"></salaxy-datepicker-popup>
          <div>
            <input type="checkbox" name="isFixedTerm" id="isFixedTerm" ng-value="true" ng-model="$ctrl.current.employment.isFixedTerm"> &nbsp;
            <label for="isFixedTerm" sxy-text="SALAXY.NG1.WorkerWizardComponent.employment.isFixedTerm"></label>
          </div>
          <div>
            <input type="checkbox" name="isTerminated" id="isTerminated" ng-value="true" ng-model="$ctrl.current.employment.isTerminated"> &nbsp;
            <label for="isTerminated" sxy-text="Työsuhde päättynyt"></label>
          </div>
        </salaxy-form-group>
      </div>
    </div>
    <div class="text-right" ng-if="!$ctrl.hideButtons">
      <button ng-click="$ctrl.save()" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
  </form>
</div>