<div class="salaxy-calc-worker-info">
  <div ng-if="$ctrl.status == 'initialLoading'">
    <div class="col-xs-3 col-sm-2 col-xxs-3 ">
      <salaxy-spinner></salaxy-spinner>
    </div>
    <div class="col-xs-9 col-sm-10 col-xxs-9 worker-info-col">
      <h2>Ladataan...</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 ">
          &nbsp;<br /> &nbsp;
          <br /> &nbsp;
        </div>
        <div class="col-xs-12 col-sm-6 ">
          &nbsp;<br />
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.status !== 'initialLoading'">
    <div class="col-xs-3 col-sm-2 col-xxs-3">
      <salaxy-avatar avatar="$ctrl.current.avatar"></salaxy-avatar>
    </div>
    <div class="col-xs-9 col-sm-10 col-xxs-9 worker-info-col">
      <salaxy-action-button label="SALAXY.NG1.WorkerDetailsComponent.newCalculation" action="'newCalcForWorker'"
        ng-if="!$ctrl.hideButtons" options="{'id': $ctrl.currentId }" button-class="btn-default pull-right-xs"></salaxy-action-button>
      <h2>{{ $ctrl.current.avatar.displayName || ("SALAXY.NG1.WorkerInfo.noSelection" | sxyTranslate) }}</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 ">
          <div ng-if="$ctrl.taxcardsController" ng-class="{'text-danger': $ctrl.taxcardsController.getTaxCardInfo().kind == 'undefined'}">{{ $ctrl.taxcardsController.getTaxCardInfo().text }}</div>
          <span ng-if="!$ctrl.current.ibanNumber" class="text-danger" sxy-text="SALAXY.NG1.WorkerInfo.noIbanNumber"></span>
          <span ng-if="$ctrl.current.ibanNumber">{{ $ctrl.current.ibanNumber | sxyIban }}</span>
          <br />
          <span>{{ $ctrl.getEmploymentDescription($ctrl.current) || "&nbsp;" }}</span>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <span ng-if="!$ctrl.current.officialPersonId" sxy-text="SALAXY.NG1.PaymentDialogComponent.noSSNumber" class="text-danger"></span>
          <span ng-if="$ctrl.current.officialPersonId">{{ $ctrl.current.officialPersonId }}</span>
          <br />
          <div>{{ $ctrl.current.contact.telephone }}</div>
          <div ng-if="$ctrl.current.contact.email">
            <a href="{{ 'mailto:' + $ctrl.current.contact.email }}">{{ $ctrl.current.contact.email }}</a>
          </div>
          <div ng-if="!$ctrl.current.contact.email">
            <span sxy-text="SALAXY.NG1.PaymentDialogComponent.noEmail"></span>
            <span class="text-warning" sxy-text="SALAXY.NG1.PaymentDialogComponent.noEmailInfo"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>