﻿<div class="salaxy-component salaxy-worker-details" ng-show="!$ctrl.current.isReadOnly">
  <form name="workerForm" ng-disabled="$ctrl.isDisabled" class="form-horizontal">
    <div class="row">
      <div class="col col-md-12 col-lg-6">
        <legend sxy-text="SALAXY.NG1.WorkerDetailsComponent.details"></legend>
        <salaxy-input name="firstName" label="SALAXY.NG1.WorkerDetailsComponent.firstName" ng-required="true" ng-model="$ctrl.current.avatar.firstName"></salaxy-input>
        <salaxy-input name="lastName" label="SALAXY.NG1.WorkerDetailsComponent.lastName" ng-required="true" ng-model="$ctrl.current.avatar.lastName"></salaxy-input>
        <salaxy-input name="email" label="SALAXY.NG1.WorkerDetailsComponent.email" sxy-email ng-model="$ctrl.current.contact.email"></salaxy-input>
        <salaxy-input name="telephone" label="SALAXY.NG1.WorkerDetailsComponent.tel" sxy-mobile-phone ng-model="$ctrl.current.contact.telephone"></salaxy-input>
        <div sxy-if-role="person">
          <legend sxy-text="SALAXY.NG1.WorkerWizardComponent.employment.group.legend"></legend>
          <salaxy-form-group label="SALAXY.NG1.WorkerWizardComponent.employment.group.title" name="contract">
            <salaxy-datepicker-popup name="startDate" label="SALAXY.NG1.WorkerWizardComponent.employment.group.startDate" ng-model="$ctrl.current.employment.startDate"></salaxy-datepicker-popup>
            <salaxy-datepicker-popup name="endDate" label="SALAXY.NG1.WorkerWizardComponent.employment.group.endDate" disabled="!$ctrl.current.employment.isFixedTerm && !$ctrl.current.employment.isTerminated" ng-model="$ctrl.current.employment.endDate"></salaxy-datepicker-popup>
            <div>
              <input type="checkbox" name="isFixedTerm" id="isFixedTerm" ng-value="true" ng-model="$ctrl.current.employment.isFixedTerm"> &nbsp;
              <label for="isFixedTerm" sxy-text="SALAXY.NG1.WorkerWizardComponent.employment.isFixedTerm"></label>
            </div>
            <div>
              <input type="checkbox" name="isTerminated" id="isTerminated" ng-value="true" ng-model="$ctrl.current.employment.isTerminated"> &nbsp;
              <label for="isTerminated" sxy-text="Työsuhde päättynyt"></label>
            </div>
          </salaxy-form-group>
        </div>
      </div>
      <div class="col col-md-12 col-lg-6">
        <legend sxy-text="SALAXY.NG1.WorkerDetailsComponent.paymentDetails"></legend>
        <salaxy-input name="officialPersonId" label="SALAXY.NG1.WorkerDetailsComponent.ssNumber" sxy-personal-id-fi ng-required="true" ng-model="$ctrl.current.officialPersonId" ng-change="$ctrl.isOtherIdentifier($viewvalue)"></salaxy-input>
        <salaxy-input name="ibanNumber" label="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" sxy-iban ng-model="$ctrl.current.ibanNumber"></salaxy-input>
        <legend sxy-text="SALAXY.NG1.WorkerDetailsComponent.address"></legend>
        <p ng-if="!$ctrl.isOtherIdentifier($ctrl.current.officialPersonId)" sxy-text="SALAXY.NG1.WorkerDetailsComponent.addressInfo"></p>
        <p ng-if="$ctrl.isOtherIdentifier($ctrl.current.officialPersonId)" sxy-text="Työntekijällä on keinohenkilötunnus, jonka ilmoittaminen tulorekisteriin edellyttää työntekijän osoitetietoja."></p>
        <salaxy-input name="street" label="SALAXY.NG1.WorkerDetailsComponent.street" ng-model="$ctrl.current.contact.street" ng-required="$ctrl.isOtherIdentifier($ctrl.current.officialPersonId)"></salaxy-input>
        <salaxy-input name="postalCode" label="SALAXY.NG1.WorkerDetailsComponent.postalCode" sxy-postal-code-fi ng-model="$ctrl.current.contact.postalCode" ng-required="$ctrl.isOtherIdentifier($ctrl.current.officialPersonId)"></salaxy-input>
        <salaxy-input name="city" label="SALAXY.NG1.WorkerDetailsComponent.city" ng-model="$ctrl.current.contact.city" ng-required="$ctrl.isOtherIdentifier($ctrl.current.officialPersonId)"></salaxy-input>

      </div>
    </div>
    <div ng-if="!$ctrl.hideButtons">
      <button ng-click="$ctrl.delete()" type="button" class="btn btn-danger" sxy-text="SALAXY.UI_TERMS.delete"></button>
      <button ng-click="$ctrl.save()" ng-disabled="workerForm.$invalid" class="btn btn-primary pull-right" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
  </form>
</div>
<div class="salaxy-component salaxy-worker-details" ng-show="$ctrl.current.isReadOnly">
  <div class="row">
    <div class="col col-md-12 col-lg-6">
      <div sxy-html="SALAXY.NG1.WorkerDetailsComponent.readOnlyUser.html"></div>
      <div class="table-responsive">
        <table>
          <tr>
            <td sxy-text="SALAXY.NG1.WorkerDetailsComponent.email" ps=":"></td>
            <td><a ng-href="mailto:{{ $ctrl.current.contact.email }}">{{ $ctrl.current.contact.email }}</a></td>
          </tr>
          <tr>
            <td sxy-text="SALAXY.NG1.WorkerDetailsComponent.tel" ps=":"></td>
            <td>{{ $ctrl.current.contact.telephone }}</td>
          </tr>
          <tr>
            <td sxy-text="SALAXY.NG1.WorkerDetailsComponent.ibanNumber" ps=":"></td>
            <td>{{ $ctrl.current.ibanNumber }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>