<div ng-controller="SessionController as sessionCtrl">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Tilin luonti</h2>
    <img src="https://cdn.salaxy.com/img/palkkaus/logo/palkkaus-www-logo-white-border.png" class="img-responsive hidden-xs modal-logo" />
  </div>
  <div class="modal-body salaxy-wizard">
    <div>
      <fieldset>
        <legend sxy-text="Mihin käytät Palkkaus.fi-palvelua?*"></legend>
        <div class="form-horizontal">
          <div class="radio" ng-repeat="accountType in ['company', 'worker']">
            <label ng-if="accountType == 'company'">
              <input type="radio" name="wizardType" ng-model="$ctrl.data.model.accountType" value="company" ng-disabled="sessionCtrl.session.hasCurrentAccount" /> Yrityksen tai
              yhdistyksen
              palkanmaksuun
            </label>

            <label ng-if="accountType == 'worker'">
              <input type="radio" name="wizardType" ng-model="$ctrl.data.model.accountType" value="worker" ng-disabled="sessionCtrl.session.hasCurrentAccount" /> Työntekijänä
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="$ctrl.data.launch($close)" ng-disabled="!$ctrl.data.model.accountType || $ctrl.data.model.accountType == 'none'" class="btn btn-primary">Aloita tilin
      luonti</button>
  </div>
</div>