﻿<div ng-init="model = true"></div>
<pre>The model's value is {{model | json}}</pre>

<salaxy-switch id="salaxyService" name="salaxyService" ng-model="model" disabled="false" on-text="on" off-text="off"></salaxy-switch>