<div>
  <h3>Asetukset</h3>
  <div>
    <ul>
      <li>Eri aineistotyypit, jos on</li>
      <li>Tiedostotyyppi (excel/csv), jos ei pystytä tunnistamaan</li>
      <li>CSV-optiot: kieli, pilkku/puolipiste jne.</li>
      <li>Mielellään niin, että muutokset näkyy suoraan alla</li>
    </ul>
  </div>
  <h3>Esikatselu taulukkona (max 1000 riviä)</h3>
  <div>
    Rivejä: {{ $ctrl.result.data.length }}, Sarakkeita: {{ $ctrl.result.headers.length }}, Tyhjiä rivejä: {{ $ctrl.result.ignoredLines }}, Virheitä: {{ $ctrl.result.errors.length }}
  </div>
  <div class="table-responsive" style="height: 400px">
    <table class="table">
      <thead>
        <tr>
          <th>Errors</th>
          <th ng-repeat="header in $ctrl.result.headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.result.data">
          <td>
            <button ng-if="row.error" uib-popover="{{ row.error_msg }}" popover-title="{{ row.error }}" type="button" class="btn btn-danger">{{ row.error }}</button>
          </td>
          <td ng-repeat="header in $ctrl.result.headers">{{ row[header] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>