<div>
  <div class="table-responsive" style="height: 400px">
    <h3>Alustava tietojen tarkistus</h3>
    <div class="alert alert-danger">
      Tiedoissa on virheitä, katso rivikohtaiset virheilmoitukset alla.
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Errors</th>
          <th ng-repeat="header in $ctrl.result.headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.result.data">
          <td>
            <button ng-if="row.error" uib-popover="{{ row.error_msg }}" popover-title="{{ row.error }}" type="button" class="btn btn-danger">{{ row.error }}</button>
          </td>
          <td ng-repeat="header in $ctrl.result.headers">{{ row[header] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>