<div>
  <button type="button" class="btn btn-primary pull-right" ng-disabled="!$ctrl.tsv" ng-click="$ctrl.goNext()">Asetukset (seuraava) &raquo;</button>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Liitä työpöydältä</button>
    <button type="button" class="btn btn-default">Lataa tiedosto...</button>
  </div>
  <textarea ng-model="$ctrl.tsv" style="width: 100%; height: 200px;" placeholder="Kopioi Excel-taulukko leikepöydältä (COPY-PASTE)"></textarea>
</div>