<div ng-controller="SessionController as sessionCtrl" class="worker-onboarding-wizard">
  <div ng-controller="WorkerOnboardingController as wizard">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title">Palkkamylly käyttöönotto</h2>
    </div>
    <div class="modal-body salaxy-wizard">
      <form name="contractForm">
        <span class="hidden">{{ wizard.formDataValidity = contractForm.$valid && !wizard.model.signature.personalId && !wizard.model.signature.method}}</span>
        <div ng-controller="SignatureController as sign">
          <h3>Palvelusopimus ja valtuutus</h3>
          <p>Rakennusliitto tarjoaa Palkkamylly-palvelun jäsenilleen ja heidän työnantajilleen.</p>
          <p>
            Jotta Palkkamylly voi hoitaa puolestasi palkanmaksuun liittyviä maksuja ja velvotteita, sinun täytyy allekirjoittaa <a ng-href="{{ wizard.getPdfPreviewAddress() }}" target="_blank">oheinen valtakirja</a>. Se pitää allekirjoittaa vain kerran.
          </p>
          <p>Kun olet kirjoittanut henkilötunnuksesi, valinnut pankkisi ja painat Tunnistaudu-nappia, siirryt pankkisi verkkopalveluun, jossa varsinainen tunnistautuminen tapahtuu. Sen jälkeen palaat Palkkamylly-palveluun ja olet valmis maksamaan palkkaa.</p>
          <p>
            <strong>HUOM:</strong> Palvelun teknisenä toteuttajana ja tietojen säilyttäjänä toimii <a href="https://www.palkkaus.fi" target="_blank">Palkkaus.fi</a> / Suomen Palkanlaskenta Oy. Jos sinulla on jo tili Palkkaus.fi-palvelussa ja otat Palkkamylly-palvelun
            käyttöön, aikaisemmat palkanmaksusi näkyvät myös Palkkamyllyn kautta. Myös Rakennusliiton asiakaspalvelu voi nähdä ne asiakaspalvelutilanteessa.
          </p>

          <div class="row form-horizontal" ng-init="ui.telephone = wizard.model.person.contact.telephone">
            <div class="" ng-init="wizard.model.signature.personalId = wizard.model.person.personalId" ng-class="{'col-sm-6': ui.telephone, 'col-sm-8': !ui.telephone}">
              <salaxy-input label="Tarkista henkilötunnuksesi" label-type="basic" name="personalId" placeholder="PPKKVV-NNNX" ng-model="wizard.model.signature.personalId" sxy-personal-id-fi ng-required="true"></salaxy-input>
            </div>
            <div ng-if="ui.telephone" class="col-sm-6">
              <salaxy-input label="Tarkista puhelinnumerosi" name="telephone" ng-model="wizard.model.person.contact.telephone" sxy-mobile-phone label-type="basic" ng-required="true"></salaxy-input>
            </div>
            <div ng-if="!ui.telephone" class="col-sm-4">
              <salaxy-input label="Puhelinnumero" name="telephone" ng-model="wizard.model.person.contact.telephone" sxy-mobile-phone label-type="basic" ng-required="true"></salaxy-input>
            </div>
          </div>

          <div class="row form-horizontal">
            <div class="col-sm-4">
              <salaxy-input label="Etunimi" name="firstName" ng-model="wizard.model.person.firstName" label-type="basic" readonly="true"></salaxy-input>
            </div>
            <div class="col-sm-4">
              <salaxy-input label="Sukunimi" name="lastName" ng-model="wizard.model.person.lastName" label-type="basic" readonly="true"></salaxy-input>
            </div>
            <div class="col-sm-4">
              <salaxy-input label="Sähköpostiosoite" name="email" ng-model="wizard.model.person.contact.email" label-type="basic" readonly="true"></salaxy-input>
            </div>
          </div>

          <div class="row spacer-bottom" ng-if="wizard.isOtherIdentifier(wizard.model.signature.personalId)">
            <div class="col-xs-12">
              <h5><strong>Osoite</strong></h5>
            </div>
            <salaxy-input ng-model="wizard.model.person.contact.street" placeholder="Katuosoite" name="street" class="col-sm-4" label-type="plain" ng-required="true"></salaxy-input>
            <salaxy-input ng-model="wizard.model.person.contact.postalCode" placeholder="Postinumero" name="postalCode" class="col-sm-4" label-type="plain" ng-required="true"></salaxy-input>
            <salaxy-input ng-model="wizard.model.person.contact.city" placeholder="Toimipaikka" name="city" class="col-sm-4" label-type="plain" ng-required="true"></salaxy-input>
          </div>

          <h4>
            Ja valitse verkkopankkisi
            <small>
                          <i class="fa fa-info-circle"
                              uib-popover="Kun olet valinnut pankkisi ja painat 'Tunnistaudu'- nappia, siirryt tekemään sähköisen allekirjoituksen verkkopankkitunnuksillasi. Tunnistautumisen jälkeen palaat Palkkaus.fi-palveluun."
                              popover-append-to-body="true" popover-placement="auto" popover-trigger="'mouseenter click'"></i>
                  </small>
          </h4>
          <div id="bankButtonRow" class="row">
            <label class="col-sm-2 col-xs-4 btn-bank" ng-model="wizard.model.signature.method" uib-btn-radio="signMethod.value" ng-repeat="signMethod in sign.methods" class="btn btn-default" aria-label="{{signMethod.name}}">
              <div class="btn-bank-inner"> <img ng-src="{{signMethod.img}}"/>
                    <span class="bank-title"> {{signMethod.title}}</span> 
                </div>
            </label>
          </div>
          <br/>
          <p>Tunnistautumalla hyväksyt <a href="https://www.palkkaus.fi/tietosuoja/" target="_blank">palvelun käyttöehdot</a>.</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div salaxy-loader class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <button ng-if="wizard.model.signature.personalId == null || wizard.model.signature.method == null" ng-disabled="true" class="btn btn-primary">Tunnistaudu</button>
      <a ng-if="!(wizard.model.signature.personalId == null || wizard.model.signature.method == null)" ng-href="{{wizard.vismaSignUrl}}" target="_top" class="btn btn-primary">Tunnistaudu</a>
    </div>
  </div>
</div>