<div>
  <div class="btn-group">
    <span class="btn">Filter by:</span>
    <div class="btn-group" uib-dropdown role="group">
      <button type="button" id="groups-button" class="btn btn-default" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        {{ $ctrl.filter.lib || "...lib" }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="groups-button">
        <li ng-if="$ctrl.filter.lib"><a ng-click="$ctrl.filter.lib = undefined">Show all libraries</a></li>
        <li><a ng-click="$ctrl.filter.lib = '@salaxy/ng1'">@salaxy/ng1</a></li>
        <li><a ng-click="$ctrl.filter.lib = '@salaxy/core'">@salaxy/core</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown role="group">
      <button type="button" id="groups-button" class="btn btn-default" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        {{ $ctrl.filter.kind || "...kind" }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="groups-button">
        <li ng-if="$ctrl.filter.kind"><a ng-click="$ctrl.filter.kind = undefined">Show all</a></li>
        <li><a ng-click="$ctrl.filter.kind = 'class'">Class</a></li>
        <li><a ng-click="$ctrl.filter.kind = 'interface'">Interface</a></li>
        <li><a ng-click="$ctrl.filter.kind = 'enum'">Enumeration</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">NG1 components</li>
        <li ng-class="{disabled : $ctrl.filter.lib && $ctrl.filter.lib != '@salaxy/ng1' }"><a ng-click="$ctrl.filter.kind = 'component'">Component</a></li>
        <li ng-class="{disabled : $ctrl.filter.lib && $ctrl.filter.lib != '@salaxy/ng1' }"><a ng-click="$ctrl.filter.kind = 'controller'">Controller</a></li>
        <li ng-class="{disabled : $ctrl.filter.lib && $ctrl.filter.lib != '@salaxy/ng1' }"><a ng-click="$ctrl.filter.kind = 'controllerBase'">Base controller</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown role="group">
      <button type="button" id="groups-button" class="btn btn-default" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
        {{ $ctrl.filter.group || "...group" }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="groups-button">
        <li ng-if="$ctrl.filter.group"><a ng-click="$ctrl.filter.group = undefined">Show all</a></li>
        <li ng-repeat="(key, value) in $ctrl.groups"><a ng-click="$ctrl.filter.group = key">{{ value }} ({{ key }})</a></li>
      </ul>
    </div>
  </div>
  <div class="btn-group sidebar-hide">
    <input class="form-control" placeholder="Search" ng-model="$ctrl.filter.name" />
  </div>
  <button type="button" class="btn btn-default sidebar-hide" ng-click="$ctrl.filter = {}">Clear all</button>
</div>