<main class="salaxy-content docs-components">
  <style>
     .docs-sidebar .sidebar-hide {
       display: none;
     }
  </style>
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div ng-if="!$ctrl.current">
        <h1>Classes and interfaces</h1>
        <p class="lead">
          All classes and interfaces.
        </p>
        <ng-include src="'/ng1/docs/classes-filters.html'"></ng-include>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Library</td>
              <th>Kind</td>
              <th>Group</td>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $ctrl.classes | filter : $ctrl.filter" ng-click="$ctrl.goto(item)" style="cursor: pointer;">
              <td>{{ item.name }}</td>
              <td>{{ item.lib }}</td>
              <td>{{ item.kind }}</td>
              <td>{{ item.group }}</td>
              <td>{{ item.shortText }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="$ctrl.current">
        <div style="margin-right: 400px;height: 84vh;overflow-y: auto;">
          <h1 class="page-header">{{ $ctrl.current.name }}</h1>
          <uib-tabset active="$ctrl.currentTab">
            <uib-tab index="'overview'" heading="Overview">
              <p class="lead">
                {{ $ctrl.current.shortText }}
              </p>
              <fieldset>
                <legend>General info</legend>
                <p>
                  The {{ $ctrl.current.kind == "controllerBase" ? "controller base class" : $ctrl.current.kind }} is part of {{ $ctrl.current.lib }} library, group {{ $ctrl.current.group }}.
                  <strong ng-if="$ctrl.current.kind == 'controllerBase'">Please note: This controller base class is not directly registered in AngularJS so you cannot use it directly in your views.</strong>
                  See <a ng-href="{{ $ctrl.getGitUrl($ctrl.current.source) }}" target="_blank">source code in GitLab</a>.
                </p>
                <div class="row">
                  <div class="col-sm-3" ng-if="$ctrl.current.extends.length > 0">
                    <h4>Extends</h4>
                    <div ng-repeat="item in $ctrl.current.extends" ng-bind-html="item | sxydevType"></div>
                  </div>
                  <div class="col-sm-3" ng-if="$ctrl.current.implements.length > 0">
                    <h4>Implements</h4>
                    <div ng-repeat="item in $ctrl.current.implements" ng-bind-html="item | sxydevType"></div>
                  </div>
                  <div class="col-sm-3" ng-if="$ctrl.current.extendedBy.length > 0">
                    <h4>Extended by</h4>
                    <div ng-repeat="item in $ctrl.current.extendedBy" ng-bind-html="item | sxydevType"></div>
                  </div>
                  <div class="col-sm-3" ng-if="$ctrl.current.implementedBy.length > 0">
                    <h4>Implemented by</h4>
                    <div ng-repeat="item in $ctrl.current.implementedBy" ng-bind-html="item | sxydevType"></div>
                  </div>
                </div>
              </fieldset>
              <ng-include src="'/ng1/docs/classes-members.html'"></ng-include>
            </uib-tab>
            <uib-tab index="'translations'" heading="Translations">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>Key</td>
                    <td>Finnish</td>
                    <td>English</td>
                    <td>Swedish</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in $ctrl.getTranslations()">
                    <td><span title="{{ key }}">{{value.key}}</span></td>
                    <td>{{value.fi}}</td>
                    <td>{{value.en}}</td>
                    <td>{{value.sv}}</td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>
            <uib-tab index="'form'" heading="Form UI">
              <div ng-if="$ctrl.current.name" class="container form-horizontal" ng-init="$ctrl.formDemoModel = {}">
                <sxy-form type="{{ $ctrl.current.name }}" model="$ctrl.formDemoModel" source="both" auto-gen="true"></sxy-form>
                <hr />
                <h3>Data preview:</h3>
                <salaxy-json-formatter open="1" json="$ctrl.formDemoModel"></salaxy-json-formatter>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
        <div style="position:fixed; top: 100px; right: 0; bottom: 10px; width: 400px; overflow-y: scroll;">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="docs-sidebar">
                  <ng-include src="'/ng1/docs/classes-filters.html'"></ng-include>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.classes | filter : $ctrl.filter" ng-click="$ctrl.goto(item)" style="cursor: pointer;"
                ng-class="{ 'active': item.name == $ctrl.current.name }">
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>