<fieldset>
  <legend>Properties</legend>
  <ul>
    <li ng-repeat="prop in $ctrl.current.members | filter:{grouping:'Property'}:true">
      <strong>{{ prop.name }}</strong>: <span ng-bind-html="prop.type | sxydevType"></span>
      <span ng-bind-html="prop.descr | sxydevMarkdown"></span>
      <div ng-if="prop.example" ng-bind-html="prop.example | sxyMarkdown"></div>
    </li>
  </ul>
</fieldset>
<fieldset>
  <legend>Methods</legend>
  <ul>
    <li ng-repeat="prop in $ctrl.current.members | filter:{grouping:'Method'}:true">
      <strong>
        {{ prop.name }}(<span ng-repeat="param in prop.parameters">{{ param.name }}<span ng-if="!$last">, </span></span>)
      </strong>: <span ng-bind-html="prop.type | sxydevType"></span>
      <span ng-bind-html="prop.descr | sxydevMarkdown"></span>
      <div ng-if="prop.example" ng-bind-html="prop.example | sxyMarkdown"></div>
      <ul>
        <li ng-repeat="param in prop.parameters">
          <strong>{{ param.name }}</strong>: <span ng-bind-html="param.type | sxydevType"></span>
          <span ng-bind-html="param.descr | sxydevMarkdown"></span>
          <div ng-if="param.example" ng-bind-html="param.example | sxyMarkdown"></div>
        </li>
      </ul>
    </li>
  </ul>
</fieldset>
<fieldset>
  <legend>Other</legend>
  <ul>
    <li ng-repeat="prop in $ctrl.current.members | filter:{grouping:'Other'}:true">
      {{ prop.kind }}
      <strong>{{ prop.name }}</strong>: <span ng-bind-html="prop.type | sxydevType"></span>
      {{ prop.shortText }}
      <div ng-if="prop.example" ng-bind-html="prop.example | sxyMarkdown"></div>
    </li>
  </ul>
</fieldset>
<fieldset ng-if="$ctrl.current.example">
  <legend>Example</legend>
  <div ng-bind-html="$ctrl.current.example | sxyMarkdown"></div>
</fieldset>