<main class="salaxy-content docs-components">
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div ng-if="!$ctrl.current">
        <div ng-if="!$ctrl.filter.group">
          <h1 class="page-header">{{ $ctrl.components.length }} Open Source Components</h1>
          <p class="lead">
            Components are the main building blocks of our Salaxy user interface.
            They allow freely customizable usecase-specific user interfaces to our customers.
            You might be surprised to learn that
            <strong>our components are open source, well documented and availble for free
            for all customers that use Salaxy API / Palkkaus.fi!</strong>
          </p>
          <div><img src="/ng1/img/docs/components.png" class="img-thumbnail img-responsive" /></div>
          <div>&nbsp;</div>
          <p class="lead">
            The components are grouped as categories.
            They can be easily browsed here.
          </p>
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Category Id</th>
                <th class="right">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="group in $ctrl.componentGroups">
                <td><a ng-href="{{ group.ui.url }}">{{ group.text }}</a></td>
                <td>{{ group.value }}</td>
                <td class="right">{{ group.ui.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="$ctrl.filter.group">
          <h1 class="page-header" ng-controller="NaviController as navi">Components: {{ navi.title }}</h1>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th colspan="2">Component</th>
                <th>Group</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="comp in $ctrl.components | filter : $ctrl.filter" ng-click="$ctrl.goto(comp)" style="cursor: pointer;">
                <td style="text-align: center;">
                  <img ng-if="comp.screenShots.length > 0" ng-src="{{ comp.screenShots[0] }}" class="sxydev-screenshot sxydev-screenshot-table img-thumbnail" />
                </td>
                <td>
                  {{ comp.name }}<br />
                  <small><code style="white-space: nowrap;">{{ comp.elem }}</code></small>
                </td>
                <td>{{ comp.group }}</td>
                <td>{{ comp.shortText }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="$ctrl.current">
        <div style="margin-right: 300px;">
          <h1 class="page-header">{{ $ctrl.current.name }} <small><code style="white-space: nowrap;">{{ $ctrl.current.elem }}</code></small></h1>
          <uib-tabset active="$ctrl.currentTab">
            <uib-tab index="'overview'" heading="Overview">
              <img ng-if="$ctrl.current.screenShots.length > 0" ng-src="{{ $ctrl.current.screenShots[0] }}"
                class="sxydev-screenshot sxydev-screenshot-main pull-right img-thumbnail" />
              <p class="lead">
                <span ng-bind-html="$ctrl.current.descr | sxydevMarkdown"></span>
              </p>
              <div>
                <fieldset>
                  <legend>General info</legend>
                  <p>
                    Group: <strong>{{ $ctrl.current.group }}</strong>. See <a ng-href="{{ $ctrl.getGitUrl($ctrl.current.source) }}" target="_blank">source code in GitLab</a>.
                    Uses <strong><a ng-href="#/docs/controllers//{{ $ctrl.current.controller }}">{{ $ctrl.current.controller }}</a></strong> for logic.
                  </p>
                </fieldset>
                <fieldset>
                  <legend>Attributes</legend>
                  <ul>
                    <li ng-repeat="attr in $ctrl.current.attributes">
                      <code>{{ attr.attr }}</code> (
                      <span ng-bind-html="(attr.type | sxydevType) || '-'"></span>
                      <span ng-switch="attr.binding">
                        <span ng-switch-when="&lt;">, expression)</span>
                        <span ng-switch-when="@">, text value)</span>
                        <span ng-switch-when="=">, two-way bindining)</span>
                        <span ng-switch-when="&">, Event: see controller for details)</span>
                        <span ng-switch-default>
                          , Unknown binding: {{ attr.binding }})
                        </span>
                      </span>
                      <span ng-bind-html="attr.descr | sxydevMarkdown"></span>
                      <div ng-if="attr.example" ng-bind-html="attr.example | sxyMarkdown"></div>
                    </li>
                    <li>
                      <code>template-url</code>
                      <span>(string, text value)</span>
                      <p>
                        Specify a custom template / view. See <a ng-href="{{ $ctrl.getTemplateUrl() }}" target="_blank">default template in Git</a> to get started.
                      </p>
                    </li>
                  </ul>
                </fieldset>
                <fieldset ng-if="$ctrl.current.require">
                  <legend>Requires</legend>
                  <p>
                    The component communicates with the following other controllers, typically directives or parent components.
                  </p>
                  <ul>
                    <li ng-repeat="(key, value) in $ctrl.current.require">
                      {{ value.isOptional ? "Optional" : "Required" }}:
                      <code>{{value.elem}}</code> {{ value.shortText }}
                    </li>
                  </ul>
                </fieldset>
                <fieldset ng-if="$ctrl.current.transclude">
                  <legend>Inner elements (transclude)</legend>
                  <div ng-if="$ctrl.current.transclude == 'single'">
                    The components inner HTML is rendered inside the component
                    <small>(transclude=true)</small>. See example for details.
                  </div>
                  <div ng-if="$ctrl.current.transclude != 'single'">
                    <p>
                      The component may have the following inner elements <small>(transclude slots)</small>. See example for details.
                    </p>
                    <ul>
                      <li ng-repeat="(key, value) in $ctrl.current.transclude">
                        {{ value.isOptional ? "Optional" : "Required" }}:
                        <code>&lt;{{value.elem}}&gt;&lt;/{{value.elem}}&gt;</code>
                      </li>
                    </ul>
                  </div>
                </fieldset>
              </div>
            </uib-tab>
            <uib-tab index="'translations'" heading="Translations">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>Key</td>
                    <td>Finnish</td>
                    <td>English</td>
                    <td>Swedish</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in $ctrl.getTranslations()">
                    <td><span title="{{ key }}">{{value.key}}</span></td>
                    <td>{{value.fi}}</td>
                    <td>{{value.en}}</td>
                    <td>{{value.sv}}</td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>
            <uib-tab index="'examples'" heading="Examples">
              <fieldset ng-if="$ctrl.current.example">
                <legend>Simple example (how to use)</legend>
                <div ng-bind-html="$ctrl.current.example | sxyMarkdown"></div>
              </fieldset>
              <div ng-if="$ctrl.currentTab == 'examples'">
                <a ng-href="#/docs/example/{{$ctrl.filter.group}}/{{$ctrl.currentName}}" target="_blank" class="btn btn-primary pull-right">Open in a new tab</a>
                <h3>Live examples</h3>
                <div ng-repeat="url in $ctrl.current.exampleUrls">
                  <sxydev-include src="url">
                    <div class="alert alert-danger">404: Example page <code>{{ url }}</code> not found. </div>
                  </sxydev-include>
                  <hr />
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
        <div style="position:fixed; top: 100px; right: 0; bottom: 10px; width: 300px; overflow-y: scroll;">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>
                  Components in group: {{ $ctrl.filter.group }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="comp in $ctrl.components | filter: $ctrl.filter" ng-click="$ctrl.goto(comp)" style="cursor: pointer;"
                ng-class="{ 'active': comp.name == $ctrl.current.name }">
                <td>
                  {{ comp.name }}<br />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>