<main class="salaxy-content docs-components">
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div ng-if="!$ctrl.current">
        <div ng-if="!$ctrl.filter.group">
          <h1 class="page-header">Controllers overview</h1>
          <p class="lead">
            Controllers provide the actual user interface logic to components.
            They may also be used directly without components from individual pages.
          </p>
          <p>
            You can use existing controllers directly or customize the functionality in the following ways:
          </p>
          <ul>
            <li>Create a <strong>custom page</strong> that uses an existing controller</li>
            <li>Create a <strong>custom component</strong> that uses existing controller, but a custom view.</li>
            <li>Take an existing controller as <strong>base class and override</strong> some functionality (functions, properites, fields).</li>
            <li>Inject the modified controller back to the web application to <strong>replace a specific functionality</strong> so that you do not need to customize other parts of
              the app (view, component, pages)</li>
          </ul>
          <p>
            Modifying controllers requires prior understanding of AngularJS.
            You can also contact us: We can help you in your custom UI needs.
          </p>
          <p class="lead">
            Browse the controllers documentation on the left
            or see the source code in <a href="https://gitlab.com/salaxy/salaxy-lib-ng1/-/tree/master/src/ts/controllers" target="_blank">in GitLab</a>.
            Browsing source code is easiest done by downloading the entire project and then reading it in advanced editor like VisualStudio Code.
          </p>
        </div>
        <div ng-if="$ctrl.filter.group">
          <h1 class="page-header" ng-controller="NaviController as navi">Controllers: {{ navi.title }}</h1>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Controller</th>
                <th>Reg.</td>
                <th>Group</td>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ctrl in $ctrl.classes | filter : $ctrl.filter" ng-click="$ctrl.goto(ctrl)" style="cursor: pointer;">
                <td>{{ ctrl.name }}</td>
                <td>{{ ctrl.kind == "controller" }}</td>
                <td>{{ ctrl.group }}</td>
                <td>{{ ctrl.shortText }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="$ctrl.current">
        <div style="margin-right: 400px;height: 84vh;overflow-y: auto;">
          <h1 class="page-header">{{ $ctrl.current.name }}</h1>
          <p class="lead">
            {{ $ctrl.current.shortText }}
          </p>
          <fieldset>
            <legend>General info</legend>
            <p>
              The {{ $ctrl.current.kind == "controllerBase" ? "controller base class" : $ctrl.current.kind }} is in {{ $ctrl.current.group }} group.
              <strong ng-if="$ctrl.current.kind == 'controllerBase'">Please note: This controller base class is not directly registered in AngularJS so you cannot use it directly
                in your views.</strong>
              See <a ng-href="{{ $ctrl.getGitUrl($ctrl.current.source) }}" target="_blank">source code in GitLab</a>.
            </p>
            <div class="row">
              <div class="col-sm-3" ng-if="$ctrl.current.usages.length > 0">
                <h4>Components</h4>
                <div ng-repeat="item in $ctrl.current.usages">
                  <a ng-href="#/docs/components//{{item}}">{{item}}</a>
                </div>
              </div>
              <div class="col-sm-3" ng-if="$ctrl.current.extends.length > 0">
                <h4>Extends</h4>
                <div ng-repeat="item in $ctrl.current.extends" ng-bind-html="item | sxydevType"></div>
              </div>
              <div class="col-sm-3" ng-if="$ctrl.current.implements.length > 0">
                <h4>Implements</h4>
                <div ng-repeat="item in $ctrl.current.implements" ng-bind-html="item | sxydevType"></div>
              </div>
              <div class="col-sm-3" ng-if="$ctrl.current.extendedBy.length > 0">
                <h4>Extended by</h4>
                <div ng-repeat="item in $ctrl.current.extendedBy" ng-bind-html="item | sxydevType"></div>
              </div>
              <div class="col-sm-3" ng-if="$ctrl.current.implementedBy.length > 0">
                <h4>Implemented by</h4>
                <div ng-repeat="item in $ctrl.current.implementedBy" ng-bind-html="item | sxydevType"></div>
              </div>
            </div>
          </fieldset>
          <ng-include src="'/ng1/docs/classes-members.html'"></ng-include>
        </div>
        <div style="position:fixed; top: 100px; right: 0; bottom: 10px; width: 400px; overflow-y: scroll;">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="docs-sidebar">
                  Components in group: {{ $ctrl.filter.group }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.classes | filter : $ctrl.filter" ng-click="$ctrl.goto(item)" style="cursor: pointer;"
                ng-class="{ 'active': item.name == $ctrl.current.name }">
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>