<main class="salaxy-content docs-components">
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div>
        <h1>Directives</h1>
        <p class="lead">Form validators and other directives.</p>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Directives</th>
              <th>Implementation</td>
              <th>Description and example</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="directive in $ctrl.directives">
              <td>
                {{ directive.name }}<br />
                <small><code style="white-space: nowrap;">{{ directive.directiveName }}</code></small>
              </td>
              <td><a ng-href="{{ $ctrl.getGitUrl(directive.source) }}" target="_blank">See in GitLab</a> </td>
              <td>
                <div ng-bind-html="directive.descr | sxydevMarkdown"></div>
                <fieldset ng-if="directive.example">
                  <legend>Example</legend>
                  <div ng-bind-html="directive.example | sxydevMarkdown"></code></div>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>