<main class="salaxy-content docs-components">
  <style>
     .docs-sidebar .sidebar-hide {
       display: none;
     }
  </style>
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div ng-if="!$ctrl.current">
        <h1>Enumerations</h1>
        <p class="lead">Enumerations in Core- and NG1-libraries.</p>
        <div class="btn-group">
          <span class="btn">Filter by search string:</span>
          <div class="btn-group sidebar-hide">
            <input class="form-control" placeholder="Search" ng-model="$ctrl.filter.name" />
          </div>
        </div>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Library</td>
              <th>Kind</td>
              <th>Group</td>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $ctrl.enums | filter : $ctrl.filter" ng-click="$ctrl.goto(item)" style="cursor: pointer;">
              <td>{{ item.name }}</td>
              <td>{{ item.lib }}</td>
              <td>{{ item.kind }}</td>
              <td>{{ item.group }}</td>
              <td>{{ item.shortText }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="$ctrl.current">
        <div style="margin-right: 400px;height: 84vh;overflow-y: auto;">
          <h1 class="page-header">{{ $ctrl.current.name }}</h1>
          <p class="lead">
            {{ $ctrl.current.shortText }}
          </p>
          <fieldset>
            <legend>General info</legend>
            <p>
              The {{ $ctrl.current.kind == "controllerBase" ? "controller base class" : $ctrl.current.kind }} is part of {{ $ctrl.current.lib }} library, group {{ $ctrl.current.group }}.
              <strong ng-if="$ctrl.current.kind == 'controllerBase'">Please note: This controller base class is not directly registered in AngularJS so you cannot use it directly in your views.</strong>
              See <a ng-href="{{ $ctrl.getGitUrl($ctrl.current.source) }}" target="_blank">source code in GitLab</a>
              or <a ng-href="#/docs/{{ $ctrl.current.lib }}/classes/{{ $ctrl.current.name }}">full reference docs</a>.
            </p>
          </fieldset>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Nimi</th>
                <th>Arvo</th>
                <th>Label (fi)</th>
                <th>Description (fi)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="name in $ctrl.current.names">
                <td>{{ name }}</td>
                <td>{{ $ctrl.current.values[$index] }}</td>
                <td>{{ $ctrl.current.name + "." + name | sxyEnum }}</td>
                <td>{{ $ctrl.current.name + "." + name | sxyEnumDescr }}</td>
              </tr>
            </tbody>
          </table>
          <fieldset ng-if="$ctrl.current.example">
            <legend>Example</legend>
            <div ng-bind-html="$ctrl.current.example | sxyMarkdown"></div>
          </fieldset>
        </div>
        <div style="position:fixed; top: 100px; right: 0; bottom: 10px; width: 400px; overflow-y: scroll;">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="docs-sidebar">
                  Enumerations in {{ $ctrl.filter.lib }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.enums | filter : $ctrl.filter" ng-click="$ctrl.goto(item)" style="cursor: pointer;"
                ng-class="{ 'active': item.name == $ctrl.current.name }">
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>