<main class="salaxy-content docs-components">
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div ng-if="!$ctrl.current">
        <h1 class="page-header">Code examples</h1>
        <p class="lead">ERR: No group / component / example specified</p>
      </div>
      <div ng-if="$ctrl.current" ng-class="{ 'container': !$ctrl.isFullWidth, 'container-fluid': $ctrl.isFullWidth}">
        <button ng-href="#/docs/example/{{$ctrl.filter.group}}/{{$ctrl.currentName}}" target="_blank"
          class="btn btn-primary pull-right" ng-click="$ctrl.isFullWidth = !$ctrl.isFullWidth">Toggle full width</button>
        <h1 class="page-header">Examples: {{ $ctrl.current.name }} <small><code style="white-space: nowrap;">{{ $ctrl.current.elem }}</code></small></h1>
        <div ng-repeat="url in $ctrl.current.exampleUrls">
          <sxydev-include src="url">
            <div class="alert alert-danger">404: Example page <code>{{ url }}</code> not found. </div>
          </sxydev-include>
          <hr />
        </div>
      </div>
    </div>
  </section>
</main>