<main class="salaxy-content docs-components">
  <section>
    <div ng-controller="DocsComponentsController as $ctrl">
      <div>
        <h1>Filters</h1>
        <p class="lead">Filters implement Salaxy-specific formatting in views.</p>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Filter</th>
              <th>Implementation</td>
              <th>Description and example</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ngFilter in $ctrl.filters">
              <td>{{ ngFilter.name }}</td>
              <td><a ng-href="{{ $ctrl.getGitUrl(ngFilter.source) }}" target="_blank">See in GitLab</a> </td>
              <td>
                <div ng-bind-html="ngFilter.descr | sxydevMarkdown"></div>
                <fieldset ng-if="ngFilter.example">
                  <legend>Example</legend>
                  <div ng-bind-html="ngFilter.example | sxydevMarkdown"></code></div>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>