﻿<h1 class="page-header">Angular JS library (@salaxy/ng1)</h1>
<p class="lead">
  Lorem ipsum dolor sit amet.
</p>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-ng1.png" class="img-responsive img-thumbnail" />
</div>