<h1 class="page-header">Filters and Directives</h1>
<p class="lead">
  Filters and Directives are used in AngularJS views directly for example for... 
</p>
<ul>
  <li><a href="#/demos/translations">Translations and texts</a></li>
  <li>Formatting of form input</li>
  <li>Formatting of textual or non-textual (numers, dates, date ranges) input to human-readable, culture-specific format</li>
  <li>Resticting the content in different roles (company, person, pro, anon, auth).</li>
</ul>
