<h1 class="page-header">Services overview</h1>
<p class="lead">
  Main functionality of services is to provide state to the application in situations
  where the state of a controller / page is not enough.
</p>
<p>
  Some services also provide functionality that is specific to AngularJS as a platform.
  Our generic functionality is provided by our @salaxy/core library so that it can be 
  used from any platform / framework. Sometimes that functionality is also wrapped in
  AngularJS services for convenience.
</p>
<p>The most importatn services are:</p>
<ul>
  <li>
    <a href="#/docs/classes/services/SessionService">SessionService</a>:
    Helps in managing the login process and provides information of the current session
  </li>
  <li>
    <a href="#/docs/classes/services/UiHelpers">UiHelpers</a>:
    Provides misc. user interface helper methods that are related to AngularJS. Please note that these methods do NOT connect to API (load/save) to separate UI logic from business logic: The business logic is in separate UiCrudHelpers class.
  </li>
  <li>
    <a href="#/docs/classes/services/UiCrudHelpers">UiCrudHelpers</a>:
    Extends UiHelpers methods with business logic (typically save, load etc.)
  </li>
  <li>
    <a href="#/docs/classes/services/InvoicesService">InvoicesService</a>:
    Implements the user interface logic for new Invoices: Salary and side-cost payments.
  </li>
  <li>
    <a href="#/docs/classes/services/JsonSchemaService">JsonSchemaService</a>:
    Service for caching JSON schemas and creating user interfaces based on them.
  </li>
  <li>
    <a href="#/docs/classes/services/NaviService">NaviService</a>:
    Helper service to generate navigation controls: Top- and side-menus, paths and controls that show the current title.
    These controls take the navigation logic from an object (sitemap) and are aware of current node / open page on that sitemap.<br />
    NOTE: This is just an optional helper to make creating simple demo sites easier.
    There is no need to use NaviService, NaviController or components in your custom site!
    You can use something completely different.
  </li>
  <li>
    <a href="#/docs/classes/services/Ng1Translations">Ng1Translations</a>:
    Translations in AngularJS compatible way
  </li>
  <li>
    <a href="#/docs/classes/services/SettingsService">SettingsService</a>:
    Provides singleton for the full editable settings object: Mainly for editing, but may also be used by other parts that require access to settings. 
  </li>
</ul>