<main class="salaxy-content sxytpl-calculations-all-list">
  <section>
    <salaxy-action-button action="'newCalc'" label="SALAXY.NG1.ActionButtonComponent.newCalculation"></salaxy-action-button>
    <salaxy-calc-list category="all"></salaxy-calc-list>
  </section>
</main>