<main class="salaxy-content sxytpl-calculations-paid-list">
  <section>
    <salaxy-action-button action="'newCalc'" label="SALAXY.NG1.ActionButtonComponent.newCalculation"></salaxy-action-button>
    <salaxy-calc-list category="paid"></salaxy-calc-list>
  </section>
</main>