<main class="salaxy-content sxytpl-calc-payment">
  <section>
    <div class="container" ng-controller="CalculationCrudController as $calc" ng-init="$calc.model='url'">
      <salaxy-invoices-create ng-if="$calc.current" model="$calc.current"></salaxy-invoices-create>
    </div>
  </section>
</main>
