﻿<h1 class="page-header">Calculation CRUD operations</h1>
<p class="lead">A simple example of how to call Calculations CRUD operations. All of these methdos requires an authenticated user.</p>
<p>Methods are documented in <a href="https://test-api.salaxy.com/swagger/ui/index#!/Calculations">Calculations</a> section.</p>

<ul>
    <li><strong>Create:</strong> Create a new Calculation</li>
    <li><strong>Get:</strong> Get all Calculations that the current user can access</li>
    <li><strong>Delete:</strong> Delete an existing Calculation</li>
    <li><strong>Reports:</strong> Reports of an existing Calculation</li>
    <li><strong>Get and update:</strong> Gets an existing Calculation and updates it</li>
</ul>

<script type="text/javascript" src="/app/views/js/create-calc/script.js"></script>
<link rel="stylesheet" type="text/css" href="/app/views/js/create-calc/styles.css" />
<salaxy-demo title="Create a new Calculation" folder="/js/create-calc" has-js="true" has-css="true">
    <p>
        lorem lipsum <a href="/swagger/ui/index#!/CalculatorHelper/CalculatorHelper_Salary">/api/calculator/salary</a>.
        The resulting object is a <a href="/docs/todo">Calculation object</a> as json which contains all the necessary data for visualizing a salary calculation.
    </p>
</salaxy-demo>

<script type="text/javascript" src="/app/views/js/get-all-calcs/script.js"></script>

<salaxy-demo title="Get all calculations" folder="/js/get-all-calcs" has-js="true" has-css="false">
    <p>Get all the calculations that an authenticated user can access</p>
</salaxy-demo>



<script type="text/javascript" src="/app/views/js/delete-calc/script.js"></script>
<salaxy-demo title="Delete a calculation" folder="/js/delete-calc" has-js="true" has-css="false">

</salaxy-demo>


<script type="text/javascript" src="/app/views/js/report-calc/script.js"></script>
<link rel="stylesheet" type="text/css" href="/app/views/js/report-calc/styles.css" />
<salaxy-demo title="Report for an existing calculation" folder="/js/report-calc" has-js="true" has-css="true">

</salaxy-demo>

<script type="text/javascript" src="/app/views/js/update-calc/script.js"></script>
<salaxy-demo title="Get and update a calculation" folder="/js/update-calc" has-js="true" has-css="false">
    <p>TODO: write intro that explains clicking the button will add 10 to the amount (hours, units) of the salary and return the updated calculation</p>
</salaxy-demo>


<h1>Calculation rows</h1>
<p><strong>TODO:</strong> General description of rows structure. Especially row types and the result rows that come from TES-parameters or are manually added.</p>

<script type="text/javascript" src="/app/views/js/add-rows/script.js"></script>

<salaxy-demo title="Simple jQuery add rows" folder="/js/add-rows" has-js="true" has-css="false">
    <p>Demonstrates how to set the rows directly to calculation object: You an set the rows array directly and thus separate Add/Delete actions are not necessary.</p>

    <p>Fetches an empty calculation object and then sets:</p>

    <ol>
        <li>Salary: input or 100&euro;</li>
        <li>An expenses row: input or 30&euro;</li>
        <li>Phone benefit according to Finnish taxation instructions 20&euro;/month</li>
    </ol>

    <p>TODO: Modify the table so that each row is visible, not just the totals</p>
</salaxy-demo>

<script type="text/javascript" src="/app/views/js/add-delete-rows/script.js"></script>
<link rel="stylesheet" type="text/css" href="/app/views/js/add-delete-rows/styles.css" />
<salaxy-demo title="Simple jQuery add and delete rows" folder="/js/add-delete-rows" has-js="true" has-css="true">
    <p>Alternatively, you may Add / Delete rows using dedicated API-methods <a href="https://developers.salaxy.com/docs/swagger/dist/#!/Calculator/Calculator_AddRow">AddRow</a>
    and <a href="https://developers.salaxy.com/docs/swagger/dist/#!/Calculator/Calculator_DeleteRow">DeleteRow</a>.</p>
</salaxy-demo>


<h1>Setting a worker to the calculation</h1>

<script type="text/javascript" src="/app/views/js/select-user/script.js"></script>

<salaxy-demo title="Setting a worker" folder="/js/select-user" has-js="true" has-css="false">
    <p>

    </p>
</salaxy-demo>
