<h1 class="page-header">Your App, You choose the JS-stack</h1>
<p class="lead">
    We have a very extensive user interface stack for Angular 1.5 and 2 so if you are starting site development from scratch we suggest you
    <a href="#/ng1/index">take a look</a>. However, using Angular is in no way necessary: We have
    <a href="#/docs/core/module/salaxy.api">client libraries in plain JavaScript</a> and of course, at the end, you could always connect to our
    <a href="#/reference">REST / JSON API directly</a>.
</p>
<p class="lead">
    This section contains basic examples of how to use our API from jQuery as well as our plain JavaScript API reference. If you have a project in mind with a specific framework (especially <strong>ReactJS</strong>), please <a href="mailto:contact@salaxy.com">contact us</a>:
    we might be able to give you an extra hand!
</p>
<div style="max-width: 750px">
    <img src="https://cdn.salaxy.com/ng1/img/architecture-js.png" class="img-responsive img-thumbnail" />
</div>
<h2>Getting started</h2>
<p>
    The easiest way to get started with the API is to link the settings and libraries directly from our server
</p>
<div class="source">
    <pre><code>
        &lt;!-- jQuery --&gt;
    &lt;script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
    crossorigin="anonymous"&gt;&lt;/script&gt;

&lt;!-- Add reference to Salaxy libraries --&gt;
&lt;script src="https://developers.salaxy.com/dist/v03-rc/js/salaxy-lib-core-all.js" type="text/javascript"&gt;&lt;/script&gt;

</code></pre></div>

<p>
    Full functional sample page <a href="/core/getting-started-js.html" target="_blank">can be found here</a>.
</p>

<p>
    With this setup in your HTML file, you can
    <a href="#/js/samples">start exploring our jQuery samples.</a>
</p>