<h1 class="page-header">Simple Salary calculator</h1>
<p class="lead">
    Note: before starting, see our <a href="#/js/index">getting started section here</a>.
</p>
<p class="lead">
    A simple salary calculation can be done by setting the properties of the <strong>Salary</strong>-object:
</p>
<ul>
    <li>
        <strong>Kind:</strong> Type of the salary being calculated. This can be of following values:
        <ul>
            <li><strong>Undefined:</strong> The type of the salary is not defined. Typically this will behave the same way as
                Fixed salary.</li>
            <li><strong>FixedSalary:</strong> A fixed salary for an agreed job</li>
            <li><strong>HourlySalary:</strong> Hourly salary</li>
            <li><strong>MonthlySalary:</strong> Monthly salary</li>
            <li>
                <strong>TotalWorkerPayment:</strong> Total payment from the worker point-of-view. The gross salary is changed
                so that the end net payment to the worker is as close as possible to the given sum. Note that the salary
                will then be FixedSalary - the total payment is not recalculated as other parameters change.
            </li>
            <li>
                <strong>TotalEmployerPayment:</strong> Total expense to the employer. The gross salary is changed so that
                the total payment to the employer is as close as possible to the given sum. Note that the salary will then
                be FixedSalary - the total payment is not recalculated as other parameters change.
            </li>
            <li>This enumeration will grow in the future.</li>
        </ul>
    </li>
    <li><strong>Amount:</strong> Amount of e.g. hours, months for the salary. Default is 1.</li>
    <li><strong>Price:</strong> Price of one unit - e.g. hour, month.</li>
    <li><strong>Unit:</strong> E.g. hour, month. Typically this parameter can be left empty/null and the unit is set according
        to type.</li>
    <li><strong>Message:</strong> Optional message for the salary row that is shown in reports. If null, will be set according
        to type.</li>
    <li><strong>IsHouseholdDeductible:</strong> If set to true, will calculate the household deduction. Apllies only to natural
        persons - as oppsed to companies.</li>
</ul>
<p>The calculation can be executed in a couple of ways...</p>
<p class="codepen" data-height="339" data-theme-id="dark" data-default-tab="result" data-user="olli_palkkaus" data-slug-hash="bGeQzYJ" style="height: 339px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="ES6 Vanilla JavaScript minimal sample">
  <span>See the Pen <a href="https://codepen.io/olli_palkkaus/pen/bGeQzYJ">
  ES6 Vanilla JavaScript minimal sample</a> by Olli (Palkkaus) (<a href="https://codepen.io/olli_palkkaus">@olli_palkkaus</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

<hr />

<iframe src="https://stackblitz.com/edit/salaxy-ts-minimal?embed=1&file=index.ts" 
  style="width: 100%; height: 480px"></iframe>

<hr />

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
<script type="text/javascript" src="/app/views/js/simple/script.js"></script>
<link rel="stylesheet" type="text/css" href="/app/views/js/simple/styles.css" />
<salaxy-demo title="Simple Salary calculator" folder="/js/simple" has-js="true" has-css="true">
    <p>
        This method involves simply making a POST call to /api/calculator/salary. The resulting object is a Calculation object as
        json which contains all the necessary data for visualizing a salary calculation.
    </p>
</salaxy-demo>
<script type="text/javascript" src="/app/views/js/calc-obj/script.js"></script>
<salaxy-demo title="Using the raw calculation object" folder="/js/calc-obj" has-js="true" has-css="false">
    <p>
        The second pattern is using the full Calculation object instead of
        <a href="#">/api/calculator/salary</a>-shortcut. This
        involves the following steps:
    </p>
    <ul>
        <li>
            Use <a href="#">/api/calculator/new</a>-factory
            method to construct a valid calculation object. Note that this is a GET method.
        </li>
        <li>Modify the object as you wish - in this case by modifying the salary-properties.</li>
        <li>
            Use <a href="#">/api/calculator/recalculate</a>-method
            to recalculate the object - this will return a new Calculation object.
        </li>
    </ul>
</salaxy-demo>



