<main class="salaxy-content sxytpl-messages-details">
  <section>
    <salaxy-assure-partner>
      <main>
        <div class="row">
          <div class="col-xs-12">
            <div ng-controller="MessageThreadCrudController as $msg" ng-init="$msg.model = 'url'">
              <salaxy-message-thread model="$msg" role="owner" other-party-options="{ partner: 'Palkanlaskijasi' }" other-party="'partner'" mark-as-read="5">
                <header-new>
                  <h2 sxy-text="SALAXY.NG1.Pages.Messages.newMessageDetails.title"></h2>
                  <p class="lead" sxy-html="SALAXY.NG1.Pages.Messages.newMessageDetails.description.html">
                  </p>
                </header-new>
              </salaxy-message-thread>
            </div>
          </div>
        </div>
      </main>
    </salaxy-assure-partner>
  </section>
</main>