<main class="salaxy-content sxytpl-messages-list">
  <section>
    <div class="pull-left" ng-controller="SessionController as $sessionCtrl">
      <salaxy-action-button action="'newMessage'" label="SALAXY.NG1.ActionButtonComponent.startNewMessage" disabled="!$sessionCtrl.session.settings.partner.accountId"></salaxy-action-button>
    </div>
    <salaxy-assure-partner>
      <main>
        <div class="row">
          <div class="col-xs-12">
            <h2 sxy-text="SALAXY.NG1.Pages.Messages.newMessage.title"></h2>
            <p class="lead" sxy-html="SALAXY.NG1.Pages.Messages.newMessage.description.html">
            </p>
          </div>
        </div>
        <salaxy-odata-table crud-controller="MessageThreadCrudController as $crud"></salaxy-odata-table>
      </main>
    </salaxy-assure-partner>
  </section>
</main>