<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Tulolaji tai laskettu erä</th>
        <th>Lisävalinnat</th>
        <th>
          <div>Kirjaa</div>
          <div>Käytössä</div>
        </th>
        <th>Debet-tili / ryhmittely</th>
        <th>Kredit-tili / ryhmittely</th>
        <th class="right">
          <button title="Lisää rivi" class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.addRow(null)">
            Lisää rivi
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="ruleSetRow in $ctrl.current.ruleSet.rows">
        <td>{{$ctrl.getEntryDescription(ruleSetRow)}}</td>
        <td>
          <div ng-repeat="flag in ruleSetRow.flags">
            <span title="{{$ctrl.getFlag(flag).description}}" class="badge bg-success">{{$ctrl.getFlag(flag).text}}</span>
          </div>
        </td>
        <td>
          <div ng-class="{ 'text-danger': !ruleSetRow.isIncluded }">{{ ruleSetRow.isIncluded ? "Kirjataan" : "Ei kirjata" }}</div>
          <div ng-class="{ 'text-danger': !ruleSetRow.enabled }">{{ ruleSetRow.enabled ? "Käytössä" : "Ei käytössä" }}</div>
        </td>
        <td ng-if="ruleSetRow.isIncluded">
          <div>
            {{ $ctrl.getAccount(ruleSetRow.debitId).account || "Debit-tili ei määritetty" }}
            <span ng-if="ruleSetRow.debitGrouping">
              <span>{{ ruleSetRow.debitGrouping }}</span>
              <small style="text-decoration: line-through">{{ $ctrl.getAccount(ruleSetRow.debitId).text }}</small>
            </span>
            <span ng-if="!ruleSetRow.debitGrouping">
              <span>{{ $ctrl.getAccount(ruleSetRow.debitId).text }}</span>
            </span>
          </div>
        </td>
        <td ng-if="ruleSetRow.isIncluded">
          <div>
            {{ $ctrl.getAccount(ruleSetRow.creditId).account || "Kredit-tili ei määritetty" }}
            <span ng-if="ruleSetRow.creditGrouping">
              <span>{{ ruleSetRow.creditGrouping }}</span>
              <small style="text-decoration: line-through">{{ $ctrl.getAccount(ruleSetRow.creditId).text }}</small>
            </span>
            <span ng-if="!ruleSetRow.creditGrouping">
              <span>{{ $ctrl.getAccount(ruleSetRow.creditId).text }}</span>
            </span>
          </div>
        </td>
        <td colspan="2" ng-if="!ruleSetRow.isIncluded">
          Ei kirjanpitoon
        </td>
        <td class="right">
          <div class="btn-group">
            <button title="Muokkaa sääntöä" class="btn btn-sm" ng-class="{ 'btn-primary': !ruleSetRow.isInEdit, 'btn-default': ruleSetRow.isInEdit }" type="button"
              ng-click="ruleSetRow.isInEdit=!ruleSetRow.isInEdit">
              <i class="fa fa-edit"></i>
            </button>
            <button title="Kopioi uudeksi säännöksi" class="btn btn-default btn-sm" type="button" ng-click="$ctrl.addRow(ruleSetRow)">
              <i class="fa fa-copy"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr ng-repeat-end ng-if="ruleSetRow.isInEdit">
        <td>
          <button title="Muokkaa" class="btn btn-sm btn-default" type="button" ng-click="$ctrl.selectEntry(ruleSetRow)">
            Vaihda tulolaji tai laskettu erä
          </button>
        </td>
        <td>
          <button title="Muokkaa" class="btn btn-sm btn-default" type="button" ng-click="$ctrl.selectFlags(ruleSetRow)">
            Muokka lisävalintoja
          </button>
        </td>
        <td>
          <salaxy-input-boolean type="checkbox" name="{{'ruleSetIsIncluded'+$index}}" ng-model="ruleSetRow.isIncluded" label-type="plain" label-true="Kirjaa">
          </salaxy-input-boolean>
          <salaxy-input-boolean type="checkbox" name="{{'ruleSetEnabled'+$index}}" ng-model="ruleSetRow.enabled" label-type="plain" label-true="Käytössä"></salaxy-input-boolean>
        </td>
        <td>
          <div ng-if="ruleSetRow.isIncluded">
            <button title="Muokkaa" ng-disabled="!ruleSetRow.isIncluded" class="btn btn-default btn-sm btn-block" type="button" ng-click="$ctrl.selectAccount(ruleSetRow, false)">
              Vaihda tili
            </button>
            <salaxy-input name="{{'debitGrouping'+$index}}" placeholder="Ryhmittely" label-type="plain" ng-model="ruleSetRow.debitGrouping"></salaxy-input>
          </div>
        </td>
        <td>
          <div ng-if="ruleSetRow.isIncluded">
            <button title="Muokkaa" ng-disabled="!ruleSetRow.isIncluded" class="btn btn-default btn-sm btn-block" type="button" ng-click="$ctrl.selectAccount(ruleSetRow, true)">
              Vaihda tili
            </button>
            <salaxy-input name="{{'creditGrouping'+$index}}" placeholder="Ryhmittely" label-type="plain" ng-model="ruleSetRow.creditGrouping"></salaxy-input>
          </div>
        </td>
        <td class="right">
          <button title="Poista rivi" class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.removeRow(ruleSetRow)">
            Poista rivi
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>