<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Debet-tili / ryhmittely</th>
        <th>Kredit-tili / rymittely</th>
        <th></th>
        <th></th>
        <th class="right">
          <button title="Lisää rivi" class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.addRow(null)">
            Lisää rivi
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="(key, ruleSetGroup) in $ctrl.groupedRows" class="primary">
        <td ng-if="ruleSetGroup[0].isIncluded">
          <div>
            {{ $ctrl.getAccount(ruleSetGroup[0].debitId).account || "Debit-tili ei määritetty" }}
            <span ng-if="ruleSetGroup[0].debitGrouping">
              <span>{{ ruleSetGroup[0].debitGrouping }}</span>
              <small style="text-decoration: line-through">{{ $ctrl.getAccount(ruleSetGroup[0].debitId).text }}</small>
            </span>
            <span ng-if="!ruleSetGroup[0].debitGrouping">
              <span>{{ $ctrl.getAccount(ruleSetGroup[0].debitId).text }}</span>
            </span>
          </div>
        </td>
        <td ng-if="ruleSetGroup[0].isIncluded">
          <div>
            {{ $ctrl.getAccount(ruleSetGroup[0].creditId).account || "Kredit-tili ei määritetty" }}
            <span ng-if="ruleSetGroup[0].creditGrouping">
              <span>{{ ruleSetGroup[0].creditGrouping }}</span>
              <small style="text-decoration: line-through">{{ $ctrl.getAccount(ruleSetGroup[0].creditId).text }}</small>
            </span>
            <span ng-if="!ruleSetGroup[0].creditGrouping">
              <span>{{ $ctrl.getAccount(ruleSetGroup[0].creditId).text }}</span>
            </span>
          </div>
        </td>
        <td colspan="2" ng-if="!ruleSetGroup[0].isIncluded">
          Ei kirjanpitoon
        </td>
        <td colspan="4"></td>
      </tr>
      <tr ng-repeat-start="ruleSetRow in ruleSetGroup">
        <td colspan="2">{{$ctrl.getEntryDescription(ruleSetRow)}}</td>
        <td>
          <div ng-repeat="flag in ruleSetRow.flags">
            <span title="{{$ctrl.getFlag(flag).description}}" class="badge bg-success">{{$ctrl.getFlag(flag).text}}</span>
          </div>
        </td>
        <td>
          <div ng-class="{ 'text-danger': !ruleSetRow.enabled }">{{ ruleSetRow.enabled ? "Käytössä" : "Ei käytössä" }}</div>
        </td>
        <td class="right">
          <div class="btn-group">
            <button title="Muokkaa sääntöä" class="btn btn-sm" ng-class="{ 'btn-primary': !ruleSetRow.isInEdit, 'btn-default': ruleSetRow.isInEdit }" type="button"
              ng-click="ruleSetRow.isInEdit=!ruleSetRow.isInEdit">
              <i class="fa fa-edit"></i>
            </button>
            <button title="Kopioi uudeksi säännöksi" class="btn btn-default btn-sm" type="button" ng-click="$ctrl.addRow(ruleSetRow)">
              <i class="fa fa-copy"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr ng-repeat-end ng-if="ruleSetRow.isInEdit" class="no-border">
        <td>
          <div ng-if="!ruleSetRow.isIncluded">
            <small>Ei kirjanpitoon</small>
          </div>
          <div ng-if="ruleSetRow.isIncluded">
            <div class="input-group">
              <input type="text" class="form-control" ng-value="$ctrl.getAccount(ruleSetRow.debitId).account + ' ' + $ctrl.getAccount(ruleSetRow.debitId).text" disabled="true">
              <span class="input-group-btn">
                <button class="btn btn-default fixed-width-addon" type="button" ng-click="$ctrl.selectAccount(ruleSetRow, false)">Vaihda tili</button>
              </span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" ng-init="ruleSetRow.debitGroupingTemp = ruleSetRow.debitGrouping" ng-model="ruleSetRow.debitGroupingTemp"
                placeholder="Lisää ryhmittely (tiliöintiteksti)">
              <span class="input-group-btn">
                <button class="btn btn-default fixed-width-addon" type="button" ng-click="ruleSetRow.debitGrouping = ruleSetRow.debitGroupingTemp">Vaihda ryhmittely</button>
              </span>
            </div>
          </div>
        </td>
        <td>
          <div ng-if="!ruleSetRow.isIncluded">
            <small>Ei kirjanpitoon</small>
          </div>
          <div ng-if="ruleSetRow.isIncluded">
            <div class="input-group">
              <input type="text" class="form-control" ng-value="$ctrl.getAccount(ruleSetRow.creditId).account + ' ' + $ctrl.getAccount(ruleSetRow.creditId).text" disabled="true">
              <span class="input-group-btn">
                <button class="btn btn-default fixed-width-addon" type="button" ng-click="$ctrl.selectAccount(ruleSetRow, true)">Vaihda tili</button>
              </span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" ng-init="ruleSetRow.creditGroupingTemp = ruleSetRow.creditGrouping" ng-model="ruleSetRow.creditGroupingTemp"
                placeholder="Lisää ryhmittely (tiliöintiteksti)">
              <span class="input-group-btn">
                <button class="btn btn-default fixed-width-addon" type="button" ng-click="ruleSetRow.creditGrouping = ruleSetRow.creditGroupingTemp">Vaihda ryhmittely</button>
              </span>
            </div>
          </div>
        </td>
        <td>
          <button title="Muokkaa" class="btn btn-default fixed-width-button" type="button" ng-click="$ctrl.selectEntry(ruleSetRow)">
            Vaihda {{ ruleSetRow.entryCodeGroup == 'incomeType' ? 'tulolaji' : 'laskelman rivi' }}
          </button>
          <button title="Muokkaa" class="btn btn-default fixed-width-button" type="button" ng-click="$ctrl.selectFlags(ruleSetRow)">
            Muokka lisävalintoja
          </button>
        </td>
        <td>
          <salaxy-input-boolean type="checkbox" name="{{'ruleSetIsIncluded'+$index}}" ng-model="ruleSetRow.isIncluded" label-type="plain" label-true="Kirjaa">
          </salaxy-input-boolean>
          <salaxy-input-boolean type="checkbox" name="{{'ruleSetEnabled'+$index}}" ng-model="ruleSetRow.enabled" label-type="plain" label-true="Käytössä"></salaxy-input-boolean>
        </td>
        <td class="right">
          <button title="Poista rivi" class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.removeRow(ruleSetRow)">
            Poista rivi
          </button>
        </td>
      </tr>
      <tr ng-repeat-end></tr>
    </tbody>
  </table>
</div>