<style>
  .salaxy-accounting-target-editor .btn.fixed-width-addon {
    width: 134px;
  }
  .salaxy-accounting-target-editor .btn.fixed-width-button {
    width: 154px;
  }
  .salaxy-accounting-target-editor .table tr.primary > td {
    color: #009fd8;
    font-weight: bold;
  }
</style>
<div class="salaxy-component salaxy-accounting-target-editor">
  <h2>Tiliöintimalli: {{ $ctrl.current.channel.name }}</h2>
  <div ng-if="!$ctrl.current">
    <salaxy-spinner heading="Ladataan..."></salaxy-spinner>
  </div>
  <div ng-if="$ctrl.current">
    <uib-tabset active="$ctrl.currentTab">
      <uib-tab heading="Perustiedot" index="'overview'">
        <div class="btn-toolbar" role="toolbar" aria-label="Tilit">
          <div class="btn-group" role="group" aria-label="Save and load">
            <button class="btn btn-primary" ng-disabled="!$ctrl.hasChanges && !$ctrl.isNew()" ng-click="$ctrl.save()">Tallenna</button>
            <button class="btn btn-default" ng-click="$ctrl.showCopyAsNew($ctrl.current)">Kopioi uudeksi</button>
            <button class="btn btn-danger" ng-disabled="$ctrl.isReadOnly" ng-click="$ctrl.delete()">Poista</button>
          </div>
        </div>
        <form name="ruleSetForm" class="form-horizontal">
          <div class="row">
            <div class="col-xs-6">
              <fieldset>
                <legend>Perustiedot</legend>
                <span ng-if="$ctrl.isReadOnly" class="text-danger">Tätä tiliöintimallia ei voi muokata. Luo muokattava malli kopioimalla.</span>
                <salaxy-input disabled="$ctrl.isReadOnly" name="ruleSetName" label="Nimi" ng-model="$ctrl.current.channel.name"></salaxy-input>
              </fieldset>
              <ul>
                <li>
                  Kohde: Sähköposti, Procountor, Netvisor jne.
                  <ul>
                    <li>Sähköpostiosoite ja nimi</li>
                    <li>OAuth-tunnistautuminen: OK, nappi tunnistamiseen</li>
                    <li>Machine-2-machine-tunnistuksen avain</li>
                    <li>Manuaalinen: tiedostomuoto, oletus</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-xs-6">
              <fieldset>
                <legend>Tiliöintipohja</legend>
                <div ng-if="!$ctrl.current.ruleSet.templateId">
                  <p ng-if="!$ctrl.current.channel.channel != 'template'">Tämä tiliöintimalli on alkuperäinen: se ei perustu mihinkään tiliöintipohjaan.</p>
                  <p ng-if="!$ctrl.current.channel.channel == 'template'">Tämä tiliöintimalli on merkkity tiliöintipohjaksi.</p>
                </div>
                <salaxy-input ng-if="!$ctrl.template" read-only="true" name="templateId" label="Pohjan ID" ng-model="$ctrl.current.ruleSet.templateId"></salaxy-input>
                <div ng-if="$ctrl.template">
                  <salaxy-input read-only="true" name="template_name" label="Nimi" ng-model="$ctrl.template.channel.name"></salaxy-input>
                  <salaxy-input read-only="true" name="template_id" label="ID" ng-model="$ctrl.template.id"></salaxy-input>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
      </uib-tab>
      <uib-tab heading="Käytetyt tilit (palkkojen tiliöinti)" index="'accounts'">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>
                  Tilinumero
                </th>
                <th>
                  Selite
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in $ctrl.current.ruleSet.accounts">
                <td>
                  <salaxy-input read-only="$ctrl.isReadOnly" name="{{'accountAccount'+$index}}" ng-model="account.account" label-type="plain"></salaxy-input>
                </td>
                <td>
                  <salaxy-input read-only="$ctrl.isReadOnly" name="{{'accountText'+$index}}" ng-model="account.text" label-type="plain"></salaxy-input>
                </td>
                <td class="right">
                  <button title="Poista rivi" class="btn btn-transparent" type="button" ng-if="!account.isReadOnly" ng-click="$ctrl.removeAccount(account)">
                    <i class="fa fa-minus text-danger"></i>
                  </button>
                  <button ng-disabled="$ctrl.isReadOnly" title="Lisää rivi" class="btn btn-transparent" type="button" ng-click="$ctrl.addAccount(account)">
                    <i class="fa fa-plus text-success"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="right">
                  <button ng-disabled="$ctrl.isReadOnly" title="Lisää rivi" class="btn btn-transparent" type="button" ng-click="$ctrl.addAccount(null)">
                    <i class="fa fa-plus text-success"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </uib-tab>
      <uib-tab heading="Tiliöintisäännöt" index="'rules'">
        <div class="btn-toolbar" role="toolbar" aria-label="Tilit">
          <div class="btn-group" role="group" aria-label="Sorting" ng-init="$ctrl.ruleViewSorting = 'default'">
            <label class="btn btn-default" ng-model="$ctrl.ruleViewSorting" uib-btn-radio="'default'">Järjestä tulolajeittain</label>
            <label class="btn btn-default" ng-model="$ctrl.ruleViewSorting" uib-btn-radio="'byAccount'">Ryhmittele tileittäin</label>
          </div>
        </div>
        <div ng-if="$ctrl.currentTab == 'rules'">
          <ng-include src="'/ng1/undercon/AccountingTargetEditor_rules_table' + ($ctrl.ruleViewSorting == 'byAccount' ? 2 : 1) + '.html'"></ng-include>
        </div>
      </uib-tab>
      <uib-tab heading="Tilikartta (koko kirjanpito)" index="'coa'">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Tilinumero</th>
                <th>Selite</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="account in $ctrl.current.ruleSet.accounts">
                <td>{{ account.account }}</td>
                <td>{{ account.text }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
      <uib-tab heading="Debugger" index="'debugger'">
        <salaxy-json-formatter json="$ctrl.current"></salaxy-json-formatter>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
