<salaxy-action-button sxy-if-role="!household" action="'newCalc'" label="SALAXY.NG1.ActionButtonComponent.newCalculation" button-class="btn-primary spacer-bottom hidden-xxs"></salaxy-action-button>
<salaxy-calc-list category="draft" class="worker-drafts" read-only="'household' | sxyIsInRole"></salaxy-calc-list>