<div class="row visible-xs">
  <div class="col-xs-12" ng-if="!$ctrl.hideButton">
    <div style="margin-bottom:15px;">
      <salaxy-action-button action="'newCalc'" label="Luo uusi palkkalaskelma"></salaxy-action-button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <salaxy-calc-list category="received" mode="panel" limit-to="5" read-only="'household' | sxyIsInRole"></salaxy-calc-list>
  </div>
  <div class="col-sm-6 col-xs-12">
    <salaxy-odata-table url="/v03-rc/api/calculations/all" crud-controller="CalculationCrudController as $crud" options="{$top: 5, $filter: 'status eq \'workerRequested\' or status eq \'workerRequestAccepted\' or status eq \'workerRequestDeclined\' or status eq \'draft\'', $orderby:  'createdAt desc'}"
      template-url="salaxy-components/odata/lists/CalculationsPanel.html" data="{ category: 'sentAndDraft' }">
    </salaxy-odata-table>
  </div>
</div>