<salaxy-action-button action="'newCalc'" label="SALAXY.NG1.ActionButtonComponent.newCalculation" button-class="btn-primary spacer-bottom hidden-xxs" sxy-if-role="!household"></salaxy-action-button>
<div sxy-if-role="household">
  <salaxy-calc-list category="paid" read-only="true"></salaxy-calc-list>
</div>
<div sxy-if-role="worker">
  <salaxy-calc-list category="received"></salaxy-calc-list>
</div>