<p class="lead">
  Olet lähettänyt nämä palkkalaskelmat työnantajalle maksettavaksi.
</p>
<salaxy-action-button action="'newCalc'" label="SALAXY.NG1.ActionButtonComponent.newCalculation" button-class="btn-primary spacer-bottom hidden-xxs" sxy-if-role="!household"></salaxy-action-button>
<salaxy-calc-list category="sent"></salaxy-calc-list>