﻿<form>
    <div class="row">
        <div class="col-sm-5">
            <input type="text" id="sample6-salary" class="form-control" placeholder="Salary - default is 100"><br>
            <input type="text" id="sample6-expenses" class="form-control" placeholder="Expenses - default is 30">
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" onclick="sample6Calculate()">Calculate</button>
        </div>
        <div class="col-sm-5">
            <table style="width: 100%">
                <tbody>

                    <tr>
                        <td>Salary</td>
                        <td class="right" id="sample6-result-totalsalary">0</td>
                    </tr>
                    <tr>
                        <td>Expenses</td>
                        <td class="right" id="sample6-result-expenses">0</td>
                    </tr>
                    <tr>
                        <td>Side costs</td>
                        <td class="right" id="sample6-result-sidecosts">0</td>
                    </tr>
                    <tr>
                        <td>Benefits</td>
                        <td class="right" id="sample6-result-benefits">0</td>
                    </tr>
                    <tr class="total">
                        <th>Total payment</th>
                        <th class="right" id="sample6-result-totalpayment">0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>