<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind="$ctrl.title"></h4>
</div>
<div class="modal-body">
    <h1 ng-bind="$ctrl.title"></h1>
    <div ng-show="$ctrl.type == 'external'" class="form-horizontal">
        <p class="lead">
            Ulkopuolinen palkka on maksettu esim. kirjanpitäjäsi toimesta. Jos lisäät palkan tähän, ilmoitamme myös tällaisen palkan verottajalle.
            <strong>Näin kirjanpitäjäsi ei tarvitse tehdä vuosi-ilmoitusta</strong>
        </p>
        <h4>Perustiedot</h4>
        <p>Ilmoitusta varten tarvitaan ainakin päivämäärä, palkka ja ennakonpidätys, joka on vähennetty työntekijän palkasta.</p>
        <salaxy-datepicker-popup name="paidAt" ng-model="$ctrl.current.paidAt" required popup-placement="bottom" label="Päivämäärä:"></salaxy-datepicker-popup>
        <salaxy-input-enum ng-model="$ctrl.current.salaryType" options="{'tyel':'Palkka (TyEL)', 'yel':'Yrittäjän palkka (YEL)', 'compensation': 'Työkorvaus'}"  
          name="salaryType" label="Palkan tyyppi"></salaxy-input-enum>
        <div class="form-group">
          <label for="grossSalary" class="col-sm-6 control-label">Bruttopalkka:</label>
          <div class="col-sm-6">
              <input class="form-control" type="text" ng-model="$ctrl.current.grossSalary" id="grossSalary" name="grossSalary" />
          </div>
        </div>
        <div class="form-group">
            <label for="grossSalary" class="col-sm-6 control-label">Bruttopalkka:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.grossSalary" id="grossSalary" name="grossSalary" />
            </div>
        </div>
        <div class="form-group">
            <label for="withholdingTax" class="col-sm-6 control-label">Ennakon­pidätys (euroa):</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.withholdingTax" id="withholdingTax" name="withholdingTax" />
            </div>
        </div>

        <button type="button" class="btn btn-success pull-right" ng-click="$ctrl.calculate()">Laske sivukulut</button>
        <h3>Sivukulut veroilmoitukseen</h3>
        <p>
            Voit halutessasi laskea sivukulut palkasta, mutta ne olisi syytä tarkistaa alkuperäisestä palkkalaskelmasta.
        </p>
        <div class="form-group">
            <label for="sideCosts" class="col-sm-6 control-label">Työnantaja­kulut:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.sideCosts" id="sideCosts" name="sideCosts" />
            </div>
        </div>
        <div class="form-group">
            <label for="socialInsuranceDeductionsFromEmployee" class="col-sm-6 control-label">Työntekijän osuus TyEL ­ja TVR -maksuista (euroa):</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.socialInsuranceDeductionsFromEmployee" id="socialInsuranceDeductionsFromEmployee" name="socialInsuranceDeductionsFromEmployee" />
            </div>
        </div>
        <h3>Kulut, luontoisedut ja muut palkkarivit</h3>
        <p>Voit lisätä tähän muita verottajalle ilmoitettavia kuluja ja luontoisetuja, jos niitä on maksetussa palkassa.</p>
        <div>
            <div class="form-group">
                <label for="compensations" class="col-sm-6 control-label">Päivärahat ja ateriakorvaukset:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="$ctrl.current.compensations" id="compensations" name="compensations" />
                </div>
            </div>
            <div class="form-group">
                <label for="milageCompensation" class="col-sm-6 control-label">Kilometrikorvaukset:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="$ctrl.current.milageCompensation" id="milageCompensation" name="milageCompensation" />
                </div>
            </div>
            <div class="form-group">
                <label for="phoneBenefit" class="col-sm-6 control-label">Puhelin­etu:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="$ctrl.current.phoneBenefit" id="phoneBenefit" name="phoneBenefit" />
                </div>
            </div>
            <div class="form-group">
                <label for="benefitsInKindWithoutPhone" class="col-sm-6 control-label">Muut luontoisedut:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="$ctrl.current.benefitsInKindWithoutPhone" id="benefitsInKindWithoutPhone" name="benefitsInKindWithoutPhone" />
                </div>
            </div>
            <div class="form-group col-xs-12">
                <textarea class="form-control" ng-model="$ctrl.current.message" rows="2" 
                  placeholder="Jos jotain laskelmassa olevaa palkkaerää ei ole yllä, kuvaa se tässä kentässä mahdollisimman tarkasti."></textarea>
            </div>
        </div>
    </div>
    <div ng-show="$ctrl.type == 'correction'" class="form-horizontal">
        <div class="lead">
            <p>Korjaus Palkkaus.fi-palvelun kautta tehtyyn palkkaan on yleensä:</p>
            <ol>
                <li>Virheellisesti laskettu palkka: (otamme sinuun puhelimitse yhteyttä).</li>
                <li>Ilmoittamatta jätetty kulu tai luontoisetu: Nämä voimme yleensä lisätä ilmoitukseen suoraan.</li>
            </ol>
            <p>Ilmoitamme nämä tiedot puolestasi verottajalle, TVR:ään sekä Ifiin, jos vakuutuksesi on siellä</p>
        </div>
        <h4>1. Virheellinen palkka TAI</h4>
        <div class="">
            <textarea class="form-control" ng-model="$ctrl.current.message" rows="2" placeholder="Kerro virheestä tarkemmin, olemme sinuun tarvittaessaa yhteydessä."></textarea>
        </div>

        <h4>2. Puuttuva kulu tai luontoisetu</h4>
        <p>Voit lisätä tähän muita verottajalle ilmoitettavia kuluja ja luontoisetuja, jos niitä on maksetussa palkassa.</p>
        <salaxy-datepicker-popup name="paidAt" ng-model="$ctrl.current.paidAt" required popup-placement="bottom" label="Päivämäärä:"></salaxy-datepicker-popup>
        <div class="form-group">
            <label for="compensations" class="col-sm-6 control-label">Päivärahat ja ateriakorvaukset:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.compensations" id="compensations" name="compensations" />
            </div>
        </div>
        <div class="form-group">
            <label for="milageCompensation" class="col-sm-6 control-label">Kilometrikorvaukset:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.milageCompensation" id="milageCompensation" name="milageCompensation" />
            </div>
        </div>
        <div class="form-group">
            <label for="phoneBenefit" class="col-sm-6 control-label">Puhelin­etu:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.phoneBenefit" id="phoneBenefit" name="phoneBenefit" />
            </div>
        </div>
        <div class="form-group">
            <label for="benefitsInKindWithoutPhone" class="col-sm-6 control-label">Muut luontoisedut:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="$ctrl.current.benefitsInKindWithoutPhone" id="benefitsInKindWithoutPhone" name="benefitsInKindWithoutPhone" />
            </div>
        </div>
    </div>
    <div ng-show="$ctrl.type == 'legacy'">
        <h2>Legacy object</h2>
        <p>This editor view should not be visible to end users</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-hide="$ctrl.isNew()" class="btn btn-danger pull-left" ng-click="$ctrl.delete();$close()">Poista</button>
    <button type="reset" class="btn btn-default" ng-click="$close()">Peruuta</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.submit();$close()">Hyväksy ja tallenna</button>
</div>
