<div class="modal-header" ng-show="title">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-bind-html="title"></h4>
</div>
<div class="modal-body" ng-show="content">
    <div ng-bind-html="content"></div>
    <div ng-show="showIbanInput">
        <div class="form-group">
            <label for="bankIban" class="control-label">Tilinumero:</label>
            <input type="text" id="bankIban" name="bankIban" class="form-control" placeholder="IBAN-muodossa" ng-model="current.bankIban">
        </div>
    </div>
    <div ng-show="showTextbox">
        <textarea class="form-control" ng-model="current.userFeedbackText" rows="2"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="reset" class="btn btn-default" ng-click="$close()">Peruuta</button>
    <button type="button" class="btn btn-primary" ng-click="submit();$close()">Hyväksy ja tallenna</button>
</div>