<div class="salaxy-component salaxy-credit-transfer">
  <div class="salaxy-credit-transfer-official" ng-if="$ctrl.mode != 'barcode-copy'">
    <div class="sct-row sct-row1">
      <div class="sct-col sct-col1">
        <div class="sct-row sct-row1">
          Saajan<br>tilinumero<br>Mottagarens<br>kontonummer
        </div>
        <div class="sct-row sct-row2">
          Saaja<br>Mottagare
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-label-payer">Maksajan<br>nimi ja<br>osoite<br>Betalarens<br>namn och<br>adress</div>
          <div class="sct-label-credit-transfer">TILISIIRTO. GIRERING</div>
          <div class="sct-label-signature">Allekirjoitus<br>Underskrift</div>
        </div>
        <div class="sct-row sct-row4">
          Tililtä nro<br>Från konto nr
        </div>
      </div>
      <div class="sct-col sct-col2">
        <div class="sct-row sct-row1">
          <div class="sct-label-iban">IBAN</div>
          <div class="sct-filled-content">
            <!-- Recipient account numbers (IBAN), max 4 lines -->
            {{ $ctrl.invoice.recipient.iban | sxyIban }}
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Recipient, max 3 lines -->
            {{ $ctrl.invoice.recipient.fullName }}<br>
            {{ $ctrl.invoice.recipient.contact.street }} {{ $ctrl.invoice.recipient.contact.postalCode }} {{ $ctrl.invoice.recipient.contact.city }}
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- Payer’s name and address -->
            {{ $ctrl.invoice.payer.avatar.displayName }}<br>
            {{ $ctrl.invoice.payer.contact.street }}<br>
            {{ $ctrl.invoice.payer.contact.postalCode }} {{ $ctrl.invoice.payer.contact.city }}
          </div>
          <div class="sct-filled-content sct-signature">
            <!-- Signature -->
          </div>
          <div class="sct-guideline-signature"></div>
        </div>
        <div class="sct-row sct-row4">
          <div class="sct-filled-content sct-filled-content-main">
            <!-- From account no. -->
          </div>
        </div>
      </div>
      <div class="sct-col sct-col3">
        <div class="sct-row sct-row1">
          <div class="sct-filled-content sct-filled-content-main">
            <ng-transclude ng-transclude-slot="message">
              <span>{{ $ctrl.invoice.header.message }}</span>
            </ng-transclude>
          </div>
        </div>
        <div class="sct-row sct-row2">
          <div class="sct-col sct-col1">
            Viitenumero<br>Ref. nr
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Ref. nr -->
              {{ $ctrl.invoice.header.referenceNumber | sxyIban }}
            </div>
          </div>
        </div>
        <div class="sct-row sct-row3">
          <div class="sct-col sct-col1">
            Eräpäivä<br>Förfallodag
          </div>
          <div class="sct-col sct-col2">
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Due date -->
              {{ $ctrl.invoice.header.dueDate | sxyDate }}
            </div>
          </div>
          <div class="sct-col sct-col3">
            <div class="sct-label-euro">Euro</div>
            <div class="sct-filled-content sct-filled-content-main">
              <!-- Euro amount -->
              {{ $ctrl.invoice.header.total | currency }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sct-row sct-row2">
      <div id="barcode">
        <!-- Barcode can be shown only with FI IBAN -->
        <angular-barcode ng-model="$ctrl.bcValue" bc-options="$ctrl.bcOptions" bc-class="barcode" bc-type="svg"></angular-barcode>
      </div>
      <!--
        NOTE: Terms of clearance is part of original specification: https://www.finanssiala.fi/wp-content/uploads/2021/03/Tilisiirto-opas.pdf.
        It is removed because it has no real value today and it makes reading barcode difficult.
      -->
      <!--
        <div id="terms-of-clearance">
          Maksu välitetään saajalle maksujenvälityksen ehtojen mukaisesti ja vain maksajan ilmoittaman tilinumeron perusteella.
          <br> Betalningen förmedlas till mottagaren engligt villkoren för betalningsförmedling och endast till det kontonummer som betalaren angivit.
        </div>
      -->
    </div>
  </div>
  <div class="barcodeform-container hidden-print" ng-if="$ctrl.mode != 'official'">
    <form name="barcodeForm" id="barcodeForm" class="form-horizontal">
      <p sxy-text="SALAXY.NG1.NewPaymentComponent.creditTransfer.transferDescription" ng-if="$ctrl.mode != 'barcode-copy'"></p>
      <div class="row">
        <div class="col-sm-10">
          <salaxy-input name="{{ 'barcode' + $ctrl.getId() }}" label="SALAXY.NG1.NewPaymentComponent.creditTransfer.barcodeLabel" readonly="true"
            label-cols="col-sm-4" ng-model="$ctrl.bcValue"></salaxy-input>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default btn-block" ng-click="$ctrl.copyBarcode()" sxy-text="SALAXY.UI_TERMS.copyToClipboard"></button>
        </div>
      </div>
    </form>
  </div>
</div>