<div class="salaxy-component salaxy-invoice-edit">
  <salaxy-spinner ng-if="$ctrl.isLoading"></salaxy-spinner>
  <div class="alert alert-danger" ng-if="!$ctrl.isLoading && !$ctrl.current">Laskua ei löydy</div>
  <form name="statusForm" ng-if="$ctrl.current" ng-submit="$ctrl.requestStatusUpdate()">
    <div class="form-horizontal">
      <h2>Lähetä tilan päivityspyyntö maksukanavaan</h2>
      <p>Testilomake tilan päivityspyynnön lähettämiseen. Alla voit myös poistaa laskun.</p>
      <salaxy-input-enum label="Kanava" read-only="true" name="paymentChannel" ng-model="$ctrl.current.header.channel" enum="PaymentChannel"></salaxy-input-enum>
      <salaxy-input-enum label="Maksun tila" name="requestedStatus" ng-model="$ctrl.requestedStatus" enum="InvoiceStatus" required></salaxy-input-enum>
    </div>
    <div>
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="!statusForm.$valid">Lähetä pyyntö</button>
      <button type="button" ng-click="$ctrl.delete()" class="btn btn-danger">Poista lasku</button>
      <button type="button" ng-click="$ctrl.deleteWithBusinessObjects()" class="btn btn-danger">Poista lasku ja siihen liittyvät laskelmat</button>    
    </div>
  </form>
</div>