<div style="padding: 10px; background-color: gray;">
  <salaxy-spinner ng-if="!$ctrl.current && $ctrl.isLoading"></salaxy-spinner>
  <div class="alert alert-danger" ng-if="!$ctrl.isLoading && !$ctrl.current">Laskua ei löydy</div>
  <div ng-if="$ctrl.current" style="position: relative; background-color: white;">
    <a ng-href="{{$ctrl.getContentUrl($ctrl.current.id, true)}}" target="_blank"
      style="position: absolute; top: -15px; right: -15px;"
      class="btn btn-primary">
      <i class="fa fa-file-pdf-o"></i> Näytä tiedosto
    </a>
    <button ng-click="$ctrl.reload()"
      style="position: absolute; top: 20px; right: -15px;"
      class="btn btn-default">
      <span ng-if="$ctrl.isLoading"><i class="fa fa-refresh fa-spin fa-fw"></i></span></i> Päivitä
    </button>
    <div style="padding: 40px;">
      <div class="row">
        <div class="col-sm-6">
          <table>
            <tr>
              <td colspan="2"><small><strong>Maksun saaja:</strong></small></td>
            </tr>
            <tr>
              <td>
                <salaxy-avatar avatar="$ctrl.current.recipient.beneficiary.avatar" style="font-size: 64px;"></salaxy-avatar>
              </td>
              <td>
                <div><strong>{{ $ctrl.current.recipient.fullName }}</strong></div>
                <div>
                  {{ $ctrl.current.recipient.contact.street }}<br />
                  {{ $ctrl.current.recipient.contact.postalCode }} {{ $ctrl.current.recipient.contact.city }}
                </div>
              </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
              <td colspan="2"><small><strong>Maksaja:</strong></small></td>
            </tr>
            <tr>
              <td>
                <salaxy-avatar avatar="$ctrl.current.payer.avatar" style="font-size: 64px;"></salaxy-avatar>
              </td>
              <td>
                <div><strong>{{ $ctrl.current.payer.avatar.displayName }}</strong></div>
                <div>
                  {{ $ctrl.current.payer.contact.street }}<br />
                  {{ $ctrl.current.payer.contact.postalCode }} {{ $ctrl.current.payer.contact.city }}
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <div style="font-size: 24px; font-weight: bold; text-transform: uppercase;">{{ $ctrl.current.header.message }}</div>
          <table>
            <tr><td>Päivämäärä:</td><td>{{ $ctrl.current.header.date | sxyDate }}</td></tr>
            <tr><td>Eräpäivä:</td><td>{{ $ctrl.current.header.dueDate | sxyDate }}</td></tr>
            <tr><td>Viitenumero:</td><td>{{ $ctrl.current.header.referenceNumber || "-" }}</td></tr>
            <tr><td>Saajan pankkitili:</td><td>{{ $ctrl.current.recipient.iban | sxyIban }}</td></tr>
            <tr><td>Status:</td><td>{{ "InvoiceStatus." + $ctrl.current.header.status | sxyEnum }}</td></tr>
          </table>
        </div>
      </div>
      <hr />
      <div style="min-height: 400px;">
        <table class="table">
          <thead>
            <tr>
              <th>Kuvaus</th>
              <th>
                Tuotteen nimi (koodi)<br />
                Tiliöinti
              </th>
              <th class="right">Määrä</th>
              <th class="right">Hinta (alv0)</th>
              <th class="right">Alv %</th>
              <th class="right">Yhteensä</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in $ctrl.current.rows">
              <td>{{ row.message }}</td>
              <td>
                {{ row.articleName }} ({{ row.articleId }})<br />
                {{ row.accountingAccountNumber }}: {{ row.accountingCode }}
              </td>
              <td class="right">{{ row.count }}</td>
              <td class="right">{{ row.priceExVat | currency }}</td>
              <td class="right">{{ row.vatPercent }} %</td>
              <td class="right">{{ row.total | currency }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="total">
              <td style="border-top: none; border-bottom: none;"></td>
              <td>Yhteensä ALV 0%:</td>
              <td colspan="4" class="right">{{ $ctrl.current.header.totalExVat | currency }}</td>
            </tr>
            <tr>
              <td style="border-top: none; border-bottom: none;"></td>
              <td>ALV Yhteensä:</td>
              <td colspan="4" class="right">{{ $ctrl.current.header.total - $ctrl.current.header.totalExVat | currency }}</td>
            </tr>
            <tr class="total">
              <td style="border-top: none; border-bottom: none;"></td>
              <td>Maksettava yhteensä:</td>
              <td colspan="4" class="right">{{ $ctrl.current.header.total | currency }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>