<div class="salaxy-component salaxy-invoice-list">
  <div ng-if="$ctrl.mode != 'panel'">
    <salaxy-odata-table crud-controller="InvoiceCrudController as $crud" options="$ctrl.getListOptions()" template-url="salaxy-components/odata/lists/Invoices.html">
    </salaxy-odata-table>
  </div>
  <salaxy-odata-table ng-if="$ctrl.mode == 'panel'" crud-controller="InvoiceCrudController as $crud" options="$ctrl.getListOptions()"
    template-url="salaxy-components/odata/lists/InvoicesPanel.html">
  </salaxy-odata-table>
</div>