<table class="table">
  <thead>
    <tr>
      <th colspan="2">Saaja ja laskun tyyppi</th>
      <th>Tulossa maksuun</th>
      <th class="right">
        Laskun päivä<br />
        Eräpäivä
      </th>
      <th class="right">
        Laskun summa
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.invoices" ng-class="{ 'success': $ctrl.getDueDateType(row) == 'default' }">
      <td class="td-avatar middle">
        <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="row.invoice.otherPartyInfo.avatar"></salaxy-avatar>
      </td>
      <td class="middle">
        {{ row.invoice.otherPartyInfo.avatar.sortableName }}<br>
        <small class="hidden-xxs">{{row.invoice.shortText}}</small>
      </td class="middle">
      <td class="middle">
        <div ng-switch="$ctrl.getDueDateType(row)">
          <span ng-switch-when="preview" class="disabled">Maksu luodaan myöhemmin</span>
          <span ng-switch-when="zero" class="disabled">Ei maksua: Merkitään suoraan maksetuksi.</span>
          <span ng-switch-when="estimation">{{ row.invoice.otherPartyInfo.avatar.sortableName }} lähettää laskun</span>
          <span ng-switch-when="forecast">{{ row.invoice.otherPartyInfo.avatar.sortableName }} lähettää laskun</span>
          <strong ng-switch-when="default">Maksetaan nyt</strong>
        </div>
        <div ng-if="row.invoice.businessObjects.length > 1">
          Palkkoja yhteensä {{ row.invoice.businessObjects.length }}
        </div>
      </td>
      <td class="middle right">
        <div>{{ row.invoice.startAt | sxyDate }}</div>
        <div ng-switch="$ctrl.getDueDateType(row)">
          <span ng-switch-when="estimation">{{ ("SALAXY.UI_TERMS.monthShort" + (row.invoice.endAt  | date: 'M')) | sxyTranslate }}kuussa</span>
          <span ng-switch-when="zero">-</span>
          <span ng-switch-when="preview">{{ row.invoice.endAt | sxyDate }}</span>
          <span ng-switch-when="forecast">{{ row.invoice.endAt | sxyDate }}</span>
          <span ng-switch-when="default">{{ row.invoice.endAt | sxyDate }}</span>
        </div>
      </td>
      <td class="middle right">
        <strong>{{ row.invoice.payment | currency }}</strong>
      </td>
    </tr>
  </tbody>
</table>