<div class="salaxy-component salaxy-invoice-tools">
  <div class="btn-toolbar" role="toolbar" aria-label="Invoice options">
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="invoiceOptionsFileType" type="button" class="btn btn-primary" uib-dropdown-toggle >
        <i class="fa " ng-class="$ctrl.getFileType($ctrl.fileTypeId).icon"></i>&nbsp;{{$ctrl.getFileType($ctrl.fileTypeId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="invoiceOptionsFileType">
        <li role="menuitem" ng-repeat="fileType in $ctrl.fileTypes"><a href="" ng-click="$ctrl.fileTypeId = fileType.id"><i class="fa " ng-class="$ctrl.getFileType(fileType.id).icon"></i>&nbsp;{{$ctrl.getFileType(fileType.id).label}}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button ng-disabled="$ctrl.reader.disabled()" id="reportExport" type="button" class="btn btn-default" ng-click="$ctrl.export()">
        {{ ($ctrl.reader.exportLabel || 'Luo aineisto') | sxyTranslate }}  
      </button>
    </div>
  </div>
</div>