<div class="salaxy-component salaxy-invoices-create">
  <div ng-if="!$ctrl.currentType" class="alert alert-error">Error: {{ $ctrl.current ? "Invalid object" : "No object" }} bound in InvoicesCreateController</div>
  <div ng-if="$ctrl.currentType">
    <div ng-switch="$ctrl.uiStatus">
      <div ng-switch-when="invalid">
        <salaxy-validation-summary api-validation="$ctrl.current.result.validation">
          <div class="alert alert-danger">
            Verokortti puuttuu tai muu laskelmavirhe. Tarkista laskelma!
          </div>
        </salaxy-validation-summary>
      </div>
      <div ng-switch-when="loading">
        <salaxy-spinner heading="Ladataan maksutietoja..."></salaxy-spinner>
      </div>
      <div ng-switch-when="created" ng-switch="$ctrl.paymentStatus">
        <p class="lead" ng-switch-when="invoicesCreated">
          Palkoista on jo luotu alustavat laskut. Laskuja ei ole vielä lähetetty maksuun.
          <strong>Lähetä laskut maksuun klikkaamalla "Lähetä maksuun"-nappia</strong>
        </p>
        <p class="lead" ng-switch-when="inProgress">
          <strong>Laskujen maksu aloitettu:</strong> Laskujen tilan näet alla olevasta listasta.
        </p>
        <div class="alert alert-success" ng-switch-when="paid">Laskut on maksettu.</div>
        <div class="alert alert-danger" ng-switch-when="exceptions">
          Laskuissa on virheitä. Tarkista tilanne laskukohtaisesti alta.
        </div>
        <div class="alert alert-danger" ng-switch-when="canceled">
          Laskuja on peruttu. Tarkista tilanne laskukohtaisesti alta.
        </div>
        <ng-include src="'salaxy-components/invoices/InvoicesCreate_Table.html'"></ng-include>
      </div>
      <div ng-switch-when="zeroPayment">
        <div sxy-html="SALAXY.NG1.InvoicesCreate.PaymentChannel.zeroPayment.introWhenValid"></div>
        <ng-include src="'salaxy-components/invoices/InvoicesCreate_Table.html'"></ng-include>
      </div>
      <div ng-switch-when="supportedChannel">
        <div sxy-html="SALAXY.NG1.InvoicesCreate.PaymentChannel.{{$ctrl.channel}}.intro"></div>
        <ng-include src="'salaxy-components/invoices/InvoicesCreate_Table.html'"></ng-include>
      </div>
      <div ng-switch-when="undefined">
        <div class="alert alert-error">Maksutapaa ei ole valittu. Valitse maksutapa laskelmassa/palkkalistassa.</div>
      </div>
      <div ng-switch-default>
        <div class="alert alert-error">Maksutapaa ei ole valittu. Valitse maksutapa laskelmassa/palkkalistassa.</div>
      </div>
    </div>
  </div>
</div>