<main class="salaxy-content sxytpl-invoices-list">
  <section ng-controller="PaymentChannelController as $ctrl" ng-init="$ctrl.model = 'url'">
    <div ng-if="$ctrl.channel">
      <salaxy-avatar class="salaxy-calc-row-type-avatar salaxy-input-enum-avatar pull-left" avatar="$ctrl.getChannelAvatar()"></salaxy-avatar>
      <div class="salaxy-input-enum-text"><strong>{{"PaymentChannel." + $ctrl.channel | sxyEnum}}</strong></div>
      <div class="salaxy-input-enum-title">{{ "PaymentChannel." + $ctrl.channel | sxyEnumDescr }}</div>
      <uib-tabset>
        <uib-tab index="'default'" heading="Esikatselu">
          <salaxy-spinner ng-if="!$ctrl.current && $ctrl.isLoading"></salaxy-spinner>
          <salaxy-payment-channel-invoice-preview ng-if="$ctrl.current" model="$ctrl"></salaxy-payment-channel-invoice-preview>
        </uib-tab>
        <uib-tab ng-if="'test' | sxyIsInRole" index="'actions'" heading="Toiminnot">      
          <div class="alert alert-danger" ng-if="!$ctrl.isLoading && !$ctrl.current">Laskua ei löydy</div>
          <form ng-if="$ctrl.current" ng-submit="$ctrl.updateStatus()">
            <div class="form-horizontal">
              <h2>Päivitä status</h2>
              <p>Testilomake statuksen päivitykseen. Alta voit myös poistaa laskun.</p>
              <salaxy-input name="statusId" ng-model="$ctrl.statusData.id" label="Id" disabled="true"></salaxy-input>
              <salaxy-input name="statusExternalId" ng-model="$ctrl.statusData.externalId" label="ID maksukanavassa"></salaxy-input>
              <salaxy-input-enum label="Maksun tila" name="statusStatus" ng-model="$ctrl.statusData.status" enum="InvoiceStatus" required></salaxy-input-enum>
              <salaxy-input-date name="statusDate" ng-model="$ctrl.statusData.date" label="Maksupäivä"></salaxy-input-date>
              <salaxy-input-number name="statusAmount" ng-model="$ctrl.statusData.amount" label="Maksettu summa"></salaxy-input-number>
              <salaxy-input name="statusReceiverFullName" ng-model="$ctrl.statusData.receiverFullName" label="Vastaanottajan nimi"></salaxy-input>
              <salaxy-input name="statusReceiverIban" ng-model="$ctrl.statusData.receiverIban" label="Vastaanottajan tilinumero"></salaxy-input>
              <salaxy-input name="statusReferenceNumber" ng-model="$ctrl.statusData.referenceNumber" label="Viitenumero"></salaxy-input>
            </div>
            <div>
              <button type="submit" class="btn btn-primary pull-right">Päivitä status</button>
              <button type="button" ng-click="$ctrl.delete()" class="btn btn-danger">Poista lasku</button>
            </div>
          </form>
        </uib-tab>
        <uib-tab ng-if="'test' | sxyIsInRole" index="'debug'" heading="Debug">
          <salaxy-json-formatter  ng-if="$ctrl.current" json="$ctrl.current" open="1"></salaxy-json-formatter>
        </uib-tab>
    </div>
    <div ng-if="!$ctrl.channel && !$ctrl.isLoading">
      <div class="alert alert-danger">Käyttäjätilillä ei ole omaa maksukanavaa</div>
    </div>
  </section>
</main>