<main class="salaxy-content sxytpl-payment-channel">
  <section ng-controller="PaymentChannelController as $ctrl">
    <div ng-if="$ctrl.channel">
      <salaxy-avatar class="salaxy-calc-row-type-avatar salaxy-input-enum-avatar pull-left" avatar="$ctrl.getChannelAvatar()"></salaxy-avatar>
      <div class="salaxy-input-enum-text"><strong>{{"PaymentChannel." + $ctrl.channel | sxyEnum}}</strong></div>
      <div class="salaxy-input-enum-title">{{ "PaymentChannel." + $ctrl.channel | sxyEnumDescr }}</div>
      <uib-tabset>
        <uib-tab index="'odata'" heading="All items">
          <salaxy-odata-table crud-controller="PaymentChannelController as $crud" options="{ $orderby: 'endAt desc'}" template-url="salaxy-components/odata/lists/Invoices.html">
          </salaxy-odata-table>
        </uib-tab>
        <uib-tab index="'fullData'" heading="Unread items">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2">Payer</th>
                  <th colspan="2">
                    Receiver<br />
                    Payment type
                  </th>
                  <th class="right">
                    Date<br />
                    Due date
                  </th>
                  <th class="right">
                    Created<br />
                    Updated
                  </th>
                  <th class="right">Payment</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in $ctrl.unreadInvoices">
                  <td class="td-avatar middle">
                    <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="item.payer.avatar"></salaxy-avatar>
                  </td>
                  <td class="middle">
                    {{ item.payer.avatar.displayName }}<br>
                    <small class="hidden-xxs">{{ item.payer.officialId }}, {{ item.payer.partnerKey }}</small>
                  </td class="middle">
                  <td class="td-avatar middle">
                    <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="item.recipient.beneficiary.avatar"></salaxy-avatar>
                  </td>
                  <td class="middle">
                    {{ item.recipient.beneficiary.avatar.displayName }}<br>
                    <small class="hidden-xxs">{{ item.header.message }}</small>
                  </td class="middle">
                  <td class="middle right">
                    {{ item.header.date | sxyDate }}<br />
                    {{ item.header.dueDate | sxyDate }}
                  </td>
                  <td class="right">
                    {{ item.createdAt | sxyDate }}<br />
                    {{ item.updatedAt | sxyDate }}
                  </td>
                  <td class="middle right">
                    {{ item.header.total | currency }}
                  </td>
                  <td class="middle right">
                    <a ng-href="#/payment-channel/details/{{ item.id }}" class="btn btn-primary">
                      {{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div ng-if="!$ctrl.channel">
      <div class="alert alert-danger">Käyttäjätilillä ei ole omaa maksukanavaa</div>
    </div>
  </section>
</main>