﻿<div class="salaxy-component salaxy-employment-taxcards">
  <div ng-if="!$ctrl.current">
    <div class="alert alert-warning" ng-if="!$ctrl.employmentId">
      <p sxy-text="SALAXY.NG1.WorkerTaxCardsComponent.instruction"></p>
    </div>
    <salaxy-spinner ng-if="$ctrl.employmentId"></salaxy-spinner>
  </div>
  <div ng-if="$ctrl.current">
    <div class="alert alert-warning" ng-if="!$ctrl.current.personalId">
      <p>Error: No employment / account found</p>
    </div>
    <div ng-if="$ctrl.current.waitingApproval">
      <h3 sxt-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.title"></h3>
      <div ng-if="!$ctrl.current.waitingApproval.fullCard" class="alert alert-danger">
        <div class="pull-right" style="width: 160px; margin-left: 10px">
          <button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.showApproveShared()"
            sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.approveBtnLong"></button>
          <button class="btn btn-danger btn-block" type="button" ng-click="$ctrl.rejectShared()"><span
              sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.rejectBtnLong"></span> <span class="small"
              sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.rejectBtnSpan"></span></button>
        </div>
        <p>
          <span sxy-html="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.notFullCard.alertText.html"
            params="{name: $ctrl.current.waitingApproval.owner.displayName}"></span>



          <strong>

            {{ $ctrl.current.waitingApproval.createdAt | sxyDate }}
          </strong> ({{ "TaxcardKind." + $ctrl.current.waitingApproval.kind | sxyEnum }})
          <span sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.notFullCard.alertText.span2"></span>

          <span ng-if="$ctrl.current.waitingApproval.isRelationUnconfirmed" sxy-html="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.notFullCard.alertTextUnconfirmed.html">
          </span>
        </p>
        <div class="clearfix"></div>
      </div>
      <div ng-if="$ctrl.current.waitingApproval.fullCard">
        <div class="alert alert-danger">
          <div class="pull-right">
            <button class="btn btn-danger" type="button" ng-click="$ctrl.rejectShared()" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.rejectBtn"></button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.approveShared()" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.approveBtn"></button>
          </div>
          <p sxy-html="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.fullCard.alertText.html" params="{name: $ctrl.current.waitingApproval.owner.displayName}">
          </p>
        </div>
        <salaxy-taxcard-details model="$ctrl.current.waitingApproval.fullCard" hide-buttons="true"></salaxy-taxcard-details>
        <div class="text-right">
          <button class="btn btn-danger" type="button" ng-click="$ctrl.rejectShared()" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.rejectBtn"></button>
          <button class="btn btn-primary" type="button" ng-click="$ctrl.approveShared()" sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.approveBtn"></button>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.mode != 'list'">
      <h3 sxy-text="SALAXY.NG1.WorkerDetailsComponent.currentTaxCard"></h3>
      <salaxy-taxcard-details model="$ctrl.current.active" personal-id="$ctrl.current.personalId" on-save="$ctrl.reload()"></salaxy-taxcard-details>
    </div>
    <div class="row form-horizontal" sxy-if-role="test">
      <div class="col-xs-8">
        <salaxy-datepicker-popup name="today" ng-model="$ctrl.today" label="Maksupäivän testaus" ng-change=""></salaxy-datepicker-popup>
      </div>
      <div class="col-xs-4">
        <button type="button" class="btn btn-primary" style="margin-top: 7px;" ng-click="$ctrl.reload()">Vaihda (TEST)</button>
      </div>
    </div>
    <div ng-if="$ctrl.mode != 'active' && $ctrl.list.length > 0">
      <h3 ng-if="$ctrl.mode != 'list'" sxy-text="SALAXY.NG1.WorkerDetailsComponent.historyTaxCard"></h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="th-xxs">
                <span sxy-text="SALAXY.NG1.WorkerTaxCardsComponent.type"></span>
                <span class="visible-xs visible-sm" sxy-text="SALAXY.NG1.WorkerDetailsComponent.taxPercent"></span>
                <span class="visible-xs visible-sm" sxy-text="SALAXY.NG1.WorkerTaxCardsComponent.percentAfterIncomeLimit"></span>
              </th>
              <th class="hidden-xs hidden-sm">Vuosi</th>
              <th class="hidden-xs hidden-sm tax-percentage right" sxy-text="SALAXY.NG1.WorkerDetailsComponent.taxPercent"></th>
              <th class="th-xxs salaries-paid right">
                <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.salariesPaid"></span>
                <span class="visible-xs visible-sm" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.incomeLimit"></span>
              </th>
              <th class="hidden-xs hidden-sm income-limit right">
                <span sxy-text="SALAXY.NG1.WorkerTaxCardsComponent.incomeLimit"></span><br /><span sxy-text="SALAXY.NG1.WorkerTaxCardsComponent.incomeLimitSpan"></span>

              </th>
              <th class="th-xxs right">
                Voimassa<br /> Otettu käyttöön
              </th>
              <th></th>
              <th sxy-if-role="test,admin"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="taxCard in $ctrl.list">
              <td>
                <span class="visible-xs visible-sm">
                  <i>{{ "TaxcardKind." + taxCard.data.kind | sxyEnum }} {{ taxCard.data.forYear }}</i>
                  {{taxCard.data.taxPercent}} %
                  <span ng-if="taxCard.data.taxPercent2 != null">({{ taxCard.data.taxPercent2 }} %)</span>
                </span>
                <span class="hidden-xs hidden-sm">
                  <b>{{ "TaxcardKind." + taxCard.data.kind | sxyEnum }}</b><br />
                  {{ "TaxcardState." + taxCard.status | sxyEnum }}
                </span>
              </td>
              <td class="hidden-xs hidden-sm">{{ taxCard.data.forYear }}</td>
              <td class="hidden-xs hidden-sm tax-percentage right">{{taxCard.data.taxPercent}} %</td>
              <td class="salaries-paid right">
                {{ taxCard.data.totalIncome | currency: ' €' : 0 }}
                <span class="visible-xs visible-sm">{{(taxCard.data.incomeLimit | currency: ' €' : 0) || '-'}}</span>
              </td>
              <td class="hidden-xs hidden-sm income-limit right">
                {{(taxCard.data.incomeLimit | currency: '€' : 0) || '-'}}<br />
                <span>{{taxCard.data.taxPercent2 != null ? (taxCard.data.taxPercent2 + ' %') : '-'}}</span>
              </td>
              <td class="right">
                <span ng-class="$ctrl.getInfo(taxCard).classes">{{$ctrl.getInfo(taxCard).text}}</span>
                <br /> {{ taxCard.data | sxyDateRange }}<br /> {{ taxCard.createdAt | sxyDate }}
              </td>
              <td class="middle-align">
                <span ng-if="!taxCard.isReadOnly && $ctrl.getInfo(taxCard).code != 'latestRejected'">
                  <button class="btn btn-danger btn-sm" ng-click="$ctrl.deleteTaxCard(taxCard.id)">
                    <span class="hidden-xs" sxy-text="SALAXY.UI_TERMS.delete"></span>
                    <span class="visible-xs">&times;</span>
                  </button>
                </span>
                <button class="btn btn-default btn-sm" ng-click="$ctrl.showApproveRejected(taxCard)" ng-if="$ctrl.getInfo(taxCard).code == 'latestRejected'"
                  sxy-text="SALAXY.NG1.EmploymentTaxcardsComponent.waitingApproval.approveBtn"></button>
              </td>
              <td class="middle-align" sxy-if-role="test,admin,pro">
                <a type="button" class="edit btn btn-sm btn-primary" href="#/taxcards/details/{{taxCard.id}}"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>