<div name="taxCardFile" ng-model="taxCardFile" ngf-drop="$ctrl.uploadTaxCard($file)" 
  ngf-select="$ctrl.uploadTaxCard($file)" class="salaxy-drop-box" ngf-drag-over-class="'salaxy-drag-over'" 
  ngf-multiple="false" ngf-min-size="5KB" ngf-max-size="10MB"
  ngf-pattern="'image/*,application/pdf'" ngf-model-invalid="invalidFile" ng-class="invalidFile.$error != null ? 'error' : ''"
  ng-required="$ctrl.addNewUi.upload == 'required'">
  <span ng-if="$ctrl.uploadProgress && $ctrl.uploadProgress != 100">
    <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.loading"></span> {{ $ctrl.uploadProgress }}% ladattu
  </span>
  <span ng-if="$ctrl.uploadProgress == 100" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.progressPreview"></span>
  <span class="text-danger" ng-if="$ctrl.getInvalidFileDescription(invalidFile)">{{$ctrl.getInvalidFileDescription(invalidFile)}}</span>
  <span ng-if="!$ctrl.uploadProgress && !$ctrl.current.card.fileUri" sxy-html="SALAXY.NG1.CurrentTaxCardComponent.uploadTaxCard.html"></span>
  <span ng-if="!$ctrl.uploadProgress && $ctrl.current.card.fileUri">
    <img class="img-responsive" ng-src="{{$ctrl.getUploadPreviewUrl($ctrl.current)}}" />
  </span>
</div>