<div class="salaxy-component salaxy-taxcard-details">
  <form name="$ctrl.editForm">
    <div ng-if="$ctrl.getMode() == 'pro'" ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_Pro.html'"></div>
    <div ng-if="$ctrl.getMode() == 'new'" ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_New.html'"></div>
    <div ng-if="$ctrl.getMode() == 'default'" ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_Info.html'"></div>
    <div ng-if="$ctrl.getMode() == 'null'" class="salaxy-placeholder-empty placeholder-md text-center">
      <div>
        <h4 sxy-text="SALAXY.NG1.CurrentTaxCardComponent.noTaxCardAddedWorker" ng-if="$ctrl.employmentId == 'self'"></h4>
        <h4 sxy-text="SALAXY.NG1.CurrentTaxCardComponent.noTaxCardAdded" ng-if="$ctrl.employmentId != 'self'"></h4>
      </div>
      <button class="btn btn-primary" ng-click="$ctrl.showAddNew()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.addTaxCard"></button>
      <button class="btn btn-default" ng-click="$ctrl.chooseNoTaxCard()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.chooseNoTaxCard"></button>
    </div>
    <div ng-if="$ctrl.getMode() == 'no-personal-id'" class="alert alert-danger" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.noPersonalIdError">
      VIRHE: Uuden verokortin lisääminen vaatii henkilötunnuksen.
    </div>
  </form>
</div>