<div>
  <div ng-if="$ctrl.isTaxCardExpired($ctrl.current)" class="salaxy-placeholder-empty placeholder-md placeholder-danger text-center">
    <h4 sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardExpired"></h4>
    <button class="btn btn-primary" ng-if="!$ctrl.hideButtons" ng-click="$ctrl.showAddNew()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.newTaxCard"></button>
    <button class="btn btn-default" ng-if="!$ctrl.hideButtons" ng-click="$ctrl.chooseNoTaxCard()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.chooseNoTaxCard"></button>
  </div>
  <div class="row">
    <div class="col-md-7 col-lg-7" ng-switch="$ctrl.chartType">
      <div ng-switch-when="full" class="salaxy-tax-card-chart chart-container">
        <canvas id="line" class="chart chart-line" chart-data="$ctrl.mainChartData.data" chart-dataset-override="$ctrl.mainChartData.datasets" chart-labels="$ctrl.mainChartData.labels" chart-fill="$ctrl.mainChartData.fill" chart-colors="$ctrl.mainChartData.colors"
          chart-options="$ctrl.mainChartData.options"></canvas>
      </div>
      <div ng-switch-when="pie" class="salaxy-tax-card-chart chart-container">
        <canvas width="100%" id="pie" class="chart chart-pie" chart-data="$ctrl.pieChartData.data" chart-dataset-override="$ctrl.pieChartData.datasets" chart-labels="$ctrl.pieChartData.labels" chart-fill="$ctrl.pieChartData.fill" chart-colors="$ctrl.pieChartData.colors"
          chart-options="$ctrl.pieChartData.options" legend="true"></canvas>
      </div>
      <div ng-switch-when="preview">
        <p class="text-center" sxy-html="SALAXY.NG1.CurrentTaxCardComponent.detailsInfo.loadedByWorker.html"></p>
        <div ng-if="$ctrl.current.card.kind == 'auto'">
          <div class="alert alert-info text-center" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.detailsInfo.auto"></div>
        </div>
        <div ng-if="$ctrl.current.card.kind != 'auto'">
          <div class="alert alert-warning text-center" ng-if="!$ctrl.getTaxcardPreviewUrl()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.detailsInfo.noFileUploaded"></div>
          <div ng-if="$ctrl.getTaxcardPreviewUrl()" class="document-preview-no-height text-center">
            <img ng-src="{{ $ctrl.getTaxcardPreviewUrl() }}" class="img-responsive" style="display: inline;" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-5">
      <div class="row current-taxcard-row table-row">
        <div class="col-xs-12">
          <div class="btn-group pull-right">
            <a ng-if="$ctrl.getTaxcardPreviewUrl($ctrl.current)" ng-href="{{$ctrl.getTaxcardPreviewUrl($ctrl.current)}}" target="_blank" class="btn btn-xs btn-default" sxy-text="SALAXY.NG1.UiTerms.open"></a>
            <a ng-if="$ctrl.getTaxcardDownloadUrl($ctrl.current)" ng-href="{{$ctrl.getTaxcardDownloadUrl($ctrl.current)}}" target="_blank" class="btn btn-xs btn-default" sxy-text="SALAXY.NG1.UiTerms.download"></a>
          </div>
          <strong sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardKind"></strong><br /> {{ 'TaxcardKind.' + $ctrl.current.card.kind | sxyEnum }} ({{$ctrl.current.card.forYear}})
        </div>
      </div>
      <div class="row current-taxcard-row table-row">
        <div class="col-xs-8">
          <strong sxy-text="SALAXY.NG1.CurrentTaxCardComponent.validDate"></strong><br />
          {{$ctrl.current.card.validity.start | date}} - {{$ctrl.current.card.validity.end | date}}
        </div>
        <div class="col-xs-4 text-right">
          <strong sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardAdded"></strong><br />
          <span title="{{ $ctrl.current.createdAt | date : 'short' }}">{{ $ctrl.current.createdAt | sxyDate }}</span>
        </div>
      </div>
      <table class="table table-condensed" style="margin-bottom: 0; margin-top: 6px">
        <thead>
          <tr>
            <th colspan="2" style="padding-left: 0;"><span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.mainTaxPercent2"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Perusprosentti</td><td class="right">{{ $ctrl.current.card.taxPercent }} %</td></tr>
          <tr ng-if="!$ctrl.current.card.incomeLimit">
            <td colspan="2"><span>Ei tulorajaa / lisäprosenttia</span></td>
          </tr>
          <tr ng-if="$ctrl.current.card.incomeLimit">
            <td><span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxPercent2.name"></span> <small>(tulorajan {{ $ctrl.current.card.incomeLimit | currency : '€' : 0 }} jälkeen)</small></td>
            <td class="right">{{ $ctrl.current.card.taxPercent2 || "-" }} %</td>
          </tr>
          <tr>
            <td>
              <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxPercentMin.title"></span>
              <!-- TEMP disabled: Only for person -->
              <button sxy-if-role="person" type="button" class="btn btn-default btn-xs" ng-click="$ctrl.editTaxPercentMin()">Muokkaa...</button>
            </td>
            <td class="right">
              <span>{{ $ctrl.current.card.taxPercentMin || "-" }} %</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-condensed" style="margin-top: 6px" ng-if="$ctrl.current.card.incomeLimit">
        <thead>
          <tr>
            <th colspan="2" style="padding-left: 0;"><strong sxy-text="SALAXY.NG1.CurrentTaxCardComponent.incomeLimit"></strong></th>
            <th class="right">{{ $ctrl.current.card.incomeLimit | currency : '€' : 0 }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 20px;" class="text-center">-</td>
            <td>
              <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.salariesPaid"></span>
              <!-- TEMP disabled: Only for person -->
              <button sxy-if-role="person" type="button" class="btn btn-default btn-xs" ng-click="$ctrl.editIncomeLog()">Muokkaa...</button>
            </td>
            <td class="right">{{ $ctrl.current.result.totalIncome | currency }}</td>
          </tr>
          <tr ng-if="$ctrl.current.result.totalIncomeJanuary">
            <td></td>
            <td>...<span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.inJanuary"></span></td>
            <td class="right">{{ $ctrl.current.result.totalIncomeJanuary | currency }}</td>
          </tr>
          <tr>
            <td></td>
            <td><span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.inPalkkaus"></span></td>
            <td class="right">{{ $ctrl.current.result.payment | currency }}</td>
          </tr>
          <tr ng-if="$ctrl.current.result.paymentJanuary">
            <td></td>
            <td>...<span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.inJanuary"></span></td>
            <td class="right">{{ $ctrl.current.result.paymentJanuary | currency }}</td>
          </tr>
          <tr class="total">
            <td colspan="2"><span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.beforeIncomeLimit"></span></td>
            <td class="right">{{ $ctrl.current.card.incomeLimit - $ctrl.current.result.totalIncome | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 footer-buttons" ng-if="!$ctrl.isTaxCardExpired($ctrl.current) && !$ctrl.hideButtons">
      <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="$ctrl.showAddNew()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.newTaxCard"></button>
      </div>
    </div>
  </div>
</div>