<div class="salaxy-calc-worker-info row" ng-if="$ctrl.status !== 'initialLoading'">
  <div class="col-xs-3 col-sm-2 col-xxs-3 ">
    <salaxy-avatar avatar="$ctrl.current.worker"></salaxy-avatar>
  </div>
  <div class="col-xs-9 col-sm-10 col-xxs-9 worker-info-col">
    <button class="btn btn-primary pull-right" ng-click="$ctrl.save()" ng-disabled="!$ctrl.hasChanges" sxy-text="SALAXY.UI_TERMS.save"></button>
    <button class="btn btn-default pull-right" ng-click="$ctrl.showAddNew()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.newTaxCard"></button>
    <h2>{{ $ctrl.current.worker.displayName || ('SALAXY.NG1.WorkerInfo.noSelection'| sxyTranslate) }}</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
        <span ng-if="!$ctrl.current.card.personalId" sxy-text="SALAXY.NG1.PaymentDialogComponent.noSSNumber" class="text-danger"></span>
        <span ng-if="$ctrl.current.card.personalId">{{ $ctrl.current.card.personalId }}</span>
      </div>
    </div>
  </div>
</div>
<hr />
<div ng-if="$ctrl.current">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-horizontal">
        <salaxy-input-enum label="SALAXY.NG1.WorkerDetailsComponent.taxCard.cardType" ng-required="true" name="kind" enum="TaxcardKind" ng-model="$ctrl.current.card.kind">
        </salaxy-input-enum>
        <salaxy-input-number label="Vuosi" name="year" ng-model="$ctrl.current.card.forYear" require="true"></salaxy-input-number>
        <salaxy-datepicker-popup name="validityStart" ng-model="$ctrl.current.card.validity.start" popup-placement="bottom" require="true" label="SALAXY.NG1.CurrentTaxCardComponent.validFromDate2">
        </salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="validityEnd" ng-model="$ctrl.current.card.validity.end" popup-placement="bottom" require="true" label="SALAXY.NG1.CurrentTaxCardComponent.validTillDate"></salaxy-datepicker-popup>
        <salaxy-input-number label="SALAXY.NG1.CurrentTaxCardComponent.mainTaxPercent" name="taxPercent" ng-model="$ctrl.current.card.taxPercent" require="true" sxy-tax-percent></salaxy-input-number>
        <salaxy-input-number name="incomeLimit" label="SALAXY.NG1.CurrentTaxCardComponent.incomeLimit2" ng-model="$ctrl.current.card.incomeLimit" sxy-currency></salaxy-input-number>
        <salaxy-input-number name="taxPercent2" label="SALAXY.NG1.CurrentTaxCardComponent.taxPercent2.name" ng-model="$ctrl.current.card.taxPercent2" sxy-tax-percent></salaxy-input-number>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <a ng-href="{{ $ctrl.getTaxcardDownloadUrl($ctrl.current) }}" ng-if="$ctrl.getTaxcardDownloadUrl($ctrl.current)" target="_blank" sxy-text="SALAXY.NG1.UiTerms.download"></a>
            </div>
            <legend style="text-align:left" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardAsFile"></legend>
            <div ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_Upload.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="alert alert-info" ng-if="$ctrl.$incomeLog.hasDiff">
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.commitDiff()" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.commitDiffBtn">Tallenna laskelmat</button>
        <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.commitDiffNote">HUOM: Työntekijälle maksetut laskelmat verokortin ajalta eroavat verokorttiin merkittyistä laskelmista. Voit päivittää muuttuneet
        laskelmat klikkaamalla "Tallenna laskelmat". Vaihtoehtoisesti voit muokata rivejä käsin.</span>
      </div>
      <salaxy-taxcard-income-log parent="$ctrl.current" editable="true" ng-ref="$ctrl.$incomeLog"></salaxy-taxcard-income-log>
    </div>
  </div>
</div>