<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row hidden-lg hidden-md hidden-sm" ng-if="$ctrl.addNewUi.showExampleTaxCard">
        <div class="col-xs-12 form-horizontal">
          <legend class="" sxy-text="Syötä nämä tiedot"></legend>
          <div class="example-img-parent" style="background-image:url('https://cdn.salaxy.com/ng1/img/taxcard/test-muutosverokortti-2019.png')">
            <div class="example-img-container" ng-class="{'zoom1' : zoomSize == 'zoom1' , 'zoom2': zoomSize == 'zoom2' , 'zoom3' : zoomSize == 'zoom3' }"><img src="https://cdn.salaxy.com/ng1/img/taxcard/test4-muutosverokortti-2019.png" class="taxcard-mockup"></div>
          </div>
          <div class="button-group zoom-buttons">
            <button id="zoom1_1" class="btn btn-xs btn-default" ng-click="zoomSize = 'zoom1'">&times;1</button>
            <button id="zoom2_1" class="btn btn-xs btn-default" ng-click="zoomSize = 'zoom2'">&times;2</button>
            <button id="zoom3_1" class="btn btn-xs btn-default" ng-click="zoomSize = 'zoom3'">&times;3</button>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12">
          <legend class="">
            <span sxy-text="SALAXY.NG1.CurrentTaxCardComponent.newTaxCardTitle">Verokortin tiedot</span>
            <button class="btn btn-primary btn-xs pull-right" sxy-if-role="test" ng-click="$ctrl.showToday=!$ctrl.showToday">test</button>
          </legend>
        </div>
      </div>
      <div class="row flex" ng-if="$ctrl.showToday">
        <div class="col-xs-offset-2 col-sm-offset-1 col-xs-10 col-sm-11">
          <salaxy-datepicker-popup name="todayTest" ng-model="$ctrl.today" popup-placement="top" ng-change="$ctrl.current.card.forYear = null;$ctrl.resetAsNew()" label-type="basic" label="TODAY: Vaihda tämä päivä"></salaxy-datepicker-popup>
        </div>
      </div>
      <div class="row flex">
        <div class="col-xs-2 col-sm-1 step-container">
          <span class="step-number" ng-show="$ctrl.current.card.kind != 'noTaxCard' && $ctrl.current.card.kind != 'noWithholdingHousehold'">1</span>
        </div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <salaxy-input-enum label="SALAXY.NG1.CurrentTaxCardComponent.taxCardKind" label-type="basic" ng-required="true" name="verokortinTyyppi" enum="TaxcardKind" type="select" ng-model="$ctrl.current.card.kind" ng-change="$ctrl.resetAsNew($ctrl.current.card.kind)"
            options="$ctrl.taxcardKindOptions" placeholder="SALAXY.NG1.CurrentTaxCardComponent.selectCardKind">
          </salaxy-input-enum>
          <p ng-show="$ctrl.current.card.kind == 'noTaxCard'" class="text-danger" style="margin-top:5px; margin-bottom:0;" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.noTaxCard.description"></p>
          <p ng-show="$ctrl.current.card.kind == 'noWithholdingHousehold'" class="text-danger" style="margin-top:5px; margin-bottom:0;" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.noWithholdingHousehold.description"></p>
          <div class="form-horizontal" ng-if="$ctrl.addNewUi.yearsAllowed">
            <salaxy-form-group label="SALAXY.NG1.CurrentTaxCardComponent.year" ng-required="true" name="year" label-cols="col-sm-7">
              <select ng-model="$ctrl.current.card.forYear" class="form-control" ng-options="i for i in $ctrl.addNewUi.yearsAllowed" ng-change="$ctrl.yearChanged()"></select>
            </salaxy-form-group>
          </div>
        </div>
      </div>
      <div class="row flex ng-scope" ng-if="$ctrl.addNewUi.upload == 'required'">
        <div class="col-xs-2 col-sm-1 step-container"></div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <label style="text-align:left" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardAsFile" ps="*"></label>
          <p sxy-text="SALAXY.NG1.CurrentTaxCardComponent.fileUploadRequired">
            Verokortin lataaminen on pakollista, jotta työnantaja voi tarkistaa verokortin ennen palkan maksamista.
          </p>
          <div ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_Upload.html'"></div>
        </div>
      </div>
      <div class="row flex" ng-if="$ctrl.addNewUi.showTaxPercent">
        <div class="col-xs-2 col-sm-1 step-container">
          <span class="step-number" ng-show="!$ctrl.addNewUi.readonly">2</span>
        </div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <salaxy-input label="SALAXY.NG1.CurrentTaxCardComponent.mainTaxPercent3" name="veroprosentti" label-cols="col-sm-7" ng-model="$ctrl.current.card.taxPercent" disabled="$ctrl.addNewUi.readonly" require="true" sxy-tax-percent></salaxy-input>
        </div>
      </div>
      <div class="row flex" ng-show="$ctrl.addNewUi.showIncomeLimit">
        <div class="col-xs-2 col-sm-1 step-container" ng-show="!$ctrl.addNewUi.readonly">
          <span class="step-number">3</span>
        </div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <salaxy-input name="tuloraja" label="SALAXY.NG1.CurrentTaxCardComponent.incomeLimit2" ng-model="$ctrl.current.card.incomeLimit" maxlength="10" label-cols="col-sm-7" ng-required="$ctrl.addNewUi.requireIncomeLimit || $ctrl.current.card.taxPercent2" sxy-currency></salaxy-input>
        </div>
      </div>
      <div class="row flex" ng-show="$ctrl.addNewUi.showIncomeLimit">
        <div class="col-xs-2 col-sm-1 step-container" ng-show="!$ctrl.addNewUi.readonly">
          <span class="step-number">4</span>
        </div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <salaxy-input name="lisaveroprosentti" label="SALAXY.NG1.CurrentTaxCardComponent.taxPercent2.name" label-cols="col-sm-7" ng-model="$ctrl.current.card.taxPercent2" ng-required="$ctrl.addNewUi.requireIncomeLimit  || $ctrl.current.card.incomeLimit" sxy-tax-percent></salaxy-input>
        </div>
      </div>
      <div class="row flex" ng-show="$ctrl.current.card.kind =='defaultYearly' || $ctrl.current.card.kind == 'replacement'">
        <div class="col-xs-2 col-sm-1 step-container" ng-show="!$ctrl.addNewUi.readonly">
          <span class="step-number">5</span>
        </div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <salaxy-form-group label-cols="col-sm-5" label="SALAXY.NG1.CurrentTaxCardComponent.validDate" name="validityStart" class="salaxy-read-only">
            <div class="salaxy-read-only-value text-right">{{ $ctrl.current.card.validity.start | date : "dd.MM.yyyy" }} – {{ $ctrl.current.card.validity.end | date : "dd.MM.yyyy" }}</div>
          </salaxy-form-group>
        </div>
      </div>
      <div class="row flex" ng-if="$ctrl.addNewUi.startDateOptions">
        <div class="col-xs-2 col-sm-1 step-container" ng-show="!$ctrl.addNewUi.readonly">
          &nbsp;
        </div>
        <div class="col-xs-10 col-sm-11 form-horizontal">
          <salaxy-datepicker-popup name="voimaantuloPvm" ng-model="$ctrl.current.card.validity.start" popup-placement="bottom" datepicker-options="$ctrl.addNewUi.startDateOptions" label-cols="col-sm-7" require="true" label="SALAXY.NG1.CurrentTaxCardComponent.validFromDate2"></salaxy-datepicker-popup>
        </div>
      </div>
      <div class="row" ng-show="$ctrl.current.card.kind =='auto'">
        <div class="col-xs-offset-2 col-sm-offset-1 col-xs-10 col-sm-11 form-horizontal" ng-init="$ctrl.temp.incomeTypeLabel = 'Palkkaa'">
          <salaxy-input name="incomeType" label="Verokortin tulolaji" tooltip-html="Alkuvaiheessa käytössä on vain palkkalaji 'Palkkaa' (24). Jos työntekijällä on erillinen verokortti esim. käyttökorvaukseen, työkorvaukseen tai kertatuloon, se tulee syöttää käsin."
            ng-model="$ctrl.temp.incomeTypeLabel" tooltip-placement="top-right" label-cols="col-sm-7" disabled="true"></salaxy-input>
        </div>
      </div>
      <div class="row" ng-show="$ctrl.addNewUi.showPreviousSalariesPaid">
        <div class="col-xs-offset-2 col-sm-offset-1 col-xs-10 col-sm-11 form-horizontal">
          <salaxy-input name="previousSalariesRow" label="SALAXY.NG1.CurrentTaxCardComponent.previousSalariesForTaxCard.label" ng-model="$ctrl.previousSalariesRow.income" tooltip-html="{{'SALAXY.NG1.CurrentTaxCardComponent.previousSalariesForTaxCard.tooltip' | sxyTranslate}}"
            tooltip-placement="top-right" label-cols="col-sm-7" sxy-currency></salaxy-input>
        </div>
      </div>
      <div ng-if="$ctrl.addNewUi.upload == 'show'" class="hidden-lg hidden-md hidden-sm">
        <div class="row">
          <div class="col-xs-12  form-horizontal">
            <legend style="text-align:left" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardAsFile"></legend>
            <div ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_Upload.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="row" ng-if="$ctrl.addNewUi.showExampleTaxCard">
        <div class="col-xs-12 form-horizontal">
          <legend class="" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.exampleTaxCardFileTitle"></legend>
          <div class="example-img-parent" style="background-image:url('https://cdn.salaxy.com/ng1/img/taxcard/test-muutosverokortti-2019.png')">
            <div class="example-img-container" ng-class="{'zoom1' : zoomSize == 'zoom1' , 'zoom2': zoomSize == 'zoom2' , 'zoom3' : zoomSize == 'zoom3' }"><img src="https://cdn.salaxy.com/ng1/img/taxcard/test4-muutosverokortti-2019.png" class="taxcard-mockup"></div>
          </div>
          <div class="button-group zoom-buttons">
            <button id="zoom1_2" class="btn btn-xs btn-default" ng-click="zoomSize = 'zoom1'">&times;1</button>
            <button id="zoom2_2" class="btn btn-xs btn-default" ng-click="zoomSize = 'zoom2'">&times;2</button>
            <button id="zoom3_2" class="btn btn-xs btn-default" ng-click="zoomSize = 'zoom3'">&times;3</button>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.current.card.kind == 'auto'">
        <legend>Automaattinen verokortin haku</legend>
        <p>
          Palkkaus.fi-palvelussa on nyt käytössä verottajan Ennakonpidätys-rajapinta.
        </p>
        <p>
          Veroprosentit tarkistetaan automattisesti suoraan verottajalta jokaisen palkanmaksun yhteydessä, eikä sinun tarvitse enää syöttää verokortin tietoja.
        </p>
        <p class="text-danger" sxy-if-role="test"><strong>HUOM:</strong> Valitse tämä verokortti vain henkilöille, joille aiot maksaa palkkaa (ei testityöntekijöille).</p>
        <p>Verokortin haku näkyy työntekijälle ja verotietojen hakeminen ilman aietta palkanmaksuun loukkaa henkilön yksityisyyden suojaa.</p>
        <p>Alkuvaiheessa käytössä on vain palkkalaji "Palkkaa". Jos työntekijällä on erillinen verokortti esim. käyttökorvaukseen, työkorvaukseen tai kertatuloon, se tulee syöttää käsin.</p>
        <p class="strong">
          HUOM: Automaattinen verokortti on suositeltu tapa hoitaa verokorttirumba uusille työntekijöille. Voit erikoistilanteissa syöttää myös verokortin tiedot erikseen.
        </p>
      </div>
      <div ng-if="$ctrl.addNewUi.upload == 'show'">
        <div class="row">
          <div class="col-xs-12  form-horizontal">
            <legend style="text-align:left" sxy-text="SALAXY.NG1.CurrentTaxCardComponent.taxCardAsFile"></legend>
            <div ng-include="'salaxy-components/worker/taxcard/TaxcardDetails_Upload.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!$ctrl.hideButtons">
    <div class="col-xs-12 text-right">
      <button class="btn btn-primary" ng-disabled="!$ctrl.isFormValid || $ctrl.current.card.kind =='undefined'" ng-click="$ctrl.saveCheckDiff()" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
  </div>
</div>