<div class="salaxy-component salaxy-tax-cards-list">
  <div class="row form-horizontal" sxy-if-role="test" ng-init="$ctrl.today = 'today'">
    <div class="col-xs-6">
      <salaxy-datepicker-popup name="today" ng-model="$ctrl.today" label="Maksupäivä"
        ng-change=""></salaxy-datepicker-popup>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-primary" 
        ng-click="$ctrl.$odata.setUrl('/v03-rc/api/taxcards/current/' + $ctrl.today || 'null')">Vaihda maksupäivää</button>
    </div>
  </div>
  <salaxy-odata-table url="/v03-rc/api/taxcards/current/null" crud-controller="TaxcardCrudController as $crud"
    ng-ref="$ctrl.$odata"
    template-url="salaxy-components/odata/lists/Taxcards.html"></salaxy-odata-table>
</div>