<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 sxy-text="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.title">Muokkaa verokortille maksettua palkkaa</h1>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <fieldset>
        <legend>Tulorajaan vaikuttavat tiedot</legend>
        <salaxy-input-enum name="causeCode" ng-model="$ctrl.current.type" read-only="true" enum="TaxCardIncomeType" filter="externalSalaries" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.incomeType" type="select"></salaxy-input-enum>
        <salaxy-datepicker-popup name="paidAt" ng-model="$ctrl.current.paidAt" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.paymentDate"></salaxy-datepicker-popup>
        <salaxy-input-number name="income" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.taxableIncome" ng-model="$ctrl.current.income"></salaxy-input-number>
      </fieldset>
      <fieldset>
        <legend>Lisätiedot</legend>
        <salaxy-datepicker-popup name="startDate" ng-model="$ctrl.current.startDate" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.periodStart"></salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="endDate" ng-model="$ctrl.current.endDate" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.periodEnd"></salaxy-datepicker-popup>
        <salaxy-input-number name="tax" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.tax" ng-model="$ctrl.current.tax"></salaxy-input-number>
        <salaxy-input name="description" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.notes" ng-model="$ctrl.current.description"></salaxy-input>
        <salaxy-input name="id" read-only="true" label="SALAXY.NG1.TaxCardIncomeLogEditDialogComponent.calcId" ng-model="$ctrl.current.id"></salaxy-input>
      </fieldset>
      <div>
        <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.UI_TERMS.ok"></button>
        <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
        <button type="button" class="btn btn-danger" ng-click="$close('delete')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.deleteButtonText"></button>
      </div>
    </form>
  </div>
</div>