<div class="salaxy-component salaxy-taxcard-income-log">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <strong sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.addedForTaxCard">Verokortille kirjattu</strong><br />
          <span sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.salaryPeriod">Palkkakausi</span>
        </th>
        <th class="right">
          <strong sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.mainTaxPercent">Ennakonpidätys</strong><br />
          <span sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.salaryAmount">Palkkasumma</span>
        </th>
        <th ng-if="$ctrl.editable" style="width: 20px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.list" class="" ng-style="row.diff == 'removed' ? 'text-decoration: line-through' : ''" ng-class="{ 'success': row.diff == 'new', 'text-primary': row.diff == 'changed', 'text-danger': row.diff == 'removed' }">
        <td>
          <strong>
            <span ng-if="row.id && row.diff != 'removed'" sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.calculation">Laskelma</span>
            <span ng-if="row.id && row.diff == 'removed'" sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.removedCalc">Poistettu laskelma</span>
            <span ng-if="!row.id">{{ "TaxCardIncomeType." + row.type | sxyEnum }}</span ng-if="row.id">
            {{ row.paidAt | sxyDate }}
            <button ng-if="row.diff == 'new'" uib-popover="{{'SALAXY.NG1.TaxCardIncomeLogComponent.newCalcPopover'| sxyTranslate}}" popover-trigger="'mouseenter'" type="button" class="btn btn-xs btn-success" sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.newCalcBtn">Uusi!</button>
            <button ng-if="row.diff == 'changed' && row.type != 'diff'" uib-popover="{{'SALAXY.NG1.TaxCardIncomeLogComponent.taxCardChangedPopover'| sxyTranslate}}" 
              popover-trigger="'mouseenter'" type="button" class="btn btn-xs btn-primary" sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.taxCardChangedBtn">Muutos: Verokortilla</button>
            <button ng-if="row.diff == 'changed' && row.type == 'diff'" uib-popover="{{'SALAXY.NG1.TaxCardIncomeLogComponent.calcChangedPopover'| sxyTranslate}}"
              popover-trigger="'mouseenter'" type="button" class="btn btn-xs btn-primary" sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.calcChangedBtn">Muutos: Laskelmalla</button>
            <button ng-if="row.diff == 'removed'" uib-popover="{{'SALAXY.NG1.TaxCardIncomeLogComponent.calcRemovedPopover'| sxyTranslate}}" popover-trigger="'mouseenter'" type="button" class="btn btn-xs btn-danger" sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.calcRemovedBtn">Poistettu</button>
          </strong><br />
          <div class="pull-left" style="padding: 0px;">
            {{ { start: row.startDate, end: row.endDate } | sxyDateRange }}
          </div>
          <div class="truncate" style="max-width: 250px; padding: 0px;">
            &nbsp;{{ row.description }}
          </div>
        </td>
        <td class="right">
          <strong>{{ row.tax ? (row.tax | currency) : "-" }}</strong><br /> {{ row.income | currency }}
        </td>
        <td ng-if="$ctrl.editable" style="width: 20px;">
          <button type="button" class="btn btn-default" ng-if="!$ctrl.isReadOnly(row)" ng-click="$ctrl.showEditDialog(row)"><i class="fa fa-edit"></i></button>
        </td>
      </tr>
      <tr ng-if="!($ctrl.list.length > 0)">
        <td colspan="2">
          <h3 sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.noCalcsTitle">Ei maksettuja palkkoja</h3>
          <p sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.noCalcsDescription">Verokortille ei ole merkitty maksettuja palkkoja.</p>
        </td>
      </tr>
      <tr class="total">
        <td>
          <strong>
         <span sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.totalTaxes"></span> <br />
            <span sxy-text="SALAXY.NG1.TaxCardIncomeLogComponent.totalIncome"></span>
          </strong>
        </td>
        <td class="right">
          <strong>
            {{ $ctrl.getSum("tax") | currency }}<br />
            {{ $ctrl.getSum("income") | currency }}
          </strong>
        </td>
        <td ng-if="$ctrl.editable" style="width: 20px;"></td>
      </tr>
    </tbody>
  </table>
  <div class="text-right" ng-if="$ctrl.editable">
    <button type="button" class="btn btn-default" ng-click="$ctrl.showEditDialog('new')">Lisää muualla maksettu palkka</button>
  </div>
</div>