<div sxy-if-role="auth">
  <salaxy-message-thread model="'new'" role="owner" other-party-options="{ partner: 'Palkanlaskijasi' }" other-party="'partner'" mark-as-read="5">
    <header-new>
      <h2 sxy-text="SALAXY.NG1.Pages.Messages.newMessageDetails.title"></h2>
      <p class="lead" sxy-html="SALAXY.NG1.Pages.Messages.newMessageDetails.description.html">
      </p>
    </header-new>
  </salaxy-message-thread>
</div>