<div class="salaxy-component salaxy-contact-info">
  <div class="row contact-info-row">
    <div class="col-xs-12 ">
      <div class="alert alert-primary">
        <div class="icon-container hidden-xxs"><span class="icon"><i class="fa fa-question"></i></span>
        </div>
        <div class="contact-info-text" ng-if="!$ctrl.showShortContent">
          <p ng-if="!$ctrl.hideContactInfo" sxy-html="SALAXY.NG1.ContactInfoComponent.contactInfo.html"></p>
          <p sxy-html="SALAXY.NG1.ContactInfoComponent.defaultContent.html"></p>
        </div>
        <div class="contact-info-text" ng-if="$ctrl.showShortContent">
          <p sxy-html="SALAXY.NG1.ContactInfoComponent.shortContent.html"></p>
        </div>
      </div>
    </div>
  </div>
</div>