<div ng-switch="item.type">
  <div ng-switch-when="blobFile" style="min-width: 600px">
    <div ng-if="item.showPreview">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-xs" ng-click="item.showPreview=false">Sulje</button>
        <a class="btn btn-default btn-xs" ng-href="{{$ctrl.getFileInfo(item).downloadUrl}}" target="_blank">Lataa</a>
      </div>
      <div style="font-weight: bold;font-size: 1.5em;">{{ item.content }}</div>
      <img class="img-responsive img-thumbnail" ng-src="{{$ctrl.getFileInfo(item).previewUrl}}" />
    </div>
    <div ng-if="!item.showPreview">
      <div class="pull-left" style="margin-right: 10px;max-height: 100px; overflow-y:hidden;" ng-if="$ctrl.getFileInfo(item).previewUrl">
        <img ng-src="{{$ctrl.getFileInfo(item).previewUrl}}" class="img-thumbnail" style="max-width: 200px;" />
      </div>
      <i ng-if="!$ctrl.getFileInfo(item).previewUrl" class="fa {{ $ctrl.getFileInfo(item).icon }} text-primary pull-left" aria-hidden="true" style="font-size: 104px; font-weight: bold"></i>
      <div style="font-weight: bold; font-size: 1.5em;">{{ item.content }}</div>
      <div>
        <button type="button" class="btn btn-default btn-xs" ng-click="item.showPreview=true" ng-if="$ctrl.getFileInfo(item).previewUrl">Esikatsele</button>
        <a class="btn btn-default btn-xs" ng-href="{{$ctrl.getFileInfo(item).downloadUrl}}" target="_blank">Lataa</a>
      </div>
    </div>
  </div>
  <div ng-switch-when="calculation" ng-controller="CalculationCrudController as $calcCtrl" ng-init="$calcCtrl.model=item.content">
    <salaxy-spinner ng-if="$calcCtrl.isLoading"></salaxy-spinner>
    <div ng-if="$calcCtrl.current">
      <div>
        <table class="table no-border">
          <tbody>
            <tr>
              <td class="td-avatar middle">
                <salaxy-avatar avatar="$calcCtrl.current.worker.avatar"></salaxy-avatar>
              </td>
              <td class="td-name middle">
                <span ng-if="!$calcCtrl.current.worker.avatar.displayName" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
                <strong>{{$calcCtrl.current.worker.avatar.displayName}}</strong><br /> {{ "SALAXY.ENUM.CalculationStatus." + $calcCtrl.current.workflow.status + ".label" | sxyTranslate }} {{$calcCtrl.current.workflow.paidAt | date}}
              </td>
              <td class="right middle">
                Palkka: {{ $calcCtrl.current.result.totals.totalGrossSalary | currency }}<br /> Maksu: {{ $calcCtrl.current.result.employerCalc.totalPayment | currency }}
              </td>
              <td class="middle">
                <a ng-href="{{$calcCtrl.getPdfUrl($calcCtrl.current)}}" target="_blank" class="btn btn-sm btn-primary btn-block">Palkkalaskelma (PDF)</a>
              </td>
              <td class=" middle">
                <a ng-href="#/calc/details/{{ $calcCtrl.current.id }}" class="btn btn-sm btn-default btn-block">
                  {{ $calcCtrl.current.workflow.status == 'draft' ? "Muokkaa / maksa" : "Näytä laskelma" }}
                </a>
                <a ng-if="$calcCtrl.current.data.payrollId" class="btn btn-sm btn-primary btn-block" ng-href="#/payroll/details/{{ $calcCtrl.current.data.payrollId }}">
                  <i class="fa fa-list visible-xs"></i>
                  <span class="hidden-xs" sxy-text="SALAXY.NG1.CalcListComponent.payroll"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-switch-when="text">
    <div class="message-content" ng-if="!$ctrl.isInEdit">{{ item.content }}</div>
    <div ng-if="$ctrl.isInEdit">
      <textarea ng-model="item.content"></textarea>
    </div>
  </div>
  <div ng-switch-when="email">
    <div class="message-content">
      Ilmoitus sähköpostiin: <a href="mailto:{{ item.content }}">{{ item.content }}</a>
    </div>
  </div>
  <div ng-switch-default class="alert alert-danger">
    {{ item.type }}: {{ item.content }}
  </div>
  <div class="edit-toolbar btn-toolbar" role="toolbar" ng-if="$ctrl.isInEdit">
    <div class="btn-group" role="group">
      <button class="btn btn-xs btn-danger" ng-click="$ctrl.deleteMessage(item)">Poista</button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.markItemAsRead(item, true)" ng-if="!$ctrl.getReadTime(item)">Merkitse luetuksi</button>
      <button class="btn btn-xs btn-primary" ng-click="$ctrl.markItemAsRead(item, false)" ng-if="$ctrl.getReadTime(item)">Merkitse lukemattomaksi</button>
    </div>
  </div>
</div>