<div class="salaxy-component salaxy-message-thread">
  <salaxy-spinner ng-if="$ctrl.isLoading"></salaxy-spinner>
  <div ng-if="$ctrl.status == 'loadError'" class="alert alert-danger">Viestiketjun lataamisessa tapahtui virhe.</div>
  <div ng-if="$ctrl.isNew()">
    <form name="newMessageThread" ng-readonly="$ctrl.isReadOnly" class="form-horizontal">
      <ng-transclude ng-transclude-slot="headerNew">
        <h1 sxy-text="SALAXY.NG1.MessageThreadComponent.newMessage.headerTitle">Aloita uusi viestiketju</h1>
        <p class="lead" sxy-html="SALAXY.NG1.MessageThreadComponent.newMessage.headerDescription.html">

        </p>
      </ng-transclude>
      <salaxy-input name="title" label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.title" require="true" ng-model="$ctrl.current.title"></salaxy-input>
      <salaxy-input-enum name="otherParty" ng-model="$ctrl.otherParty" ng-if="$ctrl.otherPartyOptions" label="Vastaanottaja" type="select" placeholder="Valitse..." required options="$ctrl.otherPartyOptions"></salaxy-input-enum>
      <salaxy-input-enum name="msgType" ng-model="$ctrl.msgType" label="Aihe" type="radio" ng-init="$ctrl.msgType = 'salary'" options="{ salary: 'Palkanmaksu', other: 'Muu palkka-asia' }"></salaxy-input-enum>
      <salaxy-datepicker name="salaryDate" ng-model="$ctrl.current.ownerWorkflow.salaryDate" label="{{ $ctrl.msgType == 'salary' ? 'SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryDate' : 'Toivon vastausta mennessä....'}}" date-disabled="next-weekday"
        ng-required="$ctrl.msgType == 'salary'"></salaxy-datepicker>
      <salaxy-form-group label="" name="submit" class="no-colon">
        <button type="submit" class="btn btn-primary" ng-disabled="!newMessageThread.$valid" ng-click="$ctrl.save()" sxy-text="SALAXY.NG1.MessageThreadComponent.ui.newMessageThreadBtn"></button>
      </salaxy-form-group>
    </form>
  </div>
  <div ng-if="!$ctrl.isNew() && $ctrl.current">
    <ng-transclude ng-transclude-slot="header">
      <h2>
        {{ $ctrl.current.title }}<small>, palkkapäivä {{ $ctrl.current.ownerWorkflow.salaryDate | sxyDate }}</small>
      </h2>
    </ng-transclude>
    <p ng-if="$ctrl.current.messages.length == 0">&nbsp;</p>
    <div class="messages-container" ng-if="$ctrl.current.messages">
      <div ng-repeat="item in $ctrl.current.messages" ng-switch="item.fromParty">
        <div ng-switch-when="owner,undefined" ng-switch-when-separator=",">
          <salaxy-avatar avatar="$ctrl.current.ownerInfo" class="pull-left"></salaxy-avatar>
          <div class="message-bubble left" ng-class="{ 'in-edit': $ctrl.isInEdit, 'unread': !$ctrl.getReadTime(item)  }">
            <ng-include src="'salaxy-components/communications/MessageThread_MessageContent.html'"></ng-include>
            <span class="updated-at">{{ item.time | sxyTime }}, {{ $ctrl.getReadTime(item) ? ("luettu "+ ($ctrl.getReadTime(item) | sxyTime)) : "ei luettu" }}</span>
          </div>
        </div>
        <div ng-switch-when="otherParty" class="text-right">
          <salaxy-avatar avatar="$ctrl.current.otherPartyInfo" class="pull-right"></salaxy-avatar>
          <div class="message-bubble right {{item.type}}" ng-class="{ 'in-edit': $ctrl.isInEdit, 'unread': !$ctrl.getReadTime(item) }">
            <ng-include src="'salaxy-components/communications/MessageThread_MessageContent.html'"></ng-include>
            <span class="updated-at" ng-if="item.type != 'email'">{{ item.time | sxyTime }}, {{ $ctrl.getReadTime(item) ? ("luettu "+ ($ctrl.getReadTime(item) | sxyTime)) : "ei luettu" }}</span>
            <span class="updated-at" ng-if="item.type == 'email'">{{ item.time | sxyTime }}</span>
          </div>
        </div>
        <div ng-switch-default class="alert alert-danger">
          <ng-include src="'salaxy-components/communications/MessageThread_MessageContent.html'"></ng-include>
        </div>
      </div>
      <div class="padding">
        <div class="btn-toolbar spacer-bottom" role="toolbar" ng-if="$ctrl.role == 'otherParty'">
          <div class="btn-group btn-group-sm" role="group">
            <salaxy-workflow-close api-ctrl="$ctrl"></salaxy-workflow-close>
            <salaxy-workflow-issue api-ctrl="$ctrl"></salaxy-workflow-issue>
          </div>
          <div class="btn-group btn-group-sm" role="group">
            <salaxy-workflow-assign api-ctrl="$ctrl"></salaxy-workflow-assign>
          </div>
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-primary" ng-class="{ 'disabled': $ctrl.getReadTime()}" ng-click="$ctrl.markAllAsRead()">Merkitse luetuksi</button>
          </div>
          <button ng-if="$ctrl.role == 'otherParty'" ng-click="$ctrl.sendNotification()" class="btn btn-default btn-sm">Lähetä ilmoitus sähköpostiin</button>
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-default" ng-click="$ctrl.reload()">Lataa uudelleen</button>
            <button class="btn btn-default" ng-click="$ctrl.isInEdit=true" ng-class="{ 'disabled': $ctrl.isInEdit }">Muokkaa</button>
            <button class="btn" ng-click="$ctrl.save();$ctrl.isInEdit=false" ng-class="{ 'btn-primary': $ctrl.hasChanges, 'btn-default': !$ctrl.hasChanges }">Tallenna</button>
            <button class="btn btn-default" ng-class="{ 'disabled': !$ctrl.isInEdit }" ng-click="$ctrl.reset();$ctrl.isInEdit=false">Peruuta</button>
          </div>

        </div>
        <div ng-if="$ctrl.isReadOnly" class="alert alert-info">
          <p>
            <strong>Palkanlaskija / tilitoimisto on merkinnyt viestiketjun käsitellyksi.</strong>
            <br>
            <salaxy-workflow-reopen api-ctrl="$ctrl"></salaxy-workflow-reopen>
          </p>
        </div>
        <div class="row" ng-if="!$ctrl.isReadOnly">
          <div class="col-xs-8 col-sm-9">
            <textarea placeholder="Kirjoita viesti tai liitä leikepöydältä" ng-model="$ctrl.newMessageText"></textarea>
          </div>
          <div class="col-xs-4 col-sm-3" ng-if="!$ctrl.isReadOnly">
            <button type="button" class="btn btn-primary btn-labeled-left" style="width: 100%; text-align: left; margin-bottom: 4px" ng-click="$ctrl.sendMessage()" ng-disabled="!$ctrl.newMessageText"><i class="fa fa-paper-plane"></i>
              Lähetä
            </button>
            <button type="button" class="btn btn-primary btn-labeled-left" style="width: 100%; text-align: left; margin-bottom: 4px" ngf-select="$ctrl.uploadFiles($files)" ngf-multiple="true" ngf-max-size="10MB" xxngf-pattern="$ctrl.supportedFilesPattern"><i class="fa fa-paperclip" style="width: 38px"></i>
              <span>Tiedosto</span>
            </button>
            <div class="btn-group btn-block dropup" uib-dropdown ng-if="$ctrl.role == 'otherParty'">
              <button type="button" class="btn btn-secondary dropdown-toggle btn-labeled-left" style="width: 100%; text-align: left; margin-top: 4px" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-chevron-up"></i> <span>Lisätoiminnot</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                <li role="menuitem"><a ng-click="$ctrl.delete(null, 'Haluatko varmasti poistaa koko viestiketjun')">Poista koko ketju</a></li>
                <li role="separator" class="divider"></li>
                <li role="menuitem"><a ng-click="$ctrl.addExistingCalc('draft')">Laskelmaluonnos</a></li>
                <li role="menuitem"><a ng-click="$ctrl.addExistingCalc('paid')">Maksettu laskelma</a></li>

                <!--
                  <li role="menuitem"><a ng-click="$ctrl.addWorkers()">Työntekijöitä</a></li>
                  <li role="menuitem"><a ng-click="$ctrl.todo()">Uusi työntekijä</a></li>
                  <li role="separator" class="divider"></li>
                  <li role="menuitem"><a ng-click="$ctrl.todo()">Uusi laskelma</a></li>
                  <li role="separator" class="divider"></li>
                  <li role="menuitem"><a ng-click="$ctrl.todo()">Uusi palkkalista</a></li>
                  -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="messageContainerBottom">&nbsp;</div>
    </div>
  </div>
</div>