<div class="salaxy-component salaxy-welcome">
  <div>
    <div ng-if="$ctrl.hasSystemAlert" class="salaxy-welcome-system-alert alert-has-system-alert" ng-bind-html="$ctrl.systemAlertHtml"></div>
    <salaxy-alert ng-if="$ctrl.tutorials.showAnon" type="danger" icon="fa-sign-in" class="alert-anon">
      <main sxy-html="SALAXY.NG1.WelcomeComponent.showAnon.main.html"></main>
    </salaxy-alert>
    <salaxy-alert ng-if="$ctrl.tutorials.showInsurance || $ctrl.tutorials.showPension" type="warning" class="alert-insurance-and-pension">
      <main>
        <div class="row">
          <div class="col-sm-8 col-lg-9">
            <p class="lead lead-with-text" sxy-html="SALAXY.NG1.WelcomeComponent.showSettings.lead.html"></p>
            <p sxy-html="SALAXY.NG1.WelcomeComponent.showSettings.main"></p>
          </div>
          <div class="col-sm-4 col-lg-3">
            <a href="#/settings" class="btn btn-warning pull-right-sm btn-block btn-edit-settings" style="margin-bottom:10px;"
              sxy-text="SALAXY.NG1.WelcomeComponent.showSettings.settings.cta"></a>
          </div>
        </div>
      </main>
    </salaxy-alert>
    <salaxy-alert ng-if="$ctrl.tutorials.showSign" class="alert-sign" type="warning">
      <main>
        <div class="row">
          <div class="col-sm-8 col-lg-9">
            <p class="lead lead-with-text" sxy-text="SALAXY.NG1.WelcomeComponent.showSign.lead"></p>
            <p sxy-html="SALAXY.NG1.WelcomeComponent.showSign.main.html"></p>
          </div>
          <div class="col-sm-4 col-lg-3">
            <button sxy-if-role="worker" ng-controller="WorkerOnboardingController as wizard" class="btn btn-warning btn-add-signature pull-right btn-block"
              ng-click="wizard.launch()" sxy-text="SALAXY.NG1.WelcomeComponent.showSign.main.cta"></button>
            <button sxy-if-role="household" ng-controller="HouseholdOnboardingController as wizard" class="btn btn-warning btn-add-signature pull-right btn-block"
              ng-click="wizard.launch()" sxy-text="SALAXY.NG1.WelcomeComponent.showSign.main.cta"></button>
            <button sxy-if-role="company" ng-controller="CompanyOnboardingController as wizard" class="btn btn-warning btn-add-signature pull-right btn-block"
              ng-click="wizard.launch()" sxy-text="SALAXY.NG1.WelcomeComponent.showSign.main.cta"></button>
          </div>
        </div>
      </main>
    </salaxy-alert>
    <salaxy-alert ng-if="$ctrl.tutorials.showTryPayroll" type="primary" class="alert-try-payroll">
      <main>
        <div class="row">
          <div class="col-sm-8 col-lg-9">
            <p class="lead" sxy-text="SALAXY.NG1.WelcomeComponent.showTryPayroll.main"></p>
          </div>
          <div class="col-sm-4 col-lg-3">
            <a class="btn btn-info btn-block" href="#/payroll" sxy-text="SALAXY.NG1.WelcomeComponent.showTryPayroll.cta"></a>
          </div>
        </div>
      </main>
    </salaxy-alert>
    <salaxy-alert ng-if="$ctrl.tutorials.showAddCalculation" type="primary" class="alert-add-calculation">
      <main>
        <div class="row">
          <div class="col-sm-8 col-lg-9">
            <p class="lead" sxy-html="SALAXY.NG1.WelcomeComponent.showAddCalculation.main.html"></p>
            <salaxy-form-group class="select-worker" name="worker" label="Valitse työntekijä" label-type="plain">
              <input type="text" class="form-control" ng-model="$ctrl.currentCalc.worker.accountId" id="worker" name="worker" placeholder="Valitse työntekijä..." autocomplete="off"
                ng-model-options="{allowInvalid: true, debounce: 250}" typeahead-on-select="$ctrl.createNewCalculationFor($ctrl.currentCalc.worker.accountId)"
                uib-typeahead="worker.id as worker.displayName for worker in $ctrl.filterWorkers($viewValue)" typeahead-focus-first="false"
                typeahead-template-url="salaxy-components/form-controls/InputWorkerItem.html" typeahead-show-hint="true" typeahead-append-to-body="true" typeahead-min-length="0"
                typeahead-editable="false" typeahead-input-formatter="$ctrl.getWorkerName($model)">
            </salaxy-form-group>
          </div>
          <div class="col-sm-4 col-lg-3">
            <button class="btn btn-info btn-add btn-add-worker btn-block" ng-click="$ctrl.launchWorkerWizard()"
              sxy-text="SALAXY.NG1.WelcomeComponent.showAddWorker.main.cta"></button>
            <a class="btn btn-default btn-block btn-try-payroll" href="#/payroll" sxy-text="SALAXY.NG1.WelcomeComponent.showAddWorker.tryPayroll.cta"></a>
          </div>
        </div>
      </main>
    </salaxy-alert>
  </div>
</div>