<div class="btn-toolbar pull-right" role="toolbar" salaxy-if-role="test,pro">
  <div class="btn-group" role="group">
    <salaxy-workflow-close disabled="!($ctrl.currentData && $ctrl.currentData.ledgerAccounts.length > 0)" api-ctrl="$ctrl"></salaxy-workflow-close>
    <salaxy-workflow-issue disabled="!($ctrl.currentData && $ctrl.currentData.ledgerAccounts.length > 0)" api-ctrl="$ctrl"></salaxy-workflow-issue>
  </div>
  <div class="btn-group btn-group-sm" role="group">
    <salaxy-workflow-assign disabled="!($ctrl.currentData && $ctrl.currentData.ledgerAccounts.length > 0)" api-ctrl="$ctrl"></salaxy-workflow-assign>
  </div>
</div>
<salaxy-accounting-report-tools on-target-change="$ctrl.loadCurrentData(targetId)"  reader="$ctrl.currentDataReader"></salaxy-accounting-report-tools>
<salaxy-accounting-report-rows  data="$ctrl.currentData"></salaxy-accounting-report-rows>