<div class="salaxy-component salaxy-accounting-report-list">
  <salaxy-odata-table ng-if="$ctrl.mode != 'panel'" crud-controller="AccountingReportCrudController as $crud" template-url="salaxy-components/odata/lists/AccountingReports.html" options="{ $filter: $ctrl.getODataFilter(), $orderby: 'logicalDate desc' }">
  </salaxy-odata-table>
  <salaxy-odata-table ng-if="$ctrl.mode == 'panel'" crud-controller="AccountingReportCrudController as $crud" template-url="salaxy-components/odata/lists/AccountingReportsPanel.html" options="$ctrl.panelQueryOptions">
  </salaxy-odata-table>
</div>