<div class="salaxy-component salaxy-accounting-report-rows">
  <div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group" role="group">
      <button ng-if="!$ctrl.anyExpanded" ng-disabled="!($ctrl.data && $ctrl.data.ledgerAccounts.length > 0)" class="btn btn-block btn-transparent" title="Näytä tilit ja viennit"
        ng-click="$ctrl.expand()">
        <i class="fa fa-expand"></i>
      </button>
      <button ng-if="$ctrl.anyExpanded" ng-disabled="!($ctrl.data && $ctrl.data.ledgerAccounts.length > 0)" class="btn btn-block btn-transparent" title="Näytä vain tilit"
        ng-click="$ctrl.expand(true)">
        <i class="fa fa-compress"></i>
      </button>
    </div>
  </div>
  <table class="table table-condensed">
    <thead style="background:#f5f5f5; display: table-header-group;">
      <tr>
        <th class="col-md-3">Ehdotustili</th>
        <th class="col-md-6">Selite</th>
        <th class="col-md-3 right">Yhteensä</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background:#f5f5f5" ng-repeat-start="ledgerAccount in ($ctrl.data || {}).ledgerAccounts">
        <td>{{ledgerAccount.accountNumber }}</td>
        <td>{{ledgerAccount.accountName}}</td>
        <td class="right"><a ng-click="ledgerAccount.rowToggle = !ledgerAccount.rowToggle">{{ledgerAccount.saldo | currency}}</a></td>
      </tr>
      <tr ng-if="ledgerAccount.rowToggle" ng-repeat-end>
        <td colspan="3">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-md-3">Laskelma</th>
                <th class="col-md-6">Kuvaus</th>
                <th class="col-md-1 right">Alv-%</th>
                <th class="col-md-2 right">Summa</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in ledgerAccount.entries">
                <td>
                  <a ng-if="entry.dimension.calculationId" ng-href="#/calc/details/{{entry.dimension.calculationId}}">{{entry.dimension.calculationTitle}}</a>
                  <a ng-if="!entry.dimension.calculationId && entry.dimension.employmentId" ng-href="#/workers/details/{{entry.dimension.workerId}}">{{entry.dimension.workerName}}</a>
                </td>
                <td>{{entry.description}}
                  <div ng-if="entry.dimension.projectNumber">Projektinumero: {{entry.dimension.projectNumber}}</div>
                  <div ng-if="entry.dimension.costCenter">Kustannuspaikka: {{entry.dimension.costCenter}}</div>
                </td>
                <td class="right"><span ng-if="entry.vatPercent">{{ entry.vatPercent | sxyCount : 'percent'}}</span></td>
                <td class="right">{{!entry.isDebit ? -1 * entry.amount : entry.amount | currency}}</td>

              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>