<div class="salaxy-component salaxy-accounting-report-query">
  <form name="queryForm" class="form-horizontal">
    <fieldset>
      <div class="col col-md-6">
        <salaxy-input-enum name="queryType" label="Raportin laskelmat" options="{periodQuery: 'Kausi', selectionQuery: 'Valitse laskelmat' }" ng-model="$ctrl.queryType" type="radio" required></salaxy-input-enum>
      </div>
      <div class="col col-md-6" ng-if="$ctrl.queryType == 'selectionQuery'">
        <p>
          <span class="label label-primary" ng-if="$ctrl.calculations.length"> <span sxy-text="SALAXY.NG1.CalcListComponent.selectedAmount" ps=":"></span>{{ $ctrl.calculations.length }}</span>
        </p>
        <div class="btn-toolbar" role="toolbar">
          <button class="btn btn-default" ng-click="$ctrl.addCalcs('paid')">Lisää maksettu laskelma</button>
          <button class="btn btn-default" ng-click="$ctrl.addCalcs('draft')">Lisää luonnoslaskelma</button>
        </div>
      </div>
      <div class="col col-md-6" ng-if="$ctrl.queryType == 'periodQuery'">
        <salaxy-input-enum name="periodDateKind" label="Kauden määräytyminen" options="{paidAtDate: 'Maksupäivä (työnantajan suorittama maksu)', salaryDate: 'Palkkapäivä (tulorekisteriin raportoitu päivä)' }" ng-model="$ctrl.periodDateKind" type="radio" required></salaxy-input-enum>
      </div>
      <div class="col col-md-6" ng-if="$ctrl.queryType == 'periodQuery'">
        <salaxy-input-enum name="period" label="Kausi" options="{month: 'Kuukausi', custom: 'Muu aikaväli' }" ng-model="$ctrl.periodType" type="radio" required></salaxy-input-enum>
      </div>
      <div class="col col-md-6" ng-if="$ctrl.queryType == 'periodQuery'">
        <salaxy-datepicker-popup name="refDateMonth" placeholder="kuukautta" ng-if="$ctrl.periodType == 'month'" format="MMMM" datepicker-options="{ datepickerMode : 'month', minMode: 'month' }" ng-model="$ctrl.refDate" label="Valitse kuukausi" required></salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="refDateQuarter" placeholder="kuukautta" ng-if="$ctrl.periodType == 'quarter'" format="MMMM" datepicker-options="{ datepickerMode : 'month', minMode: 'month' }" ng-model="$ctrl.refDate" label="Valitse neljänneksellä oleva kuukausi"
          required>
        </salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="refDateYear" placeholder="vuosi" ng-if="$ctrl.periodType == 'year'" format="yyyy" datepicker-options="{ datepickerMode : 'year', minMode: 'year' }" ng-model="$ctrl.refDate" label="Valitse vuosi" required></salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="refDateCustom" ng-if="$ctrl.periodType == 'custom'" ng-model="$ctrl.refDate" label="Valitse kauden aloituspäivä" required>
        </salaxy-datepicker-popup>
        <salaxy-datepicker-popup name="endDateCustom" ng-if="$ctrl.periodType == 'custom'" ng-model="$ctrl.endDate" label="Valitse kauden päättymispäivä"></salaxy-datepicker-popup>
      </div>
    </fieldset>
    <div ng-if="$ctrl.queryType == 'selectionQuery'" class="col col-md-12">
      <div ng-if="$ctrl.calculations.length" class="table-responsive salaxy-odata-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="2">
                <span sxy-text="SALAXY.NG1.Roles.worker"></span>
              </th>
              <th class="hidden-xxs">
                <span sxy-text="SALAXY.NG1.CalcListComponent.status"></span><br />
                <span><span sxy-text="SALAXY.NG1.CalcListComponent.date"></span></span>
              </th>
              <th class="right hidden-xxs">
                <span sxy-text="SALAXY.NG1.CalcListComponent.salary"></span><br />
                <span><span sxy-text="SALAXY.NG1.CalcListComponent.payment"></span></span>
              </th>
              <th class="hidden-xxs"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in $ctrl.calculations">
              <td class="td-avatar visible-xxs middle">
                <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
              </td>
              <td class="td-name visible-xxs middle">
                <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
                <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br /> {{ "SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate }}
                <br /> {{ row.endAt | date }}
              </td>
              <td class="right visible-xxs bottom">
                <div>
                  {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
                </div>
              </td>
              <td class="td-avatar hidden-xxs middle">
                <salaxy-avatar avatar="row.otherPartyInfo.avatar"></salaxy-avatar>
              </td>
              <td class="td-name hidden-xxs middle">
                <span ng-if="row.otherPartyInfo.avatar.displayName == ''" sxy-text="SALAXY.NG1.CalcListComponent.notSelected"></span>
                <strong>{{row.otherPartyInfo.avatar.displayName}}</strong><br />
              </td>
              <td class="hidden-xxs middle">
                {{ row.status ? ("SALAXY.ENUM.CalculationStatus." + row.status + ".label" | sxyTranslate) : "#ERR" }}<br /> {{ row.endAt | date }}
              </td>
              <td class="right hidden-xxs middle">
                {{ row.grossSalary | currency }}<br /> {{ row.payment | currency }}
              </td>
              <td class="right middle">
                <button class="btn btn-sm  btn-danger" type="button" ng-click="$ctrl.removeCalc(row)">
                      {{ 'SALAXY.NG1.CalcListComponent.unselect' | sxyTranslate }}
                    </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="col col-md-12 text-right">
    <button class="btn btn-primary" ng-disabled="!queryForm.$valid" ng-click="$ctrl.queryData($reportTools.targetId)">Hae rivit</button>
  </div>
  <salaxy-accounting-report-tools ng-ref="$reportTools" on-target-change="$ctrl.queryData(targetId)" reader="$ctrl.dataReader"></salaxy-accounting-report-tools>
  <salaxy-accounting-report-rows data="$ctrl.data"></salaxy-accounting-report-rows>
</div>