<div class="salaxy-component salaxy-accounting-report-editor">
  <form name="saveForm" class="form-horizontal">
    <div class="text-right">
          <button class="btn btn-primary" ng-click="$ctrl.saveSettings()">Tallenna</button>
      </div>
  </form>
  <uib-tabset active="main">
    <uib-tab heading="{{'Kohteet' | sxyTranslate}}">
      <form name="targetForm" class="form-horizontal">
        <div class="row">
          <div class="col-xs-6">
            <salaxy-input-enum name="defaultTargetId" label="Oletuskohde" disable-cache="true" ng-model="$ctrl.settings.defaultTargetId" options="$ctrl.targets">
            </salaxy-input-enum>
          </div>
        </div>
      </form>
    </uib-tab>
    <!--uib-tab heading="{{'Ohjeet' | sxyTranslate}}">
      <p class="lead">
        <strong>Tiliöintimalli</strong> määrittelee miten palkkalaskelman rivit ja sivukulut (eläkemaksut, työttömyysvakuutusmaksut, SAVA-maksut ja verot) viedään kirjanpitoon.
          Määrittely tehdään taulukkomuodossa, missä kullekin rivin tulolajille ja sivukulutyypille määritetään sekä credit- että debet-tili.
      </p>
      <p>
        <b>Tiliöintimallit</b>-välilehdeltä <b>Tiliöinti</b>-valinnan alta löytyvät käytettävissä olevat tiliöintimallit. Ne sisältävät sekä järjestelmän vakiomalleja että mahdollisesti 
        käyttäjän luomia omia malleja.
      </p>
      <p>Jos vakiomallin kirjaukset eivät sovi käyttäjän tarpeisiin, voidaan <b>uusi tiliöintimalli luoda kopioimalla vakiomalli.</b> Vakiomalleja ei voi muokata tai poistaa.
      Kopioitua mallia voidaan muokata sekä <b>Kirjattavat tilit</b> että <b>Tilikartta</b> -välilehdillä:
      <ul>
        <li>Mallille voidaan antaa kuvaava nimi.</li>
        <li>Vakiomallilta kopioituneita rivejä voidaan ottaa käyttöön/poistaa käytöstä.</li>
        <li>Uusi rivejä voidaan lisätä kopioimalla vakiomallin rivi.</li>
        <li>Tilikartalla voidaan muuttaa tilinumeroa ja tilin kuvausta.</li>
        <li>Tilikartalle voidaan lisätä uusia tilejä.</li>
      </ul>
      </p>
      <p><b>Kirjattavat tilit</b> -välilehdellä kullekin rivin tulolajille  ja sivukulutyypille määritetään sekä credit- että debet-tili.
        Credit- ja debet-tilin valinta on mahdollista tehdä vain niistä tileistä, mitkä on listattu <b>Tilikartta</b> -välilehdellä.
        Samaa tilinumeroa olevat viennit voidaan haluttaessa ryhmittelyn (ryhmän id ja kuvaus) avulla jäsentää omiksi ryhmikseen.
        Jokainen kirjanpitovienti perustuu siihen, että kullekin rivityypille ja sivukulutyypille löytyy määrittelyrivi. Rivin valinta tapahtuu seuraavilla
        säännöillä:
        <ol>
          <li>Haetaan riveistä kaikki ne rivit, missä on laskelman rivin tulolajia tai sivukulutyyppiä vastaava arvo.</li>
          <li>Jos rivi ei ole käytössä, sitä ei oteta mukaan.</li>
          <li>Tarkistetaan valintalippujen vastaavuus: valitaan se rivi, missä on eniten samoja valintalippuja kuin laskelman rivillä tai sivukululla. Jos löytyy 
            useampi rivi, missä on samat valintaliput, valitaan näistä se rivi, missä valintalippujen lukumäärä on pienin.
          </li>
          <li>Rivin perusteella tehdään kirjaus. Jos Kirjaa-valinta ei ole päällä, riviä ei kirjata.</li>
        </ol>
       </p>
       <p>Valintalippuja on eri tyyppisiä:
         <ul>
           <li>Ns. rivityyppiliput ovat valintalippuja, jotka ovat valideja vain niille laskelman riveille, joilla ei ole tulorekisterin tulolajia tai tulolajin lisäksi tarvitaan tarkentava tieto.</li>
           <li>Palkansaajan tyyppi -lipulla voidaan esim. omistajan palkka kirjata omille tileilleen.</li>
           <li>Työnantaja hoitaa -lipun perusteella, voidaan tehdä kirjaukset niissä tapauksissa, kun raha ei kierrä Palkkauksen asiakasvaratilin kautta.</li>
         </ul> 
       </p>
       <p class="lead">
        <strong>Kohteella</strong> tarkoitetaan kirjanpito-ohjelmistoa, mihin kirjanpitoaineisto tuodaan. Kullakin kirjanpito-ohjelmistolla on tietty ennalta määrätty tiedosto- tai leikepöytämuoto, millä kirjanpitoaineistoa voidaan tuoda.
        Kohteiden määrittelyssä voidaan valita se tiliöintimalli, minkä mukaista kirjanpitoaineistoa kohde käyttää.
      </p>
       <p><b>Kohteen</b>-välilehdellä annetaan ns. oletuskohde, jota käytetään oletuksena, kun kirjanpitoaineistoa muodostetaan.</p>
       <p>Kullekin kohteelle määritetään käytettävä tiliöintimalli. Lisäksi osa kohteita voidaan ottaa käyttöön/poistaa käytöstä. Jos kohde on poistettu käytöstä, sitä ei listata valintalistoissa.</p>  
    </uib-tab-->
  </uib-tabset>

</div>