<div class="salaxy-component salaxy-accounting-report-tools">
  <div class="btn-toolbar" role="toolbar" aria-label="Report options">
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="reportOptionsTarget" type="button" class="btn btn-primary" uib-dropdown-toggle >
        Kohde: <img style="height: 15px;" ng-src="{{$ctrl.getTarget($ctrl.targetId).avatar.url}}">&nbsp;{{$ctrl.getTarget($ctrl.targetId).avatar.displayName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="reportOptionsTarget">
        <li ng-repeat="target in $ctrl.targets" role="menuitem"><a href="" ng-click="$ctrl.changeTarget(target.id)"><img style="height: 20px;" ng-src="{{$ctrl.getTarget(target.id).avatar.url}}">&nbsp;{{$ctrl.getTarget(target.id).avatar.displayName}}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="reportOptionsScheme" type="button" class="btn btn-primary" ng-disabled="!$ctrl.getTarget($ctrl.targetId).hasSchemes" uib-dropdown-toggle >
        {{$ctrl.getScheme($ctrl.schemeId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="reportOptionsScheme">
        <li role="menuitem"><a href="" ng-click="$ctrl.schemeId = 'default'">{{$ctrl.getScheme('default').label}}</a></li>
        <li role="menuitem"><a href="" ng-click="$ctrl.schemeId = 'extended'">{{$ctrl.getScheme('extended').label}}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="reportOptionsFileType" type="button" class="btn btn-primary" uib-dropdown-toggle >
        {{$ctrl.getFileType($ctrl.fileTypeId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="reportOptionsFileType">
        <li role="menuitem" ng-repeat="fileType in $ctrl.fileTypes"><a href="" ng-click="$ctrl.fileTypeId = fileType.id">{{$ctrl.getFileType(fileType.id).label}}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="reportOptionsCulture" type="button" class="btn btn-primary" ng-disabled="!$ctrl.getFileType($ctrl.fileTypeId).hasLocales" uib-dropdown-toggle >
        {{$ctrl.getLocale($ctrl.localeId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="reportOptionsCulture">
        <li role="menuitem"><a href="" ng-click="$ctrl.localeId = 'fi'">{{$ctrl.getLocale('fi').description}}</a></li>
        <li role="menuitem"><a href="" ng-click="$ctrl.localeId = 'en'">{{$ctrl.getLocale('en').description}}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button ng-disabled="$ctrl.reader.disabled()" id="reportExport" type="button" class="btn btn-default" ng-click="$ctrl.export()">
        {{ ($ctrl.reader.exportLabel || 'Luo aineisto') | sxyTranslate }}  
      </button>
    </div>
  </div>
</div>