<div class="salaxy-component salaxy-cumulative-report" style="width:100%;height:100%;display:flex;flex-flow:column">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group" aria-label="Valitse data">
      <button type="button" class="btn btn-primary" ng-click="$ctrl.showPeriodSelection()">Valitse kausi...</button>
      <button type="button" class="btn btn-default" ng-click="$ctrl.showCalcsSelection()">Valitse laskelmat...</button>
    </div>
    <div class="btn-group" role="group" aria-label="Raporttipohjat">
      <div class="btn-group btn-group" uib-dropdown>
        <button id="templateId" type="button" class="btn btn-default" ng-disabled="!$ctrl.data" uib-dropdown-toggle >
          {{$ctrl.data ? $ctrl.getTemplate($ctrl.templateId).label : 'Raporttipohjat'}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="templateId">
          <li role="menuitem" ng-repeat="template in $ctrl.templates"><a href="" ng-click="$ctrl.selectTemplate(template.id)">{{$ctrl.getTemplate(template.id).label}}
           </li>
        </ul>
      </div>
      <button type="button" class="btn btn-default"  ng-disabled="!$ctrl.data" ng-click="$ctrl.showSaveTemplate()">Tallenna pohjaksi...</button>
    </div>
  </div>
  <div style="height:100%;flex-grow:1">
    <div id="dataGrid" class="ag-theme-balham" style="height:100%;overflow: hidden;"></div>
  </div>
</div>
