<div class="salaxy-component salaxy salaxy-ir-earnings-payment">
  <salaxy-spinner ng-if="$ctrl.isLoading" full-screen="true" heading="SALAXY.UI_TERMS.loading" text="SALAXY.UI_TERMS.pleaseWait"></salaxy-spinner>
  <div ng-if="'test' | sxyIsInRole">
    <div ng-if="$ctrl.current.isReadOnly" class="alert alert-info" pre="VAIN TEST: " sxy-text="SALAXY.NG1.EarningsPaymentComponent.common.readOnlyInfo"></div>
    <div class="btn-toolbar" role="toolbar" ng-if="$ctrl.isReadOnly && !$ctrl.current.isReadOnly">
      <div class="btn-group" role="group" aria-label="Muokkaa">
        <button ng-click="$ctrl.tempShowEditInNonAdminMode = true" type="button" role="group" class="btn btn-primary">VAIN TEST: Muokkaa</button>
      </div>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar" ng-if="!$ctrl.isReadOnly">
    <div class="btn-group" role="group" aria-label="Tallenna">
      <button ng-click="$ctrl.saveChanges()" type="button" role="group" class="btn btn-primary" ng-disabled="!($ctrl.hasChanges || ( $ctrl.calcController && $ctrl.calcController.hasChanges)) || $ctrl.isReadOnly" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
    <div class="btn-group" role="group" aria-label="Lähetä/mitätöi">
      <button ng-click="$ctrl.sendToIncomesRegister()" type="button" role="group" class="btn btn-default" ng-disabled="$ctrl.isReadOnly" sxy-text="SALAXY.NG1.EarningsPaymentComponent.common.send"></button>
      <button ng-click="$ctrl.openSetScheduleDialog()" type="button" role="group" class="btn btn-default" ng-disabled="$ctrl.isReadOnly" sxy-text="SALAXY.NG1.EarningsPaymentComponent.common.addScheduling"></button>
      <button ng-click="$ctrl.removeIrQueueItem()" type="button" role="group" class="btn btn-danger" ng-disabled="!$ctrl.current.scheduledFor || $ctrl.isReadOnly" sxy-text="SALAXY.NG1.EarningsPaymentComponent.common.removeScheduling"></button>
      <button ng-click="$ctrl.cancelToIncomesRegister()" type="button" role="group" class="btn btn-danger" ng-disabled="!$ctrl.isCancellable || $ctrl.isReadOnly" sxy-text="SALAXY.NG1.EarningsPaymentComponent.common.cancel"></button>
    </div>
  </div>
  <div class="form-horizontal form-condensed">
    <uib-tabset active="currentTab" ng-if="$ctrl.current">
      <uib-tab index="'default'" heading="{{'SALAXY.NG1.EarningsPaymentComponent.common.basicInfo' | sxyTranslate}}">
        <div>
          <div class="label label-success pull-right" style="font-size: 1.5em" ng-if="$ctrl.current.validation.isValid">{{'SALAXY.NG1.EarningsPaymentComponent.common.noErrors' | sxyTranslate}}</div>
          <!-- TODO: Check texts and add to language versioning. Consider could this be done with SXY-IPT infra. -->
          <h3 ng-switch="$ctrl.current.status">
            <span ng-switch-when="new">Uusi <small>Palkkatietoilmoitusta ei ole vielä lähetetty/ajastettu</small></span>
            <span ng-switch-when="succeeded">Onnistuneesti lähetetty <small>{{ $ctrl.current.lastDeliveredAt | sxyDate }} klo {{ $ctrl.current.lastDeliveredAt | date : "hh:mm" }}</small></span>
            <span ng-switch-when="canceled">Mitätöity <small>Voit lähettää ilmoituksen uudelleen</small> </span>
            <span ng-switch-when="error">Virheellinen <small>Tulorekisterin lähetys {{ $ctrl.current.lastDeliveredAt | sxyDate }} klo {{ $ctrl.current.lastDeliveredAt | date : "hh:mm" }} antoi virheen</small></span>
            <span ng-switch-when="invalid">Tarkastettava <small>Tarkista alla olevat virheet ennen lähetystä</small></span>
            <span ng-switch-when="scheduled">Ajastettu <small>{{ $ctrl.current.scheduledFor | sxyDate }} klo {{ $ctrl.current.scheduledFor | date : "hh:mm" }}</small></span>
            <span ng-switch-default>{{'SALAXY.MODEL.EarningsPayment.status.title' | sxyTranslate}}: {{ "EarningsPaymentReportStatus." + $ctrl.current.status | sxyEnum }}</span>
          </h3>
          <salaxy-validation-summary api-validation="$ctrl.current.validation" ng-if="!$ctrl.current.validation.isValid">
          </salaxy-validation-summary>
          <salaxy-validation-summary api-validation="$ctrl.current.irErrors" ng-if="!$ctrl.current.irErrors.isValid">
          </salaxy-validation-summary>
        </div>
        <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current" type="EarningsPayment" debugger="false" auto-gen="false">
          <div>
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <legend sxy-text="SALAXY.MODEL.PaymentPeriod.title"></legend>
                  <sxy-input model="form.deliveryData.paymentPeriod.startDate" format="date"></sxy-input>
                  <sxy-input model="form.deliveryData.paymentPeriod.endDate" format="date"></sxy-input>
                  <sxy-input model="form.deliveryData.paymentPeriod.paymentDate" format="date"></sxy-input>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <legend>Työntekijä</legend>
                  <salaxy-avatar class="pull-left" style="margin-right: 20px;font-size: 102px;" avatar="$ctrl.current.info.worker"></salaxy-avatar>
                  <div>{{ $ctrl.current.info.worker.sortableName }}</div>
                  <div>{{ $ctrl.current.deliveryData.reports[0].incomeEarner.incomeEarnerIds[0].code || "Ei henkilötunnusta" }}</div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <legend sxy-text="SALAXY.NG1.EarningsPaymentComponent.common.basicInfo"></legend>
                  <sxy-form open-api="salaxy-secure/schemas/irepr.json" model="$ctrl.current.deliveryData.reports[0].reportData" type="ReportData" debugger="false" auto-gen="false">
                    <div>
                      <sxy-input model="form.reportId" read-only="true"></sxy-input>
                      <!--sxy-input model="form.irReportId" read-only="true"></sxy-input-->
                    </div>
                  </sxy-form>
                  <sxy-input model="form.createdAt"></sxy-input>
                  <sxy-input model="form.updatedAt"></sxy-input>
                  <sxy-input model="form.irStatus" read-only="true"></sxy-input>
                  <sxy-input model="form.isModified" read-only="true"></sxy-input>
                  <sxy-input model="form.scheduledFor" read-only="true"></sxy-input>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <legend sxy-text="SALAXY.NG1.EarningsPaymentComponent.deliveryData.title"></legend>
                  <sxy-input model="form.deliveryData.deliveryDataType" read-only="true"></sxy-input>
                  <sxy-input model="form.deliveryData.timestamp" read-only="true"></sxy-input>
                  <sxy-input model="form.deliveryData.deliveryDataCreator.code" label="SALAXY.NG1.EarningsPaymentComponent.deliveryData.deliveryDataCreator" read-only="true">
                  </sxy-input>
                  </sxy-input>
                  <sxy-input model="form.deliveryData.deliveryDataSender.code" label="SALAXY.NG1.EarningsPaymentComponent.deliveryData.deliveryDataSender" read-only="true">
                  </sxy-input>
                </fieldset>
              </div>
            </div>
            <sxy-input model="form.deliveryData.contactPersons" include="name,responsibilityCode"></sxy-input>
            <fieldset>
              <legend sxy-text="SALAXY.NG1.EarningsPaymentComponent.deliveryData.deliveryDataOwner"></legend>
              <sxy-input model="form.deliveryData.deliveryDataOwner.code"></sxy-input>
              <sxy-input model="form.deliveryData.deliveryDataOwner.type"></sxy-input>
              <sxy-input model="form.deliveryData.deliveryDataOwner.countryCode"></sxy-input>
              <sxy-input model="form.deliveryData.deliveryDataOwner.countryName"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'payer'" heading="{{'SALAXY.MODEL.Payer.title' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current.deliveryData.payer" type="Payer" debugger="false" auto-gen="false">
          <div>
            <fieldset>
              <legend sxy-text="SALAXY.NG1.EarningsPaymentComponent.payer.title"></legend>
              <sxy-input model="form.payerBasic.companyName"></sxy-input>
              <sxy-input model="form.payerBasic.missingId" format="checkbox"></sxy-input>
              <sxy-input model="form.payerIds"></sxy-input>
              <sxy-input model="form.payerOther.payerTypes"></sxy-input>
              <sxy-input model="form.subOrgs"></sxy-input>
            </fieldset>
            <fieldset>
              <legend sxy-text="SALAXY.NG1.EarningsPaymentComponent.address.title"></legend>
              <sxy-input model="form.address.co"></sxy-input>
              <sxy-input model="form.address.street"></sxy-input>
              <sxy-input model="form.address.poBox"></sxy-input>
              <sxy-input model="form.address.postalCode"></sxy-input>
              <sxy-input model="form.address.postOffice"></sxy-input>
              <sxy-input model="form.address.countryCode"></sxy-input>
              <sxy-input model="form.address.countryName"></sxy-input>
            </fieldset>
            <fieldset>
              <legend sxy-text="SALAXY.MODEL.SubstitutePayer.title"></legend>
              <sxy-input model="form.substitutePayer.acts"></sxy-input>
              <sxy-input model="form.substitutePayer.employerName"></sxy-input>
              <sxy-input model="form.substitutePayer.employerId.type" label="SALAXY.NG1.EarningsPaymentComponent.substitutePayer.employerIdType.title"></sxy-input>
              <sxy-input model="form.substitutePayer.employerId.code" label="SALAXY.NG1.EarningsPaymentComponent.substitutePayer.employerIdCode.title"></sxy-input>
              <sxy-input model="form.substitutePayer.employerId.countryCode" label="SALAXY.NG1.EarningsPaymentComponent.substitutePayer.employerIdCountryCode.title"></sxy-input>
              <sxy-input model="form.substitutePayer.employerId.countryName" label="SALAXY.NG1.EarningsPaymentComponent.substitutePayer.employerIdCountryName.title"></sxy-input>
              <sxy-input model="form.substitutePayer.wageSec"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'incomeEarner'" heading="{{'SALAXY.MODEL.IncomeEarner.title' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current.deliveryData.reports[0].incomeEarner" type="IncomeEarner" debugger="false" auto-gen="false">
          <div>
            <fieldset>
              <sxy-input model="form.incomeEarnerIds" include="code,type,countryCode"></sxy-input>
              <sxy-input model="form.incomeEarnerBasic.missingId" format="checkbox"></sxy-input>
              <sxy-input model="form.incomeEarnerBasic.companyName"></sxy-input>
              <sxy-input model="form.incomeEarnerBasic.firstName"></sxy-input>
              <sxy-input model="form.incomeEarnerBasic.lastName"></sxy-input>
              <sxy-input model="form.incomeEarnerBasic.birthDate" format="date"></sxy-input>
              <sxy-input model="form.incomeEarnerBasic.gender"></sxy-input>
              <sxy-input model="form.addresses" include="street,postalCode,postOffice,countryCode"></sxy-input>
              <salaxy-custom-code>
                <sxy-input model="form.professions" template-url="epr-professions.html"></sxy-input>
              </salaxy-custom-code>
              <sxy-input ng-if="$ctrl.current.deliveryData.reports[0].incomeEarner.incomeEarnerOther != null && $ctrl.current.deliveryData.reports[0].incomeEarner.incomeEarnerOther.incomeEarnerTypes != null" model="form.incomeEarnerOther.incomeEarnerTypes"></sxy-input>
            </fieldset>
            <fieldset>
              <legend sxy-text="SALAXY.MODEL.Employment.title"></legend>
              <sxy-input model="form.employment.employed"></sxy-input>
              <sxy-input model="form.employment.employmentCode"></sxy-input>
              <sxy-input model="form.employment.termCode"></sxy-input>
              <sxy-input model="form.employment.partTime"></sxy-input>
              <sxy-input model="form.employment.hoursPerWeek"></sxy-input>
              <sxy-input model="form.employment.paymentTypes"></sxy-input>
              <sxy-input model="form.employment.employmentPeriods" include="startDate,endDate">
                <form>
                  <fieldset>
                    <legend sxy-text="SALAXY.MODEL.Period.title"></legend>
                    <sxy-input model="form.endDate" format="date"></sxy-input>
                    <sxy-input model="form.startDate" format="date"></sxy-input>
                  </fieldset>
                </form>
              </sxy-input>
              <sxy-input model="form.employment.employmentEndings"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'insurances'" heading="{{'SALAXY.NG1.EarningsPaymentComponent.common.insurances' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current.deliveryData.reports[0].incomeEarner" type="IncomeEarner" debugger="false" auto-gen="false">
          <div>
            <fieldset>
              <legend sxy-text="SALAXY.MODEL.PensionInsurance.title"></legend>
              <sxy-input model="form.pensionInsurance.pensionActCode"></sxy-input>
              <sxy-input model="form.pensionInsurance.pensionProvIdCode"></sxy-input>
              <sxy-input model="form.pensionInsurance.pensionPolicyNo"></sxy-input>
              <sxy-input ng-if="$ctrl.current.deliveryData.reports[0].incomeEarner.incomeEarnerOther != null && $ctrl.current.deliveryData.reports[0].incomeEarner.incomeEarnerOther.payments != null" model="form.incomeEarnerOther.payments" include="paymentRef,paymentSpecifier"></sxy-input>
            </fieldset>
            <fieldset>
              <legend sxy-text="SALAXY.MODEL.AccidentInsurance.title"></legend>
              <sxy-input model="form.accidentInsurance.accInsPolicyNo"></sxy-input>
              <sxy-input model="form.accidentInsurance.accInsProvId.type"></sxy-input>
              <sxy-input model="form.accidentInsurance.accInsProvId.code"></sxy-input>
              <sxy-input model="form.accidentInsurance.accInsProvId.countryCode"></sxy-input>
              <sxy-input model="form.accidentInsurance.accInsProvId.countryName"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'absenses'" heading="{{'SALAXY.NG1.EarningsPaymentComponent.common.absences' | sxyTranslate}}">
        <salaxy-custom-code>
          <div class="text-right">
            <button type="button" class="btn btn-xs btn-primary" ng-if="!$ctrl.isReadOnly" ng-click="$ctrl.importAbsences()" sxy-text="Valitse poissaolot raportille"></button>
          </div>
        </salaxy-custom-code>
        <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current.deliveryData.reports[0].absence" type="Absence" debugger="false" auto-gen="false">
          <div>
            <sxy-input model="form.absenceRepStartDate" format="date"></sxy-input>
            <sxy-input model="form.absenceRepEndDate" format="date"></sxy-input>
            <sxy-input model="form.unpaidAbsence.unpaidAbsencePeriods" include="startDate,endDate,causeCode">
              <form>
                <fieldset>
                  <legend sxy-text="SALAXY.MODEL.UnpaidAbsencePeriod.title"></legend>
                  <sxy-input model="form.startDate" format="date"></sxy-input>
                  <sxy-input model="form.endDate" format="date"></sxy-input>
                  <sxy-input model="form.causeCode"></sxy-input>
                  <sxy-input model="form.absenceDays"></sxy-input>
                </fieldset>
              </form>
            </sxy-input>
            <sxy-input model="form.paidAbsence.paidAbsencePeriods" include="startDate,endDate,causeCode">
              <form>
                <fieldset>
                  <legend sxy-text="SALAXY.MODEL.PaidAbsencePeriod.title"></legend>
                  <sxy-input model="form.startDate" format="date"></sxy-input>
                  <sxy-input model="form.endDate" format="date"></sxy-input>
                  <sxy-input model="form.causeCode"></sxy-input>
                  <sxy-input model="form.absenceDays"></sxy-input>
                  <sxy-input model="form.absenceUntil" format="date"></sxy-input>
                  <sxy-input model="form.amount"></sxy-input>
                  <sxy-input model="form.paidAbsencePeriodInfo"></sxy-input>
                  <sxy-input model="form.reimbApp"></sxy-input>
                </fieldset>
              </form>
            </sxy-input>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'calcRows'" heading="{{'SALAXY.NG1.EarningsPaymentComponent.common.rows' | sxyTranslate}}">
        <div ng-if="$ctrl.current.deliveryData.reports.length == 1">

          <fieldset>
            <legend>Laskelman rivit</legend>
            <salaxy-calc-ir-rows model="$ctrl.calculation" is-read-only-forced="true" ng-ref="$ctrl.calcController"></salaxy-calc-ir-rows>
          </fieldset>
          <hr/>

          <fieldset>
            <legend>Kaikki rivit</legend>
            <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current.deliveryData.reports[0]" type="Report" debugger="false" auto-gen="false">
              <div>
                <fieldset>
                  <sxy-input model="form.transactions" read-only="true" template-url="epr-transactions.html"></sxy-input>
                </fieldset>
              </div>
            </sxy-form>
          </fieldset>

        </div>
      </uib-tab>

      <uib-tab index="'history'" heading="{{'SALAXY.NG1.EarningsPaymentComponent.common.history' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irepr.json" read-only="{{ $ctrl.isReadOnly }}" model="$ctrl.current" type="EarningsPayment" debugger="false" auto-gen="false">
          <div>
            <fieldset>
              <sxy-input model="form.reportLog" read-only="true" include="irTimestamp,eventType,reportId,irReportId,irVersion">
              </sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
<script type="text/ng-template" id="epr-professions.html">
  <table class="table">
    <caption>Ammattiluokat</caption>
    <thead>
      <tr>
        <th>Ammattiluokan tai nimikkeistön tyyppi</th>
        <th>Ammattiluokan tai nimikkeen tunniste</th>
        <th>Ammattinimike (vapaamuotoinen)</th>
        <th class="text-right">
          <button type="button" class="btn btn-xs btn-primary" ng-if="!$ctrl.getReadOnly()" ng-click="$ctrl.value.push({})" sxy-text="SALAXY.UI_TERMS.addRow"></button>
        </th>
      </tr>
    </thead>
    <tbody class="form-horizontal">
      <tr ng-repeat="item in $ctrl.value">
        <td>
          <salaxy-input-enum name="professionType" label-type="plain" type="select" read-only="$ctrl.getReadOnly()" enum="ProfessionType" require="true" ng-model="item.type"></salaxy-input-enum>
        </td>
        <td>
          <div ng-if="$ctrl.getReadOnly() && item.type == 'statisticsFinland'">
            <salaxy-input-occupation-type style="display: inline-block" require="true" name="statCode" ng-model="item.code" label-type="plain" read-only="$ctrl.getReadOnly()"></salaxy-input-occupation-type>
            <span style="display: inline-block" ng-if="$ctrl.getReadOnly()">{{item.code}}</span>
          </div>
          <salaxy-input-occupation-type ng-if="!$ctrl.getReadOnly() && item.type == 'statisticsFinland'" require="true" name="statCode" ng-model="item.code" label-type="plain" read-only="$ctrl.getReadOnly()"></salaxy-input-occupation-type>
          <salaxy-input ng-if="item.type != 'statisticsFinland'" require="true" name="code" ng-model="item.code" label-type="plain" read-only="$ctrl.getReadOnly()"></salaxy-input>
        </td>
        <td>
          <salaxy-input name="title" ng-model="item.title" label-type="plain" read-only="$ctrl.getReadOnly()"></salaxy-input>
        </td>
        <td class="text-right">
          <button type="button" class="btn btn-xs btn-danger" ng-if="!$ctrl.getReadOnly()" ng-click="$ctrl.delete(item, $index)">
            <i class="fa fa-trash-o" title="Delete row"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</script>
<script type="text/ng-template" id="epr-transactions.html">
  <table class="table">
    <thead>
      <tr>
        <th>Koodi</th>
        <th class="text-right">Määrä</th>
        <!--th class="text-right">Ansaintakauden<br> alku ja loppu</th -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.value">
        <td>
          <salaxy-input-income-type name="code" label-type="plain" ng-model="item.transactionBasic.transactionCode" read-only="true"></salaxy-input-income-type>
        </td>
        <td class="text-right">
          <salaxy-input-number name="amount" label-type="plain" ng-model="item.transactionBasic.amount" read-only="true">
        </td>
        <!--td class="text-right">
          <span ng-repeat="earningPeriod in item.earningPeriods">
            {{earningPeriod.startDate | sxyDate}} - {{earningPeriod.endDate | sxyDate}}
          </span>


        </td-->
      </tr>
    </tbody>
  </table>
</script>