<div class="salaxy-component salaxy-ir-earnings-payment-list">
  <salaxy-odata-table crud-controller="IrEarningsPaymentCrudController as $crud" template-url="salaxy-components/odata/lists/IrEpr.html" options="$ctrl.queryOptions">
  </salaxy-odata-table>
</div>