<div class="salaxy-component salaxy salaxy-ir-payer-summary">
  <salaxy-spinner ng-if="$ctrl.isLoading" full-screen="true" heading="SALAXY.UI_TERMS.loading" text="SALAXY.UI_TERMS.pleaseWait"></salaxy-spinner>
  <div ng-if="'test' | sxyIsInRole">
    <div class="btn-toolbar" role="toolbar" ng-if="$ctrl.isReadOnly">
      <div class="btn-group" role="group" aria-label="Muokkaa">
        <button ng-click="$ctrl.tempShowEditInNonAdminMode = true" type="button" role="group" class="btn btn-primary">VAIN TEST: Muokkaa</button>
      </div>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar" ng-if="!$ctrl.isReadOnly">
    <div class="btn-group" role="group" aria-label="Tallenna">
      <button ng-click="$ctrl.save()" type="button" role="group" class="btn btn-primary" ng-disabled="!$ctrl.hasChanges" sxy-text="SALAXY.UI_TERMS.save"></button>
    </div>
    <div class="btn-group" role="group" aria-label="Lähetä/mitätöi">
      <button ng-click="$ctrl.sendToIncomesRegister()" type="button" role="group" class="btn btn-default" sxy-text="SALAXY.NG1.PayerSummaryComponent.common.send"></button>
      <button ng-click="$ctrl.openSetScheduleDialog()" type="button" role="group" class="btn btn-default" sxy-text="SALAXY.NG1.PayerSummaryComponent.common.addScheduling"></button>
      <button ng-click="$ctrl.removeIrQueueItem()" type="button" role="group" class="btn btn-danger" ng-disabled="!$ctrl.current.scheduledFor"
        sxy-text="SALAXY.NG1.PayerSummaryComponent.common.removeScheduling"></button>
      <button ng-click="$ctrl.cancelToIncomesRegister()" type="button" role="group" class="btn btn-danger" ng-disabled="!$ctrl.isCancellable"
        sxy-text="SALAXY.NG1.PayerSummaryComponent.common.cancel"></button>
    </div>
  </div>
  <div class="form-horizontal">
    <uib-tabset active="currentTab" ng-if="$ctrl.current">
      <uib-tab index="'default'" heading="{{'SALAXY.NG1.PayerSummaryComponent.common.basicInfo' | sxyTranslate}}">
        <div>
          <h3>
            {{'SALAXY.MODEL.PayerSummary.status.title' | sxyTranslate}}: {{ "PayerSummaryReportStatus." + $ctrl.current.status | sxyEnum }}
            <div class="label label-success pull-right" ng-if="$ctrl.current.validation.isValid">{{SALAXY.NG1.PayerSummaryComponent.common.noErrors | sxyTranslate}}</div>
          </h3>
          <salaxy-validation-summary api-validation="$ctrl.current.validation" ng-if="!$ctrl.current.validation.isValid">
          </salaxy-validation-summary>
          <salaxy-validation-summary api-validation="$ctrl.current.irErrors" ng-if="!$ctrl.current.irErrors.isValid">
          </salaxy-validation-summary>
        </div>
        <sxy-form open-api="salaxy-secure/schemas/irpsr.json" model="$ctrl.current" type="PayerSummary" debugger="false" auto-gen="false" read-only="{{ $ctrl.isReadOnly }}">
          <div>
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <legend sxy-text="SALAXY.NG1.PayerSummaryComponent.common.basicInfo"></legend>
                  <sxy-form open-api="salaxy-secure/schemas/irpsr.json" model="$ctrl.current.deliveryData.reports[0].reportData" type="ReportData" debugger="false"
                    auto-gen="false" read-only="{{ $ctrl.isReadOnly }}">
                    <div>
                      <sxy-input model="form.reportId" read-only="true"></sxy-input>
                      <!--sxy-input model="form.irReportId" read-only="true"></sxy-input-->
                    </div>
                  </sxy-form>
                  <sxy-input model="form.createdAt"></sxy-input>
                  <sxy-input model="form.updatedAt"></sxy-input>
                  <sxy-input model="form.irStatus" read-only="true"></sxy-input>
                  <sxy-input model="form.isModified" read-only="true"></sxy-input>
                  <sxy-input model="form.scheduledFor" read-only="true"></sxy-input>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <legend sxy-text="SALAXY.NG1.PayerSummaryComponent.common.deliveryDataTitle"></legend>
                  <sxy-input model="form.deliveryData.deliveryDataType" read-only="true"></sxy-input>
                  <sxy-input model="form.deliveryData.timestamp" read-only="true"></sxy-input>
                  <sxy-input model="form.deliveryData.reportDate" format="date" read-only="true"></sxy-input>
                  <sxy-input model="form.deliveryData.deliveryDataCreator.code" label="SALAXY.NG1.PayerSummaryComponent.common.deliveryDataCreator"
                    label="Aineiston muodostaja (Palkkaus.fi)" read-only="true"></sxy-input>
                  <sxy-input model="form.deliveryData.deliveryDataSender.code" label="SALAXY.NG1.PayerSummaryComponent.common.deliveryDataSender" read-only="true"></sxy-input>
                </fieldset>
              </div>
            </div>
            <sxy-input model="form.deliveryData.contactPersons" include="name,responsibilityCode"></sxy-input>
            <fieldset>
              <legend sxy-text="SALAXY.NG1.PayerSummaryComponent.common.deliveryDataOwner"></legend>
              <sxy-input model="form.deliveryData.deliveryDataOwner.code"></sxy-input>
              <sxy-input model="form.deliveryData.deliveryDataOwner.type"></sxy-input>
              <sxy-input model="form.deliveryData.deliveryDataOwner.countryCode"></sxy-input>
              <sxy-input model="form.deliveryData.deliveryDataOwner.countryName"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'payer'" heading="{{'SALAXY.NG1.PayerSummaryComponent.common.payer' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irpsr.json" model="$ctrl.current.deliveryData.payer" type="Payer" debugger="false" auto-gen="false"
          read-only="{{ $ctrl.isReadOnly }}">
          <div>
            <fieldset>
              <legend sxy-text="SALAXY.NG1.PayerSummaryComponent.common.payerTitle"></legend>
              <sxy-input model="form.payerBasic.companyName"></sxy-input>
              <sxy-input model="form.payerBasic.missingId"></sxy-input>
              <sxy-input model="form.payerIds"></sxy-input>
              <sxy-input model="form.subOrgs"></sxy-input>
              <sxy-input model="form.pensionInsurances"></sxy-input>
              <sxy-input model="form.accidentInsurances" include="accInsPolicyNo">
                <form>
                  <fieldset>
                    <legend sxy-text="SALAXY.MODEL.AccidentInsurance.title"></legend>
                    <sxy-input model="form.accInsPolicyNo"></sxy-input>
                    <sxy-input model="form.accInsProvId.code"></sxy-input>
                    <sxy-input model="form.accInsProvId.type"></sxy-input>
                    <sxy-input model="form.accInsProvId.countryCode"></sxy-input>
                    <sxy-input model="form.accInsProvId.countryName"></sxy-input>
                  </fieldset>
                </form>
              </sxy-input>
            </fieldset>

            <fieldset>
              <legend sxy-text="SALAXY.NG1.PayerSummaryComponent.common.payerAddressTitle"></legend>
              <sxy-input model="form.address.co"></sxy-input>
              <sxy-input model="form.address.street"></sxy-input>
              <sxy-input model="form.address.poBox"></sxy-input>
              <sxy-input model="form.address.postalCode"></sxy-input>
              <sxy-input model="form.address.postOffice"></sxy-input>
              <sxy-input model="form.address.countryCode"></sxy-input>
              <sxy-input model="form.address.countryName"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'paymentMonth'" heading="{{'Ilmoitettavat tiedot' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irpsr.json" model="$ctrl.current.deliveryData.reports[0]" type="Report" debugger="false" auto-gen="false"
          read-only="{{ $ctrl.isReadOnly }}">
          <div>
            <fieldset>
              <sxy-input model="form.paymentMonth.year" read-only="true"></sxy-input>
              <sxy-input model="form.paymentMonth.month" read-only="true"></sxy-input>
            </fieldset>
            <fieldset>
              <salaxy-custom-code>
                <sxy-input model="form.transactions" template-url="psr-transactions.html"></sxy-input>
              </salaxy-custom-code>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
      <uib-tab index="'history'" heading="{{'SALAXY.NG1.PayerSummaryComponent.common.historyTitle' | sxyTranslate}}">
        <sxy-form open-api="salaxy-secure/schemas/irpsr.json" model="$ctrl.current" type="PayerSummary" debugger="false" auto-gen="false" read-only="{{ $ctrl.isReadOnly }}">
          <div>
            <fieldset>
              <sxy-input model="form.reportLog" read-only="true" include="irTimestamp,eventType,reportId,irReportId,irVersion"></sxy-input>
            </fieldset>
          </div>
        </sxy-form>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
<script type="text/ng-template" id="psr-transactions.html">
  <table class="table">
    <caption>Tulolajit</caption>
    <thead>
      <tr>
        <th>Tulolaji</th>
        <th>Määrä</th>
        <th class="text-right">
          <button type="button" class="btn btn-xs btn-primary" ng-if="!$ctrl.getReadOnly()" ng-click="$ctrl.value.push({})" sxy-text="SALAXY.UI_TERMS.addRow"></button>
        </th>
      </tr>
    </thead>
    <tbody class="form-horizontal">
      <tr ng-repeat="item in $ctrl.value">
        <td>
          <salaxy-input-enum name="transactionCode" label-type="plain" type="select"
            read-only="$ctrl.getReadOnly()" enum="SummaryTransactionCode"
            require="true" ng-model="item.transactionBasic.summaryTransactionCode"></salaxy-input-enum>
        </td>
        <td>
          <salaxy-input-number ng-if="item.transactionBasic.summaryTransactionCode != 'noWagesPayable'" require="true" name="transactionAmount"
            label-type="plain" read-only="$ctrl.getReadOnly()" ng-model="item.transactionBasic.amount"></salaxy-input-number>
          <div ng-if="item.transactionBasic.summaryTransactionCode == 'noWagesPayable'" class="salaxy-read-only-value" ng-init="item.transactionBasic.amount = null">-</div>
        </td>
        <td class="text-right">
          <button type="button" class="btn btn-xs btn-danger" ng-if="!$ctrl.getReadOnly()" ng-click="$ctrl.delete(item, $index)">
            <i class="fa fa-trash-o" title="Delete row"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</script>