<div class="salaxy-component salaxy-ir-payer-summary-list">
  <salaxy-odata-table crud-controller="IrPayerSummaryCrudController as $crud" template-url="salaxy-components/odata/lists/IrPsr.html" options="$ctrl.queryOptions">
  </salaxy-odata-table>
</div>