<div>
  <div class="btn-toolbar spacer-bottom" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.selectCalculations($odata.items, 26)">Valitse 26 viikkoa</button>
      <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.selectCalculations($odata.items, 34)">Valitse 34 viikkoa</button>
      <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.unselectCalculations()">Tyhjennä</button>
    </div>
  </div>
  <salaxy-odata-table ng-ref="$odata" selected-items="$ctrl.periodCalculations" url="/v03-rc/api/calculations/readonly"
    template-url="salaxy-components/odata/lists/CalculationsWithSalaryDate-select.html" crud-controller="CalculationCrudController as $crud"
    options="{$orderby: 'salaryDate desc', $filter: 'otherId eq \'' + $ctrl.worker.otherId + '\' and ( status eq \'paymentSucceeded\' )' }">
  </salaxy-odata-table>
</div>