
<salaxy-spinner ng-show="!$ctrl.validation" heading="Palkkatodistusta luodaan..."></salaxy-spinner>
<salaxy-validation-summary api-validation="$ctrl.validation" template-url="pay-certificate-validation.html">
  <p class="text-center">
    <b>
      Palkkatodistus on valmis ladattavaksi
    </b>
  </p>
</salaxy-validation-summary>

<p>&nbsp;</p>
<p class="text-center" ng-show="$ctrl.validation && $ctrl.worker && $ctrl.periodCalculations.length > 0">Avaa <a ng-href="{{$ctrl.getDownloadPdfUrl(true)}}" target="_blank>">Palkkatodistus</a>. </p>


<button class="btn btn-default pull-right" ng-click="$ctrl.startNew()">Luo uusi palkkatodistus</button>



<script type="text/ng-template" id="pay-certificate-validation.html">
<div ng-if="!$ctrl.hasValidation" ng-bind-html="$ctrl.loadingHtml"></div>
<div ng-if="$ctrl.hasValidation">
  <ng-transclude ng-if="$ctrl.isValid"></ng-transclude>
  <div ng-if="!$ctrl.isValid" class="alert alert-danger">
      <h4>Palkkatodistuksessa on kohtia, jotka vaativat lisähuomiota: </h4>
      <p style="display: block; font-family: monospace; white-space: pre;" ng-repeat="error in $ctrl.getErrors()">{{ error.msg }}</p>
  </div>
</div>
</script>