<div class="salaxy-component salaxy-report-list">
  <div ng-hide="$ctrl.getReports($ctrl.reportType).length > 0">
    <p>Ei raportteja vielä näytettävissä.</p>
  </div>
  <div class="table-responsive" ng-show="$ctrl.getReports($ctrl.reportType).length > 0">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 100px"></th>
          <th>Raportti</th>
          <th>Linkit</th>
          <th>Raporttipäivä</th>
          <th>Päivitetty</th>
          <th>Huom.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="report in $ctrl.getReports($ctrl.reportType)">
          <td>
            <a href="{{ report.pdfUrl || report.htmlUrl || report.jsonUrl }}" target="_blank">
              <img ng-src="{{ report.thumbnail }}" class="img-responsive img-thumbnail" />
            </a>
          </td>
          <td>
            <a href="{{ report.pdfUrl || report.htmlUrl || report.jsonUrl }}" target="_blank">
                                {{ report.title }}
                            </a>
          </td>
          <td>
            <a ng-show="report.pdfUrl" href="{{ report.pdfUrl }}" target="_blank">PDF</a>
            <a ng-show="report.htmlUrl" href="{{ report.htmlUrl }}" target="_blank">HTML</a>
            <a ng-show="report.jsonUrl" href="{{ report.jsonUrl }}" target="_blank">JSON</a>
          </td>
          <td>{{ report.reportDate | date }}</td>
          <td>{{ report.updatedAt | date }}</td>
          <td>
            <span class="label label-info" ng-if="report.isPreview">ESIKATSELU</span>
            <span class="label label-danger" ng-if="report.isDemoData">DEMO: demodataa</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>