<div class="salaxy-component salaxy-salary-report-list">
  <salaxy-odata-table ng-if="$ctrl.mode != 'panel'" crud-controller="SalaryReportCrudController as $crud" template-url="salaxy-components/odata/lists/SalaryReports.html" options="$ctrl.queryOptions">
  </salaxy-odata-table>
  <salaxy-odata-table ng-if="$ctrl.mode == 'panel'" crud-controller="SalaryReportCrudController as $crud" template-url="salaxy-components/odata/lists/SalaryReportsPanel.html" options="$ctrl.panelQueryOptions">
  </salaxy-odata-table>
</div>