<div class="modal-body modal-date-range">
  <form>
    <salaxy-date-range ng-model="$ctrl.current" label="{{ $ctrl.logic.title }}" name="dateRange" label-type="basic" label-placement="top"></salaxy-date-range>
  </form>
  <div class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="$dismiss()" sxy-text="{{ $ctrl.logic.cancelText }}"></button>
    <button class="btn btn-sm btn-primary" ng-click="$close('ok')" sxy-text="{{ $ctrl.logic.okText }}"></button>
  </div>
</div>