<span ng-switch="$ctrl.action">
  <a ng-switch-when="newCalc" href="#/calc/details/new" class="btn salaxy-action-button btn-new-calc btn-labeled-right" ng-class="$ctrl.buttonClass" ng-disabled="$ctrl.disabled" type="button" id="new-calc">
      {{$ctrl.label || 'SALAXY.NG1.ActionButtonComponent.newCalculation' | sxyTranslate}}<i class="fa fa-plus"></i>
  </a>
  <a ng-switch-when="newCalcForWorker" ng-href="#/calc/details/{{$ctrl.options.id}}/new-for-worker" class="btn salaxy-action-button btn-new-calc-for-worker btn-labeled-right" ng-class="$ctrl.buttonClass" ng-disabled="$ctrl.disabled" type="button" id="new-calc-for-worker">
    {{$ctrl.label || 'SALAXY.NG1.ActionButtonComponent.createCalculationForWorker' | sxyTranslate}}<i class="fa fa-plus"></i>
  </a>
  <a ng-switch-when="newMessage" href="#/messages/details/new" class="btn salaxy-action-button btn-new-message btn-labeled-right" ng-class="$ctrl.buttonClass" ng-disabled="$ctrl.disabled" type="button" id="new-message">
    {{$ctrl.label || 'SALAXY.NG1.ActionButtonComponent.startNewMessage' | sxyTranslate}}<i class="fa fa-plus"></i>
  </a>
  <a ng-switch-when="newPayroll" href="#/payroll/details/new" class="btn salaxy-action-button btn-new-payroll btn-labeled-right" ng-class="$ctrl.buttonClass" ng-disabled="$ctrl.disabled" type="button" id="new-payroll">
    {{$ctrl.label || 'SALAXY.NG1.ActionButtonComponent.newPayroll' | sxyTranslate}}<i class="fa fa-plus"></i>
  </a>
 
  <span ng-switch-when="newWorker" ng-controller="WorkerAccountCrudController as $workerCtrl">
    <button ng-click="$workerCtrl.launchWorkerWizard('details')" class="btn salaxy-action-button btn-new-worker btn-labeled-right" ng-class="$ctrl.buttonClass" ng-disabled="$ctrl.disabled" type="button" id="new-worker">
      {{$ctrl.label || 'SALAXY.NG1.ActionButtonComponent.newWorker' | sxyTranslate}}<i class="fa fa-plus"></i>
    </button>
  </span>
<span ng-switch-when="newTaxcard">
    <a sxy-if-role="worker" href="#/taxcards" class="btn salaxy-action-button btn-new-payroll btn-labeled-right" ng-class="$ctrl.buttonClass" ng-disabled="$ctrl.disabled" type="button" id="new-taxcard">
      {{$ctrl.label || 'Lähetä verokortti' | sxyTranslate}}<i class="fa fa-plus"></i>
    </a>
    <!-- TODO add action for role Household/Company -->
  </span>
<span ng-switch-default class="alert alert-danger">Error: Unknown action for button</span>
</span>