<div class="salaxy-component salaxy-alert">
  <div ng-class="'alert alert-' + $ctrl.type">
    <div>
      <table style="width: 100%; border-collapse:separate;">
        <!-- TODO: Switch this to position:absolute & margins or flex-grid -->
        <tr>
          <td class="icon-container hidden-xxs" ng-if="$ctrl.getIcon()">
            <span class="icon"><i class="fa {{ $ctrl.getIcon() }}"></i></span>
          </td>
          <td>
            <div class="main">
              <ng-transclude ng-transclude-slot="main">
                <p>{{ $ctrl.text }}</p>
              </ng-transclude>
            </div>
          </td>
          <td ng-if="$ctrl.hasMoreInfo" class="text-right">
            <button class="btn btn-info btn-main" ng-click="$ctrl.showMoreInfo = !$ctrl.showMoreInfo">Lue lisää</button>
          </td>
        </tr>
      </table>
      <div class="collapse" ng-if="$ctrl.hasMoreInfo" ng-class="{ show: $ctrl.showMoreInfo }">
        <ng-transclude ng-transclude-slot="aside"></ng-transclude>
      </div>
    </div>
  </div>
</div>