<i class="salaxy-avatar fa" ng-class="{'fa-user': $ctrl.isPersonIcon, 'fa-square': $ctrl.isCompanyIcon }" ng-style="{color: $ctrl.color }">
    <img ng-src="{{ $ctrl.avatar.url }}" ng-show="$ctrl.isImage" />
    <strong ng-show="!$ctrl.isImage">{{ $ctrl.initials }}</strong>
</i>