<div class="salaxy-component salaxy-calendar">
  <div ng-if="$ctrl.mode == 'align-weekdays'">
    <table class="calendar">
      <thead>
        <tr>
          <th class="calendar-title">
            {{ $ctrl.start | date : "yyyy" }}
            <span ng-if="($ctrl.start | date : 'yyyy') != ($ctrl.end | date : 'yyyy')">- {{ $ctrl.end | date : "yyyy" }}</span>
          </th>
          <th class="day day-of-week-{{ day.weekday }}" ng-repeat="day in $ctrl.weekdaysForMonth track by $index">{{ day.text }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="month in $ctrl.months">
          <td class="month-title">{{ month.title }}</td>
          <td class="beginning-spacer" ng-if="month.firstDayDayOfWeek > 1" colspan="{{ month.firstDayDayOfWeek - 1}}"></td>
          <td class="day day-of-week-{{ day.weekday }} day-type-{{ day.dayType }} clickable" ng-repeat="day in month.days" ng-click="$ctrl.dateClicked(day, $ctrl.series[0], $event)">
            <div ng-repeat="ev in day.periods[0]" ng-class="$ctrl.getCssClass(ev)"
              ng-click="$ctrl.eventClicked(ev, day, null, $event)" uib-tooltip="{{ ev.summary }}" tooltip-append-to-body="true"
              ng-style="$ctrl.getEventStyle(ev, day.periods[0])" ></div>
            <i ng-repeat="ev in day.singleDays[0]" ng-class="$ctrl.getCssClass(ev)" ng-style="$ctrl.getEventStyle(ev, day.singleDays[0])"
              ng-click="$ctrl.eventClicked(ev, day, null, $event)" uib-tooltip="{{ ev.summary }}" tooltip-append-to-body="true"></i>
            <span class="day-number">{{ day.day }}</span><br />
          </td>
          <td class="day end-spacer" ng-if="(38 - month.firstDayDayOfWeek - month.daysInMonth) > 0" colspan="{{ 38 - month.firstDayDayOfWeek - month.daysInMonth  }}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$ctrl.mode == 'align-left'">
    <table class="calendar">
      <thead>
        <tr>
          <th class="calendar-title">
            {{ $ctrl.start | date : "yyyy" }}
            <span ng-if="($ctrl.start | date : 'yyyy') != ($ctrl.end | date : 'yyyy')">- {{ $ctrl.end | date : "yyyy" }}</span>
          </th>
          <th class="day" ng-repeat="day in $ctrl.weekdaysForMonth track by $index">{{ day.text }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="month in $ctrl.months">
          <td class="month-title">{{ month.title }}</td>
          <td class="day day-of-week-{{ day.weekday }} day-type-{{ day.dayType }} clickable" ng-repeat="day in month.days" ng-click="$ctrl.dateClicked(day, $ctrl.series[0], $event)">
            <div ng-repeat="ev in day.periods[0]" ng-class="$ctrl.getCssClass(ev)"
              ng-click="$ctrl.eventClicked(ev, day, null, $event)" uib-tooltip="{{ ev.summary }}" tooltip-append-to-body="true"
              ng-style="$ctrl.getEventStyle(ev, day.periods[0])" ></div>
            <i ng-repeat="ev in day.singleDays[0]" ng-class="$ctrl.getCssClass(ev)" ng-style="$ctrl.getEventStyle(ev, day.singleDays[0])"
              ng-click="$ctrl.eventClicked(ev, day, null, $event)" uib-tooltip="{{ ev.summary }}" tooltip-append-to-body="true"></i>
            <span class="day-number">{{ day.weekdayText }}</span><br />
          </td>
          <td class="day end-spacer" ng-if="(31 - month.daysInMonth) > 0" colspan="{{ 31 - month.daysInMonth }}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$ctrl.mode == 'horizontal'" class="calendar-horizontal">
    <table class="calendar" style="width: max-content;margin-bottom: 10px;">
      <thead>
        <tr>
          <th class="calendar-title" rowspan="2">
            {{ $ctrl.start | date : "yyyy" }}
            <span ng-if="($ctrl.start | date : 'yyyy') != ($ctrl.end | date : 'yyyy')">- {{ $ctrl.end | date : "yyyy" }}</span>
          </th>
          <th class="month-title" ng-repeat="month in $ctrl.months" colspan="{{ month.daysInMonth }}">{{ month.title }} {{ month.year }}</th>
        </tr>
        <tr>
          <th class="day day-of-week-{{ day.weekday }} day-type-{{ day.dayType }}" ng-click="$ctrl.dateClicked(day, null, $event)" ng-repeat="day in $ctrl.allDays">
            {{ day.weekdayText }}<br />
            {{ day.day }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="series in $ctrl.series" ng-init="seriesIndex = $index">
          <td class="series-title" ng-class="{ 'has-avatar': series.avatar }">
            <salaxy-avatar avatar="series.avatar" ng-if="series.avatar"
              style="font-size: 30px;left: 2px;position: absolute;top: 2px;"></salaxy-avatar>
            <div><strong>{{ series.title }}</strong></div>
            <div>{{ series.description }}</div>
          </td>
          <td class="day day-of-week-{{ day.weekday }} day-type-{{ day.dayType }} clickable"
            ng-repeat="day in $ctrl.allDays" ng-click="$ctrl.dateClicked(day, series, $event)">
            <div ng-repeat="ev in day.periods[seriesIndex]" ng-class="$ctrl.getCssClass(ev)" ng-style="$ctrl.getEventStyle(ev, day.periods[seriesIndex])"
              ng-click="$ctrl.eventClicked(ev, day, series, $event)" uib-tooltip="{{ ev.summary }}" tooltip-append-to-body="true"></div>
            <i ng-repeat="ev in day.singleDays[seriesIndex]" ng-class="$ctrl.getCssClass(ev)" ng-style="$ctrl.getEventStyle(ev, day.singleDays[seriesIndex])"
              ng-click="$ctrl.eventClicked(ev, day, series, $event)" uib-tooltip="{{ ev.summary }}" tooltip-append-to-body="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$ctrl.mode == 'list'">
    <h3>TODO: List layout</h3>
    <p>Period: {{ { start: $ctrl.start, end: $ctrl.end } | sxyDateRange }}</p>
    <fieldset ng-repeat="month in $ctrl.monthlyList">
      <legend>{{ month.title }} / {{ month.year }}</legend>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weekday</th>
            <th>Events</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="day in month.days">
            <td>{{ day.day }}</td>
            <td>
              {{ day.weekdayText }}
              <span ng-if="day.dayType != 'normal'">{{ day.dayType }}</span>
            </td>
            <td>
              <ul ng-repeat="eventArr in day.events" ng-init="seriesIndex = $index">
                <li ng-repeat="period in eventArr"><strong>{{ $ctrl.series[$index].title || $ctrl.series[$index].key }}: {{ period | sxyDateRange }}</strong> {{ period.title }}: {{ period.description }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>