<button class="btn btn-default btn-xs" ng-if="$ctrl.type == 'dialog'" ng-click="$ctrl.showDialog()">
  <span ng-if="$ctrl.hasKey"><span class="key-text">{{ $ctrl.key }}</span></span>
  <span ng-if="!$ctrl.hasKey && $ctrl.isArray()"><span class="bracket">[</span><span class="number">{{$ctrl.json.length}}</span><span class="bracket">]</span></span>
  <span ng-if="!$ctrl.hasKey && !$ctrl.isArray()"><span class="bracket">{</span><span class="number">{{$ctrl.getKeys().length}}</span><span class="bracket">}</span></span>
</button>
<div class="json-formatter-row" ng-if="$ctrl.type != 'dialog'">
  <a ng-click="$ctrl.toggleOpen()">
    <span class="toggler {{ $ctrl.isOpen ? 'open' : ''}}" ng-if="$ctrl.isObject()"></span>
    <span class="key {{$ctrl.changes.type}}" ng-if="$ctrl.hasKey"><span class="key-text">{{ $ctrl.key }}</span><span ng-if="$ctrl.changes"> ({{ $ctrl.changes.icon }})</span><span class="colon">:</span></span>
    <span class="value">
      <span ng-if="$ctrl.isObject()">
        <span ng-if="$ctrl.isArray()"><span class="bracket">[</span><span class="number">{{$ctrl.json.length}}</span><span class="bracket">]</span></span>
        <span ng-if="!$ctrl.isArray()"><span class="bracket">{</span><span class="number">{{$ctrl.getKeys().length}}</span><span class="bracket">}</span></span>
      </span>
      <span ng-if="!$ctrl.isObject()" ng-click="$ctrl.openLink($ctrl.isUrl)" class="{{ $ctrl.jsonType }}" ng-class="{ date: $ctrl.isDate, url: $ctrl.isUrl }">
        {{$ctrl.parseValue($ctrl.json)}}
        <del ng-if="$ctrl.changes">{{$ctrl.changes.oldValue}}</del>
      </span>
    </span>
    <span ng-if="$ctrl.showThumbnail()" class="thumbnail-text">{{$ctrl.getThumbnail()}}</span>
  </a>
  <div class="children" ng-if="$ctrl.getKeys().length && $ctrl.isOpen">
    <salaxy-json-formatter ng-repeat="key in $ctrl.getKeys() track by $index" key="key" open="$ctrl.childrenOpen()"
      json="$ctrl.json[key]" compare="$ctrl.compare" compare-to="$ctrl.compareTo[key]"></salaxy-json-formatter>
    <salaxy-json-formatter ng-repeat="key in $ctrl.deletedKeys track by $index" key="key" open="$ctrl.childrenOpen()"
      json="$ctrl.json[key]" compare="$ctrl.compare" compare-to="$ctrl.compareTo[key]"></salaxy-json-formatter>
  </div>
  <div class="children empty object" ng-if="$ctrl.isEmptyObject()"></div>
  <div class="children empty array" ng-if="$ctrl.getKeys() && !$ctrl.getKeys().length && $ctrl.isOpen && $ctrl.isArray()"></div>
</div>