<div class="modal-calc-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{ $ctrl.logic.title }}</h2>
  </div>
  <div class="modal-body">
    <salaxy-json-formatter json="$ctrl.current" type="{{ $ctrl.logic.type }}" open="$ctrl.logic.open" compare="$ctrl.logic.compare" compare-to="$ctrl.logic.compareTo" key="$ctrl.logic.key"></salaxy-json-formatter>
    <div class="text-right">
      <button type="reset" class="btn btn-primary" ng-click="$close('cancel')" sxy-text="SALAXY.UI_TERMS.close"></button>
    </div>
  </div>
</div>