<div class="salaxy-component salaxy-navi-sitemap">
  <ul class="list-group" ng-class="{'salaxy-navi-3-level': $ctrl.mode == '3-level'}">
    <li ng-repeat="section in $ctrl.filterHidden($ctrl.sitemap)" class="list-group-item">
      <a ng-href="{{section.url}}" ng-click="!$ctrl.hasChildren(section) ? $ctrl.toggleNavi() : return">
        <span ng-if="$ctrl.mode != 'default' && $ctrl.hasChildren(section)">
          <i aria-hidden="true" class="fa pull-right" ng-class="$ctrl.isCurrent(section) ? 'fa-chevron-up' : 'fa-chevron-down' "></i>
        </span> {{section.title | sxyTranslate}} <span ng-if="$ctrl.isTest(section)" class="badge bg-primary"><span class="small">test</span></span></a>
      <ul ng-if="$ctrl.hasChildren(section) && ($ctrl.mode == 'default' || $ctrl.isCurrent(section))">
        <li ng-repeat="subNavi in $ctrl.filterHidden(section.children)">
          <a ng-href="{{ $ctrl.getUrl(subNavi) }}" ng-click="$ctrl.toggleNavi()" ng-class="{ 'active' : $ctrl.isCurrent(subNavi)}">{{subNavi.title | sxyTranslate}} <span ng-if="$ctrl.isTest(subNavi)" class="badge bg-primary"><span class="small">test</span></span></a>

          <ul ng-if="$ctrl.mode == '3-level' && $ctrl.isCurrent(subNavi) && $ctrl.hasChildren(subNavi)">
            <li ng-repeat="naviLevel3 in $ctrl.filterHidden(subNavi.children)">
              <a ng-href="{{ $ctrl.getUrl(naviLevel3) }}" ng-click="$ctrl.toggleNavi()" ng-class="{'active' : $ctrl.isCurrent(naviLevel3)}">{{naviLevel3.title | sxyTranslate}} <span ng-if="$ctrl.isTest(naviLevel3)" class="badge bg-primary"><span class="small">test</span></span></a> 
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class="poweredby">
    <span class="poweredby-image"></span>
  </div>
</div>