<div ng-cloak class="salaxy-component salaxy-navi-page-container" ng-class="{ 'salaxy-navi-sm-opened': $ctrl.isNaviOpen }">
  <ng-transclude ng-transclude-slot="nav">
    <nav class="salaxy-navi-sidebar hidden-print">
      <div class="salaxy-logo-container"><a href="/#/"></a></div>
      <div class="visible-sm visible-xs mobile-login-container text-center">
        <salaxy-login-button></salaxy-login-button>
      </div>
      <salaxy-navi-sitemap mode="accordion"></salaxy-navi-sitemap>
    </nav>
  </ng-transclude>
  <header class="salaxy-navi-header-mobile">
    <button type="button" class="salaxy-navi-hamburger btn btn-default pull-right" ng-click="$ctrl.toggleNavi()">
			<span class="sr-only" sxy-text="SALAXY.UI_TERMS.navigation"></span>
			<i class="fa  fa-bars" aria-hidden="true"></i>
		</button>
    <h1>{{ $ctrl.title | sxyTranslate }}</h1>
  </header>
  <div class="salaxy-navi-main-container">
    <content>
      <ng-transclude ng-transclude-slot="header">
        <header class="salaxy-navi-header-default">
          <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' : 'container'">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="page-title">
                  {{ $ctrl.title | sxyTranslate }}
                </h1>
                <div class="pull-right  hidden-print">
                  <salaxy-login-button class='pull-right'></salaxy-login-button>
                </div>
              </div>
            </div>
          </div>
        </header>
      </ng-transclude>
      <div id="salaxy-alert-container"></div>
      <ng-transclude ng-transclude-slot="main">
        <main>
          <div ng-class="$ctrl.current.isFullWidth ? 'container-fluid' : 'container'" ng-view autoscroll="true"></div>
        </main>
      </ng-transclude>
    </content>
  </div>
</div>