<div ng-class="{'sxy-spinner-full-screen-container': $ctrl.fullScreen, 'salaxy-component': true, 'salaxy-spinner': true, }">
  <div class="sxy-spinner-container">
    <div class="sxy-spinner">
      <svg class="sxy-spinner-bg" viewBox="0 0 64 64"><circle cx="32" cy="32" r="26"></circle></svg>
      <svg class="sxy-spinner-spin" viewBox="0 0 64 64">
        <circle transform="translate(32,32)" r="26"></circle>
      </svg>
    </div>
    <h3 ng-if="$ctrl.heading">{{$ctrl.heading | sxyTranslate}}</h3>
    <p style="white-space: pre;" ng-if="$ctrl.text">{{$ctrl.text | sxyTranslate}}</p>
  </div>
</div>