<div>
    <ul class="nav nav-tabs">
        <li ng-repeat="tab in $ctrl.tabs" ng-class="{ active: tab.selected, disabled: tab.disable}" class="nav-item">
            <a href class="nav-link" ng-click="$ctrl.select(tab, $event)" salaxy-append-node="tab.headingElement">{{tab.heading}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <ng-transclude></ng-transclude>
    </div>
</div>