<div class="salaxy-component salaxy-ui-customizer">
    <div class="btn-toolbar" role="toolbar" aria-label="Customizer toolbar">
        <div class="btn-group" role="group" aria-label="Preview">
            <div class="btn-group" role="group" uib-dropdown>
                <button type="button" class="btn btn-primary" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kokeile esimerkkiä... <span class="caret"></span>
        </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="$ctrl.loadExample('palkkaus')">Palkkaus.fi</a></li>
                    <li><a href="" ng-click="$ctrl.loadExample('bootstrap')">Bootstrap</a></li>
                    <li><a href="" ng-click="$ctrl.loadExample('hearts')">Valentines day</a></li>
                </ul>
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="Saving">
            <button class="btn btn-default" ng-click="$ctrl.save()" ng-class="$ctrl.customization.variables.length == 0 ? 'disabled' : ''">Tallenna tähän selaimeen</button>
            <button class="btn btn-default" ng-click="$ctrl.load()" ng-class="$ctrl.hasStoredCustomization() ?  '' : 'disabled'">...lataa</button>
            <button class="btn btn-default" ng-click="$ctrl.clear()" ng-class="$ctrl.hasStoredCustomization() ? '' : 'disabled'">...tyhjennä</button>
        </div>
        <div class="btn-group" role="group" aria-label="Dynamic rendering">
            <button class="btn btn-default" ng-click="$ctrl.loadExample('palkkaus')" ng-class="$ctrl.getLessJs() ? 'active disabled' : ''">Esikatselu päälle</button>
            <button class="btn btn-default" ng-click="$ctrl.setDynamicMode(false)" ng-class="$ctrl.getLessJs() ? '' : 'active disabled'">...pois (refresh)</button>
        </div>
    </div>
    <uib-tabset>
        <uib-tab index="'customizer'" heading="Ulkoasun muokkaus">
            <div class="text-right" ng-if="$ctrl.customization.variables.length > 3">
                <button class="btn btn-default pull-left" ng-click="$ctrl.addRow()">Lisää rivi</button>
                <button class="btn btn-primary" ng-click="$ctrl.applyLess()">Esikatsele</button>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Muuttuja</th>
                        <th>Räätälöity arvo</th>
                        <th></th>
                        <th>Kommentit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="var in $ctrl.customization.variables">
                        <td>
                            <salaxy-form-group name="{{ 'varName' + $index }}" require="true" label="Valitse variable" label-type="plain">
                                <input type="text" id="{{ 'varName' + $index }}" name="{{ 'varName' + $index }}" placeholder="Syötä LESS variable" autocomplete="off" ng-model="var.name" ng-model-options="{allowInvalid: true, debounce: 250}" class="form-control" typeahead-on-select="$ctrl.onChange()"
                                    uib-typeahead="varAll.name for varAll in $ctrl.allVariables | filter:$viewValue | limitTo:50" typeahead-template-url="salaxy-components/helpers/UiCustomizerVariable.html" ng-pattern="/@[\w-]+/" typeahead-show-hint="true"
                                    typeahead-append-to-body="true" typeahead-min-length="1" typeahead-editable="true">
                            </salaxy-form-group>
                        </td>
                        <td>
                            <salaxy-input name="{{ 'varValue' + $index }}" ng-model="var.value" label-type="plain"></salaxy-input>
                        </td>
                        <td style="width: 32px; padding-left: 5px; {{ $ctrl.getType(var.name) == 'color' ? 'background-color: ' + var.value : '' }}">
                            <color-picker ng-if="$ctrl.getType(var.name) == 'color'" ng-model="var.value" options="{ swatchOnly: true, format: 'rgb', allowEmpty: true, close: { show: true }, clear: { show: true }, reset: { show: true } }"></color-picker>
                        </td>
                        <td>
                            <salaxy-input name="{{ 'varComment' + $index }}" ng-model="var.comment" label-type="plain"></salaxy-input>
                        </td>
                        <td><button type="button" class="btn btn-danger" ng-click="$ctrl.removeRow(var)">Del</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button class="btn btn-default pull-left" ng-click="$ctrl.addRow()">Lisää rivi</button>
                <button class="btn btn-primary" ng-click="$ctrl.applyLess()">Esikatsele</button>
            </div>
        </uib-tab>
        <uib-tab index="'calc'" heading="Esimerkkisivu">
            <h2>Laskuri ulkoasun kokeilemiseen</h2>
            <salaxy-calc model="'new'"></salaxy-calc>
        </uib-tab>
        <uib-tab index="'help'" heading="Ohjeita (näin aloitat)">
            <h2>Näin räätälöit oman ulkoasun</h2>
            <p class="lead">
                Palkkaus.fi / Salaxy-käyttöliittymäkirjasto perustuu
                <a href="https://getbootstrap.com/docs/3.4/" target="_blank">Bootstrap 3 -kirjastoon</a>, joka on käytetyin käyttöliittymäkirjasto internetissä. Tämän takia siitä on todella helppoa löytää ohjeita esim. Googlesta. Kuka tahansa, jolla on
                vähänkin kokemusta verkkopalveluiden suunnittelusta tai toteutuksesta, tuntee Bootstrapin - ainakin korkealla tasolla.
            </p>
            <p class="lead">
                Bootstrap-kirjaston ulkoasua voi muutta helposti muokkaamalla värejä, fontteja, pyöristyksiä jne. muuttujien avulla. Lisäksi Salaxy-kirjasto määrittelee muuttujia, jotka liittyvät palkanmaksun komponentteihin ja Palkkaus.fi-sivustoon. Kirjastoista löytyy
                yhteensä
                <strong>{{ $ctrl.allVariables.length }} räätälöitävää muuttujaa!</strong> Katso kaikki "Lista muuttujista"-välilehdeltä.
            </p>
            <p>
                Ulkoasun muokkaustoiminto tallentaa muokkaukset omaan selaimeesi. Samaa ulkoasua voi käyttää
                <a href="https://www.palkkaus.fi">Palkkaus.fi yrityspalvelussa</a>,
                <a href="https://www.palkkaus.fi">Palkkaus PRO tilitoimistopalvelussa</a> sekä
                <a href="https://developers.salaxy.com">Salaxy Developers -kehittäjäsivustolla</a>.
            </p>
            <p>
                <strong>
          Huomaathan, että kun räätälöidyn ulkoasun dynaaminen esikatselutoiminto 
          on päällä, se kuluttaa paljon selaimen / koneen resursseja.
        </strong> Selain saattaa tuntua hitaalta. Tämä on luonnollista ja korjautuu, kun ulkoasu optimoidaan osana tuotantoonsiirtoa.
            </p>
            <p>
                Kun räätälöity ulkoasu on valmiina
                <strong>pyydä tuotantoonsiirtoa yhteyshenkilöltäsi tai asiakaspalvelustamme</strong>.
            </p>
        </uib-tab>
        <uib-tab index="'publish'" heading="Siirrä tuotantoon">
            <p class="lead">
                Ulkoasun räätälöintityökalu on vasta testauksessa. Niinpä kehittäjämme tarkistavat kaikki ulkoasut ennen kuin ne menevät tuotantoon.
                <strong>
          Pyydä tuotantoonsiirtoa yhteyshenkilöltäsi tai asiakaspalvelustamme.
        </strong>
            </p>
            <p>
                Asiakaspalvelumme pyytää alla olevaa koodia. Voit lähettää sen osoitteeseen
                <a href="mailto:aspa@palkkaus.fi">aspa@palkkaus.fi</a>.
            </p>
            <pre><div ng-repeat="var in $ctrl.customization.variables">{{ var.name }}: {{ var.value }};{{ var.comment ? ' // ' + var.comment : '' }}</div></pre>
        </uib-tab>
        <uib-tab index="'variables'" heading="Lista muuttujista">
            <h3>Salaxy -muuttujat</h3>
            <p>Nämä muuttujat on määritetty Salaxy-kirjastossa, jolla Palkkaus.fi-palvelu on tehty.</p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Muuttuja</th>
                        <th>Tyyppi</th>
                        <th>Oletus</th>
                        <th>Kuvaus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="group in $ctrl.sxyVariables">
                        <th colspan="4">{{ group.heading }}: <span ng-bind-html="group.descr"></span></th>
                    </tr>
                    <tr ng-repeat="variable in group.variables">
                        <td>{{ variable.name }}</td>
                        <td>{{ variable.type }}</td>
                        <td>{{ variable.defaultValue }}</td>
                        <td ng-bind-html="variable.descr"></td>
                    </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
            </table>
            <h3>Bootstrap 3 kirjasto</h3>
            <p>
                Nämä ovat Bootstrap-kirjaston määrittämiä muuttujia. Huomaathan, että näiden käytöstä löytyy paljon tietoa Googlaamalla. Voit myös kokeilla muiden tekemiä räätälöintityökaluja esim.
                <a href="https://getbootstrap.com/docs/3.4/customize/" target="_blank">täällä</a>,
                <a href="http://pikock.github.io/bootstrap-magic/3.1/#!/editor" target="_blank">täällä</a> ja
                <a href="https://www.bootstrap-live-customizer.com/" target="_blank">täällä</a>.
            </p>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Muuttuja</th>
                        <th>Tyyppi</th>
                        <th>Oletus</th>
                        <th>Kuvaus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="group in $ctrl.bsVariables">
                        <th colspan="4">{{ group.heading }}: <span ng-bind-html="group.descr"></span></th>
                    </tr>
                    <tr ng-repeat="variable in group.variables">
                        <td>{{ variable.name }}</td>
                        <td>{{ variable.type }}</td>
                        <td>{{ variable.defaultValue }}</td>
                        <td ng-bind-html="variable.descr"></td>
                    </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>
</div>