<a class="clickable">
  <b class="salaxy-highlight" ng-bind-html="(match.label + (match.model.type ? ' (' + match.model.type + ')' : '')) | uibTypeaheadHighlight:query"></b><br />
  <small class="salaxy-highlight">
    <div ng-bind-html="(match.model.descr ? match.model.descr : 'Oletus: ' + match.model.defaultValue) | uibTypeaheadHighlight:query"></div>
  </small>
</a>