<div>
  <div class="panel-heading cleaning">
    <span class="pull-left">
      <div class="icon-wrapper salaxy-household-usecase-avatar">
        <div class="main-icon-wrapper">
          <img ng-src="{{$ctrl.usecaseData.icon}}">
        </div>
      </div>
    </span>
    <h1>{{$ctrl.usecaseData.label}}</h1>
    <p class="calc-text">

      <span ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">{{$ctrl.salaryRow.count || 0}} h x {{$ctrl.salaryRow.price || 0}}
        €</span>
      <span ng-if="$ctrl.salaryRow.rowType=='salary' || $ctrl.salaryRow.rowType=='monthlySalary'">{{$ctrl.salaryRow.price || 0}} € <span
          ng-if="$ctrl.salaryRow.rowType=='monthlySalary'" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.pricePerMonth"></span></span>

      <span ng-if="$ctrl.isHouseholdDeductible" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.isHouseholdDeductible"></span>

      <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">{{ ($ctrl.salaryRow.count || 0) * ($ctrl.salaryRow.price || 0) }}
        €</span>
      <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='salary' || $ctrl.salaryRow.rowType=='monthlySalary'">{{ $ctrl.salaryRow.price || 0}} € </span>
    </p>
    <a class="btn-link btn-showmore" ng-click="showInfo = !showInfo"><span sxy-text="SALAXY.NG1.UiTerms.showMore"></span><i class="fa fa-info-circle"></i></a>
  </div>
  <div class="panel-body">
    <p sxy-html=SALAXY.NG1.HouseholdUsecaseComponent.cleaning.shortInfoText.html></p>
    <span class="collapse" ng-class="{show: showInfo}" sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.cleaning.longInfoText.html">

    </span>
    <div class="form-horizontal">
      <salaxy-textarea ng-if="$ctrl.usecaseData.subType == 'other'" name="workTypeOtherMessage" label="SALAXY.NG1.HouseholdUsecaseComponent.base.workDescription" ng-model="$ctrl.usecaseData.workTypeOtherMessage" label-cols="col-sm-6"></salaxy-textarea>
      <salaxy-input-enum type="select" name="mainRowType" label="SALAXY.NG1.HouseholdUsecaseComponent.base.salaryKind" ng-model="$ctrl.salaryRow.rowType" options="{'salary':('SALAXY.ENUM.SalaryKind.salary.label'| sxyTranslate),'hourlySalary':('SALAXY.ENUM.SalaryKind.hourlySalary.label' | sxyTranslate),'monthlySalary':('SALAXY.ENUM.SalaryKind.monthlySalary.label' | sxyTranslate)}"
        ng-change="$ctrl.changeRowType()" label-cols="col-sm-6" required></salaxy-input-enum>
      <salaxy-input-number name="price" label="{{$ctrl.priceLabel}}" ng-model="$ctrl.salaryRow.price" label-cols="col-sm-6" required></salaxy-input-number>
      <salaxy-input-number ng-if="$ctrl.salaryRow.rowType == 'hourlySalary'" name="hours" label="SALAXY.NG1.HouseholdUsecaseComponent.base.hourCount" ng-model="$ctrl.salaryRow.count" required label-cols="col-sm-6"></salaxy-input-number>

      <salaxy-input-boolean name="isContractLessThanYear" label="SALAXY.NG1.HouseholdUsecaseComponent.cleaning.contractLastedLessThanYear" type="switch" ng-model="$ctrl.usecaseData.isContractLessThanYear" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no"
        label-cols="col-sm-6">
      </salaxy-input-boolean>
      <salaxy-input-boolean name="isFullTime" label="SALAXY.NG1.HouseholdUsecaseComponent.cleaning.fullTime" type="switch" ng-model="$ctrl.usecaseData.isFullTime" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6">
      </salaxy-input-boolean>

      <salaxy-input-boolean name="isHouseholdDeductible" label="SALAXY.NG1.HouseholdUsecaseComponent.base.householdDeduction" type="switch" ng-model="$ctrl.isHouseholdDeductible" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6"></salaxy-input-boolean>
      <div ng-if="$ctrl.usecaseData.isFullTime" class="text-danger" sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.cleaning.footnote.html">

      </div>
    </div>
  </div>

</div>