<div>
  <div class="panel-heading cleaning">
    <span class="pull-left">
      <div class="icon-wrapper salaxy-household-usecase-avatar">
        <div class="main-icon-wrapper">
          <img ng-src="{{$ctrl.usecaseData.icon}}">
        </div>
      </div>
    </span>
    <h1>{{$ctrl.usecaseData.label}}</h1>
    <p class="calc-text">
      <span ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">
        {{$ctrl.salaryRow.count || 0}} h x {{$ctrl.salaryRow.price || 0}} €</span>
      <span ng-if="!($ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown')">
        {{$ctrl.salaryRow.price || 0}} €
        <span ng-if="$ctrl.salaryRow.rowType=='monthlySalary'" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.pricePerMonth"></span>
      </span>
      <span ng-if="$ctrl.isHouseholdDeductible" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.isHouseholdDeductible"></span>
      <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">
        {{ ($ctrl.salaryRow.count || 0) * ($ctrl.salaryRow.price || 0) }} €
      </span>
      <span class="result-text" ng-if="!($ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown')">
        {{ $ctrl.salaryRow.price || 0}} €
      </span>
    </p>
    <a class="btn-link btn-showmore" ng-click="showInfo = !showInfo"><span sxy-text="SALAXY.NG1.UiTerms.showMore"></span><i class="fa fa-info-circle"></i></a>
  </div>
  <div class="panel-body">
    <p sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.base.shortInfoText.html"></p>
    <span class="collapse" ng-class="{show: showInfo}" sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.base.longInfoText.html"></span>
    <div class="form-horizontal">

      <salaxy-input-enum type="select" name="mainRowType" label="SALAXY.NG1.HouseholdUsecaseComponent.base.salaryKind" placeholder="Valitse" ng-model="$ctrl.salaryRow.rowType" options="{salary:('SALAXY.ENUM.SalaryKind.salary.label'| sxyTranslate),hourlySalary:('SALAXY.ENUM.CalculationRowType.hourlySalary.label' | sxyTranslate),monthlySalary:('SALAXY.ENUM.CalculationRowType.monthlySalary.label' | sxyTranslate),totalEmployerPayment:('SALAXY.ENUM.CalculationRowType.totalEmployerPayment.label' | sxyTranslate)}"
        ng-change="$ctrl.changeRowType()" label-cols="col-sm-6" hidden-options="unknown" enum="CalculationRowType" required></salaxy-input-enum>


      <salaxy-input-number name="price" label="{{$ctrl.priceLabel}}" ng-model="$ctrl.salaryRow.price" label-cols="col-sm-6" required></salaxy-input-number>
      <salaxy-input-number ng-if="$ctrl.salaryRow.rowType == 'hourlySalary'" name="hours" label="SALAXY.NG1.HouseholdUsecaseComponent.base.hourCount" ng-model="$ctrl.salaryRow.count" required label-cols="col-sm-6"></salaxy-input-number>
      <salaxy-input-occupation-type name="occupationType" ng-model="$ctrl.usecaseData.occupation" label-cols="col-sm-6" label="SALAXY.NG1.WorkerWizardComponent.employment.work.occupationCode" ng-required="$ctrl.usecaseData.id == 'other/undefined'"></salaxy-input-occupation-type>

      <salaxy-input-boolean name="isHouseholdDeductible" label="SALAXY.NG1.HouseholdUsecaseComponent.base.householdDeduction" type="switch" ng-model="$ctrl.isHouseholdDeductible" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6"></salaxy-input-boolean>
      <div ng-if="$ctrl.salaryRow.rowType == 'totalEmployerPayment'" class="alert alert-info" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.totalEmployerPaymentAlert"></div>
      <salaxy-input-enum label="SALAXY.NG1.HouseholdUsecaseComponent.base.taxDeductionCategories" hidden-options="none" label-cols="col-sm-6" name="taxDeductionCategories" ng-if="$ctrl.isHouseholdDeductible" ng-model="$ctrl.usecaseData.taxDeductionCategories"
        enum="TaxDeductionWorkCategories" type="select" required></salaxy-input-enum>

      <salaxy-textarea name="message" label="SALAXY.NG1.HouseholdUsecaseComponent.base.salaryMessage" ng-model="$ctrl.salaryRow.message" label-cols="col-sm-6">
      </salaxy-textarea>
    </div>
  </div>
</div>