<div>
  <div ng-if="$ctrl.usecaseData.id == 'childCare/mll'">
    <div class="panel-heading childcare">
      <span class="pull-left">
        <div class="icon-wrapper salaxy-household-usecase-avatar">
          <div class="main-icon-wrapper" ng-if="$ctrl.usecaseData.icon">
            <img ng-src="{{$ctrl.usecaseData.icon}}">
          </div>
          <div ng-if="$ctrl.usecaseData.badge" class="badge-image-wrapper">
            <img ng-src="{{$ctrl.usecaseData.badge}}">
          </div>
        </div>
      </span>
      <h1>{{$ctrl.usecaseData.label}}</h1>
      <p class="calc-text">
        {{$ctrl.salaryRow.count || 0}} h x {{$ctrl.salaryRow.price || '9,5'}} € <span ng-if="$ctrl.usecaseData.isSunday" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.hoursPerPriceWithSunday"></span>
        <span class="result-text" ng-if="!$ctrl.usecaseData.isSunday">{{ ($ctrl.salaryRow.count || 0) * ($ctrl.salaryRow.price || 9.5) | currency }}</span>
        <span class="result-text" ng-if="$ctrl.usecaseData.isSunday">{{ ($ctrl.salaryRow.count || 0) * ($ctrl.salaryRow.price || 9.5) * 2 | currency }}</span>
      </p>
      <a class="btn-link btn-showmore" ng-click="showInfo = !showInfo"><span sxy-text="SALAXY.NG1.UiTerms.showMore"></span><i class="fa fa-info-circle"></i></a>
    </div>
    <div class="panel-body">
      <p sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.mll.shortInfoText.html"></p>
      <span class="collapse" ng-class="{show: showInfo}">
        <p sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.mll.longInfoText.html"></p>
      </span>
      <div class="form-horizontal">
        <salaxy-input-number name="hours" label="SALAXY.NG1.HouseholdUsecaseComponent.base.hourCount" ng-model="$ctrl.salaryRow.count" label-cols="col-sm-6" required>
        </salaxy-input-number>
        <salaxy-input-boolean name="isSunday" label="SALAXY.NG1.HouseholdUsecaseComponent.base.isSunday" type="switch" ng-model="$ctrl.usecaseData.isSunday" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6"></salaxy-input-boolean>
        <salaxy-input-boolean name="useCustomPrice" label="SALAXY.NG1.HouseholdUsecaseComponent.mll.useCustomPrice" type="switch" ng-model="$ctrl.usecaseData.useCustomPrice" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6">
        </salaxy-input-boolean>
        <salaxy-input-number ng-if="$ctrl.usecaseData.useCustomPrice" name="price" label="SALAXY.NG1.HouseholdUsecaseComponent.base.eurPerH" ng-model="$ctrl.salaryRow.price" label-cols="col-sm-6"></salaxy-input-number>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.usecaseData.id != 'childCare/mll'">
    <div class="panel-heading childcare">
      <span class="pull-left">
        <div class="icon-wrapper salaxy-household-usecase-avatar">
          <div class="main-icon-wrapper" ng-if="$ctrl.usecaseData.icon">
            <img ng-src="{{$ctrl.usecaseData.icon}}" type="image/svg+xml">
          </div>
          <div ng-if="$ctrl.usecaseData.badge" class="badge-image-wrapper">
            <img ng-src="{{$ctrl.usecaseData.badge}}">
          </div>
        </div>
      </span>

      <h1>{{$ctrl.usecaseData.label}}</h1>
      <p class="calc-text">
        <span ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">{{$ctrl.salaryRow.count || 0}} h x
          {{$ctrl.salaryRow.price || 0}} €</span>
        <span ng-if="$ctrl.salaryRow.rowType=='monthlySalary'">{{$ctrl.salaryRow.price || 0}} <span sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.eurPerMonth"></span></span>
        <span ng-if="$ctrl.usecaseData.isChildcareSubsidy">+ {{ $ctrl.usecaseData.subsidyAmount || 0 }} <span
            sxy-test="SALAXY.NG1.HouseholdUsecaseComponent.childCare.isChildCareSubsidy"></span></span>
        <span ng-if="$ctrl.isHouseholdDeductible" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.isHouseholdDeductible"></span>
        <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">{{ ($ctrl.salaryRow.count || 0) * ($ctrl.salaryRow.price || 0) }}
          €</span>
        <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='monthlySalary'">{{ $ctrl.salaryRow.price || 0}} €</span>
      </p>
      <a class="btn-link btn-showmore" ng-click="showInfo = !showInfo"><span sxy-text="SALAXY.NG1.UiTerms.showMore"></span><i class="fa fa-info-circle"></i></a>
    </div>
    <div class="panel-body">
      <p sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.childCare.shortInfoText.html"></p>
      <span class="collapse" ng-class="{show: showInfo}">

        <p ng-if="$ctrl.usecaseData.isChildcareSubsidy" sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.childCare.longInfoTextIfchildCareSubsidy.html">
        </p>
        <p ng-if="!$ctrl.usecaseData.isChildcareSubsidy" sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.childCare.longInfoTextIfNotchildCareSubsidy.html">

        </p>
      </span>
      <div class="form-horizontal">
        <salaxy-input-number ng-show="$ctrl.usecaseData.isChildcareSubsidy" name="subsidyAmount" label="SALAXY.NG1.HouseholdUsecaseComponent.childCare.childCareSubsidy" ng-model="$ctrl.usecaseData.subsidyAmount" label-cols="col-sm-6">
        </salaxy-input-number>
        <salaxy-input-enum type="select" name="mainRowType" label="SALAXY.NG1.HouseholdUsecaseComponent.base.salaryKind" ng-model="$ctrl.salaryRow.rowType" options="{'hourlySalary': ('SALAXY.ENUM.SalaryKind.hourlySalary.label' | sxyTranslate),'monthlySalary':('SALAXY.ENUM.SalaryKind.monthlySalary.label'| sxyTranslate)}"
          ng-change="$ctrl.changeRowType()" label-cols="col-sm-6" required></salaxy-input-enum>
        <salaxy-input-number name="price" label="{{$ctrl.usecaseData.isChildcareSubsidy ? $ctrl.priceLabel + ( 'SALAXY.NG1.HouseholdUsecaseComponent.childCare.inAdditionToBenefits'|sxyTranslate) : $ctrl.priceLabel}}" ng-model="$ctrl.salaryRow.price" label-cols="col-sm-6"></salaxy-input-number>
        <salaxy-input-number ng-if="$ctrl.salaryRow.rowType=='hourlySalary'" name="amount" label="SALAXY.NG1.HouseholdUsecaseComponent.base.hourCount" ng-model="$ctrl.salaryRow.count" required label-cols="col-sm-6"></salaxy-input-number>
        <salaxy-input-boolean ng-if="!$ctrl.usecaseData.isChildcareSubsidy" name="isHouseholdDeductible" label="SALAXY.NG1.HouseholdUsecaseComponent.base.householdDeduction" type="switch" ng-model="$ctrl.isHouseholdDeductible" label-true="SALAXY.NG1.UiTerms.yes"
          label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6"></salaxy-input-boolean>
        <div class="form-group" ng-if="$ctrl.usecaseData.isChildcareSubsidy">
          <div class="col-sm-6"><strong sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.childCare.workerTotalPayment"></strong></div>
          <div class="col-sm-6 text-right" ng-if="$ctrl.salaryRow.rowType=='hourlySalary'">
            {{ ($ctrl.salaryRow.price || 0) * ($ctrl.salaryRow.count || 0) + ($ctrl.usecaseData.subsidyAmount || 0) }}</div>
          <div class="col-sm-6 text-right" ng-if="$ctrl.salaryRow.rowType=='monthlySalary'">
            {{ ($ctrl.salaryRow.price || 0) + ($ctrl.usecaseData.subsidyAmount || 0) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>