<div>
  <div class="panel-heading construction">
    <span class="pull-left">
      <div class="icon-wrapper salaxy-household-usecase-avatar">
        <div class="main-icon-wrapper">
          <img ng-src="{{$ctrl.usecaseData.icon}}">
        </div>
      </div>
    </span>
    <h1>{{$ctrl.usecaseData.label}}</h1>
    <p class="calc-text">
      <span ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">{{$ctrl.salaryRow.count || 0}} h x {{$ctrl.salaryRow.price || 0}}
        €</span>
      <span ng-if="$ctrl.salaryRow.rowType=='salary' || $ctrl.salaryRow.rowType=='monthlySalary'">{{$ctrl.salaryRow.price || 0}} € <span
          ng-if="$ctrl.salaryRow.rowType=='monthlySalary'"></span></span>
      <span sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.construction.subtitlePlusExpenses"></span>
      <span ng-if="$ctrl.isHouseholdDeductible" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.isHouseholdDeductible"></span>
      <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='hourlySalary' || $ctrl.salaryRow.rowType == 'unknown'">{{ ($ctrl.salaryRow.count || 0) * ($ctrl.salaryRow.price ||
        0) }}
        €</span>
      <span class="result-text" ng-if="$ctrl.salaryRow.rowType=='salary' || $ctrl.salaryRow.rowType=='monthlySalary'">{{ $ctrl.salaryRow.price || 0}} €</span>
    </p>
    <a class="btn-link btn-showmore" ng-click="showInfo = !showInfo"><span sxy-text="SALAXY.NG1.UiTerms.showMore"></span><i class="fa fa-info-circle"></i></a>
  </div>
  <div class="panel-body">
    <p sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.construction.shortInfoText.html"></p>
    <span class="collapse" ng-class="{show: showInfo}" sxy-html="SALAXY.NG1.HouseholdUsecaseComponent.construction.longInfoText.html">
    </span>
    <div class="form-horizontal">
      <salaxy-input-enum type="select" name="mainRowType" label="SALAXY.NG1.HouseholdUsecaseComponent.base.salaryKind" ng-model="$ctrl.salaryRow.rowType" options="{'salary':('SALAXY.ENUM.SalaryKind.salary.label'| sxyTranslate),'hourlySalary':('SALAXY.ENUM.CalculationRowType.hourlySalary.label' | sxyTranslate),'monthlySalary':('SALAXY.ENUM.CalculationRowType.monthlySalary.label' | sxyTranslate),'totalEmployerPayment':('SALAXY.ENUM.CalculationRowType.totalEmployerPayment.label' | sxyTranslate)}"
        ng-change="$ctrl.changeRowType()" label-cols="col-sm-6" required></salaxy-input-enum>
      <salaxy-input-number name="price" label="{{$ctrl.priceLabel}}" ng-model="$ctrl.salaryRow.price" label-cols="col-sm-6" required></salaxy-input-number>
      <salaxy-input-number ng-if="$ctrl.salaryRow.rowType == 'hourlySalary'" name="hours" label="SALAXY.NG1.HouseholdUsecaseComponent.base.hourCount" ng-model="$ctrl.salaryRow.count" required label-cols="col-sm-6"></salaxy-input-number>
      <salaxy-input-boolean name="isHouseholdDeductible" label="SALAXY.NG1.HouseholdUsecaseComponent.base.householdDeduction" type="switch" ng-model="$ctrl.isHouseholdDeductible" label-true="SALAXY.NG1.UiTerms.yes" label-false="SALAXY.NG1.UiTerms.no" label-cols="col-sm-6"></salaxy-input-boolean>
      <div ng-if="$ctrl.salaryRow.rowType == 'totalEmployerPayment'" class="alert alert-info" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.base.totalEmployerPaymentAlert"></div>
      <div ng-if="$ctrl.salaryRow.rowType != 'totalEmployerPayment'">
        <salaxy-input-boolean name="isTesIncludedInSalary" label="SALAXY.NG1.HouseholdUsecaseComponent.base.tesInclusions" type="radio" ng-model="$ctrl.usecaseData.isTesIncludedInSalary" label-cols="col-sm-6" label-false="SALAXY.NG1.HouseholdUsecaseComponent.base.noCalcAuto"
          label-true="SALAXY.NG1.HouseholdUsecaseComponent.base.yesAgreedTotalPayment"></salaxy-input-boolean>
        <salaxy-input-boolean name="isExpensesCustom" label="SALAXY.NG1.HouseholdUsecaseComponent.construction.expensesCustom" type="radio" ng-model="$ctrl.usecaseData.isExpensesCustom" label-cols="col-sm-6" label-false="SALAXY.NG1.HouseholdUsecaseComponent.base.noByTes"
          label-true="SALAXY.NG1.HouseholdUsecaseComponent.base.yesAgreedPerDay"></salaxy-input-boolean>
        <salaxy-input-number ng-if="!$ctrl.usecaseData.isExpensesCustom" name="dailyTravelExpensesKm" label="SALAXY.NG1.HouseholdUsecaseComponent.construction.dailyTravelExpensesKm" ng-model="$ctrl.usecaseData.dailyTravelExpensesKm" label-cols="col-sm-6">
        </salaxy-input-number>
        <div ng-if="$ctrl.usecaseData.isExpensesCustom">
          <salaxy-input-number name="dailyExpenses" label="SALAXY.NG1.HouseholdUsecaseComponent.construction.dailyExpenses" ng-model="$ctrl.usecaseData.dailyExpenses" label-cols="col-sm-6"></salaxy-input-number>
          <salaxy-input-number name="dailyTravelExpenses" label="SALAXY.NG1.HouseholdUsecaseComponent.construction.dailyTravelExpenses" ng-model="$ctrl.usecaseData.dailyTravelExpenses" label-cols="col-sm-6"></salaxy-input-number>
          <div ng-if="!$ctrl.isReadOnly" class="alert alert-info" sxy-text="SALAXY.NG1.HouseholdUsecaseComponent.construction.taxFreeMilageAlert"></div>
        </div>
      </div>
      <salaxy-textarea ng-if="$ctrl.usecaseData.id == 'construction/new' || $ctrl.usecaseData.id == 'construction/renovation'" name="workTypeOtherMessage" label="SALAXY.NG1.HouseholdUsecaseComponent.base.workDescription" ng-model="$ctrl.usecaseData.workTypeOtherMessage"
        label-cols="col-sm-6">
      </salaxy-textarea>
    </div>
  </div>
</div>