.salaxy-datepicker-popup{
  input{
    padding: 4px 6px;
    font-size: 13px;
  }
}
.salaxy-component.salaxy-datepicker, 
.salaxy-component.salaxy-date-range {
  .uib-datepicker {
    display: inline-block;
  }
  table {
    .h6{
      em{
        font-weight:bold;
      }
    }
    button.btn {
      border: 1px solid transparent;
      border-radius: 0;
      text-align: center;
      &[disabled]{
        opacity:0.4;
      }
      &.btn-sm{
        @media screen and (max-width:350px){
          padding: 5px 8px;
        }
      }
    }
    th, td {
      text-align: center;
      vertical-align: middle;
      padding: 0;
    }
  }
}

salaxy-date-range.condensed, 
salaxy-datepicker.condensed {
  table {
    .btn-default {
      padding: 0px 5px;
      margin-top: 0px;
    }
  }
}

.salaxy-date-range {
  &.mode-multiple .btn.btn-info {
    background-color: inherit;
    border-color: #fff;
    color: inherit;
  }
  .selected {
    .btn.btn-default, 
    .btn.btn-info {
      border-color: #fff;
      background-color: @brand-info;
      border-radius: 0;
      color: #fff;
      .text-info{
        color:#fff;
      }
    }
    .btn.btn-default.active, .btn.btn-info.active {
      box-shadow: none;
    }
  }
}
