.form-horizontal .salaxy-read-only .control-label {
  /* works if there's only read-only form groups:  
  padding-top: 0px; 
  */
 
}
.salaxy-read-only{
  .salaxy-read-only-value{
    padding-top:7px;
  }
  /* works if there's only read-only form groups 
  .salaxy-read-only .form-group {
    margin-bottom: 5px;
  } */
}
salaxy-textarea {
  .salaxy-read-only-value {
    white-space: pre-wrap;
  }
}
/* TODO: add other components */
salaxy-input, salaxy-input-enum, salaxy-input-boolean, salaxy-input-number, salaxy-form-group {
  &.no-colon{
    .form-group{
      .label-text{
        &:after{
            content: none;
        }
      }
    }
  }
}
.form-group{
  .input-errors{
    line-height:0em;
  }
  .salaxy-validation-error{
    display:block;
    line-height:1.2em;
  }
  .label-text{
      &:after{
          content: ':';
      }
  }
  .col-offset{
    padding-left:10px;
  }
}
[uib-typeahead-popup] {
    max-width: 500px; 
    white-space: nowrap; 
    overflow-x: hidden; 
    text-overflow: ellipsis;
    @media screen and (min-height:1201px){
      max-height:480px;
    }
    @media screen and (max-height:1200px){
      max-height:450px;
    }
    @media screen and (max-height:900px){
      max-height:350px;
    }
    @media screen and (max-height:768px){
      max-height:230px;
    }
    @media screen and (max-width:480px){
      max-width:90%;
    }
}

.salaxy-highlight strong {
  text-decoration: underline;
}

salaxy-avatar.salaxy-calc-row-type-avatar {
  font-size: 2.6em;
  margin-right: 6px;
  strong {
      font-size: 0.25em;
  }
}

.salaxy-accounting-report-format-item .salaxy-avatar {
  font-size: 2.6em;
  margin-right: 6px;
  strong {
      font-size: 0.25em;
  }
}

.list-group salaxy-avatar.salaxy-calc-row-type-avatar {
  margin-top: -8px;
  margin-left: -12px;
  font-size: 52px; 
  @media screen and (max-width:480px){
    margin-top: -2px;
    margin-left: -10px;
    font-size: 42px;
  }
}
