.salaxy-component{
  // Odata orderby caret alignment
  // todo: specify better
  th.right, th.right-align{
    span.clickable{
      
      ng-transclude{
        
        float: right;
        margin-left: 5px;
      }
    }
  }
  fieldset{
    border: none;
    margin: 0px 2px 1.5em;
    padding: 0;
  }
  legend{
    font-size: (@font-size-base * 1.2);
    border-bottom: 1px solid @legend-border-color;
    margin-bottom: 11px;
    small{
      font-size:65%;
      color:@headings-small-color;
    }
  }
  .checkbox{
    margin-top:0;
  }
  .form-condensed .form-group {
    margin-bottom: 2px;
  }
}
.form-horizontal{ 
    .control-label{
        &.radio-label{
            padding-top:0;
        }
    }
}
.form-extra-condenced{
  .form-group{
    margin-bottom:0;
  }
}
.input-info{
    margin-bottom:10px;
    line-height:1.1em;
    .input-info-text.with-icon{
        margin-left:26px
    }
    .input-info-icon{
        display: block;
        font-size: 1.2em;
        float: left;
        margin-top: 3px;
        margin-bottom: 1em;
        margin-right: 10px;
    }
}
@media screen and (min-width: 768px){
.form-horizontal .control-label {
    text-align: left;
   
    }
}