/**
 * Salaxy on/off UI-switch. Used in product cards etc.
 */

.salaxy-switch {
    background: @brand-danger;
    border: 1px solid #dfdfdf;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    width: 52px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    top: -1px;
    &.wide {
        width: 80px;
    }
    &.wide.checked small {
        left: 52px;
    }
    &.large {
        width: 80px;
        height: 50px;
        border-radius: 25px;
    }
    &.large small {
        height: 50px;
        width: 50px;
    }
    &.large.checked small {
        left: 32px;
    }
    small {
        background: #fff;
        border-radius: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: 0.3s ease-out all;
        -webkit-transition: 0.3s ease-out all;
    }
    &.checked {
        background: @brand-primary;
        border-color: @brand-primary;
        small {
            left: 22px;
        }
        .off {
            display: none;
        }
        .on {
            display: block;
        }
    }
    .switch-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    .off {
        display: block;
        position: absolute;
        right: 10%;
        top: 21%;
        z-index: 0;
        color: white;
    }
    .on {
        display: none;
        z-index: 0;
        color: #fff;
        position: absolute;
        top: 21%;
        left: 9%;
    }
    &.disabled {
        opacity: .50;
        cursor: not-allowed;
    }
    @media screen and (max-width: 480px) {
        .salaxy-switch.large small {
            height: 20px;
            width: 20px;
        }
        .salaxy-switch.large {
            width: 50px;
            height: 20px;
            border-radius: 10px;
        }
        .salaxy-switch .off, .salaxy-switch .on {
            top: 10%;
        }
    }
}