
/*
    TODO:
    - Katso data validation sääntöjä täältä: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation
    - Alla olevat tyylit ja skriptit on vain esimerkkejä
*/

salaxy-input.ng-invalid, salaxy-input-number.ng-invalid, salaxy-input-enum.ng-invalid{
    input{
        
        &.ng-dirty.ng-valid{
            border-color: @brand-danger;
         
        }
    }
}
salaxy-input-enum .ng-invalid-sxy-exclude-unknowns{
  select{
    &.ng-invalid{
      border-color: @brand-danger;
   
    }
  }
}
salaxy-input-enum{
  &.ng-invalid-required{
    select{
      border-color: @brand-danger;
    }
  }
}

input.ng-dirty {
    &.ng-valid {
        border-color: @brand-success;
    }
    &.ng-invalid {
        border-color: @brand-danger;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(213,85,82, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(213,85,82, 0.6);
    }
}