<div ng-controller="WelcomeController as $welcomeCtrl">
  <div sxy-if-role="anon" class="alert alert-danger">
    <strong>Et ole kirjautunut</strong> Tämä sivu vaatii kirjautumisen
  </div>
  <div sxy-if-role="company" class="alert alert-danger">
    <strong>Tämä on kotitalouden / työntekijän sivu!</strong> Olet kirjautunut sisään yrityksenä. Kirjaudu ulos ja uudelleen kotitaloutena tai työntekijänä. Jos yrität päästä yrityspalveluun, tai et muuten tiedä mitä tehdä, ota yhteys asiakaspalveluun.
  </div>
  <div sxy-if-role="worker">
    <div class="salaxy-component salaxy-component-welcome row" style="position:relative;">
      <div class="" ng-if="!$welcomeCtrl.workerDataNew.timeline">
        <salaxy-spinner></salaxy-spinner>
      </div>
      <div class="timeline">
        <div class="row" ng-if="$welcomeCtrl.hasSystemAlert">
          <div class="col-xs-12">
            <div class="salaxy-welcome-system-alert alert-has-system-alert" ng-bind-html="$welcomeCtrl.systemAlertHtml"></div>
          </div>
        </div>
        <div ng-if="$welcomeCtrl.workerDataNew.timeline" class="visible-xs timeline-topbar">
          <div style="margin-bottom:5px;">
            <salaxy-action-button action="'newTaxcard'" label="Lähetä verokortti" style="margin-right:10px; margin-bottom:10px; display: inline-block;"></salaxy-action-button>
            <salaxy-action-button action="'newCalc'" label="Uusi laskelma" button-class="btn-secondary"></salaxy-action-button>
          </div>
          <div class="list-panel  panel panel-sm panel-secondary panel-own-taxcard" ng-init="chartView = true" ng-class="$welcomeCtrl.workerUI.taxCardAlert ? 'panel-danger panel-solid' : 'panel-secondary'">
            <div class="salaxy-component table-responsive panel-content md-height" ng-show="$welcomeCtrl.workerUI.taxCardAdded">
              <table class="table" ng-if="!chartView">
                <tr>
                  <td class="strong">
                    {{ 'SALAXY.ENUM.TaxcardKind.' + $welcomeCtrl.workerDataNew.activeTaxcard.card.kind + '.label' | sxyTranslate }}
                  </td>
                  <td><span class="text-success">Voimassa</span> <span class="small">({{ $welcomeCtrl.workerDataNew.activeTaxcard.card.validity.end | date }} asti)</span></td>
                </tr>
                <tr>
                  <td>Veroprosentti</td>
                  <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.taxPercent }} %</td>
                </tr>
                <tr>
                  <td>Tuloraja</td>
                  <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.incomeLimit | currency }}</td>
                </tr>
                <tr>
                  <td>Palkkoja maksettu</td>
                  <td>{{$welcomeCtrl.workerDataNew.activeTaxcard.result.totalIncome | currency}}</td>
                </tr>
                <tr ng-if="$welcomeCtrl.workerDataNew.activeTaxcard.card.incomeLimit">
                  <td>Jäljellä ennen tulorajaa</td>
                  <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.incomeLimit - $welcomeCtrl.workerDataNew.activeTaxcard.result.totalIncome | currency}}</td>
                </tr>
                <tr ng-if="$welcomeCtrl.workerDataNew.activeTaxcard.card.taxPercent2">
                  <td>Lisäprosentti</td>
                  <td>{{ $welcomeCtrl.workerDataNew.activeTaxcard.card.taxPercent2 }} %</td>
                </tr>
              </table>
              <div class="panel-content md-height" ng-if="chartView">
                <div class="panel-body no-vertical-padding salaxy-tax-card-chart chart-container" style="max-height:210px; padding-top:0; padding-bottom:0; padding-left:5px;padding-right:5px;">
                  <canvas ng-if="$welcomeCtrl.taxcardChartData.limits.hasLimit == true" id="line" class="chart chart-line" chart-data="$welcomeCtrl.taxcardMobileChartData.data" chart-dataset-override="$welcomeCtrl.taxcardMobileChartData.datasets" chart-labels="$welcomeCtrl.taxcardMobileChartData.labels"
                    chart-fill="$welcomeCtrl.taxcardMobileChartData.fill" chart-colors="$welcomeCtrl.taxcardMobileChartData.colors" chart-options="$welcomeCtrl.taxcardMobileChartData.options"></canvas>

                  <canvas ng-if="$welcomeCtrl.taxcardChartData.limits.hasLimit == false || !$welcomeCtrl.taxcardChartData.limits.hasLimit" width="100%" id="pie" class="chart chart-pie" chart-data="$welcomeCtrl.taxcardChartData.data" chart-dataset-override="$welcomeCtrl.taxcardChartData.datasets"
                    chart-labels="$welcomeCtrl.taxcardChartData.labels" chart-fill="$welcomeCtrl.taxcardChartData.fill" chart-colors="$welcomeCtrl.taxcardChartData.colors" chart-options="$welcomeCtrl.taxcardChartData.options" legend="true"></canvas>
                </div>
              </div>
            </div>
            <div ng-show="!$welcomeCtrl.workerUI.taxCardAdded && !$welcomeCtrl.workerUI.taxCardAlert" class="panel-body panel-content md-height align-middle">
              <div class="text-center">
                <h3 class="text-warning">Lähetä verokortti työnantajillesi</h3>
                <p>
                  Voit ladata jaetun verokortin, jolle työnantajasi voivat maksaa palkkaa. Verokortti näkyy työnantajalle seuraavan palkanmaksun yhteydessä.
                </p>
              </div>
            </div>
            <div ng-show="$welcomeCtrl.workerUI.taxCardAlert" class="panel-body panel-content md-height align-middle">
              <div class="text-center">
                <h3><strong>Lisää verokortti</strong></h3>
                <p>
                  Työnantaja
                  <strong>{{$welcomeCtrl.this.workerDataNew.invitation.ownerInfo.avatar.displayName}}</strong> on maksanut sinulle palkkaa
                  <strong>{{$welcomeCtrl.this.workerDataNew.invitation.grossSalary | currency}}</strong> euroa.
                  <br /> Jotta voimme maksaa tämän palkan sinulle, sinun täytyy syöttää verokortti.
                </p>
              </div>
            </div>

          </div>

        </div>

        <div ng-repeat="item in $welcomeCtrl.workerDataNew.timeline">
          <div class="panel card-panel" ng-class="{'panel-solid card-paid' : item.type == 'calculationPaid'}">
            <div class="panel-heading">
              <div class="pull-left icon-container" ng-class="{'accepted': (item.status == 'workerRequestAccepted' || item.status == 'sharedApproved'), 'requested': (item.status == 'workerRequested'|| item.status == 'shared'), 'paid' : item.type == 'calculationPaid', 'rejected' : (item.status == 'workerRequestDeclined' || item.status == 'sharedRejected' || item.status == 'sharedRejectedWithoutOpen' )}">
                <i class="fa" ng-class="{
                  'fa-vcard-o': item.type == 'employment', 
                  'fa-user-o': item.type == 'personAccount', 
                  'fa-calculator': (item.type == 'calculation' && item.status != 'workerRequestAccepted' && item.status != 'workerRequestDeclined' && item.status != 'workerRequested' ),
                  'fa-reply' : (item.status == 'workerRequestAccepted' || item.status == 'sharedApproved'), 
                  'fa-file-text-o': (item.type == 'taxcard' && item.status != 'shared' && item.status != 'sharedApproved' && item.status != 'sharedRejected' && item.status != 'sharedRejectedWithoutOpen'), 
                  'fa-share' : (item.status == 'shared' || item.status == 'workerRequested'), 
                  'fa-check' : item.type == 'calculationPaid',
                  'fa-times' : (item.status == 'workerRequestDeclined' || item.status == 'sharedRejected' || item.status == 'sharedRejectedWithoutOpen'),
                  'fa-clock-o': item.type == 'workerInvitation'}">
                </i>
              </div>
              <!--<div class="pull-right actions-container clickable text-center">
              <i class="fa fa-ellipsis-h" style="font-size:1.3em;"></i></div>-->
              <h3 class="panel-title">{{ item.shortText }}</h3>
              <div class="date">{{ item.logicalDate | sxyDate }}</div>

            </div>
            <div class="panel-content" ng-class="{'panel-body' : !$welcomeCtrl.getPreviewUrl(item)}">
              <div ng-if="$welcomeCtrl.getPreviewUrl(item)" style="max-height: 200px; overflow: hidden;">
                <img ng-src="{{$welcomeCtrl.getPreviewUrl(item)}}" style="width: 100%;" />
              </div>
              <div ng-if="!$welcomeCtrl.getPreviewUrl(item)" ng-switch="item.type">
                <div ng-switch-when="calculation">
                  <div ng-if="item.status != 'draft'" class="otherparty-container">
                    <salaxy-avatar avatar="item.otherPartyInfo.avatar"></salaxy-avatar>
                    <span>{{item.otherPartyInfo.avatar.displayName}}</span>
                  </div>

                  <div class="card-main text-center" ng-class="{'accepted': item.status == 'workerRequestAccepted', 'requested' : item.status == 'workerRequested', 'rejected' : item.status == 'workerRequestDeclined' }">
                    <span class="">{{item.grossSalary | currency}}</span>
                  </div>
                  <div class="card-details-title">
                    Bruttopalkka
                  </div>
                  <div class="card-details text-center">
                    <span>Nettopalkka: {{ item.data.workerPayment | currency }}</span><br>
                    <span>Verot: {{ item.data.taxPayment | currency }}</span>
                  </div>
                </div>
                <div ng-switch-when="calculationPaid">
                  <div class="otherparty-container">
                    <salaxy-avatar avatar="item.otherPartyInfo.avatar"></salaxy-avatar>
                    <span>{{item.otherPartyInfo.avatar.displayName}}</span>
                  </div>

                  <div class="card-main text-center paid-calc">
                    <span class="">{{item.grossSalary | currency}}</span>
                  </div>
                  <div class="card-details-title">
                    Bruttopalkka
                  </div>
                  <div class="card-details text-center">
                    <span>Nettopalkka: {{ item.data.workerPayment | currency }}</span><br>
                    <span>Verot: {{ item.data.taxPayment |  currency }}</span>
                  </div>
                </div>

                <div ng-switch-when="taxcard">
                  <div ng-if="item.status == 'sharedApproved' || item.status == 'sharedRejected' || item.status == 'sharedRejectedWithoutOpen'" class="otherparty-container">
                    <salaxy-avatar avatar="item.ownerInfo.avatar"></salaxy-avatar>
                    <span>{{item.ownerInfo.avatar.displayName}}</span>
                  </div>
                  <div ng-if="item.data.taxPercent" class="card-main text-center" ng-class="{'accepted' : item.status == 'sharedApproved', 'requested' : item.status == 'shared', 'rejected' : (item.status == 'sharedRejected' || item.status == 'sharedRejectedWithoutOpen') }">
                    <span class="">{{item.data.taxPercent || "-"}} %</span>
                  </div>
                  <div class="card-details-title" ng-if="item.data.taxPercent">
                    Veroprosentti
                  </div>
                  <div ng-if="item.data.taxPercent" class="card-details text-center">
                    <strong> {{ "TaxcardKind." + item.data.kind | sxyEnum }}</strong><br>
                    <span ng-if="item.data.incomeLimit">Tuloraja: {{ item.data.incomeLimit | currency }}</span><br>
                    <span ng-if="item.data.taxPercent2">Lisäprosentti: {{ item.data.taxPercent2 }} %</span>
                  </div>
                </div>
                <div ng-switch-when="personAccount">
                  <div class=" text-primary">{{ item.ownerInfo.displayName }}</div>
                  <div><a href="mailto:{{ item.ownerInfo.email }}">{{ item.ownerInfo.email }}</a></div>
                  <div>IBAN: {{ item.ownerInfo.ibanNumber | sxyIban }}</div>
                  <div>Puh: {{ item.ownerInfo.telephone }}</div>
                </div>
                <div ng-switch-when="employment">

                  <div class="row">
                    <div class="col-xs-6  text-center">
                      <div class="otherparty-container">
                        <salaxy-avatar avatar="item.ownerInfo.avatar"></salaxy-avatar>
                      </div>
                      <span> {{ item.ownerInfo.avatar.displayName}}</span>
                    </div>
                    <div class="col-xs-6 text-center">
                      <div class="otherparty-container">
                        <salaxy-avatar avatar="item.otherPartyInfo.avatar"></salaxy-avatar>
                      </div>
                      <span> {{ item.otherPartyInfo.avatar.displayName}}</span>
                    </div>
                  </div>
                </div>
                <div ng-switch-when="workerInvitation">

                  <div class="row">
                    <div class="col-xs-6  text-center">
                      <div class="otherparty-container">
                        <salaxy-avatar avatar="item.ownerInfo.avatar"></salaxy-avatar>
                      </div>
                      <span> {{ item.ownerInfo.avatar.displayName}}</span>
                    </div>
                    <div class="col-xs-6 text-center">
                      <p>
                        Työnantaja on maksanut sinulle palkkaa
                        <span ng-if="item.grossSalary > 0">{{ item.grossSalary | currency}} euroa</span>.
                        <br /> Jotta voimme maksaa tämän palkan sinulle, sinun täytyy syöttää verokortti.
                      </p>
                    </div>
                  </div>
                </div>

                <div ng-switch-default>
                  <!--TODO: Handle {{ item.type }}-->
                </div>
              </div>
              <div class="collapse small" ng-class="{show: item.showInfo}">
                <pre>{{ item | json }}</pre>
              </div>
            </div>
            <div class="panel-footer">

              <div sxy-if-role="test" class="pull-right small">
                <a ng-click="item.showInfo = !item.showInfo"><span>DEBUG: json</span></a>
              </div>
              <span ng-switch="item.type">
                <span ng-switch-when="calculationPaid" >
         
                  <a class="btn btn-sm btn-white" target="_blank" ng-href="{{$welcomeCtrl.getPdfUrl(item, true)}}">Avaa laskelma</a>
                  <a ng-href="{{$welcomeCtrl.getPdfUrl(item)}}" class="btn btn-sm btn-white" title="tuloste">Lataa PDF</a>
                </span>
              <a ng-switch-when="calculation" href="#/calc/details/{{item.id}}" class="btn btn-secondary btn-sm">Näytä laskelma</a>
              <a ng-switch-when="workerInvitation" href="#/taxcards" class="btn btn-secondary btn-sm">Näytä verokortit</a>
              <a ng-switch-when="taxcard" href="#/taxcards" class="btn btn-secondary btn-sm">Näytä verokortit</a>

              <a ng-switch-when="personAccount" href="#/account" class="btn btn-secondary btn-sm">Omat tiedot</a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div sxy-if-role="household" class="household-dashboard">
    <div class="container" style="margin-top: 0;">
      <div class="" ng-if="$welcomeCtrl.householdData.isLoading">
        <salaxy-spinner></salaxy-spinner>
      </div>
      <div ng-if="$welcomeCtrl.householdData.isLoaded">
        <div class="row" ng-if="$welcomeCtrl.hasSystemAlert">
          <div class="col-xs-12">
            <salaxy-alert type="info">
              <main>
                <div class="salaxy-welcome-system-alert alert-has-system-alert" ng-bind-html="$welcomeCtrl.systemAlertHtml"></div>
              </main>
            </salaxy-alert>
          </div>
        </div>
        <salaxy-calc-list category="paid" read-only="true"></salaxy-calc-list>
      </div>
    </div>
  </div>
</div>