﻿<!doctype html>
<html ng-app="Salaxy.demoApp" lang="fi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Salaxy API developer site</title>

  <!-- Customizable static links -->
  <link href="favicon.ico" rel="icon" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- LESS-based CSS-files (Salaxy and Bootstrap) -->
  <link href="/dist/v03-rc/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/dist/v03-rc/css/salaxy-lib-ng1-bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/dist/v03-rc/css/salaxy-rpt.css" rel="stylesheet" type="text/css" />
  <!-- Site-specific CSS -->
  <link href="/assets/css/salaxy-lib-ng1-demo.css" rel="stylesheet" type="text/css" />
  <!-- TODO: Bundle before going to production -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-color-picker/3.4.8/angularjs-color-picker.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-color-picker/3.4.8/themes/angularjs-color-picker-bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <div ng-cloak class="salaxy-splash text-center">
    <h1>Loading...</h1>
  </div>
  <salaxy-navi-starter-layout ng-cloak>
    <header class="salaxy-navi-header-default" ng-controller="NaviController as navi">
      <div class="pull-right  hidden-print">
        <a href="#/home/people" class="btn btn-default" style="margin-right:10px;">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          <span> Contact us</span></a>
        <a href="https://gitlab.com/salaxy/salaxy-lib-ng1" class="btn btn-default" target="_blank" style="margin-right:10px;">
          <i class="fa fa-gitlab" aria-hidden="true"></i> Clone me in GitLab
        </a>
        <salaxy-login-button class='pull-right' style="margin-right:15px;"></salaxy-login-button>
      </div>
      <div ng-class="navi.current.isFullWidth ? 'container-fluid' : 'container'">
        <h1 class="page-title">
          {{ navi.title }}
        </h1>
      </div>
    </header>
  </salaxy-navi-starter-layout>

  <!-- JQuery added for these demos only -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- SCRIPTS AT THE END-OF-PAGE -->

  <!-- Settings -->
  <script src="/env/settings.js" type="text/javascript"></script>

  <!-- Salaxy libraries -->
  <script src="/dist/v03-rc/js/salaxy-lib-ng1-all.js" type="text/javascript"></script>



  <!-- TODO: Bundle before going to production -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-color-picker/3.4.8/angularjs-color-picker.min.js" type="text/javascript"></script>

  <!-- This site -->
  <script src="/app/scripts/Salaxy.demoApp.js" type="text/javascript"></script>
  <script src="/app/js/salaxyApi.js" type="text/javascript"></script>

</body>

</html>