<form ng-submit="$ctrl.recalculate()" name="detailsExpenses">
  <div class="salaxy-calc-dialog-body">
    <div class="salaxy-calc-dialog-container">
      <h1 sxy-text="SALAXY.NG1.CalcDetailsDialogComponent.allExpenses.title"></h1>
      <div class="form-horizontal" ng-if="$ctrl.isHousehold">
        <salaxy-input-boolean type="checkbox" name="isHouseholdDeductible" ng-model="$ctrl.isHouseholdDeductible" label="Kotitalousvähennys" label-true="Kyllä, ilmoitetaan kotitalousvähennykseen"></salaxy-input-boolean>
        <salaxy-input-enum label="Työn tyyppi (vähennyksen peruste)" hidden-options="none" name="taxDeductionCategory" ng-if="$ctrl.isHouseholdDeductible" ng-model="$ctrl.taxDeductionCategory" enum="TaxDeductionWorkCategories" type="select" required></salaxy-input-enum>
      </div>
      <salaxy-calc-rows-2019-editor categories="['expenses']" row-type-select-help="expenses" parent="$ctrl.currentCalc" mode="{{$ctrl.isReadOnly ? 'read-only' : 'edit'}}" title="{{'SALAXY.NG1.CalcDetailsDialogComponent.expenses.title' | sxyTranslate}}"></salaxy-calc-rows-2019-editor>
      <salaxy-calc-rows-2019-editor categories="['benefits']" row-type-select-help="benefits" parent="$ctrl.currentCalc" mode="{{$ctrl.isReadOnly ? 'read-only' : 'edit'}}" title="{{ 'SALAXY.NG1.CalcDetailsDialogComponent.benefits.title2' | sxyTranslate}}"></salaxy-calc-rows-2019-editor>
      <salaxy-calc-rows-2019-editor categories="[ 'deductions']" row-type-select-help="deductions" parent="$ctrl.currentCalc" mode="{{$ctrl.isReadOnly ? 'read-only' : 'edit'}}" title="{{ 'SALAXY.NG1.CalcDetailsDialogComponent.deductions.title' |
        sxyTranslate}}"></salaxy-calc-rows-2019-editor>
      <p>&nbsp;</p>
    </div>
  </div>
  <button ng-if="!$ctrl.isReadOnly && $ctrl.currentCalc.workflow.status !='paymentStarted'" class="btn btn-danger btn-lg salaxy-calc-btn-recalculate" type="submit" sxy-text="SALAXY.UI_TERMS.recalculate"></button>
</form>