<form ng-submit="$ctrl.recalculate()" name="detailsSalary">
  <div class="salaxy-calc-dialog-body">
    <div class="salaxy-calc-dialog-container">
      <h1 sxy-text="SALAXY.NG1.CalcDetailsDialogComponent.allSalaries.title"></h1>
      <salaxy-calc-rows-2019-editor row-type-select-help="salaries" categories="['salary', 'salaryCalc', 'holidays', 'salaryAdditions']" parent="$ctrl.currentCalc" mode="{{$ctrl.isReadOnly ? 'read-only' : 'edit'}}" title="{{'SALAXY.NG1.CalcDetailsDialogComponent.salaries.title2' | sxyTranslate}}"></salaxy-calc-rows-2019-editor>
      <p>&nbsp;</p>

    </div>
  </div>

  <button ng-if="!$ctrl.isReadOnly && $ctrl.currentCalc.workflow.status != 'paymentStarted'" class="btn btn-success btn-lg salaxy-calc-btn-recalculate" type="submit" sxy-text="SALAXY.UI_TERMS.recalculate"></button>
</form>