<div class="panel panel-primary">
  <div class="panel-heading ">
    <button type="button" class="close pull-right" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1><span class="label label-default">Pro</span> Lisätoiminnot tilitoimistoille</h1>
  </div>
  <div class="panel-body">
    <div class="form-horizontal form-condensed">
      <p class="lead">
        Tällä välilehdellä on nähtävissä kaikki poissaolojen ja lomalaskennan parametrit.
        Tyypillisesti nämä ovat vain tilitoimistojen käyttöön - tavallisen yrityskäyttäjän ei tarvitse niitä muuttaa.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <fieldset>
            <legend>Perustiedot</legend>
            <salaxy-input-number ng-model="$ctrl.data.worktime.absencesDays" name="absencesDays" label="Palkattomat poissaolot" label-cols="col-sm-6" unit="days"></salaxy-input-number>
            <salaxy-input-number ng-model="$ctrl.data.worktime.leavesDays" name="leavesDays" label="Lomapäiviä" label-cols="col-sm-6" unit="days"></salaxy-input-number>
            <salaxy-input-number ng-model="$ctrl.data.worktime.leavesDailySalary" name="leavesDailySalary" label="Loman päiväpalkka" label-cols="col-sm-6"></salaxy-input-number>
            <salaxy-date-range ng-model="$ctrl.data.worktime.workDays" name="workDays" label="Työpäivät"></salaxy-date-range>
          </fieldset>
          <fieldset ng-if="$ctrl.data.worktime.monthly.isMonthly">
            <legend>Kuukausi- tai viikkopalkka</legend>
            <salaxy-input-number ng-model="$ctrl.data.worktime.monthly.monthlySalary" name="monthlySalary" label="Kuukausipalkka" label-cols="col-sm-6"></salaxy-input-number>
            <salaxy-input-number ng-model="$ctrl.data.worktime.monthly.absencesDaySalary" name="absencesDaySalary" label="Poissaolopäivän vähennys / pv" label-cols="col-sm-6"></salaxy-input-number>
          </fieldset>
          <fieldset ng-if="$ctrl.data.worktime.hourly.isHourly">
            <legend>Tunti- tai suoritusperusteinen</legend>
            <salaxy-input-boolean type="checkbox " name="isMonthly" label="Tunti- tai suoritusperuste" label-cols="col-sm-6 " label-true="Kyllä" read-only="true"></salaxy-input-boolean>
          </fieldset>
          <fieldset>
            <legend>Lomakorvaus</legend>
            <salaxy-input-number ng-model="$ctrl.data.worktime.bonus.yearlyLeaveDays" name="yearlyLeaveDays" label="Lomapäiviä vuodessa" label-cols="col-sm-6"></salaxy-input-number>
            <salaxy-input-number ng-model="$ctrl.data.worktime.bonus.totalHolidaySalary" name="totalHolidaySalary" label="Loma-ajan palkka" label-cols="col-sm-6"></salaxy-input-number>
            <salaxy-input-number ng-model="$ctrl.data.worktime.bonus.alreadyPaid" name="alreadyPaid" label="Jo maksettu" label-cols="col-sm-6"></salaxy-input-number>
          </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
              <legend>Lomakertymä</legend>
              <table class="table table-condensed">
                <thead>
                  <th>Kuukausi</th>
                  <th class="right">Kertymä</th>
                  <th class="right">Pois</th>
                  <th class="right">Pv</th>
                  <th class="right">h</th>
                </thead>
                <tbody>
                  <tr ng-repeat="month in $ctrl.data.worktime.accruals">
                    <td>{{ month.month | sxyDate }}</td>
                    <td class="right">{{ month.daysAccrued | sxyCount : "days" }}</td>
                    <td class="right">{{ month.absencesDays | sxyCount : "days" }}</td>
                    <td class="right">{{ month.workDays | sxyCount : "days" }}</td>
                    <td class="right">{{ month.workHours | sxyCount : "hours" }}</td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          <fieldset ng-if="$ctrl.data.worktime.holidaySpec.code == 'undefined'">
            <legend>Lomalaskenta ei käytössä</legend>
          </fieldset>
          <fieldset ng-if="$ctrl.data.worktime.holidaySpec.code != 'undefined'">
            <legend>Lomavuoden asetukset</legend>
            <salaxy-date-range ng-model="$ctrl.data.worktime.employmentPeriod" name="employmentPeriod" label="Työsuhteen kesto"></salaxy-date-range>
            <salaxy-input-enum ng-model="$ctrl.data.worktime.holidaySpec.wageBasis" name="wageBasis" enum="WageBasis" label="Palkan peruste" label-cols="col-sm-6"></salaxy-input-enum>
            <salaxy-input-enum ng-model="$ctrl.data.worktime.holidaySpec.code" name="holidayCode" enum="HolidayCode" label="Loman kertyminen" label-cols="col-sm-6"
              hidden-options="undefined,holidayCompensationIncluded"></salaxy-input-enum>
            <salaxy-input-number ng-model="$ctrl.data.worktime.holidaySpec.accrualFixed" name="accrualFixed" label="Kiinteä lomakertymä" label-cols="col-sm-6" unit="days"></salaxy-input-number>
            <salaxy-input-number ng-model="$ctrl.data.worktime.holidaySpec.compensation" name="compensation" label="Lomakorvaus" label-cols="col-sm-6" unit="percent"></salaxy-input-number>
            <salaxy-input-enum ng-model="$ctrl.data.worktime.holidaySpec.bonusMethod" name="bonusMethod" enum="HolidayBonusMethod" label="Lomakorvauksen maksu" label-cols="col-sm-6"></salaxy-input-enum>
            <salaxy-input-number ng-model="$ctrl.data.worktime.holidaySpec.bonus" name="bonus" label="Lomaraha" label-cols="col-sm-6" unit="percent"></salaxy-input-number>
          </fieldset>
      </div>
    </div>
  </div>
</div>