<form ng-submit="$ctrl.recalculate()" name="detailsWork">
  <div class="salaxy-calc-dialog-body">
    <div class="salaxy-calc-dialog-container">
      <div ng-if="!$ctrl.calcSections.get('worker').isSelectionDone">

        <div sxy-if-role="auth">
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <div class="intro-text">
                <h1 sxy-text="SALAXY.NG1.CalcDetailsWorkerComponent.selectWorker"></h1>
                <p sxy-html="SALAXY.NG1.CalcDetailsWorkerComponent.myWorkers.description.html"></p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5">
              <button type="button" class="btn add-new-worker btn-primary pull-right-sm" style="margin-bottom:5px;" ng-click="$ctrl.showNewWorkerDialog()" sxy-text="SALAXY.NG1.CalcDetailsWorkerComponent.newWorker.cta"></button>
            </div>
            <div class="col-xs-12">
              <div class="table-responsive">
                <salaxy-worker-list mode="select" on-list-select="$ctrl.updateFromEmployment(item.id, true)"></salaxy-worker-list>
              </div>
            </div>
          </div>
        </div>
        <div salaxy-if-role="anon">
          <h1 sxy-text="SALAXY.NG1.CalcDetailsWorkerComponent.selectWorker" ps=" (demo)"></h1>
          <p>
            Et ole kirjautunut palveluun: Laskurin demotilassa voit käyttää esimerkkityöntekijää.
          </p>
          <div class="table-responsive salaxy-calc-workers-list">
            <ng-include src="'salaxy-components/odata/lists/Workers-select-anon.html'"></ng-include>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.calcSections.get('worker').isSelectionDone">
        <h1 sxy-translate="SALAXY.NG1.CalcDetailsWorkerComponent.workerInfo.title"></h1>
        <salaxy-calc-worker-info model="$ctrl.currentCalc"></salaxy-calc-worker-info>
        <div class="row">
          <div class="col-md-6 col-xs-12 form-horizontal">
            <fieldset>
              <legend>Tehtävä työ:</legend>
              <salaxy-input-occupation-type name="occupationCode" ng-model="$ctrl.currentCalc.info.occupationCode" label="Työn tyyppi" read-only="$ctrl.isReadOnly"></salaxy-input-occupation-type>
              <salaxy-input name="workDescription" ng-model="$ctrl.currentCalc.info.workDescription" label="Kuvaus palkkalaskelmaan" read-only="$ctrl.isReadOnly"></salaxy-input>
            </fieldset>
          </div>
          <div class="col-md-6 col-xs-12 form-horizontal" sxy-if-role="!worker">
            <fieldset>
              <legend>Viesti työntekijälle:</legend>
              <salaxy-textarea name="salarySlipMessage" ng-model="$ctrl.currentCalc.info.salarySlipMessage" read-only="$ctrl.isReadOnly" label-type="plain"></salaxy-input>
            </fieldset>
            <fieldset salaxy-if-role="company">
              <legend>Raportointi:</legend>
              <salaxy-input name="costCenter" ng-model="$ctrl.currentCalc.info.costCenter" label="Kustannuspaikka" read-only="$ctrl.isReadOnly"></salaxy-input>
              <salaxy-input name="projectNumber" ng-model="$ctrl.currentCalc.info.projectNumber" label="Projektinumero" read-only="$ctrl.isReadOnly"></salaxy-input>
            </fieldset>
          </div>
        </div>
        <div class="row" sxy-if-role="worker">
          <div class="col-xs-12 form-horizontal">
            <a href="#/taxcards" class="btn add-new-worker btn-info">Lisää jaettu verokortti</a>
            <a href="#/account" class="btn btn-default">Muokkaa omia tietoja</a>
          </div>
        </div>
        <div class="row" sxy-if-role="!worker">
          <div class="col-xs-12 form-horizontal">
            <button type="button" ng-click="$ctrl.showApproveTaxcardDialog()" ng-if="$ctrl.currentCalc.worker.tax.hasNewSharedCard" class="btn btn-danger">Tarkista verokortti</button>
            <span sxy-if-role="auth">
            <button type="button" ng-click="$ctrl.showNewTaxcardDialog()"  ng-if="!$ctrl.currentCalc.worker.tax.hasNewSharedCard" class="btn add-new-worker btn-info">Uusi verokortti</button>
            <button type="button" ng-click="$ctrl.showWorkerEditDialog()"  class="btn add-new-worker btn-default">Työntekijän muokkaus</button>
            </span>
            <button ng-if="!$ctrl.isReadOnly &&  $ctrl.currentCalc.workflow.status != 'paymentStarted'" ng-click="$ctrl.resetWorker()" type="button" class="btn add-new-worker btn-default">Vaihda toiseen työntekijään...</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <button ng-if="!$ctrl.isReadOnly" class="btn btn-info btn-lg salaxy-calc-btn-recalculate" type="submit" sxy-text="SALAXY.UI_TERMS.recalculate"></button>
</form>