.salaxy-component{

  .salaxy-calc-rows-editor{
    tfoot{
        td{
          line-height:1.2em;
      }
    }
    .table-condensed{
      > tbody {
        > tr{
          td {
            vertical-align: middle;
          }
          &.row-before-validation td {
            padding-bottom: 0px;
          }
          &.row-validation td {
            padding-top: 0px;
          }
          &.new-row td {
            padding:12px 1px;
          }
        }
      }
      @media screen and  (max-width:767px){
        
          >tbody, >thead, >tfoot{
            >tr{
              >td, >th{
                padding:3px 1px;
                font-size:0.95em;
                &.td-add-new-btn{
                  .btn{
                    font-size:11px;
                  }
                }
              }
             
                 
                
              
            }
          }
          .form-control {
            width: 100%;
            height: 30px;
            padding: 4px 5px;
            font-size: 12px;
          }
          .input-group-addon {
            padding: 6px 2px;
            font-size: 10px;
          }
        }
      
      @media screen and (max-width:480px){
        > tbody, >thead, >tfoot {
          > tr{
            > td, > th{
              padding:3px 1px;
              font-size: 10px;
              > div{
                padding: 3px 5px;
                font-size: 10px;
              }
            }
           
          }
        }
       
        .form-control {
          width: 100%;
          height: 30px;
          padding: 4px 5px;
          font-size: 11px;
        }
        .input-group-addon {
          padding: 4px 2px;
          font-size: 10px;
        }
       
        
      }
    
    }

 
    .salaxy-calc-rows-editor-btns {
      width: 75px;
      text-align:center;
      @media screen and (max-width:480px){
        width:50px;
      }

    }
    @media screen and (max-width:767px){
      table > tbody > tr > td, .salaxy-component .table > tbody > tr > td{
        .input-group-addon {
          padding: 6px 2px;
          font-size: 10px;
        }
      }

    }
    @media screen and (max-width:480px){
      table > tbody > tr > td, .salaxy-component .table > tbody > tr > td,  table > thead > tr > th{
        padding: 3px 2px;
        &.salaxy-calc-rows-editor-btns {
          width:50px;
          .btn.btn-sm{
            padding: 1px 4px;
          }
        }
        .input-group-addon {
          padding: 4px 2px;
          font-size: 10px;
        }
      }
      
    }

  }
 
}