.salaxy-calc-dashboard{
  .btn-new-calc{
    margin-bottom:30px;
  }
}
.salaxy-pay-button {
  .payment-channel-selection-label {
    font-weight: bold;
    text-align: left;
    font-size: 0.8em;
  }
}
.salaxy-calc {
  position: relative;

  .chart-container{
   
    max-height: 100%;
  }

  .salaxy-calc-overview {
    position: relative;
    margin-left: -2px;
    margin-right: -2px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .salaxy-calc-overview-worker {
    height: 94px;
    position: relative;
    salaxy-avatar {
      font-size: 50px;
      position: absolute;
      bottom: -4px;
      right: -4px;
    }
  }

  .salaxy-calc-step-container {
    position: absolute;
    width: 25%;
    left: 0%;
    top: 0px;
    height: 150px;
    z-index: 900;
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.3s linear;
    &:hover .salaxy-calc-overview-panel {
      margin-top: 5px;
      transition: all 0.1s linear;
    }
    &:hover.active .salaxy-calc-overview-panel {
      margin-top: 0;
    }
    &.step2 {
      left: 25%
    }
    &.step3 {
      left: 50%
    }
    &.step4 {
      left: 75%
    }
    &.active {
      position: absolute;
      top: 50px;
      left: 8px;
      width: calc(~"100% - 16px");
      height: 530px;
      z-index: 910;
      overflow: hidden;
      .content-overview {
        display: none;
      }
      &.ng-animate .content-overview {
        display: block;
      }
      .salaxy-calc-overview-panel {
        > .panel-body {
          height: 480px;
          overflow: auto;
        }
        .panel-heading {
          font-size: 1.5em;
          line-height: 20px;
          .close {
            display: inline;
          }
        }
      }
    }
    .content-details, &.ng-animate.active .content-details {
      display: none;
    }
    &.active .content-details {
      display: block;
    }
    .salaxy-calc-overview-panel {
      margin-top: 0px;
      transition: all 0.1s linear;
      border-color: #e6e6e6;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
     > .panel-heading {
        text-align: center;
        font-weight: 500;
        cursor: pointer;
        .close {
          font-size: 28px;
          margin-right: -10px;
          margin-top: -6px;
          display: none;
          opacity: 1;
          color: white;
          text-shadow: none;
        }
      }
      > .panel-body {
        height: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        .content-overview {
          width: 100%;
          height: 100%;
          cursor: pointer;
          padding: 8px;
          .td {
            height: 1.4em;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .salaxy-calc-dialog-body {
        // Full height / width of the dialog - no padding or scrolling
        position: relative; 
        height: 480px;
        overflow: visible;
      }

      .salaxy-calc-dialog-container {
        // Scrolling and padded container for text etc.
        padding: 15px;
        height: auto;
        overflow: auto;
       
      }

      .salaxy-calc-btn-recalculate {
        position: absolute; 
        z-index: 100;
        right: 0px; 
        bottom: 4px;
      }

      .salaxy-calc-workers-list {
        max-height: 370px; 
        overflow: auto;
        salaxy-avatar {
          font-size: 42px;
         
        }
      }
    }
  }
  .table-condensed {
    th {
      padding: 6px;
      vertical-align: middle;
      border: none;
    }
    td {
      padding: 0px;
      vertical-align: middle;
      > div {
        padding: 6px;
      }
    }
  }
  h1, h2, h3, h4 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
    color: @gray-dark;
    margin-top: 5px;
  }
 
  div h1 {
    font-size: 18px;
    text-transform: uppercase;
  }
  .action-link {
    display: block;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: @gray-dark;
    font-weight: 500;
  }
  .action-link::after {
    content: "  >  ";
    color: @brand-primary;
    font-weight: 800;
  }
  .result-area > .panel {
    min-height: 432px;
  }
  .calc-start-instructions {
    min-height: 432px;
    padding-top: 32px;
  }
  @media screen and (max-width:@screen-md-min){
    // TODO: i.e. font-sizes 
    .salaxy-calc-overview{
      height:170px;
    }
  }
  @media screen and (max-width:@screen-sm-max){
    // TODO: i.e. font-sizes 
    
  }

  @media screen and (max-width:@screen-xs-max){
    .salaxy-calc-overview{
      height:auto;
    }
    h1{font-size: 16px;}
    p{
      font-size:12px;
    }
    .btn{
      font-size:11px;
    }
    .salaxy-calc-step-container{
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
      &.step1,  &.step2,  &.step3,  &.step4{
        left:0%;
        top:0;
        width:100%;
        position:relative;
        height:auto;
        min-height:50px;
      }
      > .panel{
        margin-bottom:10px;
        > .panel-body{
          height:auto;
        }
      }
      &.active{
        .salaxy-calc-overview-panel{ 
          h1{font-size: 16px;}
          .panel-heading{
            font-size:1em;
            
            .overview-title{
              margin-right:-27px;
            }
            .close{
              font-size: 22px;
              margin-right: -9px;
              margin-top: -2px;
            }
          } 
          >.panel-body{
            height:auto;
            min-height:200px;
          }
          .salaxy-calc-dialog-container{
            height:auto;
            min-height:250px;
            overflow: scroll;
           
          }
          .salaxy-calc-details-dialog{
            width: 95%;
            height: 92%;
            right: 2.5%;
        
          }
        }
      }
      .salaxy-calc-dialog-body{
        height:auto;
      }
      &:hover{
        .salaxy-calc-overview-panel{
          margin-top:0;
        }
      }
    }
  }
  @media screen and (max-width:480px){
    .form-control {
      width: 100%;
      height: 30px;
      padding: 4px 5px;
      font-size: 11px;
    }
    .input-group-addon {
      padding: 4px 5px;
      font-size: 10px;}
    .table-condensed{ 
      th {
        padding: 2px;
        font-size: 10px;
      }
      td{
        > div{
       
            padding: 3px 5px;
            font-size: 10px;
        
        }
      }
    }
  
    .salaxy-calc-step-container {
      .salaxy-calc-overview-panel {
        .salaxy-calc-workers-list{ 
          salaxy-avatar{
            font-size:32px;
          }
          strong{
            font-size: 12px;
          }
        }
      
        .salaxy-calc-dialog-container{
          padding:10px;
          -webkit-overflow-scrolling: touch; 
        }
      }
      &.active{
        .salaxy-calc-overview-panel {
          h1{
            font-size:13px;
          }
        }
      }
    }
  }
  @media screen and (max-width:380px){
    .fa-4x {
      font-size: 3em;
    }
  }
}

.salaxy-calc-details-dialog {
  position: absolute;
  top: 10px;
  width: 100%;
  height: auto;
  z-index: 100;
  .panel-detail {
    overflow-y: auto;
    border-radius: (@border-radius-base *2) (@border-radius-base *2) 0px 0px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
  }
  .panel-list {
    height: 100%;
    margin-bottom: 0;
    overflow-y: auto;
    border-radius: (@border-radius-base *2) (@border-radius-base *2) 0px 0px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
    &.panel-expenses {
      border-color: rgb(255, 169, 0);
      .panel-heading {
        background-color: rgb(255, 169, 0);
        border-color: rgb(255, 169, 0);
      }
    }
    &.panel-benefits {
      border-color: rgb(79, 205, 196);
      .panel-heading {
        background-color: rgb(79, 205, 196);
        border-color: rgb(79, 205, 196);
      }
    }
    &.panel-deductions {
      border-color: rgb(255, 103, 56);
      .panel-heading {
        background-color: rgb(255, 103, 56);
        border-color: rgb(255, 103, 56);
      }
    }
    &.panel-salaries {
      border-color: rgb(74, 146, 233);
      .panel-heading {
        background-color: rgb(74, 146, 233);
        border-color: rgb(74, 146, 233);
      }
    }
  }
  .panel-body {
    p {
      line-height: 1.3em;
    }
  }
  .panel-heading {
  
    cursor: default;
    text-align: left;
    display: table;
    width: 100%;
    position: relative;
    .close{
      font-size: 28px;
      margin-right: -5px;
      margin-top: -8px;
      display: block;
      position: relative;
      opacity: 1;
      color: white;
      text-shadow: none;
      cursor: pointer
    }
    .btn-showmore {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #fff;
      font-size: 11px;
      .fa {
        font-size: 12px;
        margin-left: 5px;
      }
    }
    .avatar-container {
      font-size: 48px;
      line-height: 1em;
      margin: 0 10px 0 -2px;
      border-radius: 0.25em;
      border: 2px solid #fff;
      
      .salaxy-avatar {
        img {
          border: 2px solid #fff;
        }
        strong {
          font-size: 0.25em;
        }
      }
    }
    h1 {
      font-size: 15px;
      margin-bottom: 2px;
      font-weight: 500;
      color: #fff;
      margin-top: 3px;
      text-transform: uppercase;
      .smaller {
        display: inline;
        font-size: 0.8em;
        color: #fff;
        font-weight: normal;
        text-transform: none;
      }
    }
    .calc-text {
      font-size: 12px;
      color: #000;
      font-weight: normal;
      margin-bottom: 5px;
      line-height: 1.5em;
      display: inline-block;
      .result-text {
        font-size: 18px;
        display: block;
        color: #fff;
        font-weight: bold;
        margin-left: 0;
      }
    }
  }
}
.salaxy-calc-household-usecase {
  .choose-usecase {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    height: 29px;
    padding: 5px 0 0;
    line-height: 1em;
  }
  .usecase-details{
    .panel-heading{
      text-align:left;
      position: relative;
      color:#000;
      border-bottom: 1px solid @brand-warning;
      padding-top:0;
      font-size: 1.5em;
      line-height: 20px;
      .btn-showmore{
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #000;
        font-size: 11px;
        .fa {
          font-size: 12px;
          margin-left: 5px;
        }
      }
      h1{
        font-weight:bold;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        color:#000;
      }
      .result-text{
        display:block;
        font-size:15px;
        font-weight:bold;
      }
      .calc-text{
        font-size:12px;
        display:block;
        margin-bottom:0;
        min-height:40px;
      }
      .icon-wrapper{
        position:relative;
        margin-top:0px;
        font-size:60px;
      }
      .main-icon-wrapper{
        background-color:@brand-warning;
        border-radius:50%; 
        margin-top:4px; 
        margin-bottom:4px; 
        width:1em; 
        height:1em; 
        margin-right:15px;
        padding:2px 0 0;
        
        img{
          width:1em; 
          height:1em;
          margin-top:0.05em;
        }
      }
      .badge-image-wrapper{
        position:absolute;
        top:0;
        img{
          width: 0.5em;
          margin-left: 40px;
          margin-top: 0.5em;
        }
      }
    }
  }
}


