<div class="salaxy-component salaxy-payroll">
  <salaxy-spinner ng-if="$ctrl.isLoading"></salaxy-spinner>
  <div sxy-if-role="auth">
    <div class="dropdown">
      <ng-include ng-if="$ctrl.isNew()" src="'salaxy-components/calc/payroll/PayrollNew.html'"></ng-include>
    </div>
    <div ng-if="!$ctrl.isNew() && $ctrl.current">
      <ng-include src="'salaxy-components/calc/payroll/PayrollEdit_toolbar.html'"></ng-include>
      <div class="row payroll-info-row">
        <div class="col-xs-3 col-sm-2 col-xxs-12">
          <salaxy-avatar-placeholder class="payroll-avatar">
            <i class="salaxy-avatar fa fa-square" style="color:#FDC338;">
              <span>
                <strong>{{ $ctrl.calcs.length }}</strong>
                <small>{{ $ctrl.current.info.salaryDate | date : "d.M." }}</small>
              </span>
            </i>
          </salaxy-avatar-placeholder>
        </div>
        <div class="col-xs-9 col-sm-10 col-xxs-12 payroll-info-col">
          <h3 class="payroll-title">{{ $ctrl.current.input.title }}</h3>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div>
                <span>{{ 'PayrollStatus.' + $ctrl.current.info.status | sxyEnum }}</span>
                <span ng-if="$ctrl.current.info.status == 'draft'" ng-class="$ctrl.current.info.isReadyForPayment ? 'text-success' : 'text-danger'">
                  {{ $ctrl.current.info.isReadyForPayment ? (('SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.readyForPayment' | sxyTranslate)) :
                  (('SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.notReadyForPayment' | sxyTranslate)) }}
                </span>
              </div>
              <div>
                <span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.salaryPeriod" ps=":"></span> {{ $ctrl.current.input.period | sxyDateRange }}
                ({{$ctrl.current.input.period.daysCount}} <span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.salaryPeriodDaysCount"></span>)
              </div>
              <div>
                <span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.salaryDate" ps=":"></span> {{ $ctrl.current.info.salaryDate | date }}
              </div>
              <div ng-if="$ctrl.current.input.wageBasis != 'undefined'">
                <span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.wageBasis" ps=":"></span> {{ 'WageBasis.' + $ctrl.current.input.wageBasis | sxyEnum }}
              </div>
              <div>
                <span ng-if="$ctrl.current.input.template">Perustuu <a ng-href="#/payroll/details/{{ $ctrl.current.input.template }}">toistuvaan palkkalistaan</a></span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <span><span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.calcCount" ps=":"></span> {{$ctrl.calcs.length}} </span><br />
              <span><span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.finalCost" ps=":"></span> {{ $ctrl.calcsResult.employerCalc.finalCost | currency
                }}</span><br />
              <span><span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.grossSalary" ps=":"></span> {{ $ctrl.info.totalGrossSalary | currency}}</span><br>
              <span><span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.payrollInfo.totalPayment" ps=":"></span> {{ $ctrl.info.totalPayment | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <uib-tabset active="$ctrl.activeTab" ng-if="$ctrl.mode != 'service'">
        <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollEdit.tabs.editProperties' | sxyTranslate}}">
          <div class="row payroll-edit-properties-container">
            <form class="form-horizontal" ng-disabled="$ctrl.isDisabled" ng-readonly="$ctrl.isReadOnly">
              <div class="col-xs-12 payroll-edit-properties-col">
                <salaxy-input name="title" label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.title" ng-model="$ctrl.current.input.title"></salaxy-input>
                <div class="form-group" ng-if="$ctrl.current.info.status == 'paymentSucceeded'">
                  <label for="status" class="col-sm-4 text-left" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.status"></label>
                  <div class="col-sm-8">{{ 'PayrollStatus.' + $ctrl.current.info.status | sxyEnum | sxyTranslate }}</div>
                </div>
                <salaxy-input-enum ng-if="$ctrl.current.info.status != 'paymentSucceeded'" label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.wageBasis" name="wageBasis"
                  ng-model="$ctrl.current.input.wageBasis" enum="WageBasis" required placeholder="Valitse..."></salaxy-input-enum>
                <div class="form-group">
                  <div class="col-sm-4"><strong sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryPeriod" ps=":"></strong> </div>
                  <div class="col-sm-8">
                    {{ $ctrl.current.input.period | sxyDateRange }} ({{$ctrl.current.input.period.daysCount}} <span
                      sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryPeriodDaysCount"></span>)
                    <button class="btn btn-transparent btn-xs" ng-click="$ctrl.showDateRange()" ng-if="!$ctrl.current.isReadOnly"><i class="fa fa-pencil "></i></button>
                  </div>
                </div>
                <salaxy-datepicker-popup ng-if="$ctrl.current.info.status != 'paymentSucceeded'" label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryDate"
                  name="salaryDate" ng-model="$ctrl.current.input.salaryDate" date-disabled="salary" payment-channel="$ctrl.current.input.paymentChannel"></salaxy-datepicker-popup>
                <div class="form-group" ng-if="$ctrl.current.info.status == 'paymentSucceeded'">
                  <div class="col-sm-4"><strong sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryDate" ps=":"></strong> </div>
                  <div class="col-sm-8">{{ $ctrl.current.info.salaryDate | date }}</div>
                </div>
                <salaxy-form-group  name="paymentChannel"  label="Maksumenetelmä">
                  <salaxy-pay-button ng-if="!$ctrl.isReadOnly" model="$ctrl.current" mode="channel-select" ng-ref="$payButton" disabled="!$payButton.isChannelDefined" on-payment-channel-change="$ctrl.save()"></salaxy-pay-button>
                  <div ng-if="$ctrl.isReadOnly">{{ "PaymentChannel." + $ctrl.current.input.paymentChannel | sxyEnum }}</div>
                </salaxy-form-group>
              </div>
            </form>
          </div>
        </uib-tab>
        <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollEdit.tabs.calculations' | sxyTranslate}}">
          <ng-include src="'salaxy-components/calc/payroll/PayrollCalcs.html'"></ng-include>
        </uib-tab>
        <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollEdit.tabs.reports' | sxyTranslate}}" disable="!$ctrl.hasCalculations">
          <salaxy-calc-reports calcs="$ctrl.calcs" ng-if="$ctrl.hasCalculations" report-type="'salarySlip'"></salaxy-calc-reports>
        </uib-tab>
      </uib-tabset>
      <div ng-if="$ctrl.mode == 'service'">
        <ng-include src="'salaxy-components/calc/payroll/PayrollCalcs.html'"></ng-include>
      </div>
      <hr />
      <div class="dropup">
        <ng-include src="'salaxy-components/calc/payroll/PayrollEdit_toolbar.html'"></ng-include>
      </div>
    </div>
  </div>
</div>