<div class="salaxy-component salaxy-calc-group-edit">
  <div class="payroll-calculations-container">
    <div class="dropdown toolbar-top" ng-if="$ctrl.hasCalculations">
      <ng-include src="'salaxy-components/calc/payroll/PayrollCalcs_toolbar.html'"></ng-include>
    </div>
    <div ng-if="!$ctrl.hasCalculations">
      <div class="salaxy-placeholder-empty placeholder-md placeholder-default text-center">
        <h4 sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.placeholder.title"></h4>
        <div ng-if="$ctrl.mode != 'service'" class="btn-group dropdown" uib-dropdown>
          <button type="button" class="btn btn-labeled-left btn-primary dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i>
            <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addCalculation"></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="addcalculation">
            <li role="menuitem">
              <a ng-click="$ctrl.createNewCalc()" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addWorker"></a>
            </li>
            <li role="menuitem">
              <a ng-click="$ctrl.addExistingCalc('draft')" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addDraft"></a>
            </li>
            <li role="menuitem">
              <a ng-click="$ctrl.addExistingCalc('paid')" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addCopy"></a>
            </li>
          </ul>
        </div>
        <button ng-if="$ctrl.mode == 'service'" type="button" class="btn btn-labeled-right btn-primary" ng-click="$ctrl.createNewCalc()">
          <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addCalculation"></span><i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div ng-repeat="calc in $ctrl.calcs">
      <div class="payroll-single-calculation col-padding" ng-class="{'error-container': !$ctrl.getValidation(calc).isValid }">
        <div class="pull-right icon-container btn-group">
          <button class="btn btn-transparent btn-xs toggle-details" ng-click="$ctrl.getUi(calc).isCollapsed = !$ctrl.getUi(calc).isCollapsed"><i class="fa"
              ng-class="{'fa-chevron-up' : !$ctrl.getUi(calc).isCollapsed,  'fa-chevron-down' : $ctrl.getUi(calc).isCollapsed}"
              title="{{'SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.toggle' | sxyTranslate}}"></i></button>
          <div class="btn-group btn-group-sm dropdown salaxy-dropdown-menu-right" uib-dropdown>
            <button class="btn btn-transparent btn-xs options dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false" ng-if="!$ctrl.isReadOnly"><i
                class="fa fa-ellipsis-h" title="{{'SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.options' | sxyTranslate}}"></i></button>
            <ul class="dropdown-menu" uib-dropdown-menu template-url="salaxy-components/calc/payroll/PayrollCalcs_edit_dropdown.html"></ul>
          </div>
        </div>
        <div class="payroll-worker-summary clickable" ng-if="$ctrl.getUi(calc).isCollapsed" ng-click="$ctrl.getUi(calc).isCollapsed = !$ctrl.getUi(calc).isCollapsed">
          <div class="avatar-container">
            <salaxy-avatar avatar="calc.worker.avatar"></salaxy-avatar>
            <span class="worker-name">{{calc.worker.avatar.displayName}}</span>
            <span class="calculation-summary">{{calc.result.totals.total | currency }}</span>
            <span ng-if="!$ctrl.getValidation(calc).isValid" class="error-summary text-danger hidden-xs"
              sxy-text="{{'SALAXY.VALIDATION.' + $ctrl.getValidation(calc).errors[0].code + '.label'}}"></span>
          </div>
        </div>
        <div class="payroll-worker-details" ng-if="!$ctrl.getUi(calc).isCollapsed">
          <div class="row payroll-worker-info">
            <div class="col-xs-2 col-sm-2 col-xxs-9">
              <div class="avatar-container">
                <salaxy-avatar avatar="calc.worker.avatar"></salaxy-avatar>
              </div>
            </div>
            <div class="col-xs-9 col-xxs-10">
              <h3 class="worker-name clickable" ng-click="$ctrl.getUi(calc).isCollapsed = !$ctrl.getUi(calc).isCollapsed">{{calc.worker.avatar.displayName}}</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-5 worker-info-col">
                  {{calc.worker.paymentData.email}}<br> {{calc.worker.paymentData.telephone}}
                  <br>
                  <span ng-if="calc.worker.paymentData.ibanNumber">{{calc.worker.paymentData.ibanNumber | sxyIban}}</span>
                  <span ng-if="!calc.worker.paymentData.ibanNumber"><span class="text-danger"
                      sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.noIban"></span></span>
                  <br>
                  <button class="btn btn-secondary btn-xs btn-edit-worker" ng-click="$ctrl.showEditWorkerDialog(calc)" ng-class="{'btn-danger':!calc.worker.paymentData.ibanNumber}"
                    ng-if="!$ctrl.isReadOnly" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.editWorker"></button>
                  <button class="btn btn-secondary btn-xs btn-edit-worker" ng-click="$ctrl.showNewTaxcardDialog(calc)" ng-if="!$ctrl.isReadOnly"
                    sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.addTaxcard"></button>
                </div>
                <div class="col-xs-12 col-sm-7 worker-info-col">
                  <span ng-if="calc.worker.tax.snapshot.kind !=null">
                    <strong>{{'SALAXY.ENUM.TaxcardKind.' + calc.worker.tax.snapshot.kind + '.label' |sxyTranslate}}:</strong>
                    <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.taxPercent"></span> {{calc.worker.tax.snapshot.taxPercent + '%'}}
                  </span>
                  <span ng-if="!calc.worker.tax.snapshot.kind">
                    <span class="text-danger" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.noTaxcard"></span>
                    <button class="btn btn-xs btn-danger" ng-click="$ctrl.showNewTaxcardDialog(calc)"
                      sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.addTaxcard"></button>
                    <button class="btn btn-xs btn-default" ng-click="$ctrl.commitCalc(calc, false, true)"><i class="fa fa-refresh"></i></button>
                  </span>
                  <span ng-if="calc.worker.tax.hasNewSharedCard">
                    <br />
                    <span class="text-danger">Uusi jaettu verokortti</span>
                    <button class="btn btn-xs btn-danger" ng-click="$ctrl.showApproveTaxcardDialog(calc)">Hyväksy / hylkää</button>
                    <button class="btn btn-xs btn-default" ng-click="$ctrl.commitCalc(calc, false, true)"><i class="fa fa-refresh"></i></button>
                  </span>
                  <br> <strong sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.salaryPeriod"></strong>
                  <span>{{ calc.info | sxyDateRange }} ({{ calc.framework.numberOfDays }} <span
                      sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.salaryPeriodDaysCount"></span>)</span>
                  <button class="btn btn-transparent btn-xs" ng-click="$ctrl.showDateRangeForCalculation(calc)" ng-if="!$ctrl.isReadOnly"><i class="fa fa-pencil"></i></button>
                  <div ng-if="$ctrl.isDateDifferent(calc)">
                    <del class="small">{{ $ctrl.current.input.period | sxyDateRange }} ({{ $ctrl.current.input.period.daysCount }} <span
                        sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.workerInfo.salaryPeriodDaysCount"></span>)</del>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!$ctrl.getValidation(calc).isValid" class="text-danger">
            <ul class="small">
              <li ng-if="!$ctrl.getValidation(calc)">ERROR: No validation found.</li>
              <li ng-repeat="error in $ctrl.getValidation(calc).errors">
                <strong>{{ 'ApiValidationErrorType.' + error.type | sxyEnum }}:</strong>
                <span sxy-text="{{'SALAXY.VALIDATION.' + error.code + '.label'}}"></span>
              </li>
            </ul>
          </div>
          <div class="row worker-calculations-row">
            <div class="col-xs-12  table-responsive">
              <salaxy-calc-rows-2019-editor parent="calc" title="{{'SALAXY.NG1.PayrollComponent.payrollCalcs.calcRowEditor.title' | sxyTranslate}}" mode="read-edit"
                show-edit-buttons="true" on-commit="$ctrl.commitCalc(calc)" on-reset="$ctrl.resetCalc(calc)" on-start-edit="$ctrl.getUi(calc).isInEdit = true"
                is-in-edit="$ctrl.getUi(calc).isInEdit" show-gross-totals="true">
              </salaxy-calc-rows-2019-editor>
            </div>
            <div class="col-xs-12 payroll-calculation-footer">
              <div class="btn-group btn-group-sm dropup" uib-dropdown ng-if="!$ctrl.isReadOnly">
                <button type="button" class="btn btn-secondary dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                  <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.edit"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu template-url="salaxy-components/calc/payroll/PayrollCalcs_edit_dropdown.html"></ul>
              </div>
              <div ng-if="$ctrl.mode != 'service'" class="btn-group btn-group-sm pull-right-xs dropup" uib-dropdown>
                <button id="reports" type="button" class="btn btn-transparent dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
                  <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.viewReports"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="reports">
                  <li role="menuitem">
                    <a href="" ng-click="$ctrl.showReport('employerReport', calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.employerReport"></a>
                  </li>
                  <li role="menuitem">
                    <a href="" ng-click="$ctrl.showReport('paymentReport', calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.paymentReport"></a>
                  </li>
                  <li role="menuitem">
                    <a href="" ng-click="$ctrl.showReport('salarySlip', calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.salarySlip"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.hasCalculations">
      <div class="payroll-totals col-padding">
        <div class="totals-container ">
          <span class="total-label"><span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.payrollTotals.finalCost"></span><br>
            <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.payrollTotals.grossSalary"></span><br>
            <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.payrollTotals.totalPayment"></span>
          </span>
          <span class="amount">{{ $ctrl.calcsResult.employerCalc.finalCost | currency }}<br>
            {{ $ctrl.info.totalGrossSalary | currency}}<br>
            {{ $ctrl.info.totalPayment | currency}}</span>
        </div>
      </div>
    </div>
    <div class="dropup toolbar-bottom" ng-if="$ctrl.hasCalculations">
      <ng-include src="'salaxy-components/calc/payroll/PayrollCalcs_toolbar.html'"></ng-include>
    </div>
  </div>
</div>