<div>
  <div ng-if="$ctrl.isReadOnly" class="btn-toolbar">
    <button class="btn btn-secondary" ng-click="$ctrl.showCopyAsNew($ctrl.current)" ng-style="{ visibility: $ctrl.isDisabled ? 'hidden' : 'visible' }" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.copyAsNew"></button>
    <div class="pull-right">
      <button class="btn btn-secondary  btn-labeled-right" ng-click="$ctrl.showPaymentDialog()"><span>Näytä maksun tiedot</span><i class="fa fa-info"></i></button>
    </div>
  </div>
  <div ng-if="$ctrl.mode == 'service'" class="btn-toolbar">
    <button type="button" class="btn" ng-class="{ 'btn-primary': $ctrl.hasChanges, 'btn-default': !$ctrl.hasChanges }" ng-disabled="!$ctrl.hasChanges" ng-click="$ctrl.save()">
      {{ $ctrl.hasChanges ? ('SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.save' | sxyTranslate) : ('SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.saved' | sxyTranslate) }}
    </button>
    <button class="btn btn-primary btn-labeled-right pull-right" ng-click="$ctrl.sendToPro($ctrl.workflowMessage)">
      <span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.sendPayroll"></span><i class="fa fa-send"></i>
    </button>
    <button class="btn btn-default pull-right" ng-if="!$ctrl.showWorkflowMessage" ng-click="$ctrl.showWorkflowMessage = true" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.showWorkflowMessage"></button>
    <button class="btn btn-default pull-right" ng-if="$ctrl.showWorkflowMessage" ng-click="$ctrl.showWorkflowMessage = false;$ctrl.workflowMessage=''" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.showWorkflowMessageOff"></button>
  </div>
  <div ng-if="!$ctrl.isReadOnly && $ctrl.mode != 'service'" class="btn-toolbar calc-toolbar">
    <button type="button" class="btn" ng-class="{ 'btn-primary': $ctrl.hasChanges, 'btn-default': !$ctrl.hasChanges }" ng-disabled="!$ctrl.hasChanges" ng-click="$ctrl.save()">
      {{ $ctrl.hasChanges ? ('SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.save' | sxyTranslate) : ('SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.saved' | sxyTranslate) }}
    </button>
    <div class="btn-group" uib-dropdown="" ng-disabled="$ctrl.isDisabled">
      <button type="button" class="btn btn-secondary dropdown-toggle" uib-dropdown-toggle=" " aria-haspopup="true" aria-expanded="false">
        <span sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.options"></span>
        <span class="caret "></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="actions">
        <li role="menuitem">
          <a ng-click="$ctrl.importEmploymentDataAll()" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.importEmploymentCalc"></a>
        </li>
        <li role="menuitem">
          <a ng-click="$ctrl.exportEmploymentDataAll()" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.exportEmploymentCalc"></a>
        </li>
        <li role="menuitem">
          <a ng-click="$ctrl.showCopyAsNew($ctrl.current)" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.copyAsNew"></a>
        </li>
        <li ng-class="{ disabled: !$ctrl.hasChanges }" role="menuitem">
          <a ng-click="$ctrl.reset()" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.cancel"></a>
        </li>
        <li role="menuitem">
          <a class="text-danger" ng-click="$ctrl.delete()" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.delete"></a>
        </li>
      </ul>
    </div>
    <div sxy-if-role="pro" class="btn-group">
      <div class="btn-group" style="margin-left:5px;" uib-dropdown>
        <!-- HACK: Rewrite workflow buttons as components. Or make PRO calculator a component. -->
        <button class="btn btn-default" uib-dropdown-toggle type="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
          {{ "PayrollStatus." + $ctrl.current.info.status | sxyEnum }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li ng-class="{ disabled: $ctrl.current.info.status=='draft' }">
            <a href="" ng-click="$ctrl.current.info.status = 'draft';$ctrl.save()">{{ "PayrollStatus.draft" | sxyEnum }}</a>
          </li>
          <li ng-class="{ disabled: $ctrl.current.info.status=='template' }">
            <a href="" ng-click="$ctrl.current.info.status = 'template';$ctrl.save()">{{ "PayrollStatus.template" | sxyEnum }}</a>
          </li>
          <li ng-class="{ disabled: $ctrl.current.info.status=='waitingApproval' }">
            <a href="" ng-click="$ctrl.current.info.status = 'waitingApproval';$ctrl.save()">{{ "PayrollStatus.waitingApproval" | sxyEnum }}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group" style="padding-top: 2px">
        <salaxy-workflow-close api-ctrl="$ctrl"></salaxy-workflow-close>
        <salaxy-workflow-issue api-ctrl="$ctrl"></salaxy-workflow-issue>
      </div>
      <div class="btn-group" role="group" style="border: solid 1px #009fd8; border-radius: 2px;height: 34px;padding-top: 1px;">
        <salaxy-workflow-assign api-ctrl="$ctrl"></salaxy-workflow-assign>
      </div>
    </div>
    <div class="btn-group pull-right">
      <salaxy-pay-button ng-if="$ctrl.current.info.status != 'template'" model="$ctrl.current" mode="pay-button" button-class="pull-right-xs" label="SALAXY.NG1.PayrollComponent.payrollPayButton" ng-ref="$payButton" disabled="!$ctrl.current.info.isReadyForPayment || !$ctrl.calcs.length || !$payButton.isChannelDefined"
        on-payment-channel-change="$ctrl.save()"></salaxy-pay-button>
    </div>
    <!-- TODO: When enabling to production, change to $ctrl.isInSomeRole('pro') -->
    <button ng-if="$ctrl.isInSomeRole('test') && !$ctrl.current.input.template" class="btn btn-default btn-labeled-right pull-right" ng-click="$ctrl.showEditEvent()">
      <span ng-if="!$ctrl.getWorkflowEvent('calendarEvent')" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.createSchedule"></span>
      <span ng-if="$ctrl.getWorkflowEvent('calendarEvent')" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.toolbar.editSchedule"></span>
      <i class="fa fa-calendar"></i></button>
  </div>
</div>
<div class="row" ng-if="$ctrl.showWorkflowMessage" style="margin-top: 4px;margin-bottom: -50px">
  <div class="col-sm-offset-6 col-sm-6">
    <salaxy-textarea name="workflowMessage" ng-model="$ctrl.workflowMessage" placeholder="Viesti tilitoimistoon" rows="2" label-type="plain"></salaxy-textarea>
  </div>
</div>