<div class="salaxy-component salaxy-payroll-list">
  <div class="row" ng-if="!$ctrl.hideButton">
    <div class="col-xs-12 action-button-container" style="margin-bottom:15px;">
      <salaxy-action-button action="'newPayroll'" button-class="btn-primary" style="margin-bottom:30px;"></salaxy-action-button>
    </div>
  </div>
  <uib-tabset active="$ctrl.currentTab">
    <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollList.tabs.latest' | sxyTranslate}}" index="'default'">
      <salaxy-odata-table crud-controller="PayrollCrudController as $crud"
        options="{ $filter: 'status ne \'paymentSucceeded\' and status ne \'paymentStarted\' and status ne \'template\'' }"></salaxy-odata-table>
    </uib-tab>
    <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollList.tabs.repeated' | sxyTranslate}}" index="'templates'">
      <salaxy-odata-table ng-if="$ctrl.currentTab == 'templates'" crud-controller="PayrollCrudController as $crud" options="{ $filter: 'status eq \'template\'' }"></salaxy-odata-table>
    </uib-tab>
    <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollList.tabs.paid' | sxyTranslate}}" index="'paid'">
      <salaxy-odata-table ng-if="$ctrl.currentTab == 'paid'" crud-controller="PayrollCrudController as $crud" options="{ $filter: 'status eq \'paymentSucceeded\' or status eq \'paymentStarted\'' }"></salaxy-odata-table>
    </uib-tab>
    <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollList.tabs.paidSalaries' | sxyTranslate}}" index="'paidCalcs'">
      <salaxy-odata-table ng-if="$ctrl.currentTab == 'paidCalcs'" url="/v03-rc/api/calculations/readonly" crud-controller="CalculationCrudController as $crud" 
        options="{ $filter: 'status eq \'paymentSucceeded\' and data/payrollId ne null' }"></salaxy-odata-table>
    </uib-tab>
    <uib-tab heading="{{'SALAXY.NG1.PayrollComponent.payrollList.tabs.draftCalcs' | sxyTranslate}}" index="'draftCalcs'">
      <salaxy-odata-table ng-if="$ctrl.currentTab == 'draftCalcs'" crud-controller="CalculationCrudController as $crud"
        options="{ $filter: 'status eq \'payrollDraft\'' }"></salaxy-odata-table>
    </uib-tab>
  </uib-tabset>
</div>