<div class="btn-toolbar">
  <div class="btn-group dropdown" uib-dropdown ng-if="!$ctrl.isReadOnly && $ctrl.mode != 'service'">
    <button type="button" class="btn btn-sm btn-labeled-left btn-primary dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false"><i
        class="fa fa-plus"></i>
      <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addCalculation"></span> <span class="caret"></span></button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="addcalculation">
      <li role="menuitem">
        <a ng-click="$ctrl.createNewCalc()" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addWorker"></a>
      </li>
      <li role="menuitem">
        <a ng-click="$ctrl.addExistingCalc('draft')" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addDraft"></a>
      </li>
      <li role="menuitem">
        <a ng-click="$ctrl.addExistingCalc('paid')" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addCopy"></a>
      </li>
    </ul>
  </div>
  <button ng-if="!$ctrl.isReadOnly && $ctrl.mode == 'service'" type="button" class="btn btn-sm btn-labeled-right btn-primary" ng-click="$ctrl.createNewCalc()">
    <span sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.addCalculation"></span><i class="fa fa-plus"></i>
  </button>
  <div class="btn-group btn-group-sm toggle-all-buttons pull-right-xs">
    <button class="btn btn-secondary toggle-all text-right" ng-click="$ctrl.setUiForAll('isCollapsed', false)">
      <span class="hidden-xs" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.open"></span> <i class="fa fa-chevron-down"
        title="{{SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.open | sxyTranslate}}"></i>
    </button>
    <button class="btn btn-secondary  toggle-all text-right" ng-if="!$ctrl.isReadOnly" ng-click="$ctrl.setRowsEditable('all')">
      <span class="hidden-xs" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.edit"></span> <i class="fa fa-pencil" title="Muokkaa"></i>
    </button>
    <button class="btn btn-secondary  toggle-all text-right" ng-click="$ctrl.commitAllCalcs()" ng-if="$ctrl.changedCalcCount">
      <span class="hidden-xs" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.save"></span> ({{ $ctrl.changedCalcCountCache }}) <i class="fa fa-save text-success"
        title="Tallenna"></i>
    </button>
    <button class="btn btn-secondary toggle-all text-right" ng-click="$ctrl.resetAllCalcs()" ng-if="$ctrl.changedCalcCountCache">
      <span class="hidden-xs" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.cancel"></span> ({{ $ctrl.changedCalcCountCache }}) <i
        class="fa fa-times text-danger" title="Peruuta"></i>
    </button>
    <button class="btn btn-secondary  toggle-all text-right" ng-click="$ctrl.setUiForAll('isCollapsed', true);$ctrl.setUiForAll('isInEdit', false)" ng-if="!$ctrl.changedCalcCountCache">
      <span class="hidden-xs" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.toolbar.close"></span> <i class="fa fa-chevron-up" title="Sulje"></i>
    </button>
  </div>
</div>