<ul class="dropdown-menu" uib-dropdown-menu role="menu">
  <li class="dropdown-header" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.editCalculation"></li>
  <li role="menuitem" ng-class="{ 'disabled': $ctrl.getUi(calc).isInEdit }">
    <a href="" ng-click="$ctrl.setRowsEditable(calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.editRows"></a>
  </li>
  <li ng-if="$ctrl.mode != 'service'" role="menuitem">
    <a href="" ng-click="$ctrl.showEditCalcDialog(calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.openCalculator"></a>
  </li>
  <li ng-if="$ctrl.mode != 'service'" role="menuitem">
    <a href="" ng-click="$ctrl.showEditCalcDialog(calc, 'ir')" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.openIrRows"></a>
  </li>
  <li role="menuitem">
    <a href="" ng-click="$ctrl.commitCalc(calc, false, true)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.save"></a>
  </li>
  <li role="menuitem" ng-class="{ 'disabled': !$ctrl.hasCalcChanges(calc) && !$ctrl.getUi(calc).isInEdit }">
    <a href="" ng-click="$ctrl.resetCalc(calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.cancel"></a>
  </li>
  <li role="separator" class="divider"></li>
  <li class="dropdown-header" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.rowsEmployment"></li>
  <li role="menuitem">
    <a href="" ng-click="$ctrl.importEmploymentData(calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.import"></a>
  </li>
  <li role="menuitem">
    <a href="" ng-click="$ctrl.exportEmploymentData(calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.export"></a>
  </li>
  <li role="separator" class="divider"></li>
  <li role="menuitem">
    <a href="" ng-click="$ctrl.deleteCalc(calc)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.delete"></a>
  </li>
  <li role="menuitem" ng-if="$ctrl.mode != 'service'">
    <a href="" ng-click="$ctrl.deleteCalc(calc, true)" sxy-text="SALAXY.NG1.PayrollComponent.payrollCalcs.calculation.actions.unlink"></a>
  </li>
</ul>