<div>
  <div class="h2" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.heading"></div>
  <p class="lead" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.intro">
  </p>
  <div class="form-horizontal">
    <form name="newPayrollForm">
      <salaxy-input name="title" label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.title" require="true" ng-model="$ctrl.current.input.title"></salaxy-input>
      <salaxy-input-enum label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.wageBasis" name="wageBasis" ng-model="$ctrl.current.input.wageBasis" enum="WageBasis" required placeholder="Valitse..."></salaxy-input-enum>
      <salaxy-datepicker-popup label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryDate" name="salaryDate" ng-model="$ctrl.current.input.salaryDate" date-disabled="salary" payment-channel="$ctrl.current.input.paymentChannel" ng-change="$ctrl.periodDatesChanged()"></salaxy-datepicker-popup>
      <salaxy-date-range label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.salaryPeriod" name="period" ng-model="$ctrl.current.input.period" mode="calc"></salaxy-date-range>
      <salaxy-form-group name="paymentChannel" label="Maksumenetelmä">
        <salaxy-pay-button model="$ctrl.current" mode="channel-select" ng-ref="$payButton" disabled="!$payButton.isChannelDefined"></salaxy-pay-button>
      </salaxy-form-group>
      <div ng-if="$ctrl.current.calcs.length">
        <salaxy-form-group label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.copyingCalcs" name="calcCount">
          {{ $ctrl.current.calcs.length }} kpl
        </salaxy-form-group>
        <salaxy-input-boolean type="select" placeholder="Valitse..." name="noUpdateFromEmployment" ng-model="$ctrl.current.input.noUpdateFromEmployment" label="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.updateCalcs" label-false="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.updateCalcsFalse"
          label-true="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.updateCalcsTrue"></salaxy-input-boolean>
      </div>
      <salaxy-form-group label="" name="submit" class="no-colon">
        <button type="submit" class="btn btn-primary" ng-disabled="!newPayrollForm.$valid || $ctrl.current.input.wageBasis == 'undefined'" ng-click="$ctrl.save()" sxy-text="SALAXY.NG1.PayrollComponent.payrollEdit.editProperties.new.createPayrollButton"></button>
      </salaxy-form-group>
    </form>
  </div>
</div>