<main class="salaxy-content sxytpl-home-error404">
  <section>
    <h1 class="page-header">Sivua ei löytynyt</h1>
    <p class="lead">
      Tätä sivua ei ole määritetty <code>$routeProvider</code>-komponentille (<code>angular.module.config</code>).
    </p>
  </section>
</main>