<main class="salaxy-content sxytpl-home-index">
  <salaxy-signing ng-ref="$ctrl.$signing"></salaxy-signing>
  <div ng-if="$ctrl.$signing.isSigningOk">
    <section class="sxytpl-welcome">
      <salaxy-welcome settings-by-proxy="false"></salaxy-welcome>
    </section>
    <section class="sxytpl-list">
      <salaxy-worker-list limit-to="10"></salaxy-worker-list>
    </section>
  </div>
  <section class="sxytpl-contact-info">
    <p>&nbsp;</p>
    <salaxy-contact-info></salaxy-contact-info>
  </section>
</main>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div salaxy-if-role="test">
  <style>
    .salaxy-welcome-system-alert {
      display: none;
    }
  </style>
</div>
<p><small>Copyright Suomen Palkanlaskenta Oy 2020</small></p>
</main>