<h1>Advanced concepts</h1>
<p class="lead">
  <strong class="text-warning">Warning:</strong>
  Concepts described in this section are
  <strong>advanced and they may require special rights in production</strong>
  or more knowledge of the underlying system.
  <strong>Please contact Palkkaus.fi customer support</strong>
  before attempting to use these concepts in production.
</p>