<h1>Calculator component overview</h1>
<p class="lead">
  The most complex part of most Salary payment user interfaces is the salary Calculator
  that is reponsible for visualizing the calculation. This page describes the
  <strong><a href="#/docs/components/calc">components that compose</a></strong>
  the main <code>&lt;salaxy-calc&gt;</code> calculator component.
  <strong>You can use these components in creating your own custom Salary Calculator</strong>.
</p>
<sxydoc-assure-bo ng-ref="$demo">
  <main>
    <div>
      <h2>Chosen calculation in the full calculator </h2>
      <p>
        The calculation has now been chosen using custom code in <code>DemoDataController</code>
        and fetched from the server. You can easily show a calculation by setting it as component model:
        <code>&lt;salaxy-calc model="$demo.currentCalc"&gt;&lt;/salaxy-calc&gt;</code>.
      </p>
      <p>
        Please note that a more typical way of setting the model in production is using an url parameter.
        I.e. <br />
        <code>&lt;salaxy-calc model="'url'"&gt;&lt;/salaxy-calc&gt;</code> would fetch the model from url
        <a ng-href="#/calc/details/{{ $demo.currentCalc.id || 'new' }}">#/calc/details/{{ $demo.currentCalc.id || 'new' }}</a>.
      </p>
      <sxydoc-example>
        <salaxy-calc model="$demo.currentCalc"></salaxy-calc>
      </sxydoc-example>
      <h2>Sub views</h2>
      <fieldset>
        <legend>CalcWorkerInfo <a href="#/docs/components/calc/CalcWorkerInfo">(reference)</a></legend>
        <p>
          Worker info is used as the first part of the 1. "tab" (lime) in the calculator.
          It displays the basic infromation about the Employment reation and Worker in read-only format.
          The modifications (the form view) is in the main <code>calc</code>-component.
        </p>
        <sxydoc-example>
          <salaxy-calc-worker-info model="$demo.currentCalc"></salaxy-calc-worker-info>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcWorktime <a href="#/docs/components/calc/CalcWorktime">(reference)</a></legend>
        <p>
          The Worktime component displays the 2. "tab" (orange) in the calculator.
          It shows the salary date as well as the period when the wor is done.
          Depending on the settings realted to employment relation, it also shows
          holidays and absences related data on the right side of the view.
          Please note that the "Recalculate" button is different here than in other tabs
          because this dialog may potentially do calculations and add rows based on
          hoildays and absences and these added rows then affect the standard Recalculate-process.
        </p>
        <sxydoc-example>
          <salaxy-calc-worktime calc="$demo.currentCalc"></salaxy-calc-worktime>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcRows2019Editor <a href="#/docs/components/calc/CalcRows2019Editor">(reference)</a></legend>
        <p>
          The 3. (green) and 4. (red) "tabs" of the calculator are implemented using Rows editor.
          It was completely rewritten in 2019, hence name CalcRows2019Editor.
          <strong>
            The rows editor is one of the most complex components in the Salaxy library and 
            contains a lot of logic both in grid and row-type spcecific details views
          </strong>.
          As such, it is a very useful tool in customizations.
        </p>
        <p>
          The editor is restricted to "salaries" category in 3. tab and in 4. tab, three separate grid
          components are shown: categories "expenses", "benefits" and "deductions".
        </p>
        <sxydoc-example>
          <salaxy-calc-rows-2019-editor parent="$demo.currentCalc" mode="edit" title="All rows from the above calc"></salaxy-calc-rows-2019-editor>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcNewIntro <a href="#/docs/components/calc/CalcNewIntro">(reference)</a></legend>
        <p>
          The New Intro is visible only when the worker / employment relation has not been selected 
          <strong>and</strong> rows total is zero. Once these selections have been done, the component 
          is switched to Results component. So for any existing calculation, the view below should be empty.
        </p>
        <sxydoc-example>
          <salaxy-calc-new-intro model="$demo.currentCalc"></salaxy-calc-new-intro>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcResults <a href="#/docs/components/calc/CalcResults">(reference)</a></legend>
        <p>
          The Calc results shows the quick results view with charts from Employer and Worker perspective
          and Payment and/or Workflow related buttons depending on the status.
          The results is shown only if either worker / employment relation has been selected, 
          or calculation has non-zero rows. Otherwise CalcNewIntro (above) is shown.
        </p>
        <sxydoc-example>
          <salaxy-calc-results model="$demo.currentCalc"></salaxy-calc-results>
        </sxydoc-example>
      </fieldset>
      <h2>Other components</h2>
      <p>These are the basic components included in the calculator:</p>
      <fieldset>
        <legend>CalcIrRows <a href="#/docs/components/calc/CalcIrRows">(reference)</a></legend>
        <p>Shows the Income registry (tulorekisteri) rows, which are reported to the authorities and that are the bases for the calculation.</p>
        <sxydoc-example>
          <salaxy-calc-ir-rows model="$demo.currentCalc"></salaxy-calc-ir-rows>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcChart <a href="#/docs/components/calc/CalcChart">(reference)</a></legend>
        <p>Chart based on salary calculation: Supports pie or bar (default) and Employer and Worker point-of-view.</p>
        <sxydoc-example>
          <div style="width: 300px;">
            <salaxy-calc-chart role="worker" calc="$demo.currentCalc"></salaxy-calc-chart>
          </div>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcReports <a href="#/docs/components/calc/CalcReports">(reference)</a></legend>
        <p>
          Browser for different types of reports in screen preview as well print/pdf.
          Note that there is also <code>CalcReport</code> component that allows showing one single 
          report with predefined settings without the browser view.
        </p>
        <sxydoc-example>
          <salaxy-calc-reports calcs="[$demo.currentCalc]" report-type="'salarySlip'"></salaxy-calc-reports>
        </sxydoc-example>
      </fieldset>      
      <fieldset>
        <legend>PayButton <a href="#/docs/components/calc/PayButton">(reference)</a></legend>
        <p>
          Shows a payment button for calculation optionally with payment channel selection.
          The button reflects the current status of the calculation (i.e. if the calculation is already paid).
        </p>
        <sxydoc-example>
          <salaxy-pay-button model="$demo.currentCalc"></salaxy-pay-button>
        </sxydoc-example>
      </fieldset>
      <fieldset>
        <legend>CalcSharingReceiptAction <a href="#/docs/components/calc/CalcSharingReceiptAction">(reference)</a></legend>
        <p>
          Shows a button for approving / rejecting a shared calculation.
          <strong>NOTE:</strong> The calculation needs to be in a shared state or there will be an error.
        </p>
        <sxydoc-example>
          <div>
            <salaxy-calc-sharing-receipt-action model="$demo.currentCalc" type="'approve'"></salaxy-calc-sharing-receipt-action>
            <salaxy-calc-sharing-receipt-action model="$demo.currentCalc" type="'reject'"></salaxy-calc-sharing-receipt-action>
          </div>
        </sxydoc-example>
      </fieldset>
    </div>
  </main>
</sxydoc-assure-bo>
<div>
  <h2>Other calculation related components</h2>
  <p>These components are related to salary calculation, but cannot be bound directly to a single calculation:</p>
  <ul>
    <li><strong>CalcList</strong>: Shows a list of calculations, typically filtered by status / status category.</li>
    <li><strong>CalcDashboard</strong>: Dashboard with several calculation status listings</li>
    <li><strong>CalcRowType</strong>: User interfaces for seleecting a row type for a new row.</li>
    <li><strong>PayrollEdit</strong>: Edits a Payroll: A list of employment relations / calculations to them.</li>
    <li><strong>PayrollList</strong>: List of payroll collections, typically paid and unpaid (future) versions and recurring templates.</li>
  </ul>
</div>
