<div ng-controller="Calculator2019Controller as CalcCtrl" ng-init="CalcCtrl.model='new'" class="row">
  <h1 class="page-header">Custom salary calculator</h1>
  <p>
    If you need / want to create something from scratch, this is a very simple salary calculator
    that just shows net and gross salary as well as total payment (with side costs) to the employer based on given values.
    This example has a completely custom user interface with no dependencies to Salaxy user interface components.
  </p>
  <div class="col-sm-6">
    <h3>Input</h3>
    <table class="table table-condensed">
      <tr>
        <td>Amount in euro:</td>
        <td><input type="text" ng-model="CalcCtrl.getFirstRow().price"></td>
      </tr>
      <tr>
        <td>Number of hours, months etc.:</td>
        <td><input type="text" ng-model="CalcCtrl.getFirstRow().count"></td>
      </tr>
      <tr>
        <td>Salary type:</td>
        <td>
          <select ng-model="CalcCtrl.getFirstRow().rowType">
            <option>salary</option>
            <option>hourlySalary</option>
            <option>monthlySalary</option>
            <option>totalWorkerPayment</option>
            <option>totalEmployerPayment</option>
            <option>undefined</option>
          </select>
        </td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <button class="btn btn-default btn-block" ng-click="CalcCtrl.recalculate()">Calculate &raquo;</button>
    <h3>Results:</h3>
    <table class="table table-condensed">
      <tr>
        <td>Total gross:</td>
        <td class="right">{{ CalcCtrl.currentCalc.result.totals.totalGrossSalary | currency }}</td>
      </tr>
      <tr>
        <td>Total net salary:</td>
        <td class="right">{{ CalcCtrl.currentCalc.result.workerCalc.salaryPayment  | currency }}</td>
      </tr>
      <tr>
        <td>Total payment:</td>
        <td class="right">{{ CalcCtrl.currentCalc.result.employerCalc.totalSalaryCost  | currency }}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6 source">
    <h3>Results JSON</h3>
    <salaxy-json-formatter open="1" json="CalcCtrl.currentCalc.result"></salaxy-json-formatter>
  </div>
</div>