<style type="text/css">
  .crud-notes {
    width: 25%;
  }

  .crud-descr {
    width: 15%;
  }

  code {
    font-size: 0.9em
  }
</style>
<h1>Create - Read - Update - Delete (CRUD)</h1>
<p class="lead">
  <strong>CRUD</strong> is the basic method for searching / listing, reading and modifying objects.
  Typically there are two object models for each object: One for listing and one for details.
  <strong>The table below lists the main CRUD functionality in Salaxy:</strong>
</p>
<ul>
  <li>Open API Services for Create - Read - Update - Delete (CRUD)</li>
  <li>Open API Services for listing and searches (OData)</li>
  <li>The <code>@salaxy/core</code> wrappers functions and their data model interfaces for these services</li>
  <li>Existing AngularJS User interface and the Controller that is created with (which you can use to create your custom UI)</li>
</ul>
<table class="table">
  <thead>
    <th>
      Core API<br /> Angular UI
    </th>
    <th>Description</th>
    <th>
      CRUD Service<br /> Interface
    </th>
    <th>
      OData service<br /> Interface
    </th>
    <th>Controller</th>
    <th>V04 Notes: Expected changes in v04 release</th>
  </thead>
  <tbody>
    <tr>
      <th colspan="6">Salary calculation</th>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Calculations">Calculations</a></strong><br />
        <a href="#/calc/all">#/calc/all</a>
      </td>
      <td class="crud-descr">Main API: Salary Calculations owned by the current account.</td>
      <td>
        <code>v02/api/calculations</code><br />
        <a href="#/docs/classes/interface/Calculation">Calculation</a>
      </td>
      <td>
        <code>v03-rc/api/calculations/all</code><br />
        <a href="#/docs/classes/interface/CalculationListItem">CalculationListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/calc/CalculationCrudController">CalculationCrudController</a>
      </td>
      <td>
        The last part of OData URL (all/readonly/editable etc.) is non-standard because of historical reasons => Standard interface will be added.
        Calculation object will change (e.g. add DateRange, remove Framework).
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Payrolls">Payrolls</a></strong><br />
        <a href="#/payroll">#/payroll</a>
      </td>
      <td class="crud-descr">Currently in production.</td>
      <td>
        <code>v03-rc/api/payroll</code><br />
        <a href="#/docs/classes/interface/PayrollDetails">PayrollDetails</a>
      </td>
      <td>
        <code>v03-rc/api/payroll</code><br />
        <a href="#/docs/classes/interface/PayrollListItem">PayrollListItem</a>
      </td>
      <td><a href="#/docs/controllers/calc/PayrollCrudController">PayrollCrudController</a></td>
      <td>
        The structure of service will change: Payroll and its calculations separately to support larger payroll objects.
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Workers">Workers</a></strong><br />
        <a href="#/workers">#/workers</a>
      </td>
      <td class="crud-descr">The Workers (employees) and employment relations of an employer.</td>
      <td>
        <code>v02/api/accounts/workers</code><br />
        <a href="#/docs/classes/interface/WorkerAccount">WorkerAccount</a>
      </td>
      <td>
        <code>v03-rc/api/accounts/workers</code><br />
        <a href="#/docs/classes/interface/WorkerListItem">WorkerListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/worker/WorkerAccountCrudController">WorkerAccountCrudController</a>
      </td>
      <td>
        We consider removing WorkerAccount in v03 and using EmploymentRelation as main API method instead.
        WorkerListItem currently reflects Employment, not WorkerAccount.
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Taxcards">Taxcards</a></strong><br />
        <a href="#/taxcards">#/taxcards</a>
      </td>
      <td class="crud-descr">Taxcards based on Personal ID, uploaded by Worker or Employer.</td>
      <td>
        <code>v02/api/taxcards/owned</code><br />
        <a href="#/docs/classes/interface/Taxcard">Taxcard</a>
      </td>
      <td>
        <code>v03-rc/api/taxcards/owned</code><br />
        <a href="#/docs/classes/interface/TaxcardListItem">TaxcardListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/worker/TaxcardCrudController">TaxcardCrudController</a>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Absences">Absences</a></strong><br />
        <a href="#/crud/absences">#/crud/absences</a>
      </td>
      <td class="crud-descr">Absences, paid and unpaid, may affect salary calculation.</td>
      <td>
        <code>v02/api/absences</code><br />
        <a href="#/docs/classes/interface/WorkerAbsences">WorkerAbsences</a>
      </td>
      <td>
        <code>v03-rc/api/absences</code><br />
        <a href="#/docs/classes/interface/ApiListItem">ApiListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/worker/WorkerAbsencesCrudController">WorkerAbsencesCrudController</a>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/HolidayYears">HolidayYears</a></strong><br />
        <a href="#/crud/holidays">#/crud/holidays</a>
      </td>
      <td class="crud-descr">Holiday years: Holiday salary calcualtion and kept holidays. Also affect calculations.</td>
      <td>
        <code>v02/api/holidays/all</code><br />
        <a href="#/docs/classes/interface/HolidayYear">HolidayYear</a>
      </td>
      <td>
        <code>v03-rc/api/holidays/all</code><br />
        <a href="#/docs/classes/interface/ApiListItem">ApiListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/worker/HolidayYearCrudController">HolidayYearCrudController</a>
      </td>
      <td></td>
    </tr>
    <tr>
      <th colspan="6">Reports</th>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Invoices">Invoices</a></strong><br />
        <a href="#/invoices">#/invoices</a>
      </td>
      <td class="crud-descr">Invoices are the way of submitting net salary and side cost payments to external payment channels.</td>
      <td>
        <code>v03-rc/api/invoices</code><br />
        <a href="#/docs/classes/interface/Invoice">Invoice</a>
      </td>
      <td>
        <code>v03-rc/api/invoices</code><br />
        <a href="#/docs/classes/interface/InvoiceListItem">InvoiceListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/invoices/InvoiceCrudController">InvoiceCrudController</a>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/IrEarningsPayments">IrEarningsPayments</a></strong><br />
        <a href="#/irepr">#/irepr</a>
      </td>
      <td class="crud-descr">
        Mainly read-only access to Earnings Payment reports (palkkatietoilmoitus) to Incomes Registry (tulorekisteri).
      </td>
      <td>
        <code>v01/api/epr</code> (IR Service)<br />
        <a href="#/docs/classes/interface/EarningsPayment"></a>EarningsPayment
      </td>
      <td>
        <code>v01/api/epr</code> (IR Service)<br />
        <a href="#/docs/classes/interface/EarningsPaymentListItem"></a>EarningsPaymentListItem
      </td>
      <td>
        <a href="#/docs/controllers/report/IrEarningsPaymentCrudController">IrEarningsPaymentCrudController</a>
      </td>
      <td>
        Expect more methods for canceling reports and resending them as changed.
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/IrPayerSummaries">IrPayerSummaries</a></strong><br />
        <a href="#/irpsr">#/irpsr</a>
      </td>
      <td class="crud-descr">
        Mainly read-only access to monthly Payer Summary Payment reports (Työnantajan erillisilmoitus) to Incomes Registry (tulorekisteri).
      </td>
      <td>
        <code>v01/api/psr</code> (IR Service)<br />
        <a href="#/docs/classes/interface/PayerSummary"></a>PayerSummary
      </td>
      <td>
        <code>v01/api/psr</code> (IR Service)<br />
        <a href="#/docs/classes/interface/PayerSummaryListItem"></a>PayerSummaryListItem
      </td>
      <td>
        <a href="#/docs/controllers/report/IrPayerSummaryCrudController">IrPayerSummaryCrudController</a>
      </td>
      <td>
        Expect more methods for canceling reports and resending them as changed.
      </td>
    </tr>
    <tr>
      <th colspan="6">Account and security</th>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/AuthorizedAccounts">AuthorizedAccounts</a></strong><br />
        <a href="#/settings/authorizations">#/settings/authorizations</a>
      </td>
      <td class="crud-descr">
        Accounts that the current account has authorized.
      </td>
      <td>
        <code>v02/api/accounts/authorizedAccount</code><br />
        <a href="#/docs/classes/interface/Avatar">Avatar</a>
      </td>
      <td>
        <code>-</code><br />
        <a href="#/docs/classes/interface/ApiListItem">ApiListItem</a>
      </td>
      <td>-</td>
      <td>
        Expect separate standard CRUD API Service, classes etc.
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Certificates">Certificates</a></strong><br />
        <a href="#/settings/authorizations">#/settings/authorizations</a>
      </td>
      <td class="crud-descr">
        Certificates for programmatic access that have been created for the current account.
      </td>
      <td>
        <code>v02/api/accounts/certificate</code><br />
        <a href="#/docs/classes/interface/Certificate">Certificate</a>
      </td>
      <td>
        <code>-</code><br />
        <a href="#/docs/classes/interface/ApiListItem">ApiListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/account/CertificateCrudController">CertificateCrudController</a>
      </td>
      <td>
        Expect more standard CRUD approach (separate list item etc.)
      </td>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/Credentials">Credentials</a></strong><br />
        <a href="#/settings/authorizations">#/settings/authorizations</a>
      </td>
      <td class="crud-descr">
        Credentials (e.g. email / password combination, Google Account, certificate) that can access the current account.
      </td>
      <td>
        <code>v02/api/accounts/credential</code><br />
        <a href="#/docs/classes/interface/SessionUserCredential">SessionUserCredential</a>
      </td>
      <td>
        -<br />
        <a href="#/docs/classes/interface/ApiListItem">ApiListItem</a>
      </td>
      <td>-</td>
      <td>
        Expect separate standard CRUD API Service, classes etc.
      </td>
    </tr>
    <tr>
      <th colspan="6">Communications</th>
    </tr>
    <tr>
      <td>
        <strong><a href="#/docs/classes/api/MessageThreads">MessageThreads</a></strong><br />
        <a href="#/messages">#/messages</a>
      </td>
      <td class="crud-descr">Messages thread groups together a set of related messages and/or attachments.</td>
      <td>
        <code>v03-rc/api/messages</code><br />
        <a href="#/docs/classes/interface/MessageThread">MessageThread</a>
      </td>
      <td>
        <code>v03-rc/api/messages</code><br />
        <a href="#/docs/classes/interface/MessageListItem">MessageListItem</a>
      </td>
      <td><a href="#/docs/controllers/communications/MessageThreadCrudController">MessageThreadCrudController</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-6">
    <fieldset>
      <legend>Under construction / limited use</legend>
      <p>
        These API's are under construction: Thay may be in limited production,
        but have not been released to full public use yet:
      </p>
      <ul>
        <li>
          <strong>PaymentChannelApi</strong> and <strong>PrimaryPartners</strong>:
          are in full production use, but they are used by Palkkaus and approved partners only. Please contact us, if you need these.
        </li>
        <li><strong>Employments</strong>: Employments will replace Workers in the v04 timeframe</li>
        <li><strong>Files / BlobFiles</strong> is currenntly used in legacy / non-standard way. It will be moved to standard CRUD pattern in v04 timeframe.</li>
        <li>
          <strong>AccountingTargets</strong>:
          Accounting targets define where the accounting data is sent and how it is mapped to a Chart of Accounts (CoA)
        </li>
        <li>
          <strong>AccountingReportCrudController</strong>:
          The new ApiCrudObject type of CRUD controller for the BlobFile of the accounting report.
        </li>
        <li><strong>CalendarEvents</strong>: Definition of potentially recurring calendar events (iCal compatible)</li>
        <li><strong>CalendarOccurences</strong>: Occurences based on the CalendarEvents</li>
      </ul>
    </fieldset>
  </div>
  <div class="col-sm-6">
    <fieldset>
      <legend>Obsolete</legend>
      <ul>
        <li><strong>Payments</strong>: Payments is being replaced by Invoices. It is still used in edge cases - specially related to customer funds.</li>
        <li>
          <strong>Articles</strong> and <strong>Cms</strong>:
          This Api is not currently in use: Current documentation is in https://help.palkkaus.fi/.
          There will probably be a read-only anonymous API for accessing those document in v04 timeframe.
        </li>
        <li>
          <strong>EmploymentContracts</strong>:
          This functionality is in its current form available for <strong>household</strong> customers only and with limited functionality.
          There is a rewrite to make it useful for companies in the roadmap, but the schedule is still unclear.
        </li>
        <li>
          <strong>YearEnd (YearlyFeedback)</strong> is depricated as these methods are no longer needed in Incomes
          Registry process. They are still used in 2020 household process and will be removed after that.
        </li>
      </ul>
    </fieldset>
  </div>
</div>
<!--

  <tr>
      <td>
        <strong><a href="#/docs/classes/api/XXX">XXX</a></strong><br />
        <a href="#/xxx">#/xxx</a>
      </td>
      <td class="crud-descr"></td>
      <td>
        <code>v02/api/xxx</code><br />
        <a href="#/docs/classes/interface/Xxx">Xxx</a>
      </td>
      <td>
        <code>v03-rc/api/accounts/xxx</code><br />
        <a href="#/docs/classes/interface/ApiListItem">ApiListItem</a>
      </td>
      <td>
        <a href="#/docs/controllers/Xxx/TodoCrudController">TodoCrudController</a>
      </td>
      <td>
        <span class="label label-danger">TODO:</span>
        Implementation
      </td>
    </tr>

-->