<div>
  <h1 class="page-header">Getting started</h1>
  <p class="lead">
    The easiest way to get started with the @salaxy/ng1 library is to link the js-libraries and CSS styles
    directly from the dist-folder of our development server.
  </p>
  <h3>A very simple site</h3>
  <p>You can see this page <a href="/ng1/getting-started-ng1.html" target="_blank">in action here</a>.</p>
  <div class="source">
    <pre><code>
&lt;html&gt;

&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;title&gt;Salaxy: Getting started demo (salaxy-lib-ng1)&lt;/title&gt;

  &lt;!--
    TODO: Once this version is released, replace
    "/dist/v03-rc" =&gt;
    "https://developers.salaxy.com/dist/v03" (or whatever is the version of that distribution).
  --&gt;

  &lt;!-- These styles are just examples, you could have your own --&gt;
  &lt;link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet" type="text/css"&gt;
  &lt;link href="/dist/v03-rc/css/bootstrap.css" rel="stylesheet" type="text/css" /&gt;

  &lt;!-- Styles for Salaxy components - Bootstrap flavor --&gt;
  &lt;link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"&gt;
  &lt;link href="/dist/v03-rc/css/salaxy-lib-ng1-bootstrap.css" rel="stylesheet" type="text/css" /&gt;
&lt;/head&gt;

&lt;body ng-app="Salaxy.gettingStartedDemo"&gt;
  &lt;div class="container"&gt;
    &lt;h1 class="page-header"&gt;Salaxy: Getting started demo&lt;/h1&gt;
    &lt;div class="lead" style="min-height: 52px;"&gt;
      &lt;div class="pull-right"&gt;&lt;salaxy-login-button&gt;&lt;/salaxy-login-button&gt;&lt;/div&gt;
      Using Salaxy UI library for Angular 1.5+ (salaxy-lib-ng1).
    &lt;/div&gt;
    &lt;salaxy-calc model="'new'"&gt;&lt;/salaxy-calc&gt;
  &lt;/div&gt;

  &lt;!-- Salaxy libraries --&gt;
  &lt;script src="/dist/v03-rc/js/salaxy-lib-ng1-all.js" type="text/javascript"&gt;&lt;/script&gt;
  &lt;!-- Sample AngularJS application --&gt;
  &lt;script type="text/javascript"&gt;
    angular.module('Salaxy.gettingStartedDemo', ['ngRoute', 'salaxy.ng1.components.all']);
  &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
      </code>
  </pre>
  </div>
  <h2>More complete example: </h2>
  <p class="lead">
    For a more complete example with navigation, <code>ng-view</code> and <code>$routeProvider</code>, check out our
    <a href="#/demos/salaxy-template">starter site called Salaxy web Template</a>.
    It will also show you how to fetch the libraries from
    <a href="https://www.npmjs.com/package/@salaxy/ng1" target="_blank">NPM salaxy/ng1</a>
  </p>
</div>