<main class="salaxy-content sxytpl-payment-channel">
  <h1 class="page-header">Payment channel demo</h1>
  <p class="lead">
    This page demonstrates how a payment channel functions. A Payment channel is a method of payment for Salary and sidecosts payment. Palkkaus provides several payment channel, e.g. Paytrail payment, Reference invoices and Finnish Banks Web Services channel.
    In addition, accounting companies and accounting software can create their own payment channels that typically redirect the salary payments to same approval routes as incoming invoices.
  </p>
  <section>
    <uib-tabset>
      <uib-tab index="'odata'" heading="OData list (All items)">
        <salaxy-odata-table ng-ref="$ctrl.$odataCtrl" crud-controller="PaymentChannelController as $crud" crud-bindings="{ channel: 'accountorGo' }" options="{ $orderby: 'endAt desc'}" template-url="salaxy-components/odata/lists/Invoices.html">
        </salaxy-odata-table>
      </uib-tab>
      <uib-tab index="'fullData'" heading="Unread items (Full data)">
        <div ng-controller="PaymentChannelController as $ctrl" ng-init="$ctrl.channel = 'accountorGo'">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">Payer</th>
                <th colspan="2">
                  Receiver<br /> Payment type
                </th>
                <th class="right">
                  Date<br/> Due date
                </th>
                <th class="right">
                  Created<br /> Updated
                </th>
                <th class="right">Payment</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.getUnreadFullData()">
                <td class="td-avatar middle">
                  <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="item.payer.avatar"></salaxy-avatar>
                </td>
                <td class="middle">
                  {{ item.payer.avatar.displayName }}<br>
                  <small class="hidden-xxs">{{ item.payer.officialId }}, {{ item.payer.partnerKey }}</small>
                </td class="middle">
                <td class="td-avatar middle">
                  <salaxy-avatar class="salaxy-calc-row-type-avatar" avatar="item.recipient.beneficiary.avatar"></salaxy-avatar>
                </td>
                <td class="middle">
                  {{ item.recipient.beneficiary.avatar.displayName }}<br>
                  <small class="hidden-xxs">{{ item.header.message }}</small>
                </td class="middle">
                <td class="middle right">
                  {{ item.header.date | sxyDate }}<br /> {{ item.header.dueDate | sxyDate }}
                </td>
                <td class="right">
                  {{ item.createdAt | sxyDate }}<br /> {{ item.updatedAt | sxyDate }}
                </td>
                <td class="middle right">
                  {{ item.header.total | currency }}
                </td>
                <td class="middle right">
                  <a ng-href="#/payment-channel/details/{{ item.id }}" class="btn btn-primary">
                    {{ 'SALAXY.UI_TERMS.show' | sxyTranslate}}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </uib-tab>
    </uib-tabset>
  </section>
</main>