<h1>Salaxy Template Web</h1>
<p class="lead">
  The <a href="#/demos/index">getting started example</a> is all well and good for a simple calculator,
  but for real salary payment applications / web sites, you probably want to start from our
  <a href="https://gitlab.com/salaxy/salaxy-web-template" target="_blank">Salaxy web template</a>. 
  It provides you with a full functioning web site similar to 
  <a href="https://www.palkkaus.fi">www.palkkaus.fi</a> company site.
</p>
<p>
  We use this site as the bases for our customer specific custom sites and
  new features are added to the template making it easy for you to keep
  your custom web site up-to-date. 
</p>
<p>
  It is very simple to get started with. Just take a look at:
</p>
<ul>
  <li><a href="https://gitlab.com/salaxy/salaxy-web-template/blob/master/README.md" target="_blank">Readme</a> for setup instructions</li>
  <li><a href="https://gitlab.com/salaxy/salaxy-web-template/blob/master/src/index.html" target="_blank">index.html</a> for the HTML, required scripts and styles.</li>
  <li><a href="https://gitlab.com/salaxy/salaxy-web-template/blob/master/src/ts/app.module.ts" target="_blank">salaxyApp module</a> for Angular application.</li>
</ul>
  