<div ng-controller="SessionController as SessionCtrl">
  <div class="alert alert-danger" salaxy-if-role="anon">
    <strong>You are not logged in!</strong>
    <p>These samples will not work unless you log in.</p>
    <p>
      <button class="btn btn-primary" ng-click="SessionCtrl.signIn()">Login</button>
      <button class="btn btn-defaul" ng-click="SessionCtrl.register()">Register</button>
    </p>
  </div>
  <div class="alert alert-info" salaxy-if-role="auth">
    <strong>You are logged in as {{ SessionCtrl.avatar.displayName }}</strong>
    <p>
      <button class="btn btn-primary" ng-click="SessionCtrl.signOut()">Log out</button>
    </p>
  </div>
  <p ng-show="!SessionCtrl.isSessionChecked">
    This text shows when the session check is in progress:
    When you Refresh the page and until there is a response from the server.</p>
</div>