<h1 class="page-header">Translations and texts</h1>
<p class="lead">
  In most cases, the texts in Salaxy UI components (as well as core library)
  are stored in separate Internationalization (i18n) files.
  This gives the ability to adapt to different language versions,
  but also for our partners to customize the texts in specific custom sites
  or service models.
</p>
<section id="translations">
  <fieldset>
    <legend>TEXT with <code>sxy-text</code></legend>
    <p><code>sxy-text</code> directive is the default way of displaying text html.</p>
    <sxydoc-example>
      <div sxy-text="SALAXY.NG1.UserInfoComponent.userNameTitle"></div>
    </sxydoc-example>
    <p>
      Small additions to the beginning and end can be added with
      <code>pre</code> (prefix) and <code>ps</code> (postfix) attributes.
    </p>
    <sxydoc-example>
      <div sxy-text="SALAXY.NG1.UserInfoComponent.authType" ps=":" pre="HUOM: "></div>
    </sxydoc-example>
  </fieldset>
  <fieldset>
    <legend>HTML with <code>sxy-html</code></legend>
      <p>If the translated text contains HTML formatting, you should use <code>sxy-html</code> directive.</p>
    <sxydoc-example>
      <p class="lead" sxy-html="SALAXY.NG1.UserInfoComponent.description.html"></p>
    </sxydoc-example>
  </fieldset>
  <fieldset>
    <legend>TEXT with AngularJS expression and pipe filter<code ng-non-bindable>{{ | sxyTranslate }}</code></legend>
    <p>
      This approach should be used only when you need to concatenate several texts
      and in other special cases.
    </p>
    <sxydoc-example>
      <div>{{ 'SALAXY.NG1.UserInfoComponent.userNameTitle' | sxyTranslate}}</div>
    </sxydoc-example>
  </fieldset>
  <fieldset>
    <legend>HTML with <code>ng-bind-html</code></legend>
    <p>
      This approach should be used only in special cases, typically when the HTML is dynamic.
      Please note that you should then perform HTML injection checks to dynamic html.
      Typically, prefer <code>sxy-html</code>.
    </p>
    <sxydoc-example>
      <p class="lead" ng-bind-html="'SALAXY.NG1.UserInfoComponent.description.html' | sxyTranslate"></p>
    </sxydoc-example>
  </fieldset>
</section>