<div ng-controller="UiHelperDemoController as $ctrl">
  <h1 class="page-header">UI Helper</h1>
  <p class="lead">
    UI Helper is an important service in AngularJS library.
    It is used in showing different modal dialogs and popups and it also contains functions for caching etc.
  </p>
  <p>
    The use of UI helper, as any service, always requires building a controller that can tehn be accessed from view / HTML.
    In these examples, we have create <code>UiHelperDemoController</code>.
    To look at the actual usage, you should look at its source code.
  </p>
  <fieldset>
    <legend>Simple dialogs</legend>
    <p>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().showConfirm('This is a confirm dialog', 'This is a confirm question?', 'Yess!!!', 'SALAXY.UI_TERMS.cancel')">Show Confirm</button>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().showAlert('This is an alert dialog', 'This is an alert text!')">Show Alert</button>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().showLoading('This is a loading dialog', 'This is a loading text!')">Show Loading</button>
    </p>
    <p ng-init="$ctrl.sampleDateRange = {}">
      Sample date range: {{ $ctrl.sampleDateRange | sxyDateRange }}
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().showDateRange($ctrl.sampleDateRange, 'Edit the sample range', 'SALAXY.UI_TERMS.ok', 'Close without update')">Show edit date range</button>
    </p>
  </fieldset>
  <fieldset>
    <legend>Create New -dialogs</legend>
    <p>Opens a wizard for creating a new Employment Relation (Worker for current Employer).</p>
    <p>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().openNewWorkerWizard()">Create new Worker</button>
    </p>
    <div class="form-horizontal">
      <p>Create a new taxcard for personal ID</p>
      <salaxy-input name="samplePersonalId" ng-model="$ctrl.samplePersonalId" label="Personal ID" required="true"></salaxy-input>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().openNewTaxcardDialog($ctrl.samplePersonalId)">Add a new taxcard</button>
    </div>
  </fieldset>
  <fieldset>
    <legend>Select Items -dialogs</legend>
    <p>These methods select an existing item from your data:</p>
    <p>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().openSelectCalcs()">Select a calculation</button>
      <button type="button" class="btn btn-default" ng-click="$ctrl.getHelper().openSelectEmployments()">Select an Employment relation</button>
    </p>
  </fieldset>
  <fieldset>
    <legend>Popup (showExternalDialog)</legend>
    <p>Immediate launch without timeout / async calls.</p>
    <salaxy-input name="popupUrl" ng-model="$ctrl.popupUrl" label="URL for the popup"></salaxy-input>
    <button type="button" class="btn btn-default" ng-click="$ctrl.launchPopup('default')">Launch popup</button>
    <p>Use timeout to delay the window.open() e.g. to simulate http call.</p>
    <salaxy-input-enum name="timeout" ng-model="$ctrl.timeout" label="Timeout in seconds" options="['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '15', '20']">
    </salaxy-input-enum>
    <button type="button" class="btn btn-default" ng-click="$ctrl.launchPopup('timeout')">Launch popup with timeout</button>
  </fieldset>
  <fieldset>
    <legend>Other methods</legend>
    <p>
      The following methods need more code to be executed: e.g. they require the initial object for editing.
      See examples in the NG1-library source code or ask our customer support.
    </p>
    <ul>
      <li><code>openEditDialog()</code>: Open dialog with any custom view to edit an object with reset / commit functionality.</li>
      <li><code>showDialog()</code>: Shows a custom dialog using the given controller and templateUrl.</li>
      <li><code>openEditWorkerDialog()</code>: Shows a dialog for editing an existing worker.</li>
      <li><code>openApproveTaxcardDialog()</code>: Opens a dialog for approving / rejecting the taxcard.</li>
      <li><code>openEditCalendarEvent()</code>: Opens a dialog for editing a calendar event.</li>
      <li><code>cache()</code>: Caches data to controller: This is needed to avoid $digest loops in AngularJS controllers.</li>
    </ul>
  </fieldset>
</div>