<h1 class="page-header">Welcome page</h1>
<p class="lead">
  Purpose of the Wecome page is to give the use a clear path to Salary payments.
</p>
<p>
  Steps:
</p>
<ol>
  <li>While the Session check from server is in progress, show just the loader - nothing else.</li>
  <li>If session is checked, show the tutorial and worker list.</li>
  <li>If user is anonymous, show message for that example worker the list.</li>
  <li>
    If user is authenticated and there are any settings missing, instruct adding the settings (both shown).
    <ul>
      <li>If Pension or Accident Insurance contract is missing show alert for that</li>
      <li>If digital signature is missing, show alert for that.</li>
    </ul>
  </li>
  <li>
    If user is authenticated, show message for next step in salary payment (only one)...
    <ul>
      <li>If there are no Workers created, instruct to create one</li>
      <li>If there are no calculations, instruct to create one</li>
      <li>If there are more than 3 Workers, instruct to use Payroll feature</li>
      <li>If nothing else show "New features" info box, if available at the time.</li>
    </ul>
  </li>
</ol>
<hr />
<h2>Front page - demonstration</h2>
<salaxy-welcome settings-by-proxy="false"></salaxy-welcome>
<salaxy-worker-list limit-to="10"></salaxy-worker-list>
Full contact info example
<salaxy-contact-info></salaxy-contact-info>
Without contact info example
<salaxy-contact-info hide-contact-info="true"></salaxy-contact-info>
Short content contact info example
<salaxy-contact-info show-short-content="true"></salaxy-contact-info>
<hr />
<h2>Change your settings to test</h2>
<div salaxy-if-role="anon">
  <p class="lead">Please login to see the UI here.</p>
</div>
<div salaxy-if-role="auth">
  <p class="lead">
    With this user interface, you may change the status of your user interface to test the Welcome component in different states:
  </p>
  <salaxy-account-reset></salaxy-account-reset>
</div>