<h1 class="page-header text-center">Demo for creating accounts</h1>

<div class="col-md-6 text-center" ng-controller="CompanyOnboardingController as $wizard">
  <h3>Company onboarding</h3>
  <p class="small"><a href="/#/docs/@salaxy/ng1/class/CompanyOnboardingController">CompanyOnboardingController</a><br>launch()</p>
  <p>Wizard for creating a new Palkkaus.fi company account.</p>
  <p><button class="btn btn-primary btn-sm" ng-click="$wizard.launch()">Launch</button></p>
</div>

<div class="col-md-6 text-center" ng-controller="HouseholdOnboardingController as $wizard">
  <h3>Household onboarding</h3>
  <p class="small"><a href="/#/docs/@salaxy/ng1/class/HouseholdOnboardingController">HouseholdOnboardingController</a><br>launch()</p>
  <p>Wizard for creating a new Palkkaus.fi household account.</p>
  <p><button class="btn btn-primary btn-sm" ng-click="$wizard.launch()">Launch</button></p>
</div>

<div class="col-md-6 text-center" ng-controller="WorkerOnboardingController as $wizard">
  <h3>Worker onboarding</h3>
  <p class="small"><a href="/#/docs/@salaxy/ng1/class/WorkerOnboardingController">WorkerOnboardingController</a><br>launch()</p>
  <p>Wizard for creating a new Palkkaus.fi worker account.</p>
  <p><button class="btn btn-primary btn-sm" ng-click="$wizard.launch()">Launch</button></p>
</div>

<div class="col-md-6 text-center" ng-controller="CustomerOnboardingController as $wizard">
  <h3>Customer creation
    <span class="small">
        <span sxy-if-role="anon">(Log in as Accounting company to test the wizard)</span>
    </span>
  </h3>
  <p class="small"><a href="/#/docs/@salaxy/ng1/class/CustomerOnboardingController">CustomerOnboardingController</a><br>launch()</p>
  <p>Wizard for accountants to create new customer companies</p>
  <p><button class="btn btn-primary btn-sm" ng-click="$wizard.launch()">Launch</button></p>
</div>

<div class=" col-md-6 text-center" ng-controller="WorkerAccountCrudController as $wizard" ng-init="$wizard.model='url'">
  <h3>Worker creation
    <span class="small">
        <br>(<span sxy-if-role="household">household</span><span sxy-if-role="company">Company</span><span sxy-if-role="anon">Log in to test different wizards</span>)
    </span>
  </h3>
  <p class="small"><a href="/#/docs/@salaxy/ng1/class/WorkerAccountCrudController">WorkerAccountCrudController</a><br>launchWorkerWizard()</p>
  <p>Household or Company creates a new worker. Different wizard views are shown based on the user's role (logged in as).</p>
  <p><button class="btn btn-primary btn-sm" ng-click="$wizard.launchWorkerWizard()">Launch</button></p>
</div>

<div ng-controller="SigningController as $ctrl" ng-if="$ctrl.isSigningRequired">
  <h1 class="page-header text-center">Signing component</h1>
  <p class="lead text-center">
    Signing component shows the digital signature form directly on the page.
  </p>
  <salaxy-signing></salaxy-signing>
</div>