<div class="container-fluid">
  <div class="" ng-controller="Calculator2019Controller as $ctrl" ng-init="$ctrl.bindingMode='id'">
    <salaxy-calc model="$ctrl"></salaxy-calc>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <salaxy-workflow-close api-ctrl="$ctrl"></salaxy-workflow-close>
        <salaxy-workflow-issue api-ctrl="$ctrl"></salaxy-workflow-issue>
      </div>
      <div class="btn-group spacer-bottom" role="group">
        <salaxy-workflow-assign api-ctrl="$ctrl"></salaxy-workflow-assign>
      </div>
    </div>
    <salaxy-odata-table url="/v03-rc/api/calculations/editable" template-url="salaxy-components/odata/lists/Calculations-select.html" on-list-select="value == true ? $ctrl.model = item.id : null "></salaxy-odata-table>
  </div>
</div>