<h1 class="page-header">TODO: Worker details</h1>
<div salaxy-if-role="anon">
  <salaxy-alert type="danger">
    <main>
      When in anonymous mode, these components will show only one example Worker. You obviously cannot add or remove Workers. You can log in by clicking the button in the top-right corner.
    </main>
  </salaxy-alert>
</div>
<p class="lead">
  Worker is the general term that in practice contains several concepts: WorkerAccount, EmploymentRelation, Taxcards, HolidayYears and Absences. Please see the detailed explanation below, but if you just want to allow editing these properties you can simply
  add the <br/>
  <sxydoc-component name="salaxy-worker-details"></sxydoc-component> component.
</p>
<sxydoc-example>
  <salaxy-worker-details model="'url'" ng-ref="$ctrl.workerCtrl"></salaxy-worker-details>
</sxydoc-example>
<h2>Components of Worker in detail</h2>
<p>
  In detail, a Worker is a combination of several distinct objects.
</p>
<ul>
  <li>
    <strong>WorkerAccount</strong> is typically first created and owned by the employer, but once Worker logs into to the Palkkaus.fi or partner system for the first time to fetch the salary slip, it becomes the property of that person: It can no longer
    be edited by the employer. Worker account contains the names, avatar, contact info, personal id and bank account for the Worker. In addition it contains user data such ad authorization, authentication, settings etc.
  </li>
  <li>
    <strong>EmploymentRelation</strong> is always owned and managed by the employer and contains all the employment realted information like pension, type of work, calculation defaults etc. As a subset of employment relations, we have:
    <ul>
      <li>HolidayYears</li>
      <li>Absences</li>
    </ul>
  </li>
  <li>
    <strong>Taxcard</strong> is a separate entity that is identified by the Personal Id (HETU). It is typically owned by the Employer, but in some instances can also be owned by Worker.
  </li>
</ul>
<h2>Create new and other special cases</h2>
<p>
  The "Create new" button invokes Wizard for creating a new Worker using
  <code>WorkerAccountCrudController.launchWorkerWizard()</code>.
</p>
<sxydoc-example>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-toolbar" role="toolbar" aria-label="Demo buttons">
        <div class="btn-group" role="group" aria-label="Wizard">
          <button ng-click="$ctrl.workerCtrl.launchWorkerWizard('edit-current')" class="btn btn-default">Edit in wizard</button>
          <button ng-click="$ctrl.workerCtrl.launchWorkerWizard('details')" class="btn btn-default">Create new</button>
        </div>
      </div>
    </div>
  </div>
</sxydoc-example>