<div class="container">
  <h2>Verokortit (PRO): {{ $ctrl.$taxcardCtrl.current.worker.displayName }}</h2>
  <p class="lead" ng-if="$ctrl.$taxcardCtrl.current">
    <strong>{{ "TaxcardKind." + $ctrl.$taxcardCtrl.current.card.kind | sxyEnum }}, {{ $ctrl.$taxcardCtrl.current.card.validity | sxyDateRange }}</strong>.
    Tilitoimiston ja palkanlaskijan näkymä verokortteihin.
  </p>
  <uib-tabset active="$ctrl.currentTab">
    <uib-tab heading="Yleiskuva (yrityksen)" index="'overview'">
      <salaxy-spinner heading="Loading..." ng-if="$ctrl.$taxcardCtrl.isLoading"></salaxy-spinner>
      <div ng-if="$ctrl.$taxcardCtrl.current && $ctrl.$taxcardCtrl.currentId">
        <salaxy-taxcard-details model="$ctrl.$taxcardCtrl.current" hide-buttons="true"></salaxy-taxcard-details>
        <div ng-if="$ctrl.$taxcardCtrl.chartType != 'preview'">
          <div class="text-center" ng-if="!$ctrl.$taxcardCtrl.getTaxcardDownloadUrl()">Ei liitetiedostoa</div>
          <a ng-if="$ctrl.$taxcardCtrl.getTaxcardDownloadUrl()" ng-href="{{$ctrl.$taxcardCtrl.getTaxcardDownloadUrl()}}" target="_blank"
            class="btn btn-xs btn-primary pull-right">Download</a>
          <div ng-if="$ctrl.$taxcardCtrl.getTaxcardPreviewUrl()" class="document-preview text-center">
            <img ng-src="{{ $ctrl.$taxcardCtrl.getTaxcardPreviewUrl() }}" class="img-responsive" style="display: inline;" />
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Muokkaus (PRO)" index="'pro'">
      <salaxy-taxcard-details model="'url'" list-url="/taxcards" ng-ref="$ctrl.$taxcardCtrl" mode="pro"></salaxy-taxcard-details>
    </uib-tab>
    <uib-tab heading="Kaikki verokortit" index="'allTaxcards'">
      <div ng-if="$ctrl.currentTab == 'allTaxcards'">
        <salaxy-employment-taxcards employment-id="$ctrl.$taxcardCtrl.current.employmentId" ng-ref="$ctrl.$allTaxcardsCtrl" mode="list"></salaxy-employment-taxcards>
      </div>
    </uib-tab>
    <uib-tab heading="Json / debug" index="'debug'">
      <p class="clearfix" sxy-if-role="test">
        <button type="button" class="btn btn-danger pull-right" ng-click="$ctrl.$taxcardCtrl.delete()">Poista (test)</button>
        Verokortin poistaminen testissä: Tästä voit poistaa laskelman testissä vaikka se ei olisikaan mahdollista tuotantoympäristössä.
        Normaalisti verokortti poistetaan tuotantoympäristössä työntekijäkohtaisesta verokorttilistasta, jossa "Poista" on näkyvissä vain,
        jos verokortin voi poistaa.
      </p>
      <salaxy-json-formatter open="1" json="$ctrl.$taxcardCtrl.current"></salaxy-json-formatter>
    </uib-tab>
  </uib-tabset>
</div>