<div class="container">
  <h2>Lataamasi verokortit</h2>
  <p class="lead" sxy-if-role="!worker">
    Listaus näyttää kaikki lataamasi verokortit päivitysjärjestyksessä. Useimpiin tarkoituksiin parempi listaus on
    <a href="#/workers/taxcards">verokortit työntekijöittäin</a>.
  </p>
  <p class="lead" sxy-if-role="worker">
    Listaus näyttää kaikki lataamasi verokortit päivitysjärjestyksessä. Useimpiin tarkoituksiin parempi näkymä
    <a href="#/taxcards">on omat aktiiviset verokortit</a> näkymä.
  </p>
  <salaxy-odata-table crud-controller="TaxcardCrudController as $crud" crud-bindings="{ detailsUrl: '/taxcards/details/'}"></salaxy-odata-table>
</div>