<div class="row">
  <div class="col-xs-12 ">
    <h3>Käyttöohjeet</h3>
    <p class="">
      Ohjelman käyttöohjeet löytyvät tukisivustolta osoitteesta <a href="https://help.palkkaus.fi/hc/fi" target="_blank">help.palkkaus.fi</a>.
    </p>
    <p>Pääset ohjeisiin myös oikean alakulman Apua-napin kautta. Kirjoita hakusana hakukenttään niin saat listauksen siihen liittyvistä ohjeista. Voit siirtyä tukisivustolle ohjeen yläkulmassa olevan nuoli-ikonin kautta. Jos et löydä sopivaa ohjetta, voit
      olla yhteydessä asiakaspalveluumme Apua-napin kautta, sähköpostitse tai puhelimitse, niin autamme sinua!
    </p>
  </div>
  <div class="col-xs-12 ">
    <h3>{{'SALAXY.NG1.Pages.Articles.customerService.title'| sxyTranslate }}</h3>
  </div>
  <div class="col-xs-12">
    <salaxy-contact-info></salaxy-contact-info>
  </div>
</div>