<main class="salaxy-content sxytpl-partners-accountants">
  <section>
    <div class="content settings">
      <salaxy-accountant></salaxy-accountant>
    </div>
  </section>
  <section sxy-if-role="test">
    <div class="row" ng-controller="PartnerController as $partnerCtrl">
      <div class="col-md-6">
        <div class="alert alert-danger">
          <b>Testiympäristö</b>
          <p>Vaihda tyyli tätä sessiota varten!</p>
          <button id="style" type="button" class="btn btn-primary btn-block" ng-click="$partnerCtrl.showSwitchCss()">
            Vaihda tyyli...
          </button>
          <hr />
          <div>Brand ID: {{ $partnerCtrl.brandId || "-" }}</div>
          <div>Skin: {{ $partnerCtrl.skin || "-" }}</div>
          <a ng-href="{{ $partnerCtrl.getLoginUrl() }}" target="_blank" class="btn btn-default">Näytä login</a>
          <a ng-href="{{ $partnerCtrl.getOnboardingUrl() }}" target="_blank" class="btn btn-default">Näytä onboarding</a>
        </div>
      </div>
    </div>
  </section>
</main>