<main class="salaxy-content sxytpl-settings-certificates settings content">
  <section class="sxytpl-credentials">
    <salaxy-credentials></salaxy-credentials>
  </section>
  <section class="sxytpl-certificates">
    <salaxy-certificates></salaxy-certificates>
  </section>
  <section class="sxytpl-authorized-accounts">
    <p class="lead">{{ 'SALAXY.NG1.AuthoringAccountComponent.authorizeIntro' | sxyTranslate}}</p>
    <salaxy-authorized-accounts></salaxy-authorized-accounts>
  </section>
</main>