<main class="salaxy-content sxytpl-partners-integrations">
  <section class="sxytpl-intro">
    <p class="lead">
      {{ 'SALAXY.NG1.AuthInfoHeadersComponent.partners.integrations.introLead' | sxyTranslate }}
    </p>
  </section>
  <section class="sxytpl-cards">
    <div ng-controller="AccountAuthorizationController as authCtrl">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="site in authCtrl.partnerIntegrationSites">
          <salaxy-auth-card auth-id="site.id"></salaxy-auth-card>
        </div>
      </div>
    </div>
  </section>
</main>