<main class="salaxy-content sxytpl-settings-service-settings settings content">
  <section class="sxytpl-language-selection" salaxy-if-role="test">
    <div class="panel language-selection panel-default">
      <div class="panel-heading">
        <h2>{{'SALAXY.NG1.LanguageSelectionComponent.panelTitle' | sxyTranslate}} (TEST ONLY)</h2>
        <p><small>{{'SALAXY.NG1.LanguageSelectionComponent.panelDescription' | sxyTranslate}} </small></p>
      </div>
      <div class="panel-body">
        <salaxy-language-selector></salaxy-language-selector>
      </div>
    </div>
  </section>
  <section class="sxytpl-account-info">
    <div class="panel account-info panel-default">
      <div class="panel-heading">
        <h2>{{'SALAXY.NG1.AccountInfoComponent.panelTitle' | sxyTranslate}}</h2>
        <p><small>{{'SALAXY.NG1.AccountInfoComponent.panelDescription' | sxyTranslate}} </small></p>
      </div>
      <div class="panel-body">
        <salaxy-account-info></salaxy-account-info>
      </div>
    </div>
  </section>
  <section class="sxytpl-user-info" salaxy-if-role="test">
    <div class="panel user-info panel-default">
      <div class="panel-heading">
        <h2>{{'SALAXY.NG1.UserInfoComponent.panelTitle' | sxyTranslate}} (TEST ONLY)</h2>
        <p><small>{{'SALAXY.NG1.UserInfoComponent.panelDescription' | sxyTranslate}} </small></p>
      </div>
      <div class="panel-body">
        <salaxy-user-info></salaxy-user-info>
      </div>
    </div>
  </section>

</main>