﻿<!doctype html>
<html lang="fi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Calculator test</title>

  <!-- Customizable static links -->
  <link href="favicon.ico" rel="icon" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- LESS-based CSS-files (Salaxy and Bootstrap) -->
  <link href="https://cdn.salaxy.com/ng1/dist/npm/%40salaxy/ng1/3.0.1/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.salaxy.com/ng1/dist/npm/%40salaxy/ng1/3.0.1/salaxy-lib-ng1-bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.salaxy.com/ng1/dist/npm/%40salaxy/ng1/3.0.1/salaxy-rpt.min.css" rel="stylesheet" type="text/css" />


</head>

<body>
  <div ng-app="Salaxy.anonCalculator" class="anon-calc-wrapper">
    <div class="role-selector form-horizontal">
      <salaxy-input-enum name="calcRole" ng-model="$ctrl.calcRole" ng-init="$ctrl.calcRole = 'company'" label="Valitse työnantajan rooli" options="{ company: 'Yritys tai yhteisö', household: 'Kotitalous' }"></salaxy-input-enum>
    </div>
    <salaxy-calc model="'new'" anon-options="{ role: $ctrl.calcRole }"></salaxy-calc>


  </div>

  <script src="https://cdn.salaxy.com/ng1/dist/npm/%40salaxy/ng1/3.0.1/calculator2.js" type="text/javascript"></script>


  <style>
    .salaxy-calc,
    .role-selector {
      max-width: 95%;
      margin: 20px auto;
      width: 1200px;
    }
  </style>
</body>

</html>