<div ng-controller="WorkerAbsencesCrudController as $ctrl" ng-init="$ctrl.testYear=2021;$ctrl.getAbsences()">
  <h1 class="hidden-print">Poissaolot</h1>
  <h2 class="visible-print-block">Poissaolot ({{ $ctrl.reportParams | sxyDateRange }})</h2>
  <div class="btn-toolbar hidden-print" role="toolbar" aria-label="Calendar buttons" style="margin-top: -10px; margin-bottom: 15px;">
    <div class="btn-group" role="group" aria-label="Views">
      <button type="button" class="btn btn-default" ng-class="{ active: !$ctrl.view || $ctrl.reportView == 'calendar' }"
        ng-click="$ctrl.view = 'calendar'">Kalenteri</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.view == 'list' }"
        ng-click="$ctrl.view = 'list'">Lista</button>
    </div>
    <div class="btn-group" role="group" aria-label="Periods">
      <button type="button" class="btn btn-default" ng-class="{ active: !$ctrl.reportView || $ctrl.reportView == 'thisYear' }" ng-click="$ctrl.reportView = 'thisYear'">Tämä
        vuosi</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'lastYear' }" ng-click="$ctrl.reportView = 'lastYear'">Viime vuosi</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'thisMonth' }" ng-click="$ctrl.reportView = 'thisMonth'">Tämä kuukausi</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'lastMonth' }" ng-click="$ctrl.reportView = 'lastMonth'">Viime kuukausi</button>
    </div>
    <div class="btn-group" role="group" aria-label="Päivämäärät">
      <div class="form-inline">
        <salaxy-datepicker-popup ng-model="$ctrl.reportParams.start" name="start" label="Päivämäärät" label-type="inline">
        </salaxy-datepicker-popup>
        <salaxy-datepicker-popup ng-model="$ctrl.reportParams.end" name="end" label="" label-type="no-label" label-cols="none"></salaxy-datepicker-popup>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Actions">
      <button ng-click="$ctrl.showAddWorker()" class="btn btn-default">Lisää työntekijä</button>
      <button ng-click="$ctrl.saveAbsences('changed')" ng-disabled="!$ctrl.isChanged($ctrl.allAbsences,$ctrl.allAbsencesOrig)" title="{{ 'SALAXY.UI_TERMS.save' | sxyTranslate}}"
        class="btn btn-primary">
        <span sxy-text="SALAXY.UI_TERMS.save"></span>
      </button>
    </div>
  </div>
  <salaxy-spinner ng-if="!$ctrl.allAbsences"></salaxy-spinner>
  <div ng-if="$ctrl.allAbsences.length === 0">Työnantajalla ei ole tallennettuja poissaoloja</div>
  <div ng-if="$ctrl.allAbsences.length &gt; 0">
    <salaxy-absence-periods style="display: none;" ng-ref="$ctrl.$periodList"></salaxy-absence-periods>
    <div ng-if="$ctrl.view != 'list'">
      <salaxy-calendar data="$ctrl.allAbsences" mode="horizontal" mapper="$ctrl.mapToCalendar" list-controller="$ctrl.$periodList"
        start="$ctrl.reportParams.start" end="$ctrl.reportParams.end"></salaxy-calendar>
    </div>
    <div ng-if="$ctrl.view == 'list'">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">
              <span sxy-text="SALAXY.NG1.Roles.worker"></span>
            </th>
            <th class="right">
              <span>Ensimmäinen</span><br />
              <span>Viimeisin</span>
            </th>
            <th class="right">
              <div>Palkalliset</div>
              <div>Palkattomat</div>
            </th>
            <th class="right">
              <div>Lasketaan lomakertymään</div>
              <div>Ei lasketa</div>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in $ctrl.allAbsences">
            <td class="align-middle td-avatar">
              <salaxy-avatar avatar="row.workerSnapshot"></salaxy-avatar>
            </td>
            <td class="td-name middle">
              <div><strong>{{ row.workerSnapshot.displayName }}</strong></div>
              <div>{{ $ctrl.getPeriodCalculation(row, "length") }} poissaoloa, {{ $ctrl.getPeriodCalculation(row, "all") | sxyCount : "day" }}</div>
            </td>
            <td class="right">
              <div>{{ $ctrl.getPeriodCalculation(row, "firstPeriod") | sxyDateRange }}</div>
              <div>{{ $ctrl.getPeriodCalculation(row, "lastPeriod") | sxyDateRange }}</div>
            </td>
            <td class="right">
              <div>{{ $ctrl.getPeriodCalculation(row, "absencesPaid") | sxyCount : "day" }}</div>
              <div>{{ $ctrl.getPeriodCalculation(row, "absencesUnpaid") | sxyCount : "day" }}</div>
            </td>
            <td class="right">
              <div>{{ $ctrl.getPeriodCalculation(row, "absencesHolidayAccrual") | sxyCount : "day" }}</div>
              <div>{{ $ctrl.getPeriodCalculation(row, "absencesNoHolidayAccrual") | sxyCount : "day" }}</div>
            </td>
            <td>
              <button ng-click="$ctrl.showEditDialog(row)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block">
                <span sxy-text="SALAXY.UI_TERMS.edit"></span>
              </button>
            </td>
            <td>
              <button ng-click="$ctrl.saveAbsences(row)" ng-disabled="!$ctrl.isChanged($ctrl.allAbsences[$index],$ctrl.allAbsencesOrig[$index])" title="{{ 'SALAXY.UI_TERMS.save' | sxyTranslate}}" class="btn btn-sm btn-default btn-block">
                <span sxy-text="SALAXY.UI_TERMS.save"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>