<main class="salaxy-content sxytpl-reports-accounting">
  <section class="sxytpl-intro">
    <p class="lead"> {{ 'SALAXY.NG1.reports.accountingIntro' | sxyTranslate }}
    </p>
  </section>
  <section class="sxytpl-list">
    <h2>{{ 'SALAXY.NG1.reports.accountingMonthly' | sxyTranslate }}</h2>
    <salaxy-report-list report-type="'monthlyDetails'"></salaxy-report-list>
    <salaxy-report-list report-type="'monthlyLiikekirjuri'"></salaxy-report-list>
  </section>
  <section class="sxytpl-list">
    <h2>{{ 'SALAXY.NG1.reports.accountingYearly' | sxyTranslate }}</h2>
    <salaxy-report-list report-type="'yearlyDetails'"></salaxy-report-list>
  </section>
</main>