<main class="salaxy-content sxytpl-reports-archive-2018">
  <section class="sxytpl-intro">
    <h2>Arkisto: Ennen vuotta 2019 lähetetyt raportit</h2>
    <p class="lead">
      Tässä arkistossa on raportit palkoista, jotka on maksettu ennen Tulorekisteriä: Vuonna 2018 tai aiemmin. Vuodesta 2019 lähtien tulorekisteri muutti ilmoituskäytännötä täysin ja tämä sivu on vain arkisointitarkoituksiin.
    </p>
  </section>
  <h3>Työttömyysvakuutusrahasto</h3>
  <section class="sxytpl-list">
    <div ng-controller="ReportsController as $ctrl" ng-init="rptType = 'unemployment'">
      <salaxy-report-list report-type="'unemployment'"></salaxy-report-list>
    </div>
  </section>
  <h3>Verottaja, vuosi-ilmoitus</h3>
  <section class="sxytpl-list">
    <salaxy-report-list report-type="'taxYearly7801'"></salaxy-report-list>
  </section>
  <h3>Verottaja, kuukausi-ilmoitus</h3>
  <section class="sxytpl-list">
    <salaxy-report-list report-type="'taxMonthly4001'"></salaxy-report-list>
  </section>
  <h3>Työeläkevakuutus (TyEL)</h3>
  <section class="sxytpl-list">
    <salaxy-report-list report-type="'insurance'"></salaxy-report-list>
  </section>
</main>