<div ng-controller="HolidayYearCrudController as $ctrl" ng-init="$ctrl.getHolidayYears()">
  <h1 class="hidden-print">Lomalista</h1>
  <h2 class="visible-print-block">Lomavuosi {{ $ctrl.reportYear }} ({{ $ctrl.reportParams | sxyDateRange }})</h2>
  <div class="btn-toolbar hidden-print" role="toolbar" aria-label="Calendar buttons" style="margin-top: -10px; margin-bottom: 15px;">
    <div class="btn-group" role="group" aria-label="Lomavuosi">
      <div class="form-inline">
        <salaxy-form-group name="year" label="Lomavuosi" label-type="inline">
          <select id="year" name="year" ng-model="$ctrl.reportYear" class="form-control"
            ng-change="$ctrl.getHolidayYears()"
            ng-options="item as item for item in $ctrl.reportParams.years">
          </select>
        </salaxy-form-group>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Näytä">
      <div class="form-inline">
        <salaxy-datepicker-popup ng-model="$ctrl.reportParams.start" name="start" label="Näytä" label-type="inline"
          min-date="$ctrl.reportParams.yearStart" max-date="$ctrl.reportParams.yearEnd"></salaxy-datepicker-popup>
        <salaxy-datepicker-popup ng-model="$ctrl.reportParams.end" name="end" label="" label-type="no-label" label-cols="none"
          min-date="$ctrl.reportParams.yearStart" max-date="$ctrl.reportParams.yearEnd"></salaxy-datepicker-popup>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Views">
      <button type="button" class="btn btn-default" ng-class="{ active: !$ctrl.reportView || $ctrl.reportView == 'summer' }"
        ng-click="$ctrl.reportView = 'summer'">Kesä-elo</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'summerPeriod' }"
        ng-click="$ctrl.reportView = 'summerPeriod'">Kesälomakausi</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'winter' }"
        ng-click="$ctrl.reportView = 'winter'">Tammi-maalis</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'winterPeriod' }"
        ng-click="$ctrl.reportView = 'winterPeriod'">Talvilomakausi</button>
      <button type="button" class="btn btn-default" ng-class="{ active: $ctrl.reportView == 'list' }"
        ng-click="$ctrl.reportView = 'list'">Lista</button>
    </div>
    <div class="btn-group" role="group" aria-label="Actions">
      <button ng-click="$ctrl.saveYear('changed')" ng-disabled="!$ctrl.isChanged($ctrl.allYears,$ctrl.allYearsOrig)" title="{{ 'SALAXY.UI_TERMS.save' | sxyTranslate}}" class="btn btn-primary">
        <span sxy-text="SALAXY.UI_TERMS.save"></span>
      </button>
    </div>
  </div>
  <salaxy-spinner ng-if="!$ctrl.allYears"></salaxy-spinner>
  <div ng-if="$ctrl.allYears.length === 0">Työnantajalla ei ole tallennettuja lomavuosia</div>
  <div ng-if="$ctrl.allYears.length &gt; 0">
    <salaxy-holiday-year-holidays style="display: none;" ng-ref="$ctrl.$holidayList"></salaxy-holiday-year-holidays>
    <div ng-if="$ctrl.reportView != 'list'">
      <salaxy-calendar data="$ctrl.allYears" mode="horizontal"
        mapper="$ctrl.mapToCalendar" list-controller="$ctrl.$holidayList"
        start="$ctrl.reportParams.start" end="$ctrl.reportParams.end"></salaxy-calendar>
    </div>
    <div ng-if="$ctrl.reportView == 'list'">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2"><span sxy-text="SALAXY.NG1.Roles.worker"></span></th>
            <th>Lomatyyppi<br /> Lomaraha</th>
            <th class="right">Vuosi</th>
            <th class="right">Suunnitellut lomat<br />Jaksot</th>
            <th class="right">Kesä<br />Talvi</th>
            <th class="right">Kertymä</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="year in $ctrl.allYears">
            <td class="align-middle td-avatar">
              <salaxy-avatar avatar="year.workerSnapshot"></salaxy-avatar>
            </td>
            <td class="td-workerSnapshot-name">
              <strong>{{ year.workerSnapshot.displayName }}</strong><br />
              {{ "WageBasis." + year.spec.wageBasis | sxyEnum }}<br />
            </td>
            <td>
              {{ "HolidayCode." + year.spec.code | sxyEnum }}
              <span ng-if="year.spec.code == 'holidayCompensation'">({{ year.spec.compensation | sxyCount : 'percent' }})</span>
              <div ng-if="year.spec.bonusMethod != 'none'">
                {{ "HolidayBonusPaymentMethod." + year.spec.bonusMethod | sxyEnum }}
                <span>({{ year.spec.bonus | sxyCount : 'percent' }})</span>
              </div>
            </td>
            <td class="right">{{ year.year }}</td>
            <td class="right">
              {{ $ctrl.getTotalDays("all", year) | sxyCount : 'days' }}<br />
              {{ year.leaves.planned.length | sxyCount : 'count' }}
            </td>
            <td class="right">
              {{ $ctrl.getTotalDays("summer", year) | sxyCount : 'days' }}<br />
              {{ $ctrl.getTotalDays("winter", year) | sxyCount : 'days' }}
            </td>
            <td class="right">
              {{ year.accrual.endSaldo | sxyCount : 'days' }}
            </td>
            <td>
              <button ng-click="$ctrl.showEditDialog(year)" title="{{ 'SALAXY.UI_TERMS.edit' | sxyTranslate}}" class="btn btn-sm btn-primary btn-block">
                <span sxy-text="SALAXY.UI_TERMS.edit"></span>
              </button>
            </td>
            <td>
              <button ng-click="$ctrl.saveYear(year)" ng-disabled="!$ctrl.isChanged($ctrl.allYears[$index],$ctrl.allYearsOrig[$index])" title="{{ 'SALAXY.UI_TERMS.save' | sxyTranslate}}" class="btn btn-sm btn-default btn-block">
                <span sxy-text="SALAXY.UI_TERMS.save"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
    </div>
  </div>
</div>