<main class="salaxy-content sxytpl-reports-dashboard">
  <section class="sxytpl-intro">
    <p class="lead">
      {{ 'Viimeisimmät raportit' | sxyTranslate }}
    </p>
  </section>
  <section class="sxytpl-report-panels">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <salaxy-salary-report-list mode="panel"></salaxy-salary-report-list>
      </div>
      <div class="col-xs-12 col-sm-6">
        <salaxy-accounting-report-list mode="panel"></salaxy-accounting-report-list>
      </div>
    </div>
    <div class="row" sxy-if-role="test">
      <div class="col-xs-12 col-sm-6" sxy-if-role="test">
        <salaxy-invoice-list mode="panel"></salaxy-invoice-list>
      </div>
    </div>
  </section>
</main>