<main class="salaxy-content sxytpl-pay-certificate">
  <section class="sxytpl-intro">
    <p>
      Voit tulostaa palvelusta työntekijän palkkatodistuksen ja täydentää sitä puuttuvin osin. Lomake liitetään ansiopäivärahahakemukseen. Työnantaja täyttää lomakkeen vähintään 26/34 viikon ajalta.
    </p>
    <p>
      Katso myös <a href="https://www.tyj.fi/ukk-palkanlaskijoille/" target="_blank">UKK palkanlaskijoille</a>
    </p>
  </section>
  <section>
    <salaxy-pay-certificate></salaxy-pay-certificate>
  </section>
</main>