<main class="salaxy-content sxytpl-reports-yearly-summary">
    <section class="sxytpl-intro">
        <p class="lead">
            {{ 'SALAXY.NG1.reports.yearlySummary' | sxyTranslate }}
        </p>

    </section>
    <section class="sxytpl-list">
        <h2>{{ 'SALAXY.NG1.reports.yearlyTitle' | sxyTranslate }}</h2>
        <salaxy-report-list report-type="'yearlyWorkerSummary'"></salaxy-report-list>
    </section>
</main>