<div ng-switch="$ctrl.schemaModel.items.type">
  <div ng-switch-when="object">
    <table class="table">
      <caption>{{ $ctrl.getLabel() }}</caption>
      <thead>
        <tr>
          <th ng-repeat="itemInput in $ctrl.getChildInputs(3)">{{ $ctrl.getLabel(itemInput.name) }}</th>
          <th class="text-right">
            <button type="button" class="btn btn-primary btn-xs" ng-if="!$ctrl.getReadOnly()" ng-click="$ctrl.createNew()" sxy-text="SALAXY.UI_TERMS.addRow"></button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.value">
          <td ng-repeat="itemInput in $ctrl.getChildInputs(3)">{{ $ctrl.formatValue(itemInput.name, $parent.$index) }}</td>
          <td class="text-right" ng-if="!$ctrl.getReadOnly()">
            <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.edit(item, $index)">
              <i class="fa fa-pencil" title="Edit row"></i>
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.delete(item, $index)">
              <i class="fa fa-trash-o" title="Delete row"></i>
            </button>
          </td>
          <td class="text-right" ng-if="$ctrl.getReadOnly()">
            <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.edit(item, $index)">
              <i class="fa fa-info" title="Show row"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-switch-when="string">
    <salaxy-input-enum ng-if="$ctrl.schemaModel.items.enum.length" ng-model="$ctrl.value" name="{{ $ctrl.id }}" label="{{ $ctrl.getLabel() }}" tooltip-html="{{ $ctrl.getDescr() }}"
      read-only="$ctrl.getReadOnly()" disabled="$ctrl.getDisable()" require="$ctrl.getRequire()" type="multi-select" options="$ctrl.getEnumOptions()"></salaxy-input-enum>
    <salaxy-form-group ng-if="!$ctrl.schemaModel.items.enum.length" name="{{ $ctrl.id }}" label="{{ $ctrl.getLabel() }}" tooltip-html="{{ $ctrl.getDescr() }}" read-only="$ctrl.getReadOnly()" disabled="$ctrl.getDisable()"
      require="$ctrl.getRequire()">
      <div class="input-group" ng-repeat="item in $ctrl.value track by $index">
        <input type="text" class="form-control"
          ng-model="$ctrl.value[$index]" name="{{ $ctrl.id + '_' + $index }}" id="{{ $ctrl.id + '_' + $index }}"
          ng-readonly="$ctrl.getReadOnly()" ng-disabled="$ctrl.getDisable()">
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger" ng-click="$ctrl.delete(item, $index)">
            <i class="fa fa-trash-o" title="Delete row"></i>
          </button>
        </div>
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.value.push('')">Add new</button>
      </div>
    </salaxy-form-group>
  </div>
  <div ng-switch-default>
    <salaxy-form-group name="{{ $ctrl.id }}" label="{{ $ctrl.getLabel() }}" tooltip-html="{{ $ctrl.getDescr() }}" read-only="$ctrl.getReadOnly()" disabled="$ctrl.getDisable()"
      require="$ctrl.getRequire()">
      <p>Unhandled array type: {{ $ctrl.schemaModel.items.type }}</p>
    </salaxy-form-group>
  </div>
</div>