<main class="salaxy-content sxytpl-accounting-target">
  <section>
    <salaxy-accounting-target-editor template-url="/ng1/undercon/AccountingTargetEditor.html" model="'url'"></salaxy-accounting-target-editor>
  </section>
</main>