<main class="salaxy-content sxytpl-accounting-target-list">
  <section>
    <div class="salaxy-component salaxy-accounting-target-list">
      <div ng-controller="AccountingTargetCrudController as $ctrl">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.testRecreateBaseData()">Luo datat uudestaan</button>
      </div>
      <salaxy-odata-table crud-controller="AccountingTargetCrudController as $crud" template-url="salaxy-components/odata/lists/AccountingTargets.html" options="{ }">
      </salaxy-odata-table>
    </div>
  </section>
</main>
 
 