<!--div>
  <h3>Asetukset</h3>
  <div>
    <ul>
      <li>Eri aineistotyypit, jos on</li>
      <li>Tiedostotyyppi (excel/csv), jos ei pystytä tunnistamaan</li>
      <li>CSV-optiot: kieli, pilkku/puolipiste jne.</li>
      <li>Mielellään niin, että muutokset näkyy suoraan alla</li>
    </ul>
  </div>
  <h3>Esikatselu taulukkona (max 1000 riviä)</h3>
  <div>
    Rivejä: {{ $ctrl.result.data.length }}, Sarakkeita: {{ $ctrl.result.headers.length }}, Tyhjiä rivejä: {{ $ctrl.result.ignoredLines }}, Virheitä: {{ $ctrl.result.errors.length }}
  </div>
  <div class="table-responsive" style="height: 400px">
    <table class="table">
      <thead>
        <tr>
          <th>Errors</th>
          <th ng-repeat="header in $ctrl.result.headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.result.data">
          <td>
            <button ng-if="row.error" uib-popover="{{ row.error_msg }}" popover-title="{{ row.error }}" type="button" class="btn btn-danger">{{ row.error }}</button>
          </td>
          <td ng-repeat="header in $ctrl.result.headers">{{ row[header] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div-->
<div class="alert alert-danger" ng-if="$ctrl.data.$parent.batch.unmappedData.errors.length">
  <p>Tiedoissa on virheitä</p>
  <div ng-repeat="error in $ctrl.data.$parent.batch.unmappedData.errors.errors" >
    <button uib-popover="{{ error.msg }}" popover-title="{{ error.code }}" type="button" class="btn btn-danger">{{ error.code }}</button><br>
  </div>
</div>
<div class="alert alert-warning" ng-if="$ctrl.data.$parent.batch.unmappedData.ignoredLines">
  {{$ctrl.data.$parent.batch.unmappedData.ignoredLines}} tyhjää riviä
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Read options">
  <div class="btn-group btn-group-sm" uib-dropdown>
    <button id="importMapper" type="button" class="btn" ng-class="$ctrl.data.$parent.mapper ? 'btn-primary' : 'btn-danger'" uib-dropdown-toggle>
      {{$ctrl.data.$parent.mapper ? $ctrl.data.$parent.mapper.description : "Valitse aineisto" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="importMapper">
      <li role="menuitem" ng-repeat="mapper in $ctrl.data.$parent.objectMappers"><a href=""
        ng-click="$ctrl.data.$parent.changeImportMapper(mapper)">{{mapper.description}}</a></li>
     </ul>
  </div>
  <div class="btn-group btn-group-sm" uib-dropdown>
    <button id="importFileType" type="button" class="btn" ng-class="$ctrl.data.$parent.fileTypeId ? 'btn-primary' : 'btn-danger'" uib-dropdown-toggle>
      {{($ctrl.data.$parent.getFileType($ctrl.data.$parent.fileTypeId) || { label: "Valitse tiedostotyyppi"}).label}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="importFileType">
      <li role="menuitem" ng-repeat="fileType in $ctrl.data.$parent.fileTypes"><a href=""
          ng-click="$ctrl.data.$parent.fileTypeId = fileType.id;$ctrl.data.$parent.readBatch()">{{$ctrl.data.$parent.getFileType(fileType.id).label}}</a></li>
    </ul>
  </div>
  <div class="btn-group btn-group-sm" uib-dropdown>
    <button id="importLocale" type="button" class="btn btn-primary" ng-disabled="!$ctrl.data.$parent.getFileType($ctrl.data.$parent.fileTypeId).hasLocales" uib-dropdown-toggle>
      {{$ctrl.data.$parent.getLocale($ctrl.data.$parent.localeId).label}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="importLocale">
      <li role="menuitem" ng-repeat="locale in $ctrl.data.$parent.locales"><a href=""
        ng-click="$ctrl.data.$parent.localeId = locale.id;$ctrl.data.$parent.readBatch()">{{$ctrl.data.$parent.getLocale(locale.id).description}}</a></li>
     </ul>
  </div>
</div>
<div ng-if="!$ctrl.data.$parent.batch.unmappedData.data.length" class="table-responsive" style="padding-top: 5vh; padding-bottom: 10vh; text-align:center">
  <span></span>
</div>
<div ng-if="$ctrl.data.$parent.batch.unmappedData.data.length" class="table-responsive" style="width: 100%; height: 300px;">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th ng-repeat="header in $ctrl.data.$parent.batch.unmappedData.headers">
          <salaxy-input readonly="true" label="header" label-type="plain"
          name="header" ng-model="header"></salaxy-input-enum>
        </th>
      </tr>
      <tr ng-if="$ctrl.data.$parent.mapper">
        <th ng-repeat="header in $ctrl.data.$parent.batch.unmappedData.headers">
          <salaxy-input-enum label="sourceTargetMap" label-type="plain" options="$ctrl.data.$parent.mapKeys"
          name="sourceTargetMap" ng-model="$ctrl.data.$parent.batch.sourceTargetMap[header]" type="select"></salaxy-input-enum>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.data.$parent.batch.unmappedData.data">
        <td ng-repeat="header in $ctrl.data.$parent.batch.unmappedData.headers">{{row[header]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button  ng-click="$ctrl.goPrevious()"  class="btn pull-left btn-default" sxy-text="SALAXY.UI_TERMS.previous"></button>
  <button  ng-click="$ctrl.data.$parent.mapBatch();$ctrl.goNext()" ng-disabled="!$ctrl.data.$parent.batch.unmappedData.data.length || !$ctrl.data.$parent.mapper" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>
</div>