<div class="alert alert-danger" ng-if="$ctrl.data.$parent.batch.hasDataValidationErrors">
  Tallennuksessa tapahtui virheitä, katso rivikohtaiset virheilmoitukset alla.
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Import options">
  <div class="btn-group" role="group">
    <button id="import" type="button" class="btn btn-default" ng-click="$ctrl.data.$parent.importBatch()">
      <span ng-show="!$ctrl.data.$parent.isImporting">{{ ('Tallenna') | sxyTranslate }} <i class="fa fa-upload"></i></span>
      <span ng-show="$ctrl.data.$parent.isImporting">{{ ('Tallenna') | sxyTranslate }} <i class="fa fa-refresh fa-spin fa-fw"></i></span>
    </button>
    <div ng-show="$ctrl.data.$parent.isImporting"><small>&nbsp;{{$ctrl.data.$parent.importMessage}}</small></div>
  </div>
</div>
<div ng-if="$ctrl.data.$parent.batch.data.length" class="table-responsive" style="width: 100%; height: 300px;" >
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Ok</th>
        <th ng-repeat="header in $ctrl.data.$parent.mapper.keys">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.data.$parent.batch.data">
        <td>
          <div ng-if="row.validation && row.validation.errors && row.validation.errors.length" ng-repeat="error in row.validation.errors" >
            <button uib-popover="{{ error.msg }}" popover-title="{{ error.code }}" type="button" class="btn btn-danger">{{ error.code }}</button><br>
          </div>
          <div ng-if="row.validation && row.validation.isValid">
            <span class="text-success">Ok</span>
          </div>
        </td>
        <td ng-repeat="header in $ctrl.data.$parent.mapper.keys">{{row[header]}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button  ng-click="$ctrl.data.$parent.batch.clearValidation();$ctrl.goPrevious()"  class="btn pull-left btn-default" sxy-text="SALAXY.UI_TERMS.previous"></button>
</div>