<div class="btn-toolbar" role="toolbar" aria-label="Data options">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="$ctrl.data.$parent.pasteFromClipboard()">
      <span>Liitä työpöydältä <i class="fa fa-clipboard"></i></span></button>
    <button type="button" class="btn btn-default" ngf-select="$ctrl.data.$parent.readFile($file)" ngf-multiple="false" ngf-max-size="10MB">
      <span>Lataa tiedosto... <i class="fa fa-file-text-o"></i></span>
    </button>
  </div>
</div>
<textarea ng-if="$ctrl.data.$parent.batch" ng-model="$ctrl.data.$parent.batch.rawData" style="width: 100%; height: 300px;" placeholder="Kopioi Excel-taulukko leikepöydältä (COPY-PASTE)"></textarea>
<textarea ng-if="!$ctrl.data.$parent.batch" ng-model="$ctrl.rawData" style="width: 100%; height: 300px;" placeholder="Kopioi Excel-taulukko leikepöydältä (COPY-PASTE)"></textarea>

<div class="modal-footer">
  <button ng-if="$ctrl.data.$parent.batch" ng-disabled="!$ctrl.data.$parent.batch.rawData" ng-click="$ctrl.data.$parent.readBatch();$ctrl.goNext()" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>
  <button ng-if="!$ctrl.data.$parent.batch" ng-disabled="!$ctrl.rawData" ng-click="$ctrl.data.$parent.readBatch($ctrl.rawData);$ctrl.goNext()" class="btn btn-primary" sxy-text="SALAXY.UI_TERMS.next"></button>
</div>