<div class="salaxy-wizard">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title" id="salaxyODataExportTitle">Tietojen tuonti {{$ctrl.currentStep.number}}/{{$ctrl.steps.length}}</h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row wizard-icon-row hidden-sm hidden-xs">
      <div ng-class="$ctrl.style.colWidthClass" ng-repeat="step in $ctrl.steps">
        <span ng-show="step.disabled && !step.active" class="salaxy-avatar disabled">
          <i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i>
        </span>
        <a ng-hide="step.disabled && !step.active" href="" ng-click="">
          <span class="salaxy-avatar"><i class="fa" ng-class="{'fa-circle': step.active, 'fa-circle-o': !step.active }"><strong>{{ step.number }}</strong></i></span>
        </a>
      </div>
    </div>
    <div class="row wizard-text-row hidden-sm hidden-xs">
      <div ng-class="$ctrl.style.colWidthClass" ng-repeat="step in $ctrl.steps">
        <span>{{ step.title | sxyTranslate}}</span>
      </div>
    </div>
    <div class="wizard-content" style="max-height: 600px; overflow-y: auto;">
      <ng-include src="$ctrl.currentStep.view"></ng-include>
    </div>
  </div>
</div>