<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyODataExportTitle">{{ 'Tietojen vienti' }}</h2>
</div>
<div class="modal-body" id="modal-body">
  <div class="btn-toolbar" role="toolbar" aria-label="Export options">
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="exportMapper" type="button" class="btn btn-primary" uib-dropdown-toggle>
        {{$ctrl.data.$parent.mapper.description}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="exportMapper">
        <li role="menuitem" ng-repeat="mapper in $ctrl.data.$parent.allMappers"><a href=""
          ng-click="$ctrl.data.$parent.changeExportMapper(mapper)">{{mapper.description}}</a></li>
       </ul>
    </div>
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="exportFileType" type="button" class="btn btn-primary" uib-dropdown-toggle>
        {{$ctrl.data.$parent.getFileType($ctrl.data.$parent.fileTypeId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="exportFileType">
        <li role="menuitem" ng-repeat="fileType in $ctrl.data.$parent.fileTypes"><a href=""
            ng-click="$ctrl.data.$parent.fileTypeId = fileType.id">{{$ctrl.data.$parent.getFileType(fileType.id).label}}</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm" uib-dropdown>
      <button id="exportLocale" type="button" class="btn btn-primary" ng-disabled="!$ctrl.data.$parent.getFileType($ctrl.data.$parent.fileTypeId).hasLocales" uib-dropdown-toggle>
        {{$ctrl.data.$parent.getLocale($ctrl.data.$parent.localeId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="exportLocale">
        <li role="menuitem" ng-repeat="locale in $ctrl.data.$parent.locales"><a href=""
          ng-click="$ctrl.data.$parent.localeId = locale.id">{{$ctrl.data.$parent.getLocale(locale.id).description}}</a></li>
       </ul>
    </div>
    <div class="btn-group btn-group-sm"  ng-if="$ctrl.data.$parent.mapper.isListItemMapper">
      <button id="exportQuick" type="button" class="btn btn-default" ng-click="$ctrl.data.$parent.export()">
        <span>{{ 'Luo aineisto' | sxyTranslate }} <small>({{$ctrl.data.$parent.exportRows.length}} {{ 'riviä' | sxyTranslate }})</small> <i class="fa fa-download"></i></span>
      </button>
    </div>
    <div class="btn-group btn-group-sm" ng-if="!$ctrl.data.$parent.mapper.isListItemMapper" uib-dropdown>
      <button id="exportLength" type="button" class="btn btn-primary" uib-dropdown-toggle>
        {{$ctrl.data.$parent.getExportLength($ctrl.data.$parent.exportLengthId).label}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="exportLength">
        <li role="menuitem" ng-repeat="exportLength in $ctrl.data.$parent.exportLengths"><a href=""
          ng-click="$ctrl.data.$parent.exportLengthId = exportLength.id">{{$ctrl.data.$parent.getExportLength(exportLength.id).label}}</a></li>
      </ul>
    </div>
  </div>
  <div ng-if="$ctrl.data.$parent.mapper.isListItemMapper" class="table-responsive" style="width: 100%; height: 300px;"> 
    <table class="table table-condensed">
      <thead>
        <tr>
          <th ng-repeat="header in $ctrl.data.$parent.mapper.keys">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $ctrl.data.$parent.exportRows">
          <td ng-repeat="header in $ctrl.data.$parent.mapper.keys">{{row[header]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="!$ctrl.data.$parent.mapper.isListItemMapper" class="table-responsive" style="padding-top: 5vh; text-align:center">
    <button id="exportNonQuick" type="button" class="btn btn-default" ng-click="$ctrl.data.$parent.export()">
      <span ng-show="!$ctrl.data.$parent.isExporting">{{ ('Luo aineisto') | sxyTranslate }} <i class="fa fa-download"></i></span>
      <span ng-show="$ctrl.data.$parent.isExporting">{{ ('Luo aineisto') | sxyTranslate }} <i class="fa fa-refresh fa-spin fa-fw"></i></span>
    </button><div ng-show="$ctrl.data.$parent.isExporting"><small>&nbsp;{{$ctrl.data.$parent.exportMessage}}</small></div>
    
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>