<div class="container" ng-controller="WorkerAbsencesCrudController as $ctrl" ng-init="$ctrl.model = 'url'; $ctrl.listUrl = '/crud/absences'">
  <h2>Absences edit: {{ $ctrl.current.workerSnapshot.displayName }}</h2>
  <p class="lead">
    <strong>For technical use only:</strong> Standard edit UIs for absences.
    In a typical scenario, the absences are edited from Worker / employment relation Details view.
  </p>
  <salaxy-spinner ng-if="$ctrl.isLoading"></salaxy-spinner>
  <uib-tabset ng-if="$ctrl.current">
    <uib-tab heading="Overview / chart">
      <div class="btn-toolbar">
        <div class="btn-group" uib-dropdown>
          <button id="year-selection" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Select year: {{ $ctrl.currentYear  }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="" ng-click="$ctrl.currentYear = year" ng-repeat="year in $ctrl.years">{{ year }}</a></li>
          </ul>
        </div>
        <div class="btn btn-danger" ng-click="$ctrl.delete(null, 'Are you sure you want to delete all absences in the absences log?')">Remove absences</div>
      </div>
      <salaxy-absence-periods on-commit="$ctrl.save()" parent="$ctrl.current" mode="calendar"
        filter-start="$ctrl.currentYear + '-01-01'" filter-end="$ctrl.currentYear + '-12-31'">
      </salaxy-absence-periods>
    </uib-tab>
    <uib-tab heading="Listing">
      <salaxy-absence-periods on-commit="$ctrl.save()" parent="$ctrl.current"></salaxy-absence-periods>
    </uib-tab>
    <uib-tab heading="Json / debug">
      <salaxy-json-formatter open="1" json="$ctrl.current"></salaxy-json-formatter>
    </uib-tab>
  </uib-tabset>
</div>