<div class="container">
  <h2>Absences OData list</h2>
  <p class="lead">
    <strong>For technical use only:</strong> Standard OData list for absences.
    In a typical scenario, the absences are not listed like this, but rather they are edited
    from Worker / employment relation Details view.
  </p>
  <salaxy-odata-table crud-controller="WorkerAbsencesCrudController as $crud"
    crud-bindings="{ detailsUrl: '/crud/absences/details/'}"></salaxy-odata-table>
</div>