<div class="container">
  <h2>Holiday Years OData list</h2>
  <p class="lead">
    <strong>For technical use only:</strong> Standard OData list for Holiday Years.
    In a typical scenario, the holidays are not listed like this, but rather they are edited
    from Worker / employment relation Details view.
  </p>
  <salaxy-odata-table crud-controller="HolidayYearCrudController as $crud"
    crud-bindings="{ detailsUrl: '/crud/holidays/details/'}"></salaxy-odata-table>
</div>