<div class="container" ng-controller="HolidayYearCrudController as $ctrl"
  ng-init="$ctrl.model = 'url'; $ctrl.listUrl = '/crud/holidays'">
  <h2>Holidays edit: {{ $ctrl.current.workerSnapshot.displayName }}</h2>
  <p class="lead">
    <strong>For technical use only:</strong> Standard edit UIs for holiday years.
    In a typical scenario, the holidays are edited from Worker / employment relation Details view.
  </p>
  <uib-tabset ng-if="$ctrl.current">
    <uib-tab heading="Overview">
      <salaxy-worker-holidays model="$ctrl" list-url="/crud/holidays"></salaxy-worker-holidays>
    </uib-tab>
    <uib-tab heading="Accrual">
      <salaxy-holiday-year-accrual parent="$ctrl.current"></salaxy-holiday-year-accrual>
    </uib-tab>
    <uib-tab heading="Holidays">
      <salaxy-holiday-year-holidays parent="$ctrl.current"></salaxy-holiday-year-holidays>
    </uib-tab>
    <uib-tab heading="Paid holidays">
      <salaxy-holiday-year-paid parent="$ctrl.current"></salaxy-holiday-year-paid>
    </uib-tab>
    <uib-tab heading="Json / debug">
      <div class="btn-toolbar">
        <div class="btn btn-danger" ng-click="$ctrl.delete(null, 'Are you sure you want to the entire holiday year?')">Remove holiday year</div>
      </div>
      <salaxy-json-formatter open="1" json="$ctrl.current"></salaxy-json-formatter>
    </uib-tab>
  </uib-tabset>
</div>
