.salaxy-component{
  .timeline{
    max-width:600px;
    padding-left:15px;
    padding-right:15px;
    margin:50px auto 55px;
    @media screen and (max-width: @screen-sm-max){
      max-width:unset;
      margin:0px auto 55px;
    }
    @media screen and (max-width: @screen-sm){
     
      margin:0px auto 55px;
    }
  }
  .panel-content .chart-pie{
    max-width: 338px;
    height: auto !important;
    text-align: center;
    margin: 20px auto;
  }
  .timeline-sidebar {
    margin-right: 15px;
    position: fixed;
    top: 50px;
    right: 0;
    max-width:300px;
    @media screen and (max-width: @screen-sm-max){
      top:70px;
    }
    .panel-new-calculation{
      h3{
        font-size:19px;
        margin-top: 5px;
      }
      .panel-body{
        padding:10px 15px;
        p{
          font-size:0.9em;
        }
      }
    }
  }

}