﻿<form>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" id="sample1-amount" class="form-control" placeholder="Number of hours - default is 1"><br>
            <input type="text" id="sample1-price" class="form-control" placeholder="Price for one hour">
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" onclick="createCalculation()">Create and Save Calculation</button>
        </div>
        <div class="col-sm-5">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>Hours</td>
                        <td class="right" id="sample1-result-amount">0</td>
                    </tr>
                    <tr>
                        <td>Salary / hour</td>
                        <td class="right" id="sample1-result-price">0</td>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <td class="right" id="sample1-result-totalsalary">0</td>
                    </tr>
                    <tr>
                        <td>Side costs</td>
                        <td class="right" id="sample1-result-sidecosts">0</td>
                    </tr>
                    <tr class="total">
                        <th>Total payment</th>
                        <th class="right" id="sample1-result-totalpayment">0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span id="sample1-result" class="label label-default"></span>
        </div>
    </div>
</form>