<salaxy-form-group name="{{ $ctrl.id }}" label="{{ $ctrl.getLabel() }}" tooltip-html="{{ $ctrl.getDescr() }}" read-only="$ctrl.getReadOnly()" disabled="$ctrl.getDisable()" require="$ctrl.getRequire()">
  <table>
    <tr>
      <td class="td-avatar middle">
        <salaxy-avatar avatar="$ctrl.value"></salaxy-avatar>
      </td>
      <td class="td-name middle">
        <strong>{{$ctrl.value.displayName}}</strong><br />
        <span class="">{{ $ctrl.value.id | sxyIban }}</span>
      </td>
    </tr>
  </table>
</salaxy-form-group>