<salaxy-form-group name="{{ $ctrl.id }}" label="{{ $ctrl.getLabel() }}" tooltip-html="{{ $ctrl.getDescr() }}" read-only="$ctrl.getReadOnly()" disabled="$ctrl.getDisable()"
  require="$ctrl.getRequire()">
  <div>
    <button type="button" class="btn btn-default" ng-click="$ctrl.isInEdit[$ctrl.id] = !$ctrl.isInEdit[$ctrl.id]">{{ $ctrl.isInEdit[$ctrl.id] ? "Hide" : "Edit" }}</button>
  </div>
</salaxy-form-group>
<div ng-if="$ctrl.isInEdit[$ctrl.id]" class="row">
  <div class="col-md-offset-1 col-xs-11">
    <sxy-fieldset model="{{ $ctrl.model }}"></sxy-fieldset>
  </div>
</div>