<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" sxy-text="Laskelman raportit" ></h2>
</div>
<div class="modal-body ">
  <salaxy-calc-reports calcs="$ctrl.data.calcs" report-type="$ctrl.data.reportType"></salaxy-calc-reports>
</div>