<div class="modal-calc-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{$ctrl.logic.title}}</h2>
  </div>
  <div class="modal-body">
    <salaxy-calc model="$ctrl.current"></salaxy-calc>
  </div>
  <div class="modal-footer text-left">
    <button type="submit" class="btn btn-primary pull-right" ng-click="$close('ok')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.saveButtonText"></button>
    <button type="reset" class="btn btn-default pull-right" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button type="button" class="btn btn-danger" ng-click="$close('delete')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.deleteButtonText"></button>
  </div>
</div>