<div class="modal-calc-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{ $ctrl.logic.title }}</h2>
  </div>
  <div class="modal-body">

    <style type="text/css">
      .left.carousel-control {
        background-image: none;
      }
      
      .right.carousel-control {
        background-image: none;
      }
      
      .right.carousel-control>span.glyphicon.glyphicon-chevron-right {
        color: var(--salaxy-brand-primary)
      }
      
      .left.carousel-control>span.glyphicon.glyphicon-chevron-left {
        color: var(--salaxy-brand-primary)
      }
      
      .carousel-indicators .active {
        background-color: var(--salaxy-brand-primary);
      }
      
      .carousel-indicators li {
        border-color: var(--salaxy-brand-primary);
      }
    </style>
      
    <p class="lead" sxy-text="Tarkista alla olevat tiedot ja jatka maksuun" ng-if="$ctrl.logic.isReadyForPayment">
     </p>
    <div class="alert alert-danger" ng-if="!$ctrl.logic.isReadyForPayment">
      <p class="lead" sxy-html="SALAXY.NG1.PaymentDialogComponent.alert.html"></p>
    </div>
    <p class="lead" ng-if="$ctrl.logic.isReadyForPayment && $ctrl.logic.instructions">
      {{ $ctrl.logic.instructions }}
    </p>
    <div ng-if="$ctrl.logic.type == 'calc'">
      <salaxy-calc-worker-info model="$ctrl.current"></salaxy-calc-worker-info>
      <p >
        <strong sxy-text="SALAXY.NG1.CalcDetailsWorkComponent.workEndStartDate" ps=":"></strong> {{$ctrl.current.info.workStartDate | date : 'dd.MM.yyyy'}}{{ $ctrl.current.info.workStartDate ? ' - ': ''}} {{$ctrl.current.info.workEndDate
        | date: 'dd.MM.yyyy'}}, {{$ctrl.current.framework.numberOfDays > 0 ? $ctrl.current.framework.numberOfDays : '?' }} päivää.
      </p>
      <hr />
      <div class="table-responsive"> 
        <salaxy-calc-report apply-site-styles="true" calc="$ctrl.current" report-type="'paymentReport'" template-name="'paymentTablesV2'"></salaxy-calc-report>
      </div>
      <p sxy-html="SALAXY.NG1.PaymentDialogComponent.afterPayment.html" params="{totalPayment: ($ctrl.current.result.employerCalc.totalPayment | currency)}"></p>
      <p ng-if="$ctrl.current.result.employerCalc.householdDeduction > 0" sxy-html="SALAXY.NG1.PaymentDialogComponent.household.html" params="{householdDeduction: ($ctrl.current.result.employerCalc.householdDeduction | currency) }">
      </p>
    </div>
    <div ng-if="$ctrl.logic.type != 'calc'">
      <strong>Maksu yhteensä: {{$ctrl.current.info.totalPayment | currency}}</strong><br />
      <strong>Laskelmia: {{$ctrl.current.calcs.length}}</strong><br />
      <hr />
      <div uib-carousel active="activeReport">
        <div uib-slide ng-repeat="calc in $ctrl.current.calcs track by $index" index="$index">
          <strong>{{$index + 1}}/{{$ctrl.current.calcs.length}} {{calc.worker.avatar.sortableName}}</strong>
          <salaxy-calc-report calc="calc" apply-site-styles="true" report-type="'paymentReport'" template-name="'paymentTablesV2'"></salaxy-calc-report>
        </div>
      </div>
      <p sxy-html="SALAXY.NG1.PaymentDialogComponent.afterPayment.html" params="{totalPayment: ($ctrl.current.info.totalPayment | currency)}"></p>
    </div>
    <div ng-if="$ctrl.logic.channel == 'palkkausCfaPaytrail'">
      <p>
          Verkkopankkimaksamiseen liittyvän maksunvälityspalvelun toteuttaa Paytrail Oyj (2122839-7) yhteistyössä suomalaisten pankkien ja luottolaitosten kanssa.
          Käyttäjän kannalta palvelu toimii aivan kuten perinteinen verkkomaksaminenkin.
      </p>
      <p>
        HUOM: nettopalkan saapuminen työntekijän tilille saattaa kestää 3 pankkipäivää, riippuen vastaanottajan pankista. Huomioithan nämä ajat maksaessasi. Ajat johtuvat pankkien välisistä palveluista ja sopimuksista, eikä Palkkaus.fi pysty vaikuttamaan niihin.
     </p>
    </div>
  </div>
  <div class="modal-footer text-left">
    <button ng-if="$ctrl.logic.channel != 'palkkausCfaPaytrail'" type="submit" class="btn btn-primary pull-right" ng-disabled="!$ctrl.logic.isReadyForPayment" ng-click="$close('ok')">
      {{ $ctrl.logic.okButtonText}}
    </button>
    <button ng-if="$ctrl.logic.channel == 'palkkausCfaPaytrail'" type="submit" class="btn btn-primary pull-right" ng-disabled="!$ctrl.logic.isReadyForPayment" ng-click="$ctrl.logic.paymentFunc($ctrl.current);$close('ok')">
      {{ $ctrl.logic.okButtonText}}
    </button>
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
  </div>
</div>