<div class="modal-email-sharing">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Sähköposti työnantajalle</h2>
  </div>
  <div class="modal-body">
    <p>Voit lähettää linkin sisältävän sähköpostin työnantajallesi syöttämällä työnantajan sähköpostiosoitteen alla olevaan <b>Sähköposti</b> -kenttään.
      Voit lisätä myös oman osoitteesi <b>Sähköpostin kopio / CC</b> -kenttään, jolloin saat lähetetystä sähköpostista kopion. <b>Viesti työnantajalle</b> -kenttään
      voit lisätä esim. ne ehdot, jotka on työstä sovittu. Sähköposti lähtee työnantajalle, kun painat <b>Lähetä linkki sähköpostilla</b> -painiketta.
    </p>
     <form name="emailForm" class="form-horizontal">
      <salaxy-input label="Sähköposti" name="to" type="text" require="true" ng-model="$ctrl.current.to" sxy-email></salaxy-input>
      <salaxy-input  label="Sähköpostin kopio / CC" name="cc" type="text" ng-model="$ctrl.current.cc" sxy-email></salaxy-input>
      <salaxy-textarea label="Viesti työnantajalle" name="message" ng-model="$ctrl.current.message"></salaxy-textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
    <button type="submit" class="btn btn-primary" ng-disabled="!emailForm.$valid" ng-click="$close('ok')">Lähetä linkki sähköpostilla</button>
  </div>
</div>