<div ng-controller="InvoicesCreateController as $invCreate" ng-init="$invCreate.model=$ctrl.current">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{ $invCreate.title || "Ladataan: Maksun yleiskuva" }}</h2>
  </div>
  <div class="modal-body">

    <div ng-if="!$invCreate.isValid">
      <p>Laskelmassa on virheitä</p>
    </div>

    <div ng-if="$invCreate.paymentStatus == 'canceled'">
      <p class="lead">
        Palkanmaksu on peruttu. Laskelma ja siitä tehdyt tulorekisteri-ilmoitukset on peruttu.
      </p>
      <p>Jos palkka ja sen sivukulut on ehditty jo maksaa:</p>
      <ul>
        <li>työntekijä palauttaa nettopalkan työnantajalle</li>
        <li>työeläkeyhtiö palauttaa työeläkemaksut työnantajalle tai hyvittää seuraavassa laskussa</li>
        <li>työllisyysrahasto palauttaa työttömyysvakuutusmaksut työnantajalle tai hyvittää seuraavassa laskussa</li>
        <li>työnantajasuoritukset palautuvat työnantajan Omaveroon, jossa voi tehdä palautuspyynnön</li>
      </ul>
    </div>

    <div ng-if="$invCreate.primaryCalcNetInvoicePreview.invoice.status == 'paid'">
      <p class="lead">
        <button type="button" class="btn btn-primary pull-right" onclick="window.print()">Tulosta laskut</button>
        Palkka on nyt kuitattu maksetuksi.
      </p>
      <ul>
        <li>Tulorekisteri-ilmoitukset tehdään automaattisesti palkkapäivän perusteella.</li>
        <li>Muistithan maksaa nettopalkan työntekijälle verkkopankissasi sekä työnantajasuoritukset Verohallinnolle oheisilla laskuilla!</li>
        <li>
          Saat kotiin erikseen laskun työeläkemaksuista palkanmaksua seuraavassa kuussa sekä työttömyysvakuutusmaksuista palkanmaksua seuraavan vuosineljänneksen aikana.
        </li>
      </ul>
    </div>

    <div class="hidden-print" ng-if="$invCreate.primaryCalcNetInvoicePreview && $invCreate.primaryCalcNetInvoicePreview.invoice.status != 'paid'">
      <p class="lead">
        <button type="button" class="btn btn-primary pull-right" onclick="window.print()">Tulosta laskut</button>
        Maksa heti omassa verkkopankissasi nettopalkka työntekijälle ja työnantajasuoritukset verohallinnolle.
        Näitä varten alla maksutiedot, jotka voit kopioida verkkopankiisi.
      </p>
      <p>
        Kun olet tehnyt maksut, kuittaa ne maksetuiksi, jolloin teemme palkasta tulorekisteri-ilmoitukset.
        Työllisyysrahasto ja työeläkeyhtiö lähettävät erillisen laskun työttömyysvakuutusmaksusta ja TyEL-maksusta.
      </p>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Saaja</th>
            <th>Tilinumero</th>
            <th>Viite / viesti</th>
            <th class="right">Eräpäivä</th>
            <th class="right">Summa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="2" style="font-size: 2em;">1.</th>
            <th>{{ $invCreate.primaryCalcNetInvoicePreview.invoice.otherPartyInfo.avatar.displayName }}</th>
            <th>{{ $invCreate.primaryCalcNetInvoicePreview.invoice.otherPartyInfo.ibanNumber }}</th>
            <th>Palkkaa</th>
            <th class="right">{{ $invCreate.primaryCalcNetInvoicePreview.invoice.data.dueDate | sxyDate }}</th>
            <th class="right">{{ $invCreate.primaryCalcNetInvoicePreview.invoice.payment | currency }}</th>
          </tr>
          <tr class="no-border">
            <td colspan="5">
              <salaxy-credit-transfer invoice-preview="$invCreate.primaryCalcNetInvoicePreview" mode="barcode-copy">
            </td>
          </tr>
          <tr>
            <th rowspan="2" style="font-size: 2em;">2.</th>
            <th>{{ $invCreate.primaryCalcTaxInvoicePreview.invoice.otherPartyInfo.avatar.displayName }}</th>
            <th>{{ $invCreate.primaryCalcTaxInvoicePreview.invoice.otherPartyInfo.ibanNumber }}</th>
            <th sxy-if-role="test">{{ $invCreate.primaryCalcTaxInvoicePreview.invoice.reference || "RF02 TEST 1234" }}</th>
            <th sxy-if-role="!test">{{ $invCreate.primaryCalcTaxInvoicePreview.invoice.reference || "Tarkista viite Omaverosta!" }}</th>
            <th class="right">{{ $invCreate.primaryCalcTaxInvoicePreview.invoice.data.dueDate | sxyDate }}</th>
            <th class="right">{{ $invCreate.primaryCalcTaxInvoicePreview.invoice.payment | currency }}</th>
          </tr>
          <tr class="no-border">
            <td colspan="5">
              <salaxy-credit-transfer invoice-preview="$invCreate.primaryCalcTaxInvoicePreview" mode="barcode-copy">
            </td>
          </tr>
          <tr>
            <th style="font-size: 2em;">3.</th>
            <td colspan="4">
              <strong>Työllisyysrahasto ja työeläkeyhtiö</strong>
              lähettävät erillisen laskun työttömyysvakuutusmaksusta ja TyEL-maksusta.
              Mahdolliset laskelmalla olevat ay-jäsenmaksut tai ulosmittaukset pitää myös maksaa itse
              oikeille tahoille näiltä saamiesi maksuohjeiden mukaan.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="visible-print">
      <h1>Maksa laskut verkkopankissasi</h1>
      <div ng-if="$invCreate.primaryCalcNetInvoicePreview">
        <p class="lead" ng-if="$invCreate.primaryCalcNetInvoicePreview.invoice.status != 'paid'">
          Maksa alla olevat 2 laskua verkkopankissasi.
          Kun olet tehnyt maksut, kuittaa ne maksetuiksi, jolloin teemme palkasta tulorekisteri-ilmoitukset.
          Työllisyysrahasto ja työeläkeyhtiö lähettävät erillisen laskun työttömyysvakuutusmaksusta ja TyEL-maksusta.
        </p>
        <salaxy-credit-transfer invoice-preview="$invCreate.primaryCalcNetInvoicePreview" mode="official">
          <message>
            <p>1. Palkka</p>
            <p style="text-transform: none;">
              Työntekijän nettopalkka maksetaan suoraan työntekijälle.<br />
              Kirjoita viestiksi "Palkka" tai maksetun palkan tarkempi kuvaus.
            </p>
          </message>
        </salaxy-credit-transfer>
      </div>
      <div ng-if="$invCreate.primaryCalcTaxInvoicePreview">
        <salaxy-credit-transfer invoice-preview="$invCreate.primaryCalcTaxInvoicePreview" mode="official">
          <message>
            <p>2. Ennakonpidätys</p>
            <p style="text-transform: none;">Työnantajasuoritukset verottajalle (ennakonpidätys ja sava).<br />Käytä viitenumeroa!</p>
          </message>
        </salaxy-credit-transfer>
      </div>
      <h2>3. Muut sivukulut laskutetaan</h2>
      <p>
        Työllisyysrahasto ja työeläkeyhtiö lähettävät erillisen laskun työttömyysvakuutusmaksusta ja TyEL-maksusta.
      </p>
      <p>
        Mahdolliset laskelmalla olevat ay-jäsenmaksut tai ulosmittaukset pitää myös maksaa itse oikeille tahoille näiltä saamiesi maksuohjeiden mukaan.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-default pull-left" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button ng-if="$invCreate.primaryCalcNetInvoicePreview && $invCreate.primaryCalcNetInvoicePreview.exists == false" type="button" class="btn btn-danger"
      ng-click="$close('cancel')">
      Ei maksettu, älä ilmoita tulorekisteriin
    </button>
    <button
      ng-if="$invCreate.primaryCalcNetInvoicePreview &&  $invCreate.primaryCalcNetInvoicePreview.exists == true && ( $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'unread' || $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'read' ||  $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'waitingConfirmation' )"
      type="button" class="btn btn-danger" ng-click="$close('canceled')">
      Ei maksettu, älä ilmoita tulorekisteriin
    </button>
    <button ng-if="$invCreate.primaryCalcNetInvoicePreview && $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'paid'" type="button" class="btn btn-danger"
      ng-click="$close('canceled')">
      Peru maksu ja tulorekisteri-ilmoitus
    </button>
    <button
      ng-if="$invCreate.primaryCalcNetInvoicePreview && ( $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'unread' || $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'read' ||  $invCreate.primaryCalcNetInvoicePreview.invoice.status == 'waitingConfirmation' )"
      type="button" class="btn btn-success" ng-click="$close('paid')">
      Maksettu, ilmoita tulorekisteriin
    </button>
  </div>
</div>