<div class="modal-calc-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{ $ctrl.$invCreate.title || "Ladataan: Maksun yleiskuva" }}</h2>
  </div>
  <div class="modal-body">
    <salaxy-invoices-create model="$ctrl.current" ng-ref="$ctrl.$invCreate"></salaxy-invoices-create>
  </div>
  <div class="modal-footer text-left">
    <button type="submit" class="btn btn-primary pull-right" ng-if="$ctrl.$invCreate.getOkBtn()" ng-click="$ctrl.$invCreate.createInvoices($close)">
      {{ $ctrl.$invCreate.getOkBtn() }}
     
    </button>

    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <div ng-if="$ctrl.logic.channel == 'palkkausPersonal'">
      <div>
        <b>Debug</b><br>
        <salaxy-json-formatter json="$ctrl.$invCreate.invoices" open="1"></salaxy-json-formatter>
      </div>
      <div>
      </div>
    </div>