<div class="salaxy-component salaxy-calc-details-dialog">
  <div class="panel panel-list" ng-class="'panel-' + ($ctrl.logic.rowTypeSelectHelp || 'primary')">
    <div class="panel-heading">
      <button type="button" class="close pull-right" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>{{ "SALAXY.NG1.CalcDetailsDialogComponent." + ($ctrl.logic.rowTypeSelectHelp || "all") + ".title" | sxyTranslate }}</h1>
    </div>
    <div class="panel-body" ng-if="$ctrl.logic.rowTypeSelectHelp">
      <p>{{ "SALAXY.NG1.CalcDetailsDialogComponent." + ($ctrl.logic.rowTypeSelectHelp || "all") + ".intro" | sxyTranslate }}</p>
    </div>
    <salaxy-calc-row-type name="rowType" type="list" model="$ctrl.current"
      categories="$ctrl.logic.categories"
      row-types="$ctrl.logic.rowTypes"
      on-row-changed="$close('ok')" label-type="plain"></salaxy-calc-row-type>
  </div>
</div>