<div class="modal-worker-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{$ctrl.logic.title}}</h2>
  </div>
  <div class="modal-body">
    <div class="table-responsive" style="max-height: calc(100vh - 300px)">
      <salaxy-worker-list mode="select" selected-items="$ctrl.current"></salaxy-worker-list>
    </div>
    <div class="text-right">
      <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
      <button type="submit" class="btn btn-primary" ng-click="$close('ok')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.saveButtonText"></button>
    </div>
  </div>
</div>