<div class="salaxy-component salaxy-odata-footer">
    <salaxy-spinner></salaxy-spinner>
    <div ng-if="$ctrl.getNoItemsMessage()" class="salaxy-odata-no-data">
        <div ng-class="$ctrl.getNoItemsCssClass()">{{ $ctrl.getNoItemsMessage() }}</div>
    </div>
    <div ng-if="$ctrl.getPagingView() == 'nextPageLink'">
        Näytetään {{ $ctrl.$odata.count ? ($ctrl.$odata.items.length + "/" + $ctrl.$odata.count) : $ctrl.$odata.items.length }} riviä.
        <a href="" ng-click="$ctrl.$odata.loadNextPage(true)">Lataa lisää...</a>
    </div>
    <div ng-if="$ctrl.getPagingView() == 'clientLimit'">
        Näytetään {{ $ctrl.$odata.count ? ($ctrl.$odata.items.length + "/" + $ctrl.$odata.count) : $ctrl.$odata.items.length }} riviä.
        <a href="" ng-click="$ctrl.$odata.options.$top = null; $ctrl.$odata.reload()">Lataa lisää...</a>
    </div>
    <div ng-if="$ctrl.getPagingView() == 'url'">
        Näytetään {{ $ctrl.$odata.count ? ($ctrl.$odata.items.length + "/" + $ctrl.$odata.count) : $ctrl.$odata.items.length }} riviä.
        <a ng-href="{{$ctrl.nextPageUrl}}">Näytä kaikki...</a>
    </div>
    <div ng-if="$ctrl.getPagingView() == 'server'">
        Näytetään rivit {{ ($ctrl.$odata.options.$skip || 0) + 1 }} - {{ ($ctrl.$odata.options.$skip || 0) + $ctrl.$odata.items.length }}
        <span ng-if="$ctrl.count"> yhteensä {{ $ctrl.$odata.count }} riviä.</span>
        <a href="" ng-click="$ctrl.loadNextPage(false)">Seuraava sivu...</a>
    </div>
</div>