<div class="salaxy-component salaxy-odata-actions">
  <!--
    Tämä koko homma komponenttiin

    - Aseta ODataController, jota tämä muokkaa
      - Hakee sieltä ApiLuokan jne.
      - Pystyy tekemään OData filtteröinnit
    - Import-määrittely varmaan erilliseen apuluokkaan
  -->
  <div>
    <!--li role="menuitem"><a href="#">Lisää uusi...</a></li-->
    <!--li class="divider"></li-->
    <!-- 
      Dialogi, jossa:
      - Hakusana
      - Field-kohtaiset filtterit: Tässä kohtaa tärkeimmät ja yleiset kaikille objekteille. Voidaan katsoa business attributes myöhemmin.
    -->
    <!--li role="menuitem"><a href="#">Tarkennettu haku</a></li-->
    <!-- voisi ehkä käyttää Sub-menua: https://stackoverflow.com/questions/18023493/bootstrap-dropdown-sub-menu-missing -->
    <!--li role="menuitem"><a href="#">Järjestä...</a></li-->
    <!--li class="divider"></li-->

    <div ng-if="$ctrl.showExport" class="btn-group pull-right" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
         <li role="menuitem" ng-repeat="mapper in $ctrl.listItemMappers">
          <a href="" ng-click="$ctrl.export(mapper,'excelCopy')">{{mapper.description}} Exceliin</a>
        </li>
        <li role="menuitem">
          <a href="" ng-controller="ODataActionsController as $export" ng-init="$export.$odata = $ctrl.$odata" ng-click="$export.showExport()">Tietojen vienti</a>
        </li>
        <li role="menuitem" ng-if="$ctrl.showImport">
          <a href="" ng-controller="ODataActionsController as $import" ng-init="$import.$odata = $ctrl.$odata" ng-click="$import.showImport()">Tietojen tuonti</a>
        </li>
      </ul>
    </div>

    <div style="width: calc(100% - 40px);"><!-- Tämä tyylittely LESS:iin -->
      <span class="salaxy-form-group-plain">
        <input type="text" ng-model="$ctrl.$odata.options.$search"  ng-change="$ctrl.$odata.searchChanged()" class="form-control" autocomplete="off"
          id="searchx111" name="searchx111" placeholder="Tekstihaku"
          ng-model-options="{allowInvalid: true, debounce: 250, updateOn: 'default' }" maxlength="1024">
      </span>
    </div>
  </div>
</div>