<div class="salaxy-component salaxy-year-end-feedback-household">
  <div class="table-responsive">
    <p class="lead">
      Palkkaus.fi tekee puolestasi kotitalousvähennysilmoitukset palvelussa maksetuista palkoista, kun laskelmalla on kotitalousvähennysmerkintä. Tarkista valinnat ja täydennä tarvittavat tiedot.
    </p>
    <div ng-if="!$ctrl.hasBeenSent">
      <p>
        Alla on listattu vuoden {{ $ctrl.current.year || "LADATAAN..." }} aikana Palkkaus.fi:n kautta maksamasi palkat.
      </p>
      <ol>
        <li>Tarkista palkat</li>
        <li>Lisää tai poista kotitalousvähennys</li>
        <li>Hyväksy tarkistamasi tiedot</li>
      </ol>
      <p>
        <big>Kotitalousvähennys:</big> laita rasti ruutuun niiden palkkalaskelmien kohdalle, joista haluat kotitalousvähennyksen ja valitse "Työtyyppi" alasvetovalikosta.
      </p>
    </div>
    <div ng-if="$ctrl.hasBeenSent">
      <button type="button" class="btn btn-default pull-right" sxy-if-role="test" ng-click="$ctrl.resetUserStatus()">Lähetä uudelleen (TEST only)</button>
      <h3>Tiedot on jo lähetetty</h3>
      <p>
        Olet lähettänyt alla olevat tiedot {{$ctrl.current.userFeedbackTime | date : 'dd.MM.yyyy HH:mm'}}
        kommentilla
        <span ng-switch="$ctrl.current.userStatus">
          <strong ng-switch-when="ok">Kyllä, tiedot tarkistettu / korjattu</strong>
          <strong ng-switch-when="okWithModifications">Tiedoissa on puutteita / virheitä</strong>
          <strong ng-switch-when="willHandleMyself">Teen kaikki ilmoitukset itse</strong>
          <strong ng-switch-default class="text-danger">ERROR</strong>
        </span>
      </p>
      <div ng-show="$ctrl.current.userFeedbackText" style="width: 100%; overflow: auto">
        <b>Lisäviesti:</b>
        <pre>{{ $ctrl.current.userFeedbackText }}</pre>
      </div>
      <p>
        Jos haluat avata tarkistuksen, ole yhteydessä Palkkaus.fi:n asiakaspalveluun <a href="mailto:aspa@palkkaus.fi">aspa@palkkaus.fi</a>.</p>
      </p>
    </div>
    <hr />
  </div>
  <form name="feedbackForm" novalidate ng-if="$ctrl.current">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th colspan="6">
              <h3>Työntekijöiden palkkalaskelmat</h3>
            </th>
          </tr>
          <tr>
            <th colspan="2">Työntekijä</th>
            <th class="right">Bruttopalkka</th>
            <th class="right">Työnantaja&shy;kulut</th>
            <th colspan="3">Kotitalousvähennys <br>(laita rasti ruutuun)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="workerSummary in $ctrl.current.workerSummaries">
            <td style="font-size: 64px; line-height: 1">
              <salaxy-avatar avatar="workerSummary.worker.avatar"></salaxy-avatar>
            </td>
            <td>
              {{ workerSummary.worker.avatar.sortableName }}<br />
              <a href="{{ workerSummary.worker.contact.email }}"> {{ workerSummary.worker.contact.email }}</a><br /> {{ workerSummary.worker.avatar.id }}<br />
            </td>
            <td class="right">
              {{ workerSummary.summary.salary | number : 2 }}€
            </td>
            <td class="right">
              {{ workerSummary.summary.sideCosts | number : 2 }}€
            </td>
            <td></td>
            <td></td>
            <td>
              Työntekijän raportit (esikatselu):
              <a ng-href="{{ $ctrl.getYearlyReport('yearlyWorkerSummary', $ctrl.current.year, workerSummary.worker.avatar.id) }}" target="_blank">
                                yhteenveto
              <a ng-href="{{ $ctrl.getYearlyReport('taxHouseholdDeduction14B', $ctrl.current.year, workerSummary.worker.avatar.id) }}" target="_blank">
                                ilmoitus KT-vähennyksestä
                            </a>.
            </td>
          </tr>
          <tr ng-repeat="calc in workerSummary.calculations">
            <td></td>
            <td class="valign-middle">
              <a ng-href="{{ $ctrl.getCalcReport('salarySlip', calc.calculationId) }}" target="_blank">Laskelma {{ calc.paidAt | date : 'dd.MM.' }} &raquo;</a>
            </td>
            <td class="right valign-middle">
              {{ calc.salary | number : 2 }}€
            </td>
            <td class="right valign-middle">
              {{ calc.sideCosts | number : 2 }}€
            </td>
            <td class="valign-middle" style="min-width: 40px;">
              <input type="checkbox" class="form-control" ng-disabled="$ctrl.hasBeenSent" ng-model="calc.selectedIsDeductible" />
            </td>
            <td class="right valign-middle tax-deduction-item" ng-class="{ 'text-disabled': !calc.selectedIsDeductible }">
              {{ (calc.sideCosts + calc.salary * 0.15) | number : 2 }}€
            </td>
            <td>
              <span ng-show="!calc.selectedIsDeductible">Ei kotitalousvähennystä</span>
              <select class="form-control" ng-show="calc.selectedIsDeductible" ng-disabled="$ctrl.hasBeenSent" ng-model="calc.taxDeductionCategories">
                <option value="none">Valitse työn tyyppi...</option>
                <option value="householdwork">Kotitaloustyö</option>
                <option value="carework">Hoiva- ja hoitotyö</option>
                <option value="homeImprovement">Asunnon/loma-asunnon kunnossapito- tai korjaustyö</option>
              </select>
            </td>
          </tr>
          <tr ng-repeat-end>
            <td colspan="7" style="border-top-color: rgb(145,210,20); line-height: 0; padding: 0;"></td>
          </tr>
          <tr>
            <th colspan="7">
              <h4>Tapaturmavakuutus kotitalousvähennykseen</h4>
            </th>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">
              <div ng-if="!$ctrl.current.household.insuranceAmountFromAccount">
                Tapaturmavakuutus kelpaa kotitalousvähennykseen. Lisää maksamasi vakuutuksen summa tähän.
              </div>
              <div ng-if="$ctrl.current.household.insuranceAmountFromAccount && !$ctrl.current.household.insuranceAmount">
                Sinulla on Palkkaus.fi-palvelun kautta ostettu vakuutus. Jaamme koko summan palkkojen suhteessa kotitalousvähennykseen. Voit halutessasi vaihtaa summaa, jos esim. osa vakuutusmaksusta kuuluu kotitalousvähennyksen ulkopuolelle.
              </div>
              <div ng-if="$ctrl.current.household.insuranceAmountFromAccount && $ctrl.current.household.insuranceAmount">
                Olet määrittänyt käsin kotitalousvähennykseen ilmoitettavan vakuutusmaksun {{ $ctrl.current.household.insuranceAmount | currency }}. Tiedoissamme oleva alkuperäinen summa oli: {{ $ctrl.current.household.insuranceAmountFromAccount | currency }}.
              </div>
            </td>
            <td class="right valign-middle">
              <span id="insuranceValue" class="tax-deduction-item">{{ $ctrl.getInsuranceSum() | number : 2 }}</span>€
            </td>
            <td>
              <input type="text" class="form-control" id="insuranceInput" ng-disabled="$ctrl.hasBeenSent" ng-model="$ctrl.current.household.insuranceAmount" />
            </td>
          </tr>
          <tr class="total">
            <th colspan="4">
              <h4>Kotitalousvähennys yhteensä</h4>
            </th>
            <th></th>
            <th class="right valign-middle">{{ $ctrl.getTaxDeductionTotal() | number : 2 }}€</th>
            <th class="valign-middle">
              <small style="font-weight: normal">...josta vähennetään omavastuu.</small>
              <small ng-if="getTaxDeductionTotal() &gt; 2250" style="font-weight: normal"><br/>
                                <strong>HUOM:</strong>
                                Kotitalousvähennyksen enimmäismäärä vuonna 2020 on 2250 euroa per henkilö.
                                <strong>Haluatko jakaa kotitalousvähennyksen puolisosi kanssa? </strong>
                                Kirjoita puolisosi tiedot alla olevaan tekstikenttään ja paina punaista nappulaa.
                            </small>
            </th>
          </tr>
        </tbody>
      </table>
      <p>
        Huomioi: kotitalousvähennyksesi ei näy kevään esitäytetyssä veroilmoituksessasi, koska verottaja käsittelee ilmoitukset niin hitaasti. Lopulliseen verotukseesi ne tulevat kuitenkin oikein.
      </p>
    </div>
    <div ng-show="$ctrl.canSplitWithSpouse()">
      <h3>Jaa kotitalousvähennys puolisosi kanssa</h3>
      <p>
        Kotitalousvähennystä voi saada 2250€ per henkilö (100 euron omavastuun jälkeen).
      </p>
      <p>
        Jos sinulla on puoliso, niin lisää tähän hänen tietonsa. Näin voimme lähettää 2350€ ylittävän osan kotitalousvähennyksestä hänen veroilmoitukseensa.
      </p>
      <div class="form-group">
        <label for="spouseName" class="control-label">Puolison nimi:</label>
        <input type="text" id="spouseName" name="spouseName" class="form-control" ng-disabled="$ctrl.hasBeenSent" placeholder="Koko nimi verottajalle" ng-model="$ctrl.current.household.spouseName">
      </div>
      <div class="form-group">
        <label for="spousePersonalId" class="control-label">Puolison henkilötunnus:</label>
        <input type="text" id="spousePersonalId" name="spousePersonalId" ng-disabled="$ctrl.hasBeenSent" class="form-control" placeholder="ddmmyy-123x" ng-model="$ctrl.current.household.spousePersonalId">
      </div>
    </div>
    <div ng-if="!$ctrl.hasBeenSent">
      <h3>Tietojen lähettäminen</h3>
      <p>
        Kun olet tarkistanut ja korjannut tietosi, klikkaa vihreää nappulaa. Jos tiedoissa on korjattavaa, jota et pysty korjaamaan yllä, klikkaa punaista nappulaa ja pääset erilliseen viestikenttään. Asiakaspalvelumme auttaa sinua. Valkoisella nappulalla kerrot,
        että hoidat kotitalousvähennysilmoitukset itse.
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <button class="btn btn-success btn-block" ng-disabled="feedbackForm.$invalid" ng-click="$ctrl.showConfirmDialog('ok')">Kyllä, tiedot tarkistettu / korjattu</button>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button class="btn btn-danger btn-block" ng-disabled="feedbackForm.$invalid" ng-click="$ctrl.showConfirmDialog('okWithModifications')">Tiedoissa on puutteita / virheitä</button>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button class="btn btn-default btn-block" ng-disabled="feedbackForm.$invalid" ng-click="$ctrl.showConfirmDialog('willHandleMyself')">Teen kaikki ilmoitukset itse</button>
        </div>
      </div>
    </div>
  </form>
</div>