<p sxy-text="SALAXY.MODEL.CalculationSettings.insuranceContracts.title" class="table-title"></p>
<table class="table">

  <thead>
    <tr>
      <th sxy-text="SALAXY.MODEL.InsuranceContract.company.title"></th>
      <th sxy-text="SALAXY.MODEL.InsuranceContract.contractNumber.title"></th>
      <th sxy-text="SALAXY.MODEL.InsuranceContract.status.title"></th>
      <th class="right" sxy-text="SALAXY.MODEL.InsuranceContract.startDate.title"></th>
      <th class="text-right">
        <button type="button" class="btn btn-primary btn-xs" ng-if="!$ctrl.getReadOnly()" ng-click="$ctrl.createNew()" sxy-text="SALAXY.UI_TERMS.addRow"></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in $ctrl.value">
      <td>{{'SALAXY.ENUM.InsuranceCompany.' + item.company + '.label' | sxyTranslate}}</td>
      <td>{{item.contractNumber}}</td>
      <td>{{'SALAXY.ENUM.SettingsStatus.' + item.status + '.label' | sxyTranslate}}</td>
      <td class="right">{{item.startDate | date}}
        <span class="" ng-if="item.endDate">
          <br><small>(päättyy {{item.endDate | date}})</small>
        </span>
      </td>

      <td class="text-right" ng-if="!$ctrl.getReadOnly()">
        <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.edit(item, $index)">
            <i class="fa fa-pencil" title="Edit row"></i>
          </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.delete(item, $index)">
            <i class="fa fa-trash-o" title="Delete row"></i>
          </button>
      </td>
      <td class="text-right" ng-if="$ctrl.getReadOnly()">
        <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.edit(item, $index)">
            <i class="fa fa-info" title="Show row"></i>
          </button>
      </td>
    </tr>
  </tbody>
</table>