<p>
  Please note that this example does not save changes to server:
  you would need to handle on-commit event for saving.
</p>
<sxydoc-assure-bo mode="employment" ng-ref="$demo">
  <main>
    <div ng-controller="WorkerAbsencesCrudController as $absencesCtrl" ng-init="$absencesCtrl.employmentId=$demo.currentEmployment.id">
      <salaxy-absence-periods parent="$absencesCtrl.current" condensed="true" on-commit="$ctrl.absencesChanged($absencesCtrl)" ng-if="$absencesCtrl.current"
        filter-start="$ctrl.currentCalc.info.workStartDate" filter-end="$ctrl.currentCalc.info.workEndDate"></salaxy-absence-periods>
    </div>
  </main>
</sxydoc-assure-bo>