<sxydoc-assure-bo mode="employment" ng-ref="$demo">
  <main>
    <div class="form-horizontal" style="max-width: 600px;">
      <salaxy-input-enum type="select" name="mode" label="Select component mode" ng-model="$demo.compMode" label options="[ 'all', 'list', 'active']"
        ng-init="$demo.compMode='all'"></salaxy-input-enum>
    </div>
    <salaxy-employment-taxcards mode="{{$demo.compMode}}" employment-id="$demo.currentEmployment.id"></salaxy-employment-taxcards>
  </main>
</sxydoc-assure-bo>