<p>
  Please note that this example does not save changes to server:
  you would need to handle on-commit event for saving.
</p>
<div>
  <sxydoc-assure-bo mode="employment" ng-ref="$demo">
    <main>
      <div ng-controller="HolidayYearCrudController as $workerHolidays" ng-init="$workerHolidays.employmentId = $demo.currentEmployment.id">
        <div ng-if="$workerHolidays.current != null">
          <salaxy-holiday-year-holidays parent="$workerHolidays.current"></salaxy-holiday-year-holidays>
        </div>
        <div ng-if="$workerHolidays.current == null" class="text-center text-warning">
          <h4>No holidays defined for this worker</h4>
        </div>
      </div>
    </main>
  </sxydoc-assure-bo>
</div>