<sxydoc-assure-bo mode="employment" ng-ref="$demo">
  <main>
    <div ng-controller="EmploymentTaxcardsController as $employmentTaxcards"
      ng-init="$employmentTaxcards.employmentId = $demo.currentEmployment.id">
      <p>Personal ID: {{ $demo.currentEmployment.otherPartyInfo.officialId }}</p>
      <salaxy-taxcard-details ng-ref="$taxcard"
        personal-id="$demo.currentEmployment.otherPartyInfo.officialId"
        model="$employmentTaxcards.current.active"></salaxy-taxcard-details>
    </div>
  </main>
</sxydoc-assure-bo>