<div>
  <sxydoc-assure-bo mode="employment" ng-ref="$demo">
    <main>
      <div ng-controller="EmploymentTaxcardsController as $employmentTaxcards"
        ng-init="$employmentTaxcards.employmentId = $demo.currentEmployment.id">
        <p>Personal ID: {{ $demo.currentEmployment.otherPartyInfo.officialId }}</p>
        <salaxy-taxcard-income-log parent="$employmentTaxcards.current.active"></salaxy-taxcard-income-log>
      </div>
    </main>
  </sxydoc-assure-bo>
</div>