<h1 class="page-header">Workers lists</h1>
<p class="lead">
  In technical documentation we consistently use the term <strong>Worker</strong> for employee as opposed to <strong>Employer</strong>. It was simply too confusing to talk about employer and employee. This page shows pages related to listing, showing
  and editing Workers.
</p>
<div salaxy-if-role="anon">
  <h2>Authentication required</h2>
  <div class="alert alert-danger">
    This page requires authentication. Please see
    <a href="/#security/index">Getting started section</a> for more information.
  </div>
</div>

<h2>Default list of workers</h2>
<p>
  The basic way of showing a list of workers is to add List of workers component (
  <sxydoc-component name="salaxy-worker-list"></sxydoc-component>) that renders a list with links to new calculation, list of calulation and edit details. You would also typically add a
  <sxydoc-component name="salaxy-action-button"></sxydoc-component>
  with <code>action="'newWorker'"</code>
</p>
<salaxy-action-button label="Uusi työntekijä" action="'newWorker'"></salaxy-action-button>
<salaxy-worker-list></salaxy-worker-list>
<p>Alternative view to Workers is the taxcards list. It shows the current situation of taxcards for all Workers.</p>
    