<sxydoc-assure-bo mode="employment" ng-ref="$demo">
  <main>
    <p>
      <strong>Please note</strong>
      that for legacy reasons, this component still uses the Worker ID, not employer ID.
    </p>
    <salaxy-worker-details-edit model="$demo.currentEmployment.otherId"></salaxy-worker-details-edit>
  </main>
</sxydoc-assure-bo>