<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" sxy-text="SALAXY.NG1.AuthoringAccountComponent.authorize"></h2>
</div>
<div class="modal-body" id="modal-body">
  <form name="authorizedAccountAddDialogForm">
    <div class="form-horizontal">
      <legend sxy-text="SALAXY.NG1.AuthoringAccountComponent.authorizeTitle"></legend>
      <p sxy-text="SALAXY.NG1.AuthoringAccountComponent.authorizeDescription"></p>
      <salaxy-input name="accountId" label="SALAXY.NG1.AuthoringAccountComponent.palkkausAccount" ng-model="$ctrl.current.id" require="true"></salaxy-input>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button type="button" class="btn btn-primary" ng-disabled="!authorizedAccountAddDialogForm.$valid" ng-click="$ctrl.saveCurrent($close)"
    sxy-text="SALAXY.NG1.AuthoringAccountComponent.authorize"></button>
</div>