<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyProductDialogLabel">{{ $ctrl.currentPartnerSite.title }}</h2>
  <h4 class="subtitle">{{ $ctrl.currentPartnerSite.status }}</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="salaxy-product-info-headers">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <i class="salaxy-avatar" style="font-size: 140px;">
            <img ng-src="{{$ctrl.currentPartnerSite.img}}" />
          </i>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="salaxy-product-description">
            <p>{{ 'SALAXY.NG1.AuthInfoHeadersComponent.' + $ctrl.currentPartnerSite.id + '.description' | sxyTranslate }}</p>
            <a class="btn btn-primary" target="_blank" href="{{'SALAXY.NG1.AuthInfoHeadersComponent.' + $ctrl.currentPartnerSite.id + '.link' | sxyTranslate}}">
              {{ 'SALAXY.NG1.AuthInfoHeadersComponent.' + $ctrl.currentPartnerSite.id + '.cta' | sxyTranslate }} »</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div sxy-if-role="auth">
      <div ng-if="$ctrl.currentPartnerSite.id == 'holvi'" sxy-html="SALAXY.NG1.AuthorizationDialogsComponent.holvi.html"></div>
      <div ng-if="$ctrl.currentPartnerSite.id == 'isolta'" sxy-html="SALAXY.NG1.AuthorizationDialogsComponent.isolta.html"></div>
      <div ng-if="$ctrl.currentPartnerSite.id == 'accountor'" sxy-html="SALAXY.NG1.AuthorizationDialogsComponent.accountor.html"></div>
      <div ng-if="$ctrl.currentPartnerSite.id == 'finago'" sxy-html="SALAXY.NG1.AuthorizationDialogsComponent.finago.html"></div>
      <div ng-if="$ctrl.currentPartnerSite.id == 'briox'" sxy-html="SALAXY.NG1.AuthorizationDialogsComponent.briox.html"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 spacer-bottom">
        <div class="pull-right">
          <salaxy-auth-switch salaxy-if-role="auth" name="{{$ctrl.currentPartnerSite.id}}" id="{{$ctrl.currentPartnerSite.id}}" on-text="on" off-text="off"></salaxy-auth-switch>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-left">
  <button type="button" class="btn btn-default" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
</div>