<div class="modal-header">
  <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" sxy-text="SALAXY.NG1.CertificateAddComponent.title"></h2>
</div>
<div class="modal-body" id="modal-body">
  <div sxy-html="SALAXY.NG1.CertificateAddComponent.html"></div>
  <form name="certificateAddDialogForm">
    <div ng-if="!$ctrl.current.thumbprint" class="form-horizontal">
      <div class="col-xs-12">
        <salaxy-input name="title" label="SALAXY.NG1.CertificatesComponent.name" ng-model="$ctrl.current.title" require="true"></salaxy-input>
        <div class="form-group">
          <label for="salasana" class="col-sm-4 control-label" style="text-align:left">
            <span sxy-text="SALAXY.NG1.CertificateAddComponent.password" ps="*"></span>
          </label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="password" name="password" placeholder="{{'SALAXY.NG1.CertificateAddComponent.password' | sxyTranslate}}"
              ng-model="$ctrl.current.password" ng-required="true" autocomplete="off" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div ng-if="$ctrl.current.thumbprint">
    <strong sxy-text="SALAXY.NG1.CertificateAddComponent.createdSertificate"></strong><br />
    <a download="{{$ctrl.current.thumbprint}}.pfx" ng-href="data:application/x-pkcs12;base64,{{$ctrl.current.bytes}}"
      sxy-text="SALAXY.NG1.CertificateAddComponent.downloadBase64"></a><br />
    <b sxy-text="SALAXY.NG1.CertificateAddComponent.base64"></b><br />
    <textarea readonly rows="15" id="certificate-bytes" style="width:100%;">{{$ctrl.current.bytes}}</textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button ng-if="$ctrl.current.thumbprint" type="button" class="btn btn-info" onclick='document.getElementById("certificate-bytes").select(); document.execCommand("copy");'
    sxy-text="SALAXY.NG1.CertificateAddComponent.copyBase64"></button>
  <button ng-if="!$ctrl.current.thumbprint" type="button" class="btn btn-primary" ng-disabled="!certificateAddDialogForm.$valid" ng-click="$ctrl.saveCurrent()"
    sxy-text="SALAXY.NG1.CertificateAddComponent.createSertificate"></button>
</div>