<div class="modal-worker-list">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">{{$ctrl.logic.title}}</h2>
  </div>
  <div class="modal-body">
    <div class="table-responsive" style="max-height: calc(100vh - 300px)">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nimi</th>
            <th>Verkkolaskuosoite</th>
            <th>Välittäjä</th>
            <th class="right">
              <form name="searchForm">
                <salaxy-form-group name="search" label-type="plain">
                  <div class="input-group">
                    <input class="form-control" type="text" autocomplete="off" id="searchAddress" name="searchAddress" ng-model="$ctrl.logic.officialId" sxy-company-id-fi>
                    <span class="input-group-btn">
                      <button type="submit" ng-disabled="!searchForm.$valid" class="btn btn-default" ng-click="$ctrl.logic.search()"><span ng-show="$ctrl.logic.isLoading"><i
                            class="fa fa-refresh fa-spin fa-fw"></i></span><span ng-show="!$ctrl.logic.isLoading"><i class="fa fa-search"></i></span></button>
                    </span>
                  </div>
              </form>
              </salaxy-form-group>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in $ctrl.logic.addresses">
            <td>
              <span>{{row.receiverName}}</span><br>
              <small>{{row.receiverOfficialId}}</small>
            </td>
            <td>
              <span>{{row.receiver}}</span><br>
            </td>
            <td>
              <span>{{row.intermediatorName}}</span><br>
              <small>{{row.intermediator}}</small>
            </td>
            <td class="right middle">
              <button class="btn btn-sm" type="button" ng-class="$ctrl.logic.isSelected($ctrl.current, row) ? 'btn-success' : 'btn-default'"
                ng-click="$ctrl.logic.setCurrent($ctrl.current, row)">
                {{ $ctrl.logic.isSelected($ctrl.current, row) ? ('Valittu' | sxyTranslate) : ('SALAXY.NG1.CalcListComponent.select' | sxyTranslate) }}
              </button>
            </td>
          </tr>
          <tr ng-if="$ctrl.logic.addresses.length == 0">
            <td colspan="4">Haku ei löytänyt yhtään osoitetta</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button type="reset" class="btn btn-default" ng-click="$close('cancel')" sxy-text="SALAXY.NG1.AbsencePeriodsEditDialog.cancelButtonText"></button>
    <button type="button" class="btn btn-danger" ng-click="$close('reset')" sxy-text="Älä käytä mitään osoitetta"></button>
    <button type="button" ng-disabled="!$ctrl.logic.isAnySelected($ctrl.current)" class="btn btn-primary" ng-click="$close('ok')" sxy-text="Käytä valittua osoitetta"></button>
  </div>
</div>