<div class="localtapiola-modal-wrapper">
  <!-- Import LocalTapiola fonts -->
  <link rel="stylesheet" href="https://cdn.duetds.com/api/fonts/1.3.14/lib/localtapiola.css" integrity="sha384-5JYmtSD7nykpUvSmTW1CHMoBDkBZUpUmG0vuh+NUVtZag3F75Kr7+/JU3J7JV6Wq"
    crossorigin="anonymous" />
  <div class="localtapiola-modal">
    <div class="modal-header">
      <div class="logo-wrapper">
        <img src="https://cdn.salaxy.com/ng1/localtapiola-modal/localtapiola-white-logo.png" class="img-responsive logo-img" alt="LähiTapiola" />
      </div>
      <button class="close text-right" ng-click="$close()" aria-label="Close">Sulje <span>&times;</span></button>
    </div>
    <div class="modal-body salaxy-wizard">
      <ng-include src="$ctrl.currentStep.view || 'salaxy-components/modals/localTapiola/Start.html'"></ng-include>
    </div>
    <div class="modal-footer" ng-if="$ctrl.currentStep.buttonsView">
      <div class="footer-content">
        <ng-include src="$ctrl.currentStep.buttonsView || 'salaxy-components/modals/localTapiola/buttons-default.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
<style>
  .uib-datepicker-popup .text-info {
    color: #333;
    font-weight: bold;
  }

  .uib-datepicker-popup .uib-day .btn.active {
    background-color: #0077b3;
    box-shadow: none;
    color: #fff;
  }

  .uib-datepicker-popup .uib-day .btn.active .text-info {
    color: #fff;
  }

  .uib-datepicker-popup .uib-button-bar .btn-info,
  .uib-datepicker-popup .uib-button-bar .btn-info:hover,
  .uib-datepicker-popup .uib-button-bar .btn-info:focus {
    color: #009fd8;
    border-color: transparent;
    border-radius: 0;
    font-weight: 600;
    background-color: transparent;
    font-family: "localtapiola-sans";
    font-size: 14px;
    outline: none;
  }

  .uib-datepicker-popup .uib-button-bar .btn-danger,
  .uib-datepicker-popup .uib-button-bar .btn-danger:hover,
  .uib-datepicker-popup .uib-button-bar .btn-danger:focus {
    color: #009fd8;
    border-color: transparent;
    border-radius: 0;
    font-weight: 600;
    background-color: transparent;
    font-family: "localtapiola-sans";
    font-size: 14px;
    outline: none;
  }

  .uib-datepicker-popup .uib-button-bar .btn-success,
  .uib-datepicker-popup .uib-button-bar .btn-success:hover,
  .uib-datepicker-popup .uib-button-bar .btn-success:focus {
    color: #009fd8;
    border-color: transparent;
    background-color: transparent;
    font-family: "localtapiola-sans";
    font-size: 14px;
    outline: none;
    font-weight: 600;
  }
</style>