<div>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
  <div class="varma-modal">
    <div class="modal-header">
      <button class="close" ng-click="$close()" aria-label="Close">
        Sulje <span>&times;</span>
      </button>
      <img src="https://cdn.salaxy.com/ng1/varma-modal/varma-modal-logo.png" class="img-responsive modal-logo" alt="Varma" />
    </div>
    <div class="banner">
      <img src="https://cdn.salaxy.com/ng1/varma-modal/varma_banner.png" class="img-responsive" />
    </div>
    <div class="modal-body salaxy-wizard">
      <div class="container-fluid">
        <div>
          <ng-include src="$ctrl.currentStep.view || 'salaxy-components/modals/varma/Start.html'"></ng-include>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="footer-content">
        <ng-include src="$ctrl.currentStep.buttonsView || 'salaxy-components/modals/varma/buttons-start.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
<style>
  .uib-datepicker-popup .btn {
    border-radius: 0;
  }

  .uib-datepicker-popup .text-info {
    color: #1f4899;
    font-weight: bold;
  }

  .uib-datepicker-popup .uib-day .btn.active {
    background-color: #f5578a;
    box-shadow: none;
    color: #fff;
  }

  .uib-datepicker-popup .uib-day .btn.active .text-info {
    color: #fff;
  }

  .uib-datepicker-popup .btn-info {
    background-color: #1f4899;
    border-color: #1f4899;
  }

  .uib-datepicker-popup .btn-danger {
    background-color: #8cd5f2;
    border-color: #8cd5f2;
  }

  .uib-datepicker-popup .btn-success {
    background-color: #f5578a;
    border-color: #f5578a;
  }
</style>