<div class="modal-header">
  <button type="button" class="close" ng-click="$close('cancel')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h2 class="modal-title" id="salaxyProductDialogLabel">{{ $ctrl.current.name }}</h2>
  <h4 class="subtitle">{{ $ctrl.current.description }}</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="salaxy-component salaxy-product-info-headers">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <i class="salaxy-avatar" style="font-size: 140px;">
            <img ng-src="{{ $ctrl.current.branding.logo }}" />
          </i>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="salaxy-product-description">
            <p>
              {{ $ctrl.current.branding.text }}
            </p>
            <a ng-if="$ctrl.current.branding.url" class="btn btn-primary" target="_blank" ng-href="{{$ctrl.current.branding.url}}" ps="">Lisätietoja »</a>
          </div>
        </div>
      </div>
      <div class="row" ng-if="!$ctrl.current.isAuthorized">
        <div class="col-xs-12 input-info">
          <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
          <p class="small input-info-text with-icon">
            <strong>HUOM: </strong>Merkitsemällä tilitoimiston palvelutarjoajaksesi annat tilitoimistolle käyttöoikeuden Palkkaus.fi-tilin tietoihisi.
            Huomaathan, että tämä tarkoittaa että silloin tilitoimistolla on pääsy kaikkiin tietoihin,
            kuten työntekijöiden tietoihin ja palkkalaskelmiin.
          </p>
        </div>
      </div>
      <div class="row" ng-if="!$ctrl.current.isAuthorized">
        <div class="col-xs-12 input-info">
          <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
          <p class="small input-info-text with-icon">
            Käyttöoikeuden myöntämisen jälkeen palvelutarjoajasi aktivoi palveluasiakkuuden, minkä jälkeen voit alkaa käyttämään palvelua.
            Palvelutarjoajasta riippuen aktivointi voi kestää muutaman päivän.
          </p>
        </div>
      </div>

      <div class="row" ng-if="$ctrl.current.isAuthorized">
        <div class="col-xs-12 input-info">
          <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
          <p class="small input-info-text with-icon">
            <strong>HUOM: </strong>Olet merkinnyt tämän tilitoimiston palvelutarjoajaksesi ja antanut tilitoimistolle käyttöoikeuden Palkkaus.fi-tilin tietoihisi.
            Huomaathan, että tämä tarkoittaa että silloin tilitoimistolla on pääsy kaikkiin tietoihin,
            kuten työntekijöiden tietoihin ja palkkalaskelmiin.
          </p>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.current.isAuthorized">
        <div class="col-xs-12 input-info">
          <div class="input-info-icon"><i class="fa fa-info-circle text-default"></i></div>
          <p class="small input-info-text with-icon">
            Käyttöoikeuden myöntämisen jälkeen palvelutarjoajasi aktivoi palveluasiakkuuden, minkä jälkeen voit alkaa käyttämään palvelua.
            Palvelutarjoajasta riippuen aktivointi voi kestää muutaman päivän.
            Voit poistaa myöntämäsi käyttöoikeuden palvelutarjoajaltasi milloin vain.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-right">
  <button type="button" class="btn btn-danger" ng-click="$close()" sxy-text="SALAXY.UI_TERMS.close"></button>
  <button ng-if="!$ctrl.current.isAuthorized" type="button" class="btn btn-primary" ng-click="$close('ok')">Aseta palvelutarjoajaksi</button>
  <button ng-if="$ctrl.current.isAuthorized" type="button" class="btn btn-danger" ng-click="$close('ok')">Poista palvelutarjoajan käyttöoikeus</button>
</div>