<div id="salaxyDialog" class="salaxy-component salaxy-dialog modal-dialog visma-modal {{size ? 'modal-' + size : ''}}" aria-labelledby="salaxyDialogLabel" role="dialog">
  <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
  <div class="modal-content" role="document" uib-modal-transclude></div>
</div>